/*

                                                                                                                                                     
                                                                                                                                                      
                                                                           ::::r77777rvjujUJuv7r77777.:,.                                             
                                                                 .,77F00OMNS1PZZGOOMMBMBMBMBMBMBMMMMZG0NSS1JL7::                                      
                                                            :vS8OMMNPuvi:. .1B@B@B@@@B@B@@@B@B@B@B@B@B@B@BBMMEEXkuJr:                                 
                           .,iii:,                    .ivNMMOqUvi:..      :GB@MBMBMMMBMBMMMMMMMBMMMBMBM@B@B@B@@@BBGEkFuv:                             
                         .:ii,..:ii               ,75OMONYr:,    ......  7@B@MMMMOMMMMMMMMMMMMMMMMMMMMMMMMMMBMBB@B@B@@Oqk2jr.                         
                       .:i:.     ::i          .:v0M827:.   ....,.,.,.. .u@B@MMMMMMMMMMMMMMMMOMMMMMMMMBMBMBM@B@B@@@B@@@B@@@G0k1:                       
                      :i:.        :::       iJFq82:.  ....,.,.,.,.,.. .1@BBMBMMMMMMOMMMMMMMMMMMMBB@B@B@B@B@B@@@B@B@B@@@B@B@BMNOqJ.                    
                    .i::           ::.  .7u5kEM@Mi ..,.,.,.,.,,,.,.. ,5@BBMMMMMMMMMMMMOMMMMBB@B@B@B@MB80PX1UJL77rriiiiiiiiir7LU0OOL,                  
                   .i:,            .:.r2FFEM@B@B1. .,.,.,.,,,.,.,.. ,5@BBMMMMMMMMOMMMMBMBB@B@BBOZk5JLri::....                 ..7FM8u                 
                  ,i:.              :.;BM@B@B@BMi .,,,.,,,,,.,,,.. .1@BBMMMMMMMMMMMBM@B@B@OEF1L7i:..     . ......,.,...,.,.,.... .700Gr               
                 ,i:.               , :B@BBMBB@F. ,.,.,,,.,.,.,.. .j@BBMMOMMMMMMMM@@@BB0kuvr:..   ....,.,.,.,.,.,.,.,.,.,.,.,.,..  :XkGu              
                ,i:.                ., @BBMMM@Mv ..,.,.,.,,,.,..  7@BBMMMMMMMBMBB@BMq5L7:,   ....,.,.,.,,,.,.,,,,,,,,,.,,,.,.,.,.,. :X1q0i            
               .i:.    ..           ., P@MMMBBE, .,.,,,.,,,.,.,. iOBBMMMMMMMBB@BMq5Lr:.   ....,,,.,.,.,.,.,.,.,.,.,,,.,.,,,.,.,.,.,. iPu5NL           
               i:.    .,             , 2BBMMB@j..,,,,,,,.,.,.,. .kB@MMMMMBM@B@ZFj7:.   ..,.,...,.,.,.,,,,,.,,,,,.,,,.,.,.,.,.,,,.,.,. 7k5uq2          
              :::     :              . L@MMM@M; .,,.,.,,,,,.,.. vB@MMMMMB@@B0uYi,   .....           ....,,,,,.,.,,,,,,,.,.,.,.,.,,,.,..uEZLS5         
             :::     :.              , jBBMB@0, .,.,.,.,.,.,., :q@BBMBM@BBkuvi.  ...     ..iiiiii:..   ..,.,.,.,,,,,,,.,.,.,.,.,,,.,., iU@GvS1        
            .::.    .:               . S@BB@@Y  ....,.,.,.,.,. r@BMMBB@BquL:. ...   .,rYPZBB@B@B@BMEF7:   ..,.,.,.,,,,,.,,,,,.,,,.,,,.. LS@N7SS       
            ::,     ::               . @B@B@Br       ....,.,...FB@M@B@NUvi  ..   .:LPBB@B@@@@@B@B@@@B@BN7,  .,.,,,.,.,.,,,.,.,.,.,.,,,. :uM@kvkJ      
           .i:.     i.                ,BBEZEN1FSSUjvr,.  .... :Z@M@BMUJi. ...  .7SBB@B@@BMBMMMBMMMBM@B@B@OL. ...,.,.,.,,,,,.,.,,,,,,,.,..vPB@UvNi     
           :::     .:                .;E2j777LvLLu2kX8EF7:  . iB@@BPJ7.  ..  :LEB@@@MBMMMMMMMMMMMMMMMMMBB@B0:  ,.,.,.,.,.,.,.,.,.,.,,,.. 7U@B@YYP.    
           ::.     ,:                .i:              ,rFZPr. rB@B1L:  ..  :JZ@B@BMMMOMMMMMMMMMMMMMMMMMMBB@BM7  ,.,.,,,.,.,.,.,.,.,,,.,. :uO@BM75u    
          .i:      ::                .                    iNEi7@Bur. ..  ,70B@BBMMMMMMOMMMMMOMMMMMMMMMMMMMM@BM7  ,.,.,,,,,.,.,,,,,.,,,.,..LZ@BBN70,   
          :::      ::                                       :5N0u:  ..  rS@B@BBMMMMOMMMMMMMMMMMMMOMMMOMMMOMM@BOr .,.,,,,,.,.,,,,,,,,,.,...Lq@M@BJuU   
          ::.      :,                                         :kk. .  :uO@@@B@M@BBMMMBMMMMMMMMMMMMOMOMMMMMMMM@Bq: .,,,.,.,,,.,,,.,.,.,.,..7XBBM@Zvq.  
          ::.      ::                                           uOr  ;NB@B@B@B@B@@@B@BBMMMMMMMMMMOMMMMMMMMMMMM@Mj...,.,.,,,,,.,.,,,,,.,,. rF@BMM@JS7  
          ::.      ::                                            7OLJ@B@B@ONSkFPqE8MM@B@B@MBMMMMOMOMMMOMMMOMMMB@Xi .,,.,.,.,.,.,.,.,.,.,. iFBBMBBELF  
          ::.      .i                                             iZG@B1r,      ..:rj1XNM@@BBMBMMMMMMMMMMOMMMMBBOv..,,,,,,,,,,,.,.,.,.,.. i1@MMM@BYk. 
          .i.       :.                                             i82.              .iLU5XMB@BBMMOMMMMMMMMMMMM@Bu, .,.,.,.,,,.,.,.,,,.,. iFBBMMM@uFr 
          .i,       ,,                                              ;                   .71j28@BBMBMMMMOMMMOMMMB@Si .,,.,.,,,.,,,.,,,.,,. rk@MMMBBkU7 
           i,        :                                                                     v1JUBB@MMMMMMMMMMMMMB@P7..,.,,,.,,,.,,,.,.,.,..70BBMMM@Gur 
           ::         .                                                                     .JFvqB@MMMMMMMMMMMMM@PL ..,.,.,.,.,.,,,.,.,...JE@MMOMBMLS 
           .i.               ...                                                              :SLuB@MMMMMMMMOMMMBEL..,,,.,,,.,.,,,.,.,,,..Y8BMMMM@OLP 
            :,                .::.                                                              2jL8@BMOMMMMMMMM@Zj...,,,,,.,.,.,.,.,.,. :uM@MMMMBMvP 
            i,                  .:i:..                                                           u1vE@BMMMMMMMMM@OJ: ,.,.,.,.,.,.,,,.,.. ;2@BMOMM@GvP 
           q2 .                   .,ii:,.                                                     .,, v5v0@MBMMMMOMM@Eu,..,.,,,,,.,.,.,.,,,. 7qBBMMMBBNL2 
          7qNL                       .,iii::..                                             .,ii:   vFvG@MBMMMMMBBZY,.,.,.,,,.,,,.,.,,,...L0@MMMMM@F2r 
         .0v@B:                         .,::i::::,..                                  ..,:ii:.      J1vM@MMMMOMM@PJ...,.,.,.,.,,,,,.,.. iU@@MMMMBB227 
         FYXB@B.                           ..,:::iii::                            .,,::i::..         FJJB@MMMMMBBPv..,.,.,.,.,,,,,.,,,. rSBBMMMMM@jSr 
        iSJ@@B@O i                                ..,.                        ,:::i::::..            .q7XBBMMMMB@kv ..,.,.,.,.,,,,,.,...JG@MMMMM@MLk  
        SLE@MMB@8@i                                                          .::::..                  rS7MBBMMM@BF7..,.,,,.,,,.,.,.,.. iU@BBMMOMBZvP  
       75u@BBMMM@B@7                                                                                   1YU@MBMB@@ur ,.,.,,,.,.,.,.,.,..vNBBMMMMM@F27  
       XvOBBMMMMMBB@B:                                                                                 iSvM@MBM@Ou: .,.,,,.,.,.,.,,,. ,uM@MMMMM@BJFi  
      r1UBBMMMMO@B@.XB@L                                                                                FvS@BMMB0L..,.,.,.,.,,,.,,,.. 7k@MMOMMBBOvq   
      FY8@MMMMMMM@BOj1O@@@M2ri:.                                                                        72L@BBM@XL ..,,,,,,,.,.,.,., ,JMBBMMMMM@12L   
     ,ku@BMMMMMMBB,:kSXF@B@@@@@@@@@BMFu:.                                                                1vO@M@BUi .,,,.,,,.,,,.,.,. rPBBMMMMM@BLX,   
     uuq@BMMMMMBB@    iq@i1PPMBiL@@@B@B@B@B@FL.                                                  ..,.:,,:u7k@BBMJ: ,,,.,,,.,.,.,.,. ,uM@MMOMMBBPY5    
     PLF@MMMMMBB@BB@@B@U..MqZM.       ::LP5B@@@B@BG7,                                .:rqB@B@B@B@B@@@B@B@U7J@B@NY...,.,,,.,,,.,,,.. 7q@MBMMMMB@LP:    
    r07S@BMMMMMBBL .     5O0M7             0B@B@B@E@@@2r                     .:LS@B@@@@@B@B@P52Y,. .uUv7;Lvj@@BFr .,,,,,.,.,.,.,.. :u@BBMMMMM@PY1     
    LXiU@MMMMOMB@i .   ::ZOEB.            @@@B@B@N::@7 .                   iLB@B@@MB@B@B             YJ77vYv@BBu: ,.,.,.,.,,,.,.,. 7GBBMMMMM@BYXi     
    Zu.1B@MMMMM@Bi :   v @8GM           r@B@B@B@BMi;@7                       P@kF25@B@B@:             2J7LL7M@PJ...,.,.,.,.,,,.,. :SB@MMMMMBBPLF      
   .O7 u@BMMMMMB@: ,   u @BM@;        iB@BOq@B@B@Gii@:                       GBSkuMB@B@B@             7uLvjrB@Fr .,,,,,.,.,,,.,. .jM@MBOMMMBBvq.      
   7O: 1B@MMMMM@Bi :   5 v7vv@N.   :k@B@,    @B@Bq:vB                        OBPF5B@@@B@B@            ,UvLY7@Bj: ,.,,,.,,,,,.,.. r0@MBMMMMM@u2u       
   YE  u@BMOMMMM@7 ,   J :i:.L@B@B@@@B@     PB@B@Yr2M                        k@kFk@B@B@B@B@           iuvvJv@qL ..,.,.,.,.,.,,. :1@BMMMMMM@ELS        
   O1  jB@MMMMMBBX .   B..vr:iB@B@B@B@Br  r@@@B@Mi7Xr                        JBq2qB@B@U.,XB@U         uuvLJJMFi .,.,.,,,.,,,., .LBBBMMMMM@BYXi        
   8j  7@BMMMOMM@B  5B@B7 i:: OB@B@B@B@B@B@B@B@BYrLL                         iX01k@@@B     B@B0:    u2uJLJuuPu..,.,.,.,.,.,.,. rZBBMMMMM@B1uJ         
   Mi  ;M@MMOMOMB@,@@r  8  :. .@B@@@@@B@B@@@@@BkiL7J                         :iO51@@B@8    vB@B@B@B@B7iri;uu57 ..,.,,,,,.,.,. :kB@MMMMMBBELP          
  vO:  iZBBMMMMMBB@r  ,2@J ,..:E@B@@@B@B@@@B@BNivrY:                         ,;NPJMB@B@BkirB@B@B@@@BM,ii: F2F...,.,.,.,.,,,. .UB@MBOMMBBBvX.          
  L8,  ;k@BMMMOMM@M  @Bu:@  uM0uq@B@B@B@B@B@B1iv7;F                          ,v7EUF@B@B@B@@@B@B@B@@@i,iv 7SX7 .,,,.,.,.,.,.. LO@MMOMMM@@YXi           
  JN.. ,5B@MMMMMMB@782   .@  882LUBB@@@B@B@q7iY7,E.       ..,,:::,,.          J OFjO@@@B@B@B@B@@@@@k .:. JXF, ,.,.,.,.,.,.. 7E@BMOMMBB@2Uu            
  NF . .YBBMMMMMOBB@; .  N@@  jGSuvuFZO8kjrr7j:.M:         . . ..,,:::        J:vZUjB@B@B@B@B@B@@@M  ::  EkL ..,,,.,.,.,.. ik@BMMMOMM@PY5             
  OJ ...LE@MMMMMMMBBq . MB r@i  uPkjL77r77YLi rB,                    ..       .k qqjYO@@@B@B@B@B@Mrii:  FSX...,,,.,,,.,.. :1@BBMMMMM@ZLP.             
  Ov .. rPBBMMMMMMM@BY  L   .@B.  .7vJYLr:  ,MM                                j7 EXJLF@B@B@B@B@Ui715  MZS7 .,,,.,,,.,.. :u@BBMMMBM@MLX:              
  Mr.., iu@@BMMMMMMM@Bi .     YB@2.      .uB@i                                  Or 5qUL7UkOM8SJrrL2r  @BU5..,,,,,.,,,.. .JBBBMMMMM@BYFv               
  Mr ....j8@MMMMOMOBM@@: ,.     :GB@@@B@@@S,                                     E5 .1S5Lvrrrr7juv  :@57k7 ,.,.,.,.,.. .LMB@MMMMM@BuUu                
  Mi..,..Lk@BMMMMMMMMM@B: ,.         .,                .:                         LB7  :LJUuuL7.  .B@. k1...,.,,,.,.. .LOB@MMMMM@B2u5                 
  Mi ,.. ;u@BMMMMMOMMMB@Br ..                          :i.            ..            uMki        L@BY  1Z: .,.,,,.,.. .vO@BMMMMM@BFJS                  
  Mi .,..,u0@MMMMMMMMMBM@Bu .,                          ,..         ..i.              :1GBGZ8M@@q:   rOL .,.,.,,,.. .vGB@MBMMM@BXYF                   
 iMi ,.,..v1@@MMMMMMMMMMM@@8  ..                                    .,.                    ..       :8S. ,,,.,,,.. .vGB@MBOMM@BNLX                    
 :M: .,., ;jMBBMMOMOMMMMMM@@@r  ,                                                                  ,qE: ..,.,.,.. .vZB@MMOMMBB0Lq.                    
 iOi .,,...j1@BMMMOMMMOMMMM@B@0. ..                                                             ...2Gv ..,.,,,.. .LGB@MMMMMBBGLP,                     
 iMi..,.,. rjO@MMMMOMMMMMMMMBB@B5  ..                                                         .::.vGU ..,,,,,.. ,LGB@MMMMM@B8vP.                      
 iOi ,,,,, ,jSB@MMMMOMMMMMMMMBM@B@u. ...                          ......                    .:i: :GS...,.,,,.. :Y8B@MMOMMBBOLN:                       
 :Mi..,.,.. 7YMBBMMMMMMMMMMMMMMM@B@Bk,  ..                    .,:::::::::.               .::i:.  Nq. .,,,.,.. :JOB@MMMMMBBMLP:                        
 ,O7 ..,.,...uu@BMMMMMMMMMMMOMMMMBM@B@Ov.,::..               .,.         .            .::i::.   PG, .,.,.,.. :jMBBMMOMMBBMvN:                         
  ML .,,,.,. ;uE@MMMMMMMMMMOMMMMMMMM@B@Bk: :ii::,.                                ..::i::.     1M: .,.,.,.. iUMBBMMMMMB@MLP:                          
  8u ..,.,.,..Ju@@MMMMMMMMMMMMMMOMMMMBBB5:   .,::i::,,..                    ...::iii:,        LB7 .,,,,,.. rUBBBMMMMMB@MLq:                           
  O1 .,.,.,., ijSBBMMMMMMOMMMMMMMMMMMM@M2,       .,,::i:i::::,,.,,,,,,::::::i::::.           rBY .,,,.,.  71@@BMMMMMBBBLki                            
  Gk...,.,,,.. LLOBBMMMMMMMMMMMMMMMMMMBB2:             ..,,::::::i::::::,:... ::            :M5..,.,.,. .vF@BBMMMMMBBMLPi                             
  ZP7 ..,,,.,...UJ@BBMMOMMMMMMMOMMMMMM@@Xi                                    ::,          .ON, ,.,.,. .Lk@BBMMMMMBBBLki                              
  qkS: ..,,,.,. :U2@BMOMMMOMMMMMMMOMMMM@kr                                    ,::          GGi ,.,,,. :jP@@BMMMMMBBBLPi                               
  X1XY..,,,,:,,. vjN@MBOMMMMMMMOMOMMMMBB0r                                    .::         5Ov .,:,,. iUE@BBMMMMMBBBLF;                                
  r5k8i ........  r7E@OMMMMMMMOMMMMMMMM@Zv                                     ,,.       7Gv  .... .rSM@BMMMOMMMMOrL.        

*/
#header-bottom-left {
    background: url(http://b.thumbs.redditmedia.com/4kNNv7V4oxf547U7.png);
    height: 239px
    }
/* Emotes */
a[href|="/cuttershrug"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 100px;
    background-image: url(http://e.thumbs.redditmedia.com/QPLN64KOLUWJplUX.png)
    }
a[href|="/cuttersquee"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 109px;
    background-image: url(http://a.thumbs.redditmedia.com/VRzLpYkXwi6fLezT.png)
    }
a[href|="/mope"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 301px;
    background-image: url(http://c.thumbs.redditmedia.com/v-PPRFRutQDRmbsn.png)
    }
a[href|="/cuttershyfrown"] {
    display: block;
    clear: none;
    float: left;
    width: 146px;
    height: 139px;
    background-image: url(http://a.thumbs.redditmedia.com/xTnVkAdyBI-TBwaN.png)
    }
a[href|="/rockershy"] {
    display: block;
    clear: none;
    float: left;
    width: 225px;
    height: 236px;
    background-image: url(http://e.thumbs.redditmedia.com/cdnucbERsbTSUM1p.png)
    }
a[href|="/cuttershy"] {
    display: block;
    clear: none;
    float: left;
    width: 263px;
    height: 190px;
    background-image: url(http://d.thumbs.redditmedia.com/mAcfxcxOV-IYO70o.png)
    }