/*****Misc Emotes******/
a[href="/wat"] {
    display: block;
    clear: none;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-image: url(http://b.thumbs.redditmedia.com/0RYrFbSuc7Cy0k51.png)
    }
/*****RD Block Emotes*******/
a[href|="/dash00"], a[href|="/scootacute"], a[href|="/scootabrag"], a[href|="/ovenmitt"], a[href|="/dash10"], a[href|="/cooldash"], a[href|="/dealwithitdash"], a[href|="/dash20"], a[href|="/dashponder"], a[href|="/dashthinking"], a[href|="/dash01"], a[href|="/jedifilly"], a[href|="/fillyjedi"], a[href|="/dash11"], a[href|="/fillydash"], a[href|="/bounce"], a[href|="/dashjoy"], a[href|="/dash21"], a[href|="/dashomg"], a[href|="/omgomgomg"], a[href|="/dash02"], a[href|="/dashbadass"], a[href|="/badassdash"], a[href|="/dash12"], a[href|="/dashsmile"], a[href|="/smilingdash"], a[href|="/dash22"], a[href|="/dashbook"], a[href|="/reading"], a[href|="/coolstorybro"], a[href|="/dash03"], a[href|="/dashmeh"], a[href|="/meh"], a[href|="/dash13"], a[href|="/dashhappy"], a[href|="/dashlovesyou"], a[href|="/dashsurprise"], a[href|="/dash23"], a[href|="/dashwhat"], a[href|="/dashwat"], a[href|="/dashwut"], a[href|="/dash04"], a[href|="/dashbedmane"], a[href|="/dash14"], a[href|="/dashtied"], a[href|="/dash24"], a[href|="/dashdrool"], a[href|="/dash05"], a[href|="/dashnews"], a[href|="/dash15"], a[href|="/dashshocked"], a[href|="/dash25"], a[href|="/notfunny"], a[href|="/dash06"], a[href|="/dashangry"], a[href|="/dash16"], a[href|="/shadowdash"], a[href|="/dash26"], a[href|="/dashvexed"], a[href|="/dash07"], a[href|="/dashchallenge"], a[href|="/dash17"], a[href|="/dashtoy"], a[href|="/dash27"], a[href|="/naptime"] {
    display: block;
    clear: none;
    float: left;
    background-image: url(http://d.thumbs.redditmedia.com/4NXICV9zgb6xQX1E.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px
    }
a[href|="/rrd00"], a[href|="/rscootacute"], a[href|="/rscootabrag"], a[href|="/rovenmitt"], a[href|="/rrd10"], a[href|="/rcooldash"], a[href|="/dashealwithitdash"], a[href|="/rrd20"], a[href|="/dashashponder"], a[href|="/dashashthinking"], a[href|="/rrd01"], a[href|="/rjedifilly"], a[href|="/rfillyjedi"], a[href|="/rrd11"], a[href|="/rfillydash"], a[href|="/rbounce"], a[href|="/dashashjoy"], a[href|="/rrd21"], a[href|="/dashashomg"], a[href|="/romgomgomg"], a[href|="/rrd02"], a[href|="/dashashbadass"], a[href|="/rbadassdash"], a[href|="/rrd12"], a[href|="/dashashsmile"], a[href|="/rsmilingdash"], a[href|="/rrd22"], a[href|="/dashashbook"], a[href|="/rreading"], a[href|="/rcoolstorybro"], a[href|="/rrd03"], a[href|="/dashashmeh"], a[href|="/rmeh"], a[href|="/rrd13"], a[href|="/dashashhappy"], a[href|="/dashashlovesyou"], a[href|="/dashashsurprise"], a[href|="/rrd23"], a[href|="/dashashwhat"], a[href|="/dashashwat"], a[href|="/dashashwut"], a[href|="/rrd04"], a[href|="/rrdbedmane"], a[href|="/rrd14"], a[href|="/rrdtied"], a[href|="/rrd24"], a[href|="/rrddrool"], a[href|="/rrd05"], a[href|="/rrdnews"], a[href|="/rrd15"], a[href|="/rrdshocked"], a[href|="/rrd25"], a[href|="/rnotfunny"], a[href|="/rrd06"], a[href|="/rrdangry"], a[href|="/rrd16"], a[href|="/rshadowdash"], a[href|="/rrd26"], a[href|="/rrdvexed"], a[href|="/rrd07"], a[href|="/rrdchallenge"], a[href|="/rrd17"], a[href|="/rrdtoy"], a[href|="/rrd27"], a[href|="/rnaptime"] {
    display: block;
    clear: none;
    float: left;
    background-image: url(http://f.thumbs.redditmedia.com/0iRc4o8962BzxOKq.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px
    }
/****Row*0************************************/
a[href|="/dash00"], a[href|="/scootacute"], a[href|="/scootabrag"], a[href|="/ovenmitt"], a[href|="/rrd00"], a[href|="/rscootacute"], a[href|="/rscootabrag"], a[href|="/rovenmitt"] {
    background-position: -0px -0px
    }
a[href|="/dash10"], a[href|="/cooldash"], a[href|="/dealwithitdash"], a[href|="/rrd10"], a[href|="/rcooldash"], a[href|="/dashealwithitdash"] {
    background-position: 0px -70px
    }
a[href|="/dash20"], a[href|="/dashponder"], a[href|="/dashthinking"], a[href|="/rrd20"], a[href|="/dashashponder"], a[href|="/dashashthinking"] {
    background-position: -0px -140px
    }
/****Row*1************************************/
a[href|="/dash01"], a[href|="/jedifilly"], a[href|="/fillyjedi"], a[href|="/rrd01"], a[href|="/rjedifilly"], a[href|="/rfillyjedi"] {
    background-position: -70px 0px
    }
a[href|="/dash11"], a[href|="/fillydash"], a[href|="/bounce"], a[href|="/dashjoy"], a[href|="/rrd11"], a[href|="/rfillydash"], a[href|="/rbounce"], a[href|="/dashashjoy"] {
    background-position: -70px -70px
    }
a[href|="/dash21"], a[href|="/dashomg"], a[href|="/omgomgomg"], a[href|="/rrd21"], a[href|="/dashashomg"], a[href|="/romgomgomg"] {
    background-position: -70px -140px
    }
/****Row*2************************************/
a[href|="/dash02"], a[href|="/dashbadass"], a[href|="/badassdash"], a[href|="/rrd02"], a[href|="/dashashbadass"], a[href|="/rbadassdash"] {
    background-position: -140px 0px
    }
a[href|="/dash12"], a[href|="/dashsmile"], a[href|="/smilingdash"], a[href|="/rrd12"], a[href|="/dashashsmile"], a[href|="/rsmilingdash"] {
    background-position: -140px -70px
    }
a[href|="/dash22"], a[href|="/dashbook"], a[href|="/reading"], a[href|="/coolstorybro"], a[href|="/rrd22"], a[href|="/dashashbook"], a[href|="/rreading"], a[href|="/rcoolstorybro"] {
    background-position: -140px -140px
    }
/****Row*3************************************/
a[href|="/dash03"], a[href|="/dashmeh"], a[href|="/meh"], a[href|="/rrd03"], a[href|="/dashashmeh"], a[href|="/rmeh"] {
    background-position: -0px -210px
    }
a[href|="/dash13"], a[href|="/dashhappy"], a[href|="/dashlovesyou"], a[href|="/dashsurprise"], a[href|="/rrd13"], a[href|="/dashashhappy"], a[href|="/dashashlovesyou"], a[href|="/dashashsurprise"] {
    background-position: -70px -210px
    }
a[href|="/dash23"], a[href|="/dashwhat"], a[href|="/dashwat"], a[href|="/dashwut"], a[href|="/rrd23"], a[href|="/dashashwhat"], a[href|="/dashashwat"], a[href|="/dashashwut"] {
    background-position: -140px -210px
    }
/****Row*4************************************/
a[href|="/dash04"], a[href|="/dashbedmane"], a[href|="/rrd04"], a[href|="/rrdbedmane"] {
    background-position: -0px -280px
    }
a[href|="/dash14"], a[href|="/dashtied"], a[href|="/rrd14"], a[href|="/rrdtied"] {
    background-position: -70px -280px
    }
a[href|="/dash24"], a[href|="/dashdrool"], a[href|="/rrd24"], a[href|="/rrddrool"] {
    background-position: -140px -280px
    }
/****Row*5************************************/
a[href|="/dash05"], a[href|="/dashnews"], a[href|="/rrd05"], a[href|="/rrdnews"] {
    background-position: -0px -350px
    }
a[href|="/dash15"], a[href|="/dashshocked"], a[href|="/rrd15"], a[href|="/rrdshocked"] {
    background-position: -70px -350px
    }
a[href|="/dash25"], a[href|="/notfunny"], a[href|="/rrd25"], a[href|="/rnotfunny"] {
    background-position: -140px -350px
    }
/****Row*6************************************/
a[href|="/dash06"], a[href|="/dashangry"], a[href|="/rrd06"], a[href|="/rrdangry"] {
    background-position: -0px -420px
    }
a[href|="/dash16"], a[href|="/shadowdash"], a[href|="/rrd16"], a[href|="/rshadowdash"] {
    background-position: -70px -420px
    }
a[href|="/dash26"], a[href|="/dashvexed"], a[href|="/rrd26"], a[href|="/rrdvexed"] {
    background-position: -140px -420px
    }
/****Row*7************************************/
a[href|="/dash07"], a[href|="/dashchallenge"], a[href|="/rrd07"], a[href|="/rrdchallenge"] {
    background-position: -0px -490px
    }
a[href|="/dash17"], a[href|="/dashtoy"], a[href|="/rrd17"], a[href|="/rrdtoy"] {
    background-position: -70px -490px
    }
a[href|="/dash27"], a[href|="/naptime"], a[href|="/rrd27"], a[href|="/rnaptime"] {
    background-position: -140px -490px
    }