/*Submit a link -> Create a submission*/
.sidebox .subtitle:before {
    display: block;
    clear: none;
    content: "pony articles, pony pictures, pony videos, pony analysis, pony pony...";
    color: dimgray;
    font-size: 8pt !important
    }
.sidebox .subtitle {
    font-size: 0px
    }
.sidebox.create {
    display: none
    }
/*LPPoint from http://cuttincows.deviantart.com/art/Littlepip-point-319005701 */
.sidebox.submit .spacer a {
    background-image: url(http://f.thumbs.redditmedia.com/BDfJLdTJEtCIwU1w.png);
    background-position: -0px -0px;
    background-repeat: no-repeat
    }
/* Banner Image */
/*Banner by DarkDragon774 http://darkdragon774.deviantart.com/art/Fallout-Equestria-background-STOCK-277629738) */
#header #header-bottom-left {
    background: url(http://a.thumbs.redditmedia.com/cnwKXbABlHlWgGsH.png);
    background-color: #939683;
    background-color: transparent !important;
    /*  margin-top: 50px; */
    background-repeat: no-repeat;
    background-position: 0% 0%;
    height: 100px;
    /*  border-bottom: 1px solid #000000; */
    }
.side div.usertext-body table {
    display: none
    }
.side div.usertext-body:hover table {
    display: block;
    clear: both
    }
/*Changes your reddit's name (at the top) to an image. All '??' must be edited to the dimentions 
you want your image to be.*/
/* .side .usertext a[href="http://www.equestriadaily.com/2011/04/story-fallout-equestria.html"] {
    background-image: url(%%sidebar-v2%%);
    background-position: 0 0;
    background-repeat: no-repeat;
    display: block;
    height: 392px;
    position: absolute;
    right: 5px;
    top: 169px;
    width: 300px;
    z-index: 900;
    color: #313224;
    font-size: 0px
    } 


.side {
    padding-top: 392px
    } */
#header-img {
    margin-top: 5px
    }
.pagename a {
    color: white;
    font-size: 20px;
    font-family: Arial;
    font-style: italic
    }
.tabmenu.formtab {
    padding-top: 40px
    }
.side .titlebox h1 a, .side .titlebox h1 a:link .side .titlebox h1 a:visited {
    font-family: terminal;
    text-indent: -9000px;
    background: url(http://d.thumbs.redditmedia.com/1HzBBNeK6gF6Ty83.png) no-repeat 0px 0px;
    height: 94px;
    width: 225px;
    display: block;
    overflow: hidden;
    position: relative;
    top: 0px
    }
.tabmenu {
    position: absolute;
    top: 100px;
    /*margin-top:-16px!important;*/
    }
.titlebox span.word {
    display: none
    }
div.titlebox .subscribers span.number:after {
    content: " wastelanders"
    }
div.titlebox .users-online span.number:after {
    content: " fighting the good fight"
    }
a[href$="/spoiler"] {
    background: #000 !important;
    color: #000 !important
    }
a[href$="/spoiler"]:hover {
    color: #FFF !important
    }
/*simple, most commonly used backgrounds*/
body {
    background: url(http://f.thumbs.redditmedia.com/EteWQ_IZMeOisGdw.png) no-repeat fixed center bottom
    }
/* Hey, so I stole a bunch of CSS rules from the good folks at r/asoiaf. */
/* ================================
 * Code to enable fancy spoilers, 
 * because the plot must be protected
 * at all costs!
 */
a[href="/s"] {
    color: #222222;
    background: #CCCCCC;
    /* background-image: url(%%spoiler%%); */
    background-repeat: no-repeat;
    padding: 0px 0px 0px 20px;
    cursor: text
    }
a[href="/s"]:hover {
    color: #8F8F8F
    }
a[href="/s"]::after {
    content: attr(title);
    background: #CCCCCC;
    color: #CCCCCC;
    padding: 0px 10px 0px 10px
    }
a[href="/s"]:hover::after, a[href="/sr"]:active::after, a[href="/st"]:active::after, a[href="/sl"]:active::after {
    color: black
    }
a[href|="/fe00"], a[href|="/fe10"], a[href|="/fe20"], a[href|="/fe30"], a[href|="/fe40"], a[href|="/fe01"], a[href|="/fe11"], a[href|="/fe21"], a[href|="/fe31"], a[href|="/fe41"], a[href|="/fe02"], a[href|="/fe12"], a[href|="/fe03"], a[href|="/fe13"], a[href|="/fe04"], a[href|="/foe00"], a[href|="/foe10"], a[href|="/foe20"], a[href|="/foe01"], a[href|="/foe02"], a[href|="/foe12"], a[href|="/foe03"], a[href|="/foe13"], a[href|="/foe23"], a[href|="/foe04"], a[href|="/foe14"], a[href|="/foe24"], a[href|="/foe05"], a[href|="/foe15"], a[href|="/foe09"], a[href|="/foe11"], a[href|="/lpwut"], a[href|="/lphurt"], a[href|="/homage"], a[href|="/bjstare"], a[href|="/bjclassy"], a[href|="/anteup"], a[href|="/queenwhiskey"], a[href|="/p21fun"], a[href|="/qnwhsk"], a[href|="/p21notamused"], a[href|="/p21"], a[href|="/glory"], a[href|="/charity"], a[href|="/bjscared"], a[href|="/rampage"], a[href|="/lphappy"], a[href|="/omnomnom"], a[href|="/givemeec1101"], a[href|="/calamity"], a[href|="/pinkeyes"], a[href|="/lpwet"], a[href|="/mmdash"], a[href|="/psychoshy"], a[href|="/fightcalamity"], a[href|="/velvetremedy"], a[href|="/lparmed"], a[href|="/gawd"], a[href|="/steelhooves"], a[href|="/lpnotwant"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://d.thumbs.redditmedia.com/RcQxtSagCYQyGGk9.png) !important
    }
/*feXX numbers will be kept for backwards compatibility, but are augmented with foeYY numbers, which only allow three elements per row.*/
a[href|="/foe00"], a[href|="/fe13"], a[href|="/lphappy"] {
    background-position: -70px -210px
    }
a[href|="/foe10"], a[href|="/fe00"], a[href|="/lpwut"] {
    background-position: -0px -0px
    }
a[href|="/foe20"], a[href|="/fe10"], a[href|="/lphurt"] {
    background-position: -70px -0px
    }
a[href|="/foe01"], a[href|="/fe20"], a[href|="/homage"] {
    background-position: -140px -0px
    }
a[href|="/foe02"], a[href|="/fe30"], a[href|="/bjstare"] {
    background-position: -210px -0px
    }
a[href|="/foe12"], a[href|="/fe40"], a[href|="/bjclassy"] {
    background-position: -280px -0px
    }
a[href|="/foe03"], a[href|="/fe31"], a[href|="/p21"] {
    background-position: -210px -70px
    }
a[href|="/foe13"], a[href|="/fe41"], a[href|="/glory"] {
    background-position: -280px -70px
    }
a[href|="/foe23"], a[href|="/fe03"], a[href|="/rampage"] {
    background-position: -0px -210px
    }
a[href|="/foe04"], a[href|="/fe11"], a[href|="/queenwhiskey"], a[href|="/qnwhsk"] {
    background-position: -70px -70px;
    width: 69px;
    height: 70px
    }
a[href|="/foe14"], a[href|="/fe12"], a[href|="/bjscared"] {
    background-position: -70px -140px
    }
a[href|="/foe24"], a[href|="/fe21"], a[href|="/p21notamused"], a[href|="/p21fun"] {
    background-position: -139px -70px;
    width: 67px;
    height: 70px
    }
a[href|="/foe05"], a[href|="/fe01"], a[href|="/anteup"] {
    background-position: -0px -70px
    }
a[href|="/foe15"], a[href|="/fe02"], a[href|="/charity"] {
    background-position: -0px -140px
    }
a[href|="/foe09"], a[href|="/fe04"], a[href|="/omnomnom"], a[href|="/givemeec1101"] {
    background-position: -140px -140px;
    width: 210px;
    height: 210px
    }
a[href|="/calamity"] {
    background-position: -0px -280px;
    width: 100px;
    height: 100px
    }
a[href|="/pinkeyes"] {
    background-position: -100px -347px;
    width: 100px !important;
    height: 100px !important
    }
a[href|="/lpwet"] {
    background-position: -200px -348px;
    width: 95px !important;
    height: 150px !important
    }
a[href|="/mmdash"] {
    background-position: 0px -380px;
    width: 64px;
    height: 151px
    }
a[href|="/psychoshy"] {
    background-position: -74px -460px;
    width: 111px;
    height: 150px
    }
a[href|="/psychoshy"]:hover {
    background-position: -197px -505px;
    width: 111px;
    height: 150px
    }
a[href|="/fightcalamity"] {
    background-position: 0px -608px;
    width: 154px;
    height: 150px
    }
a[href|="/lparmed"] {
    background-position: 0px -770px;
    width: 157px;
    height: 150px
    }
a[href|="/steelhooves"] {
    background-position: -196px -656px;
    width: 120px;
    height: 150px
    }
a[href|="/foe11"], a[href|="/lpnotwant"] {
    background-position: 0px -534px
    }
a[href|="/velvetremedy"], a[href|="/gawd"], a[href|="/lacunae"], a[href|="/murky"], a[href|="/protege"], a[href|="/wickedslit"], a[href|="/foe21"], a[href|="/lpshrug"], a[href|="/grifanywhere"], a[href|="/foevictory"], a[href|="/lptable"], a[href|="/mmppwatching"], a[href|="/lionmouse"], a[href|="/lpcrying"], a[href|="/lpblush"], a[href|="/bjshooty"], a[href|="/foe22"], a[href|="/foe06"], a[href|="/foe16"], a[href|="/foe08"], a[href|="/lpsurprise"], a[href|="/foe26"], a[href|="/velvetlook"], a[href|="/lpfrown"], a[href|="/lpsad"], a[href|="/foe07"], a[href|="/foe25"], a[href|="/spiderjerusalem"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://f.thumbs.redditmedia.com/iYXTgg6nbE_gkF9_.png) !important
    }
a[href|="/gawd"] {
    background-position: 0px -361px;
    width: 115px;
    height: 150px
    }
a[href|="/velvetremedy"] {
    background-position: 0px -257px;
    width: 86px;
    height: 99px
    }
a[href|="/lacunae"] {
    background-position: 0px -105px;
    width: 152px;
    height: 150px
    }
a[href|="/murky"] {
    background-position: 0px 0px;
    width: 167px;
    height: 100px
    }
a[href|="/protege"] {
    background-position: 0px -517px;
    width: 82px;
    height: 150px
    }
a[href|="/wickedslit"] {
    background-position: 0px -669px;
    width: 105px;
    height: 150px
    }
a[href|="/foe21"], a[href|="/lpshrug"] {
    background-position: 0px -824px;
    width: 70px;
    height: 70px
    }
a[href|="/grifanywhere"] {
    background-position: 0px -900px;
    width: 103px;
    height: 150px
    }
a[href|="/foevictory"] {
    background-position: 0px -1050px;
    width: 123px;
    height: 150px
    }
a[href|="/mmppwatching"] {
    background-position: 0px -1305px;
    width: 117px;
    height: 150px
    }
a[href|="/lptable"] {
    background-position: 0px -1200px;
    width: 202px;
    height: 100px
    }
a[href|="/lionmouse"] {
    background-position: 0px -1460px;
    width: 141px;
    height: 150px
    }
a[href|="/foe06"], a[href|="/lpcrying"] {
    background-position: 0px -1610px;
    width: 70px;
    height: 70px
    }
a[href|="/foe16"], a[href|="/lpblush"] {
    background-position: 0px -1680px;
    width: 70px;
    height: 70px
    }
a[href|="/foe22"], a[href|="/bjshooty"] {
    background-position: 0px -1750px;
    width: 70px;
    height: 70px
    }
a[href|="/foe08"], a[href|="/lpsurprise"] {
    background-position: 0px -1820px;
    width: 119px;
    height: 70px
    }
a[href|="/foe26"], a[href|="/velvetlook"] {
    background-position: 0px -1890px;
    width: 70px;
    height: 70px
    }
a[href|="/foe07"], a[href|="/lpfrown"] {
    background-position: 0px -1960px;
    width: 71px;
    height: 100px
    }
a[href|="/foe25"], a[href|="/lpsad"] {
    background-position: 0px -2060px;
    width: 70px;
    height: 70px
    }
a[href|="/spiderjerusalem"] {
    background-position: 0px -2130px;
    width: 70px;
    height: 70px
    }
a[href|="/bjbubbles"] {
    display: block;
    clear: none;
    float: left;
    width: 134px;
    height: 150px;
    background-image: url(http://b.thumbs.redditmedia.com/gl_SLn2lr4xGFbjO.png) !important
    }
a[href|="/bjbubbles"] {
    background-position: 0px 0px
    }
a[href|="/lpnotsure"], a[href|="/p21fh"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(http://a.thumbs.redditmedia.com/9L61Ml5TzMmH7a0B.png) !important
    }
a[href|="/lpnotsure"] {
    background-position: 0px 0px
    }
a[href|="/p21fh"] {
    background-position: 0px -150px;
    width: 70px;
    height: 70px
    }
/* Flair */
.flairselector .customizer {
    display: none !important
    }
.flair {
    border: none !important;
    top: 20px;
    padding: 0px;
    background: url(http://f.thumbs.redditmedia.com/5hUxprKsihyl67sk.png);
    display: inline-block;
    vertical-align: middle
    }
.flair-aaa {
    background-position: 0 0;
    width: 50px;
    height: 50px
    }
.flair-ajrangers {
    background-position: 0 -100px;
    width: 14px;
    height: 15px
    }
.flair-alicorn {
    background-position: 0 -165px;
    width: 47px;
    height: 15px
    }
.flair-dashite {
    background-position: 0 -230px;
    width: 16px;
    height: 15px
    }
.flair-littlepip {
    background-position: 0 -295px;
    width: 36px;
    height: 15px
    }
.flair-pipbuck {
    background-position: 0 -360px;
    width: 20px;
    height: 15px
    }
.flair-redeye {
    background-position: 0 -425px;
    width: 24px;
    height: 15px
    }
.flair-security {
    background-position: 0 -490px;
    width: 37px;
    height: 15px
    }
.flair-stabletec {
    background-position: 0 -555px;
    width: 40px;
    height: 15px
    }
.flair-steelrangers {
    background-position: 0 -620px;
    width: 15px;
    height: 15px
    }
.flair-stern {
    background-position: 0 -685px;
    width: 13px;
    height: 15px
    }
.flair-toasterrepairpony {
    background-position: 0 -750px;
    width: 23px;
    height: 15px
    }