/****************************
///////////////////////////////////////////
// Begin change-log:
// March 1 - < March 16 - Set up banner, basic styling emoticons, alert, and basic subreddit styling including alt theme
// March 17 - Moved alert box to its new location amongst the banner - changed livestream post aesthetics
// March 17 - Replaced NSFW, noimage, self-post icons with flutterscared
// March 22 - Changed .side from 300px to 305px to remove scrollbar due to the stream table
// March 2? - Added Failed Emote: MAAAAAAAAAA
// March 31 - Added Failed Emote: ???
// March 31 - Added [>greentext](/greentext)
// March 31 - Added Failed Emote: ectoplasmic
// April foals!
// April 1 - Updated banner to include creepy pinkie #2 (giggle at the ghosties)
// April 4 - Added surprise! (the tree), added flair for mongoose, downey, and myself (shadari), oh and tagged link as gilda cuz I felt like it. Might go and tag some others now~
// April 6 - Added lantern in the search bar
// April 9 - Updated the banner (...again)
// April 16 - Changed colours for alert in spirit of the amnesia custom story competition
// April 17 - Added "buttons" for themes
// April 18 - Added Rayne
// April 19 - Rayne emotes moved to separate spritesheet ~Dash            Failed to change Downey's typo -shad
// April 20 - Fixed some crap (namely comment replies) in the dark theme
// April 23 - WE BROKE 100 SUBS!
// May 16 - Played around with the user-bar a bit
///////////////////////////////////////////
****************************/
/********************************************/
/* It's so bare! I think the stylesheet could use some love. */
/********************************************/
/*************
 Experimental *
************/
/*
#header-bottom-right { line-height: 262px; background: none !important; color: red !important; }
#header-bottom-right a:link, #header-bottom-right a:visited { color: red; }

.userbarHide { background: none!important; border-right: 0px solid #FFFFF7 !important; line-height: 262px !important; color: red !important; }
*/
/************************
 Working and implemented *
**********************/
/* Rayne - CSS shamefully taken and altered from the plounge, mlsh does not take any credit for this */
div.footer.rounded {
    background-color: white
    }
.footer-parent {
    height: 00px;
    padding-top: 1000px;
    padding-bottom: 60px;
    clear: both;
    text-align: center;
    width: 100%;
    background-image: url(http://c.thumbs.redditmedia.com/VG2laww_K1LoMHnt.png);
    background-position: top center;
    background-repeat: no-repeat;
    margin-bottom: -1px
    }
/* Dark and light theme buttons
.side a[href="http://dd.reddit.com/r/MyLittleSH"]:after {
content: "";
width: 25px;
height: 20px;
background-image:url(%%lantern%%);
padding-top:10px;
display: inline-block;
position: relative;
clear:both;
background-repeat:no-repeat;
}
.side a[href="http://www.reddit.com/r/MyLittleSH"]:after {
content: "";
width: 25px;
height: 20px;
background-image:url(%%bulb%%);
padding-top:5px;
display: inline-block;
position: relative;
clear:both;
background-repeat:no-repeat;
}
*/
/*////////////////////////////////////////////////////////////*/
/*//////////// WE BROKE 100 SUBS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
/*////////////////////////////////////////////////////////////*/
/*
 * Delete this chunk when you want to get rid of it,
 * assuming that I'm not around to do it myself. -Shad
 */
.side code {
    font-size: 30px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    padding-left: 125px;
    color: black
    }
html[href|="dd"] .side code {
    font-size: 30px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: silver;
    padding: 10px;
    border-radius: 4px;
    padding-left: 125px;
    color: black
    }
/*/////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////*/
a[href|="/rscheer"] {
    display: block;
    background-repeat: no-repeat;
    background-image: url(http://d.thumbs.redditmedia.com/3hErANn4rqVDeXao.png);
    clear: none;
    float: left;
    z-index: 1000;
    position: fixed;
    background-position: 0px 0px;
    width: 200px;
    height: 150px;
    bottom: 0px;
    left: 0px
    }
/* admin box for admins, recently viewed links for everypony else */
.side .spacer:nth-of-type(9) .sidecontentbox .content {
    background-image: url(http://b.thumbs.redditmedia.com/v2ji6_JgGpqT8BLI.png);
    background-repeat: no-repeat;
    background-position: bottom right
    }
/* Change posts! */
/* Finished: E8FFFF
    Going: 77D1C7 
    Future: FCFFC9 ? */
.id-t3_r07f7 {
    background-color: #E8FFFF !important;
    width: 70%;
    border-radius: 5px
    }
.id-t3_r0yx4 {
    background-color: #E8FFFF !important;
    width: 70%;
    border-radius: 5px
    }
.id-t3_r24ca {
    background-color: #FCFFC9 !important;
    width: 70%;
    border-radius: 5px
    }
.id-t3_sb7rz {
    /*Amnesia custom story contest*/
    background-color: #FCFFC9 !important;
    border-radius: 5px
    }
html[lang|="dd"] .id-t3_sb7rz {
    /*Amnesia custom story contest*/
    background-color: #000200 !important;
    border-radius: 5px
    }
/* Table */
.side table td, .side table th {
    border-color: black
    }
.side table th {
    background-color: silver
    }
/* - On mouseover, show table - */
.titlebox table {
    display: none;
    clear: both
    }
.side div.usertext-body:hover table {
    display: block;
    clear: both
    }
.side {
    width: 305px
    }
/* - change the name of the subscribers (from "readers" to "yourNameHere"), make 

sure to have the space before - */
div.titlebox span.number:after {
    content: " Members of The Midnight Society"
    }
div.titlebox span.word {
    display: none
    }
/* - alerts - use "###lorem ipsum" to activate (goes anywhere in sidebar), oh - 

and don't forget to uncomment it beforehand */
.side h3 {
    position: absolute;
    z-index: 100;
    display: block;
    top: 10px;
    width: 600px;
    left: 120px;
    background-color: #4D0202;
    /* #FFFFB5; */
    border: 3px solid #590202;
    /*#B8B800;*/
    /* color: #555555; */
    /* color:orangered; */
    color: crimson;
    text-align: center;
    margin: 15px;
    border-radius: 8px;
    padding: 7px 0px 7px 7px;
    padding-right: 7px
    }
div.content {
    /*
    DISABLED DUE TO NEW POSITION
    margin-top: 6em; 
    This value changes how large to indent the main page down - ~15 per line? */
    }
/* Button inside of alert (contest special) */
.side h3 a[href="http://redd.it/sb7rz"]:after {
    font-size: 14px;
    content: "More info";
    border: 2px solid #690000;
    width: 100px;
    height: 2em;
    background-color: black;
    padding-top: .75em;
    display: inline-block;
    position: relative;
    border-radius: 4px
    }
.side h3 a[href="http://redd.it/sb7rz"]:hover:after {
    background-color: white;
    border: 2px solid silver
    }
.side h3 a[href="http://redd.it/sb7rz"]:before {
    font-size: 0px
    }
/* -adding the spoiler tags- */
a[href="/spoiler"] {
    background: black !important;
    color: black !important
    }
a[href="/spoiler"]:hover {
    color: white !important
    }
/* - move the header image down to not have the bottom space - */
#header-img {
    margin-bottom: -3px
    }
/* - tabs - */
.tabmenu li a {
    background-color: #1C1C1C
    }
.tabmenu li.selected a {
    background-color: #2B2B2B;
    border: 1px solid red
    }
/* - banner - */
#header-bottom-left {
    background-image: url(http://c.thumbs.redditmedia.com/4WraWTMFlOk501VP.png);
    background-position: 150px -12px;
    background-repeat: no-repeat;
    background-color: black;
    padding-top: 23px;
    border-bottom: 1px solid red
    }
/* - "MyLittleSH" - */
.pagename a {
    color: #A10003;
    font-style: italic
    }
/*/////////// - search bar - //////////*/
/* accent */
#search input[type=text]:hover {
    border: 1px solid black;
    font-size: 18px;
    width: 265px;
    padding: 2px;
    padding-left: 30px
    }
/* round corners */
form#search input[name="q"] {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
    }
/* Flashlight */
#search input[type=text] {
    padding-left: 30px;
    width: 265px;
    background-image: url(http://a.thumbs.redditmedia.com/osECUdyjPqzBCOnf.png);
    background-repeat: no-repeat
    }
/* - begin emoticons - */
a[href|="/ls_alert"], a[href|="/twitch_alert"], a[href|="/amnesia"], a[href|="/MAAAAAAAAAA"], a[href|="/ectoplasmic"], a[href|="/smallma"], a[href|="/isnowgay"], a[href|="/whoislaughingnow"] {
    display: block;
    background-repeat: no-repeat;
    background-image: url(http://e.thumbs.redditmedia.com/v_vY51yaQadNbc0F.png);
    clear: none;
    float: left
    }
a[href|="/MAAAAAAAAAA"] {
    width: 265px;
    height: 105px;
    background-position: -2px -107px
    }
a[href|="/amnesia"] {
    width: 91px;
    height: 100px;
    background-position: -293px -2px
    }
a[href|="/ectoplasmic"] {
    width: 111px;
    height: 76px;
    background-position: -180px -2px
    }
a[href|="/ls_alert"] {
    width: 20px;
    height: 20px;
    background-position: -2px -2px
    }
a[href|="/isnowgay"] {
    width: 102px;
    height: 103px;
    background-position: -386px -2px
    }
a[href|="/smallma"] {
    width: 132px;
    height: 52px;
    background-position: -46px -2px
    }
a[href|="/twitch_alert"] {
    width: 20px;
    height: 20px;
    background-position: -24px -2px
    }
a[href|="/whoislaughingnow"] {
    width: 179px;
    height: 199px;
    background-position: -269px -107px
    }
/* - Rayne emoticons - */
a[href|="/rrsunamused"], a[href|="/rsunamused"], a[href|="/rrshappy"], a[href|="/rshappy"], a[href|="/rrsangry"], a[href|="/rsangry"], a[href|="/rrshorrified"], a[href|="/rshorrified"], a[href|="/rssalute"], a[href|="/rrssalute"], a[href|="/rsyay"], a[href|="/rrsyay"], a[href|="/rscoffee"], a[href|="/rrscoffee"], a[href|="/rssad"], a[href|="/rrssad"] {
    display: block;
    background-repeat: no-repeat;
    background-image: url(http://e.thumbs.redditmedia.com/W1sGcuky8w0YrRsF.png);
    clear: none;
    float: left
    }
a[href|="/rrsunamused"] {
    width: 60px;
    height: 78px;
    background-position: -0px -0px
    }
a[href|="/rsunamused"] {
    width: 60px;
    height: 78px;
    background-position: -60px -0px
    }
a[href|="/rrshappy"] {
    width: 66px;
    height: 78px;
    background-position: -120px -0px
    }
a[href|="/rshappy"] {
    width: 66px;
    height: 78px;
    background-position: -186px -0px
    }
a[href|="/rrsangry"] {
    width: 126px;
    height: 79px;
    background-position: -0px -78px
    }
a[href|="/rsangry"] {
    width: 126px;
    height: 79px;
    background-position: -126px -78px
    }
a[href|="/rrshorrified"] {
    width: 64px;
    height: 80px;
    background-position: -252px -0px
    }
a[href|="/rshorrified"] {
    width: 64px;
    height: 80px;
    background-position: -316px -0px
    }
a[href|="/rssalute"] {
    width: 95px;
    height: 80px;
    background-position: -252px -80px
    }
a[href|="/rrssalute"] {
    width: 95px;
    height: 80px;
    background-position: -380px -0px
    }
a[href|="/rsyay"] {
    width: 90px;
    height: 90px;
    background-position: -0px -157px
    }
a[href|="/rrsyay"] {
    width: 90px;
    height: 90px;
    background-position: -90px -157px
    }
a[href|="/rscoffee"] {
    width: 94px;
    height: 120px;
    background-position: -180px -161px
    }
a[href|="/rrscoffee"] {
    width: 94px;
    height: 120px;
    background-position: -274px -161px
    }
a[href|="/rssad"] {
    width: 109px;
    height: 120px;
    background-position: -368px -80px
    }
a[href|="/rrssad"] {
    width: 109px;
    height: 120px;
    background-position: -477px -80px
    }
a[href|="/noroi"] {
    /* Complete this, Ari >_> */
    width: 50px;
    height: 50px;
    display: inline-block;
    float: none;
    clear: none;
    background-color: red
    }
/* Greentext */
a[href="/greentext"] {
    color: lightgreen !important
    }
/* spacer */
a[href|="/10x0"] {
    width: 10px;
    clear: none;
    float: none;
    display: inline-block
    }
/* vert spacer */
a[href|="/0x10"] {
    width: 1px;
    height: 10px;
    clear: none;
    float: none;
    display: block
    }
/*//////////////////////// Begin Flair - copypaste from /r/shadari */
/*///////////////// flair [A] /////////////////*/
.flair-admin {
    display: inline-block;
    margin-right: .5em;
    padding: 1px;
    margin-top: 1px;
    background: #4F0202;
    color: white;
    border: 1px solid #960202;
    border-radius: 2px
    }
/*///////////////// flair [A] twilight (mongoose) /////////////////*/
.flair-adminMongoose {
    display: inline-block;
    margin-right: .5em;
    padding: 2px;
    margin-top: 1px;
    background: #AA47BA;
    color: white;
    border: 1px solid #003049;
    border-radius: 2px
    }
/*///////////////// flair [A] rarity (downey) /////////////////*/
.flair-adminDowney {
    display: inline-block;
    margin-right: .5em;
    padding: 2px;
    margin-top: 1px;
    background: white;
    color: rgb(73,128,194);
    border: 1px solid #78C7EB;
    border-radius: 2px
    }
/*///////////////// flair [A] Octavia~! /////////////////*/
.flair-adminOctavia {
    display: inline-block;
    margin-right: .5em;
    padding: 2px;
    background-color: rgb(186,184,176);
    color: rgb(166,93,190);
    border: 1px solid rgb(103,97,84);
    border-radius: 4px
    }
.flair-rayne {
    display: inline-block;
    margin-right: .5em;
    background-color: #f8f0b4;
    color: #ff6b77;
    border: 1px solid red;
    border-radius: 4px
    }
.linkflair-letsplay .linkflairlabel {
    color: red;
    font-size: 16px;
    background-color: white;
    box-shadow: 0px 0px 10px white;
    border-radius: 5px
    }
/*///////////////// NSFW thumbnail /////////////////*/
.thumbnail.nsfw {
    background-image: url(http://e.thumbs.redditmedia.com/ADpCjsmwSZAmC4HR.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-position: 0px 0px
    }
/*///////////////// selfpost thumbnail /////////////////*/
.thumbnail.self {
    background-image: url(http://e.thumbs.redditmedia.com/ADpCjsmwSZAmC4HR.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-position: 0px -70px
    }
/*///////////////// noimage thumbnail /////////////////*/
.thumbnail.default {
    background-image: url(http://e.thumbs.redditmedia.com/ADpCjsmwSZAmC4HR.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-position: 0px -140px
    }
/*

  ####################
#                                       #
# BEGIN 'DARK' THEME'S CSS  #
#                                      #
  ###################

*/
/*///////////////// Submit a link! /////////////////*/
html[lang="dd"] .morelink {
    background: none !important;
    padding: -40px;
    border: 2px dashed #888;
    color: #888
    }
html[lang="dd"] .morelink > .login-required {
    color: #888
    }
html[lang="dd"] .morelink > .login-required:hover {
    color: #c4dbf1
    }
html[lang="dd"] .nub {
    display: none
    }
/*///////////////// Voteweight uglyness bypass /////////////////*/
html[lang="dd"] .voteWeight {
    box-shadow: 0px 0px 15px white;
    border-radius: 2px
    }
/*///////////////// Expando-button fix, ugh, those damn corners... 

/////////////////*/
html[lang="dd"] .expando-button {
    border-radius: 4px
    }
/*///////////////// Markup help table fix /////////////////*/
html[lang="dd"] .usertext table.markhelp {
    background: none
    }
html[lang="dd"] .traffic-table tr.odd {
    background-color: #141414
    }
/*///////////////// Linefield /////////////////*/
html[lang="dd"] .linefield, html[lang="dd"] .roundfield {
    background-color: #0D0D0D;
    border: 1px solid black
    }
/*///////////////// Comments /////////////////*/
html[lang="dd"] div.thing.even.comment {
    background-color: #242424;
    border-radius: 4px
    }
html[lang="dd"] div.thing.odd.comment {
    background-color: #141414;
    border-radius: 4px
    }
/* Changes colour of textbox without affecting sidebar */
html[lang="dd"] div.expando > form > div.usertext-body > div.md {
    border-color: #A30000;
    background-color: #400000
    }
/* Changes the focus highlight colour for submissions and comments */
html[lang="dd"] div.entry.likes.keyHighlight, html[lang="dd"] div.entry.unvoted.keyHighlight, html[lang="dd"] div.entry.voted.keyHighlight {
    background-color: #0D0D0D
    }
/*///////////////// Change the visited link color /////////////////*/
html[lang="dd"] a:visited, html[lang="dd"] .thing .title.loggedin:visited, html [lang="dd"] .thing .title:visited {
    color: #855151
    }
/*///////////////// And the color of the links you haven't visited 

/////////////////*/
html[lang="dd"] .thing .title.loggedin, html[lang="dd"] .thing .title {
    color: red
    }
/*///////////////// Removes the annoying background behind the text of the stuff 

in the Admin Box /////////////////*/
html[lang="dd"] .icon-menu a {
    background: none
    }
/*///////////////// Get rid of the "Create a community" button 

/////////////////*/
html[lang="dd"] .side .spacer .submit .spacer {
    display: none
    }
html[lang="dd"] .side .spacer .create {
    display: none
    }
/*///////////////// infobar /////////////////*/
html[lang="dd"] .infobar, html[lang="dd"] .linkinfo {
    background-color: black;
    border: 1px solid orange
    }
/*///////////////// Colours! Tabs! /////////////////*/
html[lang="dd"] .tabmenu li a, html[lang="dd"] .tabmenu formtab {
    background-color: #1C1C1C
    }
html[lang="dd"] li.selected a {
    background-color: black;
    border: 1px solid red
    }
html[lang="dd"] .tabmenu li.selected a {
    background-color: #2B2B2B;
    border: 1px solid red
    }
/* Background colour of the main page, and regular text colour */
html[lang="dd"] body, html[lang="dd"] .side, html[lang="dd"] .subtitle, html [lang="dd"] .spacer, html[lang="dd"] .sidebox submit {
    background-color: #121212;
    color: lightblue
    }
/* Table stuff */
html[lang="dd"] .side table td, html[lang="dd"] .side table th {
    border-color: red
    }
html[lang="dd"] .side table th {
    background-color: darkred
    }
/* Removes background on "you are a moderator" and "show my flair, bitchz" */
html[lang="dd"] form.toggle.flairtoggle, html[lang="dd"] form.toggle.leavemoderator-button, html[lang="dd"] div.leavemoderator {
    background: none
    }
/* Reddit Gold highlights */
html[lang="dd"] .new-comment .usertext-body {
    background-color: #021414;
    border: solid 1px black;
    margin: -1px 0;
    box-shadow: 0px 0px 15px #888;
    /* blur offset 0 0 radius 15 colour 888 */
    }
/*/////////////// All credit for this goes to gavin19 - I slightly modified it, but accept no credit for it
///////////////// Stops RES from interfering with the comment boxes */
html[lang="dd"] .comments-page .commentarea .comment {
    background-color: #000000 !important
    }
html[lang="dd"] .comments-page .commentarea .comment .comment {
    background-color: #000000 !important
    }
html[lang="dd"] .comments-page .commentarea .comment .comment .comment {
    background-color: #000000 !important
    }
html[lang="dd"] .comments-page .commentarea .comment .comment .comment .comment {
    background-color: #000000 !important
    }
html[lang="dd"] .comments-page .commentarea .comment .comment .comment .comment .comment {
    background-color: #000000 !important
    }
html[lang="dd"] .comments-page .commentarea .comment .comment .comment .comment .comment .comment {
    background-color: #000000 !important
    }
html[lang="dd"] .comments-page .commentarea .comment .comment .comment .comment .comment .comment .comment {
    background-color: #000000 !important
    }
html[lang="dd"] .comments-page .commentarea .comment .comment .comment .comment .comment .comment .comment .comment {
    background-color: #000000 !important
    }
html[lang="dd"] .comments-page .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background-color: #000000 !important
    }
html[lang="dd"] body:not(.res-nightmode) .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background-color: #000000 !important
    }