/* One does not simply Matt into Damon*/
/*
                             .      .                                           
                ......,?I+==?~=~. ..                                            
         . .  . .~$88NNNNNNNNNNNNO=,..                                          
               ..ODDNNNNNNNNNNNNNNO7...                                         
              ,?NNNNNNDDDNDNNNNNNN8O?.                                          
              =DNDNNNNNDDDD8888D8ZZZ+.                                          
            ..=NNDNNNNNDDZZZ$??I77Z$8..                                         
            . =DNNNMNNNND788?~~=+7DD8,                                          
              ,NNNNNNND8Z?+=~~~~~=$O8:                                          
               8NNNNOZ77+==~::::~=$8D~..                                        
              ..MNNN8I?++=~~::::~~~?O~7?                                        
              ..ONNN87?+===~::::~~~=7,=I                                        
              ...DNN8I+=~+===+++++~~+:+=                                        
               ..DDNN8$I?+??7$OI+~~~=+~=.                                       
                 +8DDNDZNO::~~~~=::~=~~,.                                       
                .,DDNO7I88~:~==~::~~=~:.                                        
                ..?DD$??8N=~~~+7+==~==                                          
                 ..?N8I7ND$++~::~+~==+..                                        
                  . $DZZNDI==+++~+==+=8,... .                                   
                  ...N$8D8Z$I=~~~~+++~O,.. .                                    
                    .,N8ZD8$++=~~~++~::...$I....                                
                     . ~DNI?++=~~==~~Z....?MNN$I, .....                         
                     ..,NDND7+?++~~=7~....8NNNNNDDD87:  ...                     
                    .. =NND8OZ7?==+?Z....,NNNNNNNNNNNN88+....                   
                  ...=NN$NOOZ$+++?ON,....8NNDNDNDDNNN7,,,,.... .                
             .... :?MNNN:?77III?78Z=MM..=NNDNNDNDDNDN:,,........                
             . .:OMNNNNN,:8$I?I7OD.~MN,.NNNDDDNNDNNND,,..........               
               INNNNNNMOM8ZIII$O8,$8DN~?NNNDDDNDNNNNO.............              
          .. 7NNNNNNNNNN$NND8++7O8OODINNNNDDDNNNNNNND..............             
        ...:8ZNNNNNNNNNNNNNN8NNM+N8DI+NNNNDDNNNNNNNNM,.............             
        ..78IONNNNNNNNNNNNONNNN$ON8I.8NNNNDDNNNDNNNNM~..............            
         =Z7=DNNNNNNNNNNN78NNND8OZ,,+NNNNNDNNNDDNNNNN?.,...,........            
       ..D7=~DNNNNNNNNNNND8NNNDOOZ,,DNNNNNDNNNNNNNNNN$,:...,...........         
        .M$~~NNNNNNNNNNNNNI$NNNDOO~?NNNNNNNNNNNDNNNNNN:~...,...........         
        .NZ=:NNNNNNNNNNNNNOINNNN8ZZ8NNNNNNNNNNNNNNNNNM?:...,..,........         
       .=N7+,DNNNNNNNNNNNNNZZNNND8DNNNNNNNNNNNNNNNNNNNZ7,..,..,,.......         
        ZNOI:OMNNNNNNNNNNNNN?NNND8NNNNNNNNNNNNNNNNNNNNMO:.....,,,......         
      ..DD+Z=?NNNNNNNNNNNNNNINNNNNNNNNNNNNNNNNNNNNNNNNNM=.,...,,:.......        
      . D8+?8?NNNNNNNNNNNNNMO8NNNNNNNNNNNNNNNNNNNNNNNDNNO.,,,,,,:........       
     .. MD$~IZNNNNNNNNNNNNNNM8NNNNNNNNNNNNNNNNNNNNDNNDNNN.:,:,,,:,.......       
      ..MN87~$O8NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNDNNN.~=~,,,~:........      
      ..88D8=IDN8NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNM+=?=:,:=:....... .     
      ..$$DD??DNN8NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN8I$+:::=:,........     
      . 7?$88+ODNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN88O=~~===~.......     
     .. I?IIO$ONNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNND87IZ$7?~,.......   
       =7~?77Z78NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNM~+$ZII+?,,.,:=::.   
       $Z~=I77$ZNNNDNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN+.O,II.:+:::,,,,.   
      =DO?~~I7$$8NNDNNNNNNNNNNNNNNNNNNNNDNNNNNNNNNNNNNNNNNNN .DZ:,,........,.   
    ..O8I+===I$ZDNNDDNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN 7:,,,,.....,,.,.   
      8OOOII+IZ8NNNNNNNNNNNNNNNN88NNNNNNNNNNNNNNNNNNNNNNNNNM:O:,,........,...   
      ZDO$?~:~=+$DNM$DNNNNNNNNNMDNNNNNNNNNNNNNNNNNNNNNNNNNNM$:,,.......... .    
      ..ID?==~~~=IDN?=NNNNNNNNNNNDNNNNNNNNNNNNNNNNNNNNNNNNN87+~............     
     ...8NO7?8ZZZ$NNO$NNNNNNNNNNNDNNNNNNNNNNNNNNNNNNNNNNNNII?+===:........      
      ..DNZZN888ON8OI~MNNNNNNNNNNNDDNNNNNNNNNNNND=+DNNNN$I+?+==++?:.......  .   
    . ..D8ODNNNNNN$I==NNNNNNNNNNNNNDDNNNNNNNNNNNDO?==~=ODO=++?++++Z=..,,.       
      ..$888NNNNNDZ++ONNNNNNNNNNNNNNNDDNNNNNNNNNN88ZZD+==7D$??++I7DN:....       
    . . .O8DDDNNDND$+I88=8NNNNNNDNNNDNNDNNNNNNNNN8DNNDZ+~??$7?7+..:~+....       
        .DNNNDNNNDNDZ=~~~+NNNNNNNNNNNNNNNNNNNNNNNN8DNO==~++=.~..........        
        . .+DDDD8DNM87III8NNNNDDNDNMNNNNNNNNNNNNNNNMD=~~==I:~                   
         ..   .. +NNN87+$NNNNNDDDDNNNNNNNNNNNNNN7?++~=+=~+$$M:..                
               ...,$8+=+NNNNNDDDDDNNNNNNNNNNNNNNZ8777+7+=7NNN7.                 
              ... +MNDNMNNNNN8DNDDNNNNNNNNNNNNNMNND8??~~+NNNN...                
                . NNNNNNNNNNNDDDNDNNNNNNNNNNNNNNNOZ7?=8NNNDDN$..                
                ..MNNNNNNN88NDDDDNNNNNNNNNNNNNNNNNNNNNNNNDDDN8..                
              ...MNNNNNNNNNNNNNNDDNNNNNNNNNNNNNNNNNNNNDD888DDN..                
              ..ONNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNDD8D88D8D,.                
             .. MNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNDDDDDDDDDDD+.                
              ..MNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNDDDDDDDDDDD$.                
              ...MNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNDDDDDDDDDDDDN8.                
                 :MNNNNNNNNNNNNNNNNNNNNNNNNNNNNNDDDDDDDDDNNNDNN,                
                . IMNNNNNNNNNNNNNNNNNNNNNNNNNNNNDDDDDDDDDDDNNNNZ                
                ..=DNNNNNNNNNNNNNNNNNNNNNNNNDDDDDDDDDDDD8DDDDDNO                
                  ,$NNNNNNNNNNNNNNNNNNNNNNNDDDDDDDDDDDDDDDDDDNN+                
*/
div.titlebox span.word {
    display: none
    }
div.titlebox span.number:after {
    content: " Damonites"
    }
body {
    background: url(http://c.thumbs.redditmedia.com/b2homXR2_T-gS_6J.png)
    }
.content {
    background: url(http://b.thumbs.redditmedia.com/Ykwz18VdBOnIUsxI.png) center top no-repeat;
    margin-top: -15px;
    padding-top: 15px
    }
.titlebox {
    background: transparent
    }
.titlebox .usertext-body .md {
    background: url(http://e.thumbs.redditmedia.com/yhARE9RvQ9IFO91j.png) bottom right no-repeat
    }
.sidecontentbox .content {
    min-height: 200px;
    background: url(http://e.thumbs.redditmedia.com/NCSpwTm9vzwypkvj.png) bottom right no-repeat
    }
#header-img {
    background: url(http://d.thumbs.redditmedia.com/5MRRNhSBqUQe10Mi.png);
    width: 0;
    height: 0;
    padding-top: 100px;
    padding-left: 70px
    }
#header-img:hover {
    background: url(http://b.thumbs.redditmedia.com/iXYZtkDktZladYDy.png)
    }
/* Updamon */
.midcol {
    width: 30px !important
    }
.arrow.upmod {
    background-image: url(http://b.thumbs.redditmedia.com/IYQquymqS5e5iljU.png);
    background-position: -22px 0;
    width: 22px;
    height: 30px
    }
.arrow.up {
    background-image: url(http://b.thumbs.redditmedia.com/IYQquymqS5e5iljU.png);
    background-position: 0 0;
    width: 22px;
    height: 30px
    }
.arrow.down {
    visibility: hidden;
    display: none
    }
/* Footer */
.footer-parent {
    height: 1000px;
    padding-top: 40px;
    padding-bottom: 40px;
    clear: both;
    text-align: center;
    width: 100%;
    background-image: url(http://a.thumbs.redditmedia.com/svavBcoPDFbvjcs0.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    margin-bottom: -20px
    }
.footer-parent:hover {
    background-image: url(http://c.thumbs.redditmedia.com/ExLLOaIOnbjjW238.png)
    }
/* Name Changes */
/* DrWafflesMD*/
a.author[href$="/DrWafflesMD"]:before {
    content: "Dr. Damon, MattDamon";
    font-size: 7pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
    }
.sidecontentbox a.author[href$="/DrWafflesMD"]:before {
    font-size: 7pt
    }
a.author[href$="/DrWafflesMD"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
    }
/* j-brony */
a.author[href$="/j-brony"]:before {
    content: "j-damon";
    font-size: 7pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
    }
.sidecontentbox a.author[href$="/j-brony"]:before {
    font-size: 7pt
    }
a.author[href$="/j-brony"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
    }
.titlebox .bottom a[href$="/j-brony"]:before {
    content: "ovenmittbandit";
    font-size: 7pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
    }
.titlebox .bottom a[href$="/j-brony"]:before {
    font-size: 7pt
    }
.titlebox .bottom a.author[href$="/j-brony"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
    }
/* Unsinkablesam*/
a.author[href$="/Unsinkablesam"]:before {
    content: "UndamonableSam";
    font-size: 7pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
    }
.sidecontentbox a.author[href$="/Unsinkablesam"]:before {
    font-size: 7pt
    }
a.author[href$="/Unsinkablesam"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
    }
/* I_must_be_new_here*/
a.author[href$="/I_must_be_new_here"]:before {
    content: "I_must_be_damon";
    font-size: 7pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
    }
.sidecontentbox a.author[href$="/I_must_be_new_here"]:before {
    font-size: 7pt
    }
a.author[href$="/I_must_be_new_here"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
    }
/* Subito_forte */
a.author[href$="/Subito_forte"]:before {
    content: "Damono_forte";
    font-size: 7pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
    }
.sidecontentbox a.author[href$="/Subito_forte"]:before {
    font-size: 7pt
    }
a.author[href$="/Subito_forte"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
    }
/* PhAzonic */
a.author[href$="/PhAzonic"]:before {
    content: "Mattzonic";
    font-size: 7pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
    }
.sidecontentbox a.author[href$="/PhAzonic"]:before {
    font-size: 7pt
    }
a.author[href$="/PhAzonic"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
    }
/* Ryoko */
a.author[href$="/RyokoHaze"]:before {
    content: "Damonohaze";
    font-size: 7pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
    }
.sidecontentbox a.author[href$="/RyokoHaze"]:before {
    font-size: 7pt
    }
a.author[href$="/RyokoHaze"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
    }
/* badjokemostlikely */
a.author[href$="/badjokemostlikely"]:before {
    content: "mattdamonmostlikely";
    font-size: 7pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
    }
.sidecontentbox a.author[href$="/badjokemostlikely"]:before {
    font-size: 7pt
    }
a.author[href$="/badjokemostlikely"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
    }
/* ilonis */
a.author[href$="/Ilonis"]:before {
    content: "damonis";
    font-size: 7pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
    }
.sidecontentbox a.author[href$="/Ilonis"]:before {
    font-size: 7pt
    }
a.author[href$="/Ilonis"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
    }
/* CraftD */
a.author[href$="/CraftD"]:before {
    content: "CraftDamon";
    font-size: 7pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
    }
.sidecontentbox a.author[href$="/CraftD"]:before {
    font-size: 7pt
    }
a.author[href$="/CraftD"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
    }
/* Coggler */
a.author[href$="/Coggler"]:before {
    content: "Damoggler";
    font-size: 7pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
    }
.sidecontentbox a.author[href$="/Coggler"]:before {
    font-size: 7pt
    }
a.author[href$="/Coggler"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
    }
/* ovenmattbandit */
a.author[href$="/ovenmittbandit"]:before {
    content: "ovenmattbandit";
    font-size: 7pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
    }
.sidecontentbox a.author[href$="/ovenmittbandit"]:before {
    font-size: 7pt
    }
a.author[href$="/ovenmittbandit"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
    }
/*Damonflair*/
.flair {
    background: none;
    color: black;
    border: 0;
    border-radius: 0;
    background-image: url(http://a.thumbs.redditmedia.com/kgFkYcAnZo_NumTT.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 26px;
    height: 32px
    }
.flair-00 {
    background-position: -30px -2px
    }
.flair-01 {
    background-position: -0px -2px
    }
/* Emotes */
a[href|="/eeewat"], a[href|="/cheeriwat"] {
    display: block;
    clear: none;
    float: left;
    background-image: url(http://a.thumbs.redditmedia.com/3DMawCWtihrXBe1N.png)
    }
a[href|="/eeewat"] {
    width: 266px;
    height: 389px;
    background-position: 0px -24px
    }
a[href|="/cheeriwat"] {
    width: 266px;
    height: 312px;
    background-position: -266px -92px
    }
a[href|="/damoneyes"], a[href|="/damonflip"], a[href|="/damonfun"], a[href|="/damonnannersspiders"], a[href|="/damonplot"], a[href|="/damonsalute"], a[href|="/damonstop"], a[href|="/damonwithit"] {
    display: block;
    clear: none;
    float: left;
    background-image: url(http://f.thumbs.redditmedia.com/T1WNIh53sRcVlJhY.png)
    }
a[href|="/damoneyes"] {
    width: 168px;
    height: 250px;
    background-position: -2px -2px
    }
a[href|="/damonflip"] {
    width: 253px;
    height: 200px;
    background-position: -172px -2px
    }
a[href|="/damonfun"] {
    width: 250px;
    height: 171px;
    background-position: -427px -2px
    }
a[href|="/damonnannersspiders"] {
    width: 295px;
    height: 200px;
    background-position: -679px -2px
    }
a[href|="/damonplot"] {
    width: 261px;
    height: 200px;
    background-position: -2px -254px
    }
a[href|="/damonsalute"] {
    width: 172px;
    height: 200px;
    background-position: -265px -254px
    }
a[href|="/damonstop"] {
    width: 200px;
    height: 190px;
    background-position: -439px -254px
    }
a[href|="/damonwithit"] {
    width: 149px;
    height: 200px;
    background-position: -641px -254px
    }
a[href|="/rdamoneyes"], a[href|="/rdamonflip"], a[href|="/rdamonfun"], a[href|="/rdamonnannersspiders"], a[href|="/rdamonplot"], a[href|="/rdamonsalute"], a[href|="/rdamonstop"], a[href|="/rdamonwithit"] {
    display: block;
    clear: none;
    float: left;
    background-image: url(http://d.thumbs.redditmedia.com/vORpieYzfTya9Bqu.png)
    }
a[href|="/rdamoneyes"] {
    width: 168px;
    height: 250px;
    background-position: -2px -2px
    }
a[href|="/rdamonflip"] {
    width: 253px;
    height: 200px;
    background-position: -172px -2px
    }
a[href|="/rdamonfun"] {
    width: 250px;
    height: 171px;
    background-position: -427px -2px
    }
a[href|="/rdamonnannersspiders"] {
    width: 295px;
    height: 200px;
    background-position: -679px -2px
    }
a[href|="/rdamonplot"] {
    width: 261px;
    height: 200px;
    background-position: -2px -254px
    }
a[href|="/rdamonsalute"] {
    width: 283px;
    height: 200px;
    background-position: -265px -254px
    }
a[href|="/rdamonstop"] {
    width: 200px;
    height: 190px;
    background-position: -550px -254px
    }
a[href|="/rdamonwithit"] {
    width: 149px;
    height: 200px;
    background-position: -752px -254px
    }
a[href|="/damoncorn"] {
    width: 250px;
    height: 315px;
    background-image: url(http://a.thumbs.redditmedia.com/rGA4LAPcCkYCIsVB.png);
    display: block;
    clear: none;
    float: left;
    margin-left: 3px;
    margin-right: 3px
    }
a[href|="/damonwhat"] {
    width: 450px;
    height: 320px;
    background-image: url(http://e.thumbs.redditmedia.com/t_2V13gM2jrZzu3R.png);
    display: block;
    clear: none;
    float: left;
    margin-left: 3px;
    margin-right: 3px
    }
a[href|="/damonshrug"] {
    width: 200px;
    height: 207px;
    background-image: url(http://f.thumbs.redditmedia.com/K05mIvLOPSyB0oJ_.png);
    display: block;
    clear: none;
    float: left;
    margin-left: 3px;
    margin-right: 3px
    }
/* RES Nightmode flair fix */
.res-nightmode .content .flair {
    background-color: transparent !important
    }