/* RDJ's name change for being awesome. CopyPaste*/
a.author[href$="RogueDarkJedi"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="RogueDarkJedi"]:after {
    content: "RainbowDushJudi";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }
/* change my name and flair */
a.author[href$="wintrparkgrl"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="wintrparkgrl"]:after {
    content: "Master Wintr" url(http://f.thumbs.redditmedia.com/zS8Qmi3bG6_4drie.png);
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }
a.author[href$="I_Love_Fluttershy"]:after {
    content: url(http://c.thumbs.redditmedia.com/rqQRy3I_gXpHHCRD.png)
    }
/* CHANGING MAH OWN NAME */
a.author[href$="DarkSideOfTheSun"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="DarkSideOfTheSun"]:after {
    content: "{CMC}Scootaloo";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }
/* CHANGING CHINCH */
a.author[href$="Chinch335"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="Chinch335"]:after {
    content: "Chinchy";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }
/* NO QUESTIONS */
a.author[href$="notfinalcountdown"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="notfinalcountdown"]:after {
    content: "{CMC}Gummy";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }
/* NO QUESTIONS */
a.author[href$="andysonic2"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="andysonic2"]:after {
    content: "andysonic3";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }
a.author[href$="GoodChanceAndLuck"] {
    font-size: 0px !important;
    display: inline-block
    }
a.author[href$="GoodChanceAndLuck"]:before {
    content: "Pinkie Pie!";
    font-size: 11px !important;
    visibility: visible !important
    }
a.author[href$="ObsequiousEmu"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="ObsequiousEmu"]:after {
    content: "ObsequiousEmy";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }
a.author[href$="BlockJuice"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="BlockJuice"]:after {
    content: "ROW ROW FIGHT THE POWAH";
    font-size: 15px !important;
    color: red !important;
    font-weight: bold !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }
a.author[href$="reahidru"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="reahidru"]:after {
    content: "lol i changed my name anyway";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }
/* EMOTES */
a[href|="/caff"] {
    display: block;
    clear: none;
    float: left;
    width: 388px;
    height: 300px;
    background-image: url(http://d.thumbs.redditmedia.com/bUE83VcG6h4MMjGc.png)
    }
a[href|="/ajmad"] {
    display: block;
    clear: none;
    float: left;
    width: 615px;
    height: 521px;
    background-image: url(http://e.thumbs.redditmedia.com/r5J7XSEF5hZeziYj.png)
    }
a[href|="/scootafine"] {
    display: block;
    clear: none;
    float: left;
    width: 573px;
    height: 635px;
    background-image: url(http://c.thumbs.redditmedia.com/EBQ-eyN3A3Mmz-ut.png)
    }
a[href|="/bob"] {
    display: block;
    clear: none;
    float: left;
    width: 600px;
    height: 300px;
    background-image: url(http://e.thumbs.redditmedia.com/KZObczZ0_FF4gnfv.png)
    }
a[href|="/scotch"] {
    display: block;
    clear: none;
    float: left;
    width: 518px;
    height: 400px;
    background-image: url(http://b.thumbs.redditmedia.com/mSuToA4_1sP6ABII.png)
    }
a[href|="/andy"], a[href|="/books"], a[href|="/kitty"] {
    display: block;
    clear: none;
    float: left;
    background-image: url(http://b.thumbs.redditmedia.com/8TBQKf8dRuoPbc5I.png)
    }
a[href|="/andy"] {
    width: 396px;
    height: 403px;
    background-position: -0px -0px
    }
a[href|="/kitty"] {
    width: 306px;
    height: 300px;
    background-position: -430px -91px
    }
a[href|="/books"] {
    width: 70px;
    height: 71px;
    background-position: -552px -0px
    }
a[href|="/fut1"], a[href|="/fut2"], a[href|="/fut3"], a[href|="/fut4"], a[href|="/fut5"], a[href|="/fut6"], a[href|="/fut7"], a[href|="/fut8"], a[href|="/fut9"], a[href|="/fut10"], a[href|="/fut11"], a[href|="/fut12"] {
    display: block;
    clear: none;
    float: left;
    background-image: url(http://e.thumbs.redditmedia.com/SNPxQ14WGB7Hi-Ed.png)
    }
a[href|="/fut1"] {
    height: 400px;
    width: 280px;
    background-position: 0 0
    }
a[href|="/fut2"] {
    height: 225px;
    width: 353px;
    background-position: -280px 0
    }
a[href|="/fut3"] {
    height: 300px;
    width: 244px;
    background-position: -280px -225px
    }
a[href|="/fut4"] {
    height: 400px;
    width: 303px;
    background-position: -524px -225px
    }
a[href|="/fut5"] {
    height: 300px;
    width: 282px;
    background-position: -827px -225px
    }
a[href|="/fut6"] {
    height: 200px;
    width: 249px;
    background-position: -633px 0
    }
a[href|="/fut7"] {
    height: 250px;
    width: 304px;
    background-position: -524px -625px
    }
a[href|="/fut8"] {
    height: 250px;
    width: 242px;
    background-position: -280px -525px
    }
a[href|="/fut9"] {
    height: 250px;
    width: 280px;
    background-position: -828px -625px
    }
a[href|="/fut10"] {
    height: 200px;
    width: 170px;
    background-position: 0 -400px
    }
a[href|="/fut11"] {
    height: 200px;
    width: 178px;
    background-position: 0 -600px
    }
a[href|="/fut12"] {
    height: 200px;
    width: 242px;
    background-position: 0 -800px
    }
a[href|="/fut13"], a[href|="/futacute"], a[href|="/fut14"], a[href|="/futaplot"], a[href|="/fut15"], a[href|="/futapomf"] {
    display: block;
    clear: none;
    float: left;
    background-image: url(http://f.thumbs.redditmedia.com/KI35_MyKz9dMe57e.png)
    }
a[href|="/fut13"], a[href|="/futacute"] {
    height: 300px;
    width: 253px;
    background-position: 0 0
    }
a[href|="/fut14"], a[href|="/futaplot"] {
    height: 345px;
    width: 400px;
    background-position: -253px 0
    }
a[href|="/fut15"], a[href|="/futapomf"] {
    height: 352px;
    width: 350px;
    background-position: -253px -345px
    }
/*
#header-bottom-left {
background: url(%%taller%%) scroll center center no-repeat
}*/
/*body {
    background: url(%%background%%) fixed center center;
}*/
/* FUTASHEET! */
/* HAIL TO THE PRINCESS, BABY */
body {
    width: 960px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 0;
    background: url(http://a.thumbs.redditmedia.com/ZMnMzV0vQxOcaFnN.png) 50% 55px no-repeat
    }
.content {
    margin-top: 435px
    }
#header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    background: none;
    height: 189px;
    border: 0
    }
#sr-header-area {
    height: 10px;
    border: 0;
    border-bottom: 2px #DD2D2D solid
    }
#sr-header-area .separator {
    float: left
    }
#sr-header-area li {
    display: block;
    float: left
    }
#sr-header-area .srdrop {
    float: left
    }
#header-bottom-right {
    bottom: auto;
    background-color: #F6F6F6;
    top: 18px;
    right: 50%;
    margin-right: -476px;
    z-index: 24;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    display: block;
    height: 30px;
    border: 1px solid #E8E8E8;
    border-top: none;
    padding: 0px 15px;
    font-size: 11px;
    font-family: "Gill Sans", "Century Gothic", helvetica, arial;
    text-transform: uppercase;
    line-height: 250%
    }
#header-bottom-right .separator, #header-bottom-right .flat-list, #header-bottom-right #modmail, #header-bottom-right form {
    display: none
    }
#header-bottom-right a {
    color: #08406B !important
    }
#header-bottom-right .user {
    padding-right: 10px
    }
#header-bottom-left #header-img-a {
    width: 111px;
    height: 27px;
    left: 50%;
    margin-left: -486px;
    position: absolute;
    top: 20px
    }
#header-bottom-right .user b {
    font-weight: normal;
    color: #08406B !important
    }
#header-bottom-right .user {
    color: #08406B !important;
    letter-spacing: 1px
    }
#header-bottom-left #header-img-a img {
    margin-top: 5px
    }
#header-bottom-left ul.tabmenu {
    position: absolute;
    width: 960px;
    height: 30px;
    background-color: #F6F6F6;
    left: 50%;
    top: 205px;
    margin-left: -480px
    }
#header-bottom-left ul.tabmenu li {
    float: left;
    display: inline-block
    }
#header-bottom-left .redditname {
    width: 30px;
    position: relative;
    top: 176px;
    left: 50%;
    margin-left: -480px;
    padding: 0;
    display: block;
    z-index: 500
    }
#header-bottom-left .redditname a {
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -1000px;
    background-image: url(http://a.thumbs.redditmedia.com/HhlKykCwPzPn2WJr.png);
    background-position: top left;
    background-repeat: no-repeat
    }
#header-bottom-left .redditname a:hover {
    background-position: 0 -30px
    }
#header-bottom-left ul.tabmenu li {
    margin: 0
    }
#header-bottom-left ul.tabmenu li a {
    display: block;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    height: 30px;
    border: 1px #e8e8e8 solid;
    padding: 0px 15px;
    color: #08406b !important;
    font-size: 12px;
    font-family: MinionProBold, "Times New Roman", Times, serif;
    text-transform: uppercase;
    line-height: 250%
    }
#header-bottom-left ul.tabmenu li a:hover {
    background-color: #e83024;
    border: 1px #e83024 solid;
    color: white !important;
    text-shadow: 0px 1px 0px #ec443f
    }
#header-bottom-left ul.tabmenu li:first-child a {
    border-left: 1px #e8e8e8 solid;
    margin-left: 29px
    }
#header-bottom-left ul.tabmenu li.selected a {
    background-color: #e83024;
    border: 1px #e83024 solid;
    color: white !important;
    text-shadow: 0px 1px 0px #ec443f
    }
.link .score.likes {
    color: #e83024
    }
.link .score.dislikes {
    color: #456482
    }
/*.arrow.upmod, .arrow.downmod {
    background-image: url(%%t5-2rquq-4%%)
    }*/
form#newlink {
    margin-top: 0 !important
    }
div.side {
    margin-top: 440px;
    background-color: #f7f7f7;
    height: 100% !important
    }
div.side .titlebox {
    border: 1px #456482 solid;
    padding: 10px
    }
.linkinfo {
    background-color: white;
    border: 1px solid #456482;
    font-size: larger;
    padding: 6px;
    border-radius: 0px
    }
.link, .commentarea {
    overflow: hidden
    }
.link.last-clicked {
    border: inherit
    }
.domain {
    font-family: "Gill Sans", "Century Gothic", helvetica, arial;
    text-transform: uppercase
    }
div.side .titlebox h1.redditname a {
    color: white;
    font-family: "Gill Sans", "Century Gothic", helvetica, arial;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0px
    }
div.side .titlebox h1.redditname a:after {
    color: #456482;
    font-size: 17px;
    content: "THE SOLAR EMPIRE"
    }
div.side .titlebox form.toggle {
    background-color: transparent
    }
.sidecontentbox {
    background-color: #9d0000;
    background-image: url(http://c.thumbs.redditmedia.com/K7QiPFml2up1kZYJ.png);
    background-position: top right;
    background-repeat: no-repeat;
    color: white
    }
.sidecontentbox h1 {
    font-size: 14px;
    font-family: MinionProBold, "Times New Roman", Times, serif;
    font-weight: 500;
    color: white;
    padding: 10px
    }
.sidecontentbox ul {
    background-color: #132335
    }
.sidecontentbox ul li ul li {
    border-bottom: 1px #456482 solid;
    padding: 6px
    }
.sidecontentbox ul li ul li:last-child {
    border-bottom: none
    }
.icon-menu a {
    background: transparent;
    background-repeat: no-repeat
    }
.sidecontentbox a {
    color: white;
    font-family: "Gill Sans", "Century Gothic", helvetica, arial;
    text-transform: uppercase;
    font-size: 17px
    }
.sidecontentbox a.helplink {
    font-size: 10px;
    margin-right: 14px;
    margin-top: 11px
    }
.sidecontentbox a.helplink ~ ul.content li {
    padding: 6px;
    border-bottom: 1px #456482 solid
    }
.sidecontentbox a.helplink ~ ul.content li:last-child {
    border-bottom: none
    }
.sidecontentbox a.helplink ~ ul.content li a:hover {
    text-decoration: underline
    }
.sidecontentbox div.reddit-link {
    border-bottom: 1px #456482 solid;
    padding: 12px 6px
    }
.sidecontentbox a.reddit-comment-link {
    font-size: 10px;
    color: #DD2D2D
    }
.sidecontentbox span.score {
    color: #BFC9D8;
    font-size: 9px
    }
.sidecontentbox .gadget .reddit-link-end {
    padding: 0px
    }
.sidecontentbox .click-gadget ~ .right a {
    font-size: 10px;
    color: #DD2D2D
    }
.link {
    position: relative
    }
.link .rank {
    display: block;
    background-color: #e6e6e6;
    color: gray;
    position: absolute;
    font-size: 10px;
    padding: 4px;
    width: auto;
    top: -16px;
    left: 0px
    }
.thing .title, .thing .title.loggedin {
    color: #476581 !important;
    font-family: MinionProBold, "Times New Roman", Times, serif;
    font-size: 25px;
    line-height: 23px
    }
#siteTable .thing.link {
    display: inline-block;
    margin: 0;
    padding: 18px 8px 12px 8px;
    background-image: url(http://b.thumbs.redditmedia.com/xSBhQNMPve6Jyf4g.png);
    background-position: top left;
    background-repeat: repeat-x;
    width: 604px
    }
#siteTable .midcol {
    margin-left: -6px;
    margin-top: 8px
    }
.entry {
    padding-left: 16px
    }
.comments .entry {
    padding-left: 4px
    }
.nextprev {
    clear: left;
    background-image: url(http://b.thumbs.redditmedia.com/xSBhQNMPve6Jyf4g.png);
    background-position: left top;
    background-repeat: repeat-x;
    padding: 18px 8px 12px
    }
.link .rank {
    text-align: center
    }
form#sharelink_ ~ #siteTable {
    max-width: 730px
    }
form#sharelink_ ~ #siteTable .thing.link {
    width: 294px;
    float: left;
    margin-left: 12px
    }
form#sharelink_ ~ #siteTable .thing.link.even.odd {
    float: left;
    clear: left;
    margin-left: inherit
    }
#siteTable .thing.link .flat-list.buttons {
    font-size: 9px;
    text-transform: uppercase
    }
.entry .buttons li {
    display: inline-block
    }
.entry .buttons li + li {
    padding: 2px
    }
.entry .buttons li a {
    font-weight: normal;
    color: #DD2D2D;
    padding: 0
    }
form#sharelink_ ~ #siteTable div.clearleft {
    clear: none
    }
div.footer {
    padding-top: 100px;
    background-image: url(http://a.thumbs.redditmedia.com/bfm1NOIok9YAiLu0.png);
    background-position: top center;
    background-repeat: no-repeat;
    font-size: 10px;
    border: none
    }
div.footer-parent:after {
    content: url(http://c.thumbs.redditmedia.com/bjAjUtkusVXP1br8.jpg);
    margin-bottom: -35px
    }
div.footer li {
    padding-bottom: 3px
    }
div.footer a {
    color: #707070
    }
.footer .col {
    border-left: none
    }
div.footer .flat-vert.title {
    color: #132335;
    font-family: "Gill Sans", "Century Gothic", helvetica, arial;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 0px
    }
/*.sidebox.submit, .sidebox.create, #adlink {
    display: none
    }*/
.titlebox .usertext {
    position: static
    }
.titlebox a[href="http://solar-empire.deviantart.com/"] {
    display: block;
    position: absolute;
    top: 240px;
    left: 50%;
    margin-left: -480px;
    width: 960px;
    height: 370px;
    text-indent: -9999px;
    background-image: url(http://a.thumbs.redditmedia.com/--1KfHC_oynHUFWB.png);
    background-position: top left;
    background-repeat: no-repeat;
    z-index: 501
    }
body {
    font-family: "comic sans ms", cursive
    }