/*A semi solution! We can add all of our animated emotes here to save room on r/thebestpony. Yay!*/
/*******
*Header*
******/
#header-img {
    margin-top: 100px;
    margin-left: 5px;
    position: absolute
    }
#header-bottom-left {
    background: url(http://d.thumbs.redditmedia.com/R9-LH2VPbhcuZQRu.png);
    background-color: #9fa49d;
    background-repeat: repeat-x;
    background-position: 50% 0px;
    height: 100px
    }
.pagename a {
    position: absolute;
    top: 142px;
    left: 125px
    }
.content {
    margin: 60px 5px 0px 5px
    }
ul.tabmenu {
    position: absolute;
    top: 160px;
    left: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
    }
ul.tabmenu:after {
    clear: both
    }
ul.tabmenu li a, ul.tabmenu li.selected a {
    background-color: transparent;
    border: 0;
    font-weight: normal
    }
/* sidebar image
.side {
    background: url(%%test%%) no-repeat;
    background-color: #FFFFFF;
    margin-top: 5px;
    padding-top: 458px
    }*/
/*Standard Emotes*/
/*BPF2 emutes*/
a[href|="/bpf30"], a[href|="/bpf31"], a[href|="/bpf32"], a[href|="/bpf33"], a[href|="/bpf34"], a[href|="/bpf35"], a[href|="/bpf36"], a[href|="/bpf37"], a[href|="/bpf38"], a[href|="/bpf39"], a[href|="/bpf40"], a[href|="/bpf41"], a[href|="/bpf42"], a[href|="/bpf43"], a[href|="/bpf44"], a[href|="/bpf45"], a[href|="/bpf46"], a[href|="/bpf47"], a[href|="/bpf48"], a[href|="/bpf49"], a[href|="/bpf50"], a[href|="/bpf51"], a[href|="/bpf52"], a[href|="/bpf53"], a[href|="/bpf54"], a[href|="/bpf55"], a[href|="/bpf56"], a[href|="/bpf57"], a[href|="/bpf58"], a[href|="/bpf59"], a[href|="/abworry"], a[href|="/ajeng"], a[href|="/ajfear"], a[href|="/avocado"], a[href|="/celbutterfly"], a[href|="/celestpunk"], a[href|="/cheersrsly"], a[href|="/colmad"], a[href|="/crankysuave"], a[href|="/dashin"], a[href|="/datspitfire"], a[href|="/djhello"], a[href|="/fsjoy"], a[href|="/ironwill"], a[href|="/macshock"], a[href|="/ppglass"], a[href|="/cheerwink"], a[href|="/ppshutup"], a[href|="/rarhungry"], a[href|="/pinkin"], a[href|="/raruhoh"], a[href|="/rdcoffee"], a[href|="/rdhide"], a[href|="/sbshock"], a[href|="/scootrage"], a[href|="/twidothis"], a[href|="/chsquash"], a[href|="/twisilly"], a[href|="/takeheart"], a[href|="/takemoney"], a[href|="/rbpf30"], a[href|="/rbpf31"], a[href|="/rbpf32"], a[href|="/rbpf33"], a[href|="/rbpf34"], a[href|="/rbpf35"], a[href|="/rbpf36"], a[href|="/rbpf37"], a[href|="/rbpf38"], a[href|="/rbpf39"], a[href|="/rbpf40"], a[href|="/rbpf41"], a[href|="/rbpf42"], a[href|="/rbpf43"], a[href|="/rbpf44"], a[href|="/rbpf45"], a[href|="/rbpf46"], a[href|="/rbpf47"], a[href|="/rbpf48"], a[href|="/rbpf49"], a[href|="/rbpf50"], a[href|="/rbpf51"], a[href|="/rbpf52"], a[href|="/rbpf53"], a[href|="/rbpf54"], a[href|="/rbpf55"], a[href|="/rbpf56"], a[href|="/rbpf57"], a[href|="/rbpf58"], a[href|="/rbpf59"], a[href|="/rabworry"], a[href|="/rajeng"], a[href|="/rajfear"], a[href|="/ravocado"], a[href|="/rcelbutterfly"], a[href|="/rcelestpunk"], a[href|="/rcheersrsly"], a[href|="/rcolmad"], a[href|="/rcrankysuave"], a[href|="/rdashin"], a[href|="/rdatspitfire"], a[href|="/rdjhello"], a[href|="/rfsjoy"], a[href|="/rironwill"], a[href|="/rmacshock"], a[href|="/rppglass"], a[href|="/rcheerwink"], a[href|="/rppshutup"], a[href|="/rrarhungry"], a[href|="/rpinkin"], a[href|="/rraruhoh"], a[href|="/rrdcoffee"], a[href|="/rrdhide"], a[href|="/rsbshock"], a[href|="/rscootrage"], a[href|="/rtwidothis"], a[href|="/rchsquash"], a[href|="/rtwisilly"], a[href|="/rtakeheart"], a[href|="/rtakemoney"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://f.thumbs.redditmedia.com/bKBBj_cB04pK57o_.png)
    }
a[href|="/bpf30"], a[href|="/abworry"] {
    background-position: -0px -0px
    }
a[href|="/bpf31"], a[href|="/ajeng"] {
    background-position: -0px -70px
    }
a[href|="/bpf32"], a[href|="/ajfear"] {
    background-position: -0px -140px
    }
a[href|="/bpf33"], a[href|="/avocado"] {
    background-position: -0px -210px
    }
a[href|="/bpf34"], a[href|="/celbutterfly"] {
    background-position: -0px -280px
    }
a[href|="/bpf35"], a[href|="/celestpunk"] {
    background-position: -0px -350px
    }
a[href|="/bpf36"], a[href|="/cheersrsly"] {
    background-position: -0px -420px
    }
a[href|="/bpf37"], a[href|="/colmad"] {
    background-position: -0px -490px
    }
a[href|="/bpf38"], a[href|="/crankysuave"] {
    background-position: -0px -560px
    }
a[href|="/bpf39"], a[href|="/dashin"] {
    background-position: -0px -630px
    }
a[href|="/bpf40"], a[href|="/datspitfire"] {
    background-position: -70px -0px
    }
a[href|="/bpf41"], a[href|="/djhello"] {
    background-position: -70px -70px
    }
a[href|="/bpf42"], a[href|="/fsjoy"] {
    background-position: -70px -140px
    }
a[href|="/bpf43"], a[href|="/ironwill"] {
    background-position: -70px -210px
    }
a[href|="/bpf44"], a[href|="/macshock"] {
    background-position: -70px -280px
    }
a[href|="/bpf45"], a[href|="/ppglass"] {
    background-position: -70px -350px
    }
a[href|="/bpf46"], a[href|="/cheerwink"] {
    background-position: -70px -420px
    }
a[href|="/bpf47"], a[href|="/ppshutup"] {
    background-position: -70px -490px
    }
a[href|="/bpf48"], a[href|="/rarhungry"] {
    background-position: -70px -560px
    }
a[href|="/bpf49"], a[href|="/pinkin"] {
    background-position: -70px -630px
    }
a[href|="/bpf50"], a[href|="/raruhoh"] {
    background-position: -140px -0px
    }
a[href|="/bpf51"], a[href|="/rdcoffee"] {
    background-position: -140px -70px
    }
a[href|="/bpf52"], a[href|="/rdhide"] {
    background-position: -140px -140px
    }
a[href|="/bpf53"], a[href|="/sbshock"] {
    background-position: -140px -210px
    }
a[href|="/bpf54"], a[href|="/scootrage"] {
    background-position: -140px -280px
    }
a[href|="/bpf55"], a[href|="/twidothis"] {
    background-position: -140px -350px
    }
a[href|="/bpf56"], a[href|="/chsquash"] {
    background-position: -140px -420px
    }
a[href|="/bpf57"], a[href|="/twisilly"] {
    background-position: -140px -490px
    }
a[href|="/bpf58"], a[href|="/takeheart"] {
    background-position: -140px -560px
    }
a[href|="/bpf59"], a[href|="/takemoney"] {
    background-position: -140px -630px
    }
a[href|="/rbpf30"], a[href|="/rabworry"] {
    background-position: -210px -0px
    }
a[href|="/rbpf31"], a[href|="/rajeng"] {
    background-position: -210px -70px
    }
a[href|="/rbpf32"], a[href|="/rajfear"] {
    background-position: -210px -140px
    }
a[href|="/rbpf33"], a[href|="/ravocado"] {
    background-position: -210px -210px
    }
a[href|="/rbpf34"], a[href|="/rcelbutterfly"] {
    background-position: -210px -280px
    }
a[href|="/rbpf35"], a[href|="/rcelestpunk"] {
    background-position: -210px -350px
    }
a[href|="/rbpf36"], a[href|="/rcheersrsly"] {
    background-position: -210px -420px
    }
a[href|="/rbpf37"], a[href|="/rcolmad"] {
    background-position: -210px -490px
    }
a[href|="/rbpf38"], a[href|="/rcrankysuave"] {
    background-position: -210px -560px
    }
a[href|="/rbpf39"], a[href|="/rdashin"] {
    background-position: -210px -630px
    }
a[href|="/rbpf40"], a[href|="/rdatspitfire"] {
    background-position: -280px -0px
    }
a[href|="/rbpf41"], a[href|="/rdjhello"] {
    background-position: -280px -70px
    }
a[href|="/rbpf42"], a[href|="/rfsjoy"] {
    background-position: -280px -140px
    }
a[href|="/rbpf43"], a[href|="/rironwill"] {
    background-position: -280px -210px
    }
a[href|="/rbpf44"], a[href|="/rmacshock"] {
    background-position: -280px -280px
    }
a[href|="/rbpf45"], a[href|="/rppglass"] {
    background-position: -280px -350px
    }
a[href|="/rbpf46"], a[href|="/rcheerwink"] {
    background-position: -280px -420px
    }
a[href|="/rbpf47"], a[href|="/rppshutup"] {
    background-position: -280px -490px
    }
a[href|="/rbpf48"], a[href|="/rrarhungry"] {
    background-position: -280px -560px
    }
a[href|="/rbpf49"], a[href|="/rpinkin"] {
    background-position: -280px -630px
    }
a[href|="/rbpf50"], a[href|="/rraruhoh"] {
    background-position: -350px -0px
    }
a[href|="/rbpf51"], a[href|="/rrdcoffee"] {
    background-position: -350px -70px
    }
a[href|="/rbpf52"], a[href|="/rrdhide"] {
    background-position: -350px -140px
    }
a[href|="/rbpf53"], a[href|="/rsbshock"] {
    background-position: -350px -210px
    }
a[href|="/rbpf54"], a[href|="/rscootrage"] {
    background-position: -350px -280px
    }
a[href|="/rbpf55"], a[href|="/rtwidothis"] {
    background-position: -350px -350px
    }
a[href|="/rbpf56"], a[href|="/rchsquash"] {
    background-position: -350px -420px
    }
a[href|="/rbpf57"], a[href|="/rtwisilly"] {
    background-position: -350px -490px
    }
a[href|="/rbpf58"], a[href|="/rtakeheart"] {
    background-position: -350px -560px
    }
a[href|="/rbpf59"], a[href|="/rtakemoney"] {
    background-position: -350px -630px
    }
/*BPF3 emutes*/
a[href|="/bpf60"], a[href|="/bpf61"], a[href|="/bpf62"], a[href|="/bpf63"], a[href|="/bpf64"], a[href|="/bpf65"], a[href|="/bpf66"], a[href|="/bpf67"], a[href|="/bpf68"], a[href|="/bpf69"], a[href|="/bpf70"], a[href|="/bpf71"], a[href|="/bpf72"], a[href|="/bpf73"], a[href|="/bpf74"], a[href|="/bpf75"], a[href|="/bpf76"], a[href|="/bpf77"], a[href|="/bpf78"], a[href|="/bpf79"], a[href|="/bpf80"], a[href|="/bpf81"], a[href|="/bpf82"], a[href|="/bpf83"], a[href|="/bpf84"], a[href|="/bpf85"], a[href|="/bpf86"], a[href|="/bpf87"], a[href|="/bpf88"], a[href|="/bpf89"], a[href|="/bpf90"], a[href|="/bpf91"], a[href|="/bpf92"], a[href|="/bpf93"], a[href|="/bpf94"], a[href|="/bpf95"], a[href|="/bpf96"], a[href|="/bpf97"], a[href|="/bpf98"], a[href|="/bpf99"], a[href|="/ajbuzzed"], a[href|="/celestrage"], a[href|="/ajlol"], a[href|="/ajpissed"], a[href|="/ajscarecrow"], a[href|="/datdoll"], a[href|="/ditto"], a[href|="/megafacehoof"], a[href|="/flashy"], a[href|="/fluffle"], a[href|="/fschicks"], a[href|="/celestfly"], a[href|="/fsdark"], a[href|="/fsouch"], a[href|="/fsseal"], a[href|="/ilfsquid"], a[href|="/lunalove"], a[href|="/lunashock"], a[href|="/macstare"], a[href|="/pimp"], a[href|="/pppuppy"], a[href|="/celwhatthe"], a[href|="/ppstyle"], a[href|="/ppteary"], a[href|="/rarbook"], a[href|="/rarderp"], a[href|="/rarhip"], a[href|="/rarshy"], a[href|="/rdfly"], a[href|="/rdfrown"], a[href|="/rdhungry"], a[href|="/rdpout"], a[href|="/rdtrout"], a[href|="/scshock"], a[href|="/sfyeah"], a[href|="/twigreat"], a[href|="/twiuhoh"], a[href|="/twiglance"], a[href|="/twisneak"], a[href|="/woonacry"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://e.thumbs.redditmedia.com/B_S4lHyAF-Pugrcj.png)
    }
a[href|="/rbpf60"], a[href|="/rbpf61"], a[href|="/rbpf62"], a[href|="/rbpf63"], a[href|="/rbpf64"], a[href|="/rbpf65"], a[href|="/rbpf66"], a[href|="/rbpf67"], a[href|="/rbpf68"], a[href|="/rbpf69"], a[href|="/rbpf70"], a[href|="/rbpf71"], a[href|="/rbpf72"], a[href|="/rbpf73"], a[href|="/rbpf74"], a[href|="/rbpf75"], a[href|="/rbpf76"], a[href|="/rbpf77"], a[href|="/rbpf78"], a[href|="/rbpf79"], a[href|="/rbpf80"], a[href|="/rbpf81"], a[href|="/rbpf82"], a[href|="/rbpf83"], a[href|="/rbpf84"], a[href|="/rbpf85"], a[href|="/rbpf86"], a[href|="/rbpf87"], a[href|="/rbpf88"], a[href|="/rbpf89"], a[href|="/rbpf90"], a[href|="/rbpf91"], a[href|="/rbpf92"], a[href|="/rbpf93"], a[href|="/rbpf94"], a[href|="/rbpf95"], a[href|="/rbpf96"], a[href|="/rbpf97"], a[href|="/rbpf98"], a[href|="/rbpf99"], a[href|="/rajbuzzed"], a[href|="/rcelestrage"], a[href|="/rajlol"], a[href|="/rajpissed"], a[href|="/rajscarecrow"], a[href|="/rdatdoll"], a[href|="/rditto"], a[href|="/rmegafacehoof"], a[href|="/rflashy"], a[href|="/rfluffle"], a[href|="/rfschicks"], a[href|="/rcelestfly"], a[href|="/rfsdark"], a[href|="/rfsouch"], a[href|="/rfsseal"], a[href|="/rilfsquid"], a[href|="/rlunalove"], a[href|="/rlunashock"], a[href|="/rmacstare"], a[href|="/rpimp"], a[href|="/rpppuppy"], a[href|="/rcelwhatthe"], a[href|="/rppstyle"], a[href|="/rppteary"], a[href|="/rrarbook"], a[href|="/rrarderp"], a[href|="/rrarhip"], a[href|="/rrarshy"], a[href|="/rrdfly"], a[href|="/rrdfrown"], a[href|="/rrdhungry"], a[href|="/rrdpout"], a[href|="/rrdtrout"], a[href|="/rscshock"], a[href|="/rsfyeah"], a[href|="/rtwigreat"], a[href|="/rtwiuhoh"], a[href|="/rtwiglance"], a[href|="/rtwisneak"], a[href|="/rwoonacry"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://d.thumbs.redditmedia.com/EVIlxiGFNk8tj2sK.png)
    }
a[href|="/bpf60"], a[href|="/ajbuzzed"], a[href|="/rbpf60"], a[href|="/rajbuzzed"] {
    background-position: -0px -0px
    }
a[href|="/bpf61"], a[href|="/celestrage"], a[href|="/rbpf61"], a[href|="/rcelestrage"] {
    background-position: -0px -70px
    }
a[href|="/bpf62"], a[href|="/ajlol"], a[href|="/rbpf62"], a[href|="/rajlol"] {
    background-position: -0px -140px
    }
a[href|="/bpf63"], a[href|="/ajpissed"], a[href|="/rbpf63"], a[href|="/rajpissed"] {
    background-position: -0px -210px
    }
a[href|="/bpf64"], a[href|="/ajscarecrow"], a[href|="/rbpf64"], a[href|="/rajscarecrow"] {
    background-position: -0px -280px
    }
a[href|="/bpf65"], a[href|="/datdoll"], a[href|="/rbpf65"], a[href|="/rdatdoll"] {
    background-position: -0px -350px
    }
a[href|="/bpf66"], a[href|="/ditto"], a[href|="/rbpf66"], a[href|="/rditto"] {
    background-position: -0px -420px
    }
a[href|="/bpf67"], a[href|="/megafacehoof"], a[href|="/rbpf67"], a[href|="/rmegafacehoof"] {
    background-position: -0px -490px
    }
a[href|="/bpf68"], a[href|="/flashy"], a[href|="/rbpf68"], a[href|="/rflashy"] {
    background-position: -0px -560px
    }
a[href|="/bpf69"], a[href|="/fluffle"], a[href|="/rbpf69"], a[href|="/rfluffle"] {
    background-position: -0px -630px
    }
a[href|="/bpf70"], a[href|="/fschicks"], a[href|="/rbpf70"], a[href|="/rfschicks"] {
    background-position: -70px -0px
    }
a[href|="/bpf71"], a[href|="/celetfly"], a[href|="/rbpf71"], a[href|="/rcelestfly"] {
    background-position: -70px -70px
    }
a[href|="/bpf72"], a[href|="/fsdark"], a[href|="/rbpf72"], a[href|="/rfsdark"] {
    background-position: -70px -140px
    }
a[href|="/bpf73"], a[href|="/fsouch"], a[href|="/rbpf73"], a[href|="/rfsouch"] {
    background-position: -70px -210px
    }
a[href|="/bpf74"], a[href|="/fsseal"], a[href|="/rbpf74"], a[href|="/rfsseal"] {
    background-position: -70px -280px
    }
a[href|="/bpf75"], a[href|="/ilfsquid"], a[href|="/rbpf75"], a[href|="/rilfsquid"] {
    background-position: -70px -350px
    }
a[href|="/bpf76"], a[href|="/lunalove"], a[href|="/rbpf76"], a[href|="/rlunalove"] {
    background-position: -70px -420px
    }
a[href|="/bpf77"], a[href|="/lunashock"], a[href|="/rbpf77"], a[href|="/rlunashock"] {
    background-position: -70px -490px
    }
a[href|="/bpf78"], a[href|="/macstare"], a[href|="/rbpf78"], a[href|="/rmacstare"] {
    background-position: -70px -560px
    }
a[href|="/bpf79"], a[href|="/pimp"], a[href|="/rbpf79"], a[href|="/rpimp"] {
    background-position: -70px -630px
    }
a[href|="/bpf80"], a[href|="/pppuppy"], a[href|="/rbpf80"], a[href|="/rpppuppy"] {
    background-position: -140px -0px
    }
a[href|="/bpf81"], a[href|="/celwhatthe"], a[href|="/rbpf81"], a[href|="/rcelwhatthe"] {
    background-position: -140px -70px
    }
a[href|="/bpf82"], a[href|="/ppstyle"], a[href|="/rbpf82"], a[href|="/rppstyle"] {
    background-position: -140px -140px
    }
a[href|="/bpf83"], a[href|="/ppteary"], a[href|="/rbpf83"], a[href|="/rppteary"] {
    background-position: -140px -210px
    }
a[href|="/bpf84"], a[href|="/rarbook"], a[href|="/rbpf84"], a[href|="/rrarbook"] {
    background-position: -140px -280px
    }
a[href|="/bpf85"], a[href|="/rarderp"], a[href|="/rbpf85"], a[href|="/rrarderp"] {
    background-position: -140px -350px
    }
a[href|="/bpf86"], a[href|="/rarhip"], a[href|="/rbpf86"], a[href|="/rrarhip"] {
    background-position: -140px -420px
    }
a[href|="/bpf87"], a[href|="/rarshy"], a[href|="/rbpf87"], a[href|="/rrarshy"] {
    background-position: -140px -490px
    }
a[href|="/bpf88"], a[href|="/rdfly"], a[href|="/rbpf88"], a[href|="/rrdfly"] {
    background-position: -140px -560px
    }
a[href|="/bpf89"], a[href|="/rdfrown"], a[href|="/rbpf89"], a[href|="/rrdfrown"] {
    background-position: -140px -630px
    }
a[href|="/bpf90"], a[href|="/rdhungry"], a[href|="/rbpf90"], a[href|="/rrdhungry"] {
    background-position: -210px -0px
    }
a[href|="/bpf91"], a[href|="/rdpout"], a[href|="/rbpf91"], a[href|="/rrdpout"] {
    background-position: -210px -70px
    }
a[href|="/bpf92"], a[href|="/rdtrout"], a[href|="/rbpf92"], a[href|="/rrdtrout"] {
    background-position: -210px -140px
    }
a[href|="/bpf93"], a[href|="/scshock"], a[href|="/rbpf93"], a[href|="/rscshock"] {
    background-position: -210px -210px
    }
a[href|="/bpf94"], a[href|="/sfyeah"], a[href|="/rbpf94"], a[href|="/rsfyeah"] {
    background-position: -210px -280px
    }
a[href|="/bpf95"], a[href|="/twigreat"], a[href|="/rbpf95"], a[href|="/rtwigreat"] {
    background-position: -210px -350px
    }
a[href|="/bpf96"], a[href|="/twiuhoh"], a[href|="/rbpf96"], a[href|="/rtwiuhoh"] {
    background-position: -210px -420px
    }
a[href|="/bpf97"], a[href|="/twiglance"], a[href|="/rbpf97"], a[href|="/rtwiglance"] {
    background-position: -210px -490px
    }
a[href|="/bpf98"], a[href|="/twisneak"], a[href|="/rbpf98"], a[href|="/rtwisneak"] {
    background-position: -210px -560px
    }
a[href|="/bpf99"], a[href|="/woonacry"], a[href|="/rbpf99"], a[href|="/woonacry"] {
    background-position: -210px -630px
    }
/*Animotes*/
a[href|="/bpani00"], a[href|="/fimcombo"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://c.thumbs.redditmedia.com/uBj0QWzRLf4qbXLt.png)
    }
a[href|="/bpani00"], a[href|="/fimcombo"] {
    background-position: -0px -0px
    }
a[href|="/bpani10"], a[href|="/heyya"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://d.thumbs.redditmedia.com/SubpgfAo49CoiRuE.png)
    }
a[href|="/bpani10"], a[href|="/heyya"] {
    background-position: -0px -0px
    }
a[href|="/bpani20"], a[href|="/hereiam"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://d.thumbs.redditmedia.com/_uioudukjZInGMBW.png)
    }
a[href|="/bpani20"], a[href|="/hereiam"] {
    background-position: -0px -0px
    }
a[href|="/bpani01"], a[href|="/tiawithit"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://f.thumbs.redditmedia.com/YAZmfOrXDHMSI4MY.png)
    }
a[href|="/bpani01"], a[href|="/tiawithit"] {
    background-position: -0px -0px
    }
a[href|="/bpani11"], a[href|="/mibglasses"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://d.thumbs.redditmedia.com/41kphtMd18UDUih3.png)
    }
a[href|="/bpani11"], a[href|="/mibglasses"] {
    background-position: -0px -0px
    }
a[href|="/bpani21"], a[href|="/ppbouncep"] {
    display: block;
    clear: none;
    float: left;
    width: 59px;
    height: 70px;
    background-image: url(http://a.thumbs.redditmedia.com/8HqEWywsaRDMDOe6.png)
    }
a[href|="/bpani21"], a[href|="/ppbouncep"] {
    background-position: -0px -0px
    }
a[href|="/bpani02"], a[href|="/raritytime"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 100px;
    background-image: url(http://d.thumbs.redditmedia.com/A8colOiQ3AzqMrKQ.png)
    }
a[href|="/bpani02"], a[href|="/raritytime"] {
    background-position: -0px -0px
    }
a[href|="/bpani12"], a[href|="/lisa"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 91px;
    background-image: url(http://b.thumbs.redditmedia.com/_dpw_kOCt87t2mE1.png)
    }
a[href|="/bpani12"], a[href|="/lisa"] {
    background-position: -0px -0px
    }
a[href|="/bpani22"], a[href|="/ponydance"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 69px;
    background-image: url(http://a.thumbs.redditmedia.com/ULbls5qEmHrBYjjH.png)
    }
a[href|="/bpani22"], a[href|="/ponydance"] {
    background-position: -0px -0px
    }
a[href|="/bpani03"], a[href|="/batnips"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://f.thumbs.redditmedia.com/NU5k5yFttn_Wk19A.png)
    }
a[href|="/bpani03"], a[href|="/batnips"] {
    background-position: -0px -0px
    }
a[href|="/bpani13"], a[href|="/fstwibird"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 64px;
    background-image: url(http://d.thumbs.redditmedia.com/KQ9LY-gyIMgR_lkW.png)
    }
a[href|="/bpani13"], a[href|="/fstwibird"] {
    background-position: -0px -0px
    }
a[href|="/bpani23"], a[href|="/pinksplosion"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 74px;
    background-image: url(http://f.thumbs.redditmedia.com/_LLZi5nFLZD-Vnb5.png)
    }
a[href|="/bpani23"], a[href|="/pinksplosion"] {
    background-position: -0px -0px
    }
a[href|="/bpani04"], a[href|="/ppcherries"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://e.thumbs.redditmedia.com/2JBJG5Z44ys376kp.png)
    }
a[href|="/bpani04"], a[href|="/ppcherries"] {
    background-position: -0px -0px
    }
a[href|="/bpani14"], a[href|="/iheartu"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://d.thumbs.redditmedia.com/WxVAfyE5UY06Vo6o.png)
    }
a[href|="/bpani14"], a[href|="/iheartu"] {
    background-position: -0px -0px
    }
a[href|="/bpani24"], a[href|="/cheerdizzy"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://c.thumbs.redditmedia.com/r0x7sKvVg7KNBDMV.png)
    }
a[href|="/bpani24"], a[href|="/cheerdizzy"] {
    background-position: -0px -0px
    }
a[href|="/bpani05"], a[href|="/wainbow"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 66px;
    background-image: url(http://e.thumbs.redditmedia.com/_4BjAOLf0vGuLDYp.png)
    }
a[href|="/bpani05"], a[href|="/wainbow"] {
    background-position: -0px -0px
    }
a[href|="/bpani15"], a[href|="/fwuttershy"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 58px;
    background-image: url(http://c.thumbs.redditmedia.com/8ZBE0juhYEs2nvpn.png)
    }
a[href|="/bpani15"], a[href|="/fwuttershy"] {
    background-position: -0px -0px
    }
a[href|="/bpani25"], a[href|="/warwity"] {
    display: block;
    clear: none;
    float: left;
    width: 86px;
    height: 100px;
    background-image: url(http://e.thumbs.redditmedia.com/DZjWGMGSCSyAJXpL.png)
    }
a[href|="/bpani25"], a[href|="/warwity"] {
    background-position: -0px -0px
    }
a[href|="/bpani06"], a[href|="/steppin"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 56px;
    background-image: url(http://a.thumbs.redditmedia.com/3PovFoojn_ykhbZN.png)
    }
a[href|="/bpani06"], a[href|="/steppin"] {
    background-position: -0px -0px
    }
a[href|="/bpani16"], a[href|="/gummydance"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://f.thumbs.redditmedia.com/HMhI-sQ7Xq-6M8Tk.png)
    }
a[href|="/bpani16"], a[href|="/gummydance"] {
    background-position: -0px -0px
    }
a[href|="/bpani26"], a[href|="/lyragun"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 86px;
    background-image: url(http://b.thumbs.redditmedia.com/JFQEN2V8PEAiZ9-m.png)
    }
a[href|="/bpani26"], a[href|="/lyragun"] {
    background-position: -0px -0px
    }
a[href|="/bpani07"], a[href|="/twibop"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://e.thumbs.redditmedia.com/TqbBwH4w4Bglbv64.png)
    }
a[href|="/bpani07"], a[href|="/twibop"] {
    background-position: -0px -0px
    }
a[href|="/bpani17"], a[href|="/cmcbounce"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 68px;
    background-image: url(http://d.thumbs.redditmedia.com/OaPZYpC70KDqr4e9.png)
    }
a[href|="/bpani17"], a[href|="/cmcbounce"] {
    background-position: -0px -0px
    }
a[href|="/bpani27"], a[href|="/rdrockout"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 100px;
    background-image: url(http://e.thumbs.redditmedia.com/jYCKljR1Eaa2YF1v.png)
    }
a[href|="/bpani27"], a[href|="/rdrockout"] {
    background-position: -0px -0px
    }
a[href|="/bpani08"], a[href|="/chaos"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://a.thumbs.redditmedia.com/zKYOFFJ3YkIWRFYl.png)
    }
a[href|="/bpani08"], a[href|="/chaos"] {
    background-position: -0px -0px
    }
a[href|="/bpani18"], a[href|="/yummycake"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://a.thumbs.redditmedia.com/59YJC2XToAScUkOH.png)
    }
a[href|="/bpani18"], a[href|="/yummycake"] {
    background-position: -0px -0px
    }
a[href|="/bpani28"], a[href|="/ppnuzzle"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://e.thumbs.redditmedia.com/XzccXqTb13wb3g-j.png)
    }
a[href|="/bpani28"], a[href|="/ppnuzzle"] {
    background-position: -0px -0px
    }
a[href|="/bpani09"], a[href|="/fseyeroll"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 80px;
    background-image: url(http://b.thumbs.redditmedia.com/wZyK283mN3TSrYBI.png)
    }
a[href|="/bpani09"], a[href|="/fseyeroll"] {
    background-position: -0px -0px
    }
a[href|="/bpani19"], a[href|="/pptongue"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 83px;
    background-image: url(http://b.thumbs.redditmedia.com/ncvvHw4t2wr6mA_a.png)
    }
a[href|="/bpani19"], a[href|="/pptongue"] {
    background-position: -0px -0px
    }
a[href|="/bpani29"], a[href|="/celbrows"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://d.thumbs.redditmedia.com/GDWQOX40tdLkifdi.png)
    }
a[href|="/bpani29"], a[href|="/celbrows"] {
    background-position: -0px -0px
    }
/*"Secret" Emotes*/
a[href|="/emyscoot"] {
    background-position: -0px -0px
    }
a[href|="/reallydumbemotethatisreallystupidandwontbeherelong"] {
    display: block;
    clear: none;
    float: left;
    width: 1581px;
    height: 5863px;
    background-image: url(http://b.thumbs.redditmedia.com/35L30trY4oxHQ5Ra.png)
    }
a[href|="/reallydumbemotethatisreallystupidandwontbeherelong"] {
    background-position: -0px -0px
    }