a[href="/spikefear"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 70px;
Height: 70px;
background-image: url(%%spikefear%%) !important
}

a[href="/flutteroh"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 70px;
Height: 70px;
background-image: url(%%flutteroh%%) !important
}

a[href="/raritysmile"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 70px;
Height: 70px;
background-image: url(%%raritysmile%%) !important
}

a[href="/butterflais"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 80px;
Height: 72px;
background-image: url(%%BUTTERFLAIS%%) !important
}

a[href="/rarityconfused"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 70px;
Height: 70px;
background-image: url(%%rarityconfused%%) !important
}

a[href="/pinkiestars"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 70px;
Height: 70px;
background-image: url(%%pinkiestars%%) !important
}