body{background:url(%%adbackground%%) no-repeat fixed left center}


a[href|="/adnuzzle"] {
float:left;
width:180px;
height:103px;
background-repeat:no-repeat;
background-image:url(%%adnuzzle%%);
}

a[href|="/adpuckerup"] {
    float:left;
    width:226px;
    height:222px;
    background-repeat:no-repeat;
    background-image:url(%%adpuckerup%%);
}

a[href|="/adlean"] {
    float:left;
    width:225px;
    height:251px;
    background-repeat:no-repeat;
    background-image:url(%%adlean%%);
}
a[href|="/adcute"] {
    float:left;
    width:225px;
    height:155px;
    background-repeat:no-repeat;
    background-image:url(%%adcute%%);
}

a[href|="/yourflankismine"] {
    float:left;
    width:223px;
    height:224px;
    background-repeat:no-repeat;
    background-image:url(%%yourflankismine%%);
}

a[href|="/adponyride"] {
    float:left;
    width:241px;
    height:208px;
    background-repeat:no-repeat;
    background-image:url(%%adponyride%%);
}

a[href|="/adhaylove"] {
    float:left;
    width:255px;
    height:196px;
    background-repeat:no-repeat;
    background-image:url(%%adhaylove%%);
}

a[href|="/applebashful"] {
    float:left;
    width:225px;
    height:148px;
    background-repeat:no-repeat;
    background-image:url(%%applebashful%%);
}

a[href|="/adplayful"] {
    float:left;
    width:225px;
    height:177px;
    background-repeat:no-repeat;
    background-image:url(%%adplayful%%);
}

a[href|="/fallweatherfriends"] {
    float:left;
    width:231px;
    height:216px;
    background-repeat:no-repeat;
    background-image:url(%%fallweatherfriends%%);
}

a[href|="/adhug"] {
    float:left;
    width:225px;
    height:221px;
    background-repeat:no-repeat;
    background-image:url(%%adhug%%);
}

a[href|="/admaredown"] {
    float:left;
    width:283px;
    height:177px;
    background-repeat:no-repeat;
    background-image:url(%%admaredown%%);
}

a[href|="/adwingboner"] {
    float:left;
    width:225px;
    height:201px;
    background-repeat:no-repeat;
    background-image:url(%%adwingboner%%);
}

a[href|="/adcuddles"] {
    float:left;
    width:332px;
    height:151px;
    background-repeat:no-repeat;
    background-image:url(%%adcuddles%%);
}

a[href|="/adcanon"] {
float:left;
width:250px;
height:157px;
background-repeat:no-repeat;
background-image:url(%%adcanon%%);
}

a[href|="/adpassion"] {
float:left;
width:225px;
height:126px;
background-repeat:no-repeat;
background-image:url(%%adpassion%%);
}

a[href|="/adsparx"] {
    float:left;
    width:256px;
    height:169px;
    background-repeat:no-repeat;
    background-image:url(%%adsparx%%);
}

a[href|="/adsocks"] {
    float:left;
    width:300px;
    height:187px;
    background-repeat:no-repeat;
    background-image:url(%%adsocks%%);
}

a[href|="/adsocks"] {
    float:left;
    width:300px;
    height:187px;
    background-repeat:no-repeat;
    background-image:url(%%adsocks%%);
}

a[href|="/adkiss"] {
    float:left;
    width:257px;
    height:195px;
    background-repeat:no-repeat;
    background-image:url(%%adkiss%%);
}

a[href|="/chibiad"] {
    float:left;
    width:224px;
    height:224px;
    background-repeat:no-repeat;
    background-image:url(%%chibiad%%);
}

a[href|="/burchabow"] {
    float:left;
    width:256px;
    height:170px;
    background-repeat:no-repeat;
    background-image:url(%%burchabow%%);
}

/* Other Stuff */

a.author[href$="Just_a_temporary_acc"] {
font-size:0!important;
overflow:hidden;
display:inline-block;
content: "";
}
a.author[href$="Just_a_temporary_acc"]:before{
font-size:10px!important;
visibility:visible!important;
}
a.author[href$="Just_a_temporary_acc"]:before {content:"BigMacIsNotABurger"}

/*Hi Burchy <3 | Hi there <3*/ 

a.author[href$="BigMacIsNotABurger"] {
font-size:0!important;
overflow:hidden;
display:inline-block;
content: "";
}
a.author[href$="BigMacIsNotABurger"]:before{
font-size:10px!important;
visibility:visible!important;
}
a.author[href$="BigMacIsNotABurger"]:before {content:"BurChaBow"}