body{background:url(%%adbackground%%) no-repeat fixed left center}

/* ▬▬ SHEET 1 ▬▬ */

a[href|="/adflank"] {
float:left;
width:245px;
height:204px;
background-repeat:no-repeat;
background-image:url(%%Sheet1%%);
background-position: 0px 0px;
}

a[href|="/adbath"] {
float:left;
width:225px;
height:149px;
background-repeat:no-repeat;
background-image:url(%%Sheet1%%);
background-position: -300px -0px;
}

a[href|="/adkiss"] {
float:left;
width:257px;
height:195px;
background-repeat:no-repeat;
background-image:url(%%Sheet1%%);
background-position: 0px -300px;
}

a[href|="/adnuzzle"] {
float:left;
width:180px;
height:103px;
background-repeat:no-repeat;
background-image:url(%%Sheet1%%);
background-position: -300px -300px;
}

/* ▬▬ SHEET 1 END ▬▬ */



/* ▬▬ SHEET 2 ▬▬ */

a[href|="/adsad"] {
float:left;
width:225px;
height:175px;
background-repeat:no-repeat;
background-image:url(%%Sheet2%%);
background-position: 0px 0px;
}

a[href|="/adwingboner"] {
float:left;
width:225px;
height:201px;
background-repeat:no-repeat;
background-image:url(%%Sheet2%%);
background-position: -300px 0px;
}

a[href|="/fallweatherfriends"] {
float:left;
width:231px;
height:216px;
background-repeat:no-repeat;
background-image:url(%%Sheet2%%);
background-position: 0px -300px;
}

a[href|="/adsocks"] {
float:left;
width:300px;
height:187px;
background-repeat:no-repeat;
background-image:url(%%Sheet2%%);
background-position: -300px -300px;
}

/* ▬▬ SHEET 2 END ▬▬ */


/* ▬▬ SHEET 3 ▬▬ 2 and 3 switch */

a[href|="/admoustache"] {
float:left;
width:283px;
height:177px;
background-repeat:no-repeat;
background-image:url(%%Sheet3%%);
background-position: 0px 0px;
}

a[href|="/adpeck"] {
float:left;
width:207px;
height:171px;
background-repeat:no-repeat;
background-image:url(%%Sheet3%%);
background-position: 0px -300px;
}

a[href|="/adfinishline"] {
float:left;
width:225px;
height:107px;
background-repeat:no-repeat;
background-image:url(%%Sheet3%%);
background-position: -300px 0px;
}

a[href|="/addesire"] {
float:left;
width:256px;
height:128px;
background-repeat:no-repeat;
background-image:url(%%Sheet3%%);
background-position: -300px -300px;
}

/* ▬▬ SHEET 3 END ▬▬ */


/* ▬▬ SHEET 4 ▬▬ */

a[href|="/adcanon"] {
float:left;
width:250px;
height:157px;
background-repeat:no-repeat;
background-image:url(%%Sheet4%%);
background-position: 0px 0px;
}

a[href|="/theylooksoreadytofuckeachothersenseless"] {
float:left;
width:299px;
height:167px;
background-repeat:no-repeat;
background-image:url(%%Sheet4%%);
background-position: -300px 0px;
}

a[href|="/chibiad"] {
float:left;
width:224px;
height:224px;
background-repeat:no-repeat;
background-image:url(%%Sheet4%%);
background-position: 0px -300px;
}

a[href|="/adreadyforbees"] {
float:left;
width:239px;
height:209px;
background-repeat:no-repeat;
background-image:url(%%Sheet4%%);
background-position: -300px -300px;
}

/* ▬▬ SHEET 4 END ▬▬ */


/* ▬▬ SHEET 5 ▬▬ */

a[href|="/ajdribbles"] {
float:left;
width:236px;
height:213px;
background-repeat:no-repeat;
background-image:url(%%Sheet5%%);
background-position: 0px 0px;
}

a[href|="/adplayful"] {
float:left;
width:225px;
height:177px;
background-repeat:no-repeat;
background-image:url(%%Sheet5%%);
background-position: -300px 0px;
}

a[href|="/adsparx"] {
float:left;
width:256px;
height:169px;
background-repeat:no-repeat;
background-image:url(%%Sheet5%%);
background-position: 0px -300px;
}

a[href|="/adpuckerup"] {
float:left;
width:226px;
height:222px;
background-repeat:no-repeat;
background-image:url(%%Sheet5%%);
background-position: -300px -300px;
}

/* ▬▬ SHEET 5 END ▬▬ */


/* ▬▬ SHEET 6 ▬▬ */

a[href|="/adelbow"] {
float:left;
width:239px;
height:210px;
background-repeat:no-repeat;
background-image:url(%%Sheet6%%);
background-position: 0px 0px;
}

a[href|="/adhaylove"] {
float:left;
width:255px;
height:196px;
background-repeat:no-repeat;
background-image:url(%%Sheet6%%);
background-position: -300px 0px;
}

a[href|="/adglow"] {
float:left;
width:218px;
height:203px;
background-repeat:no-repeat;
background-image:url(%%Sheet6%%);
background-position: 0px -300px;
}

a[href|="/adcute"] {
float:left;
width:225px;
height:155px;
background-repeat:no-repeat;
background-image:url(%%Sheet6%%);
background-position: -300px -300px;
}

/* ▬▬ SHEET 6 END ▬▬ */


/* ▬▬ SHEET 7 ▬▬ */

a[href|="/adbored"] {
float:left;
width:225px;
height:145px;
background-repeat:no-repeat;
background-image:url(%%Sheet7%%);
background-position: 0px 0px;
}

a[href|="/adsleep"] {
float:left;
width:231px;
height:216px;
background-repeat:no-repeat;
background-image:url(%%Sheet7%%);
background-position: -300px 0px;
}

a[href|="/admaredown"] {
float:left;
width:283px;
height:177px;
background-repeat:no-repeat;
background-image:url(%%Sheet7%%);
background-position: 0px -300px;
}

a[href|="/adkissy"] {
float:left;
width:233px;
height:182px;
background-repeat:no-repeat;
background-image:url(%%Sheet7%%);
background-position: -300px -300px;
}

/* ▬▬ SHEET 7 END ▬▬ */



/* ▬▬ SHEET 8 ▬▬ */

a[href|="/adlean"] {
float:left;
width:225px;
height:251px;
background-repeat:no-repeat;
background-image:url(%%Sheet8%%);
background-position: 0px 0px;
}

a[href|="/addespair"] {
float:left;
width:225px;
height:162px;
background-repeat:no-repeat;
background-image:url(%%Sheet8%%);
background-position: -300px 0px;
}

a[href|="/applebashful"] {
float:left;
width:225px;
height:148px;
background-repeat:no-repeat;
background-image:url(%%Sheet8%%);
background-position: 0px -300px;
}

a[href|="/adcuddle"] {
float:left;
width:201px;
height:189px;
background-repeat:no-repeat;
background-image:url(%%Sheet8%%);
background-position: -300px -300px;
}

/* ▬▬ SHEET 8 END ▬▬ */


/* ▬▬ SHEET 9 ▬▬ */

a[href|="/adscared"] {
float:left;
width:254px;
height:197px;
background-repeat:no-repeat;
background-image:url(%%Sheet9%%);
background-position: 0px 0px;
}

a[href|="/highhoof3"] {
float:left;
width:225px;
height:149px;
background-repeat:no-repeat;
background-image:url(%%Sheet9%%);
background-position: -300px 0px;
}

a[href|="/adfeed"] {
float:left;
width:223px;
height:224px;
background-repeat:no-repeat;
background-image:url(%%Sheet9%%);
background-position: 0px -300px;
}

a[href|="/yourflankismine"] {
float:left;
width:223px;
height:224px;
background-repeat:no-repeat;
background-image:url(%%Sheet9%%);
background-position: -300px -300px;
}

/* ▬▬ SHEET 9 END ▬▬ */



/* ▬▬ SHEET 10 ▬▬ */

a[href|="/adhug"] {
float:left;
width:225px;
height:221px;
background-repeat:no-repeat;
background-image:url(%%Sheet10%%);
background-position: 0px 0px;
}

a[href|="/adpassion"] {
float:left;
width:225px;
height:126px;
background-repeat:no-repeat;
background-image:url(%%Sheet10%%);
background-position: -350px 0px;
}

a[href|="/adcuddles"] {
float:left;
width:332px;
height:151px;
background-repeat:no-repeat;
background-image:url(%%Sheet10%%);
background-position: 0px -350px;
}

a[href|="/adponyride"] {
float:left;
width:241px;
height:208px;
background-repeat:no-repeat;
background-image:url(%%Sheet10%%);
background-position: -350px -350px;
}

/* ▬▬ SHEET 10 END ▬▬ */


/* ▬▬ Unnassigned ▬▬ */




a[href|="/ejr1icgm1wsk26fb"] {
float:left;
width:450px;
height:289px;
background-repeat:no-repeat;
background-image:url(%%ejr1icgm1wsk26fb%%);
}

a[href|="/adbuttpillow"] {
float:left;
width:223px;
height:223px;
background-repeat:no-repeat;
background-image:url(%%adbuttpillow%%);
}

a[href|="/canada"] {
float:left;
width:512px;
height:342px;
background-repeat:no-repeat;
background-image:url(%%canada%%);
}

a[href|="/sweden"] {
float:left;
width:555px;
height:360px;
background-repeat:no-repeat;
background-image:url(%%sweden%%);
}

a[href|="/burchabow"] {
float:left;
width:256px;
height:170px;
background-repeat:no-repeat;
background-image:url(%%burchabow%%);
}

/* ▬▬ Unnassigned End ▬▬ */



/* Other Stuff (commenting out some so we don't confuse Great BPM Leader Typhos */

a.author[href$="Just_a_temporary_acc"] {
font-size:0!important;
overflow:hidden;
display:inline-block;
content: "";
}
a.author[href$="Just_a_temporary_acc"]:before{
font-size:10px!important;
visibility:visible!important;
}
a.author[href$="Just_a_temporary_acc"]:before {content:"BigMaclsNotABurger"}

/*Hi Burchy <3 | Hi there <3*/ 

a.author[href$="BigMaclsNotABurger"] {
font-size:0!important;
overflow:hidden;
display:inline-block;
content: "";
}
a.author[href$="BigMaclsNotABurger"]:before{
font-size:10px!important;
visibility:visible!important;
}
a.author[href$="BigMaclsNotABurger"]:before {content:"BurChaBow"}

a.author[href$="BigMacIsNotABurger"] {
font-size:0!important;
overflow:hidden;
display:inline-block;
content: "";
}
a.author[href$="BigMacIsNotABurger"]:before{
font-size:10px!important;
visibility:visible!important;
}
a.author[href$="BigMacIsNotABurger"]:before {content:"Maccy's Dead Account"}

a.author[href$="a community for 7 months"]:before {content:"a community for Apple Dashes"}