/*simple, most commonly used backgrounds*/ 
body {
background: url(%%Xv92F%%)  
no-repeat fixed center center
}

/*hides the downvote arrow*/  

.arrow.down {
visibility: hidden;
display: none
}

.redditname a{
background:url(%%fruitashy4%%);
height:128px;
width: 150px;}

#header-bottom-left{
height: 128px;}

.redditname a{
text-indent:-9001px;
}

#header-img-a,
.redditname a,
.tabmenu {
display: inline;
float: left;}

.tabmenu{
position:relative;
top:100%;
margin-top:-16px!important;}

/*replace "readers" with something else*/  
div.titlebox span.word {  
display: none  
}  
div.titlebox span.number:after {  
content: " Hella Man Pregnant Pegasi"  
}


a[href|="/dyel"], a[href|="/darnsquids"], a[href|="/hcstare"], a[href|="/soweak"], a[href|="/twibedroomeyes"], a[href|="/momss"], a[href|="/scootahelm"], a[href|="/qtmark"], a[href|="/fruitamad"], a[href|="/pokerscratch"], a[href|="/dyer"], a[href|="/angryfrog"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 100px;
    background-image: url(%%emotesheet1%%)
}
a[href|="/hcstare"] {
    background-position: -0px -0px
    }

a[href|="/dyel"] {
    background-position: -100px -0px
    }

a[href|="/darnsquids"] {
    background-position: -200px -0px
    }

a[href|="/soweak"] {
    background-position: -300px -0px
    }

a[href|="/twibedroomeyes"] {
    background-position: -400px -0px
    }

a[href|="/momss"] {
    background-position: -500px -0px
    }

a[href|="/scootahelm"] {
    background-position: -600px -0px
    }

a[href|="/qtmark"] {
    background-position: -700px -0px
    }

a[href|="/fruitamad"] {
    background-position: -800px -0px
    }

a[href|="/pokerscratch"] {
    background-position: -900px -0px
    }

a[href|="/dyer"] {
    background-position: -0px -100px
    }

a[href|="/angryfrog"] {
    background-position: -100px -100px
    }




a[href|="/stairmaster"] {
    display: block;
    clear: none;
    float: left;
    width: 300px;
    height: 392px;
    background-image: url(%%stairmaster%%) }




a[href|="/needsmoarsleep"] {
    display: block;
    clear: none;
    float: left;
    width: 164px;
    height: 200px;
    background-image: url(%%scootasleep%%) }





a[href|="/qcshit"] {
    display: block;
    clear: none;
    float: left;
    width: 246px;
    height: 225px;
    background-image: url(%%QCshit%%) }

a[href|="/holyshithands"] {
    display: block;
    clear: none;
    float: left;
    width: 209px;
    height: 300px;
    background-image: url(%%holyshithands%%) }

a[href|="/laughingstock"] {
    display: block;
    clear: none;
    float: left;
    width: 300px;
    height: 218px;
    background-image: url(%%lse%%) }

a[href|="/q0"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 200px;
    background-image: url(%%q0%%) }



a[href|="/lavender"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 200px;
    background-image: url(%%lavender%%) }

a[href|="/flabrus"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 200px;
    background-image: url(%%flabsbeard%%) }

a[href|="/scimatman"] {
    display: block;
    clear: none;
    float: left;
    width: 220px;
    height: 254px;
    background-image: url(%%scimatman%%) }

a[href|="/dyew"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 193px;
    background-image: url(%%douevnwub%%) }








a[href|="/bestpony"] {
    display: block;
    clear: none;
    float: left;
    width: 198px;
    height: 250px;
    background-image: url(%%dJkY5%%) }






a[href|="/creepylis"] {
    display: block;
    clear: none;
    float: left;
    width: 400px;
    height: 232px;
    background-image: url(%%creepylis%%) }

a[href|="/dyebetrayyourfriends"] {
    display: block;
    clear: none;
    float: left;
    width: 159px;
    height: 200px;
    background-image: url(%%dyebetrayyourfriends%%) }

a[href|="/dyebreakrecords"] {
    display: block;
    clear: none;
    float: left;
    width: 140px;
    height: 200px;
    background-image: url(%%dyebreakrecords%%) }

a[href|="/dyegofast"] {
    display: block;
    clear: none;
    float: left;
    width: 300px;
    height: 300px;
    background-image: url(%%dyegofast%%) }

a[href|="/dyehaveabrain"] {
    display: block;
    clear: none;
    float: left;
    width: 192px;
    height: 200px;
    background-image: url(%%dyehaveabrain%%) }

a[href|="/queenlie"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 265px;
    background-image: url(%%queenlie%%) }

a[href|="/queenlove"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 150px;
    background-image: url(%%queenlove%%) }

a[href|="/spitwut"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 195px;
    background-image: url(%%spitwut%%) }

a[href|="/icfot"] {
    display: block;
    clear: none;
    float: left;
    width: 323px;
    height: 400px;
    background-image: url(%%icfot%%) }

a[href|="/tentenwouldincubate"] {
    display: block;
    clear: none;
    float: left;
    width: 400px;
    height: 324px;
    background-image: url(%%wyime%%) }

a[href|="/tentenwouldflabrus"] {
    display: block;
    clear: none;
    float: left;
    width: 400px;
    height: 324px;
    background-image: url(%%qcbeard%%) }

a[href|="/dyelove"] {
    display: block;
    clear: none;
    float: left;
    width: 262px;
    height: 300px;
    background-image: url(%%dyelove%%) }

a[href|="/flutterguy"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 133px;
    background-image: url(%%ZZ5JM%%) }

a[href|="/maredovvell"] {
    display: block;
    clear: none;
    float: left;
    width: 300px;
    height: 185px;
    background-image: url(%%9Au3j-copy%%) }

a[href|="/miggyb2"] {
    display: block;
    clear: none;
    float: left;
    width: 249px;
    height: 300px;
    background-image: url(%%miggy2%%) }

a[href|="/theworstpony"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 200px;
    background-image: url(%%long-time-no-see-applejack--by-ashidaru-d5kee14%%) }

a[href|="/qcgala"] {
    display: block;
    clear: none;
    float: left;
    width: 273px;
    height: 300px;
    background-image: url(%%qcgala%%) }

a[href|="/areyoufuckingkiddingme"], a[href|="/creepypie"], a[href|="/itspartytime"], a[href|="/scratchout"], a[href|="/lyredrink"], a[href|="/chakolatechip"], a[href|="/babbychris"], a[href|="/blueshiftsealofapproval"], a[href|="/xmasscratch"], a[href|="/itmademefeellikeapieceofshit"]  {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 200px;
    background-image: url(%%emotesheet28%%)
}
a[href|="/areyoufuckingkiddingme"] {
    background-position: -0px -0px
    }

a[href|="/creepypie"] {
    background-position: -200px -0px
    }

a[href|="/itspartytime"] {
    background-position: -400px -0px
    }

a[href|="/scratchout"] {
    background-position: -600px -0px
    }

a[href|="/lyredrink"] {
    background-position: -800px -0px
    }

a[href|="/chakolatechip"] {
    background-position: -0px -200px
    }


a[href|="/babbychris"] {
    background-position: -200px -200px
    }

a[href|="/blueshiftsealofapproval"] {
    background-position: -400px -200px
    }

a[href|="/xmasscratch"] {
    background-position: -800px -200px
    }

a[href|="/itmademefeellikeapieceofshit"] {
    background-position: -0px -400px
    }


a[href|="/qcmeme"], a[href|="/somuchlove"], a[href|="/doeshelooklikeabitch"], a[href|="/st3rox"], a[href|="/madmeansealofapproval"], a[href|="/tentenwouldmarmshat"], a[href|="/bwainobowdash"], a[href|="/fuckyeahmurica"], a[href|="/queenrawr"], a[href|="/wellikillpeopleandeathandsthatstwothings"]{
 display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 200px;
    background-image: url(%%emotesheet33%%) }

a[href|="/qcmeme"] {
    background-position: -0px -0px
    }

a[href|="/somuchlove"] {
    background-position: -200px 0px
    }

a[href|="/doeshelooklikeabitch"] {
    background-position: -400px 0px
    }

a[href|="/st3rox"] {
    background-position: -600px 0px
    }

a[href|="/madmeansealofapproval"] {
    background-position: -800px 0px
    }

a[href|="/tentenwouldmarmshat"] {
    background-position: -0px -200px
    }

a[href|="/bwainobowdash"] {
    background-position: -200px -400px
    }

a[href|="/fuckyeahmurica"] {
    background-position: -0px -400px
    }

a[href|="/queenrawr"] {
    background-position: -200px -400px
    }

a[href|="/wellikillpeopleandeathandsthatstwothings"] {
    background-position: -400px -400px
    }

a[href|="/ohmy"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 145px;
    background-image: url(%%chrysbounce200%%) }

a[href|="/dyedrink"] {
    display: block;
    clear: none;
    float: left;
    width: 138px;
    height: 150px;
    background-image: url(%%dyedrink%%) }

a[href|="/twixierape"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 172px;
    background-image: url(%%trixresize%%) }

a[href|="/geneticallymodifiedsalamanderwithafacejustlikegeorgeclooney"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 148px;
    background-image: url(%%Salamander%%) }

a[href|="/pantschwitz"] {
    display: block;
    clear: none;
    float: left;
    width: 98px;
    height: 150px;
    background-image: url(%%pantschwitz%%) }

a[href|="/niggerdicksinfluttershysanus"] {
    display: block;
    clear: none;
    float: left;
    width: 98px;
    height: 150px;
    background-image: url(%%qVT5qQv%%) }

a[href|="/rdjam"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 131px;
    background-image: url(%%20percentcooler%%) }

a[href|="/twentyfiveminutesofthis"] {
    display: block;
    clear: none;
    float: left;
    width: 97px;
    height: 140px;
    background-image: url(%%uploads%%) }

a[href|="/blueshaft"] {
    display: block;
    clear: none;
    float: left;
    width: 101px;
    height: 140px;
    background-image: url(%%blueshaft%%) }

a[href|="/livingthedream"] {
    display: block;
    clear: none;
    float: left;
    width: 133px;
    height: 140px;
    background-image: url(%%lyrafingers%%) }