/*Hello! This is where you put that code that sleipnir showed off, it's really just a matter of copy and pasting the important things into it*/

/*Example*/

a[href|="/guardnotamused"] {  
 display: block;
 clear: none;
 float: left; 
 width: 87px;
 height: 60px;
 background-image: url(%%gaurdnotamused2%%);
} 

a[href|="/guardpoker"] {  
 display: block;
 clear: none;
 float: left; 
 width: 85px;
 height: 100px;
 background-image: url(%%guardpoker2%%);
} 

a[href|="/topbat"] {  
 display: block;
 clear: none;
 float: left; 
 width: 93px;
 height: 75px;
 background-image: url(%%topbat%%);
} 

a[href|="/echoawe"] {  
 display: block;
 clear: none;
 float: left; 
 width: 79px;
 height: 75px;
 background-image: url(%%echoawe%%);
} 


a[href|="/2spooky4u"] {  
 display: block;
 clear: none;
 float: left; 
 width: 54px;
 height: 100px;
 background-image: url(%%2spooky4u2%%);
} 


a[href|="/echodatass"] {  
 display: block;
 clear: none;
 float: left; 
 width: 89px;
 height: 75px;
 background-image: url(%%echodatass%%);
} 


a[href|="/echofilly"] {  
 display: block;
 clear: none;
 float: left; 
 width: 93px;
 height: 80px;
 background-image: url(%%echofilly2%%);
} 


a[href|="/echowat"] {  
 display: block;
 clear: none;
 float: left; 
 width: 69px;
 height: 75px;
 background-image: url(%%EchoWat2%%);
} 


a[href|="/echostretch"] {  
 display: block;
 clear: none;
 float: left; 
 width: 120px;
 height: 95px;
 background-image: url(%%echostretch2%%);
} 

a[href|="/echopose"] {  
 display: block;
 clear: none;
 float: left; 
 width: 118px;
 height: 90px;
 background-image: url(%%Echo-172%%);
} 

a[href|="/echo1"] {  
 display: block;
 clear: none;
 float: left; 
 width: 97px;
 height: 90px;
 background-image: url(%%echo12%%);
} 

a[href|="/guardhappy"] {  
 display: block;
 clear: none;
 float: left; 
 width: 83px;
 height: 80px;
 background-image: url(%%guardhappy2%%);
} 

a[href|="/blossomhappy"] {  
 display: block;
 clear: none;
 float: left; 
 width: 75px;
 height: 75px;
 background-image: url(%%blossomhappy2%%);
} 

a[href|="/echosnacktime"] {  
 display: block;
 clear: none;
 float: left; 
 width: 78px;
 height: 100px;
 background-image: url(%%echosnacktime2%%);
} 

a[href|="/echoswag"] {  
 display: block;
 clear: none;
 float: left; 
 width: 82px;
 height: 70px;
 background-image: url(%%s-d-sdgr2%%);
} 

a[href|="/doesnotapprove"] {  
 display: block;
 clear: none;
 float: left; 
 width: 80px;
 height: 80px;
 background-image: url(%%doesnotapprove%%);
} 

a[href|="/speckwtf"] {  
 display: block;
 clear: none;
 float: left; 
 width: 83px;
 height: 100px;
 background-image: url(%%speckwtf%%);
} 

a[href|="/whatamireading"] {  
 display: block;
 clear: none;
 float: left; 
 width: 89px;
 height: 85px;
 background-image: url(%%whatamireading%%);
} 

a[href|="/speckseesyou"] {  
 display: block;
 clear: none;
 float: left; 
 width: 68px;
 height: 105px;
 background-image: url(%%specksees-you%%);
} 

a[href|="/kalsalute"] {  
 display: block;
 clear: none;
 float: left; 
 width: 221px;
 height: 150px;
 background-image: url(%%kalsalute%%);
} 