/*Hello! This is Andy and I have completely redone your CSS to make it take up less space! It's pretty self explanatory, but if you have a question just ask in mod mail!*/

/********* Emotes **********/

a[href|='/guardbathappy'], a[href|='/batdoesnotapprove'], a[href|='/echobendover'], a[href|='/echofilly'], a[href|='/guardbatpoker'], a[href|='/echodatass'], a[href|='/echowoah'], a[href|='/echosexy1'], a[href|='/echoshake'], a[href|='/topbat'], a[href|='/echosnacktime'], a[href|='/echowat'], a[href|='/echosexy2'], a[href|='/echosexy3'], a[href|='/speckstare'], a[href|='/speckcomputer'], a[href|='/kalsalute'], a[href|='/mosinareadingmap'], a[href|='/moonshinemad'], a[href|='/nightlightblush'], a[href|='/blossomhappy'], a[href|='/heartbeatstare'], a[href|='/nightlightkillyourfamily']{

    display: block;
    clear: none;
    float: left;
    background-image: url(%%batsheetonefix2%%) }

a[href|="/guardbathappy"] {width:115px; height:140px; background-position: -0px -0px}
a[href|="/batdoesnotapprove"] {width:108px; height:113px; background-position: -116px -0px}
a[href|="/echobendover"] {width:156px; height:135px; background-position: -223px -0px}
a[href|="/echofilly"] {width:90px; height:78px; background-position: -405px -0px}
a[href|="/guardbatpoker"] {width:75px; height:103px; background-position: -0px -140px}
a[href|="/echodatass"] {width:129px; height:147px; background-position: -75px -139px}
a[href|="/echowoah"] {width:134px; height:145px; background-position: -204px -140px}
a[href|="/echosexy1"] {width:122px; height:138px; background-position: -338px -138px}
a[href|="/echoshake"] {width:147px; height:117px; background-position: -0px -286px}
a[href|="/topbat"] {width:142px; height:138px; background-position: -151px -286px}
a[href|="/echosnacktime"] {width:155px; height:130px; background-position: -293px -286px}
a[href|="/echowat"] {width:121px; height:133px; background-position: -0px -416px}
a[href|="/echosexy2"] {width:149px; height:121px; background-position: -122px -423px}
a[href|="/echosexy3"] {width:157px; height:123px; background-position: -271px -417px}
a[href|="/speckstare"] {width:105px; height:140px; background-position: -0px -549px}
a[href|="/speckcomputer"] {width:176px; height:144px; background-position: -117px -544px}
a[href|="/kalsalute"] {width:195px; height:131px; background-position: -293px -545px}
a[href|="/mosinareadingmap"] {width:126px; height:149px; background-position: -0px -689px}
a[href|="/moonshinemad"] {width:121px; height:180px; background-position: -131px -690px}
a[href|="/nightlightblush"] {width:113px; height:180px; background-position: -251px -690px}
a[href|="/blossomhappy"] {width:72px; height:71px; background-position: -369px -675px}
a[href|="/heartbeatstare"] {width:70px; height:68px; background-position: -369px -747px}
a[href|="/nightlightkillyourfamily"] {width:108px; height:84px; background-position: -369px -817px}

/********* End of Emotes **********/

