/*Hello! This is Andy and I have completely redone your CSS to make it take up less space! It's pretty self explanatory, but if you have a question just ask in mod mail!*/

/********* Emotes **********/

a[href|='/guardbathappy'], a[href|='/batdoesnotapprove'], a[href|='/echobendover'], a[href|='/echofilly'], a[href|='/guardbatpoker'], a[href|='/echodatass'], a[href|='/echowoah'], a[href|='/echosexy1'], a[href|='/echoshake'], a[href|='/topbat'], a[href|='/echosnacktime'], a[href|='/echowat'], a[href|='/echosexy2'], a[href|='/echosexy3'], a[href|='/speckstare'], a[href|='/speckcomputer'], a[href|='/kalsalute'], a[href|='/mosinareadingmap'], a[href|='/moonshinemad'], a[href|='/nightlightblush'], a[href|='/blossomhappy'], a[href|='/heartbeatstare'], a[href|='/nightlightkillyourfamily']{

    display: block;
    clear: none;
    float: left;
    background-image: url(%%batsheetonefix2%%) }

a[href|="/guardbathappy"] {width:115px; height:140px; background-position: -0px -0px}
a[href|="/batdoesnotapprove"] {width:108px; height:113px; background-position: -116px -0px}
a[href|="/echobendover"] {width:156px; height:135px; background-position: -223px -0px}
a[href|="/echofilly"] {width:90px; height:78px; background-position: -405px -0px}
a[href|="/guardbatpoker"] {width:75px; height:103px; background-position: -0px -140px}
a[href|="/echodatass"] {width:129px; height:147px; background-position: -75px -139px}
a[href|="/echowoah"] {width:134px; height:145px; background-position: -204px -140px}
a[href|="/echosexy1"] {width:122px; height:138px; background-position: -338px -138px}
a[href|="/echoshake"] {width:147px; height:117px; background-position: -0px -286px}
a[href|="/topbat"] {width:142px; height:138px; background-position: -151px -286px}
a[href|="/echosnacktime"] {width:155px; height:130px; background-position: -293px -286px}
a[href|="/echowat"] {width:121px; height:133px; background-position: -0px -416px}
a[href|="/echosexy2"] {width:149px; height:121px; background-position: -122px -423px}
a[href|="/echosexy3"] {width:157px; height:123px; background-position: -271px -417px}
a[href|="/speckstare"] {width:105px; height:140px; background-position: -0px -549px}
a[href|="/speckcomputer"] {width:176px; height:144px; background-position: -117px -544px}
a[href|="/kalsalute"] {width:195px; height:131px; background-position: -293px -545px}
a[href|="/mosinareadingmap"] {width:126px; height:149px; background-position: -0px -689px}
a[href|="/moonshinemad"] {width:121px; height:180px; background-position: -131px -690px}
a[href|="/nightlightblush"] {width:113px; height:180px; background-position: -251px -690px}
a[href|="/blossomhappy"] {width:72px; height:71px; background-position: -369px -675px}
a[href|="/heartbeatstare"] {width:70px; height:68px; background-position: -369px -747px}
a[href|="/nightlightkillyourfamily"] {width:108px; height:84px; background-position: -369px -817px}

a[href|='/echostar'], a[href|='/nightfrosthappy'], a[href|='/echoface'], a[href|='/blossomlikesit'], a[href|='/blossomsquirrel'], a[href|='/nightlightpounce'], a[href|='/thisisbat'], a[href|='/nightlightsocool'], a[href|='/echolikesit'], a[href|='/topbat2'], a[href|='/derpybat'], a[href|='/echomoogle'], a[href|='/echoonthebed']{

    display: block;
    clear: none;
    float: left;
    background-image: url(%%batsheettwotwo%%) }

a[href|="/echostar"] {width:145px; height:150px; background-position: -117px -0px}

a[href|="/nightfrosthappy"] {width:155px; height:145px; background-position: -270px -0px}
a[href|="/echoface"] {width:145px; height:140px; background-position: -175px -150px}
a[href|="/blossomlikesit"] {width:170px; height:155px; background-position: -320px -150px}
a[href|="/blossomsquirrel"] {width:170px; height:162px; background-position: -0px -305px}
a[href|="/nightlightpounce"] {width:160px; height:150px; background-position: -173px -315px}
a[href|="/thisisbat"] {width:145px; height:155px; background-position: -350px -315px}
a[href|="/nightlightsocool"] {width:146px; height:160px; background-position: -0px -465px}
a[href|="/echolikesit"] {width:146px; height:162px; background-position: -145px -465px}
a[href|="/topbat2"] {width:158px; height:170px; background-position: -330px -465px}
a[href|="/derpybat"] {width:180px; height:142px; background-position: -0px -635px}
a[href|="/echomoogle"] {width:126px; height:172px; background-position: -180px -635px}
a[href|="/echoonthebed"] {width:190px; height:155px; background-position: -310px -645px}

/********* End of Emotes **********/

