/*testest*/

.side .titlebox h6 {position:fixed;z-index:1000;bottom:-270px;right:350px;display:block;width:240px;height:286px;padding:0;background:transparent url(%%dolphin%%) no-repeat top left;font-size:0;text-indent:-9999px;overflow:hidden; transition: bottom 1s;}
.side .titlebox h6:hover {bottom:-75px; transition: bottom 1s;}

/*letestestend*/


a[href|="/filly"]
{display:block;clear:none;float:left;width:70px;height:70px;background-image:url(%%filly-table%%)!important}

/*Rarity*/
.usertext input[value$="a"] + .usertext-body a[href="/filly"],
.usertext input[value$="c"] + .usertext-body a[href="/filly"]{background-position: 0 0}

/*Pinkie Pie*/
.usertext input[value$="j"] + .usertext-body a[href="/filly"],
.usertext input[value$="k"] + .usertext-body a[href="/filly"],
.usertext input[value$="l"] + .usertext-body a[href="/filly"]{background-position:0 -100%}

/*Scootaloo*/
.usertext input[value$="0"] + .usertext-body a[href="/filly"]{background-position:0 -200%}

/*Lyra*/
.usertext input[value$="y"] + .usertext-body a[href="/filly"]{background-position:0 -300%}

/*Vinyl Scratch*/
.usertext input[value$="1"] + .usertext-body a[href="/filly"]{background-position:0 -400%}

/*Roseluck*/
.usertext input[value$="4"] + .usertext-body a[href="/filly"]{background-position:0 -500%}

/*Princess Celestia*/
.usertext input[value$="7"] + .usertext-body a[href="/filly"]{background-position:0 -600%}

/*Princess Cadance*/
.usertext input[value$="t"] + .usertext-body a[href="/filly"],
.usertext input[value$="b"] + .usertext-body a[href="/filly"] {background-position:0 -700%}

/*Applejack*/
.usertext input[value$="d"] + .usertext-body a[href="/filly"],
.usertext input[value$="e"] + .usertext-body a[href="/filly"],
.usertext input[value$="f"] + .usertext-body a[href="/filly"]{background-position:-100% 0}

/*Rainbow Dash*/
.usertext input[value$="m"] + .usertext-body a[href="/filly"],
.usertext input[value$="n"] + .usertext-body a[href="/filly"]{background-position:-100% -100%}

/*Applebloom*/
.usertext input[value$="u"] + .usertext-body a[href="/filly"]{background-position:-100% -200%}

/*Bon Bon*/
.usertext input[value$="z"] + .usertext-body a[href="/filly"]{background-position:-100% -300%}

/*Octavia*/
.usertext input[value$="2"] + .usertext-body a[href="/filly"],
.usertext input[value$="o"] + .usertext-body a[href="/filly"]{background-position:-100% -400%}

/*Carrot Top*/
.usertext input[value$="5"] + .usertext-body a[href="/filly"]{background-position:-100% -500%}

/*Luna*/
.usertext input[value$="8"] + .usertext-body a[href="/filly"],
.usertext input[value$="r"] + .usertext-body a[href="/filly"]{background-position:-100% -600%}

/*Zecora*/
.usertext input[value$="v"] + .usertext-body a[href="/filly"]{background-position:-100% -700%}

/*Twilight Sparkle*/
.usertext input[value$="g"] + .usertext-body a[href="/filly"],
.usertext input[value$="h"] + .usertext-body a[href="/filly"],
.usertext input[value$="i"] + .usertext-body a[href="/filly"]{background-position:-200% 0}

/*Fluttershy*/
.usertext input[value$="p"] + .usertext-body a[href="/filly"],
.usertext input[value$="q"] + .usertext-body a[href="/filly"]{background-position:-200% -100%}

/*Sweetiebelle*/
.usertext input[value$="w"] + .usertext-body a[href="/filly"]{background-position:-200% -200%}

/*Cheerilee*/
.usertext input[value$="s"] + .usertext-body a[href="/filly"]{background-position:-200% -300%}

/*Spitfire*/
.usertext input[value$="3"] + .usertext-body a[href="/filly"]{background-position:-200% -400%}

/*Derpy*/
.usertext input[value$="6"] + .usertext-body a[href="/filly"]{background-position:-200% -500%}

/*Karma*/
.usertext input[value$="9"] + .usertext-body a[href="/filly"]{background-position:-200% -600%}

/*Minuette*/
.usertext input[value$="x"] + .usertext-body a[href="/filly"]{background-position:-200% -700%}

/*End filly code*/


#header {
	border: 0px;
	border-bottom: 0px;
	position: static;
	background-image: url(%%up%%);
	background-repeat: repeat-x;
	-webkit-animation: headershow 50s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-name: headershow;
	animation-duration: 50s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@-webkit-keyframes headershow
{
0%   {background-position: 0px;}
100% {background-position: -2491px;}
}
@keyframes headershow
{
0%   {background-position: 0px;}
100% {background-position: -2491px;}
}




.author[href$="/Moon-Phase"]:after {content: ' of all things lasers ';}

.author[href$="/Mr.Celestia"]:after {content: ' Of Boxxy ';}

.author:before {content: 'Queen ';}

/*Start of [REDACTED]*/


.side {
    padding-top: 100px;
    background: url(%%goddamnlochnessmonster%%) no-repeat 0 5px;
}

/*HAPPY BIRTHDAY ROSEBUD! 

                          -Apple*/
/* Tenks
                          -Pear*/

/*End of [REDACTED]*/

/* CHANGE NSFW TO NSFR */
.marknsfw-button a[href="#"], .unmarknsfw-button a[href="#"]
{
 font-size:0px!important;
 display:inline-block;
 vertical-align:top;
 overflow:hidden;
 letter-spacing:-20px;
 content:""
}

.unmarknsfw-button a[href="#"]:before, .marknsfw-button a[href="#"]:before
{
 font-size:10px!important;
 display:block;
 letter-spacing:normal;
 content:"NSFR"
}
.unmarknsfw-button a[href="#"]:before{content:"un-NSFR";}

.nsfw-stamp acronym
{
 border:#5F99CF 1px solid!important;
 display:inline-block;
 font-size:0px!important;
 letter-spacing:0px;
 overflow:hidden;
 vertical-align:bottom;
 margin-bottom:-1px;
 content:""
}

.nsfw-stamp acronym:after
{ 
 color:#336699!important;
 content:"NSFR"!important;
 display:block;
 font-size:x-small!important;
 text-decoration:none;
 margin: -15px 2px 1px;
}
div.over18 .entry .buttons .first{padding-left: 0px}
.footer-parent
{
 height:500px;
 padding-bottom:0px;
 clear:both;
 text-align:center;
 width:100%;
}

/*I don't know who organized the stylesheet, but noice job */

/* thanks */

/*No problem*/

/* HEADER */
#header { background: url(%%up%%); }

/* BACKGROUND */
body { background: url(%%4waffleLite%%)

repeat fixed center center ; }

/* FLAIR */
.flairselector .customizer {
display: none !important;
}

/* SINGLE EMOTES */

a[href="/flitterheart"] {
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 124px;
    Height: 201px;
    background-image: url(%%flitterheart%%)
}

a[href="/moist"] {
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 200px;
    Height: 200px;
    background-image: url(%%moist%%)
}

a[href="/twikillme"] {
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 100px;
    Height: 139px;
    background-image: url(%%twikillme%%)
}

a[href|="/best"] {
    display: block;
    clear: none;
    float: left;
    width: 120px;
    height: 88px;
    background-repeat: no-repeat;
    background-image: url(%%best%%)
}

/* ARROWS */
.arrow.up { background: url(%%waf%%) 0 0; } 
.arrow.upmod { background: url(%%up%%) 0 0; } 

.arrow.down { background: url(%%yat%%) 0 0; } 
.arrow.downmod { background: url(%%ta%%) 0 0; }

/* THINGS */
a[href="YATTAA"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 500px;
Height: 442px;
background-image: url(%%YATTAA%%) !important
}

a[href="best"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 120px;
Height: 88px;
background-image: url(%%best%%) !important
}

a[href|="killerrabbit"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 300px;
    background-repeat: no-repeat;
    background-image: url(%%killerrabbit%%)
}

/*le scrollbar*/
:focus {outline: 0px;}
			
		::-webkit-scrollbar {
			width: 12px;
			height: 12px;
			background-color: #f5f5f5;
			border-left: 1px solid #d2d2d2;
		}
		
			::-webkit-scrollbar-thumb {
				background-color: #FFB6C1; /*le pink*/
				border-top: 1px solid #b6b6b6;
				border-bottom: 1px solid #969696;
				border-left: 1px solid #b6b6b6;
			}
			
			::-webkit-scrollbar-button {
				display: none;
				width: 0;
				height: 0;
			}
		
			::-webkit-scrollbar-corner {
				background-color: transparent;
				color: #555555;
			}
		
		::selection {background-color:#FFB6C1;color:white;font-weight:bold;}
/*le scrollbar le end*/


/*apples*/
.side .titlebox h6:hover {bottom:-10px;}
/*apples end*/

/*NO. I KNOW WHY YOU ARE HERE. TO MAKE EMOTES FROM THAT POST. NO. I'M THE CSS GUY AHAHAHAHAHAHAHAHAHHA*/


.report-button:hover:after { position: absolute; display: block; z-index: 100000; padding: 5px; border: 1px solid #333; background-color: #FFF; content: "Please only report posts that Gary disapproves of."; text-align: center; font-weight: normal; margin-left: 5px; margin-top: 5px;  }

.titlebox .bottom .author, .sidecontentbox .author {
    display: inline-block
}

.sidecontentbox a.author[href$="/shellbullet17"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px

}



/*Bob Ross Search Man*/

.sidecontentbox .flair {display:none}
.titlebox strong {font-size: medium;}
.titlebox .SuperRedditAltTextDisplay_Text{display:none!important}
.titlebox .expando-button.collapsed.video{display:none!important}
.sidecontentbox .voteWeight,.sidecontentbox .userTagLink{display:none!important}
#search input[type='text']
{
 background:url(%%sexyross%%) top left no-repeat!important;
 padding:13px 2px 13px 50px!important;
 height:22px!important;
 width:245px!important
}

/* SUBSCRIBERS */
.subscribers .word, .users-online .word{
display:none;
}
.subscribers .number:after { 
content: " Garys"
}
.users-online .number:after { 
content: " Garys here now" 
} 

/* FOOTER */
.footer-parent:after {
    content: url(%%wafflestare%%);
}

/* [](/sp) */
a[href|="/sp"]{ display: inline-block; padding-right: 100%; width: 0px; height: 0px; }

/*Mega Awesome /r/Berrytrain exclusive mail changer machine 4200 with air conditioning and scones*/

#mail {
position: relative;
display: inline-block;
text-indent: -9999px;
overflow: hidden;
width: 15px; 
height: 10px;}

#mail.havemail {
background:url(%%BerryMail%%);
}

/*The End of the Mega Awesome /r/Berrytrain exclusive mail changer machine 4200 with air conditioning and scones*/

.author[href$="/KillerRabbit1253"]:before {content: 'King Queen ' ;}
.author[href$="/KillerRabbit1253"]:after {content: ' is the princess of ice cream, BerryTrain, and Boxy' ;}

.author[href$="HonorInDefeat"]:after {content: ' of Disney Songs' ;}

/* STYLESHEET EMOTES */

/* 70 by 70 */
a[href="/chibirose"], a[href="/fluttershyhide"], a[href="/pinkiehide"], a[href="/rosecute"], a[href="/rosenotimpressed"], a[href="/roseyay"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%70by70%%) !important
}
a[href="/chibirose"] {width: 70px; height: 70px; background-position: -5px -5px; }
a[href="/fluttershyhide"] { width: 70px; height: 75px; background-position: -85px -5px; } 
a[href="/pinkiehide"] { width: 70px; height: 70px; background-position: -5px -90px; }
a[href="/rosecute"] { width: 70px; height: 71px; background-position: -85px -90px; }
a[href="/rosenotimpressed"] { width: 70px; height: 70px; background-position: -165px -5px; }
a[href="/roseyay"] { width: 70px; height: 80px; background-position: -165px 85px; }

/* 100 by 100 */
a[href="/berryuhh"], a[href="/carrotshock"], a[href="/celsit"], a[href="/cheershrug"], a[href="/clickityhack"], a[href="/crystalpinkie"], a[href="/ewwstraight"], a[href="/flitterexcite"], a[href="/hwpeekaboo"], a[href="/mmkay"], a[href="/pinkieissad"], a[href="/raindropsheh"], a[href="/rarfacehoof"], a[href="/sunsetplot"], a[href="/wmflitter"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 100px;
    background-image: url(%%100by100%%) !important
}
a[href="/berryuhh"] { width: 100px; height: 100px; background-position: -5px -5px; }
a[href="/carrotshock"] { width: 100px; height: 100px; background-position: -115px -5px; }
a[href="/celsit"] {width: 100px; height: 90px; background-position: -225px -5px; }
a[href="/cheershrug"] { width: 100px; height: 100px; background-position: -225px -105px; }
a[href="/clickityhack"] { width: 100px; height: 100px; background-position: -5px -215px; }
a[href="/crystalpinkie"] { width: 100px; height: 100px; background-position: -115px -115px; }
a[href="/ewwstraight"] { width: 100px; height: 100px; background-position: -225px -215px; }
a[href="/flitterexcite"] { width: 100px; height: 110px; background-position: -335px -5px; }
a[href="/hwpeekaboo"] { width: 100px; height: 100px; background-position: -335px -125px; }
a[href="/mmkay"] { width: 100px; height: 100px; background-position: -335px -235px; }
a[href="/pinkieissad"] {width: 100px; height: 110px; background-position: -5px -345px;}
a[href="/raindropsheh"] { width: 100px; height: 100px; background-position: -115px -345px; }
a[href="/rarfacehoof"] {width: 100px; height: 114px; background-position: -225px -345px;}
a[href="/sunsetplot"] { width: 100px; height: 95px; background-position: -335px -345px; }
a[href="/wmflitter"] {width: 100px; height: 115px; background-position: -445px -5px; }

/* 100 by 130 */
a[href="/babsseed"], a[href="/carrotexcite"], a[href="/carrotpose"], a[href="/ccflitcheer"], a[href="/dtlaugh"], a[href="/dtmad"], a[href="/dtreally"], a[href="/dtwut"], a[href="/harshwhinny"], a[href="/msawkward"], a[href="/professionalism"], a[href="/smithlaugh"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 130px;
    background-image: url(%%100by130%%) !important
}
a[href="/babsseed"] { width: 100px; height: 130px; background-position: -5px -5px; }
a[href="/carrotexcite"] { width: 100px; height: 130px; background-position: -115px -5px; }
a[href="/carrotpose"] { width: 100px; height: 140px; background-position: -225px -5px; }
a[href="/ccflitcheer"] { width: 100px; height: 120px; background-position: -5px -155px; }
a[href="/dtlaugh"] { width: 100px; height: 120px; background-position: -115px -155px; }
a[href="/dtmad"] { width: 100px; height: 130px; background-position: -225px -155px; }
a[href="/dtreally"] { width: 100px; height: 130px; background-position: -335px -5px; }
a[href="/dtwut"] { width: 100px; height: 120px; background-position: -335px -145px; }
a[href="/harshwhinny"] { width: 100px; height: 130px; background-position: -335px -275px; }
a[href="/msawkward"] { width: 100px; height: 130px; background-position: -5px -415px; }
a[href="/professionalism"] { width: 100px; height: 130px; background-position: -115px -415px; }
a[href="/smithlaugh"] { width: 100px; height: 120px; background-position: -225px -415px; }

/* 100 by 150 */
a[href="/cantclop"], a[href="/dtdizzy"], a[href="/flitterblush"], a[href="/flitterfilly"], a[href="/grannygimme"], a[href="/hwnotamused"], a[href="/raindropsconcerned"], a[href="/roseluckheart"], a[href="/rosetease"], a[href="/silverhappy"], a[href="/silverhmm"], a[href="/waffle"], a[href="/winterwat"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 150px;
    background-image: url(%%100by150%%) !important
}
a[href="/cantclop"] { width: 100px; height: 150px; background-position: -5px -5px; }
a[href="/dtdizzy"] { width: 100px; height: 150px; background-position: -115px -5px; }
a[href="/flitterblush"] { width: 100px; height: 150px; background-position: -225px -5px; }
a[href="/flitterfilly"] { width: 100px; height: 140px; background-position: -335px -5px; }
a[href="/grannygimme"] { width: 100px; height: 140px; background-position: -335px -155px; }
a[href="/hwnotamused"] { width: 100px; height: 150px; background-position: -5px -305px; }
a[href="/raindropsconcerned"] { width: 150px; height: 140px; background-position: -115px -305px; }
a[href="/roseluckheart"] { width: 100px; height: 150px; background-position: -275px -305px; }
a[href="/rosetease"] { width: 100px; height: 150px; background-position: -445px -5px; }
a[href="/silverhappy"] { width: 100px; height: 140px; background-position: -445px -165px; }
a[href="/silverhmm"] { width: 100px; height: 140px; background-position: -385px -315px; }
a[href="/waffle"] { width: 100px; height: 150px; background-position: -5px -465px; }
a[href="/winterwat"] {width: 100px; height: 151px; background-position: -115px -465px;}

/* 150 by 100 */
a[href="/abandbabs"], a[href="/berrypounce"], a[href="/cadblush"], a[href="/ccflittada"], a[href="/celstartled"], a[href="/cheerswoon"], a[href="/ddrdhug"], a[href="/dtsshaha"], a[href="/flitterstretch"], a[href="/flufflesquee"], a[href="/fritteryay"], a[href="/lunabored"], a[href="/nataliapoklonskaya"], a[href="/rosescrunch"], a[href="/wintersleep"]{
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 100px;
    background-image: url(%%150by100%%) !important
}
a[href="/abandbabs"] { width: 150px; height: 100px; background-position: -5px -5px; }
a[href="/berrypounce"] { width: 150px; height: 100px; background-position: -165px -5px; }
a[href="/cadblush"] {width: 150px; height: 84px; background-position: -325px -5px; }
a[href="/ccflittada"] { width: 150px; height: 113px; background-position: -325px -99px; }
a[href="/celstartled"] { width: 150px; height: 115px; background-position: -5px -222px; }
a[href="/cheerswoon"] {width: 150px; height: 115px; background-position: -165px -222px; }
a[href="/ddrdhug"] { width: 150px; height: 97px; background-position: -325px -222px; }
a[href="/dtsshaha"] { width: 150px; height: 110px; background-position: -325px -329px; }
a[href="/flitterstretch"] {width: 150px; height: 110px; background-position: -485px -5px; }
a[href="/flufflesquee"] { width: 153px; height: 100px; background-position: -485px -125px;}
a[href="/fritteryay"] { width: 150px; height: 110px; background-position: -485px -235px; }
a[href="/lunabored"] { width: 150px; height: 90px; background-position: -5px -355px; }
a[href="/nataliapoklonskaya"] { width: 195px; height: 100px; background-position: -485px -355px; }
a[href="/rosescrunch"] { width: 158px; height: 100px; background-position: -5px -465px; }
a[href="/wintersleep"] {width: 150px; height: 118px; background-position: -173px -465px; }

/* 150 by 130 */
a[href="/arousing"], a[href="/babsmean"], a[href="/carrotannoyed"], a[href="/flitterlook"], a[href="/flitternotbad"], a[href="/forgiveme"], a[href="/intensegaming"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 130px;
    background-image: url(%%150by130%%) !important
}
a[href="/arousing"] { width: 146px; height: 139px; background-position: -5px -5px; }
a[href="/babsmean"] { width: 150px; height: 130px; background-position: -161px -5px; }
a[href="/carrotannoyed"] { width: 150px; height: 130px; background-position: -161px -145px; }
a[href="/flitterlook"] { width: 150px; height: 130px; background-position: -321px -5px; }
a[href="/flitternotbad"] { width: 150px; height: 120px; background-position: -321px -145px; }
a[href="/forgiveme"] { width: 150px; height: 130px; background-position: -321px -275px; }
a[href="/intensegaming"] { width: 150px; height: 120px; background-position: -481px -5px; }

/* 150 by 150 */
a[href="/berrysocks"], a[href="/bobross"], a[href="/cakestada"], a[href="/cocowave"], a[href="/culminated"], a[href="/flitterannoyed"], a[href="/flitterhi"], a[href="/flitterwhat"], a[href="/grannyumad"], a[href="/grannyworried"], a[href="/harshwat"], a[href="/poetmaud"], a[href="/tgapflutters"], a[href="/winterbutt"], a[href="/woonaexcited"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(%%150by150%%) !important
}
a[href="/berrysocks"] { width: 150px; height: 155px; background-position: -5px -5px; }
a[href="/bobross"] { width: 150px; height: 189px; background-position: -165px -5px; }
a[href="/cakestada"] { width: 150px; height: 140px; background-position: -325px -5px; }
a[href="/cocowave"] { width: 150px; height: 150px; background-position: -325px -155px; }
a[href="/culminated"] { width: 150px; height: 150px; background-position: -5px -315px; }
a[href="/flitterannoyed"] { width: 150px; height: 140px; background-position: -165px -315px; }
a[href="/flitterhi"] { width: 150px; height: 150px; background-position: -325px -315px; }
a[href="/flitterwhat"] { width: 142px; height: 150px; background-position: -485px -5px; }
a[href="/grannyumad"] { width: 150px; height: 150px; background-position: -485px -165px; }
a[href="/grannyworried"] { width: 150px; height: 140px; background-position: -485px -325px; }
a[href="/harshwat"] { width: 150px; height: 140px; background-position: -5px -475px; }
a[href="/poetmaud"] { width: 150px; height: 186px; background-position: -165px -475px; }
a[href="/tgapflutters"] { width: 150px; height: 144px; background-position: -325px -475px; }
a[href="/winterbutt"]{ width: 150 px; height: 159px; background-position: -485px -475px; }
a[href="/woonaexcited"] { width: 150px; height: 150px; background-position: -637px -5px; }

/*color text*/

/*Large Red*/

h9{
color:red;
font-size:25pt;
}

h9:after {content:"";}

/*wot*/

h8{
color:violet;
font-size:10pt;
}

h8:after {content:" Also I'm a douchebag.";}


/*color text End*/

/*Announcement Text*/

.author:before {content: 'Queen ';}

blockquote blockquote blockquote {
	position: absolute;
	left: 5px;
	display: table;
	background: none;
	right: 304px;
	text-align: left;
	border: 0 !important;
	font-weight: normal;
	height: 38px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.side blockquote blockquote blockquote h6 {
	color: #333 !important;
	text-transform: none;
	letter-spacing: 1px;
	background: none;
	vertical-align: middle;
	display: table-cell;
}

.side blockquote blockquote blockquote h6 a {
	color: #4BA6E0;
}

.side blockquote blockquote blockquote h6 a:hover {
	color: #97CE68;
}

/*Announcemet Text End*/







/*Sidebar magic*/

.side h6 {
	color: #FFF!important;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: normal!important;
	display: block;
	padding-left: 2px;
	font-size: 140%;
	background: #FF6766;
}

.side h6+blockquote {
	display: block;
	background-color: #FEF0F0;
	border: 0;
	color: #000!important;
	margin: 0px 0 5px 0 !important;
	padding: 5px;
}

.side h4 {
	color: #FFF!important;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: normal!important;
	display: block;
	padding-left: 2px;
	font-size: 140%;
	background: #68ADCE;
}

.side h4+blockquote {
	display: block;
	background-color: #EAEAFF;
	border: 0;
	color: #000!important;
	margin: 0px 0 5px 0 !important;
	padding: 5px;
}

.side h5 {
	color: #FFF!important;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: normal!important;
	display: block;
	padding-left: 2px;
	font-size: 140%;
	background: #97CE68;
}

.side h5+blockquote {
	display: block;
	background-color: #E9FFE6;
	border: 0;
	color: #000!important;
	margin: 0px 0 5px 0 !important;
	padding: 5px;
}


/*Magic End*/

/*CSS3*/

a[href="/intensifies"] {
  color: #000000;
  text-transform: uppercase;
  display: block;
  font-size: 32px;
  animation: intensify .1s steps(5) infinite;
  -webkit-animation: intensify .1s steps(5) infinite;
}

a[href="/intensifies"]:before {
  content: "[";
}

a[href="/intensifies"]:after {
  content: "]";
}

@keyframes intensify {
 0% { margin-left: 0px; }
 100% { margin-left: 20px; }
}

@-webkit-keyframes intensify {
 0% { margin-left: 0px; }
 100% { margin-left: 20px; }
}

/*---*/

.content .midcol,.content .commentarea .comment {overflow:visible !important;}

.arrow.upmod{
  animation: upMoon ease 1.5s;
  animation-iteration-count: 1;
  -webkit-animation: upMoon ease .7s;
  -webkit-animation-iteration-count: 1;
}
@keyframes upMoon{
  0% { transform:translate(0,0); opacity:1; }
  10% { transform:translate(4px,0) rotate(5deg); }
  15% { transform:translate(-4px,0) rotate(-15deg); }
  20% { transform:translate(0,0); }
  50% { transform:translate(0,10px); opacity:1; }
  88% { transform:translate(0,-140px); opacity:0; }
  94% { transform:translate(0,14px); opacity:0;}
  100% { transform:translate(0,0); opacity:1; }
}

@-webkit-keyframes upMoon{
  0% { -webkit-transform:translate(0,0); opacity:1; }
  10% { -webkit-transform:translate(4px,0) rotate(5deg); }
  15% { -webkit-transform:translate(-4px,0) rotate(-15deg); }
  20% { -webkit-transform:translate(0,0); }
  50% { -webkit-transform:translate(0,10px); opacity:1; }
  88% { -webkit-transform:translate(0,-140px); opacity:0; }
  94% { -webkit-transform:translate(0,14px); opacity:0;}
  100% { -webkit-transform:translate(0,0); opacity:1; }
}

/*---*/

.content .midcol,.content .commentarea .comment {overflow:visible !important;}

.arrow.downmod{
  animation: downMoon ease 1.5s;
  animation-iteration-count: 1;
  -webkit-animation: downMoon ease .6s;
  -webkit-animation-iteration-count: 1000;
}
@keyframes downMoon{
  0% { transform:translate(0,0); opacity:1; }
  10% { transform:translate(4px,0) rotate(5deg); }
  15% { transform:translate(-4px,0) rotate(-15deg); }
  20% { transform:translate(0,0); }
  50% { transform:translate(0,10px); opacity:1; }
  88% { transform:translate(0,-140px); opacity:0; }
  94% { transform:translate(0,14px); opacity:0;}
  100% { transform:translate(0,0); opacity:1; }
}

@-webkit-keyframes downMoon{
  0% { -webkit-transform:translate(0,0); opacity:1; }
  10% { -webkit-transform:translate(5px,0) rotate(5deg); }
  15% { -webkit-transform:translate(-4px,0) rotate(-15deg); }
  20% { -webkit-transform:translate(0,0); }
  50% { -webkit-transform:translate(0,10px); opacity:1; }
  88% { -webkit-transform:translate(0,-140px); opacity:0; }
  94% { -webkit-transform:translate(0,14px); opacity:0;}
  100% { -webkit-transform:translate(0,0); opacity:1; }
}

/*---*/

a[href="/intensifies2"] {
  color: #000000;
  text-transform: uppercase;
  display: block;
  font-size: 32px;
  animation: intensify .1s steps(5) infinite;
  -webkit-animation: intensify .1s steps(5) infinite;
}

a[href="/intensifies2"]:before {
  content: " ";
}

a[href="/intensifies2"]:after {
  content: " ";
}

@keyframes intensify {
 0% { margin-left: 0px; }
 100% { margin-left: 80px; }
}

@-webkit-keyframes intensify {
 0% { margin-left: 0px; }
 100% { margin-left: 80px; }
}

/*ERGRHGTBTRGBFGBF*/

