#header-bottom-left:nth-of-type(n) {
   background: url(%%banner%%); 
   background-repeat: no-repeat;
   background-position: 50% 0%;
   height: 260px;
 }


#header-img {
    margin-top:216px; /* 80 for meat's nice banner */
    margin-left: 0px;
    position: absolute
    }

.pagename {
    position: absolute;
    bottom: 0px;
    left: 110px;
    /*background-color: #421C52;*/
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black
    }
.pagename a {
    color: #421C52;
    padding: 5px
    }
.tabmenu {
    margin-top: 246px; /* 223 for meat's nice banner */
    margin-left: 260px
    }

.tabmenu li a {
    color: #000000;
    background-color: #ffffff;
    border: 0px solid black
    }
#header {
    border-bottom: 1px solid #000000;
    position: relative;
    z-index: 99
    }


/* Put username here for replacement */
a.author[href$="31eipekili"],
a.author[href$="GreyMage"],
a.author[href$="Quakerlock"],
a.author[href$="_Blueshift"],
a.author[href$="LavenderExtract"],
a.author[href$="rautenkranzmt"],
a.author[href$="CrashTestDumbass"],
a.author[href$="div_"],
a.author[href$="di_zz"],
a.author[href$="arborcide"]
{ 
font-size:0!important; 
overflow:hidden; 
display:inline-block; 
content: "";
}

/* Also put it here */
a.author[href$="31eipekili"]:before,
a.author[href$="GreyMage"]:before,
a.author[href$="Quakerlock"]:before,
a.author[href$="_Blueshift"]:before,
a.author[href$="LavenderExtract"]:before,
a.author[href$="rautenkranzmt"]:before,
a.author[href$="CrashTestDumbass"]:before,
a.author[href$="div_"]:before,
a.author[href$="di_zz"]:before,
a.author[href$="arborcide"]:before
{
font-size:10px!important; 
visibility:visible!important;
}

/* Replacement goes here */
a.author[href$="31eipekili"]:before { content:"BATMAN" }
a.author[href$="GreyMage"]:before { content:"Cades" }
a.author[href$="Quakerlock"]:before { content:"PobodysNerfect" }
a.author[href$="_Blueshift"]:before { content:"blueshift" }
a.author[href$="LavenderExtract"]:before { content:"Lavender" }
a.author[href$="di_zz"]:before { content:"dizz" }
a.author[href$="rautenkranzmt"]:before { content:"sehro" }
a.author[href$="CrashTestDumbass"]:before { content:"Trahsi" }
a.author[href$="div_"]:before { content:"wut" }
a.author[href$="arborcide"]:before { content:"Sly_Clopper" }

/*Spoiler tag within comments. Your comment should be: "[This is a spoiler sentence.](/spoiler)" */  
a[href$="/spoiler"] {  
background: #000 !important;  
color: #000 !important  
}  

a[href$="/spoiler"]:hover {  
color: #FFF !important  
}

/**********************/
/*********Flair**********/
/**********************/

.flair {
     padding:0;
     background:none;
     color:black;
     border:0;
     border-radius:0;
     background-image: url(%%noxflair%%);
     display: inline-block;
     width: 16px;
     height: 16px;
}

.flair-wine { background-position: 0px -16px }
.flair-cocktail { background-position: 0px -32px }
.flair-beer1 { background-position: 0px -48px }
.flair-liquor1 { background-position: 0px -64px }
.flair-liquor2 { background-position: 0px -80px }
.flair-beer2 { background-position: 0px -96px }

/**********************/
/*********Emotes*******/
/**********************/

a[href|="/btl00"], a[href|="/btl10"], a[href|="/btl01"], a[href|="/btl11"], a[href|="/btl02"], a[href|="/btl12"], a[href|="/btl03"], a[href|="/btl13"], a[href|="/halp"], a[href|="/onekeg"], a[href|="/scootafresh"], a[href|="/spikedapper"], a[href|="/beepbeep"], a[href|="/vinyldance"], a[href|="/octysmile"], a[href|="/octygrin"] {
display:block;
clear: none;
float: left;
width: 70px;
height: 70px;
background-image: url(%%btlemotetable1%%) !important
}

a[href|="/btl04"], a[href|="/octav3drag"]{
display:block;
clear: none;
float: left;
width: 140px;
height: 70px;
background-image: url(%%btlemotetable1%%) !important
}

/* Temporarily Removed until a blank background in progress by Kallado is finished
a[href|="/cmcbop"]{
display:block;
clear: none;
float: left;
width: 140px;
height: 70px;
background-image: url(%%cmcbop%%) !important
}*/

a[href|="/btl00"], a[href|="/halp"] {
background-position: -0px -0px
}

a[href|="/btl10"], a[href|="/onekeg"] {
background-position: -70px -0px
}

a[href|="/btl01"], a[href|="/scootafresh"] {
background-position: -0px -70px
}

a[href|="/btl11"], a[href|="/spikedapper"] {
background-position: -70px -70px
}

a[href|="/btl02"], a[href|="/beepbeep"] {
background-position: -0px -140px
}

a[href|="/btl12"], a[href|="/vinyldance"] {
background-position: -70px -140px
}

a[href|="/btl03"], a[href|="/octysmile"] {
background-position: -0px -210px
}

a[href|="/btl13"], a[href|="/octygrin"] {
background-position: -70px -210px
}

a[href|="/btl04"], a[href|="/octav3drag"] {
background-position: -0px -280px
}