/* Announcement Stuff */
.md h2 a {
    color: red;
    display: block;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    width: 230px;
}

.md h2 {
    margin: 20px 0;
    text-align: center;
}

/* Important stuff link flair*/
div.linkflair-btimportant div.entry {
background-color: rgb(252, 225, 243) !important;
border: 2px dashed rgb(243, 112, 200) !important;
border-radius: 10px;
}
div.thing.link.linkflair-btimportant, div.thing.link.linkflair-btimportant + div.clearleft {
display: table-header-group;
}
div.sitetable.linklisting{
display: table;
}

/* (stolen from manesub with love) Fix new Reddit CSS crashing emotes into the comment buttons */
.commentarea .md::after, .entry .md::after, .livePreview .md::after
{
    content:"";
    display:block;
    width:100%;
    clear:left;
}

/*Fancy h4s from /r/mlp*/
.titlebox li h4 { padding-top: 4px; }
.thing.self h4:before
{
 content:"";
 width:100%;
 background:transparent url(%%fancyheaders%%) no-repeat bottom left;
 width:14px;
 height:46px;
 margin-bottom:-19px;
 position:relative;
 left:-14px;
 z-index:100;
 display:inline-block;
 overflow:hidden
}

.thing.self h4
{
 width:100%;
 font-style:normal;
 font-size:2em;
 background:#CEE3F8;
 color:#5F99CF;
 margin-left:-6px;
 padding-right:11px;
 display:block;
 overflow:visible;
 white-space:nowrap;
 font-variant:small-caps
}

/*messing with worldtrekka*/
.id-t3_1420zy a.title,#siteTable_t3_1420zy div.md p{
direction: rtl;
unicode-bidi: bidi-override;
text-align: left;
}
html[lang="wb"] div.md, html[lang="wb"] a.title, html[lang="wb"] .side *, html[lang="wb"] .entry *, html[lang="wb"] #sr-header-area *, html[lang="wb"] .pagename{
direction: rtl;
unicode-bidi: bidi-override;
text-align: left;
}


#header-bottom-left:nth-of-type(n) {
   background: url(%%banner%%); 
   background-repeat: no-repeat;
   background-position: 50% 0%;
   height: 260px;
 }


#header-img {
    margin-top:216px; /* 80 for meat's nice banner */
    margin-left: 0px;
    position: absolute
    }

.pagename {
    position: absolute;
    bottom: 0px;
    left: 110px;
    /*background-color: #421C52;*/
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black
    }
.pagename a {
    color: #421C52;
    padding: 5px
    }
.tabmenu {
    margin-top: 246px; /* 223 for meat's nice banner */
    margin-left: 260px
    }

.tabmenu li a {
    color: #000000;
    background-color: #ffffff;
    border: 0px solid black
    }
#header {
    border-bottom: 1px solid #000000;
    position: relative;
    z-index: 99
    }


/* Put username here for replacement */
a.author[href$="31eipekili"],
a.author[href$="GreyMage"],
a.author[href$="Quakerlock"],
a.author[href$="_Blueshift"],
a.author[href$="LavenderExtract"],
a.author[href$="rautenkranzmt"],
a.author[href$="CrashTestDumbass"],
a.author[href$="div_"],
a.author[href$="di_zz"],
a.author[href$="arborcide"],
a.author[href$="motbob"],
a.author[href$="Rosindust89"],
a.author[href$="batsomething"],
a.author[href$="QuillOmega0"],
a.author[href$="AtteLynx"]
{ 
font-size:0!important; 
overflow:hidden; 
display:inline-block; 
content: "";
}

/* Also put it here */
a.author[href$="31eipekili"]:before,
a.author[href$="GreyMage"]:before,
a.author[href$="Quakerlock"]:before,
a.author[href$="_Blueshift"]:before,
a.author[href$="LavenderExtract"]:before,
a.author[href$="rautenkranzmt"]:before,
a.author[href$="CrashTestDumbass"]:before,
a.author[href$="div_"]:before,
a.author[href$="di_zz"]:before,
a.author[href$="arborcide"]:before,
a.author[href$="motbob"]:before,
a.author[href$="Rosindust89"]:before,
a.author[href$="batsomething"]:before,
a.author[href$="QuillOmega0"]:before,
a.author[href$="AtteLynx"]:before
{
font-size:10px!important; 
visibility:visible!important;
}

/* Replacement goes here */
a.author[href$="31eipekili"]:before { content:"BATMAN" }
a.author[href$="GreyMage"]:before { content:"Cades" }
a.author[href$="Quakerlock"]:before { content:"PobodysNerfect" }
a.author[href$="_Blueshift"]:before { content:"blueshift" }
a.author[href$="LavenderExtract"]:before { content:"Lavender" }
a.author[href$="di_zz"]:before { content:"dizz" }
a.author[href$="rautenkranzmt"]:before { content:"sehro" }
a.author[href$="CrashTestDumbass"]:before { content:"Trahsi" }
a.author[href$="div_"]:before { content:"wut" }
a.author[href$="arborcide"]:before { content:"Sly_Clopper" }
a.author[href$="motbob"]:before { content:"Littlecolt" }
a.author[href$="Rosindust89"]:before { content:"FlutterPie" }
a.author[href$="batsomething"]:before { content:"mc_square" }
a.author[href$="QuillOmega0"]:before { content:"Q0" }
a.author[href$="AtteLynx"]:before { content:"Atte" }

/*Spoiler tag within comments. Your comment should be: "[This is a spoiler sentence.](/spoiler)" */  
a[href$="/spoiler"] {  
background: #000 !important;  
color: #000 !important  
}  

a[href$="/spoiler"]:hover {  
color: #FFF !important  
}

/**********************/
/*********Flair**********/
/**********************/

.flair {
     padding:0;
     background:none;
     color:black;
     border:0;
     border-radius:0;
     background-image: url(%%noxflair%%);
     display: inline-block;
     width: 16px;
     height: 16px;
}

.flair-wine { background-position: 0px -16px }
.flair-cocktail { background-position: 0px -32px }
.flair-beer1 { background-position: 0px -48px }
.flair-liquor1 { background-position: 0px -64px }
.flair-liquor2 { background-position: 0px -80px }
.flair-beer2 { background-position: 0px -96px }


/***************************/
/*Upstrawberries/downgrapes*/
/***************************/


.score.dislikes, .score.unvoted, .score.likes 
{
    height: 14px !important;
    margin-top: -2px !important;
}

span.rank {padding-top: .45% !important;}

.arrow.upmod, .arrow.downmod, .arrow.up, .arrow.down 
{
    background-image: url(%%berries%%) !important; 
    width: 20px !important;
    height: 20px !important;
}

.arrow.upmod {background-position: -40px 0px !important;}
.arrow.downmod {background-position: 0px 0px !important;}
.arrow.up {background-position: -60px 0px !important;}
.arrow.down {background-position: -20px 0px !important;}

.midcol[style] {    width: 4ex !important; }
.midcol { overflow: visible !important; margin-right:8px !important; }
.click-gadget .midcol { margin: 0 !important; }

.link .score.likes {
color: #ff185a;
}

.link .score.dislikes {
color: #c247d5;
}
.res_post_ups{
color: #ff2462 !important;
}

.res_post_downs{
color: #f194ff !important;
}


/**********************/
/*********Emotes*******/
/**********************/

a[href|="/pony"]{
display:block;
clear: none;
float: left;
width: 396px;
height: 320px;
background-image: url(%%sJkxTU7%%)
}

a[href|="/btl00"], a[href|="/btl10"], a[href|="/btl01"], a[href|="/btl11"], a[href|="/btl02"], a[href|="/btl12"], a[href|="/btl03"], a[href|="/btl13"], a[href|="/halp"], a[href|="/onekeg"], a[href|="/scootafresh"], a[href|="/spikedapper"], a[href|="/beepbeep"], a[href|="/vinyldance"], a[href|="/octysmile"], a[href|="/octygrin"] {
display:block;
clear: none;
float: left;
width: 70px;
height: 70px;
background-image: url(%%btlemotetable1%%)
}

a[href|="/btl04"], a[href|="/octav3drag"]{
display:block;
clear: none;
float: left;
width: 140px;
height: 70px;
background-image: url(%%btlemotetable1%%)
}

a[href|="/blt00"], a[href|="/blt10"], a[href|="/blt01"], a[href|="/blt11"], a[href|="/ppwhathorrorsarewe"], a[href|="/ppmoonwalk"], a[href|="/pprumgone"], a[href|="/rawrity"] {
display:block;
clear: none;
float: left;
width: 70px;
height: 70px;
background-image: url(%%btlemotetable2%%)
}

a[href|="/blt20"], a[href|="/blt02"], a[href|="/blt22"], a[href|="/blt04"], a[href|="/blt24"], a[href|="/ppbloat"], a[href|="/ppfingers"], a[href|="/vodka"], a[href|="/wodka"], a[href|="/WODKA"], a[href|="/VODKA"], a[href|="/berryapproved"], a[href|="/bpapproves"], a[href|="/rdchairfort"] {
display:block;
clear: none;
float: left;
width: 140px;
height: 140px;
background-image: url(%%btlemotetable2%%)
}

a[href|="/bptuba"], a[href|="/crystalmuffins"], a[href|="/miggyb"], a[href|="/omnomtom"], a[href|="/jeb"] {
display:block;
clear: none;
float: left;
width: 70px;
height: 70px;
background-image: url(%%btlemotetable3%%)
}

a[href|="/jebkerman"], a[href|="/daftworth"], a[href|="/derpshake"] {
display:block;
clear: none;
float: left;
width: 140px;
height: 140px;
background-image: url(%%btlemotetable3%%)
}

a[href|="/wubjection"] {
display:block;
clear: none;
float: left;
width: 140px;
height: 70px;
background-image: url(%%btlemotetable3%%)
}

a[href|="/crystaldiva"] {
display:block;
clear: none;
float: left;
width: 210px;
height: 140px;
background-image: url(%%btlemotetable3%%)
}

a[href|="/berryshake"], a[href|="/bpfight"], a[href|="/bpiv"], a[href|="/astronomicalwanker"], a[href|="/tomwithit"], a[href|="/ranboshad"], a[href|="/sweetiewubs"], a[href|="/greatscott"], a[href|="/longlines"], a[href|="/fry"] {
display:block;
clear: none;
float: left;
width: 70px;
height: 70px;
background-image: url(%%btlemotetable4%%)
}

a[href|="/racistbarn"], a[href|="/lyrahalp"] {
display:block;
clear: none;
float: left;
width: 140px;
height: 140px;
background-image: url(%%btlemotetable4%%)
}

a[href|="/ihavenomouthandimustscream"], a[href|="/sovietsalute"], a[href|="/nomeansno"]{
display:block;
clear: none;
float: left;
width: 210px;
height: 140px;
background-image: url(%%btlemotetable4%%)
}

a[href|="/twijusthadsex"], a[href|="/shiteatinggrin"], a[href|="/egghead"], a[href|="/sehro"], a[href|="/kazoo"], a[href|="/cadanceheart"], a[href|="/berrytuber"], a[href|="/amgic"] {
display:block;
clear: none;
float: left;
width: 70px;
height: 70px;
background-image: url(%%btlemotetable5%%)
}

a[href|="/raincloud"] {
display:block;
clear: none;
float: left;
width: 140px;
height: 70px;
background-image: url(%%btlemotetable5%%)
}

a[href|="/trixdrunk"], a[href|="/itbegins"], a[href|="/thedrinkening"], a[href|="/heavybedroomeyes"], a[href|="/partyrock"], a[href|="/hrprbrdr"], a[href|="/tomparty"]{
display:block;
clear: none;
float: left;
width: 140px;
height: 140px;
background-image: url(%%btlemotetable5%%)
}

a[href|="/disalot"], a[href|="/murcasalute"], a[href|="/coloncannon"], a[href|="/alotofdiscord"]{
display:block;
clear: none;
float: left;
width: 210px;
height: 140px;
background-image: url(%%btlemotetable5%%)
}

/*********Animotes begin here*******/

a[href|="/octydance"]{
display:block;
clear: none;
float: left;
width: 40px;
height: 70px;
background-image: url(%%octydance%%)
}

a[href|="/avinyldance"]{
display:block;
clear: none;
float: left;
width: 57px;
height: 70px;
background-image: url(%%avinyldance%%)
}

a[href|="/tav3drag"]{
display:block;
clear: none;
float: left;
width: 192px;
height: 70px;
background-image: url(%%tav3drag%%)
}

a[href|="/octav3dance"]{
display:block;
clear: none;
float: left;
width: 137px;
height: 70px;
background-image: url(%%octav3dance%%)
}

a[href|="/poutypie"]{
display:block;
clear: none;
float: left;
width: 143px;
height: 70px;
background-image: url(%%poutypie%%)
}

a[href|="/vsheadbang"]{
display:block;
clear: none;
float: left;
width: 92px;
height: 70px;
background-image: url(%%vsheadbang%%)
}

a[href|="/sbpout"]{
display:block;
clear: none;
float: left;
width: 108px;
height: 140px;
background-image: url(%%sbpout%%)
}

a[href|="/scootabop"]{
display:block;
clear: none;
float: left;
width: 110px;
height: 140px;
background-image: url(%%scootabop%%)
}

a[href|="/scootafly"]{
display:block;
clear: none;
float: left;
width: 161px;
height: 140px;
background-image: url(%%scootafly%%)
}

a[href|="/scootafreakout"]{
display:block;
clear: none;
float: left;
width: 139px;
height: 140px;
background-image: url(%%scootafreakout%%)
}

a[href|="/scootalove"]{
display:block;
clear: none;
float: left;
width: 97px;
height: 140px;
background-image: url(%%scootalove%%)
}

a[href|="/scootatwitch"], a[href|="/scootahungover"], a[href|="/cades"]{
display:block;
clear: none;
float: left;
width: 140px;
height: 144px;
background-image: url(%%scootatwitch-emote%%)
}

a[href|="/cmcshake"]{
display:block;
clear: none;
float: left;
width: 140px;
height: 87px;
background-image: url(%%cmcshake%%)
}

a[href|="/bpdrink"]{
display:block;
clear: none;
float: left;
width: 188px;
height: 140px;
background-image: url(%%bpdrink%%)
}

a[href|="/thesafewordiskumquat"], a[href|="/pinkieception"]{
display:block;
clear: none;
float: left;
width: 249px;
height: 140px;
background-image: url(%%thesafewordiskumquat%%)
}

a[href|="/abchaos"], a[href|="/theendoftheworldasweknowit"]{
display:block;
clear: none;
float: left;
width: 180px;
height: 140px;
background-image: url(%%abchaos%%)
}

a[href|="/hugyouandkissyouandloveyouforever"], a[href|="/ppelmyra"], a[href|="/ppsqueeze"]{
display:block;
clear: none;
float: left;
width: 133px;
height: 140px;
background-image: url(%%ppelmyra%%)
}

a[href|="/deskfuck"]{
display:block;
clear: none;
float: left;
width: 192px;
height: 140px;
background-image: url(%%deskfuck%%)
}

a[href|="/abeepbeep"]{
display:block;
clear: none;
float: left;
width: 71px;
height: 70px;
background-image: url(%%abeepbeep%%)
}

a[href|="/twihop"]{
display:block;
clear: none;
float: left;
width: 232px;
height: 140px;
background-image: url(%%twihop%%)
}

a[href|="/ilovebooze"], a[href|="/rdjack"]{
display:block;
clear: none;
float: left;
width: 140px;
height: 140px;
background-image: url(%%rdjack%%)
}

a[href|="/teamwork"], a[href|="/bluexmiggyotp"]{
display:block;
clear: none;
float: left;
width: 196px;
height: 110px;
background-image: url(%%teamwork%%)
}

a[href|="/tearypie"]{
display:block;
clear: none;
float: left;
width: 249px;
height: 140px;
background-image: url(%%tearypie%%)
}

a[href|="/pixelpunch"]{
display:block;
clear: none;
float: left;
width: 118px;
height: 86px;
background-image: url(%%pixpunch%%)
}

a[href|="/ppmoustache"]{
display:block;
clear: none;
float: left;
width: 118px;
height: 140px;
background-image: url(%%ppmoustache%%)
}

a[href|="/lunawatchesyousleep"]{
display:block;
clear: none;
float: left;
width: 176px;
height: 140px;
background-image: url(%%bestluna%%)
}

a[href|="/rdtank"]{
display:block;
clear: none;
float: left;
width: 180px;
height: 100px;
background-image: url(%%rdtank%%)
}

a[href|="/scootanuzzles"]{
display:block;
clear: none;
float: left;
width: 197px;
height: 120px;
background-image: url(%%dashscoots%%)
}

a[href|="/swagisthisidonteven"]{
display:block;
clear: none;
float: left;
width: 134px;
height: 140px;
background-image: url(%%swagisthisidonteven%%)
}

a[href|="/abbeard"]{
display:block;
clear: none;
float: left;
width: 150px;
height: 140px;
background-image: url(%%abbeard%%)
}

a[href|="/abdonotwant"]{
display:block;
clear: none;
float: left;
width: 179px;
height: 140px;
background-image: url(%%abdonotwant%%)
}

a[href|="/spikesad"]{
display:block;
clear: none;
float: left;
width: 128px;
height: 140px;
background-image: url(%%spikesad%%)
}

a[href|="/tldr"], a[href|="/gummytreadmill"]{
display:block;
clear: none;
float: left;
width: 216px;
height: 140px;
background-image: url(%%gummytreadmill%%)
}

a[href|="/trixchargin"]{
display:block;
clear: none;
float: left;
width: 140px;
height: 140px;
background-image: url(%%trixchargin%%)
}
a[href|="/princessgummy"], a[href|="/imustgo"]{
display:block;
clear: none;
float: left;
width: 187px;
height: 140px;
background-image: url(%%princessgummy%%)
}

a[href|="/itshappening"], a[href|="/efnw"]{
display:block;
clear: none;
float: left;
width: 300px;
height: 200px;
background-image: url(%%itshappening%%)
}

/* Added by Cades because lol */

a[href|="/itsafake"], a[href|="/itsfake"]{
display:block;
clear: none;
float: left;
width: 150px;
height: 113px;
background-image: url(%%cadessheet%%)
}
a[href|="/itsreal"], a[href|="/dontyouunderstand"], a[href|="/itsareal"]{
display:block;
clear: none;
float: left;
width: 150px;
height: 125px;
background-image: url(%%cadessheet%%)
}
a[href|="/calmdowntwilight"]{
display:block;
clear: none;
float: left;
width: 150px;
height: 128px;
background-image: url(%%calmdowntwilight%%)
}
a[href|="/bpfreakout"]{
display:block;
clear: none;
float: left;
width: 150px;
height: 133px;
background-image: url(%%cadessheet%%)
}
a[href|="/bpdrinkout"]{
display:block;
clear: none;
float: left;
width: 150px;
height: 132px;
background-image: url(%%cadessheet%%)
}
a[href|="/pfudon"], a[href|="/pfudor"], a[href|="/pinkfluffyunicornsdancingonrainbows"], a[href|="/pinkfluffyunicorndancingonrainbows"]{
display:block;
clear: none;
float: left;
width: 150px;
height: 110px;
background-image: url(%%cadessheet%%)
}
a[href|="/twisay"], a[href|="/idosay"]{
display:block;
clear: none;
float: left;
width: 134px;
height: 133px;
background-image:url(%%cadessheet%%)
}

/* End Cades' Edits */

a[href|="/drinktime"], a[href|="/timetodrink"], a[href|="/drinksoclock"]{
display:block;
clear: none;
float: left;
width: 352px;
height: 242px;
background-image: url(%%cadessheet%%)
}

a[href|="/shotstime"], a[href|="/shotsoclock"], a[href|="/ppdrinktime"]{
display:block;
clear: none;
float: left;
width: 352px;
height: 242px;
background-image: url(%%cadessheet%%)
}

a[href|="/duchess"], a[href|="/archer"]{
display:block;
clear: none;
float: left;
width: 139px;
height: 140px;
background-position: -140px -700px;
background-image: url(%%btlemotetable5%%)
}

a[href|="/bioinaboat"]{
display:block;
clear: none;
float: left;
width: 180px;
height: 165px;
background-position: 180px 165px;
background-image: url(%%bioinabowl%%)
}

/* Sheet offsets */

a[href|="/btl10"], a[href|="/onekeg"], a[href|="/blt10"], a[href|="/ppmoonwalk"], a[href|="/crystalmuffins"], a[href|="/miggyb"], a[href|="/bpfight"], a[href|="/shiteatinggrin"] {
background-position: -70px -0px
}

a[href|="/blt20"], a[href|="/ppbloat"], a[href|="/jebkerman"] , a[href|="/bpiv"], a[href|="/trixdrunk"]{
background-position: -140px -0px
}

a[href|="/btl01"], a[href|="/scootafresh"], a[href|="/blt01"], a[href|="/pprumgone"], a[href|="/wubjection"], a[href|="/astronomicalwanker"], a[href|="/raincloud"] {
background-position: -0px -70px
}

a[href|="/btl11"], a[href|="/spikedapper"], a[href|="/blt11"], a[href|="/rawrity"], a[href|="/tomwithit"] {
background-position: -70px -70px
}

a[href|="/ranboshad"] {
background-position: -140px -70px
}

a[href|="/btl02"], a[href|="/beepbeep"], a[href|="/blt02"], a[href|="/ppfingers"], a[href|="/omnomtom"], a[href|="/sweetiewubs"], a[href|="/egghead"] {
background-position: -0px -140px
}

a[href|="/btl12"], a[href|="/vinyldance"], a[href|="/crystaldiva"], a[href|="/lyrahalp"], a[href|="/murcasalute"] {
background-position: -70px -140px
}

a[href|="/blt22"], a[href|="/vodka"], a[href|="/wodka"], a[href|="/WODKA"], a[href|="/VODKA"] {
background-position: -140px -140px
}

a[href|="/btl03"], a[href|="/octysmile"], a[href|="/jeb"], a[href|="/greatscott"], a[href|="/sehro"] {
background-position: -0px -210px
}

a[href|="/btl13"], a[href|="/octygrin"] {
background-position: -70px -210px
}

a[href|="/btl04"], a[href|="/octav3drag"], a[href|="/blt04"], a[href|="/berryapproved"], a[href|="/bpapproves"], a[href|="/daftworth"], a[href|="/longlines"], a[href|="/kazoo"] {
background-position: -0px -280px
}

a[href|="/racistbarn"], a[href|="/disalot"], a[href|="/alotofdiscord"] {
background-position: -70px -280px
}

a[href|="/blt24"], a[href|="/rdchairfort"], a[href|="/derpshake"]{
background-position: -140px -280px
}

a[href|="/fry"], a[href|="/cadanceheart"] {
background-position: -0px -350px
}

a[href|="/ihavenomouthandimustscream"], a[href|="/berrytuber"] {
background-position: -0px -420px
}

a[href|="/coloncannon"] {
background-position: -70px -420px
}

a[href|="/amgic"] {
background-position: -0px -490px
}

a[href|="/itbegins"], a[href|="/thedrinkening"], a[href|="/sovietsalute"] {
background-position: -0px -560px
}

a[href|="/heavybedroomeyes"] {
background-position: -140px -560px
}

a[href|="/nomeansno"], a[href|="/partyrock"], a[href|="/hrprbrdr"], a[href|="/tomparty"] {
background-position: -0px -700px
}

a[href|="/pfudon"], a[href|="/pfudor"], a[href|="/pinkfluffyunicornsdancingonrainbows"], a[href|="/pinkfluffyunicorndancingonrainbows"] {
background-position: -0px -245px
}

a[href|="/itsafake"], a[href|="/itsfake"] {
background-position: -0px -132px
}

a[href|="/itsreal"], a[href|="/dontyouunderstand"], a[href|="/itsareal"] {
background-position: -150px -133px
}

a[href|="/bpfreakout"] {
background-position: -150px -0px
}

a[href|="/drinktime"], a[href|="/timetodrink"], a[href|="/drinksoclock"] {
background-position: -0px -355px
}

a[href|="/shotstime"], a[href|="/shotsoclock"], a[href|="/ppdrinktime"] {
background-position: -0px -597px
}
a[href|="/twisay"], a[href|="/idosay"]{
background-position: -300px -0px
}

.subscribers .word {
        display: none;
        }  
.subscribers .number::after {
        content: " Drunken reprobates";
        }
    .users-online .word {
        display: none;
        }  
    .users-online .number::after {
        content: " drinking now";
        }