div.titlebox span.word {
    display: none
    }
div.titlebox span.number:after {
    content: " Big Brothers"
    }

#header { background: #902 !important; border-bottom-color: #902 !important; }

/*EMOTES*/


a[href|="/maccheer"] {     
    display: block;
    clear: none;
    float: left;
    width: 80px;
    height: 80px;
    background-image: url(%%bigyay%%)
    }
a[href|="/macsalute"] {     
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 106px;
    background-image: url(%%macsalute%%)
    }
a[href|="/machappy"] { 
    display: block;
    clear: none;
    float: left;
    width: 80px;
    height: 80px;
    background-image: url(%%catharsis%%)
    }
a[href|="/nodinmac"] { 
    display: block;
    clear: none;
    float: left;
    width: 173px;
    height: 140px;
    background-image: url(%%nodinmac%%)
    }
a[href|="/macntea"] { 
    display: block;
    clear: none;
    float: left;
    width: 120px;
    height: 150px;
    background-image: url(%%macntea%%)
    }
a[href|="/lilmac"] { 
    display: block;
    clear: none;
    float: left;
    width: 133px;
    height: 150px;
    background-image: url(%%lilmac%%)
    }
a[href|="/confusedmac"] { 
    display: block;
    clear: none;
    float: left;
    width: 122px;
    height: 150px;
    background-image: url(%%confusedmac%%)
    }
a[href|="/bouncingmac"] { 
    display: block;
    clear: none;
    float: left;
    width: 127px;
    height: 150px;
    background-image: url(%%bouncingmac%%)
    }
a[href|="/bigmacsmiles"] { 
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 100px;
    background-image: url(%%bigmacsmiles%%)
    }
a[href|="/macismad"] { 
    display: block;
    clear: none;
    float: left;
    width: 96px;
    height: 150px;
    background-image: url(%%madmac%%)
    }
a[href|="/farmermac"] { 
    display: block;
    clear: none;
    float: left;
    width: 119px;
    height: 150px;
    background-image: url(%%farmermac%%)
    }
a[href|="/swag"], a[href|="/rswag"], a[href|="/eeyup"], a[href|="/reeyup"], a[href|="/swagintosh"], a[href|="/rswagintosh"], a[href|="/wutintosh"], a[href|="/rwutintosh"], a[href|="/cheer"], a[href|="/rcheer"], a[href|="/sohappy"], a[href|="/rsohappy"], a[href|="/sadintosh"], a[href|="/rsadintosh"], a[href|="/nodinmac"], a[href|="/rnodinmac"], a[href|="/macntea"], a[href|="/rmacntea"] {
    background-position: -0px -0px