a.author[href$="Freepizzafor1dollar"] {
    font-size: 0px!important;
}

a.author[href$="Freepizzafor1dollar"]:after {
    content: "Dr. Bees";
    color:green;
    font-size: 10px!important;
    color:purple;
}

/*a.author[href$="__brony__"] {
    font-size: 0px!important;
}

a.author[href$="__brony__"]:after {
    content: "Fritterwhore";
    font-size: 10px!important;
    color:purple;
}*/

#header{
    background-image: url(%%banner%%);
    height:300px;
}

#header-bottom-left{
    position: absolute; bottom: 0;
}

.flair-beeflair{
    font-size: 0px!important;
}

.flair-beeflair:after{
    content: "_____Buzz Buzz";
    font-size: 10px!important;
    clear:none;
    width:120px !important;
    height:20px;
    background-image: url(%%bee-flair%%) !important;
    background-repeat: no-repeat;
    text-align:right;
}

a[href|="/bloomjackwall"],
a[href|="/bloomjackhat"],
a[href|="/bloomjackshutup"],
a[href|="/bloomjackdeadrising"],
a[href|="/bloomjackreally"],
a[href|="/bloomjacktraining"],
a[href|="/bloomjacksleep"],
a[href|="/bloomjackdiscouraged"],
a[href|="/bloomjackscared"],
a[href|="/bloomjackfrazzled"]{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height:200px;
    background-image: url(%%sheet1%%) !important;
}

a[href|="/bloomjackstare"]{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height:130px;
    background-image: url(%%bloomjackstare%%) !important;
}

a[href|="/bloomjackhoofbump"]{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height:139px;
    background-image: url(%%bloomjackhoofbump%%) !important;
}

a[href|="/bloomjacksnooze"]{
    display:block;
    clear:none;
    float:left;
    width:180px;
    height:105px;
    background-image: url(%%bloomjacksnooze%%) !important;
}

a[href|="/bloomjackwall"]{
    background-position:-0% -100%;
}

a[href|="/bloomjackhat"]{
    background-position:-100% -100%;
}

a[href|="/appletini"]{
    display:block;
    clear:none;
    float:left;
    width:130px;
    height:200px;
    background-image: url(%%appletini%%) !important;
}

a[href|="/bloomjackshutup"]{
    background-position:-0% -200%;
}

a[href|="/bloomjackdeadrising"]{
    background-position:-100% -200%;
}

a[href|="/bloomjackreally"]{
    background-position:-200% -200%;
}

a[href|="/bloomjacktraining"]{
    background-position:-0% -300%;
}

a[href|="/bloomjackdiscouraged"]{
    background-position:-200% -300%;
}

a[href|="/bloomjackscared"]{
    background-position:-0% -400%;
}

a[href|="/bloomjackfrazzled"]{
    background-position:-100% -400%;
}

a[href|="/bloomjacksleep"]{
    background-position:-100% -300%;
}

a[href|="/abawkward"],
a[href|="/abunsure"],
a[href|="/abwtf"],
a[href|="/abready"],
a[href|="/abtron"],
a[href|="/abshy"],
a[href|="/abcrash"],
a[href|="/applebroom"],
a[href|="/abflank"],
a[href|="/goldenbloom"],
a[href|="/abwink"],
a[href|="/abtongue"]
{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height:200px;
    background-image: url(%%sheet3%%) !important;
}

a[href|="/abawkward"]{
    background-position:-0% -0%;
}
a[href|="/abunsure"]{
    background-position:-100% -0%;
}
a[href|="/abwtf"]{
    background-position:-200% -0%;
}
a[href|="/abready"]{
    background-position:-0% -100%;
}
a[href|="/abtron"]{
    background-position:-100% -100%;
}
a[href|="/abshy"]{
    background-position:-200% -100%;
}
a[href|="/abcrash"]{
    background-position:-0% -200%;
}
a[href|="/applebroom"]{
    background-position:-100% -200%;
}
a[href|="/abflank"]{
    background-position:-200% -200%;
}
a[href|="/goldenbloom"]{
	background-position:-300% -0%
}
a[href|="/abwink"]{
	background-position:-300% -100%
}
a[href|="/abtongue"]{
	background-position:-300% -200%
}

a[href|="/abplsno"],
a[href|="/abwind"],
a[href|="/angelbloom"],
a[href|="/aboh"],
a[href|="/absurprise"],
a[href|="/abpride"],
a[href|="/abcool"],
a[href|="/dancerbloom"],
a[href|="/abfrown"],
a[href|="/happybloom"],
a[href|="/thishypnoticapple"],
a[href|="/abhappyhop"],
a[href|="/abdisappoint"],
a[href|="/abscience"],
a[href|="/abstoked"],
a[href|="/abwhoa"],
a[href|="/absmug"],
a[href|="/shiftybloom"]
{
    display:block;
    clear:none;
    float:left;
    width:150px;
    height:200px;
    background-image: url(%%sheet4%%) !important;
}

a[href|="/abplsno"]{
    background-position:-0% -0%;
}

a[href|="/abwind"]{
    background-position:-100% -0%;
}

a[href|="/angelbloom"]{
    background-position:-200% -0%;
}

a[href|="/happybloom"]{
    background-position:-300% 0%;
}

a[href|="/aboh"]{
    background-position:-0% -100%;
}

a[href|="/absurprise"]{
    background-position:-100% -100%;
}

a[href|="/abpride"]{
    background-position:-200% -100%;
}

a[href|="/thishypnoticapple"]{
    background-position:-300% -100%;
}

a[href|="/abcool"]{
    background-position:-0% -200%;
}

a[href|="/dancerbloom"]{
    background-position:-100% -200%;
}

a[href|="/abfrown"]{
    background-position:-200% -200%;
}

a[href|="/abhappyhop"]{
    background-position:-300% -200%;
}

a[href|="/abdisappoint"]{
    background-position:-400% -0%;
}

a[href|="/abscience"]{
    background-position:-400% -100%;
}

a[href|="/abstoked"]{
    background-position:-400% -200%;
}

a[href|="/abwhoa"]{
    background-position:-500% -0%;
}

a[href|="/absmug"]{
    background-position:-500% -100%;
}

a[href|="/shiftybloom"]{
    background-position:-500% -200%;
}


a[href|="/abfaceplant"]{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height:102px;
    background-image: url(%%abfaceplant%%) !important;
}

a[href|="/fruitrollup"]{
    display:block;
    clear:none;
    float:left;
    width:198px;
    height:177px;
    background-image: url(%%fruitrollup%%) !important;
}

a[href|="/fillystew"]{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height:120px;
    background-image: url(%%fillystew%%) !important;
}