a.author[href$="Freepizzafor1dollar"] {
    font-size: 0px!important;
}

a.author[href$="Freepizzafor1dollar"]:after {
    content: "Dr. Bees";
    color:green;
    font-size: 10px!important;
    color:purple;
}

/*a.author[href$="__brony__"] {
    font-size: 0px!important;
}

a.author[href$="__brony__"]:after {
    content: "Fritterwhore";
    font-size: 10px!important;
    color:purple;
}*/

#header{
    background-image: url(%%banner%%);
    height:300px;
}

#header-bottom-left{
    position: absolute; bottom: 0;
}

.flair-beeflair{
    font-size: 0px!important;
}

.flair-beeflair:after{
    content: "_____Buzz Buzz";
    font-size: 10px!important;
    clear:none;
    width:120px !important;
    height:20px;
    background-image: url(%%bee-flair%%) !important;
    background-repeat: no-repeat;
    text-align:right;
}

a[href="/bloomjackwall"],
a[href="/bloomjackhat"],
a[href="/bloomjackshutup"],
a[href="/bloomjackdeadrising"],
a[href="/bloomjackreally"],
a[href="/bloomjacktraining"],
a[href="/bloomjacksleep"],
a[href="/bloomjackdiscouraged"],
a[href="/bloomjackscared"],
a[href="/bloomjackfrazzled"]{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height:200px;
    background-image: url(%%sheet1%%) !important;
}

a[href="/bloomjackstare"]{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height:130px;
    background-image: url(%%bloomjackstare%%) !important;
}

a[href="/bloomjackhoofbump"]{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height:139px;
    background-image: url(%%bloomjackhoofbump%%) !important;
}

a[href="/bloomjacksnooze"]{
    display:block;
    clear:none;
    float:left;
    width:180px;
    height:105px;
    background-image: url(%%bloomjacksnooze%%) !important;
}

a[href="/bloomjackwall"]{
    background-position:-0% -100%;
}

a[href="/bloomjackhat"]{
    background-position:-100% -100%;
}

a[href="/appletini"]{
    display:block;
    clear:none;
    float:left;
    width:130px;
    height:200px;
    background-image: url(%%appletini%%) !important;
}

a[href="/bloomjackshutup"]{
    background-position:-0% -200%;
}

a[href="/bloomjackdeadrising"]{
    background-position:-100% -200%;
}

a[href="/bloomjackreally"]{
    background-position:-200% -200%;
}

a[href="/bloomjacktraining"]{
    background-position:-0% -300%;
}

a[href="/bloomjackdiscouraged"]{
    background-position:-200% -300%;
}

a[href="/bloomjackscared"]{
    background-position:-0% -400%;
}

a[href="/bloomjackfrazzled"]{
    background-position:-100% -400%;
}

a[href="/bloomjacksleep"]{
    background-position:-100% -300%;
}

a[href="/abawkward"],
a[href="/abunsure"],
a[href="/abwtf"],
a[href="/abready"],
a[href="/abtron"],
a[href="/abshy"],
a[href="/abcrash"],
a[href="/applebroom"],
a[href="/abflank"],
a[href="/goldenbloom"],
a[href="/abwink"],
a[href="/abtongue"],
a[href="/abflankcheck"],
a[href="/abhello"],
a[href="/abderp"],
a[href="/abwhoops"]
{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height:200px;
    background-image: url(%%sheet3%%) !important;
}

a[href="/abawkward"]{
    background-position:-0% -0%;
}
a[href="/abunsure"]{
    background-position:-100% -0%;
}
a[href="/abwtf"]{
    background-position:-200% -0%;
}
a[href="/abready"]{
    background-position:-0% -100%;
}
a[href="/abtron"]{
    background-position:-100% -100%;
}
a[href="/abshy"]{
    background-position:-200% -100%;
}
a[href="/abcrash"]{
    background-position:-0% -200%;
}
a[href="/applebroom"]{
    background-position:-100% -200%;
}
a[href="/abflank"]{
    background-position:-200% -200%;
}
a[href="/goldenbloom"]{
    background-position:-300% -0%
}
a[href="/abwink"]{
    background-position:-300% -100%
}
a[href="/abtongue"]{
    background-position:-300% -200%
}
a[href="/abflankcheck"]{
    background-position: -0% -300%
}
a[href="/abhello"]{
    background-position: -100% -300%
}
a[href="/abderp"]{
    background-position: -200% -300%
}
a[href="/abwhoops"]{
    background-position: -300% -300%
}

a[href="/abplsno"],
a[href="/abwind"],
a[href="/angelbloom"],
a[href="/aboh"],
a[href="/absurprise"],
a[href="/abpride"],
a[href="/abcool"],
a[href="/dancerbloom"],
a[href="/abfrown"],
a[href="/happybloom"],
a[href="/thishypnoticapple"],
a[href="/abhappyhop"],
a[href="/abdisappoint"],
a[href="/abscience"],
a[href="/abstoked"],
a[href="/abwhoa"],
a[href="/absmug"],
a[href="/shiftybloom"],
a[href="/abthink"],
a[href="/abannoyed"],
a[href="/abevil"],
a[href="/abcrush"],
a[href="/abheavybreathing"],
a[href="/beatit"]
{
    display:block;
    clear:none;
    float:left;
    width:150px;
    height:200px;
    background-image: url(%%sheet4%%) !important;
}

a[href="/abplsno"]{
    background-position:-0% -0%;
}
a[href="/abwind"]{
    background-position:-100% -0%;
}
a[href="/angelbloom"]{
    background-position:-200% -0%;
}
a[href="/happybloom"]{
    background-position:-300% 0%;
}
a[href="/aboh"]{
    background-position:-0% -100%;
}
a[href="/absurprise"]{
    background-position:-100% -100%;
}
a[href="/abpride"]{
    background-position:-200% -100%;
}
a[href="/thishypnoticapple"]{
    background-position:-300% -100%;
}
a[href="/abcool"]{
    background-position:-0% -200%;
}
a[href="/dancerbloom"]{
    background-position:-100% -200%;
}
a[href="/abfrown"]{
    background-position:-200% -200%;
}
a[href="/abhappyhop"]{
    background-position:-300% -200%;
}
a[href="/abdisappoint"]{
    background-position:-400% -0%;
}
a[href="/abscience"]{
    background-position:-400% -100%;
}
a[href="/abstoked"]{
    background-position:-400% -200%;
}
a[href="/abwhoa"]{
    background-position:-500% -0%;
}
a[href="/absmug"]{
    background-position:-500% -100%;
}
a[href="/shiftybloom"]{
    background-position:-500% -200%;
}
a[href="/abthink"]{
    background-position:-0% -300%;
}
a[href="/abannoyed"]{
    background-position:-100% -300%;
}
a[href="/abevil"]{
    background-position:-200% -300%;
}
a[href="/abcrush"]{
    background-position:-300% -300%;
}
a[href="/abheavybreathing"]{
    background-position:-400% -300%;
}
a[href="/beatit"]{
    background-position:-500% -300%;
}

a[href="/abwhatsup"],
a[href="/abkindasad"],
a[href="/abdrunk"],
a[href="/abcloak"],
a[href="/absuperhappy"],
a[href="/abexcited"],
a[href="/abdrewanapple"],
a[href="/abforme"],
a[href="/justlikemahbigsister"],
a[href="/abjig"],
a[href="/abduckface"],
a[href="/abtrot"],
a[href="/abplease"],
a[href="/rainybloom"],
a[href="/abpaper"],
a[href="/absing"]{
    display:block;
    clear:none;
    float:left;
    width:150px;
    height:200px;
    background-image: url(%%sheet4-2%%) !important;
}
a[href="/abwhatsup"]{
    background-position:-0% -0%
}
a[href="/abkindasad"]{
    background-position:-100% -0%
}
a[href="/abdrunk"]{
    background-position:-200% -0%
}
a[href="/abcloak"]{
    background-position:-300% -0%
}
a[href="/absuperhappy"]{
    background-position:-0% -100%
}
a[href="/abexcited"]{
    background-position:-100% -100%
}
a[href="/abdrewanapple"]{
    background-position:-200% -100%
}
a[href="/abforme"]{
    background-position:-300% -100%
}
a[href="/justlikemahbigsister"]{
    background-position:-0% -200%
}
a[href="/abjig"]{
    background-position:-100% -200%
}
a[href="/abduckface"]{
    background-position:-200% -200%
}
a[href="/abtrot"]{
    background-position:-300% -200%
}
a[href="/abplease"]{
    background-position:-0% -300%
}
a[href="/rainybloom"]{
    background-position:-100% -300%
}
a[href="/abpaper"]{
    background-position:-200% -300%
}
a[href="/absing"]{
    background-position:-300% -300%
}



a[href="/abfaceplant"]{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height:102px;
    background-image: url(%%abfaceplant%%) !important;
}

a[href="/fillystew"]{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height:120px;
    background-image: url(%%fillystew%%) !important;
}

/* REMOVED
a[href="/afillyandherdog"]{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height:153px;
    background-image: url(%%abwinona%%) !important;
}
*/

a[href="/applebuck"]{
    display:block;
    clear:none;
    float:left;
    width:177px;
    height:200px;
    background-image: url(%%applebuck%%) !important;
}

a[href="/abhoopjump"],
a[href="/abbowling2"],
a[href="/napplebloom"],
a[href="/gloomybloom"],
a[href="/afillyandherdog"],
a[href="/bloombuck"],
a[href="/abflat"],
a[href="/abwinona"],
a[href="/abworkout"]{
    display:block;
    clear:none;
    float:left;
    width:120px;
    height:90px;
    background-image: url(%%sheet5s%%) !important;
}
a[href="/abhoopjump"]{
    background-position:-0% -0%
}
a[href="/abbowling2"]{
    width:105px;
    background-position:-120px -0%
}
a[href="/napplebloom"]{
    height:59px;
    background-position:-240px -0%
}
a[href="/gloomybloom"]{
    background-position:-0% -100%
}
a[href="/afillyandherdog"]{
    background-position:-100% -100%
}
a[href="/bloombuck"]{
    height:70px;
    background-position:-200% -90px
}
a[href="/abflat"]{
    height:71px;
    background-position:-0% -180px
}
a[href="/abwinona"]{
    height:56px;
    background-position:-100% -180px
}
a[href="/abworkout"]{
    background-position:-200% -200%
}

a[href="/uncouth"],
a[href="/thislovelynewchapeau"],
a[href="/abyoga"],
a[href="/abhyper"],
a[href="/sevenleggedrace"],
a[href="/abcake"],
a[href="/abhoofbump"],
a[href="/abplayful"],
a[href="/abhaythere"],
a[href="/aboverattached"],
a[href="/abcovet"],
a[href="/itscalledanapple"],
a[href="/abbedmane"],
a[href="/sweetiebloomhug"],
a[href="/bloomjackride"],
a[href="/abgetout"],
a[href="/fashionabloom"],
a[href="/abcaffeine"],
a[href="/abderelle"],
a[href="/summerbitches"]{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height:200px;
    background-image: url(%%sheet3-2%%) !important;
}
a[href="/uncouth"]{
    width:147px;
    height:150px;
    background-position:0% 0%;
}
a[href="/thislovelynewchapeau"]{
    height:189px;
    background-position:-200px 0%;
}
a[href="/abyoga"]{
    height:169px;
    background-position:0% -200px;
}
a[href="/abhyper"]{
    width:170px;
    background-position:-400px 0%;
}
a[href="/sevenleggedrace"]{
    width:186px;
    background-position:-200px -200px;
}
a[href="/abcake"]{
    height:192px;
    background-position:-400px -200px;
}
a[href="/abhoofbump"]{
    width:168px;
    background-position:-600px 0%;
}
a[href="/abplayful"]{
    height:194px;
    background-position:-600px -200px;
}
a[href="/abhaythere"]{
    width:161px;
    background-position:0% -400px;
}
a[href="/aboverattached"]{
    width:145px;
    height:150px;
    background-position:-200px -400px;
}
a[href="/abcovet"]{
    width:80px;
    height:100px;
    background-position:-400px -400px;
}
a[href="/itscalledanapple"]{
    width:108px;
    background-position:-600px -400px;
}
a[href="/abbedmane"]{
    height:169px;
    background-position:0% -600px;
}
a[href="/sweetiebloomhug"]{
    height:147px;
    background-position:-200px -600px;
}
a[href="/bloomjackride"]{
    width:151px;
    background-position:-400px -600px;
}
a[href="/abgetout"]{
    width:139px;
    height:150px;
    background-position:-600px -600px;
}
a[href="/fashionabloom"]{
    width:161px;
    background-position:-800px 0%;
}
a[href="/abcaffeine"]{
    width:100px;
    height:100px;
    background-position:-800px -200px;
}
a[href="/abderelle"]{
    width:69px;
    height:150px;
    background-position:-800px -400px;
}
a[href="/summerbitches"]{
    width:149px;
    height:175px;
    background-position:-800px -600px;
}

a[href="/superbloom"],
a[href="/abreallynow"],
a[href="/appleseedhug"],
a[href="/abreluctant"],
a[href="/filliesincognito"],
a[href="/bloomsweetiefied"],
a[href="/abhappy"],
a[href="/abwhatthehay"],
a[href="/abohcrap"],
a[href="/abflop"],
a[href="/abplot"],
a[href="/applegloom"],
a[href="/abjerk"],
a[href="/abfedup"],
a[href="/awkwardbowling"],
a[href="/abeqg"],
a[href="/ohsnapplebloom"],
a[href="/abgag"],
a[href="/twibloomplease"],
a[href="/lamiabloom"],
a[href="/abcatnap"],
a[href="/abrustledjimmies"],
a[href="/nevertheonlyone"],
a[href="/cmcstack"],
a[href="/engiebloom"],
a[href="/absilly"],
a[href="/abbucket"],
a[href="/absecret"],
a[href="/pinkiebloomhug"],
a[href="/absimmer"],
a[href="/abcross"],
a[href="/abglaring"],
a[href="/abuhwhut"]{
    display:block;
    clear:none;
    float:left;
    width:70px;
    height:70px;
    background-image: url(%%sprites70-01%%) !important;
}

a[href="/superbloom"]{
    width:65px;
    background-position:0px 0px;
}
a[href="/abreallynow"]{
    width:63px;
    background-position:-70px 0px;
}
a[href="/appleseedhug"]{
    height:68px;
    background-position:-0px -70px;
}
a[href="/abreluctant"]{
    background-position:-70px -70px;
}
a[href="/filliesincognito"]{
    width:140px;
    height:111px;
    background-position:-140px 0px;
}
a[href="/bloomsweetiefied"]{
    width:140px;
    height:110px;
    background-position:-280px 0px;
}
a[href="/abhappy"]{
    background-position:-420px 0px;
}
a[href="/abwhatthehay"]{
    height:123px;
    background-position:-490px 0px;
}
a[href="/abohcrap"]{
    background-position:-420px -70px;
}
a[href="/abflop"]{
    width:140px;
    height:110px;
    background-position:0px -140px;
}
a[href="/abplot"]{
    background-position:-140px -140px;
}
a[href="/applegloom"]{
    background-position:-210px -140px;
}
a[href="/abjerk"]{
    background-position:-140px -210px;
}
a[href="/abfedup"]{
    background-position:-210px -210px;
}
a[href="/awkwardbowling"]{
    width:140px;
    height:108px;
    background-position:-280px -140px;
}
a[href="/abeqg"]{
    width:53px;
    background-position:-420px -140px;
}
a[href="/ohsnapplebloom"]{
    height:140px;
    background-position:-490px -140px;
}
a[href="/abgag"]{
    background-position:-420px -210px;
}
a[href="/twibloomplease"]{
    width:140px;
    height:104px;
    background-position:0px -280px;
}
a[href="/lamiabloom"]{
    height:114px;
    background-position:-140px -280px;
}
a[href="/abcatnap"]{
    height:62px;
    background-position:-210px -280px;
}
a[href="/abrustledjimmies"]{
    background-position:-210px -350px;
}
a[href="/nevertheonlyone"]{
    width:139px;
    height:140px;
    background-position:-280px -280px;
}
a[href="/cmcstack"]{
    width:119px;
    height:280px;
    background-position:-420px -280px;
}
a[href="/engiebloom"]{
    width:123px;
    height:116px;
    background-position:0px -420px;
}
a[href="/absilly"]{
    background-position:-140px -420px;
}
a[href="/abbucket"]{
    height:90px;
    background-position:-210px -420px;
}
a[href="/absecret"]{
    background-position:-140px -490px;
}
a[href="/pinkiebloomhug"]{
    width:140px;
    height:120px;
    background-position:-280px -420px;
}
a[href="/absimmer"]{
    background-position:-560px -0px;
}
a[href="/abcross"]{
    background-position:-560px -70px;
}
a[href="/abglaring"]{
    background-position:-560px -140px;
}
a[href="/abuhwhut"]{
    background-position:-560px -210px;
}

a[href="/abwetmane"],
a[href="/abnervous"],
a[href="/abbounce"],
a[href="/abnap"]{
    display:block;
    clear:none;
    float:left;
    width:100px;
    height:100px;
    background-image: url(%%sheet3-4%%) !important;
}

a[href="/abwetmane"]{
    width:150px;
    height:138px;
    background-position:0px 0px;
}
a[href="/abnervous"]{
    background-position:-200px 0px;
}
a[href="/abbounce"]{
    height:98px;
    background-position:-100px -200px;
}
a[href="/abnap"]{
    height:97px;
    background-position:0px -200px;
}

/* Blame /u/kekerino for these */

a[href="/brick"],
a[href="/tsbrick"],
a[href="/rrbrick"],
a[href="/fsbrick"],
a[href="/rdbrick"],
a[href="/ppbrick"],
a[href="/ajbrick"],
a[href="/abbrick"],
a[href="/sbbrick"],
a[href="/scootabrick"]{
    display:block;
    clear:none;
    float:left;
    width:90px;
    height:50px;
    background-image: url(%%bricks%%) !important;
}
a[href="/brick"]{
    background-position:-0% -0%
}
a[href="/tsbrick"]{
    background-position:-0% -100%
}
a[href="/rrbrick"]{
    background-position:-0% -200%
}
a[href="/fsbrick"]{
    background-position:-0% -300%
}
a[href="/rdbrick"]{
    background-position:-0% -400%
}
a[href="/ppbrick"]{
    background-position:-0% -500%
}
a[href="/ajbrick"]{
    background-position:-0% -600%
}
a[href="/abbrick"]{
    background-position:-0% -700%
}
a[href="/sbbrick"]{
    background-position:-0% -800%
}
a[href="/scootabrick"]{
    background-position:-0% -900%
}

/* What /u/Hawke252 added */

a[href="/abspooked"],
a[href="/abconcern"],
a[href="/abnah"],
a[href="/abseenthings"],
a[href="/abgasp"],
a[href="/abhey"],
a[href="/abooh"],
a[href="/abdisgust"],
a[href="/absaywhat"],
a[href="/abammad"],
a[href="/abcute2"],
a[href="/abcreep"],
a[href="/pestpony"],
a[href="/abhugs"],
a[href="/abcutesmile"],
a[href="/abpirate"],
a[href="/abcomfy"],
a[href="/ablicky"],
a[href="/abfall"],
a[href="/abheythere"],
a[href="/abwhy"],
a[href="/abmarch"],
a[href="/abbow"],
a[href="/abamazed"],
a[href="/abfear"],
a[href="/abdonthurtme"],
a[href="/abbestship"],
a[href="/abumm"],
a[href="/deviousbloom"],
a[href="/spacebloom"],
a[href="/readytowork"],
a[href="/abcoffee"],
a[href="/bucketsurprise"],
a[href="/abbeingcute"],
a[href="/abanxious"],
a[href="/abnope"]{
    display:block;
    clear:none;
    float:left;
    width:70px;
    height:70px;
    background-image: url(%%Stylesheet%%) !important;
}
a[href="/abspooked"]{
    width:140px;
    height:140px;
    background-position: 0px 0px;
}
a[href="/abconcern"]{
    width:132px;
    height:152px;
    background-position: -140px 0px;
}
a[href="/abnah"]{
    width:105px;
    height:140px;
    background-position: -280px 0px;
}
a[href="/abseenthings"]{
    width:70px;
    height:70px;
    background-position: -420px 0px;
}
a[href="/abgasp"]{
    width:70px;
    height:70px;
    background-position: -420px -70px;
}
a[href="/abhey"]{
    width:70px;
    height:70px;
    background-position: -420px -140px;
}
a[href="/abooh"]{
    width:138px;
    height:140px;
    background-position: -490px 0px;
}
a[href="/abdisgust"]{
    width:129px;
    height:140px;
    background-position: -630px 0px;
}
a[href="/absaywhat"]{
    width:70px;
    height:70px;
    background-position: -770px 0px;
}
a[href="/abammad"]{
    width:70px;
    height:70px;
    background-position: -770px -70px;
}
a[href="/abcute2"]{
    width:140px;
    height:140px;
    background-position: -840px 0px;
}
a[href="/abcreep"]{
    width:119px;
    height:140px;
    background-position: -980px 0px;
}
a[href="/pestpony"]{
    width:111px;
    height:140px;
    background-position: -1120px 0px;
}
a[href="/abhugs"]{
    width:186px;
    height:200px;
    background-position: 0px -210px;
}
a[href="/abcutesmile"]{
    width:88px;
    height:100px;
    background-position: -210px -210px;
}
a[href="/abpirate"]{
    width:125px;
    height:140px;
    background-position: -350px -210px;
}
a[href="/abcomfy"]{
    width:113px;
    height:126px;
    background-position: -490px -210px;
}
a[href="/ablicky"]{
    width:99px;
    height:140px;
    background-position: -630px -210px;
}
a[href="/abfall"]{
    width:113px;
    height:140px;
    background-position: -770px -210px;
}
a[href="/abheythere"]{
    width:78px;
    height:140px;
    background-position: -910px -210px;
}
a[href="/abwhy"]{
    width:118px;
    height:140px;
    background-position: -1050px -210px;
}
a[href="/abmarch"]{
    width:67px;
    height:140px;
    background-position: -1190px -210px;
}
a[href="/abbow"]{
    width:93px;
    height:140px;
    background-position: 0px -420px;
}
a[href="/abamazed"]{
    width:105px;
    height:140px;
    background-position: -140px -420px;
}
a[href="/abfear"]{
    width:126px;
    height:110px;
    background-position: -280px -420px;
}
a[href="/abdonthurtme"]{
    width:101px;
    height:126px;
    background-position: -420px -420px;
}
a[href="/abbestship"]{
    width:200px;
    height:181px;
    background-position: -560px -420px;
}
a[href="/abumm"]{
    width:70px;
    height:70px;
    background-position: -770px -420px;
}
a[href="/deviousbloom"]{
    width:70px;
    height:70px;
    background-position: -770px -490px;
}
a[href="/spacebloom"]{
    width:126px;
    height:126px;
    background-position: -840px -420px;
}
a[href="/readytowork"]{
    width:140px;
    height:129px;
    background-position: -980px -420px;
}
a[href="/abcoffee"]{
    width:113px;
    height:140px;
    background-position: -1120px -420px;
}
a[href="/bucketsurprise"]{
    width:70px;
    height:132px;
    background-position: 0px -630px;
}
a[href="/abbeingcute"]{
    width:119px;
    height:126px;
    background-position: -70px -630px;
}
a[href="/abanxious"]{
    width:92px;
    height:140px;
    background-position: -210px -630px;
}
a[href="/abnope"]{
    width:110px;
    height:173px;
    background-position: -350px -630px;
}

/* Some more quick additions by /u/__brony__ */
/* Mostly bigger ones */
a[href="/whoyougonnacall"],
a[href="/ablookhere"],
a[href="/cmcpileup"],
a[href="/abhappydance"],
a[href="/pegabloomshock"],
a[href="/cmcshelter"],
a[href="/asleeponthejob"],
a[href="/fruitrollup"]{
    display:block;
    clear:none;
    float:left;
    width:100px;
    height:100px;
    background-image: url(%%sheet6%%) !important;
}

a[href="/whoyougonnacall"]{
    width:300px;
    height:274px;
    background-position: 0px 0px;
}

a[href="/ablookhere"]{
    height:130px;
    background-position: -300px 0px;
}
a[href="/cmcpileup"]{
    width:200px;
    height:120px;
    background-position: 0px -300px;
}
a[href="/abhappydance"]{
    background-position: -400px 0px;
}
a[href="/pegabloomshock"]{
    height:127px;
    background-position: -300px -200px;
}
a[href="/cmcshelter"]{
    width:200px;
    height:129px;
    background-position: -500px 0px;
}
a[href="/asleeponthejob"]{
    width:140px;
    height:126px;
    background-position: -400px -200px;
}
a[href="/fruitrollup"]{
    width:150px;
    height:135px;
    background-position: -300px -400px;
}

a[href="/abblanket"]{
    display:block;
    clear:none;
    float:left;
    width:166px;
    height:120px;
    background-image: url(%%AppleBloom-Blanket%%) !important;
}
a[href="/skydiverbloom"],
a[href="/abcookie"],
a[href="/abheart"]{
    display:block;
    clear:none;
    float:left;
    width:100px;
    height:100px;
    background-image: url(%%ss01%%) !important;
}
a[href="/skydiverbloom"]{
    width:98px;
    height:140px;
    background-position: 0px 0px;
}
a[href="/abcookie"]{
    width:200px;
    height:176px;
    background-position: -140px 0px;
}
a[href="/abheart"]{
    width:113px;
    height:202px;
    background-position: -350px 0px;
}