a.author[href$="Freepizzafor1dollar"] {
    font-size: 0px!important;
}

a.author[href$="Freepizzafor1dollar"]:after {
    content: "Dr. Bees";
    color:green;
    font-size: 10px!important;
    color:purple;
}

/*a.author[href$="__brony__"] {
    font-size: 0px!important;
}

a.author[href$="__brony__"]:after {
    content: "Fritterwhore";
    font-size: 10px!important;
    color:purple;
}*/

#header{
    background-image: url(%%banner%%);
    height:300px;
}

#header-bottom-left{
    position: absolute; bottom: 0;
}

.flair-beeflair{
    font-size: 0px!important;
}

.flair-beeflair:after{
    content: "_____Buzz Buzz";
    font-size: 10px!important;
    clear:none;
    width:120px !important;
    height:20px;
    background-image: url(%%bee-flair%%) !important;
    background-repeat: no-repeat;
    text-align:right;
}

a[href|="/bloomjackstare"],
a[href|="/bloomjackhoofbump"],
a[href|="/bloomjacksnooze"],
a[href|="/bloomjackwall"],
a[href|="/bloomjackhat"],
a[href|="/appletini"],
a[href|="/bloomjackshutup"],
a[href|="/bloomjackdeadrising"],
a[href|="/bloomjackreally"],
a[href|="/bloomjacktraining"],
a[href|="/bloomjacksleep"],
a[href|="/bloomjackdiscouraged"],
a[href|="/bloomjackscared"],
a[href|="/bloomjackfrazzled"]{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height:200px;
    background-image: url(%%sheet1%%) !important;
}

a[href|="/bloomjackstare"]{
    background-position:-0% -0%;
}

a[href|="/bloomjackhoofbump"]{
    background-position:-100% -0%;
}

a[href|="/bloomjacksnooze"]{
    background-position:-200% -0%;
}

a[href|="/bloomjackwall"]{
    background-position:-0% -100%;
}

a[href|="/bloomjackhat"]{
    background-position:-100% -100%;
}

a[href|="/appletini"]{
    background-position:-200% -100%;
}

a[href|="/bloomjackshutup"]{
    background-position:-0% -200%;
}

a[href|="/bloomjackdeadrising"]{
    background-position:-100% -200%;
}

a[href|="/bloomjackreally"]{
    background-position:-200% -200%;
}

a[href|="/bloomjacktraining"]{
    background-position:-0% -300%;
}

a[href|="/bloomjackdiscouraged"]{
    background-position:-200% -300%;
}

a[href|="/bloomjackscared"]{
    background-position:-0% -400%;
}

a[href|="/bloomjackfrazzled"]{
    background-position:-100% -400%;
}

a[href|="/bloomjacksleep"]{
    background-position:-100% -300%;
}

a[href|="/abawkward"],
a[href|="/abunsure"],
a[href|="/abready"],
a[href|="/abtron"]{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height:200px;
    background-image: url(%%sheet3%%) !important;
}

a[href|="/abawkward"]{
    background-position:-0% -0%;
}

a[href|="/abunsure"]{
    background-position:-100% -0%;
}

a[href|="/abready"]{
    background-position:-0% -100%;
}

a[href|="/abtron"]{
    background-position:-100% -100%;
}

a[href|="/abplsno"],
a[href|="/abwind"],
a[href|="/angelbloom"],
a[href|="/aboh"],
a[href|="/absurprise"],
a[href|="/abpride"],
a[href|="/abcool"],
a[href|="/dancerbloom"],
a[href|="/abfrown"]{
    display:block;
    clear:none;
    float:left;
    width:150px;
    height:200px;
    background-image: url(%%sheet4%%) !important;
}

a[href|="/abplsno"]{
    background-position:-0% -0%;
}

a[href|="/abwind"]{
    background-position:-100% -0%;
}

a[href|="/angelbloom"]{
    background-position:-200% -0%;
}

a[href|="/aboh"]{
    background-position:-0% -100%;
}

a[href|="/absurprise"]{
    background-position:-100% -100%;
}

a[href|="/abpride"]{
    background-position:-200% -100%;
}

a[href|="/abcool"]{
    background-position:-0% -200%;
}

a[href|="/dancerbloom"]{
    background-position:-100% -200%;
}

a[href|="/abfrown"]{
    background-position:-200% -200%;
}