a[href|="/braescrunch"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 144px;
    background-image:url(%%braescrunch%%)
}
a[href|="/bigsurprise"] {
    display: block;
    clear: none;
    float: left;
    width: 180px;
    height: 165px;
    background-position: -0px -0px; 
    background-image:url(%%spritesheetfinally%%)
}
a[href|="/princesstreebutt"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 176px;
    background-position: -0px -165px; 
    background-image:url(%%spritesheetfinally%%)
}
a[href|="/reverselyra"] {
    display: block;
    clear: none;
    float: left;
    width: 169px;
    height: 200px;
    background-position: -2px -342px; 
    background-image:url(%%spritesheetfinally%%)
}
a[href|="/treehuggerbraa"] {
    display: block;
    clear: none;
    float: left;
    width: 119px;
    height: 143px;
    background-position: -1px -542px; 
    background-image:url(%%spritesheetfinally%%)
}
a[href|="/treehuggerchill"] {
    display: block;
    clear: none;
    float: left;
    width: 160px;
    height: 195px;
    background-position: -0px -683px; 
    background-image:url(%%spritesheetfinally%%)
}
a[href|="/treehuggerhey"] {
    display: block;
    clear: none;
    float: left;
    width: 130px;
    height: 135px;
    background-position: -0px -878px; 
    background-image:url(%%spritesheetfinally%%)
}
a[href|="/treehuggerpretty"] {
    display: block;
    clear: none;
    float: left;
    width: 169px;
    height: 182px;
    background-position: -1px -1016px; 
    background-image:url(%%spritesheetfinally%%)
}
a[href|="/treehuggerstretch"] {
    display: block;
    clear: none;
    float: left;
    width: 80px;
    height: 180px;
    background-position: -1px -1202px; 
    background-image:url(%%spritesheetfinally%%)
}
a[href|="/alhavingfun"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 206px;
    background-position: -0px -1379px; 
    background-image:url(%%spritesheetfinally%%)
}
a[href|="/tophattavi"] {
    display: block;
    clear: none;
    float: left;
    width: 170px;
    height: 219px;
    background-position: -0px -1585px; 
    background-image:url(%%spritesheetfinally%%)
}
a[href|="/sunata"] {
    display: block;
    clear: none;
    float: left;
    width: 179px;
    height: 165px;
    background-position: -0px -1803px; 
    background-image:url(%%spritesheetfinally%%)
}

a[href|="/speccyglee"] {
    display: block;
    clear: none;
    float: left;
    width: 90px;
    height: 129px;
    background-image:url(%%scae%%)
}

a[href|="/kat"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 197px;
    background-image:url(%%gembutt%%)
}
a[href|="/gembutt"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 197px;
    background-image:url(%%gembutt%%)
}
a[href|="/lilmissrarity"] {
    display: block;
    clear: none;
    float: left;
    width: 106px;
    height: 170px;
    background-image:url(%%lmr%%)
}
/*a[href|="/flutterbie"] {
    display:block;
    clear:none;
    float:left;
    width:
*/

a[href|="/braesoarnuzzle"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 122px;
    background-position: -0px -1168px; 
    background-image:url(%%Braestylesheet%%)
}
a[href|="/sexyburn"] {
    display: block;
    clear: none;
    float: left;
    width: 115px;
    height: 150px;
    background-image:url(%%sexyburn%%)
}
a[href|="/flutterburn"] {
    display: block;
    clear: none;
    float: left;
    width: 170px;
    height: 99px;
    background-image:url(%%flutterburn%%)
}



a[href|="/hellosexy"] {
    display: block;
    clear: none;
    float: left;
    width: 276px;
    height: 244px;
    background-image:url(%%hellosexy%%)
}

a[href|="/rifleburn"] {
    display: block;
    clear: none;
    float: left;
    width: 190px;
    height: 150px;
    background-position: -0px -698px; 
    background-image:url(%%Braestylesheet%%)
}

a[href|="/scootaburn"] {
    display: block;
    clear: none;
    float: left;
    width: 124px;
    height: 169px;
    background-image:url(%%scootaburn%%)
}




a[href|="/braeburnaloo"] {
    display: block;
    clear: none;
    float: left;
    width: 190px;
    height: 190px;
    background-image:url(%%braeburnaloo%%)
}


a[href|="/braewhat"] {
    display: block;
    clear: none;
    float: left;
    width: 115px;
    height: 170px;
    background-image:url(%%braewhat%%)
}





a[href|="/braesoarhug"] {
    display: block;
    clear: none;
    float: left;
    width: 180px;
    height: 159px;
    background-image:url(%%Braestylesheet%%)
}

a[href|="/gayburn"] {
    display: block;
    clear: none;
    float: left;
    width: 177px;
    height: 170px;
    background-position: -0px -529px; 
    background-image:url(%%Braestylesheet%%)
}



a[href|="/crystals"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 200px;
    background-image:url(%%crystals%%)
}

a[href|="/evilmilkshake"] {
    display: block;
    clear: none;
    float: left;
    width: 171px;
    height: 170px;
    background-image:url(%%evilmilkshake%%)
}


a[href|="/hithere"] {
    display: block;
    clear: none;
    float: left;
    width: 158px;
    height: 183px;
    background-image:url(%%hithere%%)
}

a[href|="/banexie"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 145px;
    background-position: -0px -842px; 
    background-image:url(%%Braestylesheet%%)
}

a[href|="/drinkxie"] {
    display: block;
    clear: none;
    float: left;
    width: 179px;
    height: 160px;
    background-image:url(%%drinkxie%%)
}

a[href|="/fetaltrixie"] {
    display: block;
    clear: none;
    float: left;
    width: 205px;
    height: 146px;
    background-position: -1px -159px; 
    background-image:url(%%Braestylesheet%%)
}

a[href|="/sittrixie"] {
    display: block;
    clear: none;
    float: left;
    width: 205px;
    height: 170px;
    background-image:url(%%sittrixie%%)
}

a[href|="/trixinsane"] {
    display: block;
    clear: none;
    float: left;
    width: 220px;
    height: 117px;
    background-image:url(%%trixinsane%%)
}


a[href|="/partygate"] {
    display: block;
    clear: none;
    float: left;
    width: 170px;
    height: 196px;
    background-image:url(%%partygate%%)
}

a[href|="/dabrushie"] {
    display: block;
    clear: none;
    float: left;
    width: 187px;
    height: 150px;
    background-image:url(%%dabrushie%%)
}


a[href|="/colno"] {
    display: block;
    clear: none;
    float: left;
    width: 179px;
    height: 163px;
    background-image:url(%%colno%%)
}



a[href|="/colgateworry"] {
    display: block;
    clear: none;
    float: left;
    width: 130px;
    height: 173px;
    background-position: -0px -986px; 
    background-image:url(%%Braestylesheet%%)
}

a[href|="/bpandchug"] {
    display: block;
    clear: none;
    float: left;
    width: 179px;
    height: 181px;
    background-image:url(%%bpandchug%%)
}

a[href|="/pearlywhites"] {
    display: block;
    clear: none;
    float: left;
    width: 189px;
    height: 171px;
    background-image:url(%%pearlywhites%%)
}



a[href|="/scrunchycolgate"] {
    display: block;
    clear: none;
    float: left;
    width: 180px;
    height: 153px;
    background-image:url(%%scrunchycolgate%%)
}

a[href|="/sockybrushie"] {
    display: block;
    clear: none;
    float: left;
    width: 175px;
    height: 159px;
    background-image:url(%%sockybrushie%%)
}

a[href|="/colgatederp"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 200px;
    background-image:url(%%colgatederp%%)
}

a[href|="/colgatechristmas"] {
    display: block;
    clear: none;
    float: left;
    width: 179px;
    height: 203px;
    background-image:url(%%colgatechristmas%%)
}

a[href|="/yallbrushing"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 200px;
    background-image:url(%%yallbrushing%%)
}



a[href|="/berrypunchcolgatenuzzle"] {
    display: block;
    clear: none;
    float: left;
    width: 189px;
    height: 120px;
    background-image:url(%%berrypunchcolgatenuzzle%%)
}

a[href|="/colgatepunchsnuggle"] {
    display: block;
    clear: none;
    float: left;
    width: 190px;
    height: 185px;
    background-image:url(%%colgatepunchsnuggle%%)
}



a[href|="/trixshimmer"] {
    display: block;
    clear: none;
    float: left;
    width: 300px;
    height: 140px;
    background-position: 0px  0px; 
    background-image:url(%%spritesheet1%%)
}

a[href|="/trixievoila"] {
    display: block;
    clear: none;
    float: left;
    width: 145px;
    height: 200px;
    background-position: 0px  -140px; 
    background-image:url(%%spritesheet1%%)
}

a[href|="/sunsetproud"] {
    display: block;
    clear: none;
    float: left;
    width: 160px;
    height: 195px;
    background-position: 0px  -344px; 
    background-image:url(%%spritesheet1%%)
}

a[href|="/sunsetcozy"] {
    display: block;
    clear: none;
    float: left;
    width: 160px;
    height: 203px;
    background-position: 0px  -540px; 
    background-image:url(%%spritesheet1%%)
}

a[href|="/sunsetsad"] {
    display: block;
    clear: none;
    float: left;
    width: 173px;
    height: 191px;
    background-position: 0px  -742px; 
    background-image:url(%%spritesheet1%%)
}
a[href|="/shimmergrin"] {
    display: block;
    clear: none;
    float: left;
    width: 178px;
    height: 197px;
    background-position: 0px  -939px; 
    background-image:url(%%spritesheet1%%)
}
a[href|="/sadshimmer"] {
    display: block;
    clear: none;
    float: left;
    width: 215px;
    height: 190px;
    background-position: 0px  -1135px; 
    background-image:url(%%spritesheet1%%)
}

a[href|="/fillyshimmer"] {
    display: block;
    clear: none;
    float: left;
    width: 190px;
    height: 197px;
    background-position: 0px  -1326px; 
    background-image:url(%%spritesheet1%%)
}

a[href|="/chibishimmer"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 209px;
    background-position: 0px  -1524px; 
    background-image:url(%%spritesheet1%%)
}
a[href|="/trixiehat"] {
    display: block;
    clear: none;
    float: left;
    width: 120px;
    height: 204px;
    background-position: 0px  0px; 
    background-image:url(%%spritesheet2%%)
}

a[href|="/twixiecuddle"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 139px;
    background-position: 0px  -198px; 
    background-image:url(%%spritesheet2%%)
}

a[href|="/twixieflirt"] {
    display: block;
    clear: none;
    float: left;
    width: 225px;
    height: 200px;
    background-position: 0px  -370px; 
    background-image:url(%%spritesheet2%%)
}

a[href|="/twixienap"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 185px;
    background-position: 0px  -560px; 
    background-image:url(%%spritesheet2%%)
}

a[href|="/twixieshare"] {
    display: block;
    clear: none;
    float: left;
    width: 260px;
    height: 127px;
    background-position: 0px  -740px; 
    background-image:url(%%spritesheet2%%)
}

a[href|="/twixieevil"] {
    display: block;
    clear: none;
    float: left;
    width: 250px;
    height: 162px;
    background-position: 0px  -855px; 
    background-image:url(%%spritesheet2%%)
}

a[href|="/twixiesocks"] {
    display: block;
    clear: none;
    float: left;
    width: 266px;
    height: 139px;
    background-position: 0px  -1018px; 
    background-image:url(%%spritesheet2%%)
}

a[href|="/twixiemouthcuddle"] {
    display: block;
    clear: none;
    float: left;
    width: 250px;
    height: 150px;
    background-position: 0px  -1180px; 
    background-image:url(%%spritesheet2%%)
}


a[href|="/twitail"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 173px;
    background-position: 0px  -1328px; 
    background-image:url(%%spritesheet2%%)
}

a[href|="/twixiegenie"] {
    display: block;
    clear: none;
    float: left;
    width: 260px;
    height: 262px;
    background-position: 0px  -1500px; 
    background-image:url(%%spritesheet2%%)
}

a[href|="/twixiehug"] {
    display: block;
    clear: none;
    float: left;
    width: 195px;
    height: 172px;
    background-position: 0px  -1761px; 
    background-image:url(%%spritesheet2%%)
}

a[href|="/alicorns"] {
    display: block;
    clear: none;
    float: left;
    width: 177px;
    height: 229px;
    background-position: 0px  -1933px; 
    background-image:url(%%spritesheet2%%)
}

a[href|="/angrybelle"] {
    display: block;
    clear: none;
    float: left;
    width: 175px;
    height: 165px;
    background-position: 0px  0px; 
    background-image:url(%%spritesheet3%%)
}


a[href|="/deviousbelle"] {
    display: block;
    clear: none;
    float: left;
    width: 163px;
    height: 205px;
    background-position: 0px  -165px; 
    background-image:url(%%spritesheet3%%)
}


a[href|="/poutybelle"] {
    display: block;
    clear: none;
    float: left;
    width: 168px;
    height: 202px;
    background-position: 0px  -371px; 
    background-image:url(%%spritesheet3%%)
}

a[href|="/scootybelle"] {
    display: block;
    clear: none;
    float: left;
    width: 173px;
    height: 215px;
    background-position: 0px  -574px; 
    background-image:url(%%spritesheet3%%)
}

a[href|="/snootybelle"] {
    display: block;
    clear: none;
    float: left;
    width: 166px;
    height: 182px;
    background-position: 0px  -789px; 
    background-image:url(%%spritesheet3%%)
}

a[href|="/sweetiehappy"] {
    display: block;
    clear: none;
    float: left;
    width: 166px;
    height: 210px;
    background-position: 0px  -970px; 
    background-image:url(%%spritesheet3%%)
}

a[href|="/sweetiemagic"] {
    display: block;
    clear: none;
    float: left;
    width: 168px;
    height: 185px;
    background-position: 0px  -1180px; 
    background-image:url(%%spritesheet3%%)
}

a[href|="/sweetieomg"] {
    display: block;
    clear: none;
    float: left;
    width: 170px;
    height: 194px;
    background-position: 0px  -1361px; 
    background-image:url(%%spritesheet3%%)
}

a[href|="/sweetiereach"] {
    display: block;
    clear: none;
    float: left;
    width: 166px;
    height: 190px;
    background-position: 0px  -1552px; 
    background-image:url(%%spritesheet3%%)
}

a[href|="/sweetiewat"] {
    display: block;
    clear: none;
    float: left;
    width: 165px;
    height: 168px;
    background-position: 0px  -1740px; 
    background-image:url(%%spritesheet3%%)
}

a[href|="/seahatake"] {
    display: block;
    clear: none;
    float: left;
    width: 244px;
    height: 170px;
    background-position: 0px  -1910px; 
    background-image:url(%%spritesheet3%%)
}

a[href|="/twinervous"] {
    display: block;
    clear: none;
    float: left;
    width: 160px;
    height: 195px;
    background-position: 0px  0px; 
    background-image:url(%%spritesheet4%%)
}

a[href|="/huggytwi"] {
    display: block;
    clear: none;
    float: left;
    width: 195px;
    height: 195px;
    background-position: 0px  -195px; 
    background-image:url(%%spritesheet4%%)
}

a[href|="/readingtwi"] {
    display: block;
    clear: none;
    float: left;
    width: 195px;
    height: 118px;
    background-position: 0px  -398px; 
    background-image:url(%%spritesheet4%%)
}

a[href|="/twitiahug"] {
    display: block;
    clear: none;
    float: left;
    width: 275px;
    height: 136px;
    background-position: 0px  -517px; 
    background-image:url(%%spritesheet4%%)
}

a[href|="/morningtwi"] {
    display: block;
    clear: none;
    float: left;
    width: 169px;
    height: 242px;
    background-position: 0px  -657px; 
    background-image:url(%%spritesheet4%%)
}


a[href|="/lunatwihug"] {
    display: block;
    clear: none;
    float: left;
    width: 218px;
    height: 134px;
    background-position: 0px  -903px; 
    background-image:url(%%spritesheet4%%)
}

a[href|="/twilightwantshuggy"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 206px;
    background-position: 0px  -1037px; 
    background-image:url(%%spritesheet4%%)
}

a[href|="/coffeetwi"] {
    display: block;
    clear: none;
    float: left;
    width: 197px;
    height: 192px;
    background-position: 0px  -1245px; 
    background-image:url(%%spritesheet4%%)
}
a[href|="/twipout"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 186px;
    background-position: 0px  -1439px; 
    background-image:url(%%spritesheet4%%)
}

a[href|="/twibummed"] {
    display: block;
    clear: none;
    float: left;
    width: 195px;
    height: 122px;
    background-position: 0px  -1626px; 
    background-image:url(%%spritesheet4%%)
}

a[href|="/twicheer"] {
    display: block;
    clear: none;
    float: left;
    width: 192px;
    height: 172px;
    background-position: 0px  -1750px; 
    background-image:url(%%spritesheet4%%)
}

a[href|="/twilightissohappy"] {
    display: block;
    clear: none;
    float: left;
    width: 188px;
    height: 172px;
    background-position: -5px  -1924px; 
    background-image:url(%%spritesheet4%%)
}

a[href|="/amusedlyra"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 195px;
    background-position: 0px  0px; 
    background-image:url(%%spritesheet5%%)
}

a[href|="/angrylyra"] {
    display: block;
    clear: none;
    float: left;
    width: 255px;
    height: 144px;
    background-position: 0px  -194px; 
    background-image:url(%%spritesheet5%%)
}

a[href|="/lyrabeam"] {
    display: block;
    clear: none;
    float: left;
    width: 197px;
    height: 195px;
    background-position: 0px  -338px; 
    background-image:url(%%spritesheet5%%)
}

a[href|="/lyrablush"] {
    display: block;
    clear: none;
    float: left;
    width: 186px;
    height: 197px;
    background-position: -3px  -535px; 
    background-image:url(%%spritesheet5%%)
}

a[href|="/lyrabontango"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 155px;
    background-position: 0px  -732px; 
    background-image:url(%%spritesheet5%%)
}

a[href|="/lyraevil"] {
    display: block;
    clear: none;
    float: left;
    width: 220px;
    height: 208px;
    background-position: 0px  -885px; 
    background-image:url(%%spritesheet5%%)
}

a[href|="/lyrafoundyourstash"] {
    display: block;
    clear: none;
    float: left;
    width: 195px;
    height: 165px;
    background-position: 0px  -1094px; 
    background-image:url(%%spritesheet5%%)
}

a[href|="/lyragimme"] {
    display: block;
    clear: none;
    float: left;
    width: 197px;
    height: 194px;
    background-position: 0px  -1260px; 
    background-image:url(%%spritesheet5%%)
}

a[href|="/lyrahasbon"] {
    display: block;
    clear: none;
    float: left;
    width: 160px;
    height: 218px;
    background-position: 0px  -1455px; 
    background-image:url(%%spritesheet5%%)
}

a[href|="/lyrasleep"] {
    display: block;
    clear: none;
    float: left;
    width: 197px;
    height: 141px;
    background-position: 0px  -1674px; 
    background-image:url(%%spritesheet5%%)
}

a[href|="/lyricorn"] {
    display: block;
    clear: none;
    float: left;
    width: 156px;
    height: 207px;
    background-position: 0px  -1816px; 
    background-image:url(%%spritesheet5%%)
}

a[href|="/ninjalyra"] {
    display: block;
    clear: none;
    float: left;
    width: 214px;
    height: 131px;
    background-position: 0px  -2021px; 
    background-image:url(%%spritesheet5%%)
}

a[href|="/socklyra"] {
    display: block;
    clear: none;
    float: left;
    width: 217px;
    height: 108px;
    background-position: 0px  -2148px; 
    background-image:url(%%spritesheet5%%)
}

a[href|="/crystalsunset"] {  
 display: block;
 clear: none;
 float: left; 
 width: 166px;
 height: 189px;
 background-image: url(%%spritesheet1%%);
 background-position: -0px -1733px;
}
 
a[href|="/shimmerworry"] {  
 display: block;
 clear: none;
 float: left; 
 width: 166px;
 height: 223px;
 background-image: url(%%spritesheet1%%);
 background-position: -0px -1924px;
} 

a[href|="/gimmeback"] {  
 display: block;
 clear: none;
 float: left; 
 width: 220px;
 height: 168px;
 background-image: url(%%spritesheet6%%);
 background-position: -0px -0px;
} 

a[href|="/sadhoofbump"] {  
 display: block;
 clear: none;
 float: left; 
 width: 279px;
 height: 139px;
 background-image: url(%%spritesheet6%%);
 background-position: -0px -168px;
} 

a[href|="/princessmac"] {  
 display: block;
 clear: none;
 float: left; 
 width: 180px;
 height: 204px;
 background-image: url(%%spritesheet6%%);
 background-position: -0px -307px;
} 

a[href|="/macingrab"] {  
 display: block;
 clear: none;
 float: left; 
 width: 194px;
 height: 199px;
 background-image: url(%%spritesheet6%%);
 background-position: -0px -511px;
} 

a[href|="/carrymac"] {  
 display: block;
 clear: none;
 float: left; 
 width: 198px;
 height: 195px;
 background-image: url(%%spritesheet6%%);
 background-position: -0px -710px;
} 

a[href|="/abwhee"] {  
 display: block;
 clear: none;
 float: left; 
 width: 160px;
 height: 207px;
 background-image: url(%%spritesheet6%%);
 background-position: -0px -905px;
} 

a[href|="/macinwat"] {  
 display: block;
 clear: none;
 float: left; 
 width: 116px;
 height: 229px;
 background-image: url(%%spritesheet6%%);
 background-position: -0px -1112px;
} 

a[href|="/macinhop"] {  
 display: block;
 clear: none;
 float: left; 
 width: 126px;
 height: 247px;
 background-image: url(%%spritesheet6%%);
 background-position: -0px -1341px;
} 

a[href|="/abhuggy"] {  
 display: block;
 clear: none;
 float: left; 
 width: 185px;
 height: 208px;
 background-image: url(%%spritesheet6%%);
 background-position: -0px -1588px;
} 

a[href|="/abexcitedgrin"] {  
 display: block;
 clear: none;
 float: left; 
 width: 198px;
 height: 196px;
 background-image: url(%%spritesheet6%%);
 background-position: -0px -1796px;
} 

a[href|="/helibloom"] {  
 display: block;
 clear: none;
 float: left; 
 width: 187px;
 height: 217px;
 background-image: url(%%spritesheet6%%);
 background-position: -0px -1994px;
} 

a[href|="/applebummed"] {  
 display: block;
 clear: none;
 float: left; 
 width: 220px;
 height: 140px;
 background-image: url(%%spritesheet6%%);
 background-position: -0px -2211px;
} 

a[href|="/wannastudy"] {  
 display: block;
 clear: none;
 float: left; 
 width: 180px;
 height: 207px;
 background-image: url(%%spritesheet7%%);
 background-position: -0px -0px;
} 

a[href|="/tdfrenchkiss"] {  
 display: block;
 clear: none;
 float: left; 
 width: 278px;
 height: 130px;
 background-image: url(%%spritesheet7%%);
 background-position: -0px -229px;
} 

a[href|="/smartass"] {  
 display: block;
 clear: none;
 float: left; 
 width: 222px;
 height: 132px;
 background-image: url(%%spritesheet7%%);
 background-position: -0px -368px;
} 

a[href|="/twilightissuperhappy"] {  
 display: block;
 clear: none;
 float: left; 
 width: 180px;
 height: 206px;
 background-image: url(%%spritesheet7%%);
 background-position: -0px -501px;
} 

a[href|="/twibutt"] {  
 display: block;
 clear: none;
 float: left; 
 width: 193px;
 height: 158px;
 background-image: url(%%spritesheet7%%);
 background-position: -0px -705px;
} 

a[href|="/twisexface"] {  
 display: block;
 clear: none;
 float: left; 
 width: 155px;
 height: 116px;
 background-image: url(%%spritesheet7%%);
 background-position: -17px -864px;
} 

a[href|="/twisockbutt"] {  
 display: block;
 clear: none;
 float: left; 
 width: 222px;
 height: 164px;
 background-image: url(%%spritesheet7%%);
 background-position: -0px -982px;
} 

a[href|="/suspicioustwi"] {  
 display: block;
 clear: none;
 float: left; 
 width: 136px;
 height: 212px;
 background-image: url(%%spritesheet7%%);
 background-position: -0px -1146px;
} 

a[href|="/twieww"] {  
 display: block;
 clear: none;
 float: left; 
 width: 153px;
 height: 168px;
 background-image: url(%%spritesheet7%%);
 background-position: -0px -1360px;
} 

a[href|="/twidafaq"] {  
 display: block;
 clear: none;
 float: left; 
 width: 138px;
 height: 173px;
 background-image: url(%%spritesheet7%%);
 background-position: -0px -1526px;
} 

a[href|="/letsdoscience"] {  
 display: block;
 clear: none;
 float: left; 
 width: 176px;
 height: 154px;
 background-image: url(%%spritesheet7%%);
 background-position: -0px -1700px;
} 

a[href|="/twicocoa"] {  
 display: block;
 clear: none;
 float: left; 
 width: 144px;
 height: 161px;
 background-image: url(%%spritesheet7%%);
 background-position: -0px -1854px;
} 

a[href|="/twiflirt"] {  
 display: block;
 clear: none;
 float: left; 
 width: 222px;
 height: 137px;
 background-image: url(%%spritesheet7%%);
 background-position: -0px -2015px;
} 

a[href|="/twilighthug"] {  
 display: block;
 clear: none;
 float: left; 
 width: 152px;
 height: 175px;
 background-image: url(%%spritesheet7%%);
 background-position: -0px -2153px;
} 

a[href|="/royalescort"] {  
 display: block;
 clear: none;
 float: left; 
 width: 180px;
 height: 250px;
 background-image: url(%%spritesheet9%%);
 background-position: -0px -0px;
}

a[href|="/raritywtf"] {  
 display: block;
 clear: none;
 float: left; 
 width: 204px;
 height: 191px;
 background-image: url(%%spritesheet9%%);
 background-position: -0px -250px;
}

a[href|="/raritygrin"] {  
 display: block;
 clear: none;
 float: left; 
 width: 192px;
 height: 222px;
 background-image: url(%%spritesheet9%%);
 background-position: -0px -441px;
}

a[href|="/rarityshock"] {  
 display: block;
 clear: none;
 float: left; 
 width: 201px;
 height: 199px;
 background-image: url(%%spritesheet9%%);
 background-position: -0px -663px;
}

a[href|="/rarityproblem"] {  
 display: block;
 clear: none;
 float: left; 
 width: 225px;
 height: 132px;
 background-image: url(%%spritesheet9%%);
 background-position: -0px -861px;
}

a[href|="/rarilunanuzzle"] {  
 display: block;
 clear: none;
 float: left; 
 width: 250px;
 height: 138px;
 background-image: url(%%spritesheet9%%);
 background-position: -0px -997px;
}

a[href|="/raritycannon"] {  
 display: block;
 clear: none;
 float: left; 
 width: 261px;
 height: 136px;
 background-image: url(%%spritesheet9%%);
 background-position: -0px -1134px;
}

a[href|="/rarityowie"] {  
 display: block;
 clear: none;
 float: left; 
 width: 215px;
 height: 217px;
 background-image: url(%%spritesheet9%%);
 background-position: -0px -1270px;
}

a[href|="/rariblush"] {  
 display: block;
 clear: none;
 float: left; 
 width: 191px;
 height: 215px;
 background-image: url(%%spritesheet9%%);
 background-position: -0px -1488px;
}

a[href|="/raribeam"] {  
 display: block;
 clear: none;
 float: left; 
 width: 166px;
 height: 212px;
 background-image: url(%%spritesheet9%%);
 background-position: -0px -1703px;
}

a[href|="/itriedireallydid"] {  
 display: block;
 clear: none;
 float: left; 
 width: 203px;
 height: 184px;
 background-image: url(%%spritesheet9%%);
 background-position: -0px -1915px;
}

a[href|="/generoushug"] {  
 display: block;
 clear: none;
 float: left; 
 width: 169px;
 height: 216px;
 background-image: url(%%spritesheet9%%);
 background-position: -0px -2099px;
}

a[href|="/fluffycry"] {  
 display: block;
 clear: none;
 float: left; 
 width: 187px;
 height: 228px;
 background-image: url(%%spritesheet9%%);
 background-position: -0px -2317px;
}

a[href|="/snug"] {  
 display: block;
 clear: none;
 float: left; 
 width: 282px;
 height: 170px;
 background-image: url(%%spritesheet9%%);
 background-position: -0px -2544px;
}

a[href|="/twixiepillow"] {  
 display: block;
 clear: none;
 float: left; 
 width: 352px;
 height: 152px;
 background-image: url(%%spritesheet9%%);
 background-position: -0px -2726px;
}

a[href|="/pinkaistiredofyourshit"] {  
 display: block;
 clear: none;
 float: left; 
 width: 200px;
 height: 206px;
 background-image: url(%%braespritesheet%%);
 background-position: -0px -0px;
}


a[href|="/pinkawhatever"] {  
 display: block;
 clear: none;
 float: left; 
 width: 226px;
 height: 120px;
 background-image: url(%%braespritesheet%%);
 background-position: -0px -219px;
}


a[href|="/whatdoyouwant"] {  
 display: block;
 clear: none;
 float: left; 
 width: 192px;
 height: 160px;
 background-image: url(%%braespritesheet%%);
 background-position: -0px -339px;
}


a[href|="/pinkasulk"] {  
 display: block;
 clear: none;
 float: left; 
 width: 234px;
 height: 189px;
 background-image: url(%%braespritesheet%%);
 background-position: -0px -505px;
}


a[href|="/pinkareally"] {  
 display: block;
 clear: none;
 float: left; 
 width: 188px;
 height: 174px;
 background-image: url(%%braespritesheet%%);
 background-position: -0px -694px;
}


a[href|="/pinkahopeless"] {  
 display: block;
 clear: none;
 float: left; 
 width: 307px;
 height: 92px;
 background-image: url(%%braespritesheet%%);
 background-position: -0px -868px;
}


a[href|="/pinkagrowl"] {  
 display: block;
 clear: none;
 float: left; 
 width: 168px;
 height: 147px;
 background-image: url(%%braespritesheet%%);
 background-position: -0px -965px;
}


a[href|="/pinkacry"] {  
 display: block;
 clear: none;
 float: left; 
 width: 191px;
 height: 154px;
 background-image: url(%%braespritesheet%%);
 background-position: -0px -1113px;
}


a[href|="/leavemealone"] {  
 display: block;
 clear: none;
 float: left; 
 width: 200px;
 height: 156px;
 background-image: url(%%braespritesheet%%);
 background-position: -0px -1270px;
}

a[href|="/idontneedanyone"] {  
 display: block;
 clear: none;
 float: left; 
 width: 159px;
 height: 212px;
 background-image: url(%%braespritesheet%%);
 background-position: -0px -1428px;
}

a[href|="/pinkahappytear"] {  
 display: block;
 clear: none;
 float: left; 
 width: 156px;
 height: 197px;
 background-image: url(%%braespritesheet%%);
 background-position: -0px -1645px;
}

a[href|="/crazyhug"] {  
 display: block;
 clear: none;
 float: left; 
 width: 233px;
 height: 147px;
 background-image: url(%%braespritesheet%%);
 background-position: -0px -1843px;
}

a[href|="/atleastsomeonelikesme"] {  
 display: block;
 clear: none;
 float: left; 
 width: 175px;
 height: 191px;
 background-image: url(%%braespritesheet%%);
 background-position: -0px -1990px;
}

a[href|="/lyradash"] {  
 display: block;
 clear: none;
 float: left; 
 width: 250px;
 height: 182px;
 background-image: url(%%sunsetspritesheet%%);
 background-position: 0px 0px;
}

a[href|="/doubledash"] {  
 display: block;
 clear: none;
 float: left; 
 width: 196px;
 height: 242px;
 background-image: url(%%sunsetspritesheet%%);
 background-position: 0px -180px;
}

a[href|="/sunsetsing"] {  
 display: block;
 clear: none;
 float: left; 
 width: 177px;
 height: 149px;
 background-image: url(%%sunsetspritesheet%%);
 background-position: -3px -420px;
}

a[href|="/sunshy"] {  
 display: block;
 clear: none;
 float: left; 
 width: 258px;
 height: 164px;
 background-image: url(%%sunsetspritesheet%%);
 background-position: -2px -573px;
}

a[href|="/octabat"] {  
 display: block;
 clear: none;
 float: left; 
 width: 190px;
 height: 228px;
 background-image: url(%%sunsetspritesheet%%);
 background-position: -1px -737px;
}

a[href|="/sparkledress"] {  
 display: block;
 clear: none;
 float: left; 
 width: 198px;
 height: 187px;
 background-image: url(%%sunsetspritesheet%%);
 background-position: -1px -965px;
}

a[href|="/octypus"] {  
 display: block;
 clear: none;
 float: left; 
 width: 180px;
 height: 185px;
 background-image: url(%%sunsetspritesheet%%);
 background-position: 0px -1152px;
}

a[href|="/chibisunjuice"] {  
 display: block;
 clear: none;
 float: left; 
 width: 170px;
 height: 227px;
 background-image: url(%%sunsetspritesheet%%);
 background-position: -1px -1340px;
}

a[href|="/octyisnotamused"] {  
 display: block;
 clear: none;
 float: left; 
 width: 170px;
 height: 219px;
 background-image: url(%%sunsetspritesheet%%);
 background-position: 0px -1560px;
}

a[href|="/lyrabonkitties"] {  
 display: block;
 clear: none;
 float: left; 
 width: 220px;
 height: 206px;
 background-image: url(%%Lyrabonkitties%%);
 
}
a[href|="/kawaiishy"] {  
 display: block;
 clear: none;
 float: left; 
 width: 190px;
 height: 240px;
 background-image: url(%%drawing-in-rikose-style1-by-luminaura-d86k9y6%%);
 
}
a[href|="/treehug"] {  
 display: block;
 clear: none;
 float: left; 
 width: 220px;
 height: 241px;
 background-image: url(%%TreeHug%%);
 
}
a[href|="/blackjackboop"] {  
 display: block;
 clear: none;
 float: left; 
 width: 260px;
 height: 160px;
 background-image: url(%%spritesheet420%%);
 background-position: 0px 0px;
}
a[href|="/chibilyra"] {  
 display: block;
 clear: none;
 float: left; 
 width: 210px;
 height: 206px;
 background-image: url(%%spritesheet420%%);
 background-position: -2px -163px;
}
a[href|="/twixnuzzle"] {  
 display: block;
 clear: none;
 float: left; 
 width: 245px;
 height: 160px;
 background-image: url(%%spritesheet420%%);
 background-position: 0px -369px;
}
a[href|="/treehuggerhi"] {  
 display: block;
 clear: none;
 float: left; 
 width: 180px;
 height: 198px;
 background-image: url(%%spritesheet420%%);
 background-position: -1px -627px;
}
a[href|="/lyrahai"] {  
 display: block;
 clear: none;
 float: left; 
 width: 190px;
 height: 201px;
 background-image: url(%%spritesheet420%%);
 background-position: -2px -827px;
}
a[href|="/blushingtrixie"] {  
 display: block;
 clear: none;
 float: left; 
 width: 180px;
 height: 193px;
 background-image: url(%%spritesheet420%%);
 background-position: -2px -1036px;
}
a[href|="/treehuggertired"] {  
 display: block;
 clear: none;
 float: left; 
 width: 190px;
 height: 225px;
 background-image: url(%%spritesheet420%%);
 background-position: 0px -1230px;
}
a[href|="/treehuggerblush"] {  
 display: block;
 clear: none;
 float: left; 
 width: 180px;
 height: 255px;
 background-image: url(%%spritesheet420%%);
 background-position: 0px -1458px;
}

a[href|="/platonicfriends"] {  
 display: block;
 clear: none;
 float: left; 
 width: 240px;
 height: 126px;
 background-image: url(%%platonicfriends%%);
 
}

a[href|="/vinylwai"] {  
 display: block;
 clear: none;
 float: left; 
 width: 190px;
 height: 176px;
 background-image: url(%%spritesheetsmall%%);
 background-position: 0px 0px;
}
a[href|="/stiltmanisalsfavorite"] {  
 display: block;
 clear: none;
 float: left; 
 width: 77px;
 height: 195px;
 background-image: url(%%spritesheetsmall%%);
 background-position: 0px -177px;
}
div.titlebox span.word {display:none; }
div.titlebox span.number:after {content:" Sexy Beasts";}



.link .expando .usertext .md {
border: 0px solid #000000 !important;
background-color: #F5E28C !important;
background-image: -webkit-linear-gradient(top, #F5E28C, #FFFEE6);
background-image: -moz-linear-gradient(top, #F5E28C, #FFFEE6);
background-image: -ms-linear-gradient(top, #F5E28C, #FFFEE6);
background-image: -o-linear-gradient(top, #F5E28C, #FFFEE6);
    }

/* dividing bar under logo */
#header {
-moz-box-shadow: 0px 0px 10px #888;
-webkit-box-shadow: 0px 0px 10px #888;
box-shadow: 0px 0px 10px #888;
margin:0px;
padding:0;
border-bottom:none;
width:100%;
z-index:100;
}

.sidecontentbox .helplink + .title h1 { font-size: 0 !important }

.sidecontentbox .helplink + .title h1:before { font-size: 10pt !important; content: "SUPREME LEADERS" }   








.sidecontentbox .more a {
display: none;
}
/*This doesn't do what I want it to, but fuck it. It stays.*/
#img-preview-braeburn-by-heart-of-stitches-d4au5xn {
opacity:0.4;
}