a[href|="/braescrunch"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 144px;
    background-image:url(%%braescrunch%%)
}
a[href|="/braesoarnuzzle"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 122px;
    background-position: -0px -1168px; 
    background-image:url(%%Braestylesheet%%)
}
a[href|="/sexyburn"] {
    display: block;
    clear: none;
    float: left;
    width: 115px;
    height: 150px;
    background-image:url(%%sexyburn%%)
}
a[href|="/flutterburn"] {
    display: block;
    clear: none;
    float: left;
    width: 170px;
    height: 99px;
    background-image:url(%%flutterburn%%)
}

a[href|="/braeburneyes"] {
    display: block;
    clear: none;
    float: left;
    width: 185px;
    height: 150px;
    background-image:url(%%braeburneyes%%)
}

a[href|="/hellosexy"] {
    display: block;
    clear: none;
    float: left;
    width: 276px;
    height: 244px;
    background-image:url(%%hellosexy%%)
}

a[href|="/rifleburn"] {
    display: block;
    clear: none;
    float: left;
    width: 190px;
    height: 150px;
    background-position: -0px -698px; 
    background-image:url(%%Braestylesheet%%)
}

a[href|="/scootaburn"] {
    display: block;
    clear: none;
    float: left;
    width: 124px;
    height: 169px;
    background-image:url(%%scootaburn%%)
}

/*Width 240, Height 166*/
a[href|="/littlestrongburn"] {
    display: block;
    clear: none;
    float: left;
    width: 240px;
    height: 166px;
    background-image:url(%%littlestrongburn%%)
}

a[href|="/snakeburn"] {
    display: block;
    clear: none;
    float: left;
    width: 160px;
    height: 149px;
    background-image:url(%%snakeburn%%)
}

a[href|="/teenagebraeburn"] {
    display: block;
    clear: none;
    float: left;
    width: 180px;
    height: 187px;
    background-image:url(%%teenagebraeburn%%)
}

a[href|="/braeburnaloo"] {
    display: block;
    clear: none;
    float: left;
    width: 190px;
    height: 190px;
    background-image:url(%%braeburnaloo%%)
}

a[href|="/braeburn1"] {
    display: block;
    clear: none;
    float: left;
    width: 148px;
    height: 190px;
    background-image:url(%%braeburn1%%)
}
a[href|="/braewhat"] {
    display: block;
    clear: none;
    float: left;
    width: 115px;
    height: 170px;
    background-image:url(%%braewhat%%)
}



a[href|="/sombragrin"] {
    display: block;
    clear: none;
    float: left;
    width: 160px;
    height: 159px;
    background-image:url(%%sombragrin%%)
}

a[href|="/braesoarhug"] {
    display: block;
    clear: none;
    float: left;
    width: 180px;
    height: 159px;
    background-image:url(%%Braestylesheet%%)
}

a[href|="/gayburn"] {
    display: block;
    clear: none;
    float: left;
    width: 177px;
    height: 170px;
    background-position: -0px -529px; 
    background-image:url(%%Braestylesheet%%)
}

a[href|="/snailburn"] {
    display: block;
    clear: none;
    float: left;
    width: 195px;
    height: 144px;
    background-image:url(%%snailburn%%)
}

a[href|="/switchedroles"] {
    display: block;
    clear: none;
    float: left;
    width: 185px;
    height: 175px;
    background-image:url(%%switchedroles%%)
}

a[href|="/crystals"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 200px;
    background-image:url(%%crystals%%)
}

a[href|="/evilmilkshake"] {
    display: block;
    clear: none;
    float: left;
    width: 171px;
    height: 170px;
    background-image:url(%%evilmilkshake%%)
}

a[href|="/braetavia"] {
    display: block;
    clear: none;
    float: left;
    width: 182px;
    height: 150px;
    background-image:url(%%braetavia%%)
}
a[href|="/hithere"] {
    display: block;
    clear: none;
    float: left;
    width: 158px;
    height: 183px;
    background-image:url(%%hithere%%)
}

a[href|="/banexie"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 145px;
    background-position: -0px -842px; 
    background-image:url(%%Braestylesheet%%)
}

a[href|="/drinkxie"] {
    display: block;
    clear: none;
    float: left;
    width: 179px;
    height: 160px;
    background-image:url(%%drinkxie%%)
}

a[href|="/fetaltrixie"] {
    display: block;
    clear: none;
    float: left;
    width: 205px;
    height: 146px;
    background-position: -1px -159px; 
    background-image:url(%%Braestylesheet%%)
}

a[href|="/sittrixie"] {
    display: block;
    clear: none;
    float: left;
    width: 205px;
    height: 170px;
    background-image:url(%%sittrixie%%)
}

a[href|="/trixinsane"] {
    display: block;
    clear: none;
    float: left;
    width: 220px;
    height: 117px;
    background-image:url(%%trixinsane%%)
}


a[href|="/partygate"] {
    display: block;
    clear: none;
    float: left;
    width: 170px;
    height: 196px;
    background-image:url(%%partygate%%)
}

a[href|="/dabrushie"] {
    display: block;
    clear: none;
    float: left;
    width: 187px;
    height: 150px;
    background-image:url(%%dabrushie%%)
}

a[href|="/crystalcolgate"] {
    display: block;
    clear: none;
    float: left;
    width: 170px;
    height: 170px;
    background-image:url(%%crystalcolgate%%)
}


a[href|="/colno"] {
    display: block;
    clear: none;
    float: left;
    width: 179px;
    height: 163px;
    background-image:url(%%colno%%)
}

a[href|="/colgatongue"] {
    display: block;
    clear: none;
    float: left;
    width: 160px;
    height: 218px;
    background-image:url(%%colgatongue%%)
}

a[href|="/colgateworry"] {
    display: block;
    clear: none;
    float: left;
    width: 130px;
    height: 173px;
    background-position: -0px -986px; 
    background-image:url(%%Braestylesheet%%)
}

a[href|="/bpandchug"] {
    display: block;
    clear: none;
    float: left;
    width: 179px;
    height: 181px;
    background-image:url(%%bpandchug%%)
}

a[href|="/pearlywhites"] {
    display: block;
    clear: none;
    float: left;
    width: 189px;
    height: 171px;
    background-image:url(%%pearlywhites%%)
}

a[href|="/righthere"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 171px;
    background-image:url(%%righthere%%)
}

a[href|="/scrunchycolgate"] {
    display: block;
    clear: none;
    float: left;
    width: 180px;
    height: 153px;
    background-image:url(%%scrunchycolgate%%)
}

a[href|="/sockybrushie"] {
    display: block;
    clear: none;
    float: left;
    width: 175px;
    height: 159px;
    background-image:url(%%sockybrushie%%)
}

a[href|="/whynotcolgate"] {
    display: block;
    clear: none;
    float: left;
    width: 190px;
    height: 195px;
    background-image:url(%%whynotcolgate%%)
}

a[href|="/colgatederp"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 200px;
    background-image:url(%%colgatederp%%)
}

a[href|="/colgatechristmas"] {
    display: block;
    clear: none;
    float: left;
    width: 179px;
    height: 203px;
    background-image:url(%%colgatechristmas%%)
}

a[href|="/yallbrushing"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 200px;
    background-image:url(%%yallbrushing%%)
}

a[href|="/brushingtime"] {
    display: block;
    clear: none;
    float: left;
    width: 180px;
    height: 184px;
    background-image:url(%%brushingtime%%)
}

a[href|="/berrypunchcolgatenuzzle"] {
    display: block;
    clear: none;
    float: left;
    width: 189px;
    height: 120px;
    background-image:url(%%berrypunchcolgatenuzzle%%)
}

a[href|="/colgatepunchsnuggle"] {
    display: block;
    clear: none;
    float: left;
    width: 190px;
    height: 185px;
    background-image:url(%%colgatepunchsnuggle%%)
}

a[href|="/yummybrush"] {
    display: block;
    clear: none;
    float: left;
    width: 180px;
    height: 218px;
    background-image:url(%%yummybrush%%)
}

div.titlebox span.word {display:none; }
div.titlebox span.number:after {content:" Sexy Beasts";}



.link .expando .usertext .md {
border: 0px solid #000000 !important;
background-color: #F5E28C !important;
background-image: -webkit-linear-gradient(top, #F5E28C, #FFFEE6);
background-image: -moz-linear-gradient(top, #F5E28C, #FFFEE6);
background-image: -ms-linear-gradient(top, #F5E28C, #FFFEE6);
background-image: -o-linear-gradient(top, #F5E28C, #FFFEE6);
    }

/* dividing bar under logo */
#header {
-moz-box-shadow: 0px 0px 10px #888;
-webkit-box-shadow: 0px 0px 10px #888;
box-shadow: 0px 0px 10px #888;
margin:0px;
padding:0;
border-bottom:none;
width:100%;
z-index:100;
}

.sidecontentbox .helplink + .title h1 { font-size: 0 !important }

.sidecontentbox .helplink + .title h1:before { font-size: 10pt !important; content: "SUPREME LEADERS" }   



/*Simple Background*/
body {
background: url(%%braeburn-by-heart-of-stitches-d4au5xn%%)  
no-repeat fixed center center
} 

.side { padding-top: 250px; background: url(%%sidebrae3%%) no-repeat 0 10px; } 


.sidecontentbox .more a {
display: none;
}