a[href|="/braescrunch"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 144px;
    background-image:url(%%braescrunch%%)
}
a[href|="/braesoarnuzzle"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 122px;
    background-image:url(%%braesoarnuzzle%%)
}
a[href|="/sexyburn"] {
    display: block;
    clear: none;
    float: left;
    width: 115px;
    height: 150px;
    background-image:url(%%sexyburn%%)
}
a[href|="/flutterburn"] {
    display: block;
    clear: none;
    float: left;
    width: 170px;
    height: 99px;
    background-image:url(%%flutterburn%%)
}

a[href|="/braeburneyes"] {
    display: block;
    clear: none;
    float: left;
    width: 185px;
    height: 150px;
    background-image:url(%%braeburneyes%%)
}

a[href|="/hellosexy"] {
    display: block;
    clear: none;
    float: left;
    width: 276px;
    height: 244px;
    background-image:url(%%hellosexy%%)
}

a[href|="/rifleburn"] {
    display: block;
    clear: none;
    float: left;
    width: 190px;
    height: 150px;
    background-image:url(%%rifleburn%%)
}

a[href|="/scootaburn"] {
    display: block;
    clear: none;
    float: left;
    width: 124px;
    height: 169px;
    background-image:url(%%scootaburn%%)
}

/*Width 240, Height 166*/
a[href|="/littlestrongburn"] {
    display: block;
    clear: none;
    float: left;
    width: 240px;
    height: 166px;
    background-image:url(%%littlestrongburn%%)
}

a[href|="/snakeburn"] {
    display: block;
    clear: none;
    float: left;
    width: 160px;
    height: 149px;
    background-image:url(%%snakeburn%%)
}

a[href|="/teenagebraeburn"] {
    display: block;
    clear: none;
    float: left;
    width: 180px;
    height: 187px;
    background-image:url(%%teenagebraeburn%%)
}

a[href|="/braeburnaloo"] {
    display: block;
    clear: none;
    float: left;
    width: 190px;
    height: 190px;
    background-image:url(%%braeburnaloo%%)
}

a[href|="/braeburn1"] {
    display: block;
    clear: none;
    float: left;
    width: 148px;
    height: 190px;
    background-image:url(%%braeburn1%%)
}
a[href|="/braewhat"] {
    display: block;
    clear: none;
    float: left;
    width: 115px;
    height: 170px;
    background-image:url(%%braewhat%%)
}



a[href|="/sombragrin"] {
    display: block;
    clear: none;
    float: left;
    width: 160px;
    height: 159px;
    background-image:url(%%sombragrin%%)
}

a[href|="/braesoarhug"] {
    display: block;
    clear: none;
    float: left;
    width: 180px;
    height: 159px;
    background-image:url(%%braesoarhug%%)
}

a[href|="/gayburn"] {
    display: block;
    clear: none;
    float: left;
    width: 177px;
    height: 170px;
    background-image:url(%%gayburn%%)
}

a[href|="/snailburn"] {
    display: block;
    clear: none;
    float: left;
    width: 195px;
    height: 144px;
    background-image:url(%%snailburn%%)
}

a[href|="/switchedroles"] {
    display: block;
    clear: none;
    float: left;
    width: 185px;
    height: 175px;
    background-image:url(%%switchedroles%%)
}

a[href|="/crystals"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 200px;
    background-image:url(%%crystals%%)
}

a[href|="/evilmilkshake"] {
    display: block;
    clear: none;
    float: left;
    width: 171px;
    height: 170px;
    background-image:url(%%evilmilkshake%%)
}
div.titlebox span.word {display:none; }
div.titlebox span.number:after {content:" Sexy Beasts";}



.link .expando .usertext .md {
border: 0px solid #000000 !important;
background-color: #F5E28C !important;
background-image: -webkit-linear-gradient(top, #F5E28C, #FFFEE6);
background-image: -moz-linear-gradient(top, #F5E28C, #FFFEE6);
background-image: -ms-linear-gradient(top, #F5E28C, #FFFEE6);
background-image: -o-linear-gradient(top, #F5E28C, #FFFEE6);
    }

/* dividing bar under logo */
#header {
-moz-box-shadow: 0px 0px 10px #888;
-webkit-box-shadow: 0px 0px 10px #888;
box-shadow: 0px 0px 10px #888;
margin:0px;
padding:0;
border-bottom:none;
width:100%;
z-index:100;
}

.sidecontentbox .helplink + .title h1 { font-size: 0 !important }

.sidecontentbox .helplink + .title h1:before { font-size: 10pt !important; content: "SUPREME LEADERS" }   



/*Simple Background*/
body {
background: url(%%braeburn-by-heart-of-stitches-d4au5xn%%)  
no-repeat fixed center center
} 

.side { padding-top: 250px; background: url(%%sidebrae3%%) no-repeat 0 10px; } 


.sidecontentbox .more a {
display: none;
}