/* header stuff*/

#header { 
        background: #8f54b7 url(%%cutie-mark%%) bottom center no-repeat;
        height: 120px;
        position: relative;
    }
#header-bottom-left {
        position: absolute;
        bottom: 0;
    }

#header-bottom-right {
        color: #9c2d73;
        background: #fcf4cf;
        padding: 4px;
        -moz-border-radius-topleft: 7px;
        -webkit-border-top-left-radius: 7px
    }

#header-bottom-right a {
color: #9c2d73
}

#header-bottom-right b {
color: #9c2d73
}

#header .pagename, #header .pagename a { color: #fcf4cf; }

/* stealing css like it's going out of style*/

#header-img
{
 margin-bottom:-15px;
}


/*Change the word for 'readers' and the currently online*/
.subscribers .word, .users-online .word{
display:none;
}
.subscribers .number:after { 
content: " Cadance Fans"
}
.users-online .number:after { 
content: " Crystal Ponies" 
}

/*Change title of subreddit in sidebar*/
.side .redditname a:after {
    content: "Best Pony";
    font-size: 20px;
}
.side .redditname a {
    font-size: 0;
}

/*Change the color of a self post title*/  
a[href*="/r/Cadance"].title:link {  
color: #612587; 
}

/*Changing 'MODERATORS in sidebar*/  


.sidecontentbox .helplink + .title h1 { font-size: 0 !important }
.sidecontentbox .helplink + .title h1:before { font-size: 10pt !important; content: "Pwetty Pwincesses" }

/*background and text colors*/

body {
    color: #612587;
    background: #ffeff9 url(%%origfillycadance2%%) no-repeat fixed center center;
}

.res body {
    color: #612587;
    background-color: #ffeff9;
}

h1 {
    color: #612587;
    background-color: #ffeff9;
}

.side{background-color: #ffeff9}
.titlebox form.flairtoggle{background-color: #ffeff9}
.morelink .nub{background-color: #ffeff9}
.sidebox .spacer{background-color: #ffeff9}
.side{color: #612587}

/* fucking RES */

.comments-page .commentarea .comment {background-color:transparent!important;} .comments-page .commentarea .comment .comment {background-color:#fff9fd!important;} .comments-page .commentarea .comment .comment .comment {background-color:#ffeff9!important;} .comments-page .commentarea .comment .comment .comment .comment {background-color:#fff9fd!important;} .comments-page .commentarea .comment .comment .comment .comment .comment {background-color:#ffeff9!important;} .comments-page .commentarea .comment .comment .comment .comment .comment .comment {background-color:#fff9fd!important;} .comments-page .commentarea .comment .comment .comment .comment .comment .comment .comment {background-color:#ffeff9!important;} .comments-page .commentarea .comment .comment .comment .comment .comment .comment .comment .comment {background-color:#fff9fd!important;} .comments-page .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment {background-color:#ffeff9!important;} body:not(.res-nightmode) .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment{background-color:#fff9fd!important;}

.res .RES-keyNav-activeElement,
.res .commentarea .RES-keyNav-activeElement .md,
.res .commentarea .RES-keyNav-activeElement.entry .noncollapsed {
    background-color: #fff9fd !important;
}

/* top bar colors */

#sr-header-area{background-color: #ffeff9}
#sr-header-area a{color: #9c2d73}

/* what am I even doing anymore? */
.entry .buttons li a { color: #9c2d73; }

/* like seriously */


.nub { display: none; }

.submit .morelink { 
            background-image: none;
            background: #fecce7; 
            color: #ffeff9; 
}

.submit .morelink:hover { 
            background-image: none;
            background-color: #ffeff9;
            border-color: #fecce7;
            color: #fecce7;
 }

.morelink:hover a{
            border-color: #fecce7;
            background-color: #7532a4;
            color: #fecce7;
}

/* no one wants to create their own subreddit */

.sidebox.create .morelink {display: none;}
.sidebox.submit .spacer a, .sidebox.create .spacer a {display: none; }
.sidebox.create .morelink { display: none; }  .sidebox.submit .spacer { display: none; } .sidebox.create .spacer { display: none; } 

.flair
{
 padding:0;
 background:none;
 color:black;
 border:0;
 border-radius:0;
 background-image:url(%%flair-table%%);
 display:inline-block;
 width:16px;
 height:16px;
 text-indent:-9999px;
 line-height: 240%;
}

.sidecontentbox .flair {display:none}
.sidecontentbox .voteWeight,.sidecontentbox .userTagLink{display:none!important}

.flair-mrscake
{background-position:-300% -900%}

.flair-nightmaremoon
{background-position:-300% -800%}

.flair-applebloom
{background-position:-300% -700%}

.flair-braeburn
{background-position:-300% -600%}

.flair-carrottop
{background-position:-300% -500%}

.flair-pokey
{background-position:-300% -400%}

.flair-doctor
{background-position:-300% -300%}

.flair-vinyl
{background-position:-300% -200%}

.flair-cmc
{background-position:-300% -100%}

.flair-applejack
{background-position:-300% 0}

.flair-mrcake
{background-position:-200% -900%}

.flair-cheerilee
{background-position:-200% -800%}

.flair-scootaloo
{background-position:-200% -700%}

.flair-caramel
{background-position:-200% -600%}

.flair-seafoam
{background-position:-200% -500%}

.flair-berry
{background-position:-200% -400%}

.flair-octavia
{background-position:-200% -300%}

.flair-derpy
{background-position:-200% -200%}

.flair-trixie
{background-position:-200% -100%}

.flair-fluttershy
{background-position:-200% 0}

.flair-daring
{background-position:-100% -900%}

.flair-davenport
{background-position:-100% -800%}

.flair-shadowbolts
{background-position:-100% -700%}

.flair-redheart
{background-position:-100% -600%}

.flair-zecora
{background-position:-100% -500%}

.flair-colgate
{background-position:-100% -400%}

.flair-bonbon
{background-position:-100% -300%}

.flair-celestia
{background-position:-100% -200%}

.flair-rarity
{background-position:-100% -100%}

.flair-twilight
{background-position:-100% 0}

.flair-blueblood
{background-position:0 -900%}

.flair-sweetiebelle
{background-position:0 -800%}

.flair-wonderbolts
{background-position:0 -700%}

.flair-screwball
{background-position:0 -600%}

.flair-roseluck
{background-position:0 -500%}

.flair-mac
{background-position:0 -400%}

.flair-lyra
{background-position:0 -300%}

.flair-luna
{background-position:0 -200%}

.flair-pinkiepie
{background-position:0 -100%}

.flair-flam
{background-position:0 -1000%}

.flair-snips
{background-position:0 -1100%}

.flair-sparkler
{background-position:0 -1200%}

.flair-cadence
{background-position:0 -1300%}

.flair-buttchaser
{background-position:0 -1400%}

.flair-daisy
{background-position:0 -1500%}

.flair-drstable
{background-position:0 -1600%}

.flair-flim
{background-position:-100% -1000%}

.flair-snails
{background-position:-100% -1100%}

.flair-disco
{background-position:-100% -1200%}

.flair-shiningarmor
{background-position:-100% -1300%}

.flair-flitter
{background-position:-100% -1400%}

.flair-chrysalis
{background-position:-100% -1500%}

.flair-sewnsow
{background-position:-100% -1600%}

.flair-silverspoon
{background-position:-200% -1000%}

.flair-twist
{background-position:-200% -1100%}

.flair-fancypants
{background-position:-200% -1200%}

.flair-filthyrich
{background-position:-200% -1300%}

.flair-lily
{background-position:-200% -1400%}

.flair-lotus
{background-position:-200% -1500%}

.flair-spitfire
{background-position:-200% -1600%}

.flair-diamondtiara
{background-position:-300% -1000%}

.flair-gaben
{background-position:-300% -1100%}

.flair-fleur
{background-position:-300% -1200%}

.flair-hoitytoity
{background-position:-300% -1300%}

.flair-grannysmith
{background-position:-300% -1400%}

.flair-aloe
{background-position:-300% -1500%}

.flair-mayor
{background-position:-300% -1600%}

/*  Emote time */

a[href|="/cadpleased1"]
{

 background-image: url(%%cadanceverypleased%%);
    clear: none;
    display: block;
    float: left;
    height: 85px;
    width: 150px;
}

a[href|="/cadglee1"]
{

 background-image: url(%%cadsmeel%%);
    clear: none;
    display: block;
    float: left;
    height: 150px;
    width: 150px;
}

a[href|="/cadpleased"], a[href|="/cadooh"], a[href|="/cadpinkeye"], a[href|="/cadshocked"], a[href|="/cadglee"], a[href|="/cadsmile"], a[href|="/cadtellmemore"] { 


    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image:url(%%EmoteTableA%%)
    }


a[href|="/cadpleased"] {
    width: 150px;
    height: 85px;
    background-position: -14px -32px;
}

a[href|="/cadooh"] {
    width: 141px;
    height: 150px;
    background-position: -155px -0px;
}

a[href|="/cadpinkeye"] {
    width: 150px;
    height: 150px;
    background-position: -300px -0px;
}

a[href|="/cadshocked"] {
    width: 96px;
    height: 150px;
    background-position: -477px -0px;
}

a[href|="/cadglee"] {
    width: 150px;
    height: 150px;
    background-position: -600px -0px;
}

a[href|="/cadsmile"] {
    width: 140px;
    height: 150px;
    background-position: -755px -0px;
}

a[href|="/cadtellmemore"] {
    width: 98px;
    height: 150px;
    background-position: -927px -0px;
}

a[href|="/cadcheer"] {
    display: block;
    clear: none;
    float: left;
    width: 118px;
    height: 150px;
    background-image: url(%%Pi5dykx%%)

}
a.author[href$="DaylightDarkle"]{font-size:0px!important;}
a.author[href$="DaylightDarkle"]:after{content:"Princess Cadance";font-size:10px!important;}
.sidecontentbox .author[href$="DaylightDarkle"]:after{font-size:12px!important;}