/*** Thumbnails ***/

.thumbnail:empty { background-image: url(%%thumbnails%%) !important; background-size: auto; height: 50px }
.thumbnail.self { background-position: -0px -120px !important }
.thumbnail.nsfw { visibility: hidden !important }
.thumbnail.default { background-position: -0px -70px !important }

.linkflair-spoilers .thumbnail img { display: none }

.linkflair-spoilers .thumbnail {
  background-image: url(%%thumbnails%%) !important;
  height: 70px;
  background-position: 0 0 !important;
}

.linkflair-spoilers[data-fullname$="d"] .thumbnail, .linkflair-spoilers[data-fullname$="i"] .thumbnail,
.linkflair-spoilers[data-fullname$="s"] .thumbnail, .linkflair-spoilers[data-fullname$="c"] .thumbnail,
.linkflair-spoilers[data-fullname$="e"] .thumbnail, .linkflair-spoilers[data-fullname$="n"] .thumbnail,
.linkflair-spoilers[data-fullname$="t"] .thumbnail, .linkflair-spoilers[data-fullname$="a"] .thumbnail { background-position: -0px -170px !important }

.linkflair-spoilers .thumbnail.self { height: 64px !important; background-position: 0 -120px !important }

/*** Rating Tags ***/

.nsfw-stamp {
  color: #5f99cf;
  padding: 0px 3px !important;
}

.nsfw-stamp acronym{
  display: inline-block;
  font-size: 0px !important;
}

.nsfw-stamp acronym:after{
  color: #336699 !important;
  content: "PG" !important;
  display: block;
  font-size: x-small !important;
  text-decoration: none;
  margin-top: -14px;
}

.marknsfw-button a[href="#"], .unmarknsfw-button a[href="#"] {
  font-size: 0px !important;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  letter-spacing: -20px;
  content: "";
}

.unmarknsfw-button a[href="#"]:before, .marknsfw-button a[href="#"]:before {
  font-size: 9px !important;
  display: block;
  letter-spacing: normal;
  content:"tag PG";
}

.unmarknsfw-button a[href="#"]:before { content:"un-tag PG" }

/*** Theme ***/

.bottom .author { font-size: 0; }
.bottom .author:after {
  font-size: x-small !important;
  content: "therosebudpony";
  color: #369;
}

#header-bottom-left { background-color: #fff798; }

body { background: url(%%colt%%) no-repeat fixed center center }

.side { width: 304px !important; }

.side h6 del { color: inherit }
.side sup:nth-of-type(1) { padding-left: 40px }
.side .usertext-body ul a { font-weight: bold }

.subscribers .word, .users-online .word { display: none }
.subscribers .number:after { content: " party planners" }
.users-online .number:after { content: " having a party" }

.footer-parent:after { content: url(%%cutiemark%%) }

.sidecontentbox .helplink + .title h1 { font-size: 0 !important }
.sidecontentbox .helplink + .title h1:before { font-size: 10pt !important; content: "MODERATORS" }
.sidecontentbox .helplink+.title+.content li:nth-of-type(4n) { display: none }

.linkflairlabel { max-width: none }

/*** Style Buttons ***/

.titlebox .fancy-toggle-button a, span.RESshortcutside,
span.RESshortcutside:hover, span.RESDashboardToggle {
 color:#663300;
 background:#FFFF66;
 border:1px solid #FFFFFF;
}

.fancy-toggle-button a.remove, .subButtons span.remove { background: #FF9933; }

.morelink {
  font-family: Verdana, Arial, sans-serif; 
  font-size: 16px; 
  font-weight: normal;
  letter-spacing: 0;
  background: #FFCC99;
  border: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  height: 30px;
  width: 145px;
  line-height: 30px;
  overflow: hidden;
  color: #000000;
}

.morelink:hover {
  background: #FFFFFF;
  background-color: #FFFFCC;
  border-color: #FFFFFF;
}

.morelink .nub { display: none; }

.sidebox.submit-link .morelink::before {
  display: block;
  clear: none;
  content: "Submit a Link";
  font-size: 100%;
}

.sidebox.submit-text .morelink::before {
  display: block;
  clear: none;
  content: "Submit a Self Post";
  font-size: 100%;
}

.sidebox.submit .morelink a {
  position: absolute;
  top: 0;
  padding-left: 1000px;
  font-size: 0px;
  text-align: right;
  color: #FFFFFF;
}

.sidebox.submit.submit-link { width: 150px; }

.sidebox.submit.submit-text {
  margin-top: -42px;
  margin-left: 153px;
}

.sidebox.create { display: none; }

.sidebox.submit.disabled { display: none; }

.res-nightmode .sidebox.submit.submit-text {
  background: none !important;
  margin-top: -45px;
  margin-left: 153px;
}

.res-nightmode .sidebox {
  padding-left: 0px !important;
  border: 2px solid #151515 !important;
}

.res-nightmode .morelink {
  height: 29px !important;
  background: #606060 !important;
}

/*** Comments ***/

a[href|="/sp"] {
  display: inline-block;
  padding-right: 100%;
  width: 0px;
  height: 0px;
}

a[href^="/"][href*="-in-"], a[href^="/"][href$="-in"], a[href^="/"][href*="-inp-"], a[href^="/"][href$="-inp"] {
  float: none !important;
  display: inline-block !important;
}

a[href|="/spoiler"] {
  background: #000 !important;
  color: #000 !important;
}

a[href|="/spoiler"]:hover {
  color: #fff !important;
}

a[href="/s"] {
  color: #222222; 
  background: #CCCCCC;
  cursor: default;
} 

a[href="/s"]:hover {
  color: #8F8F8F 
} 

a[href="/s"]::after { 
  content: attr(title);
  background: #CCCCCC;
  color: #CCCCCC;
  padding: 0px 10px 0px 10px;
}

a[href="/s"]:hover::after {
  color: black;
}

/*** Sidebar Emote Tables ***/

.side .md { padding-bottom: 12px; }

.side .md h3 {
  border: 1px solid #ccc;
  border-bottom: none;
  color: #000;
  background-color: #fff798;
  padding: 4px;
  margin: 0;
  display: inline-block;
  cursor: pointer;
}

.side .md h2 {
    width: 275px;
    color: black;
    font-weight: normal;
    font-size: 12px;
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom: 0;
    padding: 5px 4px;
    margin: 0;
}

.side .md h2:first-of-type {
    padding-top: 19px;
    border-top: 1px solid #ccc;
}

.side .md h2:first-of-type:before {
    text-align: center;
    content:"Hover a tab to expand our emotes list!";
    display: block;
    padding-bottom: 19px;
    font-weight: bold;
}

.side .md h2:last-of-type {
    width: 215px;
    padding-bottom: 19px;
    padding-right: 64px;
    border-bottom: 1px solid #ccc;
}

.side .md h2:last-of-type+p a {
    float: right !important;
    position: relative !important;
    top: -74px !important;
    left: -19px !important;
    height: 70px !important;
    width: 86px !important;
    margin-bottom: -70px !important;
}

.side .md table {
  border: 1px solid #ccc !important;
  margin: 0;
  padding-bottom: 19px;
  display: none;
}

.side .md th { display: none; }

.side .md tr, .side .md td {
  border: 1px solid #ccc !important;
  padding: 0px !important;
}

.side .md h3:nth-of-type(1):hover ~ table:nth-of-type(1),
.side .md table:nth-of-type(1):hover { display :table; }

.side .md h3:nth-of-type(2):hover ~ table:nth-of-type(2),
.side .md table:nth-of-type(2):hover { display :table; }

.side .md h3:nth-of-type(3):hover ~ table:nth-of-type(3),
.side .md table:nth-of-type(3):hover { display :table; }

.side .md h3:nth-of-type(4):hover ~ table:nth-of-type(4),
.side .md table:nth-of-type(4):hover { display :table; }

.side .md h3:hover ~ h2, .side .md table:hover ~ h2 { display: none; }
.side .md h3:hover ~ h2:last-of-type+p a, .side .md table:hover ~ h2:last-of-type+p a { display: none; }

.side .md h2:last-of-type+p a+.SuperRedditAltTextDisplay_Text{ display: none; }

/*** Arrows ***/

.link .arrow.down { visibility: hidden; display: none; }

.arrow.upmod {
  background-image: url(%%csarrows%%);
  background-position: -0px -0px;
  height: 15px;
  width: 15px;
}

.arrow.downmod {
  background-image: url(%%csarrows%%);
  background-position: -0px -15px;
  height: 15px;
  width: 15px;
}

.arrow.up {
  background-image: url(%%csarrows%%);
  background-position: -0px -30px;
  height: 15px;
  width: 15px;
}

.arrow.down {
  background-image: url(%%csarrows%%);
  background-position: -0px -45px;
  height: 15px;
  width: 15px;
}

/*** Emotes ***/

.md { overflow: auto }
.usertext-edit > .md { overflow: inherit }
.linkflairlabel { max-width: none }
#sr-form textarea[name="description"],
.stylesheet-customize-container textarea { height: 600px; }

a[href|="/cheese"], a[href|="/boneless"], a[href|="/cheesesquint"], a[href|="/cheesestare"], a[href|="/imfine"], a[href|="/cheesechill"], a[href|="/cheesemad"], a[href|="/sarcasticcheese"],
a[href|="/pentiums"], a[href|="/cheeseponders"] {
  display: block;
  clear: none;
  float: left;
  width: 100px;
  height: 100px;
  background-image: url(%%csemotes100a%%) !important;
}

a[href|="/cheese"] { background-position: -0px -0px; }
a[href|="/boneless"] { background-position: -100px -0px; }
a[href|="/cheesesquint"] { background-position: -200px -0px; }
a[href|="/cheesestare"] { background-position: -0px -100px; }
a[href|="/imfine"] { background-position: -100px -100px; }
a[href|="/cheesechill"] { background-position: -200px -100px; }
a[href|="/cheesemad"] { background-position: -0px -200px; }
a[href|="/sarcasticcheese"] { background-position: -100px -200px; }
a[href|="/pentiums"] { background-position: -200px -200px; }
a[href|="/cheeseponders"] { background-position: -0px -300px; }

a[href|="/cheeseshock"], a[href|="/cheesethis"], a[href|="/cheesehappy"], a[href|="/cheeseandpinkie"], a[href|="/accordian"], a[href|="/partyhard"], a[href|="/cheesesmile"], a[href|="/cheesehug"], a[href|="/ppcheesehug"], a[href|="/argumentinvalid"], a[href|="/cheeseandtubamouse"], a[href|="/cheesewtf"] {
  display: block;
  clear: none;
  float: left;
  width: 150px;
  height: 150px;
  background-image: url(%%csemotes150a%%) !important;
}

a[href|="/cheeseshock"] { background-position:-0px -0px; }
a[href|="/cheesethis"] { background-position:-150px -0px; }
a[href|="/cheesehappy"] { background-position:-300px -0px; }
a[href|="/cheeseandpinkie"] { background-position:-0px -150px; }
a[href|="/accordian"] { background-position:-150px -150px; }
a[href|="/partyhard"] { background-position:-300px -150px; }
a[href|="/cheesesmile"] { background-position: -0px -300px; width: 103px; }
a[href|="/cheesehug"] { background-position: -150px -300px; }
a[href|="/ppcheesehug"] { background-position: -300px -300px; }
a[href|="/argumentinvalid"], a[href|="/cheeseandtubamouse"] { background-position: -0px -450px; }
a[href|="/cheesewtf"] { background-position: -150px -450px; }

a[href|="/rubberchickendance"] { 
  background-position: 0px 0px; 
  display: block; 
  clear: none; 
  float: left; 
  width: 200px; 
  height: 70px; 
  background-image: url(%%rubberchickendance%%) !important;
}

a[href|="/cheeseplay"] { 
  background-position: 0px 0px; 
  display: block; 
  clear: none; 
  float: left; 
  width: 84px; 
  height: 122px; 
  background-image: url(%%cheeseplay%%) !important;
}

a[href|="/cheeseidle"] { 
  background-position: 0px 0px; 
  display: block; 
  clear: none; 
  float: left; 
  width: 106px; 
  height: 104px; 
  background-image: url(%%cheeseidle%%) !important;
}

a[href|="/cheesetrot"] { 
  background-position: 0px 0px; 
  display: block; 
  clear: none; 
  float: left; 
  width: 110px; 
  height: 108px; 
  background-image: url(%%cheesetrot%%) !important;
}

/*** Flairs ***/

.flair {
  padding: 0;
  background: none;
  color: black;
  border: 0;
  border-radius: 0;
  background-image: url(%%flair-table%%);
  display: inline-block;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  line-height: 240%;
}

.flair-rainbowdash { background-position: 0 0; }
.flair-twilight { background-position: -100% 0; }
.flair-fluttershy { background-position: -200% 0; }
.flair-applejack { background-position: -300% 0; }
.flair-pinkiepie { background-position: 0 -100%; }
.flair-rarity { background-position: -100% -100%; }
.flair-trixie { background-position: -200% -100%; }
.flair-luna { background-position: 0 -200%; }
.flair-celestia { background-position: -100% -200%; }
.flair-derpy { background-position: -200% -200%; }
.flair-vinyl { background-position: -300% -200%; }
.flair-lyra { background-position: 0 -300%; }
.flair-bonbon { background-position: -100% -300%; }
.flair-octavia { background-position: -200% -300%; }
.flair-doctor { background-position: -300% -300%; }
.flair-mac { background-position: 0 -400%; }
.flair-colgate { background-position: -100% -400%; }
.flair-berry { background-position: -200% -400%; }
.flair-pokey { background-position: -300% -400%; }
.flair-roseluck { background-position: 0 -500%; }
.flair-zecora { background-position: -100% -500%; }
.flair-seafoam { background-position: -200% -500%; }
.flair-carrottop { background-position: -300% -500%; }
.flair-screwball { background-position: 0 -600%; }
.flair-redheart { background-position: -100% -600%; }
.flair-caramel { background-position: -200% -600%; }
.flair-braeburn { background-position: -300% -600%; }
.flair-wonderbolts { background-position: 0 -700%; }
.flair-shadowbolts { background-position: -100% -700%; }
.flair-scootaloo { background-position: -200% -700%; }
.flair-applebloom { background-position: -300% -700%; }
.flair-sweetiebelle { background-position: 0 -800%; }
.flair-davenport { background-position: -100% -800%; }
.flair-cheerilee { background-position: -200% -800%; }
.flair-nightmaremoon { background-position: -300% -800%; }
.flair-blueblood { background-position: 0 -900%; }
.flair-daring { background-position: -100% -900%; }
.flair-mrcake { background-position: -200% -900%; }
.flair-mrscake { background-position: -300% -900%; }
.flair-flam { background-position: 0 -1000%; }
.flair-flim { background-position: -100% -1000%; }
.flair-silverspoon { background-position: -200% -1000%; }
.flair-diamondtiara { background-position: -300% -1000%; }
.flair-snips { background-position: 0 -1100%; }
.flair-snails { background-position: -100% -1100%; }
.flair-twist { background-position: -200% -1100%; }
.flair-gaben { background-position: -300% -1100%; }
.flair-sparkler { background-position: 0 -1200%; }
.flair-disco { background-position: -100% -1200%; }
.flair-fancypants { background-position: -200% -1200%; }
.flair-fleur { background-position: -300% -1200%; }
.flair-cadence { background-position: 0 -1300%; }
.flair-shiningarmor { background-position: -100% -1300%; }
.flair-filthyrich { background-position: -200% -1300%; }
.flair-hoitytoity { background-position: -300% -1300%; }
.flair-cloudchaser { background-position: 0 -1400%; }
.flair-flitter { background-position: -100% -1400%; }
.flair-lily { background-position: -200% -1400%; }
.flair-grannysmith { background-position: -300% -1400%; }
.flair-daisy { background-position: 0 -1500%; }
.flair-chrysalis { background-position: -100% -1500%; }
.flair-lotus { background-position: -200% -1500%; }
.flair-aloe { background-position: -300% -1500%; }
.flair-drstable { background-position: 0 -1600%; }
.flair-sewnsow { background-position: -100% -1600%; }
.flair-spitfire { background-position: -200% -1600%; }
.flair-mayor { background-position: -300% -1600%; }
.flair-soarin { background-position: -100% -1700%; }
.flair-maud { background-position: -200% -1700%; }
.flair-spike { background-position: -300% -1700%; }
.flair-sunsetshimmer { background-position: 0 -1800%; }
.flair-cheesesandwich { background-position: -100% -1800%; }
.flair-flashsentry { background-position: -200% -1800%; }
.flair-coco { background-position: -300% -1800%; }
.flair-thunderlane { background-position: 0 -1900%; }
.flair-applefritter { background-position: -100% -1900%; }
.flair-flutterbat { background-position: -200% -1900%; }
.flair-blossomforth { background-position: -300% -1900%; }
.flair-starlightglimmer { background-position: 0 -2000%; }
.flair-equality { background-position: -100% -2000%; }
.flair-doublediamond { background-position: -200% -2000%; }
.flair-sugarbelle { background-position: -300% -2000%; }
.flair-nightglider { background-position: 0 -2100%; }
.flair-partyfavor { background-position: -100% -2100%; }
.flair-discord { background-position: -200% -2100%; }
.flair-treehugger { background-position: -300% -2100%; }
.flair-troubleshoes { background-position: 0 -2200%; }
.flair-screwloose { background-position: -100% -2200%; }
.flair-bulkbiceps { background-position: -200% -2200%; }
.flair-photofinish { background-position: 0 -2300%; }
.flair-lightningdust { background-position: -100% -2300%; }
.flair-babsseed { background-position: -200% -2300%; }
.flair-cherryjubilee { background-position: -300% -2300%; }
.flair-adagiodazzle { background-position: 0 -2400%; }
.flair-ariablaze { background-position: -100% -2400%; }
.flair-sonatadusk { background-position: -200% -2400%; }
.flair-moondancer { background-position: -300% -2400%; }
.flair-igneousrock { background-position: 0 -2500%; }
.flair-cloudyquartz { background-position: -100% -2500%; }
.flair-limestonepie { background-position: -200% -2500%; }
.flair-marblepie { background-position: -300% -2500%; }
.flair-coloratura { background-position: 0 -2600%; }
.flair-indigozap { background-position: -100% -2600%; }
.flair-lemonzest { background-position: -200% -2600%; }
.flair-soursweet { background-position: -300% -2600%; }
.flair-sugarcoat { background-position: 0 -2700%; }
.flair-sunnyflare { background-position: -100% -2700%; }
.flair-sunburst { background-position: -200% -2700%; }
.flair-gilda { background-position: -300% -2700%; }
.flair-zephyrbreeze { background-position: 0 -2800%; }
.flair-quibblepants { background-position: -100% -2800%; }
.flair-surprise { background-position: 0 -2900%; }
.flair-snowdrop { background-position: -100% -2900%; }
.flair-peachbottom { background-position: -200% -2900%; }
.flair-harshwhinny { background-position: -300% -2900%; }
.flair-raindrops { background-position: 0 -3000%; }
.flair-fleetfoot { background-position: -100% -3000%; }
.flair-beautybrass { background-position: -200% -3000%; }

START-PONYSCRIPT-IGNORE { color: red; }

a[href|="/mirrorportal"] {
  display: block;
  clear: none;
  float:left;
  width: 59px;
  height: 112px;
  cursor: default;
  background-image: url(%%portal%%) !important;
}

a[href^="/"][href*="-r-"], a[href^="/"][href$="-r"] { 
  -webkit-transform:scaleX(-1);
  -moz-transform:scaleX(-1);
  -ms-transform:scaleX(-1);
  -o-transform:scaleX(-1);
  transform:scaleX(-1);
}

a[href^="/domain"] {
  -webkit-transform: unset !important;
  -moz-transform: unset !important;
  -ms-transform: unset !important;
  -o-transform: unset !important;
  transform: unset !important;
}

END-PONYSCRIPT-IGNORE { color: red; }