.midcol
{ 
width:0px;
height:0px;
}

a[href|="/ccpose"] {
float:left;
width:140px;
height:168px;
background-repeat:no-repeat;
background-image:url(%%ccpose%%);
}

a[href|="/ccgiggle"] {
float:left;
width:150px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%ccgiggle%%);
}

a[href|="/ccpose2"] {
float:left;
width:150px;
height:165px;
background-repeat:no-repeat;
background-image:url(%%ccpose2%%);
}


a[href|="/ccpaper"] {
float:left;
width:150px;
height:163px;
background-repeat:no-repeat;
background-image:url(%%ccpaper%%);
}

a[href|="/ccdeal"] {
float:left;
width:139px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%ccdeal%%);
}

a[href|="/ccstare"] {
float:left;
width:150px;
height:138px;
background-repeat:no-repeat;
background-image:url(%%ccstare%%);
}

a[href|="/cchmm"] {
float:left;
width:134px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%cchmm%%);
}


a[href|="/ccunamused"] {
float:left;
width:103px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%ccunamused%%);
}


a[href|="/cceww"] {
float:left;
width:150px;
height:145px;
background-repeat:no-repeat;
background-image:url(%%cceww%%);
}

a[href|="/ccgoon"] {
float:left;
width:150px;
height:105px;
background-repeat:no-repeat;
background-image:url(%%ccgoon%%);
}

a[href|="/cccry"] {
float:left;
width:150px;
height:139px;
background-repeat:no-repeat;
background-image:url(%%cccry%%);
}

a[href|="/ccwat"] {
float:left;
width:92px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%ccwat%%);
}

a[href|="/ccblush"] {
float:left;
width:150px;
height:147px;
background-repeat:no-repeat;
background-image:url(%%ccblush%%);
}

a[href|="/ccshrug"] {
float:left;
width:150px;
height:141px;
background-repeat:no-repeat;
background-image:url(%%ccshrug%%);
}

a[href|="/ccsleep"] {
float:left;
width:190px;
height:127px;
background-repeat:no-repeat;
background-image:url(%%ccsleep%%);
}

a[href|="/ccshock"] {
float:left;
width:120px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%ccshock%%);
}

a[href|="/highhoof"] {
float:left;
width:250px;
height:167px;
background-repeat:no-repeat;
background-image:url(%%highhoof%%);
}

a[href|="/ccsalute"] {
float:left;
width:150px;
height:130px;
background-repeat:no-repeat;
background-image:url(%%ccsalute%%);
}

a[href|="/ccstretch"] {
float:left;
width:150px;
height:139px;
background-repeat:no-repeat;
background-image:url(%%ccstretch%%);
}

a[href|="/ccyeah"] {
float:left;
width:180px;
height:170px;
background-repeat:no-repeat;
background-image:url(%%ccyeah%%);
}

a[href|="/cclove"] {
float:left;
width:150px;
height:208px;
background-repeat:no-repeat;
background-image:url(%%cclove%%);
}

a[href|="/ccarmor"] {
float:left;
width:150px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%ccarmor%%);
}


a[href|="/highhoof2"] {
float:left;
width:329px;
height:142px;
background-repeat:no-repeat;
background-image:url(%%highhoof2%%);
}

a[href|="/ccfun"] {
float:left;
width:150px;
height:125px;
background-repeat:no-repeat;
background-image:url(%%ccfun%%);
}

a[href|="/ccsegue"] {
float:left;
width:92px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%ccsegue%%);
}

a[href|="/ccxrdsnuggle"] {
float:left;
width:150px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%ccxrdsnuggle%%);
}

a[href|="/ccsocks"] {
float:left;
width:120px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%ccsocks%%);
}

a[href|="/ccsoawesome"] {
float:left;
width:126px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%ccsoawesome%%);
}

a[href|="/cchappy"] {
float:left;
width:130px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%cchappy%%);
}

a[href|="/ccwave"] {
float:left;
width:122px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%ccwave%%);
}

a[href|="/flitterhappy"] {
float:left;
width:115px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%flitterhappy%%);
}

a[href|="/flittercute"] {
float:left;
width:102px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%flittercute%%);
}

a[href|="/flitterponytail"] {
float:left;
width:147px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%Flitterponytail%%);
}

a[href|="/flitteryeah"] {
float:left;
width:129px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%flitter-yeah%%);
}

a[href|="/flitterbug"] {
float:left;
width:119px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%flitterbug%%);
}

a[href|="/clarity"] {
float:left;
width:200px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%clarity%%);
}