body{background:url(%%background%%) no-repeat fixed left center}
.content .md h1{color:#789922;border-bottom:none;padding-bottom:0px}
.content .md h1:before{content:">"}
/*New post spam filtered warning*/
#title-field.roundfield:before {}


/*stylesheet1 "sheet1"*/

a[href|="/cccry"] {
float:left;
width:150px;
height:139px;
background-repeat:no-repeat;
background-image:url(%%sheet1%%);
background-position: 0px 0px;
}

a[href|="/ccfun"] {
float:left;
width:150px;
height:125px;
background-repeat:no-repeat;
background-image:url(%%sheet1%%);
background-position: 0px -200px;
}

a[href|="/ccshy"] {
float:left;
width:148px;
height:160px;
background-repeat:no-repeat;
background-image:url(%%sheet1%%);
background-position: -200px 0px;
}

a[href|="/ccpose"] {
float:left;
width:140px;
height:168px;
background-repeat:no-repeat;
background-image:url(%%sheet1%%);
background-position: -200px -200px;
}

a[href|="/sweaterchaser"] {
float:left;
width:115px;
height:204px;
background-repeat:no-repeat;
background-image:url(%%sheet1%%);
background-position: -3px -394px;
}

a[href|="/cookiechaser"] {
float:left;
width:170px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%sheet1%%);
background-position: -200px -416px;
}

/*stylesheet1 "sheet1" end*/


/*stylesheet2 "sheet2"*/

a[href|="/clarity"] {
float:left;
width:200px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%sheet2%%);
background-position: 0px 0px;
}

a[href|="/ccsoawesome"] {
float:left;
width:126px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%sheet2%%);
background-position: -200px 0px;
}

a[href|="/ccgiggle"] {
float:left;
width:150px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%sheet2%%);
background-position: 0px -200px;
}

a[href|="/cceww"] {
float:left;
width:150px;
height:145px;
background-repeat:no-repeat;
background-image:url(%%sheet2%%);
background-position: -200px -200px;
}

a[href|="/fillycc2"] {
float:left;
width:72px;
height:90px;
background-repeat:no-repeat;
background-image:url(%%sheet2%%);
background-position: -38px -390px;
}

a[href|="/ohyouchaser"] {
float:left;
width:146px;
height:143px;
background-repeat:no-repeat;
background-image:url(%%sheet2%%);
background-position: -198px -378px;
}


/*stylesheet2 "sheet2" end*/


/*stylesheet3 "sheet3"*/

a[href|="/flitteryeah"] {
float:left;
width:129px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%sheet3%%);
background-position: 0px 0px;
}

a[href|="/ccpose2"] {
float:left;
width:150px;
height:165px;
background-repeat:no-repeat;
background-image:url(%%sheet3%%);
background-position: -200px 0px;
}

a[href|="/ccunamused"] {
float:left;
width:103px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%sheet3%%);
background-position: 0px -200px;
}

a[href|="/ccstare"] {
float:left;
width:150px;
height:138px;
background-repeat:no-repeat;
background-image:url(%%sheet3%%);
background-position: -200px -200px;
}

a[href|="/plotchaser"] {
float:left;
width:202px;
height:141px;
background-repeat:no-repeat;
background-image:url(%%sheet3%%);
background-position: -190px -400px;
}

/*stylesheet3 "sheet3" end*/



/*stylesheet4 "sheet4"*/

a[href|="/ccpaper"] {
float:left;
width:150px;
height:163px;
background-repeat:no-repeat;
background-image:url(%%sheet4%%);
background-position: 0px 0px;
}

a[href|="/flitterponytail"] {
float:left;
width:147px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%sheet4%%);
background-position: -200px 0px;
}

a[href|="/ccshrug"] {
float:left;
width:150px;
height:141px;
background-repeat:no-repeat;
background-image:url(%%sheet4%%);
background-position: 0px -200px;
}

a[href|="/ccwave"] {
float:left;
width:122px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%sheet4%%);
background-position: -200px -200px;
}

a[href|="/ccrdnuzzle"] {
float:left;
width:250px;
height:212px;
background-repeat:no-repeat;
background-image:url(%%sheet4%%);
background-position: -72px -375px;
}

/*stylesheet4 "sheet4" end*/


/*stylesheet5 "sheet5"*/

a[href|="/ccdeal"] {
float:left;
width:139px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%sheet5%%);
background-position: 0px 0px;
}


a[href|="/flittercute"] {
float:left;
width:102px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%sheet5%%);
background-position: -200px 0px;
}

a[href|="/ccunimpressed"] {
float:left;
width:128px;
height:160px;
background-repeat:no-repeat;
background-image:url(%%sheet5%%);
background-position: 0px -200px;
}

a[href|="/ccshock"] {
float:left;
width:120px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%sheet5%%);
background-position: -200px -200px;
}

a[href|="/shadowchaser"] {
float:left;
width:160px;
height:160px;
background-repeat:no-repeat;
background-image:url(%%sheet5%%);
background-position: -15px -393px;
}

a[href|="/shadowchaser2"] {
float:left;
width:200px;
height:147px;
background-repeat:no-repeat;
background-image:url(%%sheet5%%);
background-position: -190px -401px;
}


/*stylesheet5 "sheet5" end*/


/*stylesheet6 "sheet6"*/

a[href|="/ccmad"] {
float:left;
width:158px;
height:140px;
background-repeat:no-repeat;
background-image:url(%%sheet6%%);
background-position: 0px 0px;
}

a[href|="/cchmm"] {
float:left;
width:134px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%sheet6%%);
background-position: -200px 0px;
}

a[href|="/flitterhappy"] {
float:left;
width:115px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%sheet6%%);
background-position: 0px -200px;
}

a[href|="/ccsegue"] {
float:left;
width:92px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%sheet6%%);
background-position: -200px -200px;
}

a[href|="/sweaterchaser2"] {
float:left;
width:113px;
height:180px;
background-repeat:no-repeat;
background-image:url(%%sheet6%%);
background-position: -10px -394px;
}

/*stylesheet6 "sheet6" end*/


/*stylesheet7 "sheet7"*/


a[href|="/ccpoint"] {
float:left;
width:149px;
height:160px;
background-repeat:no-repeat;
background-image:url(%%sheet7%%);
background-position: 0px 0px;
}

a[href|="/ccsalute"] {
float:left;
width:150px;
height:130px;
background-repeat:no-repeat;
background-image:url(%%sheet7%%);
background-position: -200px 0px;
}

a[href|="/flitterbug"] {
float:left;
width:119px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%sheet7%%);
background-position: 0px -200px;
}

a[href|="/ccgoon"] {
float:left;
width:150px;
height:105px;
background-repeat:no-repeat;
background-image:url(%%sheet7%%);
background-position: -200px -200px;
}

/*stylesheet7 "sheet7" end*/


/*stylesheet8 "sheet8"*/

a[href|="/ccarmor"] {
float:left;
width:150px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%sheet8%%);
background-position: 0px 0px;
}

a[href|="/ccwat"] {
float:left;
width:92px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%sheet8%%);
background-position: -200px 0px;
}

a[href|="/cchello"] {
float:left;
width:93px;
height:180px;
background-repeat:no-repeat;
background-image:url(%%sheet8%%);
background-position: 0px -200px;
}

a[href|="/cchuzzah"] {
float:left;
width:151px;
height:160px;
background-repeat:no-repeat;
background-image:url(%%sheet8%%);
background-position: -200px -200px;
}

/*stylesheet8 "sheet8" end*/


/*stylesheet9 "sheet9"*/

a[href|="/cchappy"] {
float:left;
width:130px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%sheet9%%);
background-position: 0px 0px;
}

a[href|="/ccsocks2"] {
float:left;
width:141px;
height:160px;
background-repeat:no-repeat;
background-image:url(%%sheet9%%);
background-position: -200px 0px;
}

a[href|="/ccsleep"] {
float:left;
width:190px;
height:127px;
background-repeat:no-repeat;
background-image:url(%%sheet9%%);
background-position: 0px -200px;
}

a[href|="/ccblush"] {
float:left;
width:150px;
height:147px;
background-repeat:no-repeat;
background-image:url(%%sheet9%%);
background-position: -200px -200px;
}

/*stylesheet9 "sheet9" end*/


/*stylesheet10 "sheet10"*/

a[href|="/ccstretch"] {
float:left;
width:150px;
height:139px;
background-repeat:no-repeat;
background-image:url(%%sheet10%%);
background-position: 0px 0px;
}

a[href|="/ccyeah"] {
float:left;
width:180px;
height:170px;
background-repeat:no-repeat;
background-image:url(%%sheet10%%);
background-position: -200px 0px;
}

a[href|="/ccsocks"] {
float:left;
width:120px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%sheet10%%);
background-position: 0px -200px;
}

a[href|="/ccsmile"] {
float:left;
width:137px;
height:160px;
background-repeat:no-repeat;
background-image:url(%%sheet10%%);
background-position: -200px -200px;
}

a[href|="/nerdchaser"] {
float:left;
width:131px;
height:180px;
background-repeat:no-repeat;
background-image:url(%%sheet10%%);
background-position: 0px -395px;
}

a[href|="/ccnotacop"] {
float:left;
width:152px;
height:170px;
background-repeat:no-repeat;
background-image:url(%%sheet10%%);
background-position: -210px -395px;
}

/*stylesheet10 "sheet10" end*/


/*stylesheet11 "sheet11"*/

a[href|="/rarichaser"] {
float:left;
width:150px;
height:180px;
background-repeat:no-repeat;
background-image:url(%%sheet11%%);
background-position: 0px 0px;
}

a[href|="/cclook"] {
display: block;
clear: none;
float:left;
width:160px;
height:156px;
background-repeat:no-repeat;
background-image:url(%%sheet11%%);
background-position: -200px -200px;
}

a[href|="/cchi"] {
display: block;
clear: none;
float:left;
width:100px;
height:195px;
background-repeat:no-repeat;
background-image:url(%%sheet11%%);
background-position: 0px -200px;
}

a[href|="/flitterlaugh"] {
display: block;
clear: none;
float:left;
width:135px;
height:160px;
background-repeat:no-repeat;
background-image:url(%%sheet11%%);
background-position: -200px 0px;
}

/*stylesheet11 "sheet11" end*/



/*stylesheet12 "sheet12"*/

a[href|="/cclove"] {
float:left;
width:150px;
height:208px;
background-repeat:no-repeat;
background-image:url(%%sheet12%%);
background-position: 0px 0px;
}

a[href|="/ccfly"] {
float:left;
width:202px;
height:80px;
background-repeat:no-repeat;
background-image:url(%%sheet12%%);
background-position: 0px -250px;
}

a[href|="/batchaser"] {
float:left;
width:150px;
height:136px;
background-repeat:no-repeat;
background-image:url(%%sheet12%%);
background-position: -3px -365px;
}

/*stylesheet12 "sheet12" end*/


/*stylesheet13 "sheet13"*/

a[href|="/highhoof"] {
float:left;
width:250px;
height:167px;
background-repeat:no-repeat;
background-image:url(%%sheet13%%);
background-position: 0px 0px;
}

a[href|="/highhoof2"] {
float:left;
width:329px;
height:142px;
background-repeat:no-repeat;
background-image:url(%%sheet13%%);
background-position: 0px -200px;
}

/*stylesheet13 "sheet13" end*/

/*stylesheet14 "sheet14"*/

a[href|="/chibichaser"] {
float:left;
width:131px;
height:175px;
background-repeat:no-repeat;
background-image:url(%%sheet14%%);
background-position: 0px 0px;
}

a[href|="/clickityclickclick"] {
float:left;
width:157px;
height:175px;
background-repeat:no-repeat;
background-image:url(%%sheet14%%);
background-position: -131px 0px;
}

a[href|="/ccface"] {
float:left;
width:137px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%sheet14%%);
background-position: -167px -175px;
}

a[href|="/shantae"] {
float:left;
width:200px;
height:202px;
background-repeat:no-repeat;
background-image:url(%%sheet14%%);
background-position: 0px -420px;
}

/*stylesheet14 "sheet14" end*/

/*stylesheet1 "sheet15"*/

a[href|="/chasercorn"] {
float:left;
width:106px;
height:170px;
background-repeat:no-repeat;
background-image:url(%%sheet15%%);
background-position: 0px 0px;
}

a[href|="/lunachaser"] {
float:left;
width:195px;
height:131px;
background-repeat:no-repeat;
background-image:url(%%sheet15%%);
background-position: -128px -18px;
}

a[href|="/lunachaser2"] {
float:left;
width:180px;
height:159px;
background-repeat:no-repeat;
background-image:url(%%sheet15%%);
background-position: 0px -207px;
}

a[href|="/cloudchasarizard"] {
float:left;
width:208px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%sheet15%%);
background-position: -207px -201px;
}

a[href|="/ccprincess"] {
float:left;
width:160px;
height:198px;
background-repeat:no-repeat;
background-image:url(%%sheet15%%);
background-position: 0px -397px;
}

a[href|="/egochaser"] {
float:left;
width:160px;
height:159px;
background-repeat:no-repeat;
background-image:url(%%sheet15%%);
background-position: -224px -400px;
}

/*stylesheet1 "sheet15" end*/

/*stylesheet1 "sheet16" */

a[href|="/ccwut"] {
float:left;
width:306px;
height:245px;
background-repeat:no-repeat;
background-image:url(%%sheet16%%);
background-position: 0px 0px;
}

a[href|="/ccbow"] {
float:left;
width:159px;
height:170px;
background-repeat:no-repeat;
background-image:url(%%sheet16%%);
background-position: -350px 0px;
}

a[href|="/ccfacehoof"] {
float:left;
width:190px;
height:148px;
background-repeat:no-repeat;
background-image:url(%%sheet16%%);
background-position: 0px -250px;
}

a[href|="/ccblanket"] {
float:left;
width:202px;
height:117px;
background-repeat:no-repeat;
background-image:url(%%sheet16%%);
background-position: -350px -250px;
}

/*stylesheet1 "sheet16 end */

/*un-assigned*/

a[href|="/chasercat"] {
float:left;
width:350px;
height:300px;
background-repeat:no-repeat;
background-image:url(%%chasercat%%);
}


a[href|="/ccxrdsnuggle"] {
float:left;
width:150px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%ccxrdsnuggle%%);
}

a[href|="/cccool"] {
float:left;
width:138px;
height:160px;
background-repeat:no-repeat;
background-image:url(%%cccool%%);
}

a[href|="/cchappy2"] {
float:left;
width:170px;
height:146px;
background-repeat:no-repeat;
background-image:url(%%cchappy2%%);
}

a[href|="/ccdash"] {
float:left;
width:163px;
height:180px;
background-repeat:no-repeat;
background-image:url(%%ccdash%%);
}

a[href|="/ccdash2"] {
float:left;
width:155px;
height:180px;
background-repeat:no-repeat;
background-image:url(%%ccdash2%%);
}

a[href|="/fillycc"] {
float:left;
width:160px;
height:119px;
background-repeat:no-repeat;
background-image:url(%%fillycc%%);
}

a[href|="/ccwait"] {
float:left;
width:182px;
height:200px;
background-repeat:no-repeat;
background-image:url(%%ccwait%%);
}

a[href|="/cowcc"] {
float:left;
width:220px;
height:215px;
background-repeat:no-repeat;
background-image:url(%%cowcc%%);
}

a[href|="/ccsaurus"] {
float:left;
width:168px;
height:206px;
background-repeat:no-repeat;
background-image:url(%%ccsaurus%%);
background-position: 0px 0px;
}

a[href|="/ccpuff"] {
float:left;
width:150px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%ccpuff%%);
background-position: 0px 0px;
}

a[href|="/ccheart"] {
float:left;
width:153px;
height:240px;
background-repeat:no-repeat;
background-image:url(%%ccheart%%);
background-position: 0px 0px;
}

a[href|="/cclook2"] {
float:left;
width:203px;
height:160px;
background-repeat:no-repeat;
background-image:url(%%cclook2%%);
background-position: 0px 0px;
}

a[href|="/captaincc"] {
float:left;
width:138px;
height:190px;
background-repeat:no-repeat;
background-image:url(%%captaincc%%);
background-position: 0px 0px;
}

a[href|="/ccboard"] {
float:left;
width:180px;
height:180px;
background-repeat:no-repeat;
background-image:url(%%ccboard%%);
background-position: 0px 0px;
}

a[href|="/ccbee"] {
float:left;
width:70px;
height:70px;
background-repeat:no-repeat;
background-image:url(%%ccbee%%);
}

a[href|="/cccheer"] {
float:left;
width:250px;
height:182px;
background-repeat:no-repeat;
background-image:url(%%cccheer%%);
}

a[href|="/ccifies"] {
float:left;
width:121px;
height:123px;
background-repeat:no-repeat;
background-image:url(%%ccifies%%);
}

a[href|="/cfmaxscrunch"] {
float:left;
width:188px;
height:147px;
background-repeat:no-repeat;
background-image:url(%%cfmaxscrunch%%);
}

a[href|="/ccrdboop"] {
float:left;
width:260px;
height:159px;
background-repeat:no-repeat;
background-image:url(%%ccrdboop%%);
}

a[href|="/cfboop"] {
float:left;
width:200px;
height:168px;
background-repeat:no-repeat;
background-image:url(%%cfboop%%);
}

a[href|="/saintcowchaser"] {
float:left;
width:176px;
height:180px;
background-repeat:no-repeat;
background-image:url(%%saintcowchaser%%);
}

a[href|="/ccinabox"] {
float:left;
width:210px;
height:138px;
background-repeat:no-repeat;
background-image:url(%%ccinabox%%);
}

a[href|="/lucinanom"] {
float:left;
width:250px;
height:221px;
background-repeat:no-repeat;
background-image:url(%%LucinaNom%%);
}

a[href|="/chaserdance"] {
float:left;
width:70px;
height:114px;
background-repeat:no-repeat;
background-image:url(%%dickchaser%%);
}

a[href|="/cozychaser"] {
float:left;
width:180px;
height:216px;
background-repeat:no-repeat;
background-image:url(%%WinterChaser%%);
}

a[href|="/ccconfused"] {
float:left;
width:144px;
height:259px;
background-repeat:no-repeat;
background-image:url(%%ccconfused%%);
}

a[href|="/gnar"] {
float:left;
width:226px;
height:225px;
background-repeat:no-repeat;
background-image:url(%%Gnar%%);
}

a[href|="/cclaugh"] {
float:left;
width:160px;
height:119px;
background-repeat:no-repeat;
background-image:url(%%cclaugh%%);
}

a[href|="/fillycclying"] {
float:left;
width:146px;
height:160px;
background-repeat:no-repeat;
background-image:url(%%fillycclying%%);
}

a[href|="/fillyflitterooh"] {
float:left;
width:108px;
height:180px;
background-repeat:no-repeat;
background-image:url(%%fillyflitterooh%%);
}


/*un-assigned end - 44 Images*/

a.author[href$="LunarMist2"] {  
font-size:0!important;  
    overflow:hidden;  
    display:inline-block;  
    content: "";  
    }

a.author[href$="LunarMist2"]:before{  
    font-size:12px!important;  
    visibility:visible!important;  
    }

a.author[href$="LunarMist2"]:before {content:"misty-sempai"}

a.author[href$="BurChaBow"] {  
font-size:0!important;  
    overflow:hidden;  
    display:inline-block;  
    content: "";  
    }

a.author[href$="BurChaBow"]:before{  
    font-size:12px!important;  
    visibility:visible!important;  
    }

a.author[href$="BurChaBow"]:before {content:"ヽ༼✿ຈل͜ຈ༽ﾉ-chan"; color:#7474CF}

a.author[href$="durpyDash"] {  
font-size:0!important;  
    overflow:hidden;  
    display:inline-block;  
    content: "";  
    }

a.author[href$="durpyDash"]:before{  
    font-size:12px!important;  
    visibility:visible!important;  
    }

a.author[href$="durpyDash"]:before {content:"durpy-san"; color:#7474CF}

a.author[href$="-20"] {
font-size:0!important;
overflow:hidden;
display:inline-block;
content: "";
}
a.author[href$="-20"]:before{
font-size:12px!important;
visibility:visible!important;
}
a.author[href$="-20"]:before {content:"Honorable Chairman Captain -20"; color:#7474CF}

a.author[href$="cowofdoom"] {
font-size:0!important;
overflow:hidden;
display:inline-block;
content: "";
}
a.author[href$="cowofdoom"]:before{
font-size:12px!important;
visibility:visible!important;
}
a.author[href$="cowofdoom"]:before {content:"ヽ༼ຈل͜ຈ༽ﾉ"; color:#7474CF}