a[href|="/ccpose"] {
display:block;
clear:none;
float:left;
width:140px;
height:168px;
background-repeat:no-repeat;
background-image:url(%%ccpose%%);
}

a[href|="/ccgiggle"] {
display:block;
clear:none;
float:left;
width:150px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%ccgiggle%%);
}

a[href|="/ccpose2"] {
display:block;
clear:none;
float:left;
width:150px;
height:165px;
background-repeat:no-repeat;
background-image:url(%%ccpose2%%);
}


a[href|="/ccpaper"] {
display:block;
clear:none;
float:left;
width:150px;
height:163px;
background-repeat:no-repeat;
background-image:url(%%ccpaper%%);
}

a[href|="/ccdeal"] {
display:block;
clear:none;
float:left;
width:139px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%ccdeal%%);
}

a[href|="/ccstare"] {
display:block;
clear:none;
float:left;
width:150px;
height:138px;
background-repeat:no-repeat;
background-image:url(%%ccstare%%);
}

a[href|="/cchmm"] {
display:block;
clear:none;
float:left;
width:134px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%cchmm%%);
}


a[href|="/ccunamused"] {
display:block;
clear:none;
float:left;
width:103px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%ccunamused%%);
}


a[href|="/cceww"] {
display:block;
clear:none;
float:left;
width:150px;
height:145px;
background-repeat:no-repeat;
background-image:url(%%cceww%%);
}

a[href|="/ccgoon"] {
display:block;
clear:none;
float:left;
width:150px;
height:105px;
background-repeat:no-repeat;
background-image:url(%%ccgoon%%);
}

a[href|="/cccry"] {
display:block;
clear:none;
float:left;
width:150px;
height:139px;
background-repeat:no-repeat;
background-image:url(%%cccry%%);
}

a[href|="/ccwat"] {
display:block;
clear:none;
float:left;
width:92px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%ccwat%%);
}

a[href|="/ccblush"] {
display:block;
clear:none;
float:left;
width:150px;
height:147px;
background-repeat:no-repeat;
background-image:url(%%ccblush%%);
}

a[href|="/ccshrug"] {
display:block;
clear:none;
float:left;
width:150px;
height:141px;
background-repeat:no-repeat;
background-image:url(%%ccshrug%%);
}

a[href|="/ccsleep"] {
display:block;
clear:none;
float:left;
width:190px;
height:127px;
background-repeat:no-repeat;
background-image:url(%%ccsleep%%);
}

a[href|="/ccshock"] {
display:block;
clear:none;
float:left;
width:120px;
height:150px;
background-repeat:no-repeat;
background-image:url(%%ccshock%%);
}

a[href|="/highhoof"] {
display:block;
clear:none;
float:left;
width:250px;
height:167px;
background-repeat:no-repeat;
background-image:url(%%highhoof%%);
}

a[href|="/ccsalute"] {
display:block;
clear:none;
float:left;
width:150px;
height:130px;
background-repeat:no-repeat;
background-image:url(%%ccsalute%%);
}

a[href|="/ccstretch"] {
display:block;
clear:none;
float:left;
width:150px;
height:139px;
background-repeat:no-repeat;
background-image:url(%%ccstretch%%);
}

a[href|="/ccyeah"] {
display:block;
clear:none;
float:left;
width:180px;
height:170px;
background-repeat:no-repeat;
background-image:url(%%ccyeah%%);
}