/* Flair */

.flairselector .customizer {
display: none !important;
}

.flair {
width: 16px;
height: 16px;
background: url(%%spritesheet%%) no-repeat -9999px -9999px;;
text-indent: -9999px;
vertical-align: middle;
display:inline-block;
border: none !important;
padding:0px;
}

.flair-rainbowdash {background-position: 0 0;} /* Not needed, but for completeness */
.flair-pinkiepie {background-position: 0 -16px;}
.flair-luna {background-position: 0 -32px;}
.flair-lyra {background-position: 0 -48px;}
.flair-bigmac {background-position: 0 -64px;}
.flair-roseluck {background-position: 0 -80px;}
.flair-screwball {background-position: 0 -96px;}
.flair-wonderbolt {background-position: 0 -112px;}
.flair-sweetiebelle {background-position: 0 -128px;}
.flair-blueblood {background-position: 0 -144px;}
.flair-flam {background-position: 0 -160px;}
.flair-snips {background-position: 0 -176px;}
.flair-sparkler {background-position: 0 -192px;} /* AKA Amethyst Star */
.flair-cadence {background-position: 0 -208px;}
.flair-cloudchaser {background-position: 0 -224px;}
.flair-daisy {background-position: 0 -240px;}
.flair-doctorstable {background-position: 0 -256px;}
.flair-twilightsparkle {background-position: 0 -272px;}
.flair-rarity {background-position: 0 -288px;}
.flair-celestia {background-position: 0 -304px;}
.flair-bonbon {background-position: 0 -320px;}
.flair-colgate {background-position: 0 -336px;}
.flair-zecora {background-position: 0 -352px;}
.flair-nurseredheart {background-position: 0 -368px;}
.flair-shadowbolt {background-position: 0 -384px;}
.flair-davenport {background-position: 0 -400px;}
.flair-daringdo {background-position: 0 -416px;}
.flair-flim {background-position: 0 -432px;}
.flair-snails {background-position: 0 -448px;}
.flair-dancefever {background-position: 0 -464px;} /* Called "Hairy Tipper" in /r/mylittlepony */
.flair-shiningarmour {background-position: 0 -480px;}
.flair-flitter {background-position: 0 -496px;}
.flair-changeling {background-position: 0 -512px;}
.flair-sewnsow {background-position: 0 -528px;} /* That's "Sew 'n' Sow" */
.flair-fluttershy {background-position: 0 -544px;}
.flair-trixie {background-position: 0 -560px;}
.flair-derpy {background-position: 0 -576px;}
.flair-octavia {background-position: 0 -592px;}
.flair-berrypunch {background-position: 0 -608px;}
.flair-seaswirl {background-position: 0 -624px;}
.flair-caramel {background-position: 0 -640px;}
.flair-scootaloo {background-position: 0 -656px;}
.flair-cheerilee {background-position: 0 -672px;}
.flair-mrcake {background-position: 0 -688px;}
.flair-silverspoon {background-position: 0 -704px;}
.flair-twist {background-position: 0 -720px;}
.flair-fancypants {background-position: 0 -736px;}
.flair-filthyrich {background-position: 0 -752px;}
.flair-lily {background-position: 0 -768px;}
.flair-lotus {background-position: 0 -784px;}
.flair-spitfire {background-position: 0 -800px;}
.flair-applejack {background-position: 0 -816px;}
.flair-cmc {background-position: 0 -832px;}
.flair-vinyl {background-position: 0 -848px;}
.flair-doctorwhooves {background-position: 0 -864px;}
.flair-pokeypierce {background-position: 0 -880px;}
.flair-carrottop {background-position: 0 -896px;}
.flair-braeburn {background-position: 0 -912px;}
.flair-applebloom {background-position: 0 -928px;}
.flair-nightmaremoon {background-position: 0 -944px;}
.flair-mrscake {background-position: 0 -960px;}
.flair-diamondtiara {background-position: 0 -976px;}
.flair-truffleshuffle {background-position: 0 -992px;}
.flair-fleurdelis {background-position: 0 -1008px;}
.flair-hoitytoity {background-position: 0 -1024px;}
.flair-grannysmith {background-position: 0 -1040px;}
.flair-aloe {background-position: 0 -1056px;}
.flair-mayormare {background-position: 0 -1072px;}
.flair-surprise {background-position: 0 -1088px;}

/* background color*/


#header {
background: #71bdfd;
}

body {
background: url(%%Colgateisbestpony%%) no-repeat fixed center center;
}



/***sidebarfilly***/

/* Requires link with that text in it for filly to be there */
.side a[href="/r/colgateinquisition/new/"]{
display: block;
background: url(%%colgatefilly%%) repeat scroll 0% 0% transparent;
top: 260px;
right: -5px;
z-index: 999;
height: 95px;
position: fixed;
width: 90px;
}


/* Sidebar */

/* Change "readers" And "online now" thing */

.titlebox .word { display: none }
.titlebox .number:after { content: " Minty Fresh Ponies"; }
.titlebox .users-online span.number:after { content: " are brushing their teeth"; }



/* emotes */

/* Colgate Wink */
a[href^="/colgatewink"] {
  background-position: -0px -0px;
  display: block;
  clear: none;
  float: left;
  width: 150px;
  height: 150px;
  background-image: url(%%colgatespreadsheet%%)
}

/* Colgate Newspaper */
a[href^="/colgatereally"] {
  background-position: -150px 0px;
  display: block;
  clear: none;
  float: left;
  width: 150px;
  height: 150px;
  background-image: url(%%colgatespreadsheet%%)
}

/* Colgate Wtf */
a[href^="/colgatewtf"] {
  background-position: -300px 0px;
  display: block;
  clear: none;
  float: left;
  width: 132px;
  height: 150px;
  background-image: url(%%colgatespreadsheet%%)
}

/* Colgate chisel */
a[href^="/holdstill"] {
  background-position: -450px 0px;
  display: block;
  clear: none;
  float: left;
  width: 150px;
  height: 150px;
  background-image: url(%%colgatespreadsheet%%)
}

/* hello friend */
a[href^="/hellofriend"] {
  background-position: -600px 0px;
  display: block;
  clear: none;
  float: left;
  width: 118px;
  height: 150px;
  background-image: url(%%colgatespreadsheet%%)
}

/* Colgate rose ready */
a[href^="/colgateroseready"] {
  background-position: -750px 0px;
  display: block;
  clear: none;
  float: left;
  width: 105px;
  height: 150px;
  background-image: url(%%colgatespreadsheet%%)
}

/* Colgate you sure */
a[href^="/yousure"] {
  background-position: -900px 0px;
  display: block;
  clear: none;
  float: left;
  width: 117px;
  height: 150px;
  background-image: url(%%colgatespreadsheet%%)
}

/* Colgate listening */
a[href^="/colgatelistening"] {
  background-position: -1050px 0px;
  display: block;
  clear: none;
  float: left;
  width: 141px;
  height: 126px;
  background-image: url(%%colgatespreadsheet%%)
}

/* colgatepunch */
a[href^="/colgatepillow"] {
  background-position: 0px -150px;
  display: block;
  clear: none;
  float: left;
  width: 188px;
  height: 150px;
  background-image: url(%%colgatespreadsheet%%)
}

/* Colgate sad */
a[href^="/colgatesad"] {
  background-position: -225px -150px;
  display: block;
  clear: none;
  float: left;
  width: 150px;
  height: 150px;
  background-image: url(%%colgatespreadsheet%%)
}

/* colgate socks */
a[href^="/colgaterelax"] {
  background-position: -375px -150px;
  display: block;
  clear: none;
  float: left;
  width: 225px;
  height: 150px;
  background-image: url(%%colgatespreadsheet%%)
}

/* Colgate stroll */
a[href^="/colgatestroll"] {
  background-position: -600px -150px;
  display: block;
  clear: none;
  float: left;
  width: 150px;
  height: 150px;
  background-image: url(%%colgatespreadsheet%%)
}

/* colgate blush */
a[href^="/colgateblush"] {
  background-position: -750px -150px;
  display: block;
  clear: none;
  float: left;
  width: 85px;
  height: 150px;
  background-image: url(%%colgatespreadsheet%%)
}

/* colgate butt bump */
a[href^="/colgateberrybuttbump"] {
  background-position: -900px -150px;
  display: block;
  clear: none;
  float: left;
  width: 142px;
  height: 132px;
  background-image: url(%%colgatespreadsheet%%)
}

/* colgate sly smile */
a[href^="/colgatesmile"] {
  background-position: -1050px -150px;
  display: block;
  clear: none;
  float: left;
  width: 122px;
  height: 150px;
  background-image: url(%%colgatespreadsheet%%)
}

/* Colgate Wat */
a[href^="/colgatewat"] {
  background-position: -1200px 0px;
  display: block;
  clear: none;
  float: left;
  width: 118px;
  height: 150px;
  background-image: url(%%colgatespreadsheet%%)
}

/* Colgate Please */
a[href^="/colgateplease"] {
  background-position: -1350px 0px;
  display: block;
  clear: none;
  float: left;
  width: 117px;
  height: 150px;
  background-image: url(%%colgatespreadsheet%%)
}

/* Rose You him now */
a[href^="/youhimvidnow"] {
  background-position: -1200px -150px;
  display: block;
  clear: none;
  float: left;
  width: 147px;
  height: 150px;
  background-image: url(%%colgatespreadsheet%%)
}



/* Colgate Spread Sheet 2 */

/* Colgate Ayyy */
a[href^="/colgateayyy"] {
  background-position: 0px 0px;
  display: block;
  clear: none;
  float: left;
  width: 150px;
  height: 150px;
  background-image: url(%%colgatespreadsheet2%%)
}

/* colgateohyou */
a[href^="/colgateohyou"] {
background-position: -150px 0px;
display: block;
clear: none;
float: left;
width: 181px;
height: 150px;
background-image: url(%%colgatespreadsheet2%%)
}

/* colgatewhy */
a[href^="/colgatewhy"] {
background-position: -375px 0px;
display: block;
clear: none;
float: left;
width: 95px;
height: 150px;
background-image: url(%%colgatespreadsheet2%%)
}


/* colgatenoidea */
a[href^="/colgatenoidea"] {
background-position: -525px 0px;
display: block;
clear: none;
float: left;
width: 150px;
height: 150px;
background-image: url(%%colgatespreadsheet2%%)
}

/* colgateglee */
a[href^="/colgateglee"] {
background-position: -675px 0px;
display: block;
clear: none;
float: left;
width: 150px;
height: 150px;
background-image: url(%%colgatespreadsheet2%%)
}

/* colgateunsure */
a[href^="/colgateunsure"] {
background-position: -825px 0px;
display: block;
clear: none;
float: left;
width: 188px;
height: 150px;
background-image: url(%%colgatespreadsheet2%%)
}

/* colgatesurgery */
a[href^="/colgatesurgery"] {
background-position: -1050px 0px;
display: block;
clear: none;
float: left;
width: 99px;
height: 150px;
background-image: url(%%colgatespreadsheet2%%)
}

/* colgatekawaii */
a[href^="/colgatekawaii"] {
background-position: -1200px 0px;
display: block;
clear: none;
float: left;
width: 122px;
height: 150px;
background-image: url(%%colgatespreadsheet2%%)
}

/* hello random child */
a[href^="/hellorandomchild"] {
background-position: -1350px 0px;
display: block;
clear: none;
float: left;
width: 150px;
height: 150px;
background-image: url(%%colgatespreadsheet2%%)
}