/***********
B Emoticons
***********/

a[href="/darklerage"], a[href="/darklefacehoof"]{
    display: block;
    clear: none;
    float: left;
    width: 50px;
    height: 50px;
    background-image: url(%%darkle-emotes-1%%) !important
    }
a[href="/rdarklerage"], a[href="/rdarklefacehoof"]{
    display: block;
    clear: none;
    float: left;
    width: 50px;
    height: 50px;
    background-image: url(%%darkle-emotes-1-flipped%%) !important
    }

a[href="/darklerage"], a[href="/rdarklerage"] {
    background-position: -100px -450px
    }
a[href="/darklefacehoof"], a[href="/rdarklefacehoof"] {
    background-position: -150px -400px
    }
/***********
C Emoticons
***********/

a[href="/darklesmug"], a[href="/darklesmile"], a[href="/darklestare"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%darkle-emotes-2%%) !important
    }
a[href="/rdarklesmug"], a[href="/rdarklesmile"], a[href="/rdarklestare"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%darkle-emotes-2-flipped%%) !important
    }
a[href="/darklesmug"], a[href="/rdarklesmug"] {
    background-position: -0px -70px
    }
a[href="/darklesmile"], a[href="/rdarklesmile"] {
    background-position: -70px -70px
    }
a[href="/darklestare"], a[href="/rdarklestare"] {
    background-position: -140px -70px
    }

/**************
A Emoticons
**************/
a[href="/darklecrazy"], a[href="/darklepride"], a[href="/darklebeam"], a[href="/darkleunimpressed"], a[href="/darklehmm"], a[href="/darkleapathy"], a[href="/dwatching"], a[href="/dbaconisareallylongemotenamesonoonewilluseitsuckitave"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%darkle-emotes-3%%) !important
    }

a[href="/rdarklecrazy"], a[href="/rdarklepride"], a[href="/rdarklebeam"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%darkle-emotes-3-flipped%%) !important
    }
a[href="/darklepride"], a[href="/rdarklepride"] {
    background-position: -0px -70px
    }
a[href="/darklecrazy"], a[href="/rdarklecrazy"] {
    background-position: -140px -70px
    }
a[href="/darklebeam"], a[href="/rdarklebeam"] {
    background-position: -140px -210px
    }
a[href="/darkleunimpressed"] {
    background-position: -0px -0px
    }
a[href="/darklehmm"] {
    background-position: -70px -0px
    }
a[href="/darkleapathy"] {
    background-position: -70px -70px
    }
a[href="/darkleapathy"] {
    background-position: -70px -70px
    }
a[href="/dwatching"] {
    background-position: -140px -0px
    }
a[href="/dbaconisareallylongemotenamesonoonewilluseitsuckitave"] {
    background-position: -0px -140px
    }


/*******************
Andy emotes!  Here we go!
*******************/
a[href="/darkleclop"]{
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%darkle-emotes-mlas1%%) !important
    }
a[href="/darkleclop"] {
    background-position: -250px -180px
    }

/****
a[href="/darklewithit"]{
    display: block;
    clear: none;
    float: left;
    width: 247px;
    height: 250px;
    background-image: url(%%darkle-emotes-mlas1%%) !important
    }
a[href="/darklewithit"] {
    background-position: -0px -0px
    }
****/

a[href="/darklehat"]{
    display: block;
    clear: none;
    float: left;
    width: 130px;
    height: 150px;
    background-image: url(%%darkle-emotes-mlas1%%) !important
    }
a[href="/darklehat"] {
    background-position: -131px -267px
    }

a[href="/darkleok"]{
    display: block;
    clear: none;
    float: left;
    width: 60px;
    height: 73px;
    background-image: url(%%darkle-emotes-mlas1%%) !important
    }
a[href="/darkleok"] {
    background-position: -0px -266px
    }

a[href="/darkleno"]{
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 175px;
    background-image: url(%%darkle-emotes-mlas1%%) !important
    }
a[href="/darkleno"] {
    background-position: -250px -0px
    }

a[href="/darkleye"]{
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 67px;
    background-image: url(%%darkle-emotes-mlas1%%) !important
    }
a[href="/darkleye"] {
    background-position: -60px -266px
    }

a[href="/dzz00"]{
    display: block;
    clear: none;
    float: left;
    width: 60px;
    height: 65px;
    background-image: url(%%darkle-emotes-mlas1%%) !important
    }
a[href="/dzz00"] {
    background-position: -450px -0px
    }

a[href="/darklehate"]{
    display: block;
    clear: none;
    float: left;
    width: 290px;
    height: 184px;
    background-image: url(%%darkle-emotes-mlas1%%) !important
    }
a[href="/darklehate"] {
    background-position: -320px -176px
    }

a[href="/dv10"], a[href="/darklemina"]{
    display: block;
    clear: none;
    float: left;
    width: 55px;
    height: 69px;
    background-image: url(%%darkle-emotes-mlas1%%) !important
    }
a[href="/dv10"], a[href="/darklemina"] {
    background-position: -450px -66px
    }

a[href="/darkletrix"]{
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 89px;
    background-image: url(%%darkle-emotes-mlas1%%) !important
    }
a[href="/darkletrix"] {
    background-position: -510px -0px
    }
/***
a[href="/darklefun"]{
    display: block;
    clear: none;
    float: left;
    width: 235px;
    height: 155px;
    background-image: url(%%darkle-emotes-mlas1%%) !important
    }
a[href="/darklefun"] {
    background-position: -0px -420px
    }
***/ 


a[href="/dw01"]{
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%darkle-emotes-mlas1%%) !important
    }
a[href="/dw01"] {
    background-position: -510px -95px
    }

a[href="/dyy01"]{
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 145px;
    background-image: url(%%darkle-emotes-mlas2%%) !important
    }
a[href="/dyy01"] {
    background-position: -465px -0px
    }

a[href="/dyy02"]{
    display: block;
    clear: none;
    float: left;
    width: 149px;
    height: 145px;
    background-image: url(%%darkle-emotes-mlas2%%) !important
    }
a[href="/dyy02"] {
    background-position: -466px -145px
    }

a[href="/dyy03"]{
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(%%darkle-emotes-mlas2%%) !important
    }
a[href="/dyy03"] {
    background-position: -468px -295px
    }

a[href="/dyy04"]{
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(%%darkle-emotes-mlas2%%) !important
    }
a[href="/dyy04"] {
    background-position: -465px -450px
    }

a[href="/dyy05"]{
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 138px;
    background-image: url(%%darkle-emotes-mlas2%%) !important
    }
a[href="/dyy05"] {
    background-position: -465px -600px
    }


a[href="/dyy11"]{
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(%%darkle-emotes-mlas2%%) !important
    }
a[href="/dyy11"] {
    background-position: -615px -0px
    }

a[href="/dyy12"]{
    display: block;
    clear: none;
    float: left;
    width: 149px;
    height: 150px;
    background-image: url(%%darkle-emotes-mlas2%%) !important
    }
a[href="/dyy12"] {
    background-position: -616px -145px
    }

a[href="/dyy13"]{
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(%%darkle-emotes-mlas2%%) !important
    }
a[href="/dyy13"] {
    background-position: -615px -297px
    }

a[href="/dyy14"]{
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(%%darkle-emotes-mlas2%%) !important
    }
a[href="/dyy14"] {
    background-position: -615px -450px
    }

a[href="/dyy15"]{
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 138px;
    background-image: url(%%darkle-emotes-mlas2%%) !important
    }
a[href="/dyy15"] {
    background-position: -615px -600px
    }


a[href="/darkleflip"]{
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 135px;
    background-image: url(%%darkle-emotes-mlas2%%) !important
    }
a[href="/darkleflip"] {
    background-position: -0px -0px
    }

a[href="/darklehorn"]{
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 120px;
    background-image: url(%%darkle-emotes-mlas2%%) !important
    }
a[href="/darklehorn"] {
    background-position: -0px -136px
    }

a[href="/darklewhy"]{
    display: block;
    clear: none;
    float: left;
    width: 185px;
    height: 150px;
    background-image: url(%%darkle-emotes-mlas2%%) !important
    }
a[href="/darklewhy"] {
    background-position: -200px -0px
    }

a[href|="/darklelicious"] {
    display: block;
    clear: none;
    float: left;
    width: 600px;
    height: 600px;
    background-image: url(%%darklelicious%%);
    margin-left: 3px;
    margin-right: 3px;
    }




a[href="/darkletines"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 105px;
    background-image: url(%%valentines%%) !important
    }
a[href="/darkletines"] {
    background-position: -0px -85px
    }

a[href="/pix"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 129px;
    background-image: url(%%pix2%%) !important
    }
a[href="/pix"] {
    background-position: -0px -0px
    }

a[href="/lulu"] {
    display: block;
    clear: none;
    float: left;
    width: 60px;
    height: 77px;
    background-image: url(%%Lulu3%%) !important
    }
a[href="/lulu"] {
    background-position: -0px -0px
    }

a[href="/cupcake"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 103px;
    background-image: url(%%Cupcake2%%) !important
    }
a[href="/cupcake"] {
    background-position: -0px -0px
    }


/************************************** 
Hey, you.  Yeah, you.  Get out of my CSS.  Thanks. 
**************************************/

a[href="/discordYES"]{
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 200px;
    background-image: url(%%yes-yes-computer-small%%) !important
    }
a[href="/discordYES"] {
    background-position: -0px -0px
    }

a[href="/cottoncandy"]{
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 83px;
    background-image: url(%%cottoncandycloud%%) !important
    }
a[href="/cottoncandy"] {
    background-position: -0px -0px
    }

a[href="/refrefref"]{
    display: block;
    clear: none;
    float: left;
    width: 176px;
    height: 174px;
    background-image: url(%%ref-ref-ref%%) !important
    }
a[href="/refrefref"] {
    background-position: -0px -0px
    }


a[href="/bigbacon"] {
    display: block;
    clear: none;
    float: left;
    width: 321px;
    height: 300px;
    background-image: url(%%bigbacon%%) !important
    }
a[href="/bigbacon"] {
    background-position: -0px -0px
    }

a[href="/chivswag"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 207px;
    background-image: url(%%asdf%%) !important
    }
a[href="/chivswag"] {
    background-position: -0px -0px
    }





a[href="/thiscord"]{
    display: block;
    clear: none;
    float: left;
    width: 149px;
    height: 126px;
    background-image: url(%%you-touch-this-and-ill-cut-you-darkle%%) !important
    }
a[href="/thiscord"] {
    background-position: -0px -0px
    }

a[href="/ohfine"], a[href="/nobiggie"], a[href="/iseewhatyoudidthere"], a[href="/w999"]{
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%you-touch-this-and-ill-cut-you-darkle%%) !important
    }
a[href="/ohfine"] {
    background-position: -0px -127px
    }
a[href="/nobiggie"] {
    background-position: -0px -197px
    }
a[href="/iseewhatyoudidthere"] {
    background-position: -0px -267px
    }
a[href="/w999"] {
    background-position: -130px -129px
    }


a[href="/dismad"]{
    display: block;
    clear: none;
    float: left;
    width: 50px;
    height: 46px;
    background-image: url(%%you-touch-this-and-ill-cut-you-darkle%%) !important
    }
a[href="/dismad"] {
    background-position: -70px -127px
    }

a[href="/hmmyesquite"]{
    display: block;
    clear: none;
    float: left;
    width: 60px;
    height: 60px;
    background-image: url(%%you-touch-this-and-ill-cut-you-darkle%%) !important
    }
a[href="/hmmyesquite"] {
    background-position: -70px -173px
    }

a[href="/flipscord"]{
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 129px;
    background-image: url(%%you-touch-this-and-ill-cut-you-darkle%%) !important
    }
a[href="/flipscord"] {
    background-position: -150px -0px
    }

a[href="/seriouslydiscord"]{
    display: block;
    clear: none;
    float: left;
    width: 178px;
    height: 200px;
    background-image: url(%%you-touch-this-and-ill-cut-you-darkle%%) !important
    }
a[href="/seriouslydiscord"] {
    background-position: -350px -0px
    }


/***********

Just kidding.

a[href|="/dashieawesome"], a[href|="/dashiebeg"], a[href|="/dashiecheer"], a[href|="/dashieclaus"], a[href|="/dashieconfident"], a[href|="/dashiecrystal"], a[href|="/dashiederp"], a[href|="/dashiedowant"], a[href|="/dashiedry"], a[href|="/dashiefillysit"], a[href|="/dashieheythere"], a[href|="/dashiehuh"], a[href|="/dashieinnocent"], a[href|="/dashielick"], a[href|="/dashielounge"], a[href|="/dashiemad"], a[href|="/dashiepeak"], a[href|="/dashieplay"], a[href|="/dashiesleep"], a[href|="/dashieweddingdress"], a[href|="/dashiewjat"], a[href|="/dashiewubwoo"], a[href|="/dashiebashful"] a[href|="/vx00"], a[href|="/dashiestrut"], a[href|="/vx01"], a[href|="/dashiepose"], a[href|="/vx02"], a[href|="/dashiebucket"], a[href|="/vx10"], a[href|="/dashiefacehoof"], a[href|="/vx11"], a[href|="/dashieswag"], a[href|="/vx12"], a[href|="/dashierage"], a[href|="/vx20"], a[href|="/dashiechef"], a[href|="/vx21"], a[href|="/dashiepie"], a[href|="/vx22"], a[href|="/dashiewedding"], a[href|="/vx30"], a[href|="/dashiecunning"], a[href|="/vx31"], a[href|="/dashiebunny"], a[href|="/vx32"], a[href|="/rainbowpie"], a[href|="/vx40"], a[href|="/dashiewhat"], a[href|="/vx41"], a[href|="/dashiepissed"], a[href|="/vx42"], a[href|="/dashiesmile"], a[href|="/vx50"], a[href|="/dashiefilly"], a[href|="/vx51"], a[href|="/dashieyou"], a[href|="/vx52"], a[href|="/dashiehug"], a[href|="/vx60"], a[href|="/dashiegrin"], a[href|="/vx61"], a[href|="/dashietail"], a[href|="/vx62"], a[href|="/dashiepose2"] a[href|="/rvx00"], a[href|="/rdashiestrut"], a[href|="/rvx01"], a[href|="/rdashiepose"], a[href|="/rvx02"], a[href|="/rdashiebucket"], a[href|="/rvx10"], a[href|="/rdashiefacehoof"], a[href|="/rvx11"], a[href|="/rdashieswag"], a[href|="/rvx12"], a[href|="/rdashierage"], a[href|="/rvx20"], a[href|="/rdashiechef"], a[href|="/rvx21"], a[href|="/rdashiepie"], a[href|="/rvx22"], a[href|="/rdashiewedding"], a[href|="/rvx30"], a[href|="/rdashiecunning"], a[href|="/rvx31"], a[href|="/rdashiebunny"], a[href|="/rvx32"], a[href|="/rrainbowpie"], a[href|="/rvx40"], a[href|="/rdashiewhat"], a[href|="/rvx41"], a[href|="/rdashiepissed"], a[href|="/rvx42"], a[href|="/rdashiesmile"], a[href|="/rvx50"], a[href|="/rdashiefilly"], a[href|="/rvx51"], a[href|="/rdashieyou"], a[href|="/rvx52"], a[href|="/rdashiehug"], a[href|="/rvx60"], a[href|="/rdashiegrin"], a[href|="/rvx61"], a[href|="/rdashietail"], a[href|="/rvx62"], a[href|="/rdashiepose2"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 113px;
    background-image: url(%%dashie%%) !important
    }
a[href|="/dashieawesome"], a[href|="/dashiebeg"], a[href|="/dashiecheer"], a[href|="/dashieclaus"], a[href|="/dashieconfident"], a[href|="/dashiecrystal"], a[href|="/dashiederp"], a[href|="/dashiedowant"], a[href|="/dashiedry"], a[href|="/dashiefillysit"], a[href|="/dashieheythere"], a[href|="/dashiehuh"], a[href|="/dashieinnocent"], a[href|="/dashielick"], a[href|="/dashielounge"], a[href|="/dashiemad"], a[href|="/dashiepeak"], a[href|="/dashieplay"], a[href|="/dashiesleep"], a[href|="/dashieweddingdress"], a[href|="/dashiewjat"], a[href|="/dashiewubwoo"], a[href|="/dashiebashful"] a[href|="/vx00"], a[href|="/dashiestrut"], a[href|="/vx01"], a[href|="/dashiepose"], a[href|="/vx02"], a[href|="/dashiebucket"], a[href|="/vx10"], a[href|="/dashiefacehoof"], a[href|="/vx11"], a[href|="/dashieswag"], a[href|="/vx12"], a[href|="/dashierage"], a[href|="/vx20"], a[href|="/dashiechef"], a[href|="/vx21"], a[href|="/dashiepie"], a[href|="/vx22"], a[href|="/dashiewedding"], a[href|="/vx30"], a[href|="/dashiecunning"], a[href|="/vx31"], a[href|="/dashiebunny"], a[href|="/vx32"], a[href|="/rainbowpie"], a[href|="/vx40"], a[href|="/dashiewhat"], a[href|="/vx41"], a[href|="/dashiepissed"], a[href|="/vx42"], a[href|="/dashiesmile"], a[href|="/vx50"], a[href|="/dashiefilly"], a[href|="/vx51"], a[href|="/dashieyou"], a[href|="/vx52"], a[href|="/dashiehug"], a[href|="/vx60"], a[href|="/dashiegrin"], a[href|="/vx61"], a[href|="/dashietail"], a[href|="/vx62"], a[href|="/dashiepose2"] a[href|="/rvx00"], a[href|="/rdashiestrut"], a[href|="/rvx01"], a[href|="/rdashiepose"], a[href|="/rvx02"], a[href|="/rdashiebucket"], a[href|="/rvx10"], a[href|="/rdashiefacehoof"], a[href|="/rvx11"], a[href|="/rdashieswag"], a[href|="/rvx12"], a[href|="/rdashierage"], a[href|="/rvx20"], a[href|="/rdashiechef"], a[href|="/rvx21"], a[href|="/rdashiepie"], a[href|="/rvx22"], a[href|="/rdashiewedding"], a[href|="/rvx30"], a[href|="/rdashiecunning"], a[href|="/rvx31"], a[href|="/rdashiebunny"], a[href|="/rvx32"], a[href|="/rrainbowpie"], a[href|="/rvx40"], a[href|="/rdashiewhat"], a[href|="/rvx41"], a[href|="/rdashiepissed"], a[href|="/rvx42"], a[href|="/rdashiesmile"], a[href|="/rvx50"], a[href|="/rdashiefilly"], a[href|="/rvx51"], a[href|="/rdashieyou"], a[href|="/rvx52"], a[href|="/rdashiehug"], a[href|="/rvx60"], a[href|="/rdashiegrin"], a[href|="/rvx61"], a[href|="/rdashietail"], a[href|="/rvx62"], a[href|="/rdashiepose2"] {
    background-position: -0px -0px
    }

     
B Emoticons
***********/