a[href="/dinkyaj"],
a[href="/dinkyalicorn"],
a[href="/dinkyawesome"],
a[href="/dinkyball"],
a[href="/dinkyball2"],
a[href="/dinkybeg"],
a[href="/dinkybook"],
a[href="/dinkychristmas"],
a[href="/dinkycostume"],
a[href="/dinkycuddle"],
a[href="/dinkyditzyhug"],
a[href="/dinkygallop"],
a[href="/dinkyhappy"],
a[href="/dinkyhug"],
a[href="/dinkylayhappy"],
a[href="/dinkymail"],
a[href="/dinkymombff"],
a[href="/dinkymuffin"],
a[href="/dinkypinkie"],
a[href="/dinkysad"],
a[href="/dinkysad2"],
a[href="/dinkysad3"],
a[href="/dinkyscience"],
a[href="/dinkysilly"],
a[href="/dinkysleep"],
a[href="/dinkyup"],
a[href="/ditzybaby"],
a[href="/ditzybasket"],
a[href="/pipdinky"],
a[href="/pipdinky2"]{
  display:block;
  clear:none;
  float:left;
  background-image:url(%%zmkiidivyd%%);
}
a[href|="/dinkyaj"]{
  background-position:-0px -0px;
  width:165px;
  height:200px;
}
a[href|="/dinkyalicorn"]{
  background-position:-0px -200px;
  width:200px;
  height:148px;
}
a[href|="/dinkyawesome"]{
  background-position:-0px -400px;
  width:200px;
  height:160px;
}
a[href|="/dinkyball"]{
  background-position:-0px -600px;
  width:137px;
  height:200px;
}
a[href|="/dinkyball2"]{
  background-position:-0px -800px;
  width:136px;
  height:200px;
}
a[href|="/dinkybeg"]{
  background-position:-0px -1000px;
  width:180px;
  height:200px;
}
a[href|="/dinkybook"]{
  background-position:-0px -1200px;
  width:200px;
  height:189px;
}
a[href|="/dinkychristmas"]{
  background-position:-0px -1400px;
  width:200px;
  height:128px;
}
a[href|="/dinkycostume"]{
  background-position:-0px -1600px;
  width:168px;
  height:200px;
}
a[href|="/dinkycuddle"]{
  background-position:-0px -1800px;
  width:200px;
  height:190px;
}
a[href|="/dinkyditzyhug"]{
  background-position:-200px -0px;
  width:200px;
  height:136px;
}
a[href|="/dinkygallop"]{
  background-position:-200px -200px;
  width:200px;
  height:171px;
}
a[href|="/dinkyhappy"]{
  background-position:-200px -400px;
  width:143px;
  height:200px;
}
a[href|="/dinkyhug"]{
  background-position:-200px -600px;
  width:163px;
  height:200px;
}
a[href|="/dinkylayhappy"]{
  background-position:-200px -800px;
  width:200px;
  height:195px;
}
a[href|="/dinkymail"]{
  background-position:-200px -1000px;
  width:152px;
  height:200px;
}
a[href|="/dinkymombff"]{
  background-position:-200px -1200px;
  width:200px;
  height:129px;
}
a[href|="/dinkymuffin"]{
  background-position:-200px -1400px;
  width:200px;
  height:112px;
}
a[href|="/dinkypinkie"]{
  background-position:-200px -1600px;
  width:200px;
  height:174px;
}
a[href|="/dinkysad"]{
  background-position:-200px -1800px;
  width:183px;
  height:200px;
}
a[href|="/dinkysad2"]{
  background-position:-400px -0px;
  width:160px;
  height:200px;
}
a[href|="/dinkysad3"]{
  background-position:-400px -200px;
  width:200px;
  height:137px;
}
a[href|="/dinkyscience"]{
  background-position:-400px -400px;
  width:150px;
  height:200px;
}
a[href|="/dinkysilly"]{
  background-position:-400px -600px;
  width:200px;
  height:160px;
}
a[href|="/dinkysleep"]{
  background-position:-400px -800px;
  width:200px;
  height:178px;
}
a[href|="/dinkyup"]{
  background-position:-400px -1000px;
  width:169px;
  height:200px;
}
a[href|="/ditzybaby"]{
  background-position:-400px -1200px;
  width:177px;
  height:200px;
}
a[href|="/ditzybasket"]{
  background-position:-400px -1400px;
  width:176px;
  height:200px;
}
a[href|="/pipdinky"]{
  background-position:-400px -1600px;
  width:191px;
  height:200px;
}
a[href|="/pipdinky2"]{
  background-position:-400px -1800px;
  width:200px;
  height:133px;
}