/* Subscriber/Here Now titles */

div.titlebox span.word {display:none}
div.titlebox .subscribers span.number:after {content:" band members"}
div.titlebox .users-online span.number:after {content:" making welcome posters"}

/* Background */

body {
  background: url(%%flashbg%%) no-repeat fixed center bottom;
}

/*
_________▄__________▄▄▄▄
_______▄██______▄▄██▀______▄▄▄▄
______█▓▓█___▄█▓▓█▀__▄███▓▓▓▓██▄
_____▐▓▓▓█_█▓▓▓█_▄██▓▓▓▓▓▓▓▓▓▓▓██▄
_____▐▓▓▓██▓▓▓▓██▓▓▓▓▓▓▒▒▒▓▓███▀▀▀▄
__▄__▐▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▓▓▓▓██▄
_▐▓▌_▐▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▓▒▒▓▓▓▓▓██▄
_▐▓▓██▓▓▓▓▓▓▓▓▓▓▓▓▓▓██▒▒▒▒▓▒▒▓▓▓▓▓▓▓█
__▐▓▓▓█▓▓▓▓▓▓▓▓▓████▒▒▓▒▒▒▒▓▒▒▓▓▓▓▓▓▓█
___█▓▓▓▓▓▓▓▓▓▓██▒▒▒▒▒▒▒▒▒▒▒▒▓▒▒▓▓▓█▀▀▀█
____▀█▓▓▓▓▓▓██▒▒▒▒▒▒▒▒▒▒▒▄▒▒▒▓▒▒▓▓▓▓█
_______██▓▓█▒▒▒▒▒▒▒▒▒▒▒▒▄▀▒▒▒▒▒▒▓▓▓▓▓▓█
_____▄█▓█▓█▒▒▒▒▒▄▒▒▒▒▒▄▀▀▄▒▒▒▒▒▓▒▓▓▓▓▓▓█
___▄█▀▄██▒▒▒▒▒▒▒▌▒▒▄█▀___██▒▒▒▒▒▒▒▓▓▓▓▓▓█
___█__██▒▒▒▒▒▒▒▒▐▄█▓▓███▄██▒▒▒▒▒▒▒▓▓▓█▀██
______█▓▄▀▀▄▒▒▒▒▒▀__▓▓█████▒▒▒▒▒▒▒▒▓▓▓▓█_▐
______▌_▓_▄▄▌▒▒▒▒▒___▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▓▓▓▓█
_________▓_██▒▒▒▒▒▒_____▓▓▓▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓█
__________▓_▓▒▒▒▒▒▒▒▒▒▒▒▒▒▄▀▀▀▄▒▒▒▒▒▒▓▓█▓▓█
_________▓▓▒▄▒▒▒▒▒▒▒▒▒▄▀▀▄▄░░░▌▓▒▒▒▒▒▓▓█▓█
________▓▓▒▒▒▒▒▒▄▄▄▄██_▀▀_▄▀▀▀▓▒▒▒▒▒▒▓▓█_█
__________▓▓▒▒▄▀▒_███▀▀▀▀▀▒▒▓▓▒▒▒▒▒▒▒▓▓█__▌
________▄▄▀▀▀___▄▄▀▒▒▒▒▓▓▓▓▓▒▒▒▒▒▒▒▒▒▓▓█
______▄█_▒▄▄▀▀▀▓▓▒▒▓▓▓_▓▒▒▒▒▒▒▒▒▒▒▒▒▒▓█
_______▀▀▀_________▓▓_____▓▒▒▒▒▒▒▒▒▒▒▒▓▓_█
__________________________▓▓▒▒▒▒▒▒▒▒▒▓▓_____▓
________________________▓__▓▒▒▒▒▒▓▓▓▓______▓
_______________________▓▓_▓▒▒▓▓▓__________▓
_______________________▓__▓▒▓_▄▓_________▓
_______________________▓_▐▓▓▓█▓▓______▓▓
_______________________▓▓▐▓▓▓█▀▓__▓▓▓
_______________________▓__███___▓▓▓
_________________________▐▓█▓▌
_________________________▐▓█▓▌
_________________________▐▓▓▓▓█
__________________________█▓▓▓▓█
___________________________█▓▓█
____________________________██
_____________________________▀
*/

/* Banner */

#header {
  height: 166px;
}

#header-bottom-left {
  position: absolute;
  bottom: 10
}

#header-img {
  top: 10px
}

/* Tab menu */

#header-bottom-left .tabmenu {
    position: absolute;
    bottom: 5px;
    left: 220px;
}

div#header-bottom-left ul.tabmenu {
  position: absolute;
  bottom: 6px;
}

/* Page Name */

.pagename {
  position: absolute;
  bottom: 5px;
  left: 225px;
}

.pagename a {
  position: absolute;
  bottom: 0px;
  left: -109px;
  display: inline block
}

/* Hide downvotes */

.down {
  display:none
}

/*Sidebar Buttons*/

body:not(.listing-page) .morelink {
  border-color: #000000!important;
  border-radius: 50px!important;
  background: none transparent;
  background-color: #FFFFFF;
  background:-webkit-linear-gradient(#434343, #111111)!important;
  background:-moz-linear-gradient(#434343, #111111)!important;
  background:-ms-linear-gradient(#434343, #111111)!important;
  background:-o-linear-gradient(#434343, #111111)!important;
  background:linear-gradient(#434343, #111111)!important;
  color: #FFFFFF;
}

body:not(.listing-page) .morelink a {
  color: #FDFDFD!important;
  text-shadow: 1px 1px 2px #000000;
}

body .morelink {
  border-radius: 50px!important;
  border: none;
  background: none transparent;
  background-color: #FFFFFF;
  background:-webkit-linear-gradient(#434343, #111111)!important;
  background:-moz-linear-gradient(#434343, #111111)!important;
  background:-ms-linear-gradient(#434343, #111111)!important;
  background:-o-linear-gradient(#434343, #111111)!important;
  background:linear-gradient(#434343, #111111)!important;
  font-weight: normal;
  letter-spacing: 0;
  height: 39px;
}

body .morelink:hover,
body:not(.listing-page) .morelink:hover {
  background: none transparent;
  background-color: #FFFFFF;
  background:-webkit-linear-gradient(#434343, #434343 25%, #fff 25%, #fff 50%, #cd0013 50%, #cd0013 75%, #434343 75%, #434343)!important;
  background:-moz-linear-gradient(#434343, #434343 25%, #f9fcf4 25%, #f9fcf4 50%, #d20011 50%, #d20011 75%, #434343 75%, #434343)!important;
  background:-o-linear-gradient(#434343, #b3ecff 25%, #f9fcf4 25%, #f9fcf4 50%, #d20011 50%, #d20011 75%, #434343 75%, #434343)!important;
  background:linear-gradient(#434343, #434343 25%, #F9FCF4 25%, #F9FCF4 50%, #D20011 50%, #D20011 75%, #434343 75%, #434343)!important;
  height: 39px;
}

body .morelink a {
  border-radius: 50px!important;
  color: #FFF!important;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 1px 1px 2px #0f0f0f;
  line-height: 39px;
  height: 100%;
  width: 100%;
  z-index:2
}

body .morelink a:hover {
  border-radius: 50px!important;
  color: #fff!important;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 1px 1px 2px #0f0f0f;
  line-height: 39px;
  height: 100%;
  width: 100%;
  z-index:2
}

body .morelink a:hover,
body:not(.listing-page) .morelink:hover a,
body:not(.listing-page) .morelink a:hover {
  color: #fff!important;
text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

body .morelink .nub,
body .morelink:hover .nub,
body .disabled .morelink .nub,
body .disabled .morelink:hover .nub {
  background: none transparent!important;
}

body .disabled .morelink,
body .disabled .morelink:hover {
  border: #000000!important;
  background: #eee none !important;
}

body .disabled .morelink a,
body .disabled .morelink a:hover {
  color: #aaa!important;
  text-shadow: none!important;
  cursor: default!important;
}

.morelink .nub {
display:none
}

/* Sidebar 'Create' */

.side .sidebox .spacer { visibility: hidden; display: none; }

/*Super Secret Flair*/

/* Flair Settings */

.flair {
  padding:0;
  background:url(%%flair-table%%);
  color:none;
  border:0;
  border-radius:0;
  display:inline-block;
  width:16px;
  height:16px;
  text-indent:-9999px;
  line-height: 240%;
}

.res-nightmode .tagline .flair {
  background-color:transparent!important;
}

/******************************************* Emotes ***********************************************/

a[href|="/ajlie"],a[href|="/priceless"],a[href|="/flutterjerk"],a[href|="/flutterroll"],a[href|="/twipride"],a[href|="/celestiamad"],a[href|="/twicrazy"],a[href|="/spikemeh"],a[href|="/lunateehee"],a[href|="/lunawait"],a[href|="/paperbagderpy"],a[href|="/paperbagwizard"],a[href|="/derpwizard"],a[href|="/abmeh"],a[href|="/ajhappy"],a[href|="/happlejack"],a[href|="/ppfear"],a[href|="/pinkiefear"],a[href|="/twibeam"],a[href|="/scootaderp"],a[href|="/didneyworl"],a[href|="/DIDNEYWORL"],a[href|="/raritydaww"],a[href|="/scootacheer"],a[href|="/lootascoo"],a[href|="/pinkieawe"],a[href|="/ppawe"],a[href|="/areyouawizard"],a[href|="/ajsup"],a[href|="/ajwhatsgood"],a[href|="/flutterwhoa"],a[href|="/flutterwoah"],a[href|="/rdcry"],a[href|="/silverspoon"],a[href|="/sspout"],a[href|="/ohcomeon"],a[href|="/sbcomeon"],a[href|="/ppcute"],a[href|="/cutiepie"],a[href|="/abbored"],a[href|="/abmerp"],a[href|="/rarityreally"],a[href|="/raritypaper"],a[href|="/raritynews"],a[href|="/sbbook"],a[href|="/sweetiebook"],a[href|="/sbook"],a[href|="/scootaplease"],a[href|="/scootappeal"],a[href|="/scootaplz"],a[href|="/applegasp"],a[href|="/twiright"],a[href|="/satistwied"],a[href|="/celestiawut"],a[href|="/wutlestia"],a[href|="/grannysmith"],a[href|="/granny"],a[href|="/oldmareyellsatcloud"],a[href|="/rarishock"],a[href|="/shiningarmor"],a[href|="/shiningarmour"],a[href|="/chrysalis"],a[href|="/queenchrysalis"],a[href|="/changelingqueen"],a[href|="/cadence"],a[href|="/cadance"],a[href|="/princesscadance"],a[href|="/princesscadence"],a[href|="/princessmiamorecadenza"],a[href|="/applederp"],a[href|="/rajlie"],a[href|="/rpriceless"],a[href|="/rflutterjerk"],a[href|="/rflutterroll"],a[href|="/rtwipride"],a[href|="/rcelestiamad"],a[href|="/rtwicrazy"],a[href|="/rspikemeh"],a[href|="/rlunateehee"],a[href|="/rlunawait"],a[href|="/rpaperbagderpy"],a[href|="/rpaperbagwizard"],a[href|="/rderpwizard"],a[href|="/rabmeh"],a[href|="/rajhappy"],a[href|="/rhapplejack"],a[href|="/rppfear"],a[href|="/rpinkiefear"],a[href|="/rtwibeam"],a[href|="/rscootaderp"],a[href|="/rdidneyworl"],a[href|="/rDIDNEYWORL"],a[href|="/rraritydaww"],a[href|="/rscootacheer"],a[href|="/rlootascoo"],a[href|="/rpinkieawe"],a[href|="/rppawe"],a[href|="/rareyouawizard"],a[href|="/rajsup"],a[href|="/rajwhatsgood"],a[href|="/rflutterwhoa"],a[href|="/rflutterwoah"],a[href|="/rrdcry"],a[href|="/rsilverspoon"],a[href|="/rsspout"],a[href|="/rohcomeon"],a[href|="/rsbcomeon"],a[href|="/rppcute"],a[href|="/rcutiepie"],a[href|="/rabbored"],a[href|="/rabmerp"],a[href|="/rrarityreally"],a[href|="/rraritypaper"],a[href|="/rraritynews"],a[href|="/rsbbook"],a[href|="/rsweetiebook"],a[href|="/rsbook"],a[href|="/rscootaplease"],a[href|="/rscootappeal"],a[href|="/rscootaplz"],a[href|="/rapplegasp"],a[href|="/rtwiright"],a[href|="/rsatistwied"],a[href|="/rcelestiawut"],a[href|="/rwutlestia"],a[href|="/rgrannysmith"],a[href|="/rgranny"],a[href|="/roldmareyellsatcloud"],a[href|="/rrarishock"],a[href|="/rshiningarmor"],a[href|="/rshiningarmour"],a[href|="/rchrysalis"],a[href|="/rqueenchrysalis"],a[href|="/rchangelingqueen"],a[href|="/rcadence"],a[href|="/rcadance"],a[href|="/rprincesscadance"],a[href|="/rprincesscadence"],a[href|="/rprincessmiamorecadenza"],a[href|="/rapplederp"] {
  display:block;
  clear:none;
  float:left;
  width:70px;
  height:70px;
  background-image:url(%%amotes%%)!important;
}

a[href|="/swagintosh"],a[href|="/a24"],a[href|="/rswagintosh"],a[href|="/ra24"] {
  display:block;
  clear:none;
  float:left;
  width:70px;
  height:70px;
  background-image:url(%%swagintosh-sheet%%)!important;
}

a[href|="/flutterfear"],a[href|="/ppboring"],a[href|="/rarityyell"],a[href|="/fluttershy"],a[href|="/ajcower"],a[href|="/ajsly"],a[href|="/eeyup"],a[href|="/rdsmile"],a[href|="/fluttersrs"],a[href|="/raritydress"],a[href|="/takealetter"],a[href|="/rdwut"],a[href|="/ppshrug"],a[href|="/spikenervous"],a[href|="/newrainbowdash"],a[href|="/noooo"],a[href|="/dj"],a[href|="/threedog"],a[href|="/fluttershh"],a[href|="/flutteryay"],a[href|="/squintyjack"],a[href|="/spikepushy"],a[href|="/ajugh"],a[href|="/raritywut"],a[href|="/dumbfabric"],a[href|="/raritywhy"],a[href|="/trixiesmug"],a[href|="/flutterwink"],a[href|="/rarityannoyed"],a[href|="/soawesome"],a[href|="/ajwut"],a[href|="/twisquint"],a[href|="/raritywhine"],a[href|="/rdcool"],a[href|="/abwut"],a[href|="/manspike"],a[href|="/cockatrice"],a[href|="/facehoof"],a[href|="/rarityjudge"],a[href|="/rarityprimp"],a[href|="/twirage"],a[href|="/ppseesyou"],a[href|="/rflutterfear"],a[href|="/rppboring"],a[href|="/rrarityyell"],a[href|="/rfluttershy"],a[href|="/rajcower"],a[href|="/rajsly"],a[href|="/reeyup"],a[href|="/rrdsmile"],a[href|="/rfluttersrs"],a[href|="/rraritydress"],a[href|="/rtakealetter"],a[href|="/rrdwut"],a[href|="/rppshrug"],a[href|="/rspikenervous"],a[href|="/rnewrainbowdash"],a[href|="/rnoooo"],a[href|="/rdj"],a[href|="/rthreedog"],a[href|="/rfluttershh"],a[href|="/rflutteryay"],a[href|="/rsquintyjack"],a[href|="/rspikepushy"],a[href|="/rajugh"],a[href|="/rraritywut"],a[href|="/rdumbfabric"],a[href|="/rraritywhy"],a[href|="/rtrixiesmug"],a[href|="/rflutterwink"],a[href|="/rrarityannoyed"],a[href|="/rsoawesome"],a[href|="/rajwut"],a[href|="/rtwisquint"],a[href|="/rraritywhine"],a[href|="/rrdcool"],a[href|="/rabwut"],a[href|="/rmanspike"],a[href|="/rcockatrice"],a[href|="/rfacehoof"],a[href|="/rrarityjudge"],a[href|="/rrarityprimp"],a[href|="/rtwirage"],a[href|="/rppseesyou"] {
  display:block;
  clear:none;
  float:left;
  width:70px;
  height:70px;
  background-image:url(%%bmotes%%)!important;
}

a[href|="/rdsitting"],a[href|="/rdhappy"],a[href|="/rdannoyed"],a[href|="/trixiesad"],a[href|="/twismug"],a[href|="/twismile"],a[href|="/twistare"],a[href|="/changeling"],a[href|="/ohhi"],a[href|="/party"],a[href|="/hahaha"],a[href|="/rdscared"],a[href|="/flutterblush"],a[href|="/gross"],a[href|="/derpyhappy"],a[href|="/twidaw"],a[href|="/ajfrown"],a[href|="/hmmm"],a[href|="/joy"],a[href|="/whattheflut"],a[href|="/raritysad"],a[href|="/fabulous"],a[href|="/derp"],a[href|="/cadencesmile"],a[href|="/cadancesmile"],a[href|="/shiningpride"],a[href|="/louder"],a[href|="/lunasad"],a[href|="/derpyshock"],a[href|="/pinkamina"],a[href|="/loveme"],a[href|="/lunagasp"],a[href|="/scootaloo"],a[href|="/fluttercry"],a[href|="/celestia"],a[href|="/angel"],a[href|="/allmybits"],a[href|="/sneakybelle"],a[href|="/ppreally"],a[href|="/zecora"],a[href|="/photofinish"],a[href|="/rrdsitting"],a[href|="/rrdhappy"],a[href|="/rrdannoyed"],a[href|="/rtrixiesad"],a[href|="/rtwismug"],a[href|="/rtwismile"],a[href|="/rtwistare"],a[href|="/rchangeling"],a[href|="/rohhi"],a[href|="/rparty"],a[href|="/rhahaha"],a[href|="/rrdscared"],a[href|="/rflutterblush"],a[href|="/rgross"],a[href|="/rderpyhappy"],a[href|="/rtwidaw"],a[href|="/rajfrown"],a[href|="/rhmmm"],a[href|="/rjoy"],a[href|="/rwhattheflut"],a[href|="/rraritysad"],a[href|="/rfabulous"],a[href|="/rderp"],a[href|="/rcadencesmile"],a[href|="/rcadancesmile"],a[href|="/rshiningpride"],a[href|="/rlouder"],a[href|="/rlunasad"],a[href|="/rderpyshock"],a[href|="/rpinkamina"],a[href|="/rloveme"],a[href|="/rlunagasp"],a[href|="/rscootaloo"],a[href|="/rfluttercry"],a[href|="/rcelestia"],a[href|="/rangel"],a[href|="/rallmybits"],a[href|="/rsneakybelle"],a[href|="/rzecora"],a[href|="/rphotofinish"],a[href|="/rppreally"] {
  display:block;
  clear:none;
  float:left;
  width:70px;
  height:70px;
  background-image:url(%%cmotes%%)!important;
}

a[href|="/fillytgap"],a[href|="/rdhuh"],a[href|="/snails"],a[href|="/twisad"],a[href|="/lyra"],a[href|="/bonbon"],a[href|="/spitfire"],a[href|="/cutealoo"],a[href|="/happyluna"],a[href|="/lunahappy"],a[href|="/sotrue"],a[href|="/wahaha"],a[href|="/sbstare"],a[href|="/berry"],a[href|="/punchdrunk"],a[href|="/huhhuh"],a[href|="/absmile"],a[href|="/dealwithit"],a[href|="/nmm"],a[href|="/blacksnooty"],a[href|="/queenmeanie"],a[href|="/hokeysmokes"],a[href|="/e05"],a[href|="/whooves"],a[href|="/rdsalute"],a[href|="/octavia"],a[href|="/whomeverthisis"],a[href|="/colgate"],a[href|="/cheerilee"],a[href|="/ajconfused"],a[href|="/ajbaffle"],a[href|="/ajtherapy"],a[href|="/abhuh"],a[href|="/lily"],a[href|="/thehorror"],a[href|="/twiponder"],a[href|="/spikewtf"],a[href|="/awwyeah"],a[href|="/gilda"],a[href|="/discentia"],a[href|="/discentiastare"],a[href|="/disstare"],a[href|="/macintears"],a[href|="/bigmactears"],a[href|="/lunamad"],a[href|="/discordsad"],a[href|="/maud"],a[href|="/pinkiepout"],a[href|="/rfillytgap"],a[href|="/rrdhuh"],a[href|="/rsnails"],a[href|="/rtwisad"],a[href|="/rlyra"],a[href|="/rbonbon"],a[href|="/rspitfire"],a[href|="/rcutealoo"],a[href|="/rhappyluna"],a[href|="/rlunahappy"],a[href|="/rsotrue"],a[href|="/rwahaha"],a[href|="/rsbstare"],a[href|="/rberry"],a[href|="/rpunchdrunk"],a[href|="/rhuhhuh"],a[href|="/rabsmile"],a[href|="/rdealwithit"],a[href|="/rnmm"],a[href|="/rblacksnooty"],a[href|="/rqueenmeanie"],a[href|="/rhokeysmokes"],a[href|="/rwhooves"],a[href|="/rrdsalute"],a[href|="/roctavia"],a[href|="/rwhomeverthisis"],a[href|="/rcolgate"],a[href|="/rcheerilee"],a[href|="/rajconfused"],a[href|="/rajbaffle"],a[href|="/rajtherapy"],a[href|="/rabhuh"],a[href|="/rlily"],a[href|="/rthehorror"],a[href|="/rtwiponder"],a[href|="/rspikewtf"],a[href|="/rawwyeah"],a[href|="/rgilda"],a[href|="/rdiscentia"],a[href|="/rdiscentiastare"],a[href|="/rdisstare"],a[href|="/rmacintears"],a[href|="/rbigmactears"],a[href|="/rlunamad"],a[href|="/rdiscordsad"],a[href|="/rmaud"],a[href|="/rpinkiepout"],a[href|="/twisecret"],a[href|="/twiaside"],a[href|="/smackafilly"],a[href|="/sunsetshimmer"],a[href|="/ssshimmer"],a[href|="/sunsetsneaky"],a[href|="/sneakysunset"],a[href|="/sneakyss"],a[href|="/scootablue"],a[href|="/orphan"],a[href|="/noparents"],a[href|="/spikehappy"],a[href|="/rtwisecret"],a[href|="/rtwiaside"],a[href|="/rsmackafilly"],a[href|="/rsunsetshimmer"],a[href|="/rssshimmer"],a[href|="/rsunsetsneaky"],a[href|="/rsneakysunset"],a[href|="/rsneakyss"],a[href|="/rscootablue"],a[href|="/rorphan"],a[href|="/rnoparents"],a[href|="/rspikehappy"] {
  display:block;
  clear:none;
  float:left;
  width:70px;
  height:70px;
  background-image:url(%%emotes%%)!important;
}

a[href|="/pinkiesad"],a[href|="/ppsad"],a[href|="/diamondtiara"],a[href|="/dt"],a[href|="/sombra"],a[href|="/sbshocked"],a[href|="/guard"],a[href|="/abstern"],a[href|="/apathia"],a[href|="/rpinkiesad"],a[href|="/rppsad"],a[href|="/rdiamondtiara"],a[href|="/rdt"],a[href|="/rsombra"],a[href|="/rsbshocked"],a[href|="/rguard"],a[href|="/rabstern"],a[href|="/rapathia"]{
 display:block;
 clear:none;
 float:left;
 width:70px;
 height:70px;
 background-image:url(%%fmotes%%)!important;
}

a[href|="/smooze"],a[href|="/rsmooze"] {
  display:block;
  clear:none;
  float:left;
  width:70px;
  height:70px;
  background-image:url(%%smooze%%)!important;
}

a[href|="/twipride"],a[href|="/rtwipride"],a[href|="/ajcower"],a[href|="/rajcower"],a[href|="/twismug"],a[href|="/rtwismug"],a[href|="/lyra"],a[href|="/rlyra"],a[href|="/diamondtiara"], a[href|="/dt"],a[href|="/rdiamondtiara"],a[href|="/rdt"],a[href|="/flashonduty"],.flair-pinkiepie, .side .md table tr:nth-of-type(3) td:nth-of-type(1):after {
  background-position:0 -100%;
}

a[href|="/lunateehee"],a[href|="/rlunateehee"],a[href|="/fluttersrs"],a[href|="/rfluttersrs"],a[href|="/ohhi"],a[href|="/rohhi"],a[href|="/cutealoo"],a[href|="/rcutealoo"],a[href|="/sombra"],a[href|="/rsombra"],a[href|="/confusedflash"],a[href|="/confusedfs"],a[href|="/puzzledflash"],.flair-luna,.side .md table tr:nth-of-type(5) td:nth-of-type(1):after {
  background-position:0 -200%;
}

a[href|="/ajhappy"],a[href|="/happlejack"],a[href|="/ppshrug"],a[href|="/flutterblush"],a[href|="/wahaha"],a[href|="/sbshocked"],a[href|="/suspiciousflash"],a[href|="/suspiciousfs"],.flair-lyra,.side .md table tr:nth-of-type(7) td:nth-of-type(1):after {
  background-position:0 -300%;
}

a[href|="/raritydaww"],a[href|="/rraritydaww"],a[href|="/fluttershh"],a[href|="/rfluttershh"],a[href|="/ajfrown"],a[href|="/rajfrown"],a[href|="/huhhuh"],a[href|="/rhuhhuh"],a[href|="/guard"],a[href|="/rguard"],.flair-mac,.side .md table tr:nth-of-type(9) td:nth-of-type(1):after {
  background-position:0 -400%;
}

a[href|="/ajsup"],a[href|="/ajwhatsgood"],a[href|="/rajsup"],a[href|="/rajwhatsgood"],a[href|="/ajugh"],a[href|="/rajugh"],a[href|="/raritysad"],a[href|="/rraritysad"],a[href|="/nmm"],a[href|="/blacksnooty"],a[href|="/queenmeanie"],a[href|="/hokeysmokes"],a[href|="/rnmm"],a[href|="/rblacksnooty"],a[href|="/rqueenmeanie"],a[href|="/rhokeysmokes"],a[href|="/abstern"],a[href|="/rabstern"],.side .md table tr:nth-of-type(11) td:nth-of-type(1):after,.flair-roseluck {
  background-position:0 -500%;
}

a[href|="/ohcomeon"],a[href|="/sbcomeon"],a[href|="/rohcomeon"],a[href|="/rsbcomeon"],a[href|="/trixiesmug"],a[href|="/rtrixiesmug"],a[href|="/louder"],a[href|="/rlouder"],a[href|="/octavia"],a[href|="/whomeverthisis"],a[href|="/roctavia"],a[href|="/rwhomeverthisis"],a[href|="/apathia"],a[href|="/rapathia"],.side .md table tr:nth-of-type(13) td:nth-of-type(1):after,.flair-screwball {
  background-position:0 -600%;
}

a[href|="/raritypaper"],a[href|="/raritynews"],a[href|="/rraritypaper"],a[href|="/rraritynews"],a[href|="/ajwut"],a[href|="/rajwut"],a[href|="/pinkamina"],a[href|="/rpinkamina"],a[href|="/ajconfused"],a[href|="/ajbaffle"],a[href|="/ajtherapy"],a[href|="/rajconfused"],a[href|="/rajbaffle"],a[href|="/rajtherapy"],a[href|="/ajcry"],a[href|="/rajcry"],.side .md table tr:nth-of-type(15) td:nth-of-type(1):after,.flair-wonderbolts {
  background-position:0 -700%;
}

a[href|="/twiright"],a[href|="/satistwied"],a[href|="/rtwiright"],a[href|="/rsatistwied"],a[href|="/abwut"],a[href|="/rabwut"],a[href|="/scootaloo"],a[href|="/rscootaloo"],a[href|="/twiponder"],a[href|="/rtwiponder"],a[href|="/rarityeww"],a[href|="/rrarityeww"],.side .md table tr:nth-of-type(17) td:nth-of-type(1):after,.flair-sweetiebelle {
  background-position:0 -800%;
}

a[href|="/shiningarmor"],a[href|="/shiningarmour"],a[href|="/rshiningarmor"],a[href|="/rshiningarmour"],a[href|="/rarityjudge"],a[href|="/rrarityjudge"],a[href|="/allmybits"],a[href|="/rallmybits"],a[href|="/gilda"],a[href|="/rgilda"],a[href|="/flutterkay"],a[href|="/flutter:I"],a[href|="/pokershy"],a[href|="/rflutterkay"],a[href|="/rflutter:I"],a[href|="/rpokershy"],.flair-blueblood {
  background-position:0 -900%;
}

.flair-flam {
  background-position:0 -1000%;
}

.flair-snips {
  background-position:0 -1100%;
}

.flair-sparkler {
  background-position:0 -1200%;
}

.flair-cadence {
  background-position:0 -1300%;
}

.flair-cloudchaser {
  background-position:0 -1400%;
}

.flair-daisy {
  background-position:0 -1500%;
}

.flair-drstable {
  background-position:0 -1600%;
}

.flair-silverstar {
  background-position:0 -1700%;
}

.flair-sunsetshimmer
{background-position:0 -1800%}

.flair-thunderlane
{background-position:0 -1900%}

.flair-starlightglimmer
{background-position:0 -2000%}

.flair-nightglider
{background-position:0 -2100%}

.flair-surprise
{background-position:0 -2200%}

.flair-lightning
{background-position:0 -2300%}

.flair-ariablaze
{background-position:0 -2400%}

a[href|="/priceless"],a[href|="/rpriceless"],a[href|="/ppboring"],a[href|="/rppboring"],a[href|="/rdhappy"],a[href|="/rrdhappy"],a[href|="/rdhuh"],a[href|="/rrdhuh"],a[href|="/starlightrage"],a[href|="/rstarlightrage"],a[href|="/embarrassedflash"],a[href|="/embarrassedfs"],.flair-twilight,.side .md table tr:nth-of-type(1) td:nth-of-type(2):after {
  background-position:-100% 0;
}

a[href|="/celestiamad"],a[href|="/rcelestiamad"],a[href|="/ajsly"],a[href|="/rajsly"],a[href|="/twismile"],a[href|="/rtwismile"],a[href|="/bonbon"],a[href|="/rbonbon"],a[href|="/flatteredflash"],a[href|="/flatteredfs"],.flair-rarity,.side .md table tr:nth-of-type(3) td:nth-of-type(2):after {
  background-position:-100% -100%;
}

a[href|="/lunawait"],a[href|="/rlunawait"],a[href|="/raritydress"],a[href|="/rraritydress"],a[href|="/party"],a[href|="/rparty"],a[href|="/happyluna"],a[href|="/lunahappy"],a[href|="/rhappyluna"],a[href|="/rlunahappy"],a[href|="/seriously"],a[href|="/flashseriously"],a[href|="/fsseriously"],.flair-celestia,.side .md table tr:nth-of-type(5) td:nth-of-type(2):after {
  background-position:-100% -200%;
}

a[href|="/ppfear"],a[href|="/pinkiefear"],a[href|="/rppfear"],a[href|="/rpinkiefear"],a[href|="/spikenervous"],a[href|="/newrainbowdash"],a[href|="/rspikenervous"],a[href|="/rnewrainbowdash"],a[href|="/gross"],a[href|="/rgross"],a[href|="/sbstare"],a[href|="/rsbstare"],.flair-bonbon,.side .md table tr:nth-of-type(7) td:nth-of-type(2):after {
  background-position:-100% -300%;
}

a[href|="/scootacheer"],a[href|="/lootascoo"],a[href|="/rscootacheer"],a[href|="/rlootascoo"],a[href|="/flutteryay"],a[href|="/rflutteryay"],a[href|="/hmmm"],a[href|="/rhmmm"],a[href|="/absmile"],a[href|="/rabsmile"],.flair-colgate,.side .md table tr:nth-of-type(9) td:nth-of-type(2):after {
  background-position:-100% -400%;
}

a[href|="/flutterwhoa"],a[href|="/flutterwoah"],a[href|="/rflutterwhoa"],a[href|="/rflutterwoah"],a[href|="/raritywut"],a[href|="/rraritywut"],a[href|="/fabulous"],a[href|="/rfabulous"],a[href|="/whooves"],a[href|="/rwhooves"],.side .md table tr:nth-of-type(11) td:nth-of-type(2):after,.flair-zecora {
  background-position:-100% -500%;
}

a[href|="/ppcute"],a[href|="/cutiepie"],a[href|="/rppcute"],a[href|="/rcutiepie"],a[href|="/flutterwink"],a[href|="/rflutterwink"],a[href|="/lunasad"],a[href|="/rlunasad"],a[href|="/colgate"],a[href|="/rcolgate"],.side .md table tr:nth-of-type(13) td:nth-of-type(2):after,.flair-redheart {
  background-position:-100% -600%;
}

a[href|="/sbbook"],a[href|="/sweetiebook"],a[href|="/sbook"],a[href|="/rsbbook"],a[href|="/rsweetiebook"],a[href|="/rsbook"],a[href|="/twisquint"],a[href|="/rtwisquint"],a[href|="/loveme"],a[href|="/rloveme"],a[href|="/abhuh"],a[href|="/rabhuh"],.side .md table tr:nth-of-type(15) td:nth-of-type(2):after,.flair-shadowbolts {
  background-position:-100% -700%;
}

a[href|="/celestiawut"],a[href|="/wutlestia"],a[href|="/rcelestiawut"],a[href|="/rwutlestia"],a[href|="/manspike"],a[href|="/rmanspike"],a[href|="/celestia"],a[href|="/rcelestia"],a[href|="/spikewtf"],a[href|="/rspikewtf"],.side .md table tr:nth-of-type(17) td:nth-of-type(2):after,.flair-davenport {
  background-position:-100% -800%;
}

a[href|="/chrysalis"],a[href|="/queenchrysalis"],a[href|="/changelingqueen"],a[href|="/rchrysalis"],a[href|="/rqueenchrysalis"],a[href|="/rchangelingqueen"],a[href|="/rarityprimp"],a[href|="/rrarityprimp"],a[href|="/zecora"],a[href|="/rzecora"],a[href|="/discentia"],a[href|="/discentiastare"],a[href|="/disstare"],a[href|="/rdiscentia"],a[href|="/rdiscentiastare"],a[href|="/rdisstare"],.flair-daring {
  background-position:-100% -900%;}

.flair-flim {
  background-position:-100% -1000%;}

.flair-snails {
  background-position:-100% -1100%;}

.flair-disco {
  background-position:-100% -1200%;}

.flair-shiningarmor {
  background-position:-100% -1300%;}

.flair-flitter {
  background-position:-100% -1400%;}

.flair-chrysalis {
  background-position:-100% -1500%;}

.flair-sewnsow {
  background-position:-100% -1600%;}

.flair-soarin {
  background-position:-100% -1700%;}

.flair-cheesesandwich
{background-position:-100% -1800%}

.flair-applefritter
{background-position:-100% -1900%}

.flair-equality
{background-position:-100% -2000%}

.flair-partyfavor
{background-position:-100% -2100%}

.flair-snowdrop
{background-position:-100% -2200%}

.flair-peachbottom
{background-position:-100% -2300%}

.flair-sonatadusk
{background-position:-100% -2400%}

a[href|="/flutterjerk"],a[href|="/rflutterjerk"],a[href|="/rarityyell"],a[href|="/rrarityyell"],a[href|="/rdannoyed"],a[href|="/rrdannoyed"],a[href|="/snails"],a[href|="/rsnails"],a[href|="/noproblem"],a[href|="/fsnoproblem"],a[href|="/fsdetermination"],a[href|="/waifustealer"],.flair-fluttershy,.side .md table tr:nth-of-type(1) td:nth-of-type(3):after {
  background-position:-200% 0;
}

a[href|="/twicrazy"],a[href|="/rtwicrazy"],a[href|="/eeyup"],a[href|="/reeyup"],a[href|="/twistare"],a[href|="/rtwistare"],a[href|="/spitfire"],a[href|="/rspitfire"],a[href|="/proudflash"],a[href|="/proudfs"],.flair-trixie,.side .md table tr:nth-of-type(3) td:nth-of-type(3):after {
  background-position:-200% -100%;
}

a[href|="/paperbagderpy"],a[href|="/paperbagwizard"],a[href|="/derpwizard"],a[href|="/rpaperbagderpy"],a[href|="/rpaperbagwizard"],a[href|="/rderpwizard"],a[href|="/takealetter"],a[href|="/rtakealetter"],a[href|="/hahaha"],a[href|="/rhahaha"],a[href|="/sotrue"],a[href|="/rsotrue"],a[href|="/squintyflash"],a[href|="/squintyfs"],.flair-derpy,.side .md table tr:nth-of-type(5) td:nth-of-type(3):after {
  background-position:-200% -200%;
}

a[href|="/twibeam"],a[href|="/rtwibeam"],a[href|="/noooo"],a[href|="/rnoooo"],a[href|="/derpyhappy"],a[href|="/rderpyhappy"],a[href|="/berry"],a[href|="/punchdrunk"],a[href|="/rberry"],a[href|="/rpunchdrunk"],.flair-octavia,.side .md table tr:nth-of-type(7) td:nth-of-type(3):after {
  background-position:-200% -300%;
}

a[href|="/squintyjack"],a[href|="/rsquintyjack"],a[href|="/joy"],a[href|="/rjoy"],a[href|="/dealwithit"],a[href|="/rdealwithit"],.flair-berry,.side .md table tr:nth-of-type(9) td:nth-of-type(3):after {
  background-position:-200% -400%;
}

a[href|="/rdcry"],a[href|="/rrdcry"],a[href|="/dumbfabric"],a[href|="/rdumbfabric"],a[href|="/derp"],a[href|="/rderp"],a[href|="/rdsalute"],a[href|="/rrdsalute"],.side .md table tr:nth-of-type(11) td:nth-of-type(3):after,.flair-seafoam {
  background-position:-200% -500%;
}

a[href|="/abbored"],a[href|="/abmerp"],a[href|="/rabbored"],a[href|="/rabmerp"],a[href|="/rarityannoyed"],a[href|="/rrarityannoyed"],a[href|="/derpyshock"],a[href|="/rderpyshock"],a[href|="/cheerilee"],a[href|="/rcheerilee"],.side .md table tr:nth-of-type(13) td:nth-of-type(3):after,.flair-caramel {
  background-position:-200% -600%;
}

a[href|="/scootaplease"],a[href|="/scootappeal"],a[href|="/scootaplz"],a[href|="/rscootaplease"],a[href|="/rscootappeal"],a[href|="/rscootaplz"],a[href|="/raritywhine"],a[href|="/rraritywhine"],a[href|="/lunagasp"],a[href|="/rlunagasp"],a[href|="/lily"],a[href|="/thehorror"],a[href|="/rlily"],a[href|="/rthehorror"],.side .md table tr:nth-of-type(15) td:nth-of-type(3):after,.flair-scootaloo {
  background-position:-200% -700%;
}

a[href|="/grannysmith"],a[href|="/granny"],a[href|="/oldmareyellsatcloud"],a[href|="/rgrannysmith"],a[href|="/rgranny"],a[href|="/roldmareyellsatcloud"],a[href|="/cockatrice"],a[href|="/rcockatrice"],a[href|="/angel"],a[href|="/rangel"],a[href|="/awwyeah"],a[href|="/rawwyeah"],.flair-cheerilee {
  background-position:-200% -800%;
}

a[href|="/cadence"],a[href|="/cadance"],a[href|="/princesscadance"],a[href|="/princesscadence"],a[href|="/princessmiamorecadenza"],a[href|="/rcadence"],a[href|="/rcadance"],a[href|="/rprincesscadance"],a[href|="/rprincesscadence"],a[href|="/rprincessmiamorecadenza"],a[href|="/twirage"],a[href|="/rtwirage"],a[href|="/photofinish"],a[href|="/rphotofinish"],a[href|="/macintears"],a[href|="/bigmactears"],a[href|="/rmacintears"],a[href|="/rbigmactears"],.flair-mrcake {
  background-position:-200% -900%;
}

.flair-silverspoon {
  background-position:-200% -1000%;
}

.flair-twist {
  background-position:-200% -1100%;
}

.flair-fancypants {
  background-position:-200% -1200%;
}

.flair-filthyrich {
  background-position:-200% -1300%;
}

.flair-lily {
  background-position:-200% -1400%;
}

.flair-lotus {
  background-position:-200% -1500%;
}

.flair-spitfire {
  background-position:-200% -1600%;
}

.flair-maud
{background-position:-200% -1700%}

.flair-flashsentry
{background-position:-200% -1800%}

.flair-flutterbat
{background-position:-200% -1900%}

.flair-doublediamond
{background-position:-200% -2000%}

.flair-troubleshoes
{background-position:-200% -2100%}

.flair-roidrage
{background-position:-200% -2200%}

.flair-harshwhinny
{background-position:-200% -2300%}

a[href|="/flutterroll"],a[href|="/rflutterroll"],a[href|="/fluttershy"],a[href|="/rfluttershy"],a[href|="/trixiesad"],a[href|="/rtrixiesad"],a[href|="/twisad"],a[href|="/rtwisad"],a[href|="/flashapproves"],a[href|="/fsapproves"],.flair-applejack,.side .md table tr:nth-of-type(1) td:nth-of-type(4):after {
  background-position:-300% 0;
}

a[href|="/spikemeh"],a[href|="/rspikemeh"],a[href|="/rdsmile"],a[href|="/rrdsmile"],a[href|="/changeling"],a[href|="/rchangeling"],a[href|="/lunamad"],a[href|="/rlunamad"],a[href|="/cuteflash"],a[href|="/cutefs"],.flair-cmc,.flair-cmcchinchy,.side .md table tr:nth-of-type(3) td:nth-of-type(4):after {
  background-position:-300% -100%;
}

a[href|="/abmeh"],a[href|="/rabmeh"],a[href|="/rdwut"],a[href|="/rrdwut"],a[href|="/rdscared"],a[href|="/rrdscared"],a[href|="/discordsad"],a[href|="/rdiscordsad"],a[href|="/zombieflash"],a[href|="/zombiefs"],.flair-vinyl,.side .md table tr:nth-of-type(5) td:nth-of-type(4):after {
  background-position:-300% -200%;
}

a[href|="/scootaderp"],a[href|="/didneyworl"],a[href|="/DIDNEYWORL"],a[href|="/rscootaderp"],a[href|="/rdidneyworl"],a[href|="/rDIDNEYWORL"],a[href|="/twidaw"],a[href|="/rtwidaw"],a[href|="/dj"],a[href|="/threedog"],a[href|="/rdj"],a[href|="/rthreedog"],a[href|="/maud"],a[href|="/rmaud"],.flair-doctor,.side .md table tr:nth-of-type(7) td:nth-of-type(4):after {
  background-position:-300% -300%;
}

a[href|="/pinkieawe"],a[href|="/ppawe"],a[href|="/areyouawizard"],a[href|="/rpinkieawe"],a[href|="/rppawe"],a[href|="/rareyouawizard"],a[href|="/spikepushy"],a[href|="/rspikepushy"],a[href|="/whattheflut"],a[href|="/rwhattheflut"],a[href|="/pinkiepout"],a[href|="/rpinkiepout"],.flair-pokey,.side .md table tr:nth-of-type(9) td:nth-of-type(4):after {
  background-position:-300% -400%;
}

a[href|="/silverspoon"],a[href|="/sspout"],a[href|="/rsilverspoon"],a[href|="/rsspout"],a[href|="/raritywhy"],a[href|="/rraritywhy"],a[href|="/cadencesmile"],a[href|="/rcadencesmile"],a[href|="/cadancesmile"],a[href|="/rcadancesmile"],a[href|="/twisecret"],a[href|="/twiaside"],a[href|="/smackafilly"],a[href|="/rtwisecret"],a[href|="/rtwiaside"],a[href|="/rsmackafilly"],.side .md table tr:nth-of-type(11) td:nth-of-type(4):after,.flair-carrottop {
  background-position:-300% -500%;
}

a[href|="/rarityreally"],a[href|="/rrarityreally"],a[href|="/soawesome"],a[href|="/rsoawesome"],a[href|="/shiningpride"],a[href|="/rshiningpride"],a[href|="/sunsetshimmer"],a[href|="/ssshimmer"],a[href|="/rsunsetshimmer"],a[href|="/rssshimmer"],.side .md table tr:nth-of-type(13) td:nth-of-type(4):after,.flair-braeburn {
  background-position:-300% -600%;
}

a[href|="/applegasp"],a[href|="/rapplegasp"],a[href|="/rdcool"],a[href|="/rrdcool"],a[href|="/fluttercry"],a[href|="/rfluttercry"],.side .md table tr:nth-of-type(15) td:nth-of-type(4):after,.flair-applebloom {
  background-position:-300% -700%;
}

a[href|="/rarishock"],a[href|="/rrarishock"],a[href|="/facehoof"],a[href|="/rfacehoof"],a[href|="/sneakybelle"],a[href|="/rsneakybelle"],a[href|="/scootablue"],a[href|="/rscootablue"],a[href|="/orphan"],a[href|="/noparents"],a[href|="/rorphan"],a[href|="/rnoparents"],a[href|="/rsunsetsneaky"],a[href|="/rsneakysunset"],a[href|="/rsneakyss"],.flair-nightmaremoon {
  background-position:-300% -800%;
}

a[href|="/applederp"],a[href|="/rapplederp"],a[href|="/ppseesyou"],a[href|="/rppseesyou"],a[href|="/ppreally"],a[href|="/rppreally"],a[href|="/spikehappy"],a[href|="/rspikehappy"],.flair-mrscake,a[href|="/spaceholder"] {
  background-position:-300% -900%;
}

.flair-diamondtiara {
  background-position:-300% -1000%;
}

.flair-gaben {
  background-position:-300% -1100%;
}

.flair-fleur {
  background-position:-300% -1200%;
}

.flair-hoitytoity {
  background-position:-300% -1300%;
}

.flair-grannysmith {
  background-position:-300% -1400%;
}

.flair-aloe {
  background-position:-300% -1500%;
}

.flair-mayor {
  background-position:-300% -1600%;
}

.flair-spike
{background-position:-300% -1700%}

.flair-coco
{background-position:-300% -1800%}

.flair-blossomforth
{background-position:-300% -1900%}

.flair-sugarbelle
{background-position:-300% -2000%}

.flair-discord
{background-position:-300% -2200%}

.flair-adagiodazzle
{background-position:-300% -2300%}

START-PONYSCRIPT-IGNORE { color: red; }

a[href|="/spaceholder"] {
  display:block;
  clear:none;
  float:right;
  width:70px;
  height:70px;
  background-image:url(%%fmotes%%)!important;
}

a[href^="/spaceholder"][href*="-combine"]{
  z-index:1;
  position:relative;
}
a[href^="/spaceholder"][href*="-combine"]+a{
  z-index: 2;
  float:right!important;
  position:relative;
  right:-70px;
  margin-bottom: -999px;
}

a[href="/s"] {
  color: #222222; 
  background: #CCCCCC;
} 

a[href="/s"]:hover {
  color: #8F8F8F 
} 

a[href="/s"]::after { 
  content: attr(title);
  background: #CCCCCC;
  color: #CCCCCC;
  padding: 0px 10px 0px 10px;
}

a[href="/s"]:hover::after {
  color: black;
}

a[href^="/domain"] {
  -webkit-transform: unset !important;
  -moz-transform: unset !important;
  -ms-transform: unset !important;
  -o-transform: unset !important;
  transform: unset !important;
}

a[href|="/rajlie"],a[href|="/rpriceless"],a[href|="/rflutterjerk"],a[href|="/rflutterroll"],a[href|="/rtwipride"],a[href|="/rcelestiamad"],a[href|="/rtwicrazy"],a[href|="/rspikemeh"],a[href|="/rlunateehee"],a[href|="/rlunawait"],a[href|="/rpaperbagderpy"],a[href|="/rpaperbagwizard"],a[href|="/rderpwizard"],a[href|="/rabmeh"],a[href|="/rajhappy"],a[href|="/rhapplejack"],a[href|="/rppfear"],a[href|="/rpinkiefear"],a[href|="/rtwibeam"],a[href|="/rscootaderp"],a[href|="/rdidneyworl"],a[href|="/rDIDNEYWORL"],a[href|="/rraritydaww"],a[href|="/rscootacheer"],a[href|="/rlootascoo"],a[href|="/rpinkieawe"],a[href|="/rppawe"],a[href|="/rareyouawizard"],a[href|="/rajsup"],a[href|="/rajwhatsgood"],a[href|="/rflutterwhoa"],a[href|="/rflutterwoah"],a[href|="/rrdcry"],a[href|="/rsilverspoon"],a[href|="/rsspout"],a[href|="/rohcomeon"],a[href|="/rsbcomeon"],a[href|="/rppcute"],a[href|="/rcutiepie"],a[href|="/rabbored"],a[href|="/rabmerp"],a[href|="/rrarityreally"],a[href|="/rraritypaper"],a[href|="/rraritynews"],a[href|="/rsbbook"],a[href|="/rsweetiebook"],a[href|="/rsbook"],a[href|="/rscootaplease"],a[href|="/rscootappeal"],a[href|="/rscootaplz"],a[href|="/rapplegasp"],a[href|="/rtwiright"],a[href|="/rsatistwied"],a[href|="/rcelestiawut"],a[href|="/rwutlestia"],a[href|="/rgrannysmith"],a[href|="/rgranny"],a[href|="/roldmareyellsatcloud"],a[href|="/rrarishock"],a[href|="/rshiningarmor"],a[href|="/rshiningarmour"],a[href|="/rchrysalis"],a[href|="/rqueenchrysalis"],a[href|="/rchangelingqueen"],a[href|="/rcadence"],a[href|="/rcadance"],a[href|="/rprincesscadance"],a[href|="/rprincesscadence"],a[href|="/rprincessmiamorecadenza"],a[href|="/rapplederp"],
a[href|="/rswagintosh"],
a[href|="/rflutterfear"],a[href|="/rppboring"],a[href|="/rrarityyell"],a[href|="/rfluttershy"],a[href|="/rajcower"],a[href|="/rajsly"],a[href|="/reeyup"],a[href|="/rrdsmile"],a[href|="/rfluttersrs"],a[href|="/rraritydress"],a[href|="/rtakealetter"],a[href|="/rrdwut"],a[href|="/rppshrug"],a[href|="/rspikenervous"],a[href|="/rnewrainbowdash"],a[href|="/rnoooo"],a[href|="/rdj"],a[href|="/rthreedog"],a[href|="/rfluttershh"],a[href|="/rflutteryay"],a[href|="/rsquintyjack"],a[href|="/rspikepushy"],a[href|="/rajugh"],a[href|="/rraritywut"],a[href|="/rdumbfabric"],a[href|="/rraritywhy"],a[href|="/rtrixiesmug"],a[href|="/rflutterwink"],a[href|="/rrarityannoyed"],a[href|="/rsoawesome"],a[href|="/rajwut"],a[href|="/rtwisquint"],a[href|="/rraritywhine"],a[href|="/rrdcool"],a[href|="/rabwut"],a[href|="/rmanspike"],a[href|="/rcockatrice"],a[href|="/rfacehoof"],a[href|="/rrarityjudge"],a[href|="/rrarityprimp"],a[href|="/rtwirage"],a[href|="/rppseesyou"],
a[href|="/rrdsitting"],a[href|="/rrdhappy"],a[href|="/rrdannoyed"],a[href|="/rtrixiesad"],a[href|="/rtwismug"],a[href|="/rtwismile"],a[href|="/rtwistare"],a[href|="/rchangeling"],a[href|="/rohhi"],a[href|="/rparty"],a[href|="/rhahaha"],a[href|="/rrdscared"],a[href|="/rflutterblush"],a[href|="/rgross"],a[href|="/rderpyhappy"],a[href|="/rtwidaw"],a[href|="/rajfrown"],a[href|="/rhmmm"],a[href|="/rjoy"],a[href|="/rwhattheflut"],a[href|="/rraritysad"],a[href|="/rfabulous"],a[href|="/rderp"],a[href|="/rc35"],a[href|="/rcadencesmile"],a[href|="/rcadancesmile"],a[href|="/rshiningpride"],a[href|="/rlouder"],a[href|="/rlunasad"],a[href|="/rderpyshock"],a[href|="/rpinkamina"],a[href|="/rloveme"],a[href|="/rlunagasp"],a[href|="/rscootaloo"],a[href|="/rfluttercry"],a[href|="/rcelestia"],a[href|="/rangel"],a[href|="/rallmybits"],a[href|="/rsneakybelle"],a[href|="/rzecora"],a[href|="/rphotofinish"],a[href|="/rppreally"],
a[href|="/rfillytgap"],a[href|="/rrdhuh"],a[href|="/rsnails"],a[href|="/rtwisad"],a[href|="/rlyra"],a[href|="/rbonbon"],a[href|="/rspitfire"],a[href|="/rcutealoo"],a[href|="/rhappyluna"],a[href|="/rlunahappy"],a[href|="/rsotrue"],a[href|="/rwahaha"],a[href|="/rsbstare"],a[href|="/rberry"],a[href|="/rpunchdrunk"],a[href|="/rhuhhuh"],a[href|="/rabsmile"],a[href|="/rdealwithit"],a[href|="/rnmm"],a[href|="/rblacksnooty"],a[href|="/rqueenmeanie"],a[href|="/rhokeysmokes"],a[href|="/rwhooves"],a[href|="/rrdsalute"],a[href|="/roctavia"],a[href|="/rwhomeverthisis"],a[href|="/rcolgate"],a[href|="/rcheerilee"],a[href|="/rajconfused"],a[href|="/rajbaffle"],a[href|="/rajtherapy"],a[href|="/rabhuh"],a[href|="/rlily"],a[href|="/rthehorror"],a[href|="/rtwiponder"],a[href|="/rspikewtf"],a[href|="/rawwyeah"],a[href|="/rgilda"],a[href|="/rdiscentia"],a[href|="/rdiscentiastare"],a[href|="/rdisstare"],a[href|="/rmacintears"],a[href|="/rbigmactears"],a[href|="/rlunamad"],a[href|="/rdiscordsad"],a[href|="/rmaud"],a[href|="/rpinkiepout"],a[href|="/rtwisecret"],a[href|="/rtwiaside"],a[href|="/rsmackafilly"],a[href|="/rsunsetshimmer"],a[href|="/rssshimmer"],a[href|="/rsunsetsneaky"],a[href|="/rsneakysunset"],a[href|="/rsneakyss"],a[href|="/rscootablue"],a[href|="/rorphan"],a[href|="/rnoparents"],a[href|="/rspikehappy"],
a[href|="/rpinkiesad"],a[href|="/rppsad"],a[href|="/rdiamondtiara"],a[href|="/rdt"],a[href|="/rsombra"],a[href|="/rsbshocked"],a[href|="/rguard"],a[href|="/rabstern"],a[href|="/rapathia"],
a[href|="/rsmooze"]
 {
  -webkit-transform:scaleX(-1);
  -moz-transform:scaleX(-1);
  -ms-transform:scaleX(-1);
  -o-transform:scaleX(-1);
  transform:scaleX(-1);
}

a[href^="/"][href*="-r-"], a[href^="/"][href$="-r"]{ 
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  transform:rotateY(180deg);
}

a[href|="/sp"] {
  display:inline-block;
  padding-right:100%;
  width:0px;
  height:0px;
}

a[href^="/"][href*="-in-"], a[href^="/"][href$="-in"], a[href^="/"][href*="-inp-"], a[href^="/"][href$="-inp"] {
  float: none !important;
  display: inline-block !important;
}

END-PONYSCRIPT-IGNORE {color: red}

.side .md table:nth-of-type(1) tr:nth-of-type(odd) td:after {
  background-image: url(%%fmotes%%);
  height:70px;
}
.side .md table:nth-of-type(2) tr:nth-of-type(odd) td:after {
  background-image:url(%%fmotes%%);
  height:70px;
}
.side .md table:nth-of-type(3) td {text-align:center!important}
.side .md table:nth-of-type(4) td {text-align:center!important}

/* Row/col sizes: (And some undoing for number col) */
.side .md table th {
  height:14px;
  border:0;
}

.side .md table code { border: none; }

.side .md tr,td {
  border-style:none 1px solid #CCC 1px solid #CCC !important;
  padding:0px!important;
}

.side .md table tbody tr:nth-of-type(odd) {
  background:none;
  text-align:center;
}

a[href|="/uncertainflash"],a[href|="/uncertainfs"],a[href|="/embarrassedflash"],a[href|="/embarrassedfs"],a[href|="/noproblem"],a[href|="/fsnoproblem"],a[href|="/fsdetermination"],a[href|="/waifustealer"],a[href|="/flashapproves"],a[href|="/fsapproves"],a[href|="/flashonduty"],a[href|="/flatteredflash"],a[href|="/flatteredfs"],a[href|="/proudflash"],a[href|="/proudfs"],a[href|="/cuteflash"],a[href|="/cutefs"],a[href|="/confusedflash"],a[href|="/confusedfs"],a[href|="/puzzledflash"],a[href|="/seriously"],a[href|="/flashseriously"],a[href|="/fsseriously"],a[href|="/squintyflash"],a[href|="/squintyfs"],a[href|="/zombieflash"],a[href|="/zombiefs"],a[href|="/suspiciousflash"],a[href|="/suspiciousfs"] {
  display:block;
  clear:none;
  float:left;
  width:70px;
  height:70px;
  background-image:url(%%FS1%%)!important;
}

a[href|="/flashexplains"],a[href|="/fsexplains"],a[href|="/flashsentryexplains"],a[href|="/lifestory"] {
  display:block;
  clear:none;
  float:left;
  width:115px;
  height:150px;
  background-image:url(%%FS2%%)!important;
}

a[href|="/flashdance"],a[href|="/fsdance"],a[href|="/flashsentrydance"] {
  display:block;
  clear:none;
  float:left;
  width:110px;
  height:150px;
  background-image:url(%%FS2%%)!important;
  background-position:-115px 0;
}

.side .md table tbody tr:nth-of-type(odd) td:after {content:"";width:70px;display:block}
.side .md table:nth-of-type(3) tr:nth-of-type(odd) {line-height:50%!important}
.side .md table:nth-of-type(4) tr:nth-of-type(odd) {line-height:50%!important}