/*** Theme ***/

body { background: url(%%back%%) no-repeat fixed center bottom }
.pagename a:after { content: " is best pony" }
.subscribers .word, .users-online .word { display: none }
.subscribers .number:after, .users-online .number:after { content: " glute stretchers" }

.side a[href="/r/flitter/new"] {
  display: block;
  width: 100px;
  height: 110px;
  position: fixed;
  top: 250px;
  right: -30px;
  z-index: 999;
  background: url(%%fillyflitter%%);
}

.md { overflow: auto }
.usertext-edit > .md { overflow: inherit }
.linkflairlabel { max-width: none }
#sr-form textarea[name="description"],
.stylesheet-customize-container textarea { height: 600px; }

/*** Comments ***/

a[href|="/sp"] {
  display: inline-block;
  padding-right: 100%;
  width: 0px;
  height: 0px;
}

a[href^="/"][href*="-in-"], a[href^="/"][href$="-in"], a[href^="/"][href*="-inp-"], a[href^="/"][href$="-inp"] {
  float: none !important;
  display: inline-block !important;
}

a[href|="/spoiler"] {
  background: #000 !important;
  color: #000 !important;
}

a[href|="/spoiler"]:hover {
  color: #fff !important;
}

a[href="/s"] {
  color: #222222; 
  background: #CCCCCC;
  cursor: default;
} 

a[href="/s"]:hover {
  color: #8F8F8F 
} 

a[href="/s"]::after { 
  content: attr(title);
  background: #CCCCCC;
  color: #CCCCCC;
  padding: 0px 10px 0px 10px;
}

a[href="/s"]:hover::after {
  color: black;
}

/*** Emotes ***/

a[href|="/fillyflitter"], a[href|="/flitterjoy"], a[href|="/flitterunamused"], a[href|="/flitterwat"], a[href|="/stretchthoseglutes"] {
  display: block;
  clear: none;
  float: left;
  width: 100px;
  height: 100px;
  cursor: default;
  background-image: url(%%flittermotes%%) !important;
}

a[href|="/fillyflitter"] { height: 109px; background-position: 0 0; }
a[href|="/flitterjoy"] { height: 140px; background-position: 0 -109px; }
a[href|="/flitterunamused"] { height: 145px; background-position: 0 -249px; }
a[href|="/flitterwat"] { height: 103px; background-position: 0 -394px; }
a[href|="/stretchthoseglutes"] { width: 142px; background-position: -100px 0; }

/*** Flair ***/

.flair {
  border: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  text-indent: 20px;
  overflow: hidden;
  white-space: nowrap;
  background: url(%%flair-table%%);
}

.flair-rainbowdash { background-position: 0 0; }
.flair-twilight { background-position: -100% 0; }
.flair-fluttershy { background-position: -200% 0; }
.flair-applejack { background-position: -300% 0; }
.flair-pinkiepie { background-position: 0 -100%; }
.flair-rarity { background-position: -100% -100%; }
.flair-trixie { background-position: -200% -100%; }
.flair-luna { background-position: 0 -200%; }
.flair-celestia { background-position: -100% -200%; }
.flair-derpy { background-position: -200% -200%; }
.flair-vinyl { background-position: -300% -200%; }
.flair-lyra { background-position: 0 -300%; }
.flair-bonbon { background-position: -100% -300%; }
.flair-octavia { background-position: -200% -300%; }
.flair-doctor { background-position: -300% -300%; }
.flair-mac { background-position: 0 -400%; }
.flair-colgate { background-position: -100% -400%; }
.flair-berry { background-position: -200% -400%; }
.flair-pokey { background-position: -300% -400%; }
.flair-roseluck { background-position: 0 -500%; }
.flair-zecora { background-position: -100% -500%; }
.flair-seafoam { background-position: -200% -500%; }
.flair-carrottop { background-position: -300% -500%; }
.flair-screwball { background-position: 0 -600%; }
.flair-redheart { background-position: -100% -600%; }
.flair-caramel { background-position: -200% -600%; }
.flair-braeburn { background-position: -300% -600%; }
.flair-wonderbolts { background-position: 0 -700%; }
.flair-shadowbolts { background-position: -100% -700%; }
.flair-scootaloo { background-position: -200% -700%; }
.flair-applebloom { background-position: -300% -700%; }
.flair-sweetiebelle { background-position: 0 -800%; }
.flair-davenport { background-position: -100% -800%; }
.flair-cheerilee { background-position: -200% -800%; }
.flair-nightmaremoon { background-position: -300% -800%; }
.flair-blueblood { background-position: 0 -900%; }
.flair-daring { background-position: -100% -900%; }
.flair-mrcake { background-position: -200% -900%; }
.flair-mrscake { background-position: -300% -900%; }
.flair-flam { background-position: 0 -1000%; }
.flair-flim { background-position: -100% -1000%; }
.flair-silverspoon { background-position: -200% -1000%; }
.flair-diamondtiara { background-position: -300% -1000%; }
.flair-snips { background-position: 0 -1100%; }
.flair-snails { background-position: -100% -1100%; }
.flair-twist { background-position: -200% -1100%; }
.flair-gaben { background-position: -300% -1100%; }
.flair-sparkler { background-position: 0 -1200%; }
.flair-disco { background-position: -100% -1200%; }
.flair-fancypants { background-position: -200% -1200%; }
.flair-fleur { background-position: -300% -1200%; }
.flair-cadence { background-position: 0 -1300%; }
.flair-shiningarmor { background-position: -100% -1300%; }
.flair-filthyrich { background-position: -200% -1300%; }
.flair-hoitytoity { background-position: -300% -1300%; }
.flair-cloudchaser { background-position: 0 -1400%; }
.flair-flitter { background-position: -100% -1400%; }
.flair-lily { background-position: -200% -1400%; }
.flair-grannysmith { background-position: -300% -1400%; }
.flair-daisy { background-position: 0 -1500%; }
.flair-chrysalis { background-position: -100% -1500%; }
.flair-lotus { background-position: -200% -1500%; }
.flair-aloe { background-position: -300% -1500%; }
.flair-drstable { background-position: 0 -1600%; }
.flair-sewnsow { background-position: -100% -1600%; }
.flair-spitfire { background-position: -200% -1600%; }
.flair-mayor { background-position: -300% -1600%; }
.flair-soarin { background-position: -100% -1700%; }
.flair-maud { background-position: -200% -1700%; }
.flair-spike { background-position: -300% -1700%; }
.flair-sunsetshimmer { background-position: 0 -1800%; }
.flair-cheesesandwich { background-position: -100% -1800%; }
.flair-flashsentry { background-position: -200% -1800%; }
.flair-coco { background-position: -300% -1800%; }
.flair-thunderlane { background-position: 0 -1900%; }
.flair-applefritter { background-position: -100% -1900%; }
.flair-flutterbat { background-position: -200% -1900%; }
.flair-blossomforth { background-position: -300% -1900%; }
.flair-starlightglimmer { background-position: 0 -2000%; }
.flair-equality { background-position: -100% -2000%; }
.flair-doublediamond { background-position: -200% -2000%; }
.flair-sugarbelle { background-position: -300% -2000%; }
.flair-nightglider { background-position: 0 -2100%; }
.flair-partyfavor { background-position: -100% -2100%; }
.flair-discord { background-position: -200% -2100%; }
.flair-treehugger { background-position: -300% -2100%; }
.flair-troubleshoes { background-position: 0 -2200%; }
.flair-screwloose { background-position: -100% -2200%; }
.flair-bulkbiceps { background-position: -200% -2200%; }
.flair-photofinish { background-position: 0 -2300%; }
.flair-lightningdust { background-position: -100% -2300%; }
.flair-babsseed { background-position: -200% -2300%; }
.flair-cherryjubilee { background-position: -300% -2300%; }
.flair-adagiodazzle { background-position: 0 -2400%; }
.flair-ariablaze { background-position: -100% -2400%; }
.flair-sonatadusk { background-position: -200% -2400%; }
.flair-moondancer { background-position: -300% -2400%; }
.flair-igneousrock { background-position: 0 -2500%; }
.flair-cloudyquartz { background-position: -100% -2500%; }
.flair-limestonepie { background-position: -200% -2500%; }
.flair-marblepie { background-position: -300% -2500%; }
.flair-coloratura { background-position: 0 -2600%; }
.flair-indigozap { background-position: -100% -2600%; }
.flair-lemonzest { background-position: -200% -2600%; }
.flair-soursweet { background-position: -300% -2600%; }
.flair-sugarcoat { background-position: 0 -2700%; }
.flair-sunnyflare { background-position: -100% -2700%; }
.flair-sunburst { background-position: -200% -2700%; }
.flair-gilda { background-position: -300% -2700%; }
.flair-zephyrbreeze { background-position: 0 -2800%; }
.flair-quibblepants { background-position: -100% -2800%; }
.flair-surprise { background-position: 0 -2900%; }
.flair-snowdrop { background-position: -100% -2900%; }
.flair-peachbottom { background-position: -200% -2900%; }
.flair-harshwhinny { background-position: -300% -2900%; }
.flair-raindrops { background-position: 0 -3000%; }
.flair-fleetfoot { background-position: -100% -3000%; }
.flair-beautybrass { background-position: -200% -3000%; }