#header
{
border-bottom:5px solid #9370b3;
position:relative;
background-color:#c9afe0;
z-index:99}

a[href|="/flitterbucket"] {
    display: block;
    clear: none;
    float: left;
    width: 114px;
    height: 150px;
    background-image: url(%%flitterbucket%%) 
    }
a[href|="/flitshake"] {
    display: block;
    clear: none;
    float: left;
    width: 110px;
    height: 150px;
    background-image: url(%%flitshake%%) 
    }
a[href|="/flitterbow"] {
    display: block;
    clear: none;
    float: left;
    width: 147px;
    height: 150px;
    background-image: url(%%flitterbow%%) 
    }

/* Subscriber/Online Counters */
.titlebox .word {
    display: none
    }
 .titlebox .number:after {
    content: " Bows";
    }
.titlebox .users-online span.number:after {
    content: " currently stretching glutes";
    }

a[href|="/chibiflitter"] {
    display: block;
    clear: none;
    float: left;
    width: 106px;
    height: 150px;
    background-image: url(%%chibiflitter%%) 
    }

a[href|="/flitterbolt"] {
    display: block;
    clear: none;
    float: left;
    width: 118px;
    height: 150px;
    background-image: url(%%flitterbolt%%) 
    }
div.over18 .entry .buttons .first{padding-left: 0px}
.footer-parent
{
 height:100%;
 padding-bottom:0px;
 clear:both;
 text-align:center;
 width:100%;

 background-image:url(%%ccandflitterbg%%);
 background-repeat:no-repeat;
 margin-bottom:-80px;
 background-position: 50% 100%;
}

a[href|="/flittersohigh"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 119px;
    background-image: url(%%flittersohigh%%) 
    }

a[href|="/christmasflitter"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 139px;
    background-image: url(%%christmasflitter%%) 
    }
a[href|="/flitterworried"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 114px;
    background-image: url(%%flitterworried%%) 
    }
a[href|="/flitterhuzzah"] {
    display: block;
    clear: none;
    float: left;
    width: 141px;
    height: 150px;
    background-image: url(%%flitterhuzzah%%) 
    }
a[href|="/whatsupflit"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 97px;
    background-image: url(%%whatsupflit%%) 
    }
a[href|="/flittermad"] {
    display: block;
    clear: none;
    float: left;
    width: 111px;
    height: 150px;
    background-image: url(%%flittermad%%) 
    }