/*---------------------------------------------------------------------------------------------------------------------------------------*/
/* Background Image */ 
body {
width: 100%;
margin: 0 auto;
background: url(%%background%%) no-repeat fixed 50% 100%;
}


/*Header*/
/*---------------------------------------------------------------------------------------------------------------------------------------*/
#header {
    background: url(%%banner%%);
    height: 284px;
}



/*Changes user online text*/
/*---------------------------------------------------------------------------------------------------------------------------------------*/
.subscribers .word, .users-online .word{
display:none;
}
.subscribers .number:after { 
content: " flurry lovers"
}
.users-online .number:after { 
content: " looking at cute ponies" 
}




/*Emotes!*/
/*---------------------------------------------------------------------------------------------------------------------------------------*/

a[href|="/fhhappy"],a[href|="/fhhuh"],a[href|="/fhshocked"],a[href|="/fhsleepy"],a[href|="/fh01"],a[href|="/flurryheart"],a[href|="/fhseesyou"],a[href|="/fharmor"],a[href|="/fhmagic"],a[href|="/flurryandshiny"],a[href|="/flurry1"],a[href|="/flurry2"],
a[href|="/babyalicorn"],a[href|="/fhfly"],a[href |="/fhwarrior"]{

   display: block;
   clear: none;
   float: left;
   background-image: url(%%table%%) }

a[href="/fhhappy"]{        background-position:    0px    0px; width: 100px; height: 200px}
a[href="/fhhuh"]{          background-position: -100px    0px; width: 100px; height: 200px}
a[href="/fhshocked"]{      background-position: -200px    0px; width: 100px; height: 200px}
a[href="/fhsleepy"]{       background-position: -300px    0px; width: 100px; height: 100px}
a[href="/fh01"]{           background-position: -300px -100px; width: 100px; height: 100px}
a[href="/flurryheart"]{    background-position: -400px    0px; width: 200px; height: 200px}
a[href="/fhseesyou"]{      background-position:    0px -200px; width: 200px; height: 200px}
a[href="/fharmor"]{        background-position: -200px -200px; width: 200px; height: 200px}
a[href="/fhmagic"]{        background-position: -400px -200px; width: 200px; height: 200px}
a[href="/flurryandshiny"]{ background-position:    0px -400px; width: 200px; height: 200px}
a[href="/flurry1"]{        background-position: -200px -400px; width: 200px; height: 200px}
a[href="/flurry2"]{        background-position: -400px -400px; width: 200px; height: 200px}
a[href="/babyalicorn"]{    background-position:    0px -600px; width: 200px; height: 100px}
a[href="/fhfly"]{          background-position:    0px -700px; width: 200px; height: 100px}
a[href="/fhwarrior"]{      background-position: -200px -600px; width: 160px; height: 200px}

/*---------------------------------------------------------------------------------------------------------------------------------------*/
