/* FlutterLounge CSS. For best pony's best lounge. 
Rule 1. Copy everything.
Rule 2. No plagiarism.
Rule 3. No plagiarismm.
Rule 4. Make lots of emotes. */

/* Fluttermotes because why not.*/

a[href|="/fs00"], a[href|="/fs10"], a[href|="/fs20"], a[href|="/fs01"], a[href|="/fs11"], a[href|="/fs21"], a[href|="/fs02"], a[href|="/fs12"], a[href|="/fs22"], a[href|="/fs03"], a[href|="/fs13"], a[href|="/fs23"], a[href|="/fs04"], a[href|="/fs14"], a[href|="/fs24"], a[href|="/fs05"], a[href|="/fs15"], a[href|="/fs25"], a[href|="/fs06"], a[href|="/fs16"], a[href|="/fs26"] {

display: block;
clear: none;
float: left;
width: 70px;
height: 70px;
background-image: url(%%fsmotes%%) !important
}

a[href|="/fs00"] { background-position: -0px -0px }
a[href|="/fs10"] { background-position: -70px -0px }
a[href|="/fs20"] { background-position: -140px -0px }
a[href|="/fs01"] { background-position: -0px -70px }
a[href|="/fs11"] { background-position: -70px -70px }
a[href|="/fs21"] { background-position: -140px -70px }
a[href|="/fs02"] { background-position: -0px -141px }
a[href|="/fs12"] { background-position: -70px -141px }
a[href|="/fs22"] { background-position: -140px -141px }
a[href|="/fs03"] { background-position: -0px -210px }
a[href|="/fs13"] { background-position: -70px -211px }
a[href|="/fs23"] { background-position: -140px -211px }
a[href|="/fs04"] { background-position: -0px -281px }
a[href|="/fs14"] { background-position: -70px -281px }
a[href|="/fs24"] { background-position: -140px -281px }
a[href|="/fs05"] { background-position: -0px -350px }
a[href|="/fs15"] { background-position: -70px -350px }
a[href|="/fs25"] { background-position: -140px -350px }
a[href|="/fs06"] { background-position: -0px -420px }
a[href|="/fs16"] { background-position: -70px -420px }
a[href|="/fs26"] { background-position: -140px -420px }

a[href|="/fluttershythis"], a[href|="/shythis"], a[href|="/flutterthis"], a[href|="/flutthis"] {
    display: block;
    clear: none;
    float: left;
    width: 400px;
    height: 500px;
    background-image: url(%%this%%)
    }
a[href|="/twirighthug"], a[href|="/twilighthug"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%twirighthug%%)
    }
a[href|="/flutterhugs"] {
    display: block;
    clear: none;
    float: left;
    width: 310px;
    height: 267px;
    background-image: url(%%flutterhugs%%)
    }
a[href|="/rollerconky"], a[href|="/skatingconky"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 200px;
    background-image: url(%%skatingconky%%)
    }
a[href|="/flutterwind"], a[href|="/shywind"] {
    display: block;
    clear: none;
    float: left;
    width: 313px;
    height: 150px;
    background-image: url(%%flutterwind%%)
    }
a[href|="/flutterwoo"], a[href|="/shywoo"] {
    display: block;
    clear: none;
    float: left;
    width: 263px;
    height: 200px;
    background-image: url(%%flutterwoo%%)
    }
a[href|="/fluttersmile"], a[href|="/shysmile"] {
    display: block;
    clear: none;
    float: left;
    width: 300px;
    height: 247px;
    background-image: url(%%fluttersmile%%)
    }
/* Flair! So many wonderful choices! */

.flair {
    padding: 0;
    background: none;
    border: 0;
    border-radius: 0;
    background-image: url(%%flutterflair%%);
    display: inline-block;
    height: 24px;
    width: 24px;
}


.flair-flutter1 {
   background-position: 0 0;
}


.flair-flutter2 {
   background-position: 0 -24px;
}


.flair-flutter3 {
   background-position: 0 -48px;
}

.flair-flutter4 {
   background-position: 0 -72px;
}

.flair-flutter5 {
   background-position: 0 -96px;
}

.flair-flutter6 {
   background-position: 0 -120px;
}

.flair-giantflair {
    padding: 0;
    background: none;
    color: black;
    border: 0;
    border-radius: 0;
    background-image: url(%%giantflair%%);
    display: inline-block;
    height: 200px;
    width: 200px;
}

.flair-slightlylessgiantflair {
    padding: 0;
    background: none;
    color: black;
    border: 0;
    border-radius: 0;
    background-image: url(%%slightlylessgiantflair%%);
    display: inline-block;
    height: 75px;
    width: 75px;
}

.flair-tacogiantflair {
    padding: 0;
    background: none;
    color: black;
    border: 0;
    border-radius: 0;
    background-image: url(%%tacogiantflair%%);
    display: inline-block;
    height: 50px;
    width: 50px;
}

/* Subscribers and active users */

 .subscribers .word {
        display: none;
        }  
    .subscribers .number::after {
        content: " Giant Fluttershy hats";
        }

.users-online .word {
        display: none;
        }  
    .users-online .number::after {
        content: " being worn.";
        }

/* RES nightmode flair fix */

.res-nightmode .tagline .flair {
    background-color: transparent !important;
}

.res-nightmode .side .md h3 {
    color:#DDD !important;
}

.res-nightmode .titlebox .usertext-body .md h3 {
color: white !important;
}

/* Footer */

.footer-parent {
    height: 600px;
    padding-bottom: 40px;
    clear: both;
    text-align: center;
    width: 800px;
    background-image: url(%%fluttersbackground%%);
    /*background-position: bottom center;*/
    background-repeat: no-repeat;
    margin-bottom: -0px;
    background-position: 50% 80px;/*Path's OCD was here.*/
    }
html:lang(nv) .side p a[href="http://reddit.com/r/FlutterLounge/"]
{
display: block !important;
}

html:lang(nv) .side p a[href="http://nv.reddit.com/r/FlutterLounge/"]
{
display: none !important;
}

/* Best sidebar Filly */

.side a[href="http://fav.me/d4pw6t9"]{
   display: block;
   height: 120px;
   width: 120px;
   background: url(%%fillyflutter%%);
   position: fixed; 
   top: 260px;
   right: -20px;
   z-index: 999;
}

/* Get rid of RES tags and vote weight on the modbox */
.sidecontentbox .voteWeight, .sidecontentbox .userTagLink {
    display: none !important
}

hr {
    border-bottom: 1px solid #747474;
    border-top: none
}

.titlebox strong {
font-size: medium;
}


.titlebox del {
color: white;
}


.titlebox em {
font-size:9px;
text-decoration: none;
font-style:normal
}

.titlebox strong em
{
font-size:8px;
font-style:normal;
font-weight:normal
}

.titlebox table {
display: none;
clear: both;
}

.side div.usertext-body:hover table {
display: block;
clear: both;
}

.sidecontentbox .flair-slightlylessgiantflair {
  display: none;
}

/* Test */

.titlebox .usertext-body .md ul li a {
background: #fff;
border: 1px solid #ccc;
color: #555;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
font-size: 11px;
position: absolute;
left: 60px;
top: 30px;
padding-left: 20px;
z-index: 100
    }
.titlebox .usertext-body .md ul li a:hover {
text-decoration: underline;
    }

/* Self post icon */

 /*.thumbnail[href^="/r/flutterlounge/"]{display: none} */
    /*.thumbnail img[src^="/static/"]{display: none !important} */
    /*.thumbnail{width: auto !important}*/
    .thumbnail.default, .thumbnail.self {
        background-image: url(%%icon%%);
        background-position: center !important;
        background-repeat: no-repeat !important
    }