/* Fluttermotes because why not.*/

a[href|="/fs00"], a[href|="/fs10"], a[href|="/fs20"], a[href|="/fs01"], a[href|="/fs11"], a[href|="/fs21"], a[href|="/fs02"], a[href|="/fs12"], a[href|="/fs22"], a[href|="/fs03"], a[href|="/fs13"], a[href|="/fs23"], a[href|="/fs04"], a[href|="/fs14"], a[href|="/fs24"], a[href|="/fs05"], a[href|="/fs15"], a[href|="/fs25"], a[href|="/fs06"], a[href|="/fs16"], a[href|="/fs26"] {

display: block;
clear: none;
float: left;
width: 70px;
height: 70px;
background-image: url(%%fsmotes%%) !important
}

a[href|="/fs00"] { background-position: -0px -0px }
a[href|="/fs10"] { background-position: -70px -0px }
a[href|="/fs20"] { background-position: -140px -0px }
a[href|="/fs01"] { background-position: -0px -70px }
a[href|="/fs11"] { background-position: -70px -70px }
a[href|="/fs21"] { background-position: -140px -70px }
a[href|="/fs02"] { background-position: -0px -141px }
a[href|="/fs12"] { background-position: -70px -141px }
a[href|="/fs22"] { background-position: -140px -141px }
a[href|="/fs03"] { background-position: -0px -210px }
a[href|="/fs13"] { background-position: -70px -211px }
a[href|="/fs23"] { background-position: -140px -211px }
a[href|="/fs04"] { background-position: -0px -281px }
a[href|="/fs14"] { background-position: -70px -281px }
a[href|="/fs24"] { background-position: -140px -281px }
a[href|="/fs05"] { background-position: -0px -350px }
a[href|="/fs15"] { background-position: -70px -350px }
a[href|="/fs25"] { background-position: -140px -350px }

a[href|="/fluttershythis"], a[href|="/shythis"], a[href|="/flutterthis"] {
    display: block;
    clear: none;
    float: left;
    width: 400px;
    height: 500px;
    background-image: url(%%this%%)
    }

.flair {
    padding: 0;
    background: none;
    border: 0;
    border-radius: 0;
    background-image: url(%%flutterflair%%);
    display: inline-block;
    height: 24px;
    width: 24px;
}


.flair-flutter1 {
   background-position: 0 0;
}


.flair-flutter2 {
   background-position: 0 -24px;
}


.flair-flutter3 {
   background-position: 0 -48px;
}

.flair-flutter4 {
   background-position: 0 -72px;
}

.flair-flutter5 {
   background-position: 0 -96px;
}

.flair-flutter6 {
   background-position: 0 -120px;
}

.flair-giantflair {
    padding: 0;
    background: none;
    color: black;
    border: 0;
    border-radius: 0;
    background-image: url(%%giantflair%%);
    display: inline-block;
    height: 200px;
    width: 200px;
}

.flair-tacogiantflair {
    padding: 0;
    background: none;
    color: black;
    border: 0;
    border-radius: 0;
    background-image: url(%%tacogiantflair%%);
    display: inline-block;
    height: 50px;
    width: 50px;
}

/* Subscribers and active users */

 .subscribers .word {
        display: none;
        }  
    .subscribers .number::after {
        content: " Giant Fluttershy hats";
        }

.users-online .word {
        display: none;
        }  
    .users-online .number::after {
        content: " being worn.";
        }

/* RES nightmode flair fix */

.res-nightmode .tagline .flair {
    background-color: transparent !important;
}

.res-nightmode .side .md h3 {
    color:#DDD !important;
}

.res-nightmode .titlebox .usertext-body .md h3 {
color: white !important;
}

/* Footer */

.footer-parent {
    height: 600px;
    padding-bottom: 40px;
    clear: both;
    text-align: center;
    width: 800px;
    background-image: url(%%fluttersbackground%%);
    /*background-position: bottom center;*/
    background-repeat: no-repeat;
    margin-bottom: -0px;
    background-position: 50% 80px;/*Path's OCD was here.*/
    }
html:lang(nv) .side p a[href="http://reddit.com/r/FlutterLounge/"]
{
display: block !important;
}

html:lang(nv) .side p a[href="http://nv.reddit.com/r/FlutterLounge/"]
{
display: none !important;
}

/* Sidebar Filly */

.side a[href="http://fav.me/d5fl28t"]{
   display: block;
   height: 120px;
   width: 120px;
   background: url(%%fillyflutter%%);
   position: fixed; 
   top: 260px;
   right: -20px;
   z-index: 999;
}

/* Get rid of RES tags and vote weight on the modbox */
.sidecontentbox .voteWeight, .sidecontentbox .userTagLink {
    display: none !important
}

hr {
    border-bottom: 1px solid #747474;
    border-top: none
}