a.author[href$="LIATG"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="LIATG"]:after {
    content: "LIAshy";
    font-size: 11px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }
a.author[href$="LIATG"]:hover:after {
    content: "likes hugs";
    font-size: 9px !important;
    visibility: visible !important;
    color: yellow;
    display: block;
    letter-spacing: normal
    }

a.author[href$="theMagicalCouch"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="theMagicalCouch"]:after {
    content: "theFlutteralCouch";
    font-size: 11px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }
a.author[href$="theMagicalCouch"]:hover:after {
    content: "adorable";
    font-size: 9px !important;
    visibility: visible !important;
    color: yellow;
    display: block;
    letter-spacing: normal
    }

/* EMOOOOOOTES */

a[href|="/flutterproud"] {
    display: block;
    clear: none;
    float: left;
    width: 145px;
    height: 150px;
    background-image:url(%%Flutterproud%%)
}
a[href|="/lyrashyhug"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 151px;
    background-image:url(%%lyrashyhug%%)
}
a[href|="/rarishyhug"] {
    display: block;
    clear: none;
    float: left;
    width: 151px;
    height: 150px;
    background-image:url(%%rarishyhug%%)
}
a[href|="/angelshy"] {
    display: block;
    clear: none;
    float: left;
    width: 125px;
    height: 247px;
    background-image:url(%%Angelshy%%)
}
a[href|="/macinshyhug"] {
    display: block;
    clear: none;
    float: left;
    width: 193px;
    height: 150px;
    background-image:url(%%Macinshy%%)
}
a[href|="/macinshyhug"] {
    display: block;
    clear: none;
    float: left;
    width: 193px;
    height: 150px;
    background-image:url(%%Macinshy%%)
}
a[href|="/swagshy"] {
    display: block;
    clear: none;
    float: left;
    width: 179px;
    height: 150px;
    background-image:url(%%swagshy%%)
}
a[href|="/tiashyhug"] {
    display: block;
    clear: none;
    float: left;
    width: 220px;
    height: 100px;
    background-image:url(%%tiashy%%)
}
a[href|="/af1"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 104px;
    background-image:url(%%af1%%)
}
a[href|="/lunataviahug"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 135px;
    background-image:url(%%lunatavia%%)
}
a[href|="/af2"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 102px;
    background-image:url(%%af2%%)
}
a[href|="/af3"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 104px;
    background-image:url(%%af3%%)
}
a[href|="/flutterbow"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 123px;
    background-image:url(%%flutterbow%%)
}
a[href|="/tavishyhug"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 134px;
    background-image:url(%%tavishy%%)
}
a[href|="/classyshy"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 134px;
    background-image:url(%%classyshy%%)
}
a[href|="/rarisquee"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 126px;
    background-image:url(%%rarisquee%%)
}
a[href|="/changelingshyhug"] {
    display: block;
    clear: none;
    float: left;
    width: 132px;
    height: 150px;
    background-image:url(%%Changeling-hug%%)
}
a[href|="/dresshy"] {
    display: block;
    clear: none;
    float: left;
    width: 209px;
    height: 150px;
    background-image:url(%%dresshy%%)
}
a[href|="/kittyforyou"] {
    display: block;
    clear: none;
    float: left;
    width: 171px;
    height: 150px;
    background-image:url(%%flutterforyou%%)
}
a[href|="/hoodshy"] {
    display: block;
    clear: none;
    float: left;
    width: 162px;
    height: 150px;
    background-image:url(%%hoodieshy%%)
}
a[href|="/parashy"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 102px;
    background-image:url(%%Parashy%%)
}
a[href|="/shyprisehug"] {
    display: block;
    clear: none;
    float: left;
    width: 190px;
    height: 150px;
    background-image:url(%%Shyprisehug%%)
}