/* EMOOOOOOTES */

a[href|="/salutesmeg"] {
    display: block;
    clear: none;
    float: left;
    width: 256px;
    height: 192px;
    background-image:url(%%smegrimmer%%)
}

a[href|="/smegheadponyrimmer"] {
    display: block;
    clear: none;
    float: left;
    width: 160px;
    height: 200px;
    background-image:url(%%smegheadponyrimmer%%)
}

a[href|="/flutterwrath"] {
    display: block;
    clear: none;
    float: left;
    width: 160px;
    height: 200px;
    background-image:url(%%flutterwrath%%)
}


a[href|="/flutterlenny"] {
    display: block;
    clear: none;
    float: left;
    width: 166px;
    height: 200px;
    background-image:url(%%flutterlenny%%)
}

a[href|="/chefpinkiefacesquish"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 164px;
    background-image:url(%%chefpinkiefacesquish%%)
}

a[href|="/twipleased"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image:url(%%twipleased%%)
}

a[href|="/spikecry"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 186px;
    background-image:url(%%spikecry%%)
}

a[href|="/vinylsmug"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 200px;
    background-image:url(%%vinylsmug%%)
}

a[href|="/berrybliss"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 200px;
    background-image:url(%%berrybliss%%)
}

a[href|="/clickityhackbacktrack"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 113px;
    background-image:url(%%clickityhackbacktrack%%)
}

a[href|="/britanniaslump"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 97px;
    background-image:url(%%BritanniaSlump%%)
}

a[href|="/emeraldkeyboardhug"] {
    display: block;
    clear: none;
    float: left;
    width: 154px;
    height: 200px;
    background-image:url(%%Emboard%%)
}

a[href|="/flutterproud"] {
    display: block;
    clear: none;
    float: left;
    width: 145px;
    height: 150px;
    background-image:url(%%Flutterproud%%)
}
a[href|="/lyrashyhug"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 151px;
    background-image:url(%%lyrashyhug%%)
}
a[href|="/rarishyhug"] {
    display: block;
    clear: none;
    float: left;
    width: 151px;
    height: 150px;
    background-position: -190px -0px;  
    background-image:url(%%Spritesheet%%)
}
a[href|="/angelshy"] {
    display: block;
    clear: none;
    float: left;
    width: 125px;
    height: 247px;
    background-position: -640px -0px;  
    background-image:url(%%Spritesheet%%)
}
a[href|="/macinshyhug"] {
    display: block;
    clear: none;
    float: left;
    width: 193px;
    height: 150px;
    background-position: -0px -152px;  
    background-image:url(%%Macinshy%%)
}
a[href|="/swagshy"] {
    display: block;
    clear: none;
    float: left;
    width: 179px;
    height: 150px;
    background-image:url(%%swagshy%%)
}
a[href|="/tiashyhug"] {
    display: block;
    clear: none;
    float: left;
    width: 220px;
    height: 100px;
    background-image:url(%%tiashy%%)
}
a[href|="/af1"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 104px;
    background-image:url(%%afspritesheet%%);
    background-position: -0px -0px;  
}
a[href|="/lunataviahug"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 131px;
    background-position: -490px -0px;  
    background-image:url(%%Spritesheet%%)
}
a[href|="/af2"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 102px;
    background-image:url(%%afspritesheet%%);
    background-position: -0px -108px;  
}
a[href|="/af3"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 104px;
    background-image:url(%%afspritesheet%%);
    background-position: -0px -219px;  
}
a[href|="/flutterbow"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 123px;
    background-image:url(%%flutterbow%%)
}
a[href|="/tavishyhug"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 134px;
    background-position: -340px -0px; 
    background-image:url(%%Spritesheet%%)
}
a[href|="/classyshy"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 134px;
    background-image:url(%%classyshy%%)
}
a[href|="/rarisquee"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 126px;
    background-image:url(%%rarisquee%%)
}
a[href|="/changelingshyhug"] {
    display: block;
    clear: none;
    float: left;
    width: 132px;
    height: 150px;
    background-image:url(%%Changeling-hug%%)
}
a[href|="/dresshy"] {
    display: block;
    clear: none;
    float: left;
    width: 209px;
    height: 150px;
    background-image:url(%%dresshy%%)
}
a[href|="/kittyforyou"] {
    display: block;
    clear: none;
    float: left;
    width: 171px;
    height: 150px;
    background-image:url(%%flutterforyou%%)
}
a[href|="/hoodshy"] {
    display: block;
    clear: none;
    float: left;
    width: 162px;
    height: 150px;
    background-image:url(%%hoodieshy%%)
}
a[href|="/parashy"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 102px;
    background-image:url(%%Parashy%%)
}
a[href|="/shyprisehug"] {
    display: block;
    clear: none;
    float: left;
    width: 190px;
    height: 150px;
    background-image:url(%%Spritesheet%%)
}
a[href|="/flutterfrench"] {  
 display: block;
 clear: none;
 float: left; 
 width: 90px;
 height: 200px;
 background-image: url(%%FlutterEmotes1%%);
 background-position: -327px -1003px;  
}

a[href|="/flutterdeathglare"] {  
 display: block;
 clear: none;
 float: left; 
 width: 444px;
 height: 200px;
 background-image: url(%%FlutterEmotes1%%);
 background-position: -0px -0px;  
}

a[href|="/fluttersleepy"] {  
 display: block;
 clear: none;
 float: left; 
 width: 350px;
 height: 200px;
 background-image: url(%%FlutterEmotes1%%);
 background-position: -0px -201px;  
}

a[href|="/fluttergala"] {  
 display: block;
 clear: none;
 float: left; 
 width: 319px;
 height: 200px;
 background-image: url(%%FlutterEmotes1%%);
 background-position: -0px -402px;  
}  

a[href|="/flutterjoy"] {  
 display: block;
 clear: none;
 float: left; 
 width: 119px;
 height: 200px;
 background-image: url(%%FlutterEmotes1%%);
 background-position: -319px -402px;  
}  

a[href|="/flutteruh"] {  
 display: block;
 clear: none;
 float: left; 
 width: 218px;
 height: 200px;
 background-image: url(%%FlutterEmotes1%%);
 background-position: -0px -601px;  
}  


a[href|="/adorableshy"] {  
 display: block;
 clear: none;
 float: left; 
 width: 143px;
 height: 175px;
 background-image: url(%%FlutterEmotes1%%);
 background-position: -217px -601px;  
}  

a[href|="/fillyshycute"] {  
 display: block;
 clear: none;
 float: left; 
 width: 207px;
 height: 200px;
 background-image: url(%%FlutterEmotes1%%);
 background-position: -0px -801px;  
}  

a[href|="/areyousure"] {  
 display: block;
 clear: none;
 float: left; 
 width: 233px;
 height: 201px;
 background-image: url(%%FlutterEmotes1%%);
 background-position: -207px -801px;  
} 

a[href|="/rarishypossessive"] {  
 display: block;
 clear: none;
 float: left; 
 width: 188px;
 height: 200px;
 background-image: url(%%FlutterEmotes1%%);
 background-position: -0px -1002px;  
} 

a[href|="/smileyshy"] {  
 display: block;
 clear: none;
 float: left; 
 width: 138px;
 height: 199px;
 background-image: url(%%FlutterEmotes1%%);
 background-position: -188px -1003px;  
} 

a[href|="/flutterserious"] {  
 display: block;
 clear: none;
 float: left; 
 width: 137px;
 height: 200px;
 background-image: url(%%FlutterEmotes1%%);
 background-position: -278px -1203px;  
} 

a[href|="/fluttertoocoolforyou"] {  
 display: block;
 clear: none;
 float: left; 
 width: 148px;
 height: 200px;
 background-image: url(%%FlutterEmotes1%%);
 background-position: -0px -1403px;  
} 

a[href|="/fluttershyisthecutestgoddamnthingontheplanet"] {  
 display: block;
 clear: none;
 float: left; 
 width: 221px;
 height: 200px;
 background-image: url(%%FlutterEmotes1%%);
 background-position: -148px -1403px;  
}     
a[href|="/colgateshyhug"] {  
 display: block;
 clear: none;
 float: left; 
 width: 149px;
 height: 150px;
 background-image: url(%%Colgateshy%%);
} 
a[href|="/braaap"] {  
 display: block;
 clear: none;
 float: left; 
 width: 186px;
 height: 120px;
 background-image: url(%%braaap%%);
} 
a[href|="/kittyshy"] {  
 display: block;
 clear: none;
 float: left; 
 width: 250px;
 height: 208px;
 background-image: url(%%Fluffershy%%);
} 

a[href|="/flutqbat1"] {
    display: block;
    clear: none;
    float: left;
width: 447px;
   height: 447px;
    background-image:url(%%flutqbat1%%);
}