/*          <insert tehcrashxor's reign of terror here />      */
/*          <loving your work Crash! />      */



/***********************
*
*             EMOTES	
*   
************************/
/**************
A Emoticons
**************/
a[href|="/swagintosh"], a[href|="/a24"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%swag%%)
    }
a[href|="/rswagintosh"], a[href|="/ra24"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%rswag%%)
    }
a[href|="/a00"], a[href|="/ajlie"], a[href|="/a01"], a[href|="/a10"], a[href|="/a11"], a[href|="/a21"], a[href|="/priceless"], a[href|="/a20"], a[href|="/flutterjerk"], a[href|="/celestiamad"], a[href|="/twicrazy"], a[href|="/twipride"], a[href|="/lunateehee"], a[href|="/lunawait"], a[href|="/a02"], a[href|="/a12"], a[href|="/a22"], a[href|="/a04"], a[href|="/a14"], a[href|="/a05"], a[href|="/a15"], a[href|="/paperbagderpy"], a[href|="/paperbagwizard"], a[href|="/derpwizard"], a[href|="/a03"], a[href|="/ajhappy"], a[href|="/happlejack"], a[href|="/a13"], a[href|="/ppfear"], a[href|="/pinkiefear"], a[href|="/a23"], a[href|="/twibeam"], a[href|="/raritydaww"], a[href|="/scootacheer"], a[href|="/lootascoo"], a[href|="/ajsup"], a[href|="/ajwhatsgood"], a[href|="/flutterwhoa"], a[href|="/flutterwoah"], a[href|="/a25"], a[href|="/rdsad"], a[href|="/a06"], a[href|="/ohcomeon"], a[href|="/sbcomeon"], a[href|="/ppcute"], a[href|="/cutiepie"], a[href|="/a16"], a[href|="/a26"], a[href|="/abbored"], a[href|="/abmerp"], a[href|="/a07"], a[href|="/raritypaper"], a[href|="/raritynews"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%a%%) !important
    }
a[href|="/ra00"], a[href|="/rajlie"], a[href|="/ra01"], a[href|="/ra10"], a[href|="/ra11"], a[href|="/ra21"], a[href|="/rpriceless"], a[href|="/ra20"], a[href|="/rflutterjerk"], a[href|="/rcelestiamad"], a[href|="/rtwicrazy"], a[href|="/rtwipride"], a[href|="/rlunateehee"], a[href|="/rlunawait"], a[href|="/ra02"], a[href|="/ra12"], a[href|="/ra22"], a[href|="/ra04"], a[href|="/ra14"], a[href|="/ra05"], a[href|="/ra15"], a[href|="/rpaperbagderpy"], a[href|="/rpaperbagwizard"], a[href|="/rderpwizard"], a[href|="/ra03"], a[href|="/rajhappy"], a[href|="/rhapplejack"], a[href|="/ra13"], a[href|="/rppfear"], a[href|="/rpinkiefear"], a[href|="/ra23"], a[href|="/rtwibeam"], a[href|="/rraritydaww"], a[href|="/rscootacheer"], a[href|="/rlootascoo"], a[href|="/rajsup"], a[href|="/rajwhatsgood"], a[href|="/rflutterwhoa"], a[href|="/rflutterwoah"], a[href|="/ra25"], a[href|="/rrdsad"], a[href|="/ra06"], a[href|="/rohcomeon"], a[href|="/rsbcomeon"], a[href|="/rppcute"], a[href|="/rcutiepie"], a[href|="/ra16"], a[href|="/ra26"], a[href|="/rabbored"], a[href|="/rabmerp"], a[href|="/ra07"], a[href|="/rraritypaper"], a[href|="/rraritynews"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%ra%%) !important
    }
a[href|="/a00"], a[href|="/ra00"], a[href|="/ajlie"], a[href|="/rajlie"], a[href|="/swagintosh"], a[href|="/rswagintosh"], a[href|="/a24"], a[href|="/ra24"] {
    background-position: -0px -0px
    }
a[href|="/a10"], a[href|="/ra10"], a[href|="/priceless"], a[href|="/rpriceless"] {
    background-position: -70px -0px
    }
a[href|="/a20"], a[href|="/ra20"], a[href|="/flutterjerk"], a[href|="/rflutterjerk"] {
    background-position: -140px -0px
    }
a[href|="/a01"], a[href|="/ra01"], a[href|="/twipride"], a[href|="/rtwipride"] {
    background-position: -0px -70px
    }
a[href|="/a11"], a[href|="/ra11"], a[href|="/celestiamad"], a[href|="/rcelestiamad"] {
    background-position: -70px -70px
    }
a[href|="/a21"], a[href|="/ra21"], a[href|="/twicrazy"], a[href|="/rtwicrazy"] {
    background-position: -140px -70px
    }
a[href|="/a02"], a[href|="/lunateehee"], a[href|="/ra02"], a[href|="/rlunateehee"] {
    background-position: -0px -140px
    }
a[href|="/a12"], a[href|="/lunawait"], a[href|="/ra12"], a[href|="/rlunawait"] {
    background-position: -70px -140px
    }
a[href|="/a22"], a[href|="/paperbagderpy"], a[href|="/paperbagwizard"], a[href|="/derpwizard"], a[href|="/ra22"], a[href|="/rpaperbagderpy"], a[href|="/rpaperbagwizard"], a[href|="/rderpwizard"] {
    background-position: -140px -140px
    }
a[href|="/a03"], a[href|="/ajhappy"], a[href|="/happlejack"], a[href|="/ra03"], a[href|="/rajhappy"], a[href|="/rhapplejack"] {
    background-position: -0px -210px
    }
a[href|="/a13"], a[href|="/ra13"], a[href|="/ppfear"], a[href|="/rppfear"], a[href|="/pinkiefear"], a[href|="/rpinkiefear"] {
    background-position: -70px -210px
    }
a[href|="/a23"], a[href|="/ra23"], a[href|="/twibeam"], a[href|="/rtwibeam"] {
    background-position: -140px -210px
    }
a[href|="/a04"], a[href|="/ra04"], a[href|="/raritydaww"], a[href|="/rraritydaww"] {
    background-position: -0px -280px
    }
a[href|="/a14"], a[href|="/ra14"], a[href|="/scootacheer"], a[href|="/rscootacheer"], a[href|="/lootascoo"], a[href|="/rlootascoo"] {
    background-position: -70px -280px
    }
a[href|="/a05"], a[href|="/ra05"], a[href|="/ajsup"], a[href|="/rajsup"], a[href|="/ajwhatsgood"], a[href|="/rajwhatsgood"] {
    background-position: -0px -350px
    }
a[href|="/a15"], a[href|="/ra15"], a[href|="/flutterwhoa"], a[href|="/rflutterwhoa"], a[href|="/flutterwoah"], a[href|="/rflutterwoah"] {
    background-position: -70px -350px
    }
a[href|="/a25"], a[href|="/ra25"], a[href|="/rdsad"], a[href|="/rrdsad"] {
    background-position: -140px -350px
    }
a[href|="/a06"], a[href|="/ra06"], a[href|="/ohcomeon"], a[href|="/rohcomeon"], a[href|="/sbcomeon"], a[href|="/rsbcomeon"] {
    background-position: -0px -420px
    }
a[href|="/a16"], a[href|="/ra16"], a[href|="/ppcute"], a[href|="/rppcute"], a[href|="/cutiepie"], a[href|="/rcutiepie"] {
    background-position: -70px -420px
    }
a[href|="/a26"], a[href|="/ra26"], a[href|="/abbored"], a[href|="/rabbored"], a[href|="/abmerp"], a[href|="/rabmerp"] {
    background-position: -140px -420px
    }
a[href|="/a07"], a[href|="/ra07"], a[href|="/raritypaper"], a[href|="/rraritypaper"], a[href|="/raritynews"], a[href|="/rraritynews"] {
    background-position: -0px -490px
    }
/***********
B Emoticons
***********/
a[href|="/b00"], a[href|="/b01"], a[href|="/b02"], a[href|="/b03"], a[href|="/b04"], a[href|="/b05"], a[href|="/b06"], a[href|="/b07"], a[href|="/b08"], a[href|="/b09"], a[href|="/b10"], a[href|="/b11"], a[href|="/b12"], a[href|="/b13"], a[href|="/b14"], a[href|="/b15"], a[href|="/b16"], a[href|="/b17"], a[href|="/b18"], a[href|="/b19"], a[href|="/b20"], a[href|="/b21"], a[href|="/b22"], a[href|="/b23"], a[href|="/b24"], a[href|="/b25"], a[href|="/b26"], a[href|="/b27"], a[href|="/b28"], a[href|="/b29"], a[href|="/b30"], a[href|="/b31"], a[href|="/b32"], a[href|="/b33"], a[href|="/b34"], a[href|="/b35"], a[href|="/b36"], a[href|="/b37"], a[href|="/b38"], a[href|="/b39"], a[href|="/flutterfear"], a[href|="/ajcower"], a[href|="/fluttersrs"], a[href|="/ppshrug"], a[href|="/fluttershh"], a[href|="/ajugh"], a[href|="/trixiesmug"], a[href|="/ajwut"], a[href|="/abwut"], a[href|="/rarityjudge"], a[href|="/ppboring"], a[href|="/ajsly"], a[href|="/raritydress"], a[href|="/spikenervous"], a[href|="/newrainbowdash"], a[href|="/flutteryay"], a[href|="/raritywut"], a[href|="/flutterwink"], a[href|="/twisquint"], a[href|="/manspike"], a[href|="/rarityprimp"], a[href|="/rarityyell"], a[href|="/eeyup"], a[href|="/takealetter"], a[href|="/noooo"], a[href|="/squintyjack"], a[href|="/dumbfabric"], a[href|="/rarityannoyed"], a[href|="/raritywhine"], a[href|="/cockatrice"], a[href|="/twirage"], a[href|="/fluttershy"], a[href|="/rdsmile"], a[href|="/rdwut"], a[href|="/dj"], a[href|="/threedog"], a[href|="/spikepushy"], a[href|="/raritywhy"], a[href|="/soawesome"], a[href|="/rdcool"], a[href|="/facehoof"], a[href|="/ppseesyou"] {
    display: block;
    clear: none;
    float: left;
    width: 50px;
    height: 50px;
    background-image: url(%%b%%) !important
    } 
a[href|="/rb00"], a[href|="/rb01"], a[href|="/rb02"], a[href|="/rb03"], a[href|="/rb04"], a[href|="/rb05"], a[href|="/rb06"], a[href|="/rb07"], a[href|="/rb08"], a[href|="/rb09"], a[href|="/rb10"], a[href|="/rb11"], a[href|="/rb12"], a[href|="/rb13"], a[href|="/rb14"], a[href|="/rb15"], a[href|="/rb16"], a[href|="/rb17"], a[href|="/rb18"], a[href|="/rb19"], a[href|="/rb20"], a[href|="/rb21"], a[href|="/rb22"], a[href|="/rb23"], a[href|="/rb24"], a[href|="/rb25"], a[href|="/rb26"], a[href|="/rb27"], a[href|="/rb28"], a[href|="/rb29"], a[href|="/rb30"], a[href|="/rb31"], a[href|="/rb32"], a[href|="/rb33"], a[href|="/rb34"], a[href|="/rb35"], a[href|="/rb36"], a[href|="/rb37"], a[href|="/rb38"], a[href|="/rb39"], a[href|="/rflutterfear"], a[href|="/rajcower"], a[href|="/rfluttersrs"], a[href|="/rppshrug"], a[href|="/rfluttershh"], a[href|="/rajugh"], a[href|="/rtrixiesmug"], a[href|="/rajwut"], a[href|="/rabwut"], a[href|="/rrarityjudge"], a[href|="/rppboring"], a[href|="/rajsly"], a[href|="/rraritydress"], a[href|="/rspikenervous"], a[href|="/rnewrainbowdash"], a[href|="/rflutteryay"], a[href|="/rraritywut"], a[href|="/rflutterwink"], a[href|="/rtwisquint"], a[href|="/rmanspike"], a[href|="/rrarityprimp"], a[href|="/rrarityyell"], a[href|="/reeyup"], a[href|="/rtakealetter"], a[href|="/rnoooo"], a[href|="/rsquintyjack"], a[href|="/rdumbfabric"], a[href|="/rrarityannoyed"], a[href|="/rraritywhine"], a[href|="/rcockatrice"], a[href|="/rtwirage"], a[href|="/rfluttershy"], a[href|="/rrdsmile"], a[href|="/rrdwut"], a[href|="/rdj"], a[href|="/rthreedog"], a[href|="/rspikepushy"], a[href|="/rraritywhy"], a[href|="/rsoawesome"], a[href|="/rrdcool"], a[href|="/rfacehoof"], a[href|="/rppseesyou"] {
    display: block;
    clear: none;
    float: left;
    width: 50px;
    height: 50px;
    background-image: url(%%rb%%) !important
    } 
a[href|="/b00"], a[href|="/rb00"], a[href|="/flutterfear"], a[href|="/rflutterfear"] {
    background-position: -0px -0px
    }
a[href|="/b01"], a[href|="/rb01"], a[href|="/ajcower"], a[href|="/rajcower"] {
    background-position: -0px -50px
    }
a[href|="/b02"], a[href|="/rb02"], a[href|="/fluttersrs"], a[href|="/rfluttersrs"] {
    background-position: -0px -100px
    }
a[href|="/b03"], a[href|="/rb03"], a[href|="/ppshrug"], a[href|="/rppshrug"] {
    background-position: -0px -150px
    }
a[href|="/b04"], a[href|="/rb04"], a[href|="/fluttershh"], a[href|="/rfluttershh"] {
    background-position: -0px -200px
    }
a[href|="/b05"], a[href|="/rb05"], a[href|="/ajugh"], a[href|="/rajugh"] {
    background-position: -0px -250px
    }
a[href|="/b06"], a[href|="/rb06"], a[href|="/trixiesmug"], a[href|="/rtrixiesmug"] {
    background-position: -0px -300px
    }
a[href|="/b07"], a[href|="/rb07"], a[href|="/ajwut"], a[href|="/rajwut"] {
    background-position: -0px -350px
    }
a[href|="/b08"], a[href|="/rb08"], a[href|="/abwut"], a[href|="/rabwut"] {
    background-position: -0px -400px
    }
a[href|="/b09"], a[href|="/rb09"], a[href|="/rarityjudge"], a[href|="/rrarityjudge"] {
    background-position: -0px -450px
    }
a[href|="/b10"], a[href|="/rb10"], a[href|="/ppboring"], a[href|="/rppboring"] {
    background-position: -50px -0px
    }
a[href|="/b11"], a[href|="/rb11"], a[href|="/ajsly"], a[href|="/rajsly"] {
    background-position: -50px -50px
    }
a[href|="/b12"], a[href|="/rb12"], a[href|="/raritydress"], a[href|="/rraritydress"] {
    background-position: -50px -100px
    }
a[href|="/b13"], a[href|="/rb13"], a[href|="/spikenervous"], a[href|="/rspikenervous"], a[href|="/newrainbowdash"], a[href|="/rnewrainbowdash"] {
    background-position: -50px -150px
    }
a[href|="/b14"], a[href|="/rb14"], a[href|="/flutteryay"], a[href|="/rflutteryay"] {
    background-position: -50px -200px
    }
a[href|="/b15"], a[href|="/rb15"], a[href|="/raritywut"], a[href|="/rraritywut"] {
    background-position: -50px -250px
    }
a[href|="/b16"], a[href|="/rb16"], a[href|="/flutterwink"], a[href|="/rflutterwink"] {
    background-position: -50px -300px
    }
a[href|="/b17"], a[href|="/rb17"], a[href|="/twisquint"], a[href|="/rtwisquint"] {
    background-position: -50px -350px
    }
a[href|="/b18"], a[href|="/rb18"], a[href|="/manspike"], a[href|="/rmanspike"] {
    background-position: -50px -400px
    }
a[href|="/b19"], a[href|="/rb19"], a[href|="/rarityprimp"], a[href|="/rrarityprimp"] {
    background-position: -50px -450px
    }
a[href|="/b20"], a[href|="/rb20"], a[href|="/rarityyell"], a[href|="/rrarityyell"] {
    background-position: -100px -0px
    }
a[href|="/b21"], a[href|="/rb21"], a[href|="/eeyup"], a[href|="/reeyup"] {
    background-position: -100px -50px
    }
a[href|="/b22"], a[href|="/rb22"], a[href|="/takealetter"], a[href|="/rtakealetter"] {
    background-position: -100px -100px
    }
a[href|="/b23"], a[href|="/rb23"], a[href|="/noooo"], a[href|="/rnoooo"] {
    background-position: -100px -150px
    }
a[href|="/b24"], a[href|="/rb24"], a[href|="/squintyjack"], a[href|="/rsquintyjack"] {
    background-position: -100px -200px
    }
a[href|="/b25"], a[href|="/rb25"], a[href|="/dumbfabric"], a[href|="/rdumbfabric"] {
    background-position: -100px -250px
    }
a[href|="/b26"], a[href|="/rb26"], a[href|="/rarityannoyed"], a[href|="/rrarityannoyed"] {
    background-position: -100px -300px
    }
a[href|="/b27"], a[href|="/rb27"], a[href|="/raritywhine"], a[href|="/rraritywhine"] {
    background-position: -100px -350px
    }
a[href|="/b28"], a[href|="/rb28"], a[href|="/cockatrice"], a[href|="/rcockatrice"] {
    background-position: -100px -400px
    }
a[href|="/b29"], a[href|="/rb29"], a[href|="/twirage"], a[href|="/rtwirage"] {
    background-position: -100px -450px
    }
a[href|="/b30"], a[href|="/rb30"], a[href|="/fluttershy"], a[href|="/rfluttershy"] {
    background-position: -150px -0px
    }
a[href|="/b31"], a[href|="/rb31"], a[href|="/rdsmile"], a[href|="/rrdsmile"] {
    background-position: -150px -50px
    }
a[href|="/b32"], a[href|="/rb32"], a[href|="/rdwut"], a[href|="/rrdwut"] {
    background-position: -150px -100px
    }
a[href|="/b33"], a[href|="/rb33"], a[href|="/dj"], a[href|="/rdj"], a[href|="/threedog"], a[href|="/rthreedog"] {
    background-position: -150px -150px
    }
a[href|="/b34"], a[href|="/rb34"], a[href|="/spikepushy"], a[href|="/rspikepushy"] {
    background-position: -150px -200px
    }
a[href|="/b35"], a[href|="/rb35"], a[href|="/raritywhy"], a[href|="/rraritywhy"] {
    background-position: -150px -250px
    }
a[href|="/b36"], a[href|="/rb36"], a[href|="/soawesome"], a[href|="/rsoawesome"] {
    background-position: -150px -300px
    }
a[href|="/b37"], a[href|="/rb37"], a[href|="/rdcool"], a[href|="/rrdcool"] {
    background-position: -150px -350px
    }
a[href|="/b38"], a[href|="/rb38"], a[href|="/facehoof"], a[href|="/rfacehoof"] {
    background-position: -150px -400px
    }
a[href|="/b39"], a[href|="/rb39"], a[href|="/ppseesyou"], a[href|="/rppseesyou"] {
    background-position: -150px -450px
    }
/***********
C Emoticons
***********/
a[href|="/c00"], a[href|="/c01"], a[href|="/c02"], a[href|="/c03"], a[href|="/c04"], a[href|="/c05"], a[href|="/c06"], a[href|="/c07"], a[href|="/c08"], a[href|="/c09"], a[href|="/c10"], a[href|="/c11"], a[href|="/c12"], a[href|="/c13"], a[href|="/c14"], a[href|="/c15"], a[href|="/c16"], a[href|="/c17"], a[href|="/c18"], a[href|="/c19"], a[href|="/c20"], a[href|="/c21"], a[href|="/c22"], a[href|="/c23"], a[href|="/c24"], a[href|="/c25"], a[href|="/c26"], a[href|="/c27"], a[href|="/c28"], a[href|="/c29"], a[href|="/rdsitting"], a[href|="/twismug"], a[href|="/ohhi"], a[href|="/flutterblush"], a[href|="/ajfrown"], a[href|="/raritysad"], a[href|="/louder"], a[href|="/pinkamina"], a[href|="/scootaloo"], a[href|="/allmybits"], a[href|="/rdhappy"], a[href|="/twismile"], a[href|="/party"], a[href|="/gross"], a[href|="/hmmm"], a[href|="/fabulous"], a[href|="/lunasad"], a[href|="/loveme"], a[href|="/celestia"], a[href|="/zecora"], a[href|="/rdannoyed"], a[href|="/twistare"], a[href|="/hahaha"], a[href|="/derpyhappy"], a[href|="/joy"], a[href|="/derp"], a[href|="/derpyshock"], a[href|="/lunagasp"], a[href|="/angel"], a[href|="/photofinish"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%c%%) !important
    }
a[href|="/rc00"], a[href|="/rc01"], a[href|="/rc02"], a[href|="/rc03"], a[href|="/rc04"], a[href|="/rc05"], a[href|="/rc06"], a[href|="/rc07"], a[href|="/rc08"], a[href|="/rc09"], a[href|="/rc10"], a[href|="/rc11"], a[href|="/rc12"], a[href|="/rc13"], a[href|="/rc14"], a[href|="/rc15"], a[href|="/rc16"], a[href|="/rc17"], a[href|="/rc18"], a[href|="/rc19"], a[href|="/rc20"], a[href|="/rc21"], a[href|="/rc22"], a[href|="/rc23"], a[href|="/rc24"], a[href|="/rc25"], a[href|="/rc26"], a[href|="/rc27"], a[href|="/rc28"], a[href|="/rc29"], a[href|="/rrdsitting"], a[href|="/rtwismug"], a[href|="/rohhi"], a[href|="/rflutterblush"], a[href|="/rajfrown"], a[href|="/rraritysad"], a[href|="/rlouder"], a[href|="/rpinkamina"], a[href|="/rscootaloo"], a[href|="/rallmybits"], a[href|="/rrdhappy"], a[href|="/rtwismile"], a[href|="/rparty"], a[href|="/rgross"], a[href|="/rhmmm"], a[href|="/rfabulous"], a[href|="/rlunasad"], a[href|="/rloveme"], a[href|="/rcelestia"], a[href|="/rzecora"], a[href|="/rrdannoyed"], a[href|="/rtwistare"], a[href|="/rhahaha"], a[href|="/rderpyhappy"], a[href|="/rjoy"], a[href|="/rderp"], a[href|="/rderpyshock"], a[href|="/rlunagasp"], a[href|="/rangel"], a[href|="/rphotofinish"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%rc%%) !important
    }
a[href|="/c00"], a[href|="/rc00"], a[href|="/rdsitting"], a[href|="/rrdsitting"] {
    background-position: -0px -0px
    }
a[href|="/c01"], a[href|="/rc01"], a[href|="/twismug"], a[href|="/rtwismug"] {
    background-position: -0px -70px
    }
a[href|="/c02"], a[href|="/rc02"], a[href|="/ohhi"], a[href|="/rohhi"] {
    background-position: -0px -140px
    }
a[href|="/c03"], a[href|="/rc03"], a[href|="/flutterblush"], a[href|="/rflutterblush"] {
    background-position: -0px -210px
    }
a[href|="/c04"], a[href|="/rc04"], a[href|="/ajfrown"], a[href|="/rajfrown"] {
    background-position: -0px -280px
    }
a[href|="/c05"], a[href|="/rc05"], a[href|="/raritysad"], a[href|="/rraritysad"] {
    background-position: -0px -350px
    }
a[href|="/c06"], a[href|="/rc06"], a[href|="/louder"], a[href|="/rlouder"] {
    background-position: -0px -420px
    }
a[href|="/c07"], a[href|="/rc07"], a[href|="/pinkamina"], a[href|="/rpinkamina"] {
    background-position: -0px -490px
    }
a[href|="/c08"], a[href|="/rc08"], a[href|="/scootaloo"], a[href|="/rscootaloo"] {
    background-position: -0px -560px
    }
a[href|="/c09"], a[href|="/rc09"], a[href|="/allmybits"], a[href|="/rallmybits"] {
    background-position: -0px -630px
    }
a[href|="/c10"], a[href|="/rc10"], a[href|="/rdhappy"], a[href|="/rrdhappy"] {
    background-position: -70px -0px
    }
a[href|="/c11"], a[href|="/rc11"], a[href|="/twismile"], a[href|="/rtwismile"] {
    background-position: -70px -70px
    }
a[href|="/c12"], a[href|="/rc12"], a[href|="/party"], a[href|="/rparty"] {
    background-position: -70px -140px
    }
a[href|="/c13"], a[href|="/rc13"], a[href|="/gross"], a[href|="/rgross"] {
    background-position: -70px -210px
    }
a[href|="/c14"], a[href|="/rc14"], a[href|="/hmmm"], a[href|="/rhmmm"] {
    background-position: -70px -280px
    }
a[href|="/c15"], a[href|="/rc15"], a[href|="/fabulous"], a[href|="/rfabulous"] {
    background-position: -70px -350px
    }
a[href|="/c16"], a[href|="/rc16"], a[href|="/lunasad"], a[href|="/rlunasad"] {
    background-position: -70px -420px
    }
a[href|="/c17"], a[href|="/rc17"], a[href|="/loveme"], a[href|="/rloveme"] {
    background-position: -70px -490px
    }
a[href|="/c18"], a[href|="/rc18"], a[href|="/celestia"], a[href|="/rcelestia"] {
    background-position: -70px -560px
    }
a[href|="/c19"], a[href|="/rc19"], a[href|="/zecora"], a[href|="/rzecora"] {
    background-position: -70px -630px
    }
a[href|="/c20"], a[href|="/rc20"], a[href|="/rdannoyed"], a[href|="/rrdannoyed"] {
    background-position: -140px -0px
    }
a[href|="/c21"], a[href|="/rc21"], a[href|="/twistare"], a[href|="/rtwistare"] {
    background-position: -140px -70px
    }
a[href|="/c22"], a[href|="/rc22"], a[href|="/hahaha"], a[href|="/rhahaha"] {
    background-position: -140px -140px
    }
a[href|="/c23"], a[href|="/rc23"], a[href|="/derpyhappy"], a[href|="/rderpyhappy"] {
    background-position: -140px -210px
    }
a[href|="/c24"], a[href|="/rc24"], a[href|="/joy"], a[href|="/rjoy"] {
    background-position: -140px -280px
    }
a[href|="/c25"], a[href|="/rc25"], a[href|="/derp"], a[href|="/rderp"] {
    background-position: -140px -350px
    }
a[href|="/c26"], a[href|="/rc26"], a[href|="/derpyshock"], a[href|="/rderpyshock"] {
    background-position: -140px -420px
    }
a[href|="/c27"], a[href|="/rc27"], a[href|="/lunagasp"], a[href|="/rlunagasp"] {
    background-position: -140px -490px
    }
a[href|="/c28"], a[href|="/rc28"], a[href|="/angel"], a[href|="/rangel"] {
    background-position: -140px -560px
    }
a[href|="/c29"], a[href|="/rc29"], a[href|="/photofinish"], a[href|="/rphotofinish"] {
    background-position: -140px -630px
    }
/*E table (The artist formerly known as the "Extra Emoticons" table.)*/
a[href|="/e00"], a[href|="/e01"], a[href|="/e02"], a[href|="/e03"], a[href|="/e04"], a[href|="/e05"], a[href|="/e06"], a[href|="/e07"], a[href|="/e10"], a[href|="/e11"], a[href|="/e12"], a[href|="/e13"], a[href|="/e14"], a[href|="/e15"], a[href|="/e16"], a[href|="/e17"], a[href|="/e20"], a[href|="/e21"], a[href|="/e22"], a[href|="/e23"], a[href|="/e24"], a[href|="/e25"], a[href|="/e26"], a[href|="/e27"], a[href|="/e08"], a[href|="/e18"], a[href|="/e28"], a[href|="/l00"], a[href|="/lyra"], a[href|="/t00"], a[href|="/bonbon"], a[href|="/sbstare"], a[href|="/snails"], a[href|="/rdhuh"], a[href|="/spitfire"], a[href|="/cutealoo"], a[href|="/fillytgap"], a[href|="/happyluna"], a[href|="/lunahappy"], a[href|="/sotrue"], a[href|="/wahaha"], a[href|="/berry"], a[href|="/punchdrunk"], a[href|="/absmile"], a[href|="/huhhuh"], a[href|="/dealwithit"], a[href|="/nmm"], a[href|="/blacksnooty"], a[href|="/queenmeanie"], a[href|="/hokeysmokes"], a[href|="/whooves"], a[href|="/rdsalute"], a[href|="/octavia"], a[href|="/whomeverthisis"], a[href|="/colgate"], a[href|="/cheerilee"], a[href|="/ajconfused"], a[href|="/ajbaffle"], a[href|="/ajtherapy"], a[href|="/abhuh"], a[href|="/lily"], a[href|="/thehorror"], a[href|="/twiponder"], a[href|="/spikewtf"], a[href|="/awwyeah"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%e%%) !important
    }
a[href|="/re00"], a[href|="/re01"], a[href|="/re02"], a[href|="/re03"], a[href|="/re04"], a[href|="/re05"], a[href|="/re06"], a[href|="/re07"], a[href|="/re10"], a[href|="/re11"], a[href|="/re12"], a[href|="/re13"], a[href|="/re14"], a[href|="/re15"], a[href|="/re16"], a[href|="/re17"], a[href|="/re20"], a[href|="/re21"], a[href|="/re22"], a[href|="/re23"], a[href|="/re24"], a[href|="/re25"], a[href|="/re26"], a[href|="/re27"], a[href|="/re08"], a[href|="/re18"], a[href|="/re28"], a[href|="/rl00"], a[href|="/rlyra"], a[href|="/rt00"], a[href|="/rbonbon"], a[href|="/rsbstare"], a[href|="/rsnails"], a[href|="/rrdhuh"], a[href|="/rspitfire"], a[href|="/rcutealoo"], a[href|="/rfillytgap"], a[href|="/rhappyluna"], a[href|="/rlunahappy"], a[href|="/rsotrue"], a[href|="/rwahaha"], a[href|="/rberry"], a[href|="/rpunchdrunk"], a[href|="/rabsmile"], a[href|="/rhuhhuh"], a[href|="/rdealwithit"], a[href|="/rnmm"], a[href|="/rblacksnooty"], a[href|="/rqueenmeanie"], a[href|="/rhokeysmokes"], a[href|="/rwhooves"], a[href|="/rrdsalute"], a[href|="/roctavia"], a[href|="/rwhomeverthisis"], a[href|="/rcolgate"], a[href|="/rcheerilee"], a[href|="/rajconfused"], a[href|="/rajbaffle"], a[href|="/rajtherapy"], a[href|="/rabhuh"], a[href|="/rlily"], a[href|="/rthehorror"], a[href|="/rtwiponder"], a[href|="/rspikewtf"], a[href|="/rawwyeah"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%re%%) !important
    }
a[href|="/l00"], a[href|="/rl00"], a[href|="/e01"], a[href|="/re01"], a[href|="/lyra"] {
    background-position: -0px -0px
    }
a[href|="/t00"], a[href|="/rt00"], a[href|="/e00"], a[href|="/re00"], a[href|="/fillytgap"], a[href|="/rfillytgap"] {
    background-position: -70px -0px
    }
a[href|="/e11"], a[href|="/re11"], a[href|="/bonbon"], a[href|="/rbonbon"] {
    background-position: -140px -0px
    }
a[href|="/e20"], a[href|="/re20"], a[href|="/snails"], a[href|="/rsnails"] {
    background-position: -0px -70px
    }
a[href|="/e10"], a[href|="/re10"], a[href|="/rdhuh"], a[href|="/rrdhuh"] {
    background-position: -70px -70px
    }
a[href|="/e21"], a[href|="/re21"], a[href|="/spitfire"], a[href|="/rspitfire"] {
    background-position: -140px -70px
    }
a[href|="/e02"], a[href|="/re02"], a[href|="/cutealoo"], a[href|="/rcutealoo"] {
    background-position: -0px -140px
    }
a[href|="/e12"], a[href|="/re12"], a[href|="/happyluna"], a[href|="/rhappyluna"], a[href|="/lunahappy"], a[href|="/rlunahappy"] {
    background-position: -70px -140px
    }
a[href|="/e22"], a[href|="/re22"], a[href|="/sotrue"], a[href|="/rsotrue"] {
    background-position: -140px -140px
    }
a[href|="/e03"], a[href|="/re03"], a[href|="/wahaha"], a[href|="/rwahaha"] {
    background-position: -0px -210px
    }
a[href|="/e13"], a[href|="/re13"], a[href|="/sbstare"], a[href|="/rsbstare"] {
    background-position: -70px -210px
    }
a[href|="/e23"], a[href|="/re23"], a[href|="/berry"], a[href|="/rberry"], a[href|="/punchdrunk"], a[href|="/rpunchdrunk"] {
    background-position: -140px -210px
    }
a[href|="/e14"], a[href|="/re14"], a[href|="/absmile"], a[href|="/rabsmile"] {
    background-position: -0px -280px
    }
a[href|="/e04"], a[href|="/re04"], a[href|="/huhhuh"], a[href|="/rhuhhuh"] {
    background-position: -70px -280px
    }
a[href|="/e24"], a[href|="/re24"], a[href|="/dealwithit"], a[href|="/rdealwithit"] {
    background-position: -140px -280px
    }
a[href|="/e05"], a[href|="/re05"], a[href|="/nmm"], a[href|="/blacksnooty"], a[href|="/rnmm"], a[href|="/rblacksnooty"], a[href|="/queenmeanie"], a[href|="/rqueenmeanie"], a[href|="/hokeysmokes"], a[href|="/rhokeysmokes"] {
    background-position: -0px -350px
    }
a[href|="/e15"], a[href|="/re15"], a[href|="/whooves"], a[href|="/rwhooves"] {
    background-position: -70px -350px
    }
a[href|="/e25"], a[href|="/re25"], a[href|="/rdsalute"], a[href|="/rrdsalute"] {
    background-position: -140px -350px
    }
a[href|="/e06"], a[href|="/re06"], a[href|="/octavia"], a[href|="/whomeverthisis"], a[href|="/rwhomeverthisis"], a[href|="/roctavia"] {
    background-position: -0px -420px
    }
a[href|="/e16"], a[href|="/re16"], a[href|="/colgate"], a[href|="/rcolgate"] {
    background-position: -70px -420px
    }
a[href|="/e26"], a[href|="/re26"], a[href|="/cheerilee"], a[href|="/rcheerilee"] {
    background-position: -140px -420px
    }
a[href|="/e07"], a[href|="/re07"], a[href|="/ajconfused"], a[href|="/rajconfused"], a[href|="/ajbaffle"], a[href|="/rajbaffle"], a[href|="/ajtherapy"], a[href|="/rajtherapy"] {
    background-position: -0px -490px
    }
a[href|="/e17"], a[href|="/re17"], a[href|="/abhuh"], a[href|="/rabhuh"] {
    background-position: -70px -490px
    }
a[href|="/e27"], a[href|="/re27"], a[href|="/lily"], a[href|="/rlily"], a[href|="/thehorror"], a[href|="/rthehorror"] {
    background-position: -140px -490px
    }
a[href|="/e08"], a[href|="/re08"], a[href|="/twiponder"], a[href|="/rtwiponder"] {
    background-position: -0px -560px
    }
a[href|="/e18"], a[href|="/re18"], a[href|="/spikewtf"], a[href|="/rspikewtf"] {
    background-position: -70px -560px
    }
a[href|="/e28"], a[href|="/re28"], a[href|="/awwyeah"], a[href|="/rawwyeah"] {
    background-position: -140px -560px
    }



/***********************
*
*             Gallopfrey Emotes Below  
*   
************************/





a[href|="/someoneneedadoctor"], a[href|="/r01"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 230px;
    background-image: url(%%bbbbbbbb%%)
    }
a[href|="/spaace"], a[href|="/r02"] {
    display: block;
    clear: none;
    float: left;
    width: 108px;
    height: 112px;
    background-image: url(%%r02%%)
    }

a[href|="/ilovebananas"], a[href|="/ba1"] {
    display: block;
    clear: none;
    float: left;
    width: 137px;
    height: 103px;
    background-image: url(%%ba1%%)
    }
a[href|="/ifuckinglovebananas"], a[href|="/ba2"] {
    display: block;
    clear: none;
    float: left;
    width: 250px;
    height: 250px;
    background-image: url(%%Ba2%%)
    }
a[href|="/tardis"] {
    display: block;
    clear: none;
    float: left;
    width: 433px;
    height: 733px;
    background-image: url(%%TARDIS%%)
    }
    
    
/******************************************************************************
*           Begin DW Emote Block                                              *
******************************************************************************/

/*** Tell each emote it's image and size information ************************/
a[href|="/dw00"], a[href|="/dwconcerned"], a[href|="/dwworried"],
a[href|="/dw10"], a[href|="/dwstartled"],
a[href|="/dw20"], a[href|="/dwhappy"],
a[href|="/dw01"], a[href|="/dwtophat"],
a[href|="/dw11"], a[href|="/dwfez"],
a[href|="/dw21"], a[href|="/dwpear"], a[href|="/ihatepears"],
a[href|="/dw02"], a[href|="/cyberpony"],
a[href|="/dw12"], a[href|="/dalek"],
a[href|="/dw22"], a[href|="/pear"],
a[href|="/dw03"], a[href|="/dinkypresents"], a[href|="/dinkytada"],
a[href|="/dw13"], a[href|="/dinkyfire"],
a[href|="/dw23"], a[href|="/dinky"] ,
a[href|="/dw04"], a[href|="/derpypeak"],
a[href|="/dw14"], a[href|="/derpycam"],
a[href|="/dw24"], a[href|="/derpypout"],
a[href|="/dw05"], a[href|="/dhburnt"],
a[href|="/dw15"], a[href|="/dhsleep"],
a[href|="/dw25"], a[href|="/dhstare"], 
a[href|="/dw06"], a[href|="/dhexcited"],
a[href|="/dw16"], a[href|="/dhoops"],
a[href|="/dw26"], a[href|="/dhmuffin"],
a[href|="/dw07"], a[href|="/dwevil"],
a[href|="/dw17"], a[href|="/master"],
a[href|="/dw27"], a[href|="/dwbleh"],
a[href|="/dw08"], a[href|="/evilwat"], a[href|="/evilwut"],
a[href|="/dw18"], a[href|="/dwddd"], a[href|="/dw3d"],
a[href|="/dw28"], a[href|="/dwblush"],
a[href|="/dw09"], a[href|="/banana"],
a[href|="/dw19"], a[href|="/sparklermad"],
a[href|="/dw29"], a[href|="/peeved"], a[href|="/sparklerpeeved"],a[href|="/sparklerannoyed"]    {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%DW%%) !important
    }
a[href|="/rdw00"], a[href|="/rdwconcerned"], a[href|="/rdwworried"],
a[href|="/rdw10"], a[href|="/rdwstartled"],
a[href|="/rdw20"], a[href|="/rdwhappy"],
a[href|="/rdw01"], a[href|="/rdwtophat"],
a[href|="/rdw11"], a[href|="/rdwfez"],
a[href|="/rdw21"], a[href|="/rdwpear"], a[href|="/rihatepears"],
a[href|="/rdw02"], a[href|="/rcyberpony"],
a[href|="/rdw12"], a[href|="/rdalek"],
a[href|="/rdw22"], a[href|="/rpear"],
a[href|="/rdw03"], a[href|="/rdinkypresents"], a[href|="/rdinkytada"],
a[href|="/rdw13"], a[href|="/rdinkyfire"],
a[href|="/rdw23"], a[href|="/rdinky"] ,
a[href|="/rdw04"], a[href|="/rderpypeak"],
a[href|="/rdw14"], a[href|="/rderpycam"],
a[href|="/rdw24"], a[href|="/rderpypout"],
a[href|="/rdw05"], a[href|="/rdhburnt"],
a[href|="/rdw15"], a[href|="/rdhsleep"],
a[href|="/rdw25"], a[href|="/rdhstare"], 
a[href|="/rdw06"], a[href|="/rdhexcited"],
a[href|="/rdw16"], a[href|="/rdhoops"],
a[href|="/rdw26"], a[href|="/rdhmuffin"],
a[href|="/rdw07"], a[href|="/rdwevil"],
a[href|="/rdw17"], a[href|="/rmaster"],
a[href|="/rdw27"], a[href|="/rdwbleh"],
a[href|="/rdw08"], a[href|="/revilwat"], a[href|="/revilwut"],
a[href|="/rdw18"], a[href|="/rdwddd"], a[href|="/rdw3d"],
a[href|="/rdw28"], a[href|="/rdwblush"],
a[href|="/rdw09"], a[href|="/rbanana"],
a[href|="/rdw19"], a[href|="/rsparklermad"],
a[href|="/rdw29"], a[href|="/rpeeved"], a[href|="/rsparklerpeeved"],a[href|="/rsparklerannoyed"]
{
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%rDW%%) !important
    }
/*******    Now, tell each emote it's coordinate inside of the image *********/
/**Row 0: Whooves emotions******************/
a[href|="/dw00"],  a[href|="/dwconcerned"],  a[href|="/dwworried"],
a[href|="/rdw00"], a[href|="/rdwconcerned"], a[href|="/rdwworried"]{
    background-position: -0px -0px
}
a[href|="/dw10"],  a[href|="/dwstartled"] ,
a[href|="/rdw10"], a[href|="/rdwstartled"]{
    background-position: -70px -0px
}
a[href|="/dw20"],  a[href|="/dwhappy"], 
a[href|="/rdw20"], a[href|="/rdwhappy"]{
    background-position: -140px -0px
}
/**Row 1: Whooves with hats or pear***********/
a[href|="/dw01"],  a[href|="/dwtophat"], 
a[href|="/rdw01"], a[href|="/rdwtophat"]{
    background-position: -0px -70px
}
a[href|="/dw11"],  a[href|="/dwfez"], 
a[href|="/rdw11"], a[href|="/rdwfez"]{
    background-position: -70px -70px
}
a[href|="/dw21"],  a[href|="/dwpear"],  a[href|="/ihatepears"],
a[href|="/rdw21"], a[href|="/rdwpear"], a[href|="/rihatepears"]{
    background-position: -140px -70px
}
/**Row 2: Enemies*****************************/
a[href|="/dw02"],  a[href|="/cyberpony"],
a[href|="/rdw02"], a[href|="/rcyberpony"]{
    background-position: -0px -140px
}
a[href|="/dw12"],  a[href|="/dalek"],
a[href|="/rdw12"], a[href|="/rdalek"]{
    background-position: -70px -140px
}
a[href|="/dw22"],  a[href|="/pear"],
a[href|="/rdw22"], a[href|="/rpear"]{
    background-position: -140px -140px
}
/**Row 3: Dinky*******************************/
a[href|="/dw03"],  a[href|="/dinkypresents"], a[href|="/dinkytada"],
a[href|="/rdw03"], a[href|="/rdinkypresents"], a[href|="/rdinkytada"]{
    background-position: -0px -210px
}
a[href|="/dw13"],  a[href|="/dinkyfire"],
a[href|="/rdw13"], a[href|="/rdinkyfire"]{
    background-position: -70px -210px
}
a[href|="/dw23"],  a[href|="/dinky"],
a[href|="/rdw23"], a[href|="/rdinky"]{
    background-position: -140px -210px
}
/**Row 4: Derpy*******************************/
a[href|="/dw04"], a[href|="/derpypeak"],
a[href|="/rdw04"], a[href|="/rderpypeak"]{
    background-position: -0px -280px
}
a[href|="/dw14"], a[href|="/derpycam"],
a[href|="/rdw14"], a[href|="/rderpycam"]{
    background-position: -70px -280px
}
a[href|="/dw24"], a[href|="/derpypout"],
a[href|="/rdw24"], a[href|="/rderpypout"]{
    background-position: -140px -280px
}
/**Row 5: More Derpy**************************/
a[href|="/dw05"], a[href|="/dhburnt"],
a[href|="/rdw05"], a[href|="/rdhburnt"]{
    background-position: -0px -350px
}
a[href|="/dw15"], a[href|="/dhsleep"],
a[href|="/rdw15"], a[href|="/rdhsleep"]{
    background-position: -70px -350px
}
a[href|="/dw25"], a[href|="/dhstare"],
a[href|="/rdw25"], a[href|="/rdhstare"]{
    background-position: -140px -350px
}
/**Row 6: Even more derpy, and a dhmuffin*******/
a[href|="/dw06"], a[href|="/dhexcited"],
a[href|="/rdw06"], a[href|="/rdhexcited"]{
    background-position: -0px -420px
}
a[href|="/dw16"], a[href|="/dhoops"],
a[href|="/rdw16"], a[href|="/rdhoops"]{
    background-position: -70px -420px
}
a[href|="/dw26"], a[href|="/dhmuffin"] ,
a[href|="/rdw26"], a[href|="/rdhmuffin"] {
    background-position: -140px -420px
}
/**Row 7: Even more derpy, and a dhmuffin*******/
a[href|="/dw07"], a[href|="/dwevil"],
a[href|="/rdw07"], a[href|="/rdwevil"]{
    background-position: -0px -490px
}
a[href|="/dw17"], a[href|="/master"],
a[href|="/rdw17"], a[href|="/rmaster"]{
    background-position: -70px -490px
}
a[href|="/dw27"], a[href|="/dwbleh"] ,
a[href|="/rdw27"], a[href|="/rdwbleh"] {
    background-position: -140px -490px
}
/*********************************************/
/**Row 8: Dissywat, 3D, and Blush *******/
a[href|="/dw08"], a[href|="/evilwat"], a[href|="/evilwut"],
a[href|="/rdw08"], a[href|="/revilwat"], a[href|="/revilwut"]{
    background-position: -0px -560px
}
a[href|="/dw18"], a[href|="/dwddd"], a[href|="/dw3d"],
a[href|="/rdw18"], a[href|="/rdwddd"], a[href|="/rdw3d"]{
    background-position: -70px -560px
}
a[href|="/dw28"], a[href|="/dwblush"],
a[href|="/rdw28"], a[href|="/rdwblush"]{
    background-position: -140px -560px
}
/*********************************************/
/**Row 9: Banana, and Sparkler *******/
a[href|="/dw09"], a[href|="/banana"],
a[href|="/rdw09"], a[href|="/rbanana"]{
    background-position: -0px -630px
}
a[href|="/dw19"], a[href|="/sparklermad"],
a[href|="/rdw19"], a[href|="/rsparklermad"]{
    background-position: -70px -630px
}
a[href|="/dw29"], a[href|="/peeved"], a[href|="/sparklerpeeved"],a[href|="/sparklerannoyed"],
a[href|="/rdw29"], a[href|="/rpeeved"], a[href|="/rsparklerpeeved"],a[href|="/rsparklerannoyed"]{
    background-position: -140px -630px
}
/*********************************************/
/******************************************************************************
*           End DW Emote Block                                                *
******************************************************************************/
/******************************************************************************
*           Begin Docotors "Dr" Emote Block                                   *
******************************************************************************/
a[href|="/dr00"], a[href|="/dw1st"],
a[href|="/dr10"], a[href|="/dw2nd"],
a[href|="/dr20"], a[href|="/dw3rd"],
a[href|="/dr01"], a[href|="/dw4th"],
a[href|="/dr11"], a[href|="/dw5th"],
a[href|="/dr21"], a[href|="/dw6th"],
a[href|="/dr02"], a[href|="/dw7th"],
a[href|="/dr12"], a[href|="/dw8th"],
a[href|="/dr22"], a[href|="/dw9th"],
a[href|="/dr03"], a[href|="/dw10th"],
a[href|="/dr13"], a[href|="/dw11th"],
a[href|="/dr04"], a[href|="/rose"],
a[href|="/dr14"], a[href|="/jack"],
a[href|="/dr24"], a[href|="/donna"],
a[href|="/dr05"], a[href|="/amy"],
a[href|="/dr15"], a[href|="/rory"],
a[href|="/dr25"], a[href|="/river"],
a[href|="/dr06"], a[href|="/sjs"], a[href|="/sarahjane"], a[href|="/sarahjanesmith"],
a[href|="/dr16"], a[href|="/romanaII"], a[href|="/romana2"]
{
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%DR%%) !important
}
a[href|="/rdr00"], a[href|="/rdw1st"],
a[href|="/rdr10"], a[href|="/rdw2nd"],
a[href|="/rdr20"], a[href|="/rdw3rd"],
a[href|="/rdr01"], a[href|="/rdw4th"],
a[href|="/rdr11"], a[href|="/rdw5th"],
a[href|="/rdr21"], a[href|="/rdw6th"],
a[href|="/rdr02"], a[href|="/rdw7th"],
a[href|="/rdr12"], a[href|="/rdw8th"],
a[href|="/rdr22"], a[href|="/rdw9th"],
a[href|="/rdr03"], a[href|="/rdw10th"],
a[href|="/rdr13"], a[href|="/rdw11th"],
a[href|="/rdr04"], a[href|="/rrose"],
a[href|="/rdr14"], a[href|="/rjack"],
a[href|="/rdr24"], a[href|="/rdonna"],
a[href|="/rdr05"], a[href|="/ramy"],
a[href|="/rdr15"], a[href|="/rrory"],
a[href|="/rdr25"], a[href|="/rriver"],
a[href|="/rdr06"], a[href|="/rsjs"], a[href|="/rsarahjane"], a[href|="/rsarahjanesmith"],
a[href|="/rdr16"], a[href|="/rromanaII"], a[href|="/rromana2"]
{
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%rDR%%) !important
}
/*********************************************/
a[href|="/dr00"],  a[href|="/dw1st"],  
a[href|="/rdr00"], a[href|="/rdw1st"]{
    background-position: -0px -0px
}
a[href|="/dr10"],  a[href|="/dw2nd"] ,
a[href|="/rdr10"], a[href|="/rdw2nd"]{
    background-position: -70px -0px
}
a[href|="/dr20"],  a[href|="/dw3rd"], 
a[href|="/rdr20"], a[href|="/rdw3rd"]{
    background-position: -140px -0px
} 
/*********************************************/
a[href|="/dr01"],  a[href|="/dw4th"], 
a[href|="/rdr01"], a[href|="/rdw4th"]{
    background-position: -0px -70px
}
a[href|="/dr11"],  a[href|="/dw5th"], 
a[href|="/rdr11"], a[href|="/rdw5th"]{
    background-position: -70px -70px
}
a[href|="/dr21"],  a[href|="/dw6th"],
a[href|="/rdr21"], a[href|="/rdw6th"]{
    background-position: -140px -70px
}
/*********************************************/
a[href|="/dr02"],  a[href|="/dw7th"],
a[href|="/rdr02"], a[href|="/rdw7th"]{
    background-position: -0px -140px
}
a[href|="/dr12"],  a[href|="/dw8th"],
a[href|="/rdr12"], a[href|="/rdw8th"]{
    background-position: -70px -140px
}
a[href|="/dr22"],  a[href|="/dw9th"],
a[href|="/rdr22"], a[href|="/rdw9th"]{
    background-position: -140px -140px
}
/*********************************************/
a[href|="/dr03"],  a[href|="/dw10th"],
a[href|="/rdr03"], a[href|="/rdw10th"]{
    background-position: -0px -210px
}
a[href|="/dr13"],  a[href|="/dw11th"],
a[href|="/rdr13"], a[href|="/rdw11th"]{
    background-position: -70px -210px
}
/*********************************************/
a[href|="/dr04"],  a[href|="/rose"],
a[href|="/rdr04"],  a[href|="/rrose"]{
    background-position: -0px -280px
}
a[href|="/dr14"],  a[href|="/jack"],
a[href|="/rdr14"],  a[href|="/rjack"]{
    background-position: -70px -280px
}
a[href|="/dr24"],  a[href|="/donna"],
a[href|="/rdr24"],  a[href|="/rdonna"]{
    background-position: -140px -280px
}
/*********************************************/
a[href|="/dr05"],  a[href|="/amy"],
a[href|="/rdr05"],  a[href|="/ramy"]{
    background-position: -0px -350px
}
a[href|="/dr15"],  a[href|="/rory"],
a[href|="/rdr15"],  a[href|="/rrory"]{
    background-position: -70px -350px
}
a[href|="/dr25"],  a[href|="/river"],
a[href|="/rdr25"],  a[href|="/rriver"]{
    background-position: -140px -350px
}
/*********************************************/
a[href|="/dr06"], a[href|="/sjs"], a[href|="/sarahjane"], a[href|="/sarahjanesmith"],
a[href|="/rdr06"], a[href|="/rsjs"], a[href|="/rsarahjane"], a[href|="/rsarahjanesmith"]{
    background-position: -0px -420px
}
a[href|="/dr16"], a[href|="/romanaII"], a[href|="/romana2"], a[href|="/romana"],
a[href|="/rdr16"], a[href|="/rromanaII"], a[href|="/rromana2"], a[href|="/rromana"]{
    background-position: -70px -420px
}
/*********************************************/
/******************************************************************************
*           End Docotors "Dr" Emote Block                                     *
******************************************************************************/
    
    
    

/**********************
*
*    OTHER EMOTE STUFF
*
***********************/
/* Space thingy */
a[href|="/sp"] {
    display: inline-block;
    padding-right: 100%
    }
/*in-line emotes -in and -inp, e.g. texttext[](/b24-in)texttext*/
a[href^="/"][href*="-in-"], a[href^="/"][href$="-in"], a[href^="/"][href*="-inp-"], a[href^="/"][href$="-inp"] {
    float: none !important;
    display: inline-block !important
    }



/***************************************************************************************************
*                         Sidebar!
***************************************************************************************************/
/*Changing readers in sidebar*/
div.titlebox span.word {
    display: none
    }
div.titlebox span.number:after {
    content: " Whovian Bronies "
    }
/* Mod name modification. */
.titlebox .bottom .author, .sidecontentbox .author {
    display: inline-block
}

.sidecontentbox a.author[href$="/shellbullet17"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
}

.sidecontentbox a.author[href$="/shellbullet17"]:after {
    content: "The Doctor";
    font-size: 13px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
}

a.author[href$="/shellbullet17"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
}

a.author[href$="/shellbullet17"]:after {
    content: "The Doctor";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
}


.sidecontentbox a.author[href$="/_Doctor_Whooves_"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
}


.sidecontentbox a.author[href$="/_Doctor_Whooves_"]:after {
    content: "Doctor Whooves";
    font-size: 13px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal

}
a.author[href$="/_Doctor_Whooves_"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
}

a.author[href$="/_Doctor_Whooves_"]:after {
    content: "Doctor Whooves";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
}

.sidecontentbox a.author[href$="/tehcrashxor"]:before {
    content: "teh ";
    color: #EE2C2C
    }
/* Sorry for stealing this .-. */
.sidecontentbox a.author[href$="/leo986"]:before {
    content: "Allons-y! ";
    color: #EE2C2C
    }
.sidecontentbox a.author[href$="/Ghost_Of_JamesMuliz"]:before {
    content: "Necromancy! ";
    color: #EE2C2C
    }

    .titlebox strong {
        font-size: medium
        }
    .titlebox del {
        color: white
        }
    .titlebox em {
        font-size: 9px;
        text-decoration: none;
        font-style: normal
        }
    .titlebox strong em {
        font-size: 8px;
        font-style: normal;
        font-weight: normal
        }
    .titlebox table {
        display: none;
        clear: both
        }
    .side div.usertext-body:hover table {
        display: block;
        clear: both
        }


    /* User Icons */
    .flair {
        padding: 0;
        background: none;
        color: black;
        border: 0;
        border-radius: 0;
        background-image: url(%%flair%%);
        display: inline-block;
        width: 16px;
        height: 16px
        }
    .flair-rainbowdash {
        background-position: 0px 0px
        }
    .flair-twilight {
        background-position: -16px 0px
        }
    .flair-fluttershy {
        background-position: 0px -16px
        }
    .flair-applejack {
        background-position: -16px -16px
        }
    .flair-pinkiepie {
        background-position: 0px -32px
        }
    .flair-pinkiepiecmc {
        background-position: 0px -32px
        }
    .flair-rarity {
        background-position: -16px -32px
        }
    .flair-trixie {
        background-position: 0px -48px
        }
    .flair-cmc {
        background-position: -16px -48px
        }
    .flair-cmcchinchy {
        background-position: -16px -48px;
        margin-left: 5px
        }
    .flair-luna {
        background-position: 0px -64px
        }
    .flair-celestia {
        background-position: -16px -64px
        }
    .flair-derpy {
        background-position: 0px -80px
        }
    .flair-vinyl {
        background-position: -16px -80px
        }
    .flair-lyra {
        background-position: 0px -96px
        }
    .flair-bonbon {
        background-position: -16px -96px
        }
    .flair-octavia {
        background-position: 0px -112px
        }
    .flair-doctor {
        background-position: -16px -112px
        }
    .flair-mac {
        background-position: 0px -128px
        }
    .flair-colgate {
        background-position: -16px -128px
        }
    .flair-berry {
        background-position: -0px -144px
        }
    .flair-pokey {
        background-position: -16px -144px
        }
    .flair-roseluck {
        background-position: -0px -160px
        }
    .flair-zecora {
        background-position: -16px -160px
        }
    .flair-seafoam {
        background-position: -0px -176px
        }
    .flair-carrottop {
        background-position: -16px -176px
        }
    .flair-screwball {
        background-position: -0px -192px
        }
    .flair-redheart {
        background-position: -16px -192px
        }
    .flair-caramel {
        background-position: -0px -208px
        }
    .flair-braeburn {
        background-position: -16px -208px
        }
    .flair-wonderbolts {
        background-position: -0px -224px
        }
    .flair-shadowbolts {
        background-position: -16px -224px
        }
    .flair-scootaloo {
        background-position: -0px -240px
        }
    .flair-applebloom {
        background-position: -16px -240px
        }
    .flair-sweetiebelle {
        background-position: -0px -256px
        }
    .flair-davenport {
        background-position: -16px -256px
        }
    .flair-cheerilee {
        background-position: -0px -272px
        }
    .flair-nightmaremoon {
        background-position: -16px -272px
        }
    .flair-blueblood {
        background-position: -0px -288px
        }
    .flair-daring {
        background-position: -16px -288px
        }
    .flair-mrcake {
        background-position: -0px -304px
        }
    .flair-mrscake {
        background-position: -16px -304px
        }
    .flair-flam {
        background-position: -0px -320px
        }
    .flair-flim {
        background-position: -16px -320px
        }
    .flair-silverspoon {
        background-position: -0px -336px
        }
    .flair-diamondtiara {
        background-position: -16px -336px
        }
    .flair-snips {
        background-position: -0px -352px
        }
    .flair-snails {
        background-position: -16px -352px
        }
    .flair-twist {
        background-position: -0px -368px
        }
    .flair-gaben {
        background-position: -16px -368px
        }
    .flair-sparkler {
        background-position: -0px -384px
        }
    .flair-disco {
        background-position: -16px -384px
        }
    .flair-fancypants {
        background-position: -0px -400px
        }
    .flair-fleur {
        background-position: -16px -400px
        }
    .flair-blankflank {
        background-image: none;
        height: 0;
        width: 0
        }



/************************** Hover Derpy!  Stolen idea from the Plounge *****************************/
.side a[href="http://www.reddit.com/r/Gallopfrey/new/"] {
    display: block;
    height: 90px;
    width: 82px;
    background: url(%%exstatic-derpy-shrunk%%);
    position: fixed;
    top: 430px;
    right: -10px;
    z-index: 999
    }

/* Stolen from /r/mlp */
.sidecontentbox h1 {
    text-align: left
    }
.sidecontentbox .helplink + .title > h1 {
    color: white !important;
    font-size: 1px !important;
    display: inline-block
    }
.sidecontentbox .helplink + .title > h1:before {
    color: gray !important;
    font-size: 13px !important;
    content: "COMPANIONS!";
    display: inline-block
    }