body {
  background-color : #F3C3F7;
}

.pagename a {
  color: #FFFFFF;
  font-size: 30px;
}

#sr-header-area {
  background-color: #ADECE9;
  opacity: .80;
}

#header {
  border: 0;
  background-color: #8436AC;
  box-shadow: 0 0 20px #6A2E8C;
  height: 213px;
  background: url(%%header-img%%);
}

#header-bottom-right {
  background-color: #DFABEB;
}

#header-bottom-left {
  background: url(%%header-img%%);
  background-color: #9039A4;
  height: 195px;
}

.tabmenu li a {
  border-top-left-radius:4px;
  border-top-right-radius:4px
}

.titlebox, .sidecontentbox {
  -moz-border-radius: 4px;
  padding: 4px;
  border: 4px solid #6A2E8C;
  background-color: #F3E3F4;
}

.side { 
  color: #000000; 
  background-color: #F3C3F7;
}

body:not(.moderator) .arrow {
  visibility: hidden !important;
}

div.titlebox span.word {
    display: none;
}

div.titlebox span.number:after {
  content: " happy ponies";
}

.users-online .word {
  display: none;
}

.users-online .word, .users-online .number:after {
  content: " accepting equality" !important;
}

.morelink a {
  background-color: #F3E3F4;
  color: #6A2E8C;
}

.nub { 
  display: none; 
}

.tabmenu {
  margin-top: 181px;
}

.comments-page .commentarea .comment {background-color:#F1CBF4!important;} .comments-page .commentarea .comment .comment {background-color:#EDDCEF!important;} .comments-page .commentarea .comment .comment .comment {background-color:#EFD5F2!important;} .comments-page .commentarea .comment .comment .comment .comment {background-color:#EDDCEF!important;} .comments-page .commentarea .comment .comment .comment .comment .comment {background-color:#EFD5F2!important;} .comments-page .commentarea .comment .comment .comment .comment .comment .comment {background-color:#EDDCEF!important;} .comments-page .commentarea .comment .comment .comment .comment .comment .comment .comment {background-color:#EFD5F2!important;} .comments-page .commentarea .comment .comment .comment .comment .comment .comment .comment .comment {background-color:#EDDCEF2!important;} .comments-page .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment {background-color:#EFD5F2!important;} body:not(.res-nightmode) .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment{background-color:#EDDCEF!important;}

div.sidebox.create {
  display: none;
}

a.author[href$="Ootachiful"] {font-size:0!important; overflow:hidden; display:inline-block; content: "";}
a.author[href$="Ootachiful"]:before {font-size:10px!important; visibility:visible!important; content: "Ootachi "}


a[href|="/starlightgrin"], a[href|="/starlightsmug"], a[href|="/starlightyell"], a[href|="/starlightheythere"], a[href|="/starlightlookingup"], a[href|="/starlighthappy"], a[href|="/starlightcute"], a[href|="/starlightglare"], 
a[href|="/starlightmad"], a[href|="/starlightknowing"], a[href|="/starlightmagic"], a[href|="/starlightangry"], a[href|="/starlightconcerned"], a[href|="/starlightpleased"], a[href|="/starlightwelcome"], a[href|="/starlightmadgic"], 
a[href|="/starlightstalin"], a[href|="/starlightcheer"], a[href|="/starlightglimmer"], a[href|="/starlightbot"], a[href|="/starlightspy"], a[href|="/starlightproud"], 
a[href|="/starlightpointy"], a[href|="/starlightcheerful"], a[href|="/starlightunimpressed"], a[href|="/starlightsitting"], a[href|="/starlightregal"], a[href|="/starlightcommander"],  
a[href|="/starlightneat"], a[href|="/starlightfrench"] {
  float: left;
  display: block;
  height: 70px;
  background-image: url(%%starlight-sheet%%);
}

a[href|="/starlightgrin"] {
  width: 70px;
  background-position: 0 0;
}

a[href|="/starlightsmug"] {
  width: 70px;
  background-position: -70px 0;
}

a[href|="/starlightyell"] {
  width: 70px;
  background-position: -140px 0;
}

a[href|="/starlightheythere"] {
  width: 70px;
  background-position: -210px 0;
}

a[href|="/starlightlookingup"] {
  width: 70px;
  background-position: -280px 0;
}

a[href|="/starlighthappy"] {
  width: 70px;
  background-position: -350px 0;
}

a[href|="/starlightcute"] {
  width: 70px;
  background-position: -420px 0;
}

a[href|="/starlightglare"] {
  width: 70px;
  background-position: -490px 0;
}

a[href|="/starlightmad"] {
  width: 70px;
  background-position: 0 -70px;
}

a[href|="/starlightknowing"] {
  width: 70px;
  background-position: -70px -70px;
}

a[href|="/starlightmagic"] {
  width: 70px;
  background-position: -140px -70px;
}

a[href|="/starlightangry"] {
  width: 70px;
  background-position: -210px -70px;
}

a[href|="/starlightconcerned"] {
  width: 70px;
  background-position: -280px -70px;
}

a[href|="/starlightpleased"] {
  width: 70px;
  background-position: -350px -70px;
}

a[href|="/starlightwelcome"] {
  width: 70px;
  background-position: -420px -70px;
}

a[href|="/starlightmadgic"] {
  width: 70px;
  background-position: -490px -70px;
}

a[href|="/starlightstalin"] {
  width: 95px;
  height: 125px;
  background-position: 0 -140px;
}

a[href|="/starlightcheer"] {
  width: 80px;
  height: 125px;
  background-position: -95px -140px;
}

a[href|="/starlightglimmer"] {
  width: 95px;
  height: 125px;
  background-position: -175px -140px;
}

a[href|="/starlightbot"] {
  width: 95px;
  height: 125px;
  background-position: -270px -140px;
}

a[href|="/starlightspy"] {
  width: 55px;
  height: 125px;
  background-position: -365px -140px;
}

a[href|="/starlightproud"] {
  width: 85px;
  height: 125px;
  background-position: -420px -140px;
}
 
a[href|="/starlightpointy"] {
  width: 100px;
  height: 125px;
  background-position: -0px -265px;
}

a[href|="/starlightcheerful"] {
  width: 70px;
  background-position: -100px -265px;
}

a[href|="/starlightunimpressed"] {
  width: 70px;
  background-position: -100px -335px;
}

a[href|="/starlightsitting"] {
  width: 135px;
  height: 125px;
  background-position: -170px -265px;
}

a[href|="/starlightregal"] {
  width: 100px;
  height: 125px;
  background-position: -305px -265px;
}

a[href|="/starlightcommander"] {
  width: 100px;
  height: 100px;
  background-position: -405px -265px;
}

a[href|="/starlightneat"] {
  width: 70px;
  background-position: 0 -405px;
}

a[href|="/starlightfrench"] {
  width: 70px;
  background-position: -70px -405px;
}

a[href|="/moondancersaywhat"], a[href|="/moondancersmile"], a[href|="/moondancerfrown"], a[href|="/moondancerbeam"], a[href|="/moondancerhappycry"], a[href|="/moondanceradorkable"], a[href|="/moondancerdisappoint"], a[href|="/moondancerbook"], a[href|="/moondancercute"], a[href|="/moondancerangry"], a[href|="/moondancerincredulous"], a[href|="/moondancernotes"], a[href|="/moondancerchibi"], a[href|="/moondancerlistening"], 
a[href|="/moondancercurious"], a[href|="/moondancercurious"], a[href|="/moondancercheery"] {
  float: left;
  display: block;
  height: 70px;
  background-image: url(%%md1%%);
}

a[href|="/moondancersaywhat"] {
  width: 70px;
  background-position: 0 0;
}

a[href|="/moondancersmile"] {
  width: 70px;
  background-position: -70px 0;
}

a[href|="/moondancerfrown"] {
  width: 70px;
  background-position: -140px 0;
}

a[href|="/moondancerbeam"] {
  width: 70px;
  background-position: -210px 0;
}

a[href|="/moondancerhappycry"] {
  width: 70px;
  background-position: -280px 0;
}

a[href|="/moondanceradorkable"] {
  width: 70px;
  background-position: -350px 0;
}

a[href|="/moondancerdisappoint"] {
  width: 70px;
  background-position: -420px 0;
}

a[href|="/moondancerbook"] {
  width: 70px;
  background-position: -490px 0;
}

a[href|="/moondancercute"] {
  width: 70px;
  background-position: -560px 0;
}

a[href|="/moondancerangry"] {
  width: 70px;
  background-position: -630px 0;
}

a[href|="/moondancerincredulous"] {
  width: 70px;
  background-position: -700px 0;
}

a[href|="/moondancernotes"] {
  width: 70px;
  background-position: -770px 0;
}

a[href|="/moondancerchibi"] {
  width: 70px;
  background-position: -840px 0;
}

a[href|="/moondancerlistening"] {
  width: 70px;
  background-position: -910px 0;
}

a[href|="/moondancercurious"] {
  width: 70px;
  background-position: -980px 0;
}

a[href|="/moondancercheery"] {
  width: 70px;
  background-position: -1050px 0;
}
