/* UI (not emotes) */

html,.number,.remove,.debuginfo {visibility:hidden;background-color:lightgray;background-image:none!important}

.titlebox .fancy-toggle-button {visibility:visible;display:fixed!important}

p {color:black;top: 70%;left: 50%;transform: translate(-00%, -15%);visibility:visible;display: block!important}

#noresults,.account-activity-box,.word,.bottommenu,.fuzzed {display:none!important}

.option {font-size:0px!important;color:transparent!important;background-color:transparent;border-color:transparent!important;
position: absolute;top: 30%;left: 50%;transform: translate(-50%, -30%);}

.side {margin: auto;
    width: 60%;
    padding: 10px;}


.fancy-toggle-button,.remove,.active {background-color:transparent!important;background-image:none!important;padding:0px!important;visibility:none!important}


.multi-selector {transform: translate(80%,300%)!important}
.multi-list {display:none}
.title:after {font-size:15px;color:black;content:"Voting subscribes you to this subreddit, but you won't see any posts from us."}
.title {color:transparent;font-size:0px}

.hover-bubble:after,.hover-bubble:before {display:none}

/* End UI */

/* a-table */

a[href|="/alphyshy"],a[href|="/applesans"],a[href|="/judyshy"],a[href|="/pinkpyrus"],a[href|="/raindyne"],a[href|="/rariton"],a[href|="/temmie"],a[href|="/toriel"],a[href|="/toritwi"],a[href|="/twipines"] {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(%%a%%)}

a[href|="/alphyshy"] {width:258px; height:200px; background-position: -600px -0px}
a[href|="/applesans"] {width:196px; height:200px; background-position: -0px -200px}
a[href|="/judyshy"] {width:128px; height:300px; background-position: -796px -200px}
a[href|="/pinkpyrus"] {width:200px; height:221px; background-position: -396px -200px}
a[href|="/raindyne"] {width:184px; height:200px; background-position: -100px -0px}
a[href|="/rariton"] {width:200px; height:210px; background-position: -196px -200px}
a[href|="/temmie"] {width:200px; height:200px; background-position: -284px -0px}
a[href|="/toriel"] {width:116px; height:200px; background-position: -484px -0px}
a[href|="/toritwi"] {width:200px; height:232px; background-position: -596px -200px}
a[href|="/twipines"] {width:100px; height:100px; background-position: -0px -0px}

a[href|="/nothingness"] {display: none;background-image: url(%%a%%);width:1px;height:1px;background-position: 0px, 0px} 

/* b-table */

a[href|="/bill"],a[href|="/dipper"],a[href|="/fluttershoot"],a[href|="/mabel"],a[href|="/ponkpines"] {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(%%b%%)}

a[href|="/bill"] {width:88px; height:150px; background-position: -0px -0px}
a[href|="/dipper"] {width:80px; height:102px; background-position: -88px -0px}
a[href|="/fluttershoot"] {width:130px; height:200px; background-position: -168px -0px}
a[href|="/mabel"] {width:71px; height:62px; background-position: -298px -0px}
a[href|="/ponkpines"] {width:100px; height:100px; background-position: -369px -0px}

/* c-table */

a[href|="/lapis"],a[href|="/lapiswings"],a[href|="/pinkiepyro"],a[href|="/scpony"],a[href|="/vulcan"] {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(%%c%%)}

a[href|="/lapis"] {width:118px; height:150px; background-position: -0px -0px}
a[href|="/lapiswings"] {width:206px; height:150px; background-position: -118px -0px}
a[href|="/pinkiepyro"] {width:233px; height:200px; background-position: -324px -0px}
a[href|="/scpony"] {width:150px; height:180px; background-position: -557px -0px}
a[href|="/vulcan"] {width:116px; height:150px; background-position: -707px -0px}

/* Sheet sizefix-0 — Generated by /u/HeyItsShuga's BPM TexturePacker addon. */

a[href|="/appley"],a[href|="/dashdyne"],a[href|="/dashey"],a[href|="/fluttery"],a[href|="/mettararity"],a[href|="/mettararityex"],a[href|="/pinkey"],a[href|="/pinkra"],a[href|="/raritey"],a[href|="/shiningasgore"],a[href|="/starry"],a[href|="/twiey"] {display:block;float:left;cursor:default;overflow:hidden;background-repeat:no-repeat;background-image:url(%%sizefix-0%%)}

a[href|="/appley"] {width:91px; height:102px; background-position: -415px -356px}
a[href|="/dashdyne"] {width:152px; height:202px; background-position: -260px -0px}
a[href|="/dashey"] {width:91px; height:102px; background-position: -0px -404px}
a[href|="/fluttery"] {width:91px; height:102px; background-position: -91px -404px}
a[href|="/mettararity"] {width:207px; height:202px; background-position: -208px -202px}
a[href|="/mettararityex"] {width:208px; height:202px; background-position: -0px -202px}
a[href|="/pinkey"] {width:91px; height:102px; background-position: -182px -404px}
a[href|="/pinkra"] {width:99px; height:152px; background-position: -412px -0px}
a[href|="/raritey"] {width:92px; height:102px; background-position: -415px -152px}
a[href|="/shiningasgore"] {width:260px; height:202px; background-position: -0px -0px}
a[href|="/starry"] {width:92px; height:102px; background-position: -415px -254px}
a[href|="/twiey"] {width:91px; height:102px; background-position: -273px -404px}



/* Sheet sizefix-1 — Generated by /u/HeyItsShuga's BPM TexturePacker addon. */

a[href|="/cadoriel"],a[href|="/cels"],a[href|="/fauster"],a[href|="/koltstare"],a[href|="/lunyrus"],a[href|="/twifrisk"] {display:block;float:left;cursor:default;overflow:hidden;background-repeat:no-repeat;background-image:url(%%sizefix-1%%)}

a[href|="/cadoriel"] {width:146px; height:202px; background-position: -0px -0px}
a[href|="/cels"] {width:107px; height:152px; background-position: -146px -0px}
a[href|="/fauster"] {width:111px; height:152px; background-position: -136px -304px}
a[href|="/koltstare"] {width:72px; height:72px; background-position: -0px -404px}
a[href|="/lunyrus"] {width:136px; height:202px; background-position: -0px -202px}
a[href|="/twifrisk"] {width:99px; height:152px; background-position: -146px -152px}



/* Sheet x1-0 — Generated by /u/HeyItsShuga's BPM TexturePacker addon. */

a[href|="/dalekhug"],a[href|="/ie"],a[href|="/minecraft"],a[href|="/samus"],a[href|="/win98"] {display:block;float:left;cursor:default;overflow:hidden;background-repeat:no-repeat;background-image:url(%%x1-0%%)}

a[href|="/dalekhug"] {width:181px; height:202px; background-position: -287px -177px}
a[href|="/ie"] {width:211px; height:177px; background-position: -209px -0px}
a[href|="/minecraft"] {width:209px; height:175px; background-position: -0px -0px}
a[href|="/samus"] {width:192px; height:202px; background-position: -95px -177px}
a[href|="/win98"] {width:95px; height:177px; background-position: -0px -175px}

/* Sheet x1-1 — Generated by /u/HeyItsShuga's BPM TexturePacker addon. */

a[href|="/dalekolt"],a[href|="/dropbox"],a[href|="/gerudo"],a[href|="/ie6"],a[href|="/win10"],a[href|="/winxp"] {display:block;float:left;cursor:default;overflow:hidden;background-repeat:no-repeat;background-image:url(%%x1-1%%)}

a[href|="/dalekolt"] {width:133px; height:202px; background-position: -0px -177px}
a[href|="/dropbox"] {width:184px; height:172px; background-position: -133px -202px}
a[href|="/gerudo"] {width:149px; height:202px; background-position: -177px -0px}
a[href|="/ie6"] {width:174px; height:177px; background-position: -317px -202px}
a[href|="/win10"] {width:173px; height:177px; background-position: -326px -0px}
a[href|="/winxp"] {width:177px; height:177px; background-position: -0px -0px}

/* Sheet x1-2 — Generated by /u/HeyItsShuga's BPM TexturePacker addon. */

a[href|="/iecry"],a[href|="/spitfirefox"],a[href|="/steam"],a[href|="/win7"],a[href|="/win95"],a[href|="/winme"] {display:block;float:left;cursor:default;overflow:hidden;background-repeat:no-repeat;background-image:url(%%x1-2%%)}

a[href|="/iecry"] {width:145px; height:177px; background-position: -325px -177px}
a[href|="/spitfirefox"] {width:176px; height:174px; background-position: -0px -0px}
a[href|="/steam"] {width:164px; height:177px; background-position: -0px -174px}
a[href|="/win7"] {width:162px; height:177px; background-position: -176px -0px}
a[href|="/win95"] {width:161px; height:177px; background-position: -164px -177px}
a[href|="/winme"] {width:135px; height:177px; background-position: -338px -0px}

/* Sheet x1-3 — Generated by /u/HeyItsShuga's BPM TexturePacker addon. */

a[href|="/win8"] {display:block;float:left;cursor:default;overflow:hidden;background-repeat:no-repeat;background-image:url(%%x1-3%%)}

a[href|="/win8"] {width:133px; height:177px; background-position: -0px -0px}




/* rdnod animote */

a[href|="/rdnod"] {display:block;float:left;cursor:default;overflow:hidden;background-repeat:no-repeat;background-image:url(%%rdnod%%);width:141px; height:200px}