/* a-table */

a[href|="/alphyshy"],a[href|="/applesans"],a[href|="/judyshy"],a[href|="/pinkpyrus"],a[href|="/raindyne"],a[href|="/rariton"],a[href|="/temmie"],a[href|="/toriel"],a[href|="/toritwi"],a[href|="/twipines"] {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(%%a%%);}

a[href|="/alphyshy"] {width:258px; height:200px; background-position: -600px -0px}
a[href|="/applesans"] {width:196px; height:200px; background-position: -0px -200px}
a[href|="/judyshy"] {width:128px; height:300px; background-position: -796px -200px}
a[href|="/pinkpyrus"] {width:200px; height:221px; background-position: -396px -200px}
a[href|="/raindyne"] {width:184px; height:200px; background-position: -100px -0px}
a[href|="/rariton"] {width:200px; height:210px; background-position: -196px -200px}
a[href|="/temmie"] {width:200px; height:200px; background-position: -284px -0px}
a[href|="/toriel"] {width:116px; height:200px; background-position: -484px -0px}
a[href|="/toritwi"] {width:200px; height:232px; background-position: -596px -200px}
a[href|="/twipines"] {width:100px; height:100px; background-position: -0px -0px}

a[href|="/nothingness"] {display: none;background-image: url(%%a%%);width:1px;height:1px;background-position: 0px, 0px} 

/* b-table */

a[href|="/bill"],a[href|="/dipper"],a[href|="/fluttershoot"],a[href|="/mabel"],a[href|="/ponkpines"] {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(%%b%%);}

a[href|="/bill"] {width:88px; height:150px; background-position: -0px -0px}
a[href|="/dipper"] {width:80px; height:102px; background-position: -88px -0px}
a[href|="/fluttershoot"] {width:130px; height:200px; background-position: -168px -0px}
a[href|="/mabel"] {width:71px; height:62px; background-position: -298px -0px}
a[href|="/ponkpines"] {width:100px; height:100px; background-position: -369px -0px}