div.titlebox span.word{display:none}div.titlebox .subscribers span.number:after{content:" Dunians"}div.titlebox .users-online span.number:after{content:" adventurin'."}

/***********************
*
*             EMOTES
*   
************************/
/**************
A Emoticons
**************/
a[href|="/swordserious"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 148px;
    background-image: url(%%swordserious%%)
    }

a[href|="/swordshrug"] {
    display: block;
    clear: none;
    float: left;
    width: 120px;
    height: 120px;
    background-image: url(%%swordshrug%%)
    }

