div.titlebox span.word{display:none}div.titlebox .subscribers span.number:after{content:" People"}div.titlebox .users-online span.number:after{content:" Are not acting like rational people"}

/***********************
*
*             EMOTES
*   
************************/
/**************
A Emoticons
**************/
a[href|="/swordserious"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 134px;
    background-repeat: no-repeat;
    background-image: url(%%swordserious%%)
    }

a[href|="/swordshrug"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%swordshrug%%)
    }

a[href|="/swordsquint"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%swordsquint%%)
    }

a[href|="/swordlie"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%swordlie%%)
    }

a[href|="/swordguilt"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%swordguilt%%)
    }

a[href|="/swordberg"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%swordberg%%)
    }

a[href|="/swordhoof"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%swordhoof%%)
    }

a[href|="/swordcrazy"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%swordcrazy%%)
    }

a[href|="/swordmad"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%swordmad%%)
    }

a[href|="/swordsad"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%swordsad%%)
    }

a[href|="/swordshock"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%swordshock%%)
    }

a[href|="/swordsmile"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%swordsmile%%)
    }


a[href|="/perry"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 68px;
    background-repeat: no-repeat;
    background-image: url(%%perry%%)
    }


a[href|="/sadmonogram"] {
    display: block;
    clear: none;
    float: left;
    width: 90px;
    height: 85px;
    background-repeat: no-repeat;
    background-image: url(%%sadmonogram%%)
    }


a[href|="/swordulan"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 158px;
    background-repeat: no-repeat;
    background-image: url(%%swordulan%%)
    }

a[href|="/himntor"] {
    display: block;
    clear: none;
    float: left;
    width: 224px;
    height: 300px;
    background-repeat: no-repeat;
    background-image: url(%%himntor%%)
    }

a[href|="/swordbee"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 77px;
    background-repeat: no-repeat;
    background-image: url(%%swordbee%%)
    }

a[href|="/swordtux"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 174px;
    background-repeat: no-repeat;
    background-image: url(%%swordtux%%)
    }

a[href|="/battlestance"] {
    display: block;
    clear: none;
    float: left;
    width: 170px;
    height: 189px;
    background-repeat: no-repeat;
    background-image: url(%%battlestance%%)
    }

a[href|="/hamntor"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%hamntor%%)
    }

a[href|="/swordy"] {
    display: block;
    clear: none;
    float: left;
    width: 297px;
    height: 296px;
    background-repeat: no-repeat;
    background-image: url(%%swordy%%)
    }

a[href|="/iseeham"] {
    display: block;
    clear: none;
    float: left;
    width: 297px;
    height: 296px;
    background-repeat: no-repeat;
    background-image: url(%%iseeham%%)
    }

a[href|="/male1"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%male1%%)
    }

a[href|="/male2"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%male2%%)
    }

a[href|="/male3"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%male3%%)
    }

a[href|="/swordsmug"] {
    display: block;
    clear: none;
    float: left;
    width: 86px;
    height: 80px;
    background-repeat: no-repeat;
    background-image: url(%%swordsmug%%)
    }

a[href|="/male5"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%male5%%)
    }

a[href|="/male6"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%male6%%)
    }

a[href|="/male7"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%male7%%)
    }

a[href|="/male8"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%male8%%)
    }

a[href|="/male9"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%male9%%)
    }

a[href|="/male10"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%male10%%)
    }

a[href|="/male11"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%male11%%)
    }

a[href|="/male12"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%male12%%)
    }

a[href|="/male13"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%male13%%)
    }

a[href|="/male14"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%male14%%)
    }

a[href|="/male15"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%male15%%)
    }

a[href|="/male16"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%male16%%)
    }

a[href|="/male17"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%male17%%)
    }

a[href|="/male18"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%male18%%)
    }

a[href|="/male19"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%male19%%)
    }

a[href|="/male20"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%male20%%)
    }

a[href|="/swordattack"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 136px;
    background-repeat: no-repeat;
    background-image: url(%%swordattack%%)
    }

a[href|="/female2"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%female2%%)
    }

a[href|="/female3"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%female3%%)
    }

a[href|="/female4"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%female4%%)
    }

a[href|="/female5"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%female5%%)
    }

a[href|="/female6"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%female6%%)
    }

a[href|="/female7"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%female7%%)
    }

a[href|="/female8"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 110px;
    background-repeat: no-repeat;
    background-image: url(%%female8%%)
    }