div.titlebox span.word{display:none}div.titlebox .subscribers span.number:after{content:" Dunians"}div.titlebox .users-online span.number:after{content:" adventurin'."}

/***********************
*
*             EMOTES
*   
************************/
/**************
A Emoticons
**************/
a[href|="/swordserious"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 134px;
    background-repeat: no-repeat;
    background-image: url(%%swordserious%%)
    }

a[href|="/swordshrug"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%swordshrug%%)
    }

a[href|="/swordstare"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%swordstare%%)
    }

a[href|="/swordlie"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%swordlie%%)
    }

a[href|="/swordouch"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%swordouch%%)
    }

a[href|="/swordberg"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%swordberg%%)
    }

a[href|="/swordhoof"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%swordhoof%%)
    }

a[href|="/swordcrazy"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%swordcrazy%%)
    }

a[href|="/swordmad"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%swordmad%%)
    }

a[href|="/swordsad"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%swordsad%%)
    }

a[href|="/swordshock"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%swordshock%%)
    }

a[href|="/swordsmile"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-image: url(%%swordsmile%%)
    }

a[href|="/agentp"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 97px;
    background-repeat: no-repeat;
    background-image: url(%%agentp%%)
    }

a[href|="/perry"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 68px;
    background-repeat: no-repeat;
    background-image: url(%%perry%%)
    }

a[href|="/doofenshmirtz"] {
    display: block;
    clear: none;
    float: left;
    width: 40px;
    height: 90px;
    background-repeat: no-repeat;
    background-image: url(%%doofenshmirtz%%)
    }

a[href|="/thedoof"] {
    display: block;
    clear: none;
    float: left;
    width: 160px;
    height: 200px;
    background-repeat: no-repeat;
    background-image: url(%%thedoof%%)
    }