/* HOW TO EMOTE
 * Find the 'spritesheet' that the emote should go on.
 * If emote is 70x70 it's the latest non-full 70x70 image...
 * Download and add the emote to the image. Images have a grid pattern, so make sure you add the emote in line with the grid.
 * Upload the updated image using the form, make sure the 'new image name' section is the same as the image it's replacing.
 * (So if you update the 70x70a image, make sure it says "70x70a").
 * In the form: `a[href|="/emotecode"]`, add the emote to the corresponding sprite sheet CSS below. [Without the backticks, and don't forget the comma!]
 * If the emote is a misfit you're going to have to define it's width and height yourself.
 * In the form: `a[href|="/emotecode"] {width:[X]px;height:[Y]px;}` Where [X] and [Y] are the width and height of the emote respectively.
 * Now you need to add it to the correct grid position css rule. 0,0 is the top left, 1,0 is the one one to the right of that. etc. etc.
 * If the emote is a misfit, you'll need to define it yourself.
 * In the form: `a[href|="/emotecode"] {background-position: -[X]px -[Y]px;}` Where [X] and [Y] are the horizontal and vertical distance from
 * the top left of the image to the top left of the emote in pixels respectively.
 * Click save and you should be done! Test if it works. If reddit throws a CSS validation error at you double check you haven't missed out any
 * semi-colons or curly brackets or the like, or you haven't typo'd the name of a CSS property. etc. etc...
 */

/* 70x70a 'motes. */
a[href|="/examplecode1"]
{background-image:url(%%70x70a%%);width:70px;height:70px;display:block;float:left;}

/* 100x100a 'motes. */
a[href|="/examplecode2"]
{background-image:url(%%100x100a%%);width:100px;height:100px;display:block;float:left;}

/* 150x150a 'motes. */
a[href|="/appledashhug"], a[href|="/dashcadancelove"], a[href|="/diamondrumblekiss"], a[href|="/twilightspikesmile"], a[href|="/shinelightsnuggle"]
{background-image:url(%%150x150a%%);width:150px;height:150px;display:block;float:left;}

/* 200x200a 'motes. */
a[href|="/flowerpowerhug"], a[href|="/fflutterdashhug"], a[href|="/pinkmuffinhug"], a[href|="/flutterdashsnuzzle"], a[href|="/firedashhug"]
{background-image:url(%%200x200a%%);width:200px;height:200px;display:block;float:left;}

/* 250x250a 'motes. */
a[href|="/cheesypienuzzle"]
{background-image:url(%%250x250a%%);width:250px;height:250px;display:block;float:left;}

/* 300x300a 'motes */
a[href|="/example6"]
{background-image:url(%%300x300a%%);width:300px;height:300px;display:block;float:left;}

/* Grid pos 0,0 'motes. Not needed but for completeness... */
a[href|="/appledashhug"], a[href|="/flowerpowerhug"], a[href|="/cheesypienuzzle"]
{background-position: 0 0;}

/* Grid pos 1,0 'motes. */
a[href|="/dashcadancelove"], a[href|="/fflutterdashhug"]
{Background-position: -100% 0%;}

/* Grid pos 2,0 'motes. */
a[href|="/diamondrumblekiss"], a[href|="/pinkmuffinhug"]
{Background-position: -200% 0%;}

/* Grid pos 0,1 'motes. */
a[href|="/twilightspikesmile"], a[href|="/flutterdashsnuzzle"]
{Background-position: 0% -100%;}

/* Grid pos 1,1 'motes. */
a[href|="/shinelightsnuggle"], a[href|="/firedashhug"]
{Background-position: -100% -100%;}

/* Misfits a */
a[href|="/applepiehug"], a[href|="/bloomjacknuzzle"], a[href|="/daringdashhug"], a[href|="/dashderpyhug"], a[href|="/flutterdashstuff"], a[href|="/flutterfirehug"], a[href|="/raritysbhug"], a[href|="/scootadashnuzzle"], a[href|="/twilightspikehug"]
{background-image:url(%%misfitsa%%);display:block;float:left;}

/* Misfits 2 a */
a[href|="/flutterjackhug"], a[href|="/fluttertwikiss"], a[href|="/fluttertwikinky"], a[href|="/lunashycuddle"], a[href|="/pinkieshyface"], a[href|="/pinkietwihug"], a[href|="/twishininghug"], a[href|="/shiningcadancekiss"], a[href|="/silvertiaranuzzle"], a[href|="/twispikeleghug"], a[href|="/twixhug"]
{background-image:url(%%misfits2a%%);display:block;float:left;}

/* Misfits 3 a */
a[href|="/masterraceotp"], a[href|="/fluttertwihug"], a[href|="/flutterrosecuddle"], a[href|="/aloelotushug"], a[href|="/appledashkiss"], a[href|="/rarijackkiss"], a[href|="/carrotmuffinkiss"], a[href|="/flutterdashkiss"], a[href|="/flutterpiekiss"], a[href|="/lunapipcuddle"]
{background-image:url(%%misfits3a%%);display:block;float:left;}

/* Misfits 4 a */
a[href|="/lyrabonkiss"], a[href|="/pinkapinkkiss"], a[href|="/pinkiedashkiss"], a[href|="/raritwikiss"], a[href|="/rainbowfirekiss"], a[href|="/twixiekiss"], a[href|="/flutterpiehug"], a[href|="/flutterlyrakiss"], a[href|="/lyrabonmilkshake"]
{background-image:url(%%misfits4a%%);display:block;float:left;}

/* Misfits 5 a */
a[href|="/raritypiebrush"], a[href|="/berrygrouphug"], a[href|="/raritavikiss"], a[href|="/raripiesnuzzle"], a[href|="/rarilunasleep"], a[href|="/flutterraresnuzzle"], a[href|="/ararefluttermachug"], a[href|="/rarityspikehug"], a[href|="/flutterdashsmooch"]
{background-image:url(%%misfits5a%%);display:block;float:left;}

/* Misfits 6 a */
a[href|="/flutterdashcloud"]
{background-image:url(%%misfits6a%%);display:block;float:left;}

/* Misfits 1 b */
a[href|="/derpywhooveshug"], a[href|="/startrixhug"], a[href|="/studentshug"], a[href|="/sunlightcryhug"], a[href|="/sunlighthug"], a[href|="/twibookhug"], a[href|="/twilestiahug"], a[href|="/twistarhug"]
{background-image:url(%%misfits1b%%);display:block;float:left;}

/* Misfits 2 b */
a[href|="/appleparentshug"], a[href|="/armorcadancehug"], a[href|="/discordmanesixhug"], a[href|="/fluttercordcoolhug"], a[href|="/fluttercrittershug"], a[href|="/pinkiehugmaud"], a[href|="/sondagiohug"], a[href|="/starbursthug"], a[href|="/trixlightcryhug"], a[href|="/twistarsincere"], a[href|="/twistartonightyou"]
{background-image:url(%%misfits2b%%);display:block;float:left;}

/* Misfits 3 b */
a[href|="/cmcgabbyhug"], a[href|="/daringdashsmughug"], a[href|="/flurrytwikiss"], a[href|="/glimmybearhug"], a[href|="/spikethoraxhug"], a[href|="/twiembersaucy"], a[href|="/vaporstingerhug"], a[href|="/frittersweetiehug"]
{background-image:url(%%misfits3b%%);display:block;float:left;}

/* Animated Emotes */
a[href|="/zilean"] {background-image: url(%%Zilean%%);width:345px;height:250px;display:block;float:left;}

/* Misfit Emotes */
a[href|="/applepiehug"] {width:300px;height:194px;}
a[href|="/bloomjacknuzzle"] {width:243px;height:300px;background-position: 0px -194px;}
a[href|="/daringdashhug"] {width:200px;height:127px;background-position: -300px 0px;}
a[href|="/dashderpyhug"] {width:250px;height:155px;background-position: -243px -194px;}
a[href|="/flutterdashstuff"] {width:300px;height:220px;background-position: 0px -494px;}
a[href|="/flutterfirehug"] {width:300px;height:266px;background-position: 0px -714px;}
a[href|="/raritysbhug"] {width:174px;height:200px;background-position: -300px -349px;}
a[href|="/scootadashnuzzle"] {width:179px;height:200px;background-position: -300px -549px;}
a[href|="/twilightspikehug"] {width:169px;height:200px;background-position: -300px -749px;}
a[href|="/flutterjackhug"] {width:250px;height:166px;}
a[href|="/fluttertwikiss"] {width:250px;height:141px;background-position: -250px 0px;}
a[href|="/fluttertwikinky"] {width:250px;height:233px;background-position: 0px -166px;}
a[href|="/lunashycuddle"] {width:250px;height:181px;background-position: -250px -141px;}
a[href|="/pinkieshyface"] {width:250px;height:155px;background-position: -250px -322px;}
a[href|="/pinkietwihug"] {width:250px;height:176px;background-position: 0px -399px;}
a[href|="/twishininghug"] {width:250px;height:167px;background-position: -250px -477px;}
a[href|="/shiningcadancekiss"] {width:250px;height:199px;background-position: 0px -575px;}
a[href|="/silvertiaranuzzle"] {width:193px;height:226px;background-position: 0px -774px;}
a[href|="/twispikeleghug"] {width:200px;height:187px;background-position: -250px -644px;}
a[href|="/twixhug"] {width:250px;height:159px;background-position: -193px -831px;}
a[href|="/masterraceotp"] {width:250px;height:132px;}
a[href|="/fluttertwihug"] {width:201px;height:225px;background-position: -250px -0px;}
a[href|="/flutterrosecuddle"] {width:250px;height:204px;background-position: 0px -132px;}
a[href|="/aloelotushug"] {width:219px;height:150px;background-position: -250px -225px;}
a[href|="/appledashkiss"] {width:250px;height:191px;background-position: 0px -336px;}
a[href|="/rarijackkiss"] {width:250px;height:181px;background-position: -250px -375px;}
a[href|="/carrotmuffinkiss"] {width:250px;height:165px;background-position: 0px -527px;}
a[href|="/flutterdashkiss"] {width:250px;height:161px;background-position: -250px -556px;}
a[href|="/flutterpiekiss"] {width:250px;height:166px;background-position: 0px -692px;}
a[href|="/lunapipcuddle"] {width:250px;height:206px;background-position: -250px -717px;}
a[href|="/lyrabonkiss"] {width:250px;height:157px;}
a[href|="/pinkapinkkiss"] {width:250px;height:168px;background-position: -250px 0px;}
a[href|="/pinkiedashkiss"] {width:250px;height:179px;background-position: 0px -157px;}
a[href|="/raritwikiss"] {width:250px;height:164px;background-position: -250px -168px;}
a[href|="/rainbowfirekiss"] {width:250px;height:148px;background-position: 0px -336px;}
a[href|="/twixiekiss"] {width:250px;height:163px;background-position: -250px -332px;}
a[href|="/flutterpiehug"] {width:250px;height:197px;background-position: 0px -484px;}
a[href|="/flutterlyrakiss"] {width:250px;height:158px;background-position: -250px -495px;}
a[href|="/lyrabonmilkshake"] {width:374px; height:200px; background-position: 0px -681px; margin-bottom: -41px; position:relative; z-index: 9999999999999999999}
a[href|="/raritypiebrush"] {width:250px;height:192px;}
a[href|="/berrygrouphug"] {width:250px;height:194px;background-position: -250px 0px;}
a[href|="/raritavikiss"] {width:250px;height:165px;background-position: 0px -193px;}
a[href|="/raripiesnuzzle"] {width:250px;height:206px;background-position: -250px -194px;}
a[href|="/rarilunasleep"] {width:250px;height:186px;background-position: 0px -358px;}
a[href|="/flutterraresnuzzle"] {width:250px;height:165px;background-position: -250px -400px;}
a[href|="/ararefluttermachug"] {width:288px;height:160px;background-position: 0px -565px;}
a[href|="/rarityspikehug"] {width:250px;height:196px;background-position: 0px -725px;}
a[href|="/flutterdashsmooch"] {width:206px;height:300px;background-position: -294px -565px;}
a[href|="/flutterdashcloud"] {width:250px;height:162px;}
a[href|="/derpywhooveshug"] {width:210px;height:200px;background-position: 0px 0px;}
a[href|="/startrixhug"] {width:190px;height:186px;background-position: 0px -200px;}
a[href|="/studentshug"] {width:240px;height:160px;background-position: 0px -386px;}
a[href|="/sunlightcryhug"] {width:225px;height:170px;background-position: 0px -546px;}
a[href|="/sunlighthug"] {width:240px;height:188px;background-position: 0px -716px;}
a[href|="/twibookhug"] {width:190px;height:185px;background-position: 0px -904px;}
a[href|="/twilestiahug"] {width:250px;height:176px;background-position: 0px -1089px;}
a[href|="/twistarhug"] {width:190px;height:186px;background-position: 0px -1265px;}
a[href|="/appleparentshug"] {width:230px;height:190px;background-position: 0px -0px;}
a[href|="/armorcadancehug"] {width:200px;height:200px;background-position: -230px 0px;}
a[href|="/discordmanesixhug"] {width:300px;height:200px;background-position: 0px -200px;}
a[href|="/fluttercordcoolhug"] {width:185px;height:270px;background-position: -430px 0px;}
a[href|="/fluttercrittershug"] {width:290px;height:200px;background-position:-300px -270px;}
a[href|="/frittersweetiehug"] {width:223px;height:224px;background-position: 0px -467px;}
a[href|="/pinkiehugmaud"] {width:258px;height:194px;background-position: -615px 0px;}
a[href|="/sondagiohug"] {width:170px;height:166px;background-position: -615px -194px;}
a[href|="/starbursthug"] {width:200px;height:170px;background-position: -590px -360px;}
a[href|="/trixlightcryhug"] {width:200px;height:170px;background-position: 0px -530px;}
a[href|="/twistarsincere"] {width:150px;height:120px;background-position: -200px -530px;}
a[href|="/twistartonightyou"] {width:130px;height:100px;background-position: -350px -530px;}
a[href|="/cmcgabbyhug"] {width:185px;height:156px;background-position: 0px 0px;}
a[href|="/daringdashsmughug"] {width:256px;height:167px;background-position: -185px 0px;}
a[href|="/flurrytwikiss"] {width:256px;height:149px;background-position: 0px -167px;}
a[href|="/glimmybearhug"] {width:150px;height:150px;background-position: -256px -167px;}
a[href|="/spikethoraxhug"] {width:110px;height:181px;background-position: -441px 0px;}
a[href|="/twiembersaucy"] {width:210px;height:150px;background-position: 0px -317px;}
a[href|="/vaporstingerhug"] {width:200px;height:130px;background-position: -210px -317px;}