/* Body */


body
{
    color: #006B47;
    min-width:1000px;
}
html, body {
	background: #C7FFEC;
}
 .domain, domain a {color: #00FF99;}

/* Emotes */

a[href|="/lyraawkward"]
{
 background-image: url(%%lyraawkward%%);
    clear: none;
    display: block;
    float: left;
    height: 150px;
    width: 82px;
}
a[href|="/lyrajumpforjoy"]
{
 background-image: url(%%lyrajumpforjoy%%);
    clear: none;
    display: block;
    float: left;
    height: 150px;
    width: 106px;
}
a[href|="/lyrarun"]
{
 background-image: url(%%lyrarun%%);
    clear: none;
    display: block;
    float: left;
    height: 150px;
    width: 266px;
}
a[href|="/lyrawhoa"]
{
 background-image: url(%%lyrawhoa%%);
    clear: none;
    display: block;
    float: left;
    height: 150px;
    width: 172px;
}
a[href|="/burg"]
{
 background-image: url(%%burg%%);
    clear: none;
    display: block;
    float: left;
    height: 163px;
    width: 152px;
}
a[href|="/harold"]
{
 background-image: url(%%haroldmote%%);
    clear: none;
    display: block;
    float: left;
    height: 119px;
    width: 108px;
}
a[href|="/invisiblerocketboobwomen"]
{
 background-image: url(%%akari%%);
    clear: none;
    display: block;
    float: left;
    height: 150px;
    width: 150px;
}

a[href|="/demonrolo"]
{
 background-image: url(%%demonrolo%%);
    clear: none;
    display: block;
    float: left;
    height: 212px;
    width: 212px;
}

a[href|="/starson"]
{
 background-image: url(%%boson%%);
    clear: none;
    display: block;
    float: left;
    height: 150px;
    width: 150px;
}

a[href|="/lunayylmao"] 
{
 background: url(%%lunayylmao%%);
    clear:none;
    display: block;
    float: left;
    height: 142px;
    width:175px;

}

a[href|="/magemeat"]
{
 background-image: url(%%magemeat%%);
    clear: none;
    display: block;
    float: left;
    height: 150px;
    width: 150px;
}

/* Flairs/UI */


.flair:before{
    display:inline-block;
    width:10px;
    height:10px;
}
.flair-mod:before{
    content:'';
    background:url(%%mod%%) 0 0 no-repeat;
}
.subscribers .word {
display: none;
}  
.subscribers .number::after {
content: " best ponies";
}
.users-online .word {
display: none;
}
.users-online .number::after {
content: " inquisitors here now";
}
.side .helplink + .title h1 { display: none; } .side .helplink + .title::before { content: 'Your overlords:'; display: block; font-size: 130%; color: gray; text-transform: uppercase;

}

.arrow.down:hover:before {
     position: absolute;
     display: block;
     z-index: 1000;
     width: 210px;
     padding: 5px;
     border: 0px solid #333;
     background: #fca;
     content: " You cheeky cunt m8 wot r u thinking?";
     text-align: center;
     font-size: 10px;
     color: red;
     margin-left: 25px;
     margin-top: 5px;
     -moz-border-radius: 4px;
     border-radius: 4px;
     -webkit-border-radius: 4px

}

.author[href$="/TwoWorldsCoexisting"]:after{
font-size:10px;
content:url(%%filly-fluttershy-vector-by-pridark-d5es5w1%%);
color:blue!important;
display:inline-block;    

}

.arrow.upmod, .res.res-nightmode .arrow.upmod {
position: relative;
animation: upMoon ease 5s;
animation-iteration-count: 1;
-webkit-animation: upMoon ease 5s;
-webkit-animation-iteration-count: 1;
-moz-animation: upMoon ease 5s;
-moz-animation-iteration-count: 1;
-o-animation: upMoon ease 5s;
-o-animation-iteration-count: 1;
-ms-animation: upMoon ease 5s;
-ms-animation-iteration-count: 1;
}

@keyframes upMoon {
0% {
    transform: translate(0px, 0px);
    opacity: 1;
    width: 15px;
    height: 15px;
    background-position: -31px 0px;
}

3% {
    transform: translate(4px, 0px);
}

4% {
    transform: translate(-4px, 0px);
}

9% {
    transform: translate(2px, 2px);
}

10% {
    transform: translate(-2px, 5px);
}

13% {
    transform: translate(0px, 8px);
}

16% {
    transform: translate(0px, 11px);
    opacity: 1;
    width: 15px;
    height: 15px;
    background-position: -31px 0px;
}

16.001% {
    transform: translate(0px, 11px);
    opacity: 1;
    width: 15px;
    height: 20px;
    background-position: -50px 0px;
}

18% {
    background-position: -50px 0px;
}

18.001% {
    background-position: -67px 0px;
}

20% {
    background-position: -67px 0px;
}

20.001% {
    background-position: -84px 0px;
}

22% {
    background-position: -84px 0px;
}

22.001% {
    background-position: -101px 0px;
}

24% {
    background-position: -101px 0px;
}

24.001% {
    background-position: -118px 0px;
}

26% {
    background-position: -118px 0px;
}

26.001% {
    background-position: -133px 0px;
}

28% {
    background-position: -133px 0px;
}

28.001% {
    background-position: -67px 0px;
}

30% {
    background-position: -67px 0px;
}

30.001% {
    background-position: -84px 0px;
}

32% {
    background-position: -84px 0px;
}

32.001% {
    background-position: -101px 0px;
}

34% {
    background-position: -101px 0px;
}

34.001% {
    background-position: -118px 0px;
}

36% {
    background-position: -118px 0px;
}

36.001% {
    background-position: -133px 0px;
}

38% {
    background-position: -133px 0px;
}

38.001% {
    background-position: -67px 0px;
}

40% {
    background-position: -67px 0px;
}

40.001% {
    background-position: -84px 0px;
}

42% {
    background-position: -84px 0px;
}

42.001% {
    background-position: -101px 0px;
}

44% {
    background-position: -101px 0px;
}

44.001% {
    background-position: -118px 0px;
}

46% {
    background-position: -118px 0px;
}

46.001% {
    background-position: -133px 0px;
}

48% {
    transform: translate(0px, -140px);
    opacity: 0;
    width: 15px;
    height: 15px;
    background-position: -133px 0px;
}

48.001% {
    transform: translate(0px, -140px);
    opacity: 0;
    width: 15px;
    height: 15px;
    background-position: -29px -15px;
}

88% {
    transform: translate(0px, 0px);
    opacity: 0;
}

100% {
    transform: translate(0px, 0px);
    opacity: 1;
    width: 15px;
    height: 15px;
    background-position: -29px -15px;
}
}

@-webkit-keyframes upMoon {
    0% {
        left: 0px;
        top: 0px;
        opacity: 1;
        width: 15px;
        height: 15px;
        background-position: -31px 0px;
    }

    3% {
        left: 4px;
        top: 0px;
    }

    6% {
        left: -4px;
        top: 0px;
    }

    9% {
        left: 2px;
        top: 2px;
    }

    10% {
        left: -2px;
        top: 5px;
    }

    13% {
        left: 0px;
        top: 8px;
    }

    16% {
        left: 0px;
        top: 11px;
        opacity: 1;
        width: 15px;
        height: 15px;
        background-position: -31px 0px;
    }

    16.001% {
        left: 0px;
        top: 11px;
        opacity: 1;
        width: 15px;
        height: 20px;
        background-position: -50px 0px;
    }

    18% {
        background-position: -50px 0px;
    }

    18.001% {
        background-position: -67px 0px;
    }

    20% {
        background-position: -67px 0px;
    }

    20.001% {
        background-position: -84px 0px;
    }

    22% {
        background-position: -84px 0px;
    }

    22.001% {
        background-position: -101px 0px;
    }

    24% {
        background-position: -101px 0px;
    }

    24.001% {
        background-position: -118px 0px;
    }

    26% {
        background-position: -118px 0px;
    }

    26.001% {
        background-position: -133px 0px;
    }

    28% {
        background-position: -133px 0px;
    }

    28.001% {
        background-position: -67px 0px;
    }

    30% {
        background-position: -67px 0px;
    }

    30.001% {
        background-position: -84px 0px;
    }

    32% {
        background-position: -84px 0px;
    }

    32.001% {
        background-position: -101px 0px;
    }

    34% {
        background-position: -101px 0px;
    }

    34.001% {
        background-position: -118px 0px;
    }

    36% {
        background-position: -118px 0px;
    }

    36.001% {
        background-position: -133px 0px;
    }

    38% {
        background-position: -133px 0px;
    }

    38.001% {
        background-position: -67px 0px;
    }

    40% {
        background-position: -67px 0px;
    }

    40.001% {
        background-position: -84px 0px;
    }

    42% {
        background-position: -84px 0px;
    }

    42.001% {
        background-position: -101px 0px;
    }

    44% {
        background-position: -101px 0px;
    }

    44.001% {
        background-position: -118px 0px;
    }

    46% {
        background-position: -118px 0px;
    }

    46.001% {
        background-position: -133px 0px;
    }

    48% {
        left: 0px;
        top: -140px;
        opacity: 0;
        width: 15px;
        height: 15px;
        background-position: -133px 0px;
    }

    48.001% {
        left: 0px;
        top: -140px;
        opacity: 0;
        width: 15px;
        height: 15px;
        background-position: -29px -15px;
    }

    88% {
        left: 0px;
        top: 0px;
        opacity: 0;
    }

    100% {
        left: 0px;
        top: 0px;
        opacity: 1;
        width: 15px;
        height: 15px;
        background-position: -29px -15px;
    }
}

@-moz-keyframes upMoon {
    0% {
        transform: translate(0px, 0px);
        opacity: 1;
        width: 15px;
        height: 15px;
        background-position: -31px 0px;
    }

    3% {
        transform: translate(4px, 0px);
    }

    4% {
        transform: translate(-4px, 0px);
    }

    9% {
        transform: translate(2px, 2px);
    }

    10% {
        transform: translate(-2px, 5px);
    }

    13% {
        transform: translate(0px, 8px);
    }

    16% {
        transform: translate(0px, 11px);
        opacity: 1;
        width: 15px;
        height: 15px;
        background-position: -31px 0px;
    }

    16.001% {
        transform: translate(0px, 11px);
        opacity: 1;
        width: 15px;
        height: 20px;
        background-position: -50px 0px;
    }

    18% {
        background-position: -50px 0px;
    }

    18.001% {
        background-position: -67px 0px;
    }

    20% {
        background-position: -67px 0px;
    }

    20.001% {
        background-position: -84px 0px;
    }

    22% {
        background-position: -84px 0px;
    }

    22.001% {
        background-position: -101px 0px;
    }

    24% {
        background-position: -101px 0px;
    }

    24.001% {
        background-position: -118px 0px;
    }

    26% {
        background-position: -118px 0px;
    }

    26.001% {
        background-position: -133px 0px;
    }

    28% {
        background-position: -133px 0px;
    }

    28.001% {
        background-position: -67px 0px;
    }

    30% {
        background-position: -67px 0px;
    }

    30.001% {
        background-position: -84px 0px;
    }

    32% {
        background-position: -84px 0px;
    }

    32.001% {
        background-position: -101px 0px;
    }

    34% {
        background-position: -101px 0px;
    }

    34.001% {
        background-position: -118px 0px;
    }

    36% {
        background-position: -118px 0px;
    }

    36.001% {
        background-position: -133px 0px;
    }

    38% {
        background-position: -133px 0px;
    }

    38.001% {
        background-position: -67px 0px;
    }

    40% {
        background-position: -67px 0px;
    }

    40.001% {
        background-position: -84px 0px;
    }

    42% {
        background-position: -84px 0px;
    }

    42.001% {
        background-position: -101px 0px;
    }

    44% {
        background-position: -101px 0px;
    }

    44.001% {
        background-position: -118px 0px;
    }

    46% {
        background-position: -118px 0px;
    }

    46.001% {
        background-position: -133px 0px;
    }

    48% {
        transform: translate(0px, -140px);
        opacity: 0;
        width: 15px;
        height: 15px;
        background-position: -133px 0px;
    }

    48.001% {
        transform: translate(0px, -140px);
        opacity: 0;
        width: 15px;
        height: 15px;
        background-position: -29px -15px;
    }

    88% {
        transform: translate(0px, 0px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px);
        opacity: 1;
        width: 15px;
        height: 15px;
        background-position: -29px -15px;
    }
}

@-o-keyframes upMoon {
    0% {
        transform: translate(0px, 0px);
        opacity: 1;
        width: 15px;
        height: 15px;
        background-position: -31px 0px;
    }

    3% {
        transform: translate(4px, 0px);
    }

    4% {
        transform: translate(-4px, 0px);
    }

    9% {
        transform: translate(2px, 2px);
    }

    10% {
        transform: translate(-2px, 5px);
    }

    13% {
        transform: translate(0px, 8px);
    }

    16% {
        transform: translate(0px, 11px);
        opacity: 1;
        width: 15px;
        height: 15px;
        background-position: -31px 0px;
    }

    16.001% {
        transform: translate(0px, 11px);
        opacity: 1;
        width: 15px;
        height: 20px;
        background-position: -50px 0px;
    }

    18% {
        background-position: -50px 0px;
    }

    18.001% {
        background-position: -67px 0px;
    }

    20% {
        background-position: -67px 0px;
    }

    20.001% {
        background-position: -84px 0px;
    }

    22% {
        background-position: -84px 0px;
    }

    22.001% {
        background-position: -101px 0px;
    }

    24% {
        background-position: -101px 0px;
    }

    24.001% {
        background-position: -118px 0px;
    }

    26% {
        background-position: -118px 0px;
    }

    26.001% {
        background-position: -133px 0px;
    }

    28% {
        background-position: -133px 0px;
    }

    28.001% {
        background-position: -67px 0px;
    }

    30% {
        background-position: -67px 0px;
    }

    30.001% {
        background-position: -84px 0px;
    }

    32% {
        background-position: -84px 0px;
    }

    32.001% {
        background-position: -101px 0px;
    }

    34% {
        background-position: -101px 0px;
    }

    34.001% {
        background-position: -118px 0px;
    }

    36% {
        background-position: -118px 0px;
    }

    36.001% {
        background-position: -133px 0px;
    }

    38% {
        background-position: -133px 0px;
    }

    38.001% {
        background-position: -67px 0px;
    }

    40% {
        background-position: -67px 0px;
    }

    40.001% {
        background-position: -84px 0px;
    }

    42% {
        background-position: -84px 0px;
    }

    42.001% {
        background-position: -101px 0px;
    }

    44% {
        background-position: -101px 0px;
    }

    44.001% {
        background-position: -118px 0px;
    }

    46% {
        background-position: -118px 0px;
    }

    46.001% {
        background-position: -133px 0px;
    }

    48% {
        transform: translate(0px, -140px);
        opacity: 0;
        width: 15px;
        height: 15px;
        background-position: -133px 0px;
    }

    48.001% {
        transform: translate(0px, -140px);
        opacity: 0;
        width: 15px;
        height: 15px;
        background-position: -29px -15px;
    }

    88% {
        transform: translate(0px, 0px);
        opacity: 0;
    }

    100% {
        transform: translate(0px, 0px);
        opacity: 1;
        width: 15px;
        height: 15px;
        background-position: -29px -15px;
    }
}

.thing .arrow {
    background: url(%%WT7dCu4RkL3nA82-%%);
    width: 15px;
    height: 15px;
    background-position: 48px 31px;
}

.comment .midcol {
    width: 20px;
}

.thing .up {
    background-position: 0px -15px;
    background-repeat: no-repeat;
}

.thing .down {
    background-position: -15px 0px;
}

.thing .upmod {
    background-position: -29px -15px;
    background-repeat: no-repeat;
}

.thing .downmod {
    background-position: 0px 0px;
}

.thing .up:hover {
    background-position: -15px -15px;
}

.thing .down:hover {
    background-position: 1px 0px;
}

.link .score {
    text-align: center;
    color: #c6c6c6;
    margin-left: 1px;
}

a {
    cursor: url(%%haroldcursor%%), help;
}

a.author[href$="NotEnoughApples"]{font-size:0px!important;}
a.author[href$="NotEnoughApples"]:after{content:"NotEnoughDashie";font-size:10px!important;}
.sidecontentbox .author[href$="NotEnoughApples"]:after{font-size:12px!important;}


