/* animotes */
a[href|="/keystrokeguitar"] {
    display: block;
    clear: none;
    float: left;
    width: 118px;
    height: 140px;
    background-image: url(%%jerickguitar%%)
    }
a[href|="/glutes"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 64px;
    background-image: url(%%glutes%%)
    }
a[href|="/shoppleblag"], 
a[href|="/abspin"], 
a[href|="/ponyspin"]{
    display: block;
    clear: none;
    float: left;
    width: 155px;
    height: 140px;
    background-image: url(%%shoppleblag%%)
    }
a[href|="/ascootafresh"], a[href|="/sofreshswag"]{
    display: block;
    clear: none;
    float: left;
    width: 129px;
    height: 140px;
    background-image: url(%%sofreshswag%%)
    }
a[href|="/derpserver"], a[href|="/veggiesalad"]{
    display: block;
    clear: none;
    float: left;
    width: 204px;
    height: 140px;
    background-image: url(%%veggiesalad%%)
    }
a[href|="/humpday"], a[href|="/thesafewordisfluffle"]{
    display: block;
    clear: none;
    float: left;
    width: 139px;
    height: 140px;
    background-image: url(%%humpday%%)
    }
a[href|="/scootaheadbang"], a[href|="/scootadeskfuck"]{
    display: block;
    clear: none;
    float: left;
    width: 322px;
    height: 140px;
    background-image: url(%%scootadeskfuck%%)
    }
a[href|="/developersdevelopersdevelopersdevelopers"]{
    display: block;
    clear: none;
    float: left;
    width: 122px;
    height: 140px;
    background-image: url(%%developers%%)
    }
a[href|="/BBBB"], a[href|="/BBBBBBBBBBBBBBBBBBBBBB"]{
    display: block;
    clear: none;
    float: left;
    width: 141px;
    height: 140px;
    background-image: url(%%BBBB%%)
    }
a[href|="/lyrabop"]{
    display: block;
    clear: none;
    float: left;
    width: 134px;
    height: 140px;
    background-image: url(%%lyrabop%%)
    }
a[href|="/bonbop"]{
    display: block;
    clear: none;
    float: left;
    width: 105px;
    height: 140px;
    background-image: url(%%bonbop%%)
    }
a[href|="/twiplaysguitarwithasillyhat"],
a[href|="/twiguitar"]{
    display: block;
    clear: none;
    float: left;
    width: 140px;
    height: 140px;
    background-image: url(%%twiguitar%%)
    }
a[href|="/thesafewordisbeard"]{
    display: block;
    clear: none;
    float: left;
    width: 139px;
    height: 140px;
    background-image: url(%%thesafewordisbeard%%)
    }
a[href|="/twiplaystheoud"]{
    display: block;
    clear: none;
    float: left;
    width: 140px;
    height: 140px;
    background-image: url(%%twlightplaystheood%%)
    }
a[href|="/rdhelp"]{
    display: block;
    clear: none;
    float: left;
    width: 142px;
    height: 140px;
    background-image: url(%%rdhelp%%)
    }
a[href|="/ppclock"]{
    display: block;
    clear: none;
    float: left;
    width: 92px;
    height: 140px;
    background-image: url(%%ppclock%%)
    }
a[href|="/fsjam"]{
    display: block;
    clear: none;
    float: left;
    width: 268px;
    height: 140px;
    background-image: url(%%fsjam%%)
    }
a[href|="/rdpdance"]{
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 140px;
    background-image: url(%%rdpdance%%)
    }
a[href|="/welliwashungryandwhenyoucravehands"]{
    display: block;
    clear: none;
    float: left;
    width: 126px;
    height: 140px;
    background-image: url(%%welliwashungryandwhenyoucravehands%%)
    }
a[href|="/idontkillpeople"]{
    display: block;
    clear: none;
    float: left;
    width: 110px;
    height: 140px;
    background-image: url(%%idontkillpeople%%)
    }
a[href|="/thirtyseventimesinthechest"]{
    display: block;
    clear: none;
    float: left;
    width: 63px;
    height: 140px;
    background-image: url(%%thirtyseventimesinthechest%%)
    }
a[href|="/vsspace"]{
    display: block;
    clear: none;
    float: left;
    width: 135px;
    height: 140px;
    background-image: url(%%vsspace%%)
    }
a[href|="/ivyrage"],
a[href|="/ierage"]
{
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 140px;
    background-image: url(%%ivyrage%%)
    }
a[href|="/bpshuffle"]{
    display: block;
    clear: none;
    float: left;
    width: 107px;
    height: 140px;
    background-image: url(%%bpshuffle%%)
    }
a[href|="/rdbrows"]{
    display: block;
    clear: none;
    float: left;
    width: 140px;
    height: 140px;
    background-image: url(%%allthebrows%%)
    }
a[href|="/scootabrows"]{
    display: block;
    clear: none;
    float: left;
    width: 140px;
    height: 140px;
    background-position: -140px 0px;
    background-image: url(%%allthebrows%%)
    }
a[href|="/ppbrows"]{
    display: block;
    clear: none;
    float: left;
    width: 140px;
    height: 140px;
    background-position: -280px 0px;
    background-image: url(%%allthebrows%%)
    }
a[href|="/celestibrows"]{
    display: block;
    clear: none;
    float: left;
    width: 140px;
    height: 140px;
    background-position: 0px -140px;
    background-image: url(%%allthebrows%%)
    }
a[href|="/blushershy"]{
    display: block;
    clear: none;
    float: left;
    width: 140px;
    height: 140px;
    background-position: -140px -140px;
    background-image: url(%%allthebrows%%)
    }
a[href|="/lunabrows"]{
    display: block;
    clear: none;
    float: left;
    width: 140px;
    height: 140px;
    background-position: -280px -140px;
    background-image: url(%%allthebrows%%)
    }
a[href|="/lyrabrows"]{
    display: block;
    clear: none;
    float: left;
    width: 140px;
    height: 140px;
    background-position: 0px -280px;
    background-image: url(%%allthebrows%%)
    }
a[href|="/trixiebrows"]{
    display: block;
    clear: none;
    float: left;
    width: 140px;
    height: 140px;
    background-position: -140px -280px;
    background-image: url(%%allthebrows%%)
    }
a[href|="/cheeribrows"]{
    display: block;
    clear: none;
    float: left;
    width: 140px;
    height: 140px;
    background-position: -280px -280px;
    background-image: url(%%allthebrows%%)
    }
a[href|="/freebooze"]{
    display: block;
    clear: none;
    float: left;
    width: 247px;
    height: 140px;
    background-image: url(%%freebooze%%)
    }
a[href|="/doodoodooderp"]{
    display: block;
    clear: none;
    float: left;
    width: 101px;
    height: 140px;
    background-position: -129px -0px;
    background-image: url(%%doodoodoo-daring-derp%%)
    }

a[href|="/daringdoodoodoo"],
a[href|="/doodoodoodaring"]{
    display: block;
    clear: none;
    float: left;
    width: 129px;
    height: 140px;
    background-image: url(%%doodoodoo-daring-derp%%)
    }
a[href|="/doodoodooluna"]{
    display: block;
    clear: none;
    float: left;
    width: 121px;
    height: 140px;
    background-image: url(%%doodoodoo-luna-scootaloo%%)
    }
a[href|="/doodoodooscootaloo"]{
    display: block;
    clear: none;
    float: left;
    width: 162px;
    height: 140px;
    background-position: -121px -0px;
    background-image: url(%%doodoodoo-luna-scootaloo%%)
    }

a[href|="/trixiechaos"]{
    display: block;
    clear: none;
    float: left;
    width: 193px;
    height: 140px;
    background-image: url(%%trixiechaos%%)
    }
a[href|="/octyawn"]{
    display: block;
    clear: none;
    float: left;
    width: 108px;
    height: 140px;
    background-image: url(%%octyawn%%)
    }
a[href|="/justthetips"],
a[href|="/backandforthforever"]{
    display: block;
    clear: none;
    float: left;
    width: 175px;
    height: 140px;
    background-image: url(%%backandforthforever%%)
    }
a[href|="/twentyfive"]
{
    display: block;
    clear: none;
    float: left;
    width: 124px;
    height: 200px;
    background-image: url(%%twentyfiveminutesofthis%%)
    }
a[href|="/congratulationsyouraccountisnowenabledforuploadslongerthanfifteenminutes"],
a[href|="/minutesofthis"]{
    display: block;
    clear: none;
    float: left;
    width: 81px;
    height: 200px;
    background-position: -139px -0px;
    background-image: url(%%twentyfiveminutesofthis%%)
    }
a[href|="/mmmbananas"]{
    display: block;
    clear: none;
    float: left;
    width: 224px;
    height: 140px;
    background-image: url(%%mmmbananas%%)
    }

a[href|="/stampontheground"],
a[href|="/fsstamp"]
{
    display: block;
    clear: none;
    float: left;
    width: 115px;
    height: 140px;
    background-image: url(%%stampontheground%%)
}
/*end animotes*/

/* sheet1 */
a[href|="/youvegotmail"], 
a[href|="/brand"], 
a[href|="/scootaheart"], 
a[href|="/berryonthetube"], 
a[href|="/bpbodyisready"], 
a[href|="/mybodyisready"], 
a[href|="/octodash"], 
a[href|="/booze"], 
a[href|="/lovebooze"], 
a[href|="/smoozelose"], 
a[href|="/dearprincesscelestiaimdrunk"], 
a[href|="/medic"], 
a[href|="/zecorasalute"],
a[href|="/pinkiebump"],
a[href|="/surprisebump"],
a[href|="/norestforthewicked"],
a[href|="/celestimad"],
a[href|="/trahsi"]
 {
    display: block;
    clear: none;
    float: left;
    height: 140px;
    background-image: url(%%sheet1%%)
}

a[href|="/youvegotmail"]{
    width: 109px;
}
a[href|="/brand"]{
    width: 87px;
    background-position: -109px -0px;
}
a[href|="/scootaheart"]{
    width: 93px;
    background-position: -196px -0px;
}
a[href|="/berryonthetube"]{
    width: 226px;
    background-position: -0px -140px;
}
a[href|="/bpbodyisready"], 
a[href|="/mybodyisready"]{
    width: 68px;
    background-position: -226px -140px;
}
a[href|="/zecorasalute"]{
    width: 172px;
    background-position: -0px -280px;
}
a[href|="/celestimad"]{
    height: 137px;
    width: 121px;
    background-position: -172px -280px;
}
a[href|="/octodash"]{
    width: 147px;
    background-position: -0px -420px;
}
a[href|="/booze"]{
    width: 135px;
    background-position: -147px -420px;
}
a[href|="/lovebooze"]{
    width: 142px;
    background-position: -0px -560px;
}
a[href|="/smoozelose"]{
    width: 135px;
    background-position: -142px -560px;
}
a[href|="/dearprincesscelestiaimdrunk"]{
    width: 208px;
    background-position: -0px -700px;
}
a[href|="/medic"]{
    width: 138px;
    background-position: -0px -840px;
}
a[href|="/norestforthewicked"]{
    width: 129px;
    background-position: -138px -840px;
}
a[href|="/surprisebump"]{
    width: 132px;
    background-position: -0px -980px;
}
a[href|="/pinkiebump"]{
    width: 114px;
    background-position: -132px -980px;
}
a[href|="/trahsi"]{
    width: 281px;
    height: 279px;
    background-position: -0px -1121px;
}

/* end sheet 1 */
/* sheet 2 (Jerick) */
a[href|="/btcmarm"], 
a[href|="/btclotak"], 
a[href|="/btctoast"], 
a[href|="/btcjerick"],
a[href|="/btcpatch"],
a[href|="/fluttershywut"],
a[href|="/bluesbrothersandtom"], 
a[href|="/btcassemble"], 
a[href|="/spaceunicorndeliveringtherainbowsallaroundtheworld"], 
a[href|="/neonpegasus"],
a[href|="/ppmath"],
a[href|="/derpworst"],
a[href|="/discordsalute"],
a[href|="/badassocty"],
a[href|="/shutupmarm"],
a[href|="/badasslyra"],
a[href|="/twisniper"]
{
    display: block;
    clear: none;
    float: left;
    height: 140px;
    background-image: url(%%sheet2%%)
}

a[href|="/btcmarm"]{
    width: 94px;
}
a[href|="/btclotak"]{
    width: 105px;
    background-position: -94px -0px;
}
a[href|="/btctoast"]{
    width: 99px;
    background-position: -0px -140px;
}
a[href|="/btcjerick"]{
    width: 111px;
    background-position: -99px -140px;
}
a[href|="/btcpatch"]{
    width: 133px;
    background-position: -0px -280px;
}
a[href|="/fluttershywut"]{
    width: 127px;
    background-position: -133px -280px;
}
a[href|="/bluesbrothersandtom"]{
    width: 185px;
    background-position: -0px -420px;
}
a[href|="/btcassemble"]{
    width: 214px;
    background-position: -0px -560px;
}
a[href|="/spaceunicorndeliveringtherainbowsallaroundtheworld"]{
    width: 210px;
    background-position: -0px -700px;
}
a[href|="/neonpegasus"]{
    width: 280px;
    height: 280px;
    background-position: -0px -840px;
}
a[href|="/ppmath"]{
    width: 174px;
    background-position: -0px -1120px;
}
a[href|="/derpworst"]{
    width: 128px;
    background-position: -0px -1260px;
}
a[href|="/discordsalute"]
{
    width: 129px;
    background-position: -129px -1260px;
}
a[href|="/badassocty"]
{
    width: 187px;
    background-position: -0px -1400px;
}
a[href|="/shutupmarm"]
{
    width: 93px;
    background-position: -187px -1400px;
}
a[href|="/badasslyra"]
{
    width: 139px;
    background-position: -0px -1540px;
}
a[href|="/twisniper"]
{
    width: 140px;
    background-position: -139px -1540px;
}
/* end sheet 2 */

/* sheet 3 */
a[href|="/yatta"], 
a[href|="/worf"], 
a[href|="/dashiesad"], 
a[href|="/serioushatsonly"],
a[href|="/astronomicalwankersign"],
a[href|="/princessybatman"], 
a[href|="/princessyblueshift"], 
a[href|="/princessycades"], 
a[href|="/sodrunkithinkimaprincess"], 
a[href|="/princessylavender"],
a[href|="/princessymiggyb"], 
a[href|="/princessymalsententia"], 
a[href|="/princessysalculd"], 
a[href|="/princessypobodysnerfect"], 
a[href|="/princessyomnomtom"], 
a[href|="/princessysehro"]
 {
    display: block;
    clear: none;
    float: left;
    height: 140px;
    background-image: url(%%sheet3%%)
}

a[href|="/yatta"]{
    width: 137px;
}
a[href|="/worf"]{
    width: 112px;
    background-position: -137px -0px;
}
a[href|="/dashiesad"]{
    width: 170px;
    background-position: -249px -0px;
}
a[href|="/serioushatsonly"]{
    width: 192px;
    background-position: -0px -140px;
}
a[href|="/astronomicalwankersign"]{
    width: 357px;
    background-position: -0px -280px;
}
a[href|="/princessybatman"]{
    width: 200px;
    background-position: -0px -420px;
}
a[href|="/princessyblueshift"]{
    width: 157px;
    background-position: -200px -420px;
}
a[href|="/sodrunkithinkimaprincess"],
a[href|="/princessycades"]{
    width: 221px;
    background-position: -0px -560px;
}
a[href|="/princessylavender"]{
    width: 184px;
    background-position: -221px -560px;
}
a[href|="/princessymiggyb"]{
    width: 118px;
    background-position: -0px -700px;
}
a[href|="/princessymalsententia"]{
    width: 142px;
    background-position: -118px -700px;
}
a[href|="/princessysalculd"]{
    width: 140px;
    background-position: -260px -700px;
}
a[href|="/princessypobodysnerfect"]{
    width: 200px;
    background-position: -0px -840px;
}
a[href|="/princessyomnomtom"]{
    width: 198px;
    background-position: -200px -840px;
}
a[href|="/princessysehro"]{
    width: 217px;
    background-position: -0px -980px;
}

/* end sheet 3 */


/* sheet4 */
a[href|="/bpnope"], 
a[href|="/drinkallthebooze"], 
a[href|="/meboozsta"], 
a[href|="/notouch"],
a[href|="/bpguzzle"],
a[href|="/problemliver"], 
a[href|="/bplikespunch"], 
a[href|="/bpdrunkwat"], 
a[href|="/bptini"], 
a[href|="/bpdrurp"],
a[href|="/fuckthattimetodrink"], 
a[href|="/fkuctaht"], 
a[href|="/bphic"], 
a[href|="/bpidgaf"], 
a[href|="/bphugs"], 
a[href|="/bppassedout"]
 {
    display: block;
    clear: none;
    float: left;
    height: 140px;
    background-image: url(%%sheet4%%)
}

a[href|="/bpnope"]{
    width: 225px;
}
a[href|="/drinkallthebooze"]{
    width: 174px;
    background-position: -225px -0px;
}
a[href|="/meboozsta"]{
    width: 147px;
    background-position: -0px -140px;
}
a[href|="/notouch"]{
    width: 138px;
    background-position: -147px -140px;
}
a[href|="/bpguzzle"]{
    width: 119px;
    background-position: -285px -140px;
}
a[href|="/problemliver"]{
    width: 325px;
    background-position: -0px -280px;
}
a[href|="/bplikespunch"]{
    width: 161px;
    background-position: -0px -420px;
}
a[href|="/bpdrunkwat"]{
    width: 117px;
    background-position: -161px -420px;
}
a[href|="/bptini"]{
    width: 92px;
    background-position: -285px -420px;
}
a[href|="/bpdrurp"]{
    width: 140px;
    background-position: -0px -560px;
}
a[href|="/fuckthattimetodrink"]{
    width: 143px;
    background-position: -140px -560px;
}
a[href|="/fkuctaht"]{
    width: 129px;
    background-position: -285px -560px;
}
a[href|="/bphic"]{
    width: 135px;
    background-position: -0px -700px;
}
a[href|="/bpidgaf"]{
    width: 148px;
    background-position: -135px -700px;
}
a[href|="/bphugs"]{
    width: 140px;
    background-position: -0px -840px;
}
a[href|="/bppassedout"]{
    width: 126px;
    background-position: -140px -840px;
}

/* end sheet4 */


/* sheet5 */
a[href|="/aphxtwn"], 
a[href|="/bplio"],
a[href|="/ahamabigpony"],
a[href|="/gabelincoln"],
a[href|="/berryssacrifice"],
a[href|="/dashiegrump"],
a[href|="/handsomespike"],
a[href|="/bant"],
a[href|="/itsnotcreepy"],
a[href|="/sovietlaying"],
a[href|="/bpclassy"],
a[href|="/bpgoddess"],
a[href|="/bpscrunchie"],
a[href|="/lyrawat"],
a[href|="/popetwilight"],
a[href|="/gonnagetstuffdonetoday"],
a[href|="/calmyourtits"],
a[href|="/fsbatmare"],
a[href|="/gremlintwilicorn"],
a[href|="/gabelincolnhats"],
a[href|="/danvs"], 
a[href|="/DAAAN"]
 {
    display: block;
    clear: none;
    float: left;
    height: 140px;
    background-image: url(%%sheet5%%)
}

a[href|="/aphxtwn"]{
    width: 198px;
}
a[href|="/bplio"]{
    width: 119px;
    background-position: -198px -0px;
}

a[href|="/ahamabigpony"]{
    width: 150px;
    background-position: -0px -140px;
}
a[href|="/gabelincoln"]{
    width: 123px;
    background-position: -150px -140px;
}
a[href|="/berryssacrifice"]{
    width: 119px;
    background-position: -273px -140px;
}
a[href|="/dashiegrump"]{
    width: 193px;
    background-position: -0px -280px;
}
a[href|="/handsomespike"]{
    width: 109px;
    background-position: -193px -280px;
}
a[href|="/bant"]{
    width: 92px;
    background-position: -302px -280px;
}
a[href|="/itsnotcreepy"]{
    width: 147px;
    background-position: -0px -420px;
}
a[href|="/sovietlaying"]{
    width: 194px;
	height: 130px;
    background-position: -147px -420px;
}
a[href|="/bpclassy"]{
    width: 109px;
    background-position: -0px -560px;
}
a[href|="/bpgoddess"]{
    width: 116px;
    background-position: -109px -560px;
}
a[href|="/bpscrunchie"]{
    width: 132px;
    background-position: -225px -560px;
}
a[href|="/lyrawat"]{
    width: 123px;
    background-position: -0px -700px;
}
a[href|="/popetwilight"]{
    width: 117px;
    background-position: -123px -700px;
}
a[href|="/gonnagetstuffdonetoday"]{
    width: 166px;
    background-position: -240px -700px;
}
a[href|="/calmyourtits"]{
    width: 256px;
    background-position: -0px -840px;
}
a[href|="/fsbatmare"]{
    width: 119px;
    background-position: -0px -980px;
}
a[href|="/gremlintwilicorn"]{
    width: 125px;
    background-position: -119px -980px;
}
a[href|="/danvs"]{
    width: 130px;
    height: 200px;
    background-position: -0px -1120px;
}
a[href|="/DAAAN"]{
    width: 130px;
    height: 200px;
    background-position: -130px -1120px;
}
a[href|="/gabelincolnhats"]{
    width: 112px;
    height: 200px;
    background-position: -260px -1120px;
}

/* end sheet5 */

/* sheet 6 (Jerick) */
a[href|="/sciencewoona"], 
a[href|="/actuallydumbrock"], 
a[href|="/becausescience"], 
a[href|="/ajcraycray"],
a[href|="/rarifillyno"],
a[href|="/rarifillyyay"],
a[href|="/rarifillyderp"],
a[href|="/rarifillywhoa"], 
a[href|="/rarifillywizard"], 
a[href|="/sciencebitch"],
a[href|="/cadespont"],
a[href|="/sciencemoonbutt"],
a[href|="/rdohyou"],
a[href|="/badasskeystroke"],
a[href|="/toastisthebestseapony"],
a[href|="/cadesxberryotp"],
a[href|="/miggyissaddestseapony"], 
a[href|="/irishlyra"], 
a[href|="/lavxempyotp"],
a[href|="/twiisbestfreeman"],
a[href|="/weirdwingboner"]
{
    display: block;
    clear: none;
    float: left;
    height: 140px;
    background-image: url(%%sheet6%%)
}
a[href|="/sciencewoona"]
{
    width: 188px;
    background-position: -0px -0px;
}
a[href|="/actuallydumbrock"]
{
    width: 92px;
    background-position: -188px -0px;
}
a[href|="/becausescience"]
{
    width: 280px;
    height: 117px;
    background-position: -0px -140px;
}
a[href|="/ajcraycray"]
{
    width: 135px;
    background-position: -0px -280px;
}
a[href|="/rarifillyno"]
{
    width: 140px;
    background-position: -140px -280px;
}
a[href|="/rarifillyyay"]
{
    width: 140px;
    background-position: -0px -420px;
}
a[href|="/rarifillyderp"]
{
    width: 140px;
    background-position: -140px -420px;
}
a[href|="/rarifillywhoa"]
{
    width: 140px;
    height: 133px;
    background-position: -0px -560px;
}
a[href|="/rarifillywizard"]
{
    width: 140px;
    height: 133px;
    background-position: -140px -560px;
}
a[href|="/sciencebitch"]
{
    width: 177px;
    background-position: -0px -700px;
}
a[href|="/cadespont"]
{
    width: 103px;
    background-position: -177px -700px;
}
a[href|="/sciencemoonbutt"]
{
    width: 280px;
    background-position: -0px -840px;
}
a[href|="/rdohyou"]
{
    width: 199px;
    background-position: -0px -980px;
}
a[href|="/badasskeystroke"]
{
    width: 143px;
    background-position: -0px -1120px;
}
a[href|="/toastisthebestseapony"]
{
    width: 96px;
    background-position: -143px -1120px;
}
a[href|="/cadesxberryotp"]
{
    width: 140px;
    background-position: -0px -1260px;
}
a[href|="/miggyissaddestseapony"]
{
    width: 127px;
    background-position: -140px -1260px;
}
a[href|="/irishlyra"]
{
    width: 99px;
    background-position: -0px -1400px;
}
a[href|="/lavxempyotp"]
{
    width: 133px;
    background-position: -99px -1400px;
}
a[href|="/twiisbestfreeman"]
{
    width: 148px;
    background-position: -0px -1540px;
}
a[href|="/weirdwingboner"]
{
    width: 125px;
    background-position: -148px -1540px;
}
/* end sheet 6 */


/* sheet 7 */
a[href|="/bunchadrunks"], 
a[href|="/rarpokerhat"], 
a[href|="/dangerzone"], 
a[href|="/bpno"],
a[href|="/cannihurr"],
a[href|="/cannijerks"],
a[href|="/dramaaa"],
a[href|="/maredoboozicorn"], 
a[href|="/canninow"], 
a[href|="/racist"],
a[href|="/fools"],
a[href|="/excalibur"],
a[href|="/foals"],
a[href|="/becauseyouwubyourselfatnight"],
a[href|="/scootapuppyeyes"],
a[href|="/anythingicandotohelp"],
a[href|="/dropthebass"],
a[href|="/fsforyou"],
a[href|="/applebloomaruu"],
a[href|="/abhai"],
a[href|="/mwno"]
{
    display: block;
    clear: none;
    float: left;
    height: 140px;
    background-image: url(%%sheet7%%)
}
a[href|="/bunchadrunks"]
{
    width: 238px;
    background-position: -0px -0px;
}
a[href|="/rarpokerhat"]
{
    width: 144px;
    background-position: -238px -0px;
}
a[href|="/dangerzone"]
{
    width: 205px;
    background-position: -0px -140px;
}
a[href|="/bpno"]
{
    width: 168px;
    background-position: -205px -140px;
}
a[href|="/cannihurr"]
{
    width: 132px;
    background-position: -0px -280px;
}
a[href|="/cannijerks"]
{
    width: 132px;
    background-position: -132px -280px;
}
a[href|="/dramaaa"]
{
    width: 112px;
    background-position: -264px -280px;
}
a[href|="/maredoboozicorn"]
{
    width: 190px;
    background-position: -0px -420px;
}
a[href|="/canninow"]
{
    width: 198px;
    background-position: -190px -420px;
}
a[href|="/racist"]
{
    width: 197px;
    background-position: -0px -560px;
}

a[href|="/fools"],
a[href|="/excalibur"],
a[href|="/foals"]
{
    width: 134px;
    background-position: -197px -560px;
}
a[href|="/becauseyouwubyourselfatnight"]
{
    width: 255px;
    background-position: -0px -700px;
}
a[href|="/scootapuppyeyes"]
{
    width: 98px;
    background-position: -255px -700px;
}
a[href|="/anythingicandotohelp"]
{
    width: 267px;
    background-position: -0px -840px;
}
a[href|="/dropthebass"]
{
    width: 167px;
    background-position: -0px -980px;
}
a[href|="/fsforyou"]
{
    width: 184px;
    background-position: -0px -1120px;
}
a[href|="/mwno"]
{
    width: 110px;
    height: 200px;
    background-position: -0px -1400px;
}
a[href|="/applebloomaruu"],
a[href|="/abhai"]
{
    width: 153px;
	height: 200px;
    background-position: -114px -1400px;
}
/* end sheet 7 */

/* sheet 8 */
a[href|="/rapingtime"],
a[href|="/awkwardhug"],
a[href|="/fscry"],
a[href|="/feels"],
a[href|="/butchtrixie"],
a[href|="/badonkadonk"],
a[href|="/scrunchylyra"],
a[href|="/seahoers"],
a[href|="/megan"],
a[href|="/seanigel"],
a[href|="/indignanttwilight"],
a[href|="/indignantcadance"],
a[href|="/indignantcelestia"],
a[href|="/indignantluna"],
a[href|="/fascinating"],
a[href|="/honesty"],
a[href|="/howyoudoin"],
a[href|="/literallybrohoof"],
a[href|="/abhowyoudoin"],
a[href|="/pootishorn"]
{
    display: block;
    clear: none;
    float: left;
    height: 140px;
    background-image: url(%%sheet8%%)
}
a[href|="/rapingtime"]
{
	width: 112px;
	background-position: -0px -0px;
}
a[href|="/rapingtime"]:hover
{
	width: 112px;
	background-position: -112px -0px;
}
a[href|="/awkwardhug"]
{
	width: 150px;
	background-position: -224px -0px;
}
a[href|="/fscry"],
a[href|="/feels"]
{
	width: 145px;
	background-position: -374px -0px;
}
a[href|="/butchtrixie"]
{
	width: 137px;
	background-position: -0px -140px;
}
a[href|="/badonkadonk"]
{
	width: 147px;
	background-position: -137px -140px;
}
a[href|="/scrunchylyra"]
{
	width: 155px;
	background-position: -284px -140px;
}
a[href|="/seahoers"]
{
	width: 62px;
	background-position: -439px -140px;
}
a[href|="/megan"]
{
	width: 130px;
	background-position: -0px -280px;
}
a[href|="/seanigel"]
{
	width: 71px;
	background-position: -130px -280px;
}
a[href|="/indignanttwilight"]
{
	width: 153px;
	background-position: -201px -280px;
}
a[href|="/indignantcadance"]
{
	width: 140px;
	background-position: -354px -280px;
}
a[href|="/indignantcelestia"]
{
	width: 180px;
	background-position: -0px -420px;
}
a[href|="/indignantluna"]
{
	width: 181px;
	background-position: -180px -420px;
}
a[href|="/fascinating"]
{
	width: 91px;
	background-position: -361px -420px;
}
a[href|="/honesty"]
{
	width: 198px;
	background-position: -0px -560px;
}
a[href|="/howyoudoin"]
{
	width: 155px;
	background-position: -198px -560px;
}
a[href|="/literallybrohoof"]
{
	width: 348px;
	background-position: -0px -700px;
}
a[href|="/abhowyoudoin"]
{
	width: 171px;
	background-position: -348px -700px;
}
a[href|="/pootishorn"]
{
	width: 193px;
	background-position: -0px -840px;
}
/* end sheet 8 */

/* sheet 9 */
a[href|="/wheels"],
a[href|="/vymedic"],
a[href|="/vymiggy"],
a[href|="/applejackson"],
a[href|="/teibounce"],
a[href|="/fiddlesticks"],
a[href|="/teipixelbuster"],
a[href|="/ajistiredofyourshit"],
a[href|="/bpdemo"],
a[href|="/redtoxindash"],
a[href|="/pillshere"],
a[href|="/corndogarmor"],
a[href|="/enemyatthegates"],
a[href|="/ponymead"],
a[href|="/smuglestia"],
a[href|="/ridinintothedangerzone"],
a[href|="/bpsalute"],
a[href|="/bpdrunkagain"],
a[href|="/HOERS"]
{
    display: block;
    clear: none;
    float: left;
    height: 140px;
    background-image: url(%%sheet9%%)
}
a[href|="/wheels"]
{
	width: 175px;
	background-position: -0px -0px;
}
a[href|="/vymedic"],
a[href|="/vymiggy"]
{
	width: 175px;
	background-position: -175px -0px;
}
a[href|="/applejackson"]
{
	width: 89px;
	background-position: -0px -140px;
}
a[href|="/teibounce"]
{
	width: 147px;
	background-position: -89px -140px;
}
a[href|="/fiddlesticks"]
{
	width: 110px;
	background-position: -236px -140px;
}
a[href|="/teipixelbuster"]
{
	width: 187px;
	background-position: -0px -280px;
}
a[href|="/ajistiredofyourshit"]
{
	width: 187px;
	background-position: -187px -280px;
}
a[href|="/bpdemo"]
{
	width: 249px;
	background-position: -0px -420px;
}
a[href|="/redtoxindash"]
{
	width: 122px;
	background-position: -255px -420px;
}
a[href|="/pillshere"]
{
	width: 177px;
	background-position: -0px -560px;
}
a[href|="/corndogarmor"]
{
	width: 115px;
	background-position: -177px -560px;
}
a[href|="/enemyatthegates"]
{
	width: 260px;
	background-position: -0px -700px;
}
a[href|="/ponymead"]
{
	width: 164px;
	background-position: -0px -840px;
}
a[href|="/smuglestia"]
{
	width: 131px;
	background-position: -164px -840px;
}
a[href|="/ridinintothedangerzone"]
{
	width: 125px;
	background-position: -0px -980px;
}
a[href|="/bpsalute"]
{
	width: 187px;
	background-position: -125px -980px;
}

a[href|="/bpdrunkagain"]
{
	width: 117px;
	background-position: -0px -1120px;
}
a[href|="/HOERS"]
{
	width: 146px;
        height: 139px;
	background-position: -117px -1121px;
}
/* end sheet 9 */


/* sheet 10 */
a[href|="/letsspinthis"],
a[href|="/bizzaam"],
a[href|="/bplouis"],
a[href|="/raricoffee"],
a[href|="/immaletyoufinish"],
a[href|="/art"],
a[href|="/bpfluffle"],
a[href|="/derpburp"],
a[href|="/flufflegala"],
a[href|="/flufflescrunchie"],
a[href|="/octydd"],
a[href|="/octyrofl"],
a[href|="/powerbuttondrunk"],
a[href|="/rdtoilet"],
a[href|="/bptoilet"],
a[href|="/holyfuck"],
a[href|="/lyrapenisdoubt"]
{
    display: block;
    clear: none;
    float: left;
    height: 140px;
    background-image: url(%%sheet10%%)
}
a[href|="/letsspinthis"]
{
	width: 151px;
	background-position: -0px -0px;
}
a[href|="/bizzaam"]
{
	width: 80px;
	background-position: -151px -0px;
}
a[href|="/bplouis"]
{
	width: 143px;
	background-position: -231px -0px;
}
a[href|="/raricoffee"]
{
	width: 189px;
	background-position: -0px -140px;
}
a[href|="/immaletyoufinish"]
{
	width: 178px;
	background-position: -189px -140px;
}
a[href|="/art"]
{
	width: 179px;
	background-position: -0px -280px;
}
a[href|="/bpfluffle"]
{
	width: 141px;
	background-position: -179px -280px;
}
a[href|="/derpburp"]
{
	width: 129px;
	background-position: -0px -420px;
}
a[href|="/flufflegala"]
{
	width: 170px;
	background-position: -129px -420px;
}
a[href|="/flufflescrunchie"]
{
	width: 158px;
	background-position: -0px -560px;
}
a[href|="/octydd"]
{
	width: 184px;
	background-position: -158px -560px;
}
a[href|="/octyrofl"]
{
	width: 192px;
	background-position: -0px -700px;
}
a[href|="/powerbuttondrunk"]
{
	width: 140px;
	background-position: -192px -700px;
}
a[href|="/rdtoilet"]
{
	width: 210px;
	height: 200px;
	background-position: -0px -840px;
}
a[href|="/bptoilet"]
{
	width: 141px;
	height: 200px;
	background-position: -210px -840px;
}
a[href|="/holyfuck"]
{
	width: 123px;
	height: 200px;
	background-position: -0px -1040px;
}
a[href|="/lyrapenisdoubt"]
{
	width: 130px;
	height: 200px;
	background-position: -123px -1041px;
}
/* end sheet 10 */

/* GIR sheet */
a[href|="/girtwi"],
a[href|="/girspike"],
a[href|="/girlestia"],
a[href|="/giraj"],
a[href|="/girmac"],
a[href|="/girluna"],
a[href|="/girpie"],
a[href|="/girshy"],
a[href|="/girderpy"]
{
    display: block;
    clear: none;
    float: left;
    height: 140px;
    background-image: url(%%girsheet%%)
}
a[href|="/girtwi"]
{
	width: 119px;
	background-position: -0px -0px;
}
a[href|="/girspike"]
{
	width: 115px;
	background-position: -119px -0px;
}
a[href|="/girlestia"]
{
	width: 167px;
	background-position: -234px -0px;
}
a[href|="/giraj"]
{
	width: 103px;
	background-position: -0px -140px;
}
a[href|="/girmac"]
{
	width: 110px;
	background-position: -103px -140px;
}
a[href|="/girluna"]
{
	width: 196px;
	background-position: -213px -140px;
}
a[href|="/girpie"]
{
	width: 101px;
	background-position: -0px -280px;
}
a[href|="/girshy"]
{
	width: 121px;
	background-position: -101px -280px;
}
a[href|="/girderpy"]
{
	width: 112px;
	background-position: -222px -280px;
}
/* end GIR sheet */

/* sheet 11 */
a[href|="/longbon"],
a[href|="/wmfluffle"],
a[href|="/yourewinner"],
a[href|="/truestory"],
a[href|="/derpdatass"],
a[href|="/tomxbloombergotp"],
a[href|="/banjopony"],
a[href|="/rdthor"],
a[href|="/bacardibelledrama"],
a[href|="/imablatheredprincess"],
a[href|="/itssosmooth"],
a[href|="/doeshelooklikeafilly"],
a[href|="/scootawings"],
a[href|="/rdlookwhatweredealingwith"],
a[href|="/endlessbreadsticks"]
{
    display: block;
    clear: none;
    float: left;
    height: 140px;
    background-image: url(%%sheet11%%)
}
a[href|="/longbon"]
{
	width: 133px;
	background-position: -0px -0px;
}
a[href|="/wmfluffle"]
{
	width: 177px;
	background-position: -133px -0px;
}
a[href|="/yourewinner"]
{
	width: 127px;
	background-position: -0px -140px;
}
a[href|="/truestory"]
{
	width: 94px;
	background-position: -127px -140px;
}
a[href|="/derpdatass"]
{
	width: 101px;
	background-position: -221px -140px;
}
a[href|="/tomxbloombergotp"]
{
	width: 113px;
	background-position: -0px -280px;
}
a[href|="/banjopony"]
{
	width: 105px;
	background-position: -113px -280px;
}
a[href|="/rdthor"]
{
	width: 113px;
	background-position: -218px -280px;
}
a[href|="/bacardibelledrama"]
{
	width: 192px;
	background-position: -0px -420px;
}
a[href|="/imablatheredprincess"]
{
	width: 195px;
	background-position: -192px -420px;
}
a[href|="/itssosmooth"]
{
	width: 249px;
	background-position: -0px -560px;
}
a[href|="/doeshelooklikeafilly"]
{
	width: 148px;
	background-position: -249px -560px;
}
a[href|="/scootawings"]
{
	width: 141px;
	background-position: -0px -700px;
}
a[href|="/rdlookwhatweredealingwith"]
{
	width: 128px;
	background-position: -141px -700px;
}
a[href|="/endlessbreadsticks"]
{
	width: 351px;
	height: 200px;
	background-position: -0px -840px;
}
/* end sheet 11 */


/* sheet 12 */
a[href|="/flutterchrysalisscared"],
a[href|="/flutteralltheanimals"],
a[href|="/killme"],
a[href|="/bpwhatdididrinklastnight"],
a[href|="/bptrain"],
a[href|="/hipsterbelle"],
a[href|="/rarisausage"],
a[href|="/bpthatsgood"],
a[href|="/bpthink"],
a[href|="/bpwant"],
a[href|="/joesdonuthole"],
a[href|="/bpcoffee"],
a[href|="/bppursuitofhappiness"],
a[href|="/bpwinehat"],
a[href|="/twilicorndafuq"],
a[href|="/sacreblueshift"],
a[href|="/woonalove"]
{
    display: block;
    clear: none;
    float: left;
    height: 140px;
    background-image: url(%%sheet12%%)
}
a[href|="/flutterchrysalisscared"]
{
	width: 155px;
	background-position: -0px -0px;
}
a[href|="/flutteralltheanimals"]
{
	width: 139px;
	background-position: -155px -0px;
}
a[href|="/killme"]
{
	width: 168px;
	background-position: -0px -140px;
}
a[href|="/bpwhatdididrinklastnight"]
{
	width: 121px;
	background-position: -168px -140px;
}
a[href|="/bptrain"]
{
	width: 314px;
	background-position: -0px -280px;
}
a[href|="/hipsterbelle"]
{
	width: 98px;
	background-position: -0px -420px;
}
a[href|="/rarisausage"]
{
	width: 95px;
	background-position: -98px -420px;
}
a[href|="/bpthatsgood"]
{
	width: 127px;
	background-position: -193px -420px;
}
a[href|="/bpthink"]
{
	width: 89px;
	background-position: -0px -560px;
}
a[href|="/bpwant"]
{
	width: 157px;
	background-position: -89px -560px;
}
a[href|="/joesdonuthole"]
{
	width: 144px;
	background-position: -246px -560px;
}
a[href|="/bpcoffee"]
{
	width: 139px;
	background-position: -0px -700px;
}
a[href|="/bppursuitofhappiness"]
{
	width: 222px;
	background-position: -139px -700px;
}
a[href|="/bpwinehat"]
{
	width: 130px;
	height: 200px;
	background-position: -0px -840px;
}
a[href|="/twilicorndafuq"]
{
	width: 129px;
	background-position: -130px -840px;
}
a[href|="/woonalove"]
{
	width: 106px;
	background-position: -259px -840px;
}
a[href|="/sacreblueshift"]
{
	width: 156px;
	background-position: -0px -1040px;
}
/* end sheet 12 */
/* sheet 13 */
a[href|="/twilightstrapkle"]
{
    display: block;
    clear: none;
    float: left;
    height: 200px;
    background-image: url(%%sheet13%%)
}
a[href|="/twilightstrapkle"]
{
	width: 199px;
	background-position: -0px -0px;
}
/* end sheet 13 */
/* start sheet 14 */

a[href|="/whoers"],
a[href|="/ahambreakfast"],
a[href|="/abscrunchie"],
a[href|="/cocainestia"],
a[href|="/howvulgar"],
a[href|="/lyrafonz"],
a[href|="/rdtrain"],
a[href|="/trainbowdash"],
a[href|="/fsstare"],
a[href|="/rdthebird"],
a[href|="/ithappened"],
a[href|="/bpliver"],
a[href|="/rdalwaysdressesinstyle"],
a[href|="/thatsnothowyouspellmiggyb"]
{
    display: block;
    clear: none;
    float: left;
    height: 140px;
    background-image: url(%%sheet14%%)
}
a[href|="/whoers"]
{
	width: 144px;
	background-position: -0px -0px;
}
a[href|="/ahambreakfast"]
{
	width: 193px;
	background-position: -144px -0px;
}
a[href|="/abscrunchie"]
{
	width: 132px;
	background-position: -0px -140px;
}
a[href|="/cocainestia"]
{
	width: 181px;
	background-position: -132px -140px;
}
a[href|="/howvulgar"]
{
	width: 153px;
	background-position: -0px -280px;
}
a[href|="/lyrafonz"]
{
	width: 129px;
	background-position: -153px -280px;
}
a[href|="/rdtrain"],
a[href|="/trainbowdash"]
{
	width: 259px;
	background-position: -0px -420px;
}
a[href|="/fsstare"]
{
	width: 137px;
	background-position: -0px -560px;
}
a[href|="/rdthebird"]
{
	width: 115px;
	background-position: -137px -560px;
}
a[href|="/ithappened"],
a[href|="/bpliver"]
{
	width: 252px;
	background-position: -0px -700px;
}
a[href|="/rdalwaysdressesinstyle"]
{
	width: 136px;
	background-position: -0px -840px;
}
a[href|="/thatsnothowyouspellmiggyb"]
{
	width: 135px;
	background-position: -136px -840px;
}
/* end sheet 14*/