a[href|='/twiflap'] { width:132px; height:150px; background-image: url(%%twiflap%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px; }
a[href|='/twitwitch'] { width:122px; height:150px; background-image: url(%%twitwitch%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px; }

a[href|='/ppexcited'], a[href|='/andyisanasshat'] { width:119px; height:150px; background-image: url(%%ppexcited%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px; } 
a[href|='/ajchew'] { width:144px; height:150px; background-image: url(%%ajchew%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px; }

a[href|='/twiexcited'], a[href|='/twilightsparkle'] { width:194px; height:150px; background-image: url(%%twiexcited%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px; }
a[href|='/raritwitch'] { width:154px; height:150px; background-image: url(%%raritwitch%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px; }

a[href|='/pphugs'] { width:173px; height:150px; background-image: url(%%hugs%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px; }
a[href|='/spikewoo'] { width:200px; height:150px; background-image: url(%%spikewoo%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px; }

a[href|='/derpydance'] { width:164px; height:150px; background-image: url(%%derpydance%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px; }
a[href|='/rimshot'] { width:303px; height:193px; background-image: url(%%rimshot%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px; }

a[href|='/twirun'] { width:400px; height:300px; background-image: url(%%twirun%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px; }
a[href|='/lickiepie'] { width:225px; height:200px; background-image: url(%%lickiepie%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px; }

a[href|='/derpslide'] { width:241px; height:175px; background-image: url(%%derpslide%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px; }
a[href|='/pomf'] { width:400px; height:300px; background-image: url(%%pomf%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px; }

a[href|='/twiderp'] { width:213px; height:150px; background-image: url(%%twiderp%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px; }
a[href|='/giggle'] { width:108px; height:144px; background-image: url(%%giggle%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px; }


a[href|='/heyyeah'] { width:200px; height:200px; background-image: url(%%heyyeah%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px; }
a[href|='/pptwitcha'] { width:163px; height:179px; background-image: url(%%pptwitcha%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px}

a[href|='/fswb'] { width:300px; height:218px; background-image: url(%%fswb%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px}
a[href|='/twipeck'] { width:150px; height:150px; background-image: url(%%twipeck%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px}

a[href|='/lbspin'] { width:150px; height:150px; background-image: url(%%lbspin%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px}
a[href|='/ajready'] { width:118px; height:120px; background-image: url(%%ajready%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px}

a[href|='/twihorror'] { width:171px; height:175px; background-image: url(%%twihorror%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px}
a[href|='/ajlol'] { width:156px; height:175px; background-image: url(%%ajlol%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px}

a[href|='/octcake'] { width:150px; height:200px; background-image: url(%%octcake%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px}
a[href|='/pprage'] { width:368px; height:200px; background-image: url(%%pprage%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px}

a[href|='/ppshuffle'] { width:225px; height:200px; background-image: url(%%ppshuffle%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px}

a[href|='/twifly'] { width:149px; height:127px; background-image: url(%%twifly%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px}
a[href|='/floatyesplin'] { width:159px; height:222px; background-image: url(%%floatyesplin%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px}


a[href|='/dashcheer'] { width:350px; height:200px; background-image: url(%%dashcheer%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px}
a[href|='/twist'] { width:140px; height:200px; background-image: url(%%twist%%); background-position: 0px 0px; display: block; clear: none; float: left; margin-left: 3px; margin-right: 3px}


a[href|="/ppbop"], a[href|="/dashbop"], a[href|="/twibob"] {
    display: block;
    clear: none;
    float: left;
    height: 150px;
    background-image: url(%%bops1%%)}

 a[href|="/ppbop"] {width: 150px;background-position: -0px -0px}

 a[href|="/dashbop"] {width: 151px;background-position: -159px -4px}

 a[href|="/twibob"] {width: 145px;background-position: -309px -0px}


a[href|="/ajbop"], a[href|="/shybop"], a[href|="/rarbop"] {
    display: block;
    clear: none;
    float: left;
    height: 150px;
    background-image: url(%%bops%%)}

 a[href|="/ajbop"] {width: 144px;background-position: -0px -0px}
 a[href|="/shybop"] {width: 150px;background-position: -145px -0px}
 a[href|="/rarbop"] {width: 145px;background-position: -300px -0px}

a[href|='/clop00'], a[href|='/clop01'], a[href|='/clop02'], a[href|='/clop03'], a[href|='/clop04'], a[href|='/clop10'], a[href|='/clop11'], a[href|='/clop12'], a[href|='/clop13'], a[href|='/clop14'], a[href|='/clop20'], a[href|='/clop21'], a[href|='/clop22'], a[href|='/clop23'], a[href|='/clop24'], a[href|='/clop30'], a[href|='/clop31'], a[href|='/clop32'], a[href|='/clop33'], a[href|='/clop34'], a[href|='/clop40'], a[href|='/clop41'], a[href|='/clop42'], a[href|='/clop43'], a[href|='/clop44'],a[href|='/clop45'], a[href|='/clop46'], a[href|='/sur26'], a[href|='/rsur26'] {
    display: block;
    clear: none;
    float: left;
    background-image: url(%%clop-table%%)
    }

a[href|='/clop00'] {width:67px; height:73px; background-position: -4px -2px}
a[href|='/clop01'] {width:64px; height:76px; background-position: -2px -75px}
a[href|='/clop02'] {width:66px; height:75px; background-position: -7px -153px}
a[href|='/clop03'] {width:63px; height:72px; background-position: -10px -232px}
a[href|='/clop04'] {width:70px; height:76px; background-position: -5px -305px}
a[href|='/clop10'] {width:66px; height:74px; background-position: -77px -0px}
a[href|='/clop11'] {width:71px; height:77px; background-position: -68px -73px}
a[href|='/clop12'] {width:76px; height:76px; background-position: -76px -151px}
a[href|='/clop13'] {width:71px; height:72px; background-position: -76px -231px}
a[href|='/clop14'] {width:63px; height:77px; background-position: -83px -304px}
a[href|='/clop20'] {width:70px; height:75px; background-position: -153px -0px}
a[href|='/clop21'] {width:64px; height:67px; background-position: -142px -84px}
a[href|='/clop22'] {width:76px; height:76px; background-position: -151px -151px}
a[href|='/clop23'] {width:68px; height:74px; background-position: -153px -229px}
a[href|='/clop24'] {width:64px; height:75px; background-position: -150px -305px}
a[href|='/clop30'] {width:71px; height:74px; background-position: -227px -0px}
a[href|='/clop31'] {width:68px; height:75px; background-position: -215px -75px}
a[href|='/clop32'] {width:69px; height:72px; background-position: -235px -155px}
a[href|='/clop33'] {width:64px; height:73px; background-position: -230px -230px}
a[href|='/clop34'] {width:75px; height:76px; background-position: -217px -304px}
a[href|='/clop40'] {width:69px; height:75px; background-position: -306px -0px}
a[href|='/clop41'] {width:71px; height:76px; background-position: -295px -76px}
a[href|='/clop42'] {width:66px; height:74px; background-position: -312px -158px}
a[href|='/clop43'] {width:63px; height:73px; background-position: -303px -236px}
a[href|='/clop44'] {width:64px; height:66px; background-position: -306px -314px}
a[href|='/clop45'], a[href|='/sur26'] {width:70px; height:75px; background-position: -3px -382px}
a[href|='/clop46'], a[href|='/rsur26'] {width:70px; height:75px; background-position: -80px -382px}

/* Hiding shit in the sidebar that we don't need. */
div > .submit, div > .create { display: none; }
.reddit-edit, .upload a[href="http://www.reddit.com/r/mlas1animotes/about/stylesheet"] { font-size: 60px !important; }
