html {
    position: relative;
}

body {   
    background:#F6F9FC;  
    font-family:sans-serif !important;
} 
.titlebox h1 a {
    color:#0077BB !important;  
    font-size:18px; 
}
h2 {  
    color:#000 !important;  
    font-size:18px; 
}
h4 {
margin: 20px 0 40px 0;
}
/*
.side h4 a{                                                    submit link button */
    /*    color:white !important;  
    font-weight:bold;  
    font-size:14px;  
    margin:15px 0px;
    padding:5px 89px;
    background-color:#33AADD;
    border:1px solid #0088BB;
    text-align:center;
}  
h4 a:hover{  
    padding:0px;
    font-size:0px !important;  
    background-image:none;
    border:none;
}  
h4 a:hover:after {
    font-weight:bold;  
    color:red !important;  
    font-size: 14px;
    margin:0px !important;
    padding:5px 64px !important;
    content: "Please Respond to your critics" ;
    background-color: #33AADD;
    border:1px solid gray;  
}*/
h5 {  
    font-family:sans-serif;  
    font-size:1.3em;  
    margin-top:1em;  
    line-height:1.5;  
}  
h6 {  
    font-family:sans-serif;  
    font-size:1.3em;  
    margin-top:1em;  
    line-height:1.5;  
}  


/* Header Image */


#header-img {
    margin-top: 2px;
    margin-right: 5px;
    padding-top: 7px;
    z-index: 1;
   }

.thumbnail.nsfw {
height: 70px;
background-image:url(%%nsfw%%) ;
background-position: 0px 0px;
background-repeat: no-repeat;
} 
/*Changes reddit name to image. */
.redditname a{
background:url(%%logo%%) no-repeat;
height: 86px;
width: 288px;
margin-top:1px !important;
}

#header-bottom-left{
   background-image: url(%%header%%);
   background-color: #FFFFFF;
   background-repeat: no-repeat; 
   height: 100px;
}

.redditname a{
text-indent:-9001px;
margin-top:30px;
}

#header-img-a,
.redditname a,
.tabmenu {
display: inline;
padding-left:0px;
float: left;
}
#header-img {
margin-right:0px;
}
/*  
********************  
****Top Link Bar  
********************  
*/  

#sr-header-area{  
    background: #F6F9FC !important;  
    border-bottom:2px solid #0088CC;  
    height:11px;  
    line-height:10px;  
    margin-top: -2px;
}  
.res-nightmode #sr-header-area{  
    background: #F6F9FC !important;  
}
.sr-bar a {  
    color:#000;  
}  
#sr-header-area .separator {  
    color:#0088CC;  
}  
#sr-more-link { 
    background-color: #F6F9FC;  
    color:#000;  
}  
#sr-header-area .srdrop .selected {  
    color: #000;  
}  

/*  
*************************  
*** My Reddits Drop down list  
*************************  
*/  

.drop-choices{  
    background-color:#333 !important;  
    border:2px solid #0088CC;  
    border-radius:7px !important;  
    padding: 2px 10px;  
}  
.drop-choices a {  
    color:#999  !important;  
}  
#sr-header-area div.srdrop a.choice.bottom-option {  
    color: white !important;  
}  
#sr-header-area div.drop-choices a.choice:hover {  
    background-color: #333 !important;  
    color: white !important;  
}  
/*  

**********************  
**** Tab menu  
**********************  
*/  

.tabmenu li a {  
    color: white;  
    background: url(%%50tile%%) !important;  
    border: none;  
    font-size:14px;  
    margin: 0 14px 0;  
    line-height:1.4;
}  
.tabmenu li.selected a {  
    color:red;  
    background-color:transparent;  
    border:none;  
}  
.tabmenu li a:hover {  
    color:red;  
    background-color:transparent;  
    border:none;  
}  
.tabmenu {   
    padding:0 0 0 0;  
    position:absolute;
    top:91px; 
    left: -15px;
 
}  
#header-bottom-right { 
 
    position:absolute; 
    top:82px;
    right:41px;
}  
#header-bottom-right a {  
    color:#808080;  
    font-weight:normal;
}  
#header-bottom-right a:hover {  
    color:#333;  
    text-decoration:none;
}  
.res #header-bottom-right {
    position:absolute; 
    right:5px;
    top:84px;
}  
.res #userbarToggle {

    background-color:#ECF2F5;
    color:#BBCCDD;
    border-color:#BBCCDD;
}
.res .content {
    margin-top:20px;
}


#RESSettingsButton {
    margin-top:-10px !important;
}
.res #header-bottom-right img, .res #RESAccountSwitcherIconOverlay{
    margin-top:-10px !important;
}
.res #RESPrefsDropdown {
    margin-top: 10px;
}
.res #userbarToggle, .res #RESMainGearOverlay {
    height: 24px !important;
}



/*  
*******************************************************************  
**** Adds links to arch in header - Links need to be added as a list in the sidebar.
*******************************************************************  
*/  

.titlebox blockquote{            /* Repositioning */  
    position:absolute;  
    z-index:100;  
    top: 0px;  
    line-height:1.4;
    right:  20px;  
    margin: 28px 5px 5px 15px;    
    background-color: transparent !important;  
    font-size:0px; 
    border-left:none;
    float:right;


}  
.titlebox blockquote li a{                 /* Text formatting */  
    text-transform:lowercase;  
    color:#999;  
    font-weight:bold;  
    font-size:14px;
    padding:0 20px;  
    display:inline;
}  
.titlebox blockquote li a:hover{  
     color:white;      
}  

/*  
*********************  
***** Sidebar  
*********************  
*/  

.side {  
    padding: 15px 25px 0 25px;  
    background:none;  
}  
form#search {  
    border: 2px solid #BED5CE;  
    background:#33AADD;  
    font-size:0.812em;  
    min-height:40px;  
}  
#search:before {
    color: white;
    font-size: 13px;
    font-weight: bold;
    line-height: 40px;
    content: "Reddit Search:";
    padding-left: 10px
    }
#search input[type="text"] {
    /* Search box */
    float: right;
    width: 145px !important;
    height: 13px !important;
    margin: 10px 15px 0px 0px;
    border: 1px solid #0088BB;
    background-color: white;
    color: black;
    font-size: 13px !important;
    font-weight:bold;
    }

#searchexpando.infobar { 
    background:#ECF2F5;  
    border: 1px solid #BBCCDD;  
    border-top:none;  
    border-radius:0; 
}

.titlebox {
text-align: center;
}
.titlebox .usertext-body {
text-align:left;
}

.titlebox .bottom {   /* Sub created by... */
background-color:#F6F9FC !important;
padding: 15px 3px 20px !important;
margin: -6px !important;
border-top:none;

}
.sheets {              /* fix for edit style sheet page due to issues with moving the sidebar. */  
    max-width: 985px;  
}  
.spacer .titlebox {                        /*  Highlight the box containing subscribe button/links etc */  
    border: 1px solid #BBCCDD;  
    background:#ECF2F5;  
    padding: 5px;  

}  
.side .spacer {
    margin: 0px 0 0px 0;
}
.titlebox form.toggle, .leavecontributor-button, .leavemoderator{  
    background:#ECF2F5;  
    color:black;  
}  
.sidecontentbox .content {  
    border:none;  
}  
.sidebox .spacer {  
    background:none;
}  
.sidebox .nub {  
    display:none;  
}  
.morelink {  
    border-radius:0px;  
}  
.side a {  
    color:#0077BB;       /* Change links in sidebar from default to  blue */  
}  
a.title {                   /*Change the color of post titles to  blue */  
    color: #0077BB !important ;  
}  
a.author {  
    color:#0077BB;  
}

.md {
    max-width: 60em;
    overflow: visible;
    font-size: small;
}  

.side .usertext-body .md {  
  padding-bottom:10px;
  padding-top:5px;
  padding-left: 10px;
  margin-top:1px;
  background-color:#F6F9FC !important;
  width: 288px;
  

}  
.fancy-toggle-button .remove{
border-radius:0;
}

.titlebox .fancy-toggle-button {
display: inline-block;
margin-right: 5px;
}

.fancy-toggle-button .add {
    background: #33AADD !important;
    border:1px solid #0088BB;
    border-radius:0;
}
.RESDashboardToggle {
    background-image:none !important;
    background: #33AADD !important;
    border: 1px solid #0088BB;
    border-radius:0 !important;
    margin-left:10px;
}  
.RESshortcut.RESshortcutside {
    background-image:none !important;
    background: #33AADD !important;
    background: 1px solid #0088BB;
    border-radius:0;
    margin-left:10px;
}
#RESShortcuts {
overflow:hidden;
}
.titlebox .md {                                                       /* Replace submit button */
background-color:transparent !important;
border-top: 1px solid #BBCCDD !important;
margin: 0 -6px !important;
padding-top:10px;
}
.sidebox.submit, .sidebox.create {
background-color:#ECF2F5;
border: 1px solid #BBCCDD;
border-top:none;
}
.side .morelink a{
background:none !important;
background-color:#33AADD !important;
color:white;
}
.side .morelink a:hover{
background:none !important;
background-color:#33AADD !important;
color:black;
}

.sidebox.submit .morelink a:hover {
height:28px;
font-size:0px;
}
.sidebox.submit .morelink a:hover:after{
font-size:15px;
color:red;
content:"Please respond to your critics";
background-color:transparent !important;
}
/*  
************************  
**** Page Specific tweaks  
***********************  
*/  
                                                         /* Comment page */  

.link .usertext .md {  
    border: 1px solid #BBCCDD;  
    background:#ECF2F5;  
    padding: 5px;  
    border-radius:0px;  
    }  
.linkinfo {                                     /* The box that appears under the search area */  
    border: 1px solid #BBCCDD;  
    background:#ECF2F5;  
    padding: 5px;  
    border-radius:0px;  
}  
.panestack-title {                          /* Prevents seperator bleeding into sidebar */  
    margin-right: 365px;  
} 
.keyHighlight {

background-color:transparent !important;
}
.res .keyHighlight {

background-color:transparent !important;
}

.link.last-clicked {                          /* Front page */  
    border:none;  
}  
#siteTable.sitetable.linklisting {  
    padding-top: 15px;  
}  
.thing .title.loggedin.click:visited, .thing .title.loggedin.click, .thing .title.loggedin:visited, .thing .title.click, .thing .title:visited {
    color: #A466DD !important;
}

p.title {  
    margin: 0px 340px 15px 3px;  
}  
.listing-page .entry {
    border-bottom:1px dotted #BBCCDD;  
}
.footer a {                                        /* Footer */  
    color:#0077BB;  
}  
                                                      /* Submit page */  
textarea {  
    background:none;  
    border: 1px solid #BBCCDD;
    background-color:#ECF2F5;
}  
input {
    background:none;  
}  
.roundfield {                                   /* boxes that surround url/title fields */
    background:#ECF2F5;  
    border: 1px solid #BBCCDD;  
    border-radius:0;  
}  
#link-desc {                                     /* Link description boxes */
    background:#33AADD;  
    border:1px solid #0088BB;  
}  
#link-desc:after {                         /* Anti meme reminder when posting links */
    content: " The key to an unsuccessful submission is posting memes.";
}
#text-desc {  
    background:#33AADD;  
    border:1px solid #0088BB;  
}  
ul.tabmenu.formtab {                      /* Text / link tabs */
    position:relative;  
    right:550px;
    top:1px;
}  
ul.tabmenu.formtab li a{  
    border:1px solid #33AADD;  
    background: #ECF2F5 !important;  
}  
ul.tabmenu.formtab li.selected a{  
    border:1px solid #33AADD;  
    background: #ECF2F5 !important;  
}  
.icon-menu a {
background:#F6F9FC;
}

.content .tabmenu{                  /* Tabs on the mod's edit flair page */
position:relative;
right:550px;
top:0;
}
.content .tabmenu li#tab-templates li#tab-link_templates  li#tab-grant a {
color: #333;
}
.content .tabmenu li.selected a{
color:#0088CC !important;
}
.content .tabmenu a:hover{
color:#0088CC !important;
}

.menuarea li a {                       /* change the new|rising links in the new tab  on front page*/
color:#333;
}
.menuarea li.selected a {
color:#0088CC ;
}

  

/*replace "readers" with something else*/
div.titlebox span.word {
    display: none
    }
div.titlebox .subscribers span.number:after {
    content: " Pony Artists"
    }
div.titlebox .users-online span.number:after {
    content: " Potential Critiquers"
    } 

/*  
******************************  
*** RES Nightmode fixes  
******************************  
*/  

.res-nightmode #userbarToggle {
    margin-top:2px;
}
.res-nightmode #header-bottom-right {
    background-color:transparent !important;
}
.res-nightmode .titlebox blockquote li a{                 /* Text formatting */  
    text-transform:lowercase;  
    color:#999 !important;  
}  
.res-nightmode .titlebox blockquote li a:hover{  
     color:white !important;      
}  
.res-nightmode .titlebox {
    background-color: transparent;  
    border:1px solid #0088BB;
}
.res-nightmode .titlebox form.toggle, .leavemoderator {
    background-color: transparent;
}
.res-nightmode .sidecontentbox, .content {
    background-color: transparent !important;
}
a.subbarlink.RESShortcutsCurrentSub {
    color:#0088BB !important;
    font-weight:normal;
}

.res-nightmode .sidebox.submit, .res-nightmode .sidebox.create {
background:none !important;
background-color:#393939 !important;
border-radius:0px !important;
}
.res-nightmode .sidebox  {
padding-left:0px !important;
}
.res-nightmode .link .score.likes {  
    color:#999 !important;  
}  
.res #RESShortcutsRight, #RESShortcutsLeft, #RESShortcutsAdd {
    height:11px !important;
    font-size:10px !important;  
    color:#0088BB !important;
    line-height:1em !important;
    font-weight:bold;
    background-color:transparent !important;
}

.res #RESShortcutsEditContainer {
    height: 8px !important;
    background:none !important;
}
.res-nightmode .side .usertext-body .md{
background-color:#222222 !important;
}
 .res-nightmode .titlebox .md{
background-color:#222222 !important;
}
 .res-nightmode .titlebox .bottom {
background-color:#222222 !important;
}

/* Sidebar Emotes */
.titlebox strong {
    font-size: medium
    }
.titlebox del {
    color: white
    }
.titlebox em {
    font-size: 9px;
    text-decoration: none;
    font-style: normal
    }
.titlebox strong em {
    font-size: 8px;
    font-style: normal;
    font-weight: normal
    }
.titlebox table {
    display: none;
    clear: both
    }
.side div.usertext-body:hover table {
    display: block;
    clear: both
    }


/* Spoiler box*/
a[href$="/spoiler"] {
    background: #000 !important;
    color: #000 !important
    }
a[href$="/spoiler"]:hover {
    color: #FFF !important
    }

/* Add the blue backdrop to the odd links */

.sitetable > .link:first-child, .link ~ .odd {
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
background: url(%%20tile%%) ;
border-radius: 10px;
margin-right: 320px;
}

/*Background*/
body {
   background: url(%%background%%) no-repeat fixed center center;
   margin-top: 5px;
   }

/* Linkable notification at the top 
That big yellow box thing
*/
 .content {
   margin-top: 33px;
   }
  .titlebox form {
  position: static
  }
.titlebox .usertext-body .md p > em {
    width: 33%;
    background-color: #FFFEE6;
    border: 1px solid #E1B000;
    position: absolute;
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 13px;
    top: 117px;
    left: 0px;
    z-index: 1;
    margin: 0;
    white-space:nowrap;
    padding-left: 30px;
    list-style: none;
    display: block;
    overflow: hidden;
    text-align: center;
    }
.titlebox .usertext-body .md p > em li{
margin: 0px;
}
.titlebox .usertext-body .md p > em a {
font-weight:bold;
text-decoration:underline;
}

/* Second Linkable bar
*/
 .content {
   margin-top: 33px;
   }
  .titlebox form {
  position: static
  }
.titlebox .usertext-body .md h5 {
    width: 33%;
    background-color: #FFFEE6;
    border: 1px solid #E1B000;
    position: absolute;
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 13px;
    top: 117px;
    left: 66%;
    z-index: 1;
    margin: 0;
    white-space:nowrap;
    padding-left: 30px;
    list-style: none;
    display: block;
    overflow: hidden;
    text-align: center;
    }
.titlebox .usertext-body .md h5 li{
margin: 0px;
}
.titlebox .usertext-body .md h5 a {
font-weight:bold;
text-decoration:underline;
}

/* Third Linkable bar
*/
 .content {
   margin-top: 33px;
   }
  .titlebox form {
  position: static
  }
.titlebox .usertext-body .md h6 {
    width: 32.1%;
    background-color: #FFFEE6;
    border: 1px solid #E1B000;
    position: absolute;
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 13px;
    top: 117px;
    left: 33%;
    z-index: 1;
    margin: 0;
    white-space:nowrap;
    padding-left: 30px;
    list-style: none;
    display: block;
    overflow: hidden;
    text-align: center;
    }
.titlebox .usertext-body .md h6 li{
margin: 0px;
}
.titlebox .usertext-body .md h6 a {
font-weight:bold;
text-decoration:underline;
}


.wiki-page .md {
background: white;
}

a[href|="/twiquery"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 100px;
    background-image: url(%%o3UqK%%)
    }
a[href|="/twiquery"] {
    background-position: -0px -0px
    }


a[href|="/vinylwhat"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%vinylwhat%%) 
    } 
a[href|="/vinylwhat"] { 
    background-position: -0px -0px 
    }

a[href|="/pinkiehi"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%pinkiehi%%) 
    } 
a[href|="/pinkiehi"] { 
    background-position: -0px -0px 
    }

a[href|="/twistudy"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%twistudy%%) 
    } 
a[href|="/twistudy"] { 
    background-position: -0px -0px 
    }


a[href|="/twisad"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%twisad%%) 
    } 
a[href|="/twisad"] { 
    background-position: -0px -0px 
    }

a[href|="/scootbrag"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%scootbrag%%) 
    } 
a[href|="/scootbrag"] { 
    background-position: -0px -0px 
    }

a[href|="/ppnervous"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%ppnervous%%) 
    } 
a[href|="/ppnervous"] { 
    background-position: -0px -0px 
    }

a[href|="/applegrump"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%applegrump%%) 
    } 
a[href|="/applegrump"] { 
    background-position: -0px -0px 
    }

a[href|="/rargasp"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%twentypercentcooler%%)
    } 
a[href|="/rargasp"] { 
    background-position: -0px -0px 
    }

a[href|="/abworry"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%abworry%%)
    } 
a[href|="/abworry"] { 
    background-position: -0px -0px 
    }

a[href|="/ppreference"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%ppreference%%)
    } 
a[href|="/ppreference"] { 
    background-position: -0px -0px 
    }

a[href|="/cookie"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%cookie2%%)
    } 
a[href|="/cookie"] { 
    background-position: -0px -0px 
    }

a[href|="/muffin"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%cookie2%%)
    } 
a[href|="/muffin"] { 
    background-position: -0px -0px 
    }


a[href|="/roseluck"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%roseluck%%)
    } 
a[href|="/roseluck"] { 
    background-position: -0px -0px 
    }

a[href|="/sbsmile"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%sbsmile%%)
    } 
a[href|="/sbsmile"] { 
    background-position: -0px -0px 
    }

a[href|="/lyrahoof"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%lyrahoof%%)
    } 
a[href|="/lyrahoof"] { 
    background-position: -0px -0px 
    }

a[href|="/bonhoof"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%bonhoof%%)
    } 
a[href|="/bonhoof"] { 
    background-position: -0px -0px 
    }

a[href|="/notagain"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%notagain%%)
    } 
a[href|="/notagain"] { 
    background-position: -0px -0px;
    }

a[href|="/cheerteach"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%cheerteach%%)
    } 
a[href|="/cheerteach"] { 
    background-position: -0px -0px;
    }

a[href|="/lunablush"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%lunablush%%)
    } 
a[href|="/lunablush"] { 
    background-position: -0px -0px;
    }

a[href|="/trixihappy"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%trixihappy%%)
    } 
a[href|="/trixihappy"] { 
    background-position: -0px -0px;
    }

a[href|="/lunaread"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%lunaread%%)
    } 
a[href|="/lunaread"] { 
    background-position: -0px -0px;
    }

a[href|="/shyhug"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%flutterhug%%)
    } 
a[href|="/shyhug"] { 
    background-position: -0px -0px;
    }

a[href|="/applebamm"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%applehammer%%)
    } 
a[href|="/applebamm"] { 
    background-position: -0px -0px;
    }

a[href|="/forgotshy"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%forgotshy%%)
    } 
a[href|="/forgotshy"] { 
    background-position: -0px -0px;
    }
a[href|="/cadancehappy"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%happycadence%%)
    } 
a[href|="/cadancehappy"] { 
    background-position: -0px -0px;
    }
a[href|="/flutterhelp"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%flutterhelp%%)
    } 
a[href|="/flutterhelp"] { 
    background-position: -0px -0px;
    }
a[href|="/flutterpaint"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%flutterpaint%%)
    } 
a[href|="/flutterpaint"] { 
    background-position: -0px -0px;
    }
a[href|="/yourock"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%yourock%%)
    } 
a[href|="/yourock"] { 
    background-position: -0px -0px;
    }
a[href|="/snipsmote"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%snipsmote%%)
    } 
a[href|="/snipsmote"] { 
    background-position: -0px -0px;
    }

a[href|="/thankyakindly"] { 
    display: block; 
    clear: none; 
    float: left; 
    width: 100px; 
    height: 100px; 
    background-image: url(%%thankyakindly%%)
    } 
a[href|="/thankyakindly"] { 
    background-position: -0px -0px;
    }

/* Announcement Bar */
.pagename {
    font-size: 12pt
    }
.titlebox form {
    position: static
    }
.titlebox .usertext-body .md ol {
    width: auto;
    background: url(%%mlp%%) no-repeat scroll 100% 5px #EFF7FF;
    border: 1px solid #5f99cf;
    position: absolute;

    top: 15px;
    left: 37%;
    z-index:20px 310px 0 0;
    padding: 8px 45px 8px 8px;
    list-style: none;
    display: block;
    white-space: normal;
    overflow: hidden;
    border-radius: 10px;
    z-index: 10000000
    }
.titlebox .usertext-body .md ol li {
    margin: 1px;
    list-style: none
    }

a.author[href$="/numberlock"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
}

a.author[href$="/numberlock"]:after {
    content: "Beerpony";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
} 

a.author[href$="/The8BitF0x"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
}

a.author[href$="/The8BitF0x"]:after {
    content: "The8BitPony";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
} 