/*APRIL FOOOOLS! CREDIT TO /R/NINTENDO*/
//.comment[data-fullname$="0"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: This OC and Game are best ship."; }
//.comment[data-fullname$="1"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: I thought about calling this one Chaos Gun."; }
//.comment[data-fullname$="2"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: This OC was my idea."; }
//.comment[data-fullname$="3"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: nothing personnel...kid"; }
//.comment[data-fullname$="4"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: Pretty sure Season 5 is cancelled."; }
//.comment[data-fullname$="5"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: Should I give it a fifth leg?"; }
//.comment[data-fullname$="6"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: Your OC a shit. It ain't catburd."; }
//.comment[data-fullname$="7"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: Why doesn't it have a rainbow mane yet?"; }
//.comment[data-fullname$="8"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: Dethrone the mods!"; }
//.comment[data-fullname$="9"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: Give us a Fire Emblem crossover pone!"; }
//.comment[data-fullname$="a"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: Griffons."; }
//.comment[data-fullname$="b"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: Donut steel!"; }
//.comment[data-fullname$="c"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: The mods said to say April Fools came late. Prease andastand."; }
//.comment[data-fullname$="d"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: This subreddit is closing today. Please understand."; }
//.comment[data-fullname$="e"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: Let's make Littlest Pet Shop OCs instead!"; }
//.comment[data-fullname$="f"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: We stole the words that Tingle created!"; }
//.comment[data-fullname$="g"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: [](/sbstare-i)"; }
//.comment[data-fullname$="h"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: Gilda-senpai is mai waifu."; }
//.comment[data-fullname$="i"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: pls"; }
//.comment[data-fullname$="j"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: Don't use as many colours on that cutie mark."; }
//.comment[data-fullname$="k"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: /r/nintendo deserves a sub."; }
//.comment[data-fullname$="l"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: Game Changer used Ship. It's super effective!"; }
//.comment[data-fullname$="m"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: anon2lol pls."; }
//.comment[data-fullname$="n"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: Come and RP with us!"; }
//.comment[data-fullname$="o"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: When the hell's my OC gonna get featured in Dash Academy?"; }
//.comment[data-fullname$="p"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: Lovely horse ladies!"; }
//.comment[data-fullname$="q"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: April Fools?"; }
//.comment[data-fullname$="r"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: Do not abandon ship."; }
//.comment[data-fullname$="s"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: GameNote OTP!"; }
//.comment[data-fullname$="t"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: CollarKarai OTP!"; }
//.comment[data-fullname$="u"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: Schala OTP!"; }
//.comment[data-fullname$="v"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: Scholarusty OTP!"; }
//.comment[data-fullname$="w"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: Ech."; }
//.comment[data-fullname$="x"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: Don't remove your collar!"; }
//.comment[data-fullname$="y"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: These are the magic words that /r/nintendo created itself, but we borrowed them!"; }
//.comment[data-fullname$="z"]>.entry>.usertext>.usertext-body>.md>p:last-child::after { content: " PS: gibe de shippy n0zz"; }



/*CHANGE PAGE NAME*/
.pagename a {
    font-size: 0;
    content: '';

}
.pagename a:after {
    content: "My Little OC";
    font-size: medium;
    position: relative;
    top: 6px;
}
/*END CHANGE PAGE NAME*/
/*CHANGE NAME OF MODERATORS BOX*/  

.sidecontentbox .helplink + .title h1 { font-size: 0}

.sidecontentbox .helplink + .title h1:before { font-size: 10pt; content: "Overpowered OC's" }  

/*END CHANGE NAME OF MODERATORS BOX*/

/*hide tabs*/
.listing-page .tabmenu li:nth-of-type(3),	/* Rising */
.listing-page .tabmenu li:nth-of-type(4),	/* Controversial */
.listing-page .tabmenu li:nth-of-type(6),	/* Saved links */
.listing-page .tabmenu li:nth-of-type(9),	/* Wiki */
.listing-page .tabmenu li:nth-of-type(8) /* Promoted Links*/  {
    display: none;
} 	

/*LINK FLAIRS*/
.linkflairlabel { max-width: none; }
.linkflair-art .linkflairlabel {color:green; border:1px solid green}
.linkflair-music .linkflairlabel {color:orange; border:1px solid orange}
.linkflair-fiction .linkflairlabel {color:blue; border:1px solid blue}
.linkflair-joke .linkflairlabel {color:black; border:1px solid black}
.linkflair-crossover .linkflairlabel {color:purple; border:1px solid purple}
.linkflair-help .linkflairlabel {color:red; border:1px solid red}
.linkflair-introduction .linkflairlabel {color:#006666; border:1px solid #006666}
.linkflair-update .linkflairlabel {color:black; border:1px solid yellow}
/*END LINK FLAIRS*/
/*HEADER BG COLOUR*/
#header {background-color: white; border: 0px hidden white}
/*END HEADER BG COLOUR*/

/*SUB NAME FONT*/
.pagename a:after{
    color: #008888; /*Change to make your subreddit name a different color*/
    font-size: 35px; /*Font size of it*/
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.pagename a:after:hover {
    color: #FFFFFF; /*Choose the color for it when hovering over it*/
    text-decoration:none;
}
/*END SUB NAME FONT*/
/*TAB COLOURS*/
.tabmenu li a{
    color: #008888;
    background-color: white;
    border: 1px outset #008888;
    border-radius: 9px;
    position: relative;
    top: -5px;
}

.tabmenu li a:hover{
    color: #008888;
    background-color: #eee;
    border: 1px solid #008888;
    border-radius: 9px;
}

.tabmenu li.selected a{
    color: #00AAAA;
    background-color: #BBBBBB;
    border: 1px solid #00BBBB;
}
/*END TAB COLOURS*/
/*HIDE AND 1 MORE >>>*/
.sidecontentbox .more a {
    display: none;
}
/*END HIDE & 1 MORE >>>*/
/*NO DOWNVOTING UNLESS SUBSCRIBED*/
body:not(.subscriber) .down
{ 
    visibility: hidden !important;
}
body:not(.subscriber) #siteTable:before
{
     content: "You are not a member of this community. Please respect that by not downvoting.";
    display: block;
    max-width: 800px;
    background-color: #F6E69F;
    padding: 5px 10px;
    margin: 5px 305px 5px 0px;
    border: 1px solid orange;
    font-size: small;
}
/*END NO DOWNVOTING UNLESS SUBSCRIBED*/
/*REPORT MESSAGE*/
.report-button:hover:after {
    position: absolute;
    white-space: normal;
    display: block;
    z-index: 1000;
    width: 350px;
    padding: 5px;
    border: 0px solid #333;
    background: #fca;
    content: "Please also message the moderators a link and reason why you are reporting this, thanks. ";
    text-align: center;
    font-size: 10px;
    color: red;
    margin-left: 25px;
    margin-top: 5px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px
}
/*END REPORT MESSAGE*/

/*DOWNVOTE WARNING*/
.arrow.down:hover:before {
     position: absolute;
     display: block;
     z-index: 1000;
     width: 210px;
     padding: 5px;
     border: 0px solid #333;
     border-radius: 15px;
     background: #fca;
     content: " Is the OC badly made or not well-rounded? Is the post/comment's content hateful?";
     text-align: center;
     font-size: 10px;
     color: red;
     margin-left: 25px;
     margin-top: 5px;
     -moz-border-radius: 4px;
     border-radius: 4px;
     -webkit-border-radius: 4px
}
/*END DOWNVOTE WARNING*/

/* PRETTY SUBMIT LINK (1 bar) by /u/RainbowCrash (modified by Sabvegas)*/
.morelink
{
    font-weight:normal;
    letter-spacing:2px;
    background:  #007777;
    border: none;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    -khtml-border-radius:2px;
    border-radius:20px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    color: white;
}
.morelink:hover
{
    background: #A7B9CB;
    background-color: #224444;
    border-color: #FF0000;
}

.morelink .nub 
{
    display: none;
}

.morelink 
{
    color:#FFF; 
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size:19px; 
    width: 301px;
}

.morelink a, .morelink a:hover
{
    color: white;
}

.sidebox.create 
{
    display: none;
}

.sidebox.submit.disabled 
{
    display: none;
}
/* NIGHTMODE FIXES */
.res-nightmode .sidebox.submit.submit-text
{
    background: none !important;
    margin-top: -45px;
    margin-left: 153px;
}

.res-nightmode .sidebox 
{
    padding-left: 0px !important;
    border: 2px solid #151515 !important;
}

.res-nightmode .morelink 
{
     height: 29px !important;
}

.res-nightmode .morelink
{
    background:rgb(39, 63, 87) !important;
}

.res-nightmode .morelink:hover
{
    background: #449ef8 !important;
    background-color: #9edbf8 !important;
    border-color: #9edbf8 !important;
}
/* END NIGHTMODE FIX */
/* END PRETTY SUBMIT LINKS */

/*CHANGE NSFW TAG TEXT*/
.nsfw-stamp acronym { display: none; }
.nsfw-stamp:after {
    content: 'SUGGESTIVE'; 
    border: 1px solid;
    color: #ac3939;
    padding: 0 2px;
    border-radius: 3px;
} 

/*NEW SUBMIT BUTTONS*/

#header {height:97px}

.titlebox h6:nth-of-type(1) {top:300px}

#header .tabmenu {top:295px}

#header-img {top:300px}

.morelink {top:300px}

.sidebox.submit .morelink {display:none}

.side .md h4 a {
    border-radius: 30px;
    border: 4px outset #066;
    color: #008080;
    background: #fff;
    position: absolute;
    top: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 300px;
    font-size: 22px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    letter-spacing: -1px;
}
.side .md h4 a:hover {
    border-color: #006666;
    color: #008080;
    background: #eeeeee;
}
.side .usertext-body h4:nth-last-of-type(2) a {
   top: 130px;
}
.side .usertext-body h4:nth-last-of-type(3) a {
   top: 160px;
}
.side .usertext-body h4:nth-last-of-type(4) a {
   top: 190px;
}
.side .usertext-body h4:nth-last-of-type(5) a {
   top: 220px;
}
.side .usertext-body h4:nth-last-of-type(6) a {
   top: 250px;
}
.side .usertext-body h4:nth-last-of-type(7) a {
   top: 280px;
}
.side .usertext-body h4:nth-last-of-type(8) a {
   top: 310px;
}
.side {
   padding-top: 240px;
}
/*END NEW SUBMIT BUTTONS*/
/*ANNOUNCEMENTS*/
.side .md h5:nth-of-type(1) {
    list-style-type:none!important;
    position: absolute;
    font-size: 14px;
    display: block;
    top: 105px; /*Change this in relation to your header's height*/
    left: 18%; /*adjust this is well*/
    margin:0;
    background-color: #dddddd!important; /*Change for different background color*/
    color: #f00; /*Change for different for color*/
    text-align: center;
    border-radius: 37px;
    border: 5px solid #006666;
    width: 500px;
    height: 100px
    padding: 7px 10px 0px 0px;
    white-space: normal;
    overflow: hidden;
}

.side .md h5 .bpm-emote.bpmote-gcadorkable {
    background-position: 0 0;
}

.side .md h1:nth-of-type(1) a {
    color: rgb(51, 102, 153); /*Changes the colors of the links*/
}

.content {
    margin-top:110px; /*Increase or decrease depending on how much room you need*/
}
/*END ANNOUNCEMENTS*/

/*******************
  START Drop down 
*******************/


/***Layer and attributes***/

.titlebox blockquote:first-child {
border-left:none;
position:absolute;
z-index:20;
border:none;

/***this adjust location from the top***/

top:70px;
left:-30px;
}

/***turns first paragraph into menu title***/

.titlebox blockquote h1 {
display:none;
}

/***************Creates list of menus*

.titlebox blockquote:first-child p:first-child {
margin-top:0;
padding:5px;
float:left;
font-size:12pt;
background:#ddd;
border:1px solid #000;
font-weight:700;
color:#FFF;
cursor:default;
}

/***turns the LISTS into horiz menus***/

.titlebox blockquote ul {
    padding: 0;
    background: #fff;
    border: 5px outset #066;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    border-radius: 20px;
    margin: 5px auto;
}

/***styles lists/dropdown menus***/

.titlebox blockquote ul li {
display:none;
padding:0;
margin:0;
text-align:center;
}

.titlebox blockquote ul li:first-child,.titlebox blockquote ul:hover li {
display:block;
}

/***ios click menu hack-Needs work***/

#header:target ~ * {
display:none;
}

/*makes whole list item selectable?*/

.titlebox blockquote li a {
font-size: 14px;
color: #006666;
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
display:block;
font-weight:700;
padding-left:0;
line-height:18px;
}

/*shows menu on hover*/

.titlebox blockquote ul li:first-child,.titlebox blockquote ul:hover li {
display:block;
}

/*turns top list item into section header*/

.titlebox blockquote li:first-child {
font-size:12.5pt;
padding:0px;
cursor:default;
}

.titlebox blockquote:first-child {
border-left:none;
position:absolute;
z-index:20;
top:10px;
left:125px;
}

/*styling menu items*/

.titlebox blockquote:first-child ul li:hover {
/* adjust the highlighted color */
background:#FC6;
}

/* changes the text color while highlighted */

.titlebox blockquote li a:hover {
color:#066;
background:#ddd;
}

/*Size of each menu. Expandable*/

.titlebox blockquote ul:nth-of-type(1) {
width:280px;
}

.titlebox blockquote ul:nth-of-type(2) {
width:280px;
}

.titlebox blockquote ul:nth-of-type(3) {
width:280px;
}

.titlebox blockquote ul:nth-of-type(4) {
width:280px;
}

.titlebox blockquote { border: 0; }
/*******************
  END Drop down 
*******************/

/* Wiki header text */

body .content .wiki-page-content .md.wiki h1 {
color: red;
}

/*LINK FLAIR FILTERS, WOOP*/

html:lang(jo) .link:not(.linkflair-joke) {
    display: none    }
html:lang(cr) .link:not(.linkflair-crossover) {
    display: none    }
html:lang(nt) .link:not(.linkflair-introduction) {
    display: none    }
html:lang(mu) .link:not(.linkflair-music) {
    display: none    }
html:lang(on) .link:not(.linkflair-fiction) {
    display: none    }
html:lang(rt) .link:not(.linkflair-art) {
    display: none    }
html:lang(he) .link:not(.linkflair-help) {
    display: none    }
html:lang(up) .link:not(.linkflair-update) {
    display: none    }

/*USER FLAIRS*/

.flair-gamechanger
{ color:#ffffff; 
border: 2px outset maroon; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:#006666 }

.flair-sketchynote
{ color:white; 
border: 2px outset grey; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:black }

.flair-blueballblitz
{ color:#fff; 
border: 2px solid #fff; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:#0000ee }

.flair-skyrunner
{ color:#d00; 
border: 2px solid #d00; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:#eee }

.flair-opensource
{ color:#fff; 
border: 2px outset #fff; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:#00f}

.flair-mkemiafarasi
{ color:#333; 
border: 2px solid #eee; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:#ddd}

.flair-starstrucksymphony
{ color:#eff; 
border: 2px solid #eff; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:maroon}

.flair-bleedingheart
{ color:black; 
border: 2px solid black; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:fuchsia}

.flair-dalekkolt
{ color:#b29600; 
border: 2px solid #b29600; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:#7f6b00}

.flair-sugarfree
{ color:fuchsia; 
border: 2px solid fuchsia; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:white}

.flair-jonasjospell
{ color:white; 
border: 2px solid teal; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:#00f}

.flair-flamethrower
{ color:brown; 
border: 2px solid brown; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:teal}

.flair-sunbreak
{ color:#DDA0DD; 
border: 2px solid #DDA0DD; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:grey}

.flair-spellcheck
{ color:yellow; 
border: 2px solid yellow; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:grey}

.flair-nighttimemelody
{ color:blue; 
border: 2px solid blue; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:lightblue}

.flair-willow
{ color:brown; 
border: 2px solid brown; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:lightblue;}

.flair-paige
{ color:grey; 
border: 2px solid grey; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:lightblue;}

.flair-mintcopy
{ color:white; 
border: 2px solid grey; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:red;}

.flair-goldengraham
{ color:brown; 
border: 2px solid brown; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:yellow;}

.flair-almostsurely
{ color:white; 
border: 2px solid green; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:grey;}

.flair-syntaxerror
{ color:#8BCB25;
font-family: "Lucida Console", Monaco, monospace;
border: 2px solid #C5FF6E; border-radius: 20px; 
padding-left:6px; padding-right:5px; padding-bottom:1px; padding-top:1px;
background-color:#FFFDD7;}

.flair-clackerspotlight
{ color:black; 
border: 2px solid black; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:#006666;}

.flair-miamorecadenza
{ color:#999900; 
border: 2px solid yellow; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:pink;}

.flair-ironmaiden
{ color:black; 
border: 2px solid black; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:grey;}

.flair-xeon
{ color:grey; 
border: 2px solid black; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:brown;}

.flair-ruby
{ color:red; 
border: 2px solid red; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:ivory;}

.flair-thunderstrike
{ color:maroon; 
border: 2px solid maroon; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:yellow;}

.flair-diamondtip
{ color:orange; 
border: 2px solid orange; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:white;}

.flair-4330715
{ color:blue; 
border: 2px solid green; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:black;}

.flair-soundbyte
{ color:blue; 
border: 2px solid blue; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:tan;}

.flair-technicalwaters
{ color:white; 
border: 2px solid #006666; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:olive;}

.flair-curtaincall
{ color:yellow; 
border: 2px solid red; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:blue;}

.flair-peachfuzz
{ color:#C58512; 
border: 2px solid #C58512; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:#E1D877;}

.flair-duxfortis
{ color:brown; 
border: 2px solid tan; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:lightblue;}

.flair-nimblehooves
{ color:blue; 
border: 2px solid blue; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:#9FB6CD;}

.flair-dochelix
{ color:yellow; 
border: 2px solid yellow; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:blue;}

.flair-apples
{ color:turquoise; 
border: 2px solid turquoise; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:tan;}

.flair-icewisp
{ color:mint; 
border: 2px solid mint; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:teal;}

.flair-fieldmarks
{ color:ivory; 
border: 2px solid brown; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:tan;}

.flair-swordulanthundershield
{ color:yellow; 
border: 2px solid orange; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:tan;}

.flair-rockcandy
{ color:ivory; 
border: 2px solid ivory; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:purple;}

.flair-automoderator
{ color:grey; 
border: 2px outset grey; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:white;}

.flair-fluf
{ color:white; 
border: 2px solid brown; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:maroon;}

.flair-frostfire
{ color:white; 
border: 2px solid aqua; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:red;}

.flair-raviolilulamoon
{ color:#D28042; 
border: 2px solid #D28042; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:#EBA77B;}

.flair-raviolilulamoon
{ color:#D28042; 
border: 2px solid #D28042; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:#EBA77B;}

.flair-ponylectricmachine
{ color:grey; 
border: 2px solid grey; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:#FEFEFE;}

.flair-racingheart
{ color:#753c19; 
border: 2px solid #753c19; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:#ffe2ab;}

.flair-aerohead
{ color:#ff2222; 
border: 2px solid #ff2222; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:#brown;}

.flair-dust
{ color:yellow; 
border: 2px solid orange; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:blue;}

.flair-cygnus
{ color:brown; 
border: 2px solid lightblue; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:#fafafa;}

.flair-meep
{ color:lightgreen; 
border: 2px solid grey; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:black;}

.flair-cherry
{ color:red; 
border: 2px solid red; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:white;}

.flair-spectra
{ color:red; 
border: 2px solid green; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:white;}

.flair-moonlit
{ color:white; 
border: 2px solid green; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:grey;}

.flair-karai
{ color:white; 
border: 2px solid #B9971B; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:#B98A6E;}

.flair-pancakeskunk
{ color:white; 
border: 2px solid black; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:grey;}

.flair-mintmelody
{ color:green; 
border: 2px solid green; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:white;}

.flair-emerald
{ color:#25607C; 
border: 2px solid #25607C; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:#64C891;}

.flair-plasmahawk
{ color:#d235e5; 
border: 2px solid #d235e5; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:#241919;}

.flair-cheshire
{ color:white; 
border: 2px solid black; border-radius: 20px; 
padding-left:8px; padding-right:8px; padding-bottom:1px; padding-top:1px;
background-color:brown;}


/* EMOTE SPRITESHEETS (BY CHARACTER) */

/* GAME CHANGER */

a[href|="/gcadorkable"], a[href|="/gcangry"], a[href|="/gcconfident"], a[href|="/gcfacehoof"], a[href|="/gchmm"], a[href|="/gcsmug"], a[href|="/gcwoo"], a[href|="/thiskillsthegame"], a[href|="/gcrevelation"], a[href|="/gcrock"], a[href|="/gcyummy"], a[href|="/gcsmile"], a[href|="/gcsad"], a[href|="/gcshock"]
{background-image:url(%%game-changer%%);display:block;float:left;}

a[href|="/gcadorkable"] {width:70px;height:91px;background-position: 0 0;}
a[href|="/gcangry"] {width:66px;height:66px;background-position: -70px 0;}
a[href|="/gcconfident"] {width:70px;height:66px;background-position: -136px 0;}
a[href|="/gcfacehoof"] {width:66px;height:70px;background-position: -206px 0;}
a[href|="/gchmm"] {width:70px;height:70px;background-position: -272px 0;}
a[href|="/gcsmug"] {width:70px;height:78px;background-position: -342px 0;}
a[href|="/gcwoo"] {width:70px;height:73px;background-position: -412px 0;}
a[href|="/thiskillsthegame"] {width:69px;height:75px;background-position: -482px 0;}
a[href|="/gcrevelation"] {width:70px;height:104px;background-position: 0 -100px;}
a[href|="/gcrock"] {width:70px;height:112px;background-position: -70px -100px;}
a[href|="/gcyummy"] {width:70px;height:129px;background-position: -140px -100px;}
a[href|="/gcsmile"] {width:70px;height:70px;background-position: -551px 0;}
a[href|="/gcsad"] {width:70px;height:70px;background-position: -621px 0;}
a[href|="/gcshock"] {width:58px;height:70px;background-position: -691px 0;}

/* END OF GAME CHANGER */

/* MINT COPY */

a[href|="/mintcopy"], a[href|="/minthappy"], a[href|="/mintmad"], a[href|="/mintsad"], a[href|="/mintthink"]
{background-image:url(%%mint-copy%%);display:block;float:left;}

a[href|="/mintcopy"] {width:66px;height:69px;background-position: 0 0;}
a[href|="/minthappy"] {width:70px;height:70px;background-position: -66px 0;}
a[href|="/mintmad"] {width:66px;height:67px;background-position: -136px 0;}
a[href|="/mintsad"] {width:70px;height:63px;background-position: -202px 0;}
a[href|="/mintthink"] {width:70px;height:64px;background-position: -272px 0;}

/* END OF MINT COPY */

/* NIGHTTIME */

a[href|="/nighttimesalute"]
{background-image:url(%%nighttime%%);display:block;float:left;}

a[href|="/nighttimesalute"] {width:70px;height:57px;background-position: 0 0;}

/* END OF NIGHTTIME */

/* NIMBLE HOOVES */

a[href|="/nimblefun"], a[href|="/nhpoker"], a[href|="/63nimblesmile"], a[href|="/nhcute"], a[href|="/nimblehuhves"], a[href|="/nhboring"]
{background-image:url(%%nimble-hooves%%);display:block;float:left;}

a[href|="/nimblefun"] {width:150px;height:100px;background-position: 0 -100px;}
a[href|="/nhpoker"] {width:97px;height:110px;background-position: -150px -100px;}
a[href|="/63nimblesmile"] {width:71px;height:70px;background-position: 0 0;}
a[href|="/nhcute"] {width:66px;height:70px;background-position: -71px 0;}
a[href|="/nimblehuhves"] {width:66px;height:70px;background-position: -137px 0;}
a[href|="/nhboring"] {width:59px;height:70px;background-position: -203px 0;}

/* END OF NIMBLE HOOVES */

/* PAIGE */

a[href|="/paigehappy"], a[href|="/paigeyell"]
{background-image:url(%%paige%%);display:block;float:left;}

a[href|="/paigehappy"] {width:65px;height:81px;background-position: 0 0;}
a[href|="/paigeyell"] {width:67px;height:78px;background-position: -65px 0;}

/* END OF PAIGE */

/* RUBY */

a[href|="/rubybendover"], a[href|="/rubyprimp"], a[href|="/rubyreally"], a[href|="/rubysmirk"]
{background-image:url(%%ruby%%);display:block;float:left;}

a[href|="/rubybendover"] {width:150px;height:112px;background-position: 0 0;}
a[href|="/rubyprimp"] {width:70px;height:70px;background-position: -150px 0;}
a[href|="/rubyreally"] {width:70px;height:78px;background-position: -220px 0;}
a[href|="/rubysmirk"] {width:70px;height:80px;background-position: -290px 0;}

/* END OF RUBY */

/* STARSTRUCK SYMPHONY */

a[href|="/sscaketopper"], a[href|="/starstrucksuave"]
{background-image:url(%%starstruck-symphony%%);display:block;float:left;}

a[href|="/sscaketopper"] {width:63px;height:67px;background-position: 0 0;}
a[href|="/starstrucksuave"] {width:70px;height:69px;background-position: -63px 0;}

/* END OF STARSTRUCK SYMPHONY */

/* SUGAR FREE */

a[href|="/sugarbutt"], a[href|="/sugarfree"], a[href|="/sugarico"], a[href|="/sugarscared"], a[href|="/sugarsmarm"], a[href|="/sugarsmile"], a[href|="/sugarwut"]
{background-image:url(%%sugar-free%%);display:block;float:left;}

a[href|="/sugarbutt"] {width:150px;height:88px;background-position: 0 0;}
a[href|="/sugarfree"] {width:69px;height:68px;background-position: -150px 0;}
a[href|="/sugarico"] {width:70px;height:70px;background-position: -219px 0;}
a[href|="/sugarscared"] {width:70px;height:70px;background-position: -289px 0;}
a[href|="/sugarsmarm"] {width:70px;height:70px;background-position: -359px 0;}
a[href|="/sugarsmile"] {width:68px;height:68px;background-position: -429px 0;}
a[href|="/sugarwut"] {width:69px;height:82px;background-position: -497px 0;}

/* END OF SUGAR FREE */

/* SWORDULAN */

a[href|="/swordguilt"], a[href|="/swordbee"], a[href|="/swordhoof"], a[href|="/swordberg"], a[href|="/swordlie"], a[href|="/swordsmug"], a[href|="/swordmad"], a[href|="/swordsad"], a[href|="/swordsquint"], a[href|="/swordshock"], a[href|="/swordshrug"], a[href|="/hamntor"], a[href|="/himntor"], a[href|="/swordulan"], a[href|="/swordseesham"], a[href|="/battlestance"], a[href|="/swordstare"], a[href|="/swordtux"], a[href|="/swordserious"]
{background-image:url(%%swordulan%%);display:block;float:left;}

a[href|="/swordguilt"] {width:69px;height:69px;background-position: 0 0;}
a[href|="/swordbee"] {width:101px;height:77px;background-position: -69px 0;}
a[href|="/swordhoof"] {width:68px;height:69px;background-position: -170px 0;}
a[href|="/swordberg"] {width:69px;height:66px;background-position: -238px 0;}
a[href|="/swordlie"] {width:70px;height:67px;background-position: -307px 0;}
a[href|="/swordsmug"] {width:70px;height:65px;background-position: -377px 0;}
a[href|="/swordmad"] {width:69px;height:67px;background-position: -447px 0;}
a[href|="/swordsad"] {width:69px;height:65px;background-position: -516px 0;}
a[href|="/swordsquint"] {width:70px;height:68px;background-position: -585px 0;}
a[href|="/swordshock"] {width:70px;height:67px;background-position: -655px 0;}
a[href|="/swordshrug"] {width:69px;height:69px;background-position: -725px 0;}
a[href|="/hamntor"] {width:69px;height:70px;background-position: -794px 0;}
a[href|="/himntor"] {width:104px;height:149px;background-position: 0 -100px;}
a[href|="/swordulan"] {width:100px;height:158px;background-position: -104px -100px;}
a[href|="/swordseesham"] {width:150px;height:149px;background-position: -204px -100px;}
a[href|="/battlestance"] {width:170px;height:189px;background-position: -354px -100px;}
a[href|="/swordstare"] {width:150px;height:149px;background-position: -524px -100px;}
a[href|="/swordtux"] {width:141px;height:172px;background-position: -674px -100px;}
a[href|="/swordserious"] {width:88px;height:132px;background-position: -815px -100px;}

/* END OF SWORDULAN */

/* SYNTAX ERROR */ 

a[href|="/sebored"], a[href|="/sehahaha"], a[href|="/sesly"], a[href|="/synpoker"], a[href|="/synponder"], a[href|="/synsquint"], a[href|="/syntaxderp"], a[href|="/syntaxadorkable"], a[href|="/sehuhhuh"], a[href|="/sejoy"], a[href|="/seohhi"], a[href|="/synsmile"], a[href|="/secute"], a[href|="/squintax"], a[href|="/syntaxmeerkat"], a[href|="/robyxmeerkat"], a[href|="/synkathug"], a[href|="/seboring"], a[href|="/sefacehoof"], a[href|="/synwb"], a[href|="/sesup"], a[href|="/synfun"], a[href|="/synangry"], a[href|="/syncutestare"], a[href|="/sepout"], a[href|="/sehugs"], a[href|="/sewhaaat"], a[href|="/seshy"], a[href|="/sesleepy"], a[href|="/secolt"], a[href|="/synskip"], a[href|="/seshrug"], a[href|="/sestare"], a[href|="/spantaxhug"], a[href|="/sehuh"], a[href|="/syneeyup"]
{background-image:url(%%syntax-error%%);display:block;float:left;}

a[href|="/sebored"] {width:88px;height:70px;background-position: 0 0;}
a[href|="/sehahaha"] {width:55px;height:70px;background-position: -88px 0;}
a[href|="/sesly"] {width:67px;height:70px;background-position: -143px 0;}
a[href|="/synpoker"] {width:105px;height:110px;background-position: -70px -70px;}
a[href|="/synponder"] {width:63px;height:70px;background-position: -210px 0;}
a[href|="/synsquint"] {width:67px;height:70px;background-position: -273px 0;}
a[href|="/syntaxderp"] {width:70px;height:70px;background-position: -340px 0;}
a[href|="/syntaxadorkable"] {width:70px;height:115px;background-position: 0 -70px;}
a[href|="/sehuhhuh"] {width:70px;height:70px;background-position: -410px 0;}
a[href|="/sejoy"] {width:59px;height:70px;background-position: -480px 0;}
a[href|="/seohhi"] {width:70px;height:70px;background-position: -539px 0;}
a[href|="/synsmile"] {width:65px;height:70px;background-position: -609px 0;}
a[href|="/secute"] {width:73px;height:70px;background-position: -674px 0;}
a[href|="/squintax"] {width:68px;height:70px;background-position: -747px 0;}
a[href|="/syntaxmeerkat"], a[href|="/robyxmeerkat"] {width:232px;height:150px;background-position: -175px -70px;}
a[href|="/synkathug"] {width:195px;height:150px;background-position: -407px -70px;}
a[href|="/seboring"] {width:64px;height:70px;background-position: -815px 0;}
a[href|="/sefacehoof"] {width:71px;height:70px;background-position: -879px 0;}
a[href|="/synwb"] {width:130px;height:150px;background-position: -602px -70px;}
a[href|="/sesup"] {width:187px;height:150px;background-position: -732px -70px;}
a[href|="/synfun"] {width:244px;height:150px;background-position: 0 -220px;}
a[href|="/synangry"] {width:70px;height:70px;background-position: 0 -370px;}
a[href|="/syncutestare"] {width:78px;height:100px;background-position: -919px -70px;}
a[href|="/sepout"] {width:83px;height:100px;background-position: -244px -220px;}
a[href|="/sehugs"] {width:181px;height:100px;background-position: -327px -220px;}
a[href|="/sewhaaat"] {width:65px;height:70px;background-position: -70px -370px;}
a[href|="/seshy"] {width:67px;height:70px;background-position: -135px -370px;}
a[href|="/sesleepy"] {width:160px;height:150px;background-position: -508px -220px;}
a[href|="/secolt"] {width:61px;height:70px;background-position: -202px -370px;}
a[href|="/synskip"] {width:119px;height:150px;background-position: -668px -220px;}
a[href|="/seshrug"] {width:73px;height:70px;background-position: -263px -370px;}
a[href|="/sestare"] {width:67px;height:70px;background-position: -336px -370px;}
a[href|="/spantaxhug"] {width:162px;height:150px;background-position: -787px -220px;}
a[href|="/sehuh"] {width:89px;height:70px;background-position: -403px -370px;}
a[href|="/syneeyup"] {width:62px;height:70px;background-position: -492px -370px;}

/* END OF SYNTAX ERROR */

/* THUNDER STRIKE */

a[href|="/thunderdrink"], a[href|="/thunderwut"] 
{background-image:url(%%thunder-strike%%);display:block;float:left;}

a[href|="/thunderdrink"] {width:70px;height:99px;background-position: 0 0;}
a[href|="/thunderwut"] {width:70px;height:92px;background-position: -70px 0;}

/* END OF THUNDER STRIKE */

/* CLACKER SPOTLIGHT */

a[href|="/cssly"]
{background-image:url(%%clacker-spotlight%%);display:block;float:left;}

a[href|="/cssly"] {width:65px;height:70px;background-position: 0 0;}

/* END OF CLACKER SPOTLIGHT */

/* FIELD MARKS */

a[href|="/fmcute"]
{background-image:url(%%field-marks%%);display:block;float:left;}

a[href|="/fmcute"] {width:69px;height:70px;background-position: 0 0;}

/* END OF FIELD MARKS */

/* DUST */

a[href|="/dustshake"] {
   float:left;
   width:200px;
   height:150px;
   background-image:url(%%dustshake%%);
}

/* END OF DUST */

/* TECHNICAL WATERS */

a[href|="/techsuspicious"]
{background-image:url(%%technical-waters%%);display:block;float:left;}

a[href|="/techsuspicious"] {width:71px;height:70px;background-position: 0 0;}

/* END OF TECHNICAL WATERS */

/* DOC HELIX */

a[href|="/dhfacehoof"], a[href|="/dhhahaha"], a[href|="/dhohhi"], a[href|="/dhsly"], a[href|="/dhsquinty"]
{background-image:url(%%doc-helix%%);display:block;float:left;}

a[href|="/dhfacehoof"] {width:61px;height:70px;background-position: 0 0;}
a[href|="/dhhahaha"] {width:62px;height:70px;background-position: -61px 0;}
a[href|="/dhohhi"] {width:70px;height:70px;background-position: -123px 0;}
a[href|="/dhsly"] {width:70px;height:70px;background-position: -193px 0;}
a[href|="/dhsquinty"] {width:68px;height:70px;background-position: -263px 0;}

/* END OF DOC HELIX */

/* Aerohead */

a[href|="/aerowb"], a[href|="/aerosup"], a[href|="/aeroangry"], a[href|="/aerocutestare"], a[href|="/aeropout"], a[href|="/aerohugs"], a[href|="/aerowhaaat"], a[href|="/aeroshy"], a[href|="/aerosleepy"], a[href|="/aeroskip"]
{background-image:url(%%aerohead%%);display:block;float:left;}

a[href|="/aerowb"] {width:129px;height:150px;background-position: 0 -70px;}
a[href|="/aerosup"] {width:182px;height:150px;background-position: -129px -70px;}
a[href|="/aeroangry"] {width:62px;height:70px;background-position: 0 0;}
a[href|="/aerocutestare"] {width:80px;height:100px;background-position: -311px -70px;}
a[href|="/aeropout"] {width:85px;height:100px;background-position: -391px -70px;}
a[href|="/aerohugs"] {width:181px;height:100px;background-position: -476px -70px;}
a[href|="/aerowhaaat"] {width:62px;height:70px;background-position: -62px 0;}
a[href|="/aeroshy"] {width:66px;height:70px;background-position: -124px 0;}
a[href|="/aerosleepy"] {width:128px;height:150px;background-position: -657px -70px;}
a[href|="/aeroskip"] {width:118px;height:150px;background-position: -785px -70px;}

/* END OF AEROHEAD */

/* ROCK CANDY */

a[href|="/candyderp"], a[href|="/rcbored"], a[href|="/rccute"], a[href|="/rcfacehoof"], a[href|="/rchahaha"], a[href|="/rchuhhuh"], a[href|="/rcsly"], a[href|="/rcpoker"] 
{background-image:url(%%rock-candy%%);display:block;float:left;}

a[href|="/candyderp"] {width:68px;height:70px;background-position: 0 0;}
a[href|="/rcbored"] {width:77px;height:70px;background-position: -68px 0;}
a[href|="/rccute"] {width:71px;height:70px;background-position: -145px 0;}
a[href|="/rcfacehoof"] {width:64px;height:70px;background-position: -216px 0;}
a[href|="/rchahaha"] {width:60px;height:70px;background-position: -280px 0;}
a[href|="/rchuhhuh"] {width:69px;height:70px;background-position: -340px 0;}
a[href|="/rcsly"] {width:68px;height:70px;background-position: -409px 0;}
a[href|="/rcpoker"] {width:145px;height:150px;background-position: 0 -70px;}

/* END OF ROCK CANDY */

/* CYGNUS X */

a[href|="/cygblush"], a[href|="/cygdealwithit"], a[href|="/cyghug"], a[href|="/cygpoker"], a[href|="/cygwondersuit"], a[href|="/cygglee"], a[href|="/cygohhi"], a[href|="/cygderp"], a[href|="/cygshrug"], a[href|="/cygum"]
{background-image:url(%%cygnus%%);display:block;float:left;}

a[href|="/cygblush"] {width:73px;height:110px;background-position: 0 0;}
a[href|="/cygdealwithit"] {width:121px;height:110px;background-position: -73px 0;}
a[href|="/cyghug"] {width:96px;height:110px;background-position: -194px 0;}
a[href|="/cygpoker"] {width:90px;height:110px;background-position: -290px 0;}
a[href|="/cygwondersuit"] {width:86px;height:110px;background-position: -380px 0;}
a[href|="/cygglee"] {width:86px;height:70px;background-position: 0 -110px;}
a[href|="/cygohhi"] {width:67px;height:70px;background-position: -86px -110px;}
a[href|="/cygderp"] {width:45px;height:70px;background-position: -153px -110px;}
a[href|="/cygshrug"] {width:75px;height:70px;background-position: -198px -110px;}
a[href|="/cygum"] {width:68px;height:70px;background-position: -273px -110px;}

/* END OF CYGNUS X */

/* MOONLIT ACE */

a[href|="/mafacehoof"]
{background-image:url(%%moonlit-ace%%);display:block;float:left;}

a[href|="/mafacehoof"] {width:50px;height:70px;background-position: 0 0;}

/* END OF MOONLIT ACE */

/* END OF EMOTE SPRITESHEETS */