/* Mirroring the advice ponies here so I don't have to deal with the clusterfuck that is /r/mlcj */
/* even though this place is a clusterfuck anyway */

/* Banner Image */
#header-bottom-left {
    background: url(%%ysVQC%%) no-repeat center bottom;
    height: 250px;

    }

body {
background-color: #ff0000;
background: -moz-linear-gradient(top, #ff0000, #fffc00, #01b439, #00eaff, #000390, #ff00c6, #ff0000)  !important;
background: -webkit-linear-gradient(top, #ff0000,#fffc00,#01b439,#00eaff,#000390,#ff00c6, #ff0000)  !important;
background: -o-linear-gradient(top, #ff0000,#fffc00,#01b439,#00eaff,#000390,#ff00c6, #ff0000)  !important;
background: -ms-linear-gradient(top, #ff0000,#fffc00,#01b439,#00eaff,#000390,#ff00c6, #ff0000)  !important;
background: linear-gradient(top, #ff0000,#fffc00,#01b439,#00eaff,#000390,#ff00c6, #ff0000)  !important

}
/* Nightmode fixes for the background */
.content #siteTable div[onclick="click_thing(this)"] {background-color: transparent!important;}
body.res-nightmode:first-of-type > .content {background-color: transparent!important;}
body.res-nightmode:first-of-type {background-color: transparent!important;}

/*#header-bottom-left {
    background: url(%%pauladeanfuckingeverythingsonic2%%);*/
   /* background-color: rgb(60,20,160); */
    /*  margin-top: -50px;*/
  /*  background-repeat: no-repeat; */
  /*  background-position: 50% 50%; */
    /*height:240px
    }*/

/*#header-img {
    margin-top: 125px;
    margin-left: 0px;
    position: absolute
    }*/
.pagename {
    position: absolute;
    bottom: 0px;
    left: 10px;
    
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black
    }
.pagename a {
    color: white;
    padding: 5px
    }
/*
.tabmenu {
    margin-top:  290px;
    margin-left: 580px
    } */
.tabmenu li a {
    color: green;
    background-color: black !important;
    border: 0px solid black
    }
#header {
    border-bottom: 1px solid #000000;
    position: relative;
    z-index: 99
    }

div.footer-parent:after {
    content: url(%%varingdegreesofwant%%);
    margin-bottom: -35px
    }



 /*Changes background */
body {
    background:  no-repeat fixed 72% 100%;

}


/* Makes the sidebar transparent */
.side {
    background-color: transparent
    }

a.author[href$="BlockJuice_2"] {
    font-size: 0pt !important;
    display: inline-block
    }
a.author[href$="BlockJuice_2"]:before {
    content: "Anonymous ## Mod";
    font-size: 10pt !important;
    font-weight: bold !important;
    font-family: arial,helvetica,sans-serif;
    color: #800080;
    visibility: visible !important;
    }

/*this doesn't work very well in Chrome, huh*/

a.author[href$="derram"] {
    font-size: 0pt !important;
    font-weight: normal !important;
    display: inline-block
    }
a.author[href$="derram"]:before {
    content: "derram ## Double Admin";
    font-size: 10pt !important;
    font-weight: bold !important;
    font-family: arial,helvetica,sans-serif;
    color: #F00000;
    visibility: visible !important;
    }

a.author[href$="PsychoDuck"] {
    font-size: 0pt !important;
    font-weight: normal !important;
    display: inline-block
    }
a.author[href$="PsychoDuck"]:before {
    content: "Squidward Tentacles";
    font-size: 10pt !important;
    font-weight: 800 !important;
    font-family: arial,helvetica,sans-serif;
    color: #578055;
    visibility: visible !important;
    }

a.author[href$="iiRockpuppy"] {
    font-size: 0px !important;
    display: inline-block
    }
a.author[href$="iiRockpuppy"]:before {
    content: "PinkieOats";
    font-size: 10pt !important;
    font-weight: 800 !important;
    font-family: arial,helvetica,sans-serif;
    visibility: visible !important;
    }

a.author[href$="OneOfTheseDaysLuna"] {
    font-size: 0px !important;
    display: inline-block
    }
a.author[href$="OneOfTheseDaysLuna"]:before {
    content: "OneOfTheseDaysIWillBanBlockJuice";
    font-size: 10pt;
    visibility: visible !important;
    }

 a[href|="/BlockJuice"] {
    display: block;
    clear: none;
    float: left;
    width: 526px;
    height: 380px;
    background-image: url(%%899TR%%)  !important
    }


 a[href|="/ppohu"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 147px;
    background-image: url(%%ppohu%%)  !important
    }


 a[href|="/ppsong"] {
    display: block;
    clear: none;
    float: left;
    width: 600px;
    height: 600px;
    background-image: url(%%ppsong%%)
    }


 a[href|="/dashurbate"] {
    display: block;
    clear: none;
    float: left;
    width: 133px;
    height: 150px;
    background-image: url(%%dashurbate%%)  !important
    }


 a[href|="/roguepie"] {
    display: block;
    clear: none;
    float: left;
    width: 384px;
    height: 411px;
    background-image: url(%%roguepie%%)  !important
    }

 a[href|="/pone"] {
    display: block;
    clear: none;
    float: left;
    width: 558px;
    height: 391px;
    background-image: url(%%pone%%)  !important
    }


/*pinkie pie neck stuff here*/

 a[href|="/ppneck"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(%%ppneck%%)  !important
    }

 a[href|="/ppneckturn"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(%%ppneckturn%%)  !important
    }

 a[href|="/ppcross"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(%%ppcross%%)  !important
    }


 a[href|="/ppend"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(%%ppend%%)  !important
    }

 a[href|="/ppend2"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(%%ppend2%%)  !important
    }

 a[href|="/ppt"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(%%ppt%%)  !important
    }

 a[href|="/ppoverlap"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(%%ppoverlap%%)  !important
    }


 a[href|="/blank"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(%%blank%%)  !important
    }

/* The end */

 a[href|="/ppwalk"] {
    display: block;
    clear: none;
    float: left;
    width:108px;
    height: 126px;
    background-image: url(%%ppwalk%%)
    }


 a[href|="/doapinkieroll"], a[href|="/pproll"]{
    display: block;
    clear: none;
    float: left;
    width: 106px;
    height: 138px;
    background-image: url(%%pproll%%)
    }


 a[href|="/ppderp"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 149px;
    background-image: url(%%ppderp%%)  !important
    }


 a[href|="/ppderp"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 149px;
    background-image: url(%%ppderp%%)  !important
    }

 a[href|="/honk"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 168px;
    background-image: url(%%honk%%)  !important
    }


 a[href|="/trixiestache"] {
    display: block;
    clear: none;
    float: left;
    width: 170px;
    height: 200px;
    background-image: url(%%trixiestache%%)  !important
    }



 a[href|="/jizz"] {
    display: block;
    clear: none;
    float: left;
    width: 160px;
    height: 97px;
    background-image: url(%%jizz%%)
    }


 a[href|="/llladies"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(%%llladies%%)  !important
    }


a[href|="/ban"] {
    color: red !important;
    font-size: 0px !important;
    font-weight: bold;
    cursor: text !important
    }
a[href|="/ban"]:before {
    content: "(USER WAS BANNED FOR THIS POST)";
    font-size: 10pt !important;
    font-weight: bold !important;
    font-family: arial,helvetica,sans-serif;
    color: #F00000;
    visibility: visible !important;
    }

a[href|="/alt_text"] {
    color: gray !important;
    font-weight: normal;
    cursor: text !important
    }

/* ooh what does this do */
.usertext-body h4 {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    color: #DB0000;
    text-shadow: 2px 2px #000000;
    font-family: "Bebas Neue","Arial" !important
    }
.usertext-body h5 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #DB0000;
    text-shadow: 3px 3px #000000;
    font-family: "Bebas Neue","Arial" !important
    }
.usertext-body h6 {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    color: #DB0000;
    text-shadow: 4px 4px #000000;
    font-family: "Bebas Neue","Arial" !important
    }

/*
 a.title {
    font-size: 0pt !important;
    font-weight: normal !important;
    display: inline-block
    }
a.title:before {
    content: "honk";
    font-size: 16px !important;
    color: blue;
    visibility: visible !important;
    } 
*/

.arrow.down {
    background-image: url(%%herpaderp%%);
    background-position: -16px -570px;
    background-repeat: no-repeat;
    }

.arrow.downmod {
    background-image: url(%%herpaderp%%);
    background-position: -32px -570px;
    background-repeat: no-repeat;
    }

.link .score.dislikes {
    font-size: 0px !important;
    color: #FF8B60;
}
.link .score.dislikes:before {
    content: "hi";
    font-size: 13px !important;
    color: #FF8B60;
    visibility: visible !important;
}

.downvotes {
    font-size: 0px !important;
}
.downvotes:before {
    content: "flergegelgleleg";
    font-size: 12px !important;
    visibility: visible !important;
}

 a[href|="/upvote"] {
    display: block;
    clear: none;
    float: left;
    width: 14px;
    height: 15px;
    background-image: url(%%herpaderp%%)  !important
    }
a[href|="/upvote"] {
    background-position: -32px -570px;
    }


 a[href|="/downvote"] {
    display: block;
    clear: none;
    float: left;
    width: 14px;
    height: 15px;
    background-image: url(%%herpaderp%%)  !important
    }
a[href|="/downvote"] {
    background-position: 0px -570px;
    }

 a[href|="/mirrorlee"] {
    display: block;
    clear: none;
    float: left;
    width: 300px;
    height: 226px;
    background-image: url(%%mirrorlee%%)  !important
    }
a[href|="/mirrorlee"] {
    background-position: 0px 0px;
    }

 a[href|="/mirrorlee2"] {
    display: block;
    clear: none;
    float: left;
    width: 300px;
    height: 225px;
    background-image: url(%%mirrorlee2%%)  !important
    }
a[href|="/mirrorlee2"] {
    background-position: 0px 0px;
    }


a[href|="/tinytxt!"] {
    font-family: "monospace", "Courier" !important;
    color: inherit !important;
    cursor: text !important;
    font-size: 1px !important;
    }

a[href|="/pinkhover!"] {
    color: #000000 !important;
    cursor: text !important
    }
a:hover[href|="/pinkhover!"] {
    color: #ef4f91 !important;
    cursor: text !important
    }

a.author[href$=BlockJuice_3] {
    font-size: 0pt !important;
    display: inline-block
}
a.author[href$=BlockJuice_3]:before {
    content: "[deleted]";
    color: rgb(136, 136, 136) !important;
   cursor: text !important
}

 a[href|="/catleaves"] {
    display: block;
    clear: none;
    float: left;
    width: 320px;
    height: 199px;
    background-image: url(%%cat-leaves%%)  !important
    }
a[href|="/catleaves"] {
    background-position: 0px 0px;
    }


a[href="//#advicepbb"], a[href="//#advicecmc"], a[href="//#advicedash"], a[href="//#advicederp"], a[href="//#advicegummy"], a[href="//#advicehoers"], a[href="//#adviceluna"], a[href="//#adviceoct"], a[href="//#advicepinkamina"], a[href="//#advicescoot"], a[href="//#advicescratch"], a[href="//#advicescrew"], a[href="//#adviceshy"] 
{
    width: 300px !important;
    height: 300px !important;
    cursor: default !important;
    display: inline-block !important;
    background-image: url(%%one%%) !important;
    background-repeat: no-repeat !important;
    text-align: center !important;
    color: white !important;
    font-family: Impact, sans-serif !important;
    font-size: 25px !important;
    line-height: 24px !important;
    text-shadow: 2px 2px 2px black, -2px -2px 2px black, -2px 2px 2px black, 2px -2px 2px black !important;
    overflow: hidden !important;
    position: relative !important;
    text-transform: uppercase !important
}
a[href="//#advicepbb"] {width:300px; height:300px; background-position: -2px -2px}
a[href="//#advicecmc"] {width:300px; height:300px; background-position: -304px -2px}
a[href="//#advicedash"] {width:300px; height:300px; background-position: -606px -2px}
a[href="//#advicederp"] {width:300px; height:300px; background-position: -2px -304px}
a[href="//#advicegummy"] {width:300px; height:300px; background-position: -304px -304px}
a[href="//#advicehoers"] {width:300px; height:300px; background-position: -606px -304px}
a[href="//#adviceluna"] {width:300px; height:300px; background-position: -2px -606px}
a[href="//#adviceoct"] {width:300px; height:300px; background-position: -304px -606px}
a[href="//#advicepinkamina"] {width:300px; height:300px; background-position: -606px -606px}

a[href="//#advicescoot"] {width:300px; height:300px; background-position: -2px -908px}
a[href="//#advicescratch"] {width:300px; height:300px; background-position: -304px -908px}
a[href="//#advicescrew"] {width:300px; height:300px; background-position: -606px -908px}
a[href="//#adviceshy"] {width:300px; height:300px; background-position: -2px -1210px}


a[href="//#advicepbb"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#advicepbb"] strong {
    font-weight: normal !important;
    position: absolute !important;
    bottom: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
	a[href="//#advicecmc"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#advicecmc"] strong {
    font-weight: normal !important;
    position: absolute !important;
    bottom: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
	a[href="//#advicedash"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#advicedash"] strong {
    font-weight: normal !important;
    position: absolute !important;
    bottom: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#advicederp"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#advicederp"] strong {
    font-weight: normal !important;
    position: absolute !important;
    bottom: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
	a[href="//#advicegummy"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#advicegummy"] strong {
    font-weight: normal !important;
    position: absolute !important;
    bottom: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
	a[href="//#advicehoers"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#advicehoers"] strong {
    font-weight: normal !important;
    position: absolute !important;
    bottom: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
	a[href="//#adviceluna"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#adviceluna"] strong {
    font-weight: normal !important;
    position: absolute !important;
    bottom: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
	a[href="//#adviceoct"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#adviceoct"] strong {
    font-weight: normal !important;
    position: absolute !important;
    bottom: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#advicepinkamina"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#advicepinkamina"] strong {
    font-weight: normal !important;
    position: absolute !important;
    bottom: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#advicescoot"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#advicescoot"] strong {
    font-weight: normal !important;
    position: absolute !important;
    bottom: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
	a[href="//#advicescratch"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#advicescratch"] strong {
    font-weight: normal !important;
    position: absolute !important;
    bottom: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
	a[href="//#advicescrew"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#advicescrew"] strong {
    font-weight: normal !important;
    position: absolute !important;
    bottom: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
	a[href="//#adviceshy"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#adviceshy"] strong {
    font-weight: normal !important;
    position: absolute !important;
    bottom: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }



a[href="//#adviceajlie"], a[href="//#adviceberry"], a[href="//#advicepp"], a[href="//#advicetia"], a[href="//#philosopie"] 
{
    width: 300px !important;
    height: 300px !important;
    cursor: default !important;
    display: inline-block !important;
    background-image: url(%%two%%) !important;
    background-repeat: no-repeat !important;
    text-align: center !important;
    color: white !important;
    font-family: Impact, sans-serif !important;
    font-size: 25px !important;
    line-height: 24px !important;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black !important;
    overflow: hidden !important;
    position: relative !important;
    text-transform: uppercase !important
}

a[href="//#adviceajlie"] {width:300px; height:300px; background-position: -2px -2px}
a[href="//#adviceberry"] {width:300px; height:300px; background-position: -304px -2px}
a[href="//#advicepp"] {width:300px; height:300px; background-position: -606px -2px}
a[href="//#advicetia"] {width:300px; height:300px; background-position: -2px -304px}
a[href="//#philosopie"] {width:300px; height:300px; background-position: -304px -304px}

a[href="//#adviceaajlie"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#adviceajlie"] strong {
    font-weight: normal !important;
    position: absolute !important;
    bottom: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#adviceberry"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#adviceberry"] strong {
    font-weight: normal !important;
    position: absolute !important;
    bottom: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#advicetia"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#advicetia"] strong {
    font-weight: normal !important;
    position: absolute !important;
    bottom: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#philosopie"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#philosopie"] strong {
    font-weight: normal !important;
    position: absolute !important;
    bottom: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#advicepp"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }
a[href="//#advicepp"] strong {
    font-weight: normal !important;
    position: absolute !important;
    bottom: 12px !important;
    width: 280px !important;
    left: 50% !important;
    margin-left: -140px !important
    }

