/* Changelog

Mango12

Changed title box, names, tags (1/13/13)
Added emotes (1/15/13)

*/

/* Banner */

#header-bottom-left:nth-of-type(n) {
   background: url(%%banner1%%);
   background-repeat: no-repeat;
   background-position: 50% 100%;
   height: 200px; 
}

/* Background*/

/* Save this for later

body:first-of-type, body.res-nightmode:first-of-type {
    background:  url(%%background1%%)  no-repeat  fixed 50% 65% !important;
} */

body{background:url(%%background1%%) no-repeat fixed center center!important}
.res-nightmode .content{background-color:transparent!important}
.res-nightmode{background-color:transparent !important}
.content .md h1{color:#789922;border-bottom:none;padding-bottom:0px}
.content .md h1:before{content:">"}

/* Background Nightmode Fix */

content #siteTable div[onclick="click_thing(this)"] {background-color: transparent!important;}
body.res-nightmode:first-of-type > .content {background-color: transparent!important;}
body.res-nightmode:first-of-type {background-color: transparent!important;}
span[class="hover pagename redditname"] a:first-of-type { font-size: 1.6em !important; text-shadow: 0px 0px 6px #000; color: white; }

body.res-nightmode form.flairtoggle, body.res-nightmode .trophy-area .content, .side .spacer h1, body.res-nightmode .NERPageMarker, body.res-nightmode .side .spacer {background-color: transparent!important;}

/* Naked mangoman */

.footer-parent {
    height: 850px;
    padding-bottom: 0px;
    clear: both;
    text-align: center;
    width: 100%;
    background-image: url(%%background%%);
    /*background-position: bottom center;*/
    background-repeat: no-repeat;
    margin-bottom: -0px;
    background-position: 50% 75%;
    }

/* Sidebar */

div.titlebox span.word {display:none; }
div.titlebox .subscribers span.number:after {content:" Sexual Mangoes";}
div.titlebox .users-online span.number:after{content:" Under the mango tree"}

/* PROPER GREENTEXT (stolen from mlas, which stole from plounge, which stole from /r/4chan) */

.content .md h1 { color: #789922; border-bottom: none!important; padding-bottom: 0px }
.content .md h1:before { content: ">" }

/* Name changes */

/******Insert name here to replace******/
a.author[href$=hell00001], a.author[href$=butterfilly], a.author[href$=mouse_fitzgerald], a.author[href$=V17Ds],
a.author[href$=romneyfan] {
font-size: 0 !important;
    overflow: hidden;
    display: inline-block;
    content: ""
    }

/***********Replacements***********/
a.author[href$=hell00001]:before {
    content: "Mango12";
    font-size: 12px;
    }

a.author[href$=butterfilly]:before {
    content: "Mango1";
    font-size: 12px;
    }

a.author[href$=mouse_fitzgerald]:before {
    content: "Little Billy";
    font-size: 12px;
    }

a.author[href$=romneyfan]:before {
    content: "Mango Romney II";
    font-size: 12px;
    }

a.author[href$=V17Ds]:before {
    content: "Fresh Cunt of Mango";
    font-size: 12px;
    }


/************Additions*************/
a.author[href$=hell00001]:after {
    content: " bathes in mango juices";
    color: blue;
    font-size: 10px;
    }

a.author[href$=butterfilly]:after {
    content: " thoroughly intimate with the Buddha";
    color: blue;
    font-size: 10px;
    }

a.author[href$=mouse_fitzgerald]:after {
    content: " MOUNTAIN TIME!!!!!";
    color: blue;
    font-size: 10px;
    }

a.author[href$=romneyfan]:after {
    content: " Vote Mangoes 2016";
    color: blue;
    font-size: 10px;
    }

/* Replace the self-post with Luna */

.thumbnail.self {
    background-image: url(%%lunaexcited%%);
    background-repeat: no-repeat;
    background-position: 0 0
    }

/* Replace the no-thumb image with Rarity */

.thumbnail.default {
    background-image: url(%%rarityhuh%%);
    background-repeat: no-repeat;
    background-position: 0 0
}

/* Emotes */

/* Raremotes */

a[href|="/sexydrink"], a[href|="/rarityguard"], a[href|="/rarityvodka"], a[href|="/rarityohyou"], a[href|="/rarityme"], a[href|="/raritysocks"], a[href|="/raritywarm"], a[href|="/rarmaredowell"], a[href|="/cryrarity"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%raremotesheet1%%) !important
     }

a[href|="/sexydrink"] { background-position: -0px -0px; width: 246px; height: 250px; }
a[href|="/rarityguard"] { background-position: -0px -250px; width: 267px; height: 250px; }
a[href|="/rarityvodka"] { background-position: -0px -500px; width: 265px; height: 250px; }
a[href|="/rarityohyou"] { background-position: -0px -750px; width: 262px; height: 250px; }
a[href|="/rarityme"] { background-position: -0px -1000px; width: 257px; height: 250px; }
a[href|="/raritysocks"] { background-position: -0px -1250px; width: 250px; height: 250px; }
a[href|="/raritywarm"] { background-position: -0px -1500px; width: 311px; height: 250px; }
a[href|="/rarmaredowell"] { background-position: -0px -1750px; width: 395px; height: 250px; }
a[href|="/cryrarity"] { background-position: -0px -2000px; width: 293px; height: 100px; }

/* Emote Requests */

a[href|="/hungrygators"], a[href|="/baddream"], a[href|="/clopclopclop"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%otherspritesheet%%) !important
     }

a[href|="/hungrygators"] { background-position: -0px -0px; width: 225px; height: 225px; }
a[href|="/baddream"] { background-position: -0px -225px; width: 250px; height: 144px; }
a[href|="/clopclopclop"] { background-position: -0px -369px; width: 250px; height: 143px; }

a[href|="/stupidsexypinkie"], a[href|="/soxcular"], a[href|="/noserioustime"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%otherspritesheet2%%) !important
     }

a[href|="/stupidsexypinkie"] { background-position: -0px -0px; width: 250px; height: 250px; }
a[href|="/soxcular"] { background-position: -0px -250px; width: 240px; height: 250px; }
a[href|="/noserioustime"] { background-position: -0px -500px; width: 250px; height: 226px; }

a[href|="/sexualhealing"], a[href|="/rarsealofapproval"], a[href|="/illbeyourgirlfriend"], a[href|="/frostedbutts"], a[href|="/sweepytime"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%otherspritesheet3%%) !important
     }

a[href|="/sexualhealing"] { background-position: -0px -0px; width: 250px; height: 250px; }
a[href|="/rarsealofapproval"] { background-position: -0px -250px; width: 250px; height: 250px; }
a[href|="/illbeyourgirlfriend"] { background-position: -0px -500px; width: 194px; height: 249px; }
a[href|="/frostedbutts"] { background-position: -0px -749px; width: 250px; height: 205px; }
a[href|="/sweepytime"] { background-position: -0px -954px; width: 250px; height: 156px; }

a[href|="/zecorafun"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%zecorafun%%) !important
     }

a[href|="/zecorafun"] { background-position: -0px -0px; width: 225px; height: 200px; }

a[href|="/immatank"], a[href|="/goddamnitmango"], a[href|="/lunacheer"], a[href|="/rawrr"], a[href|="/mcoolstorybro"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%otherspritesheet4%%) !important
     }

a[href|="/immatank"] { background-position: -0px -0px; width: 200px; height: 217px; }
a[href|="/goddamnitmango"] { background-position: -0px -217px; width: 152px; height: 200px; }
a[href|="/lunacheer"] { background-position: -0px -417px; width: 200px; height: 196px; }
a[href|="/rawrr"] { background-position: -0px -613px; width: 170px; height: 171px; }
a[href|="/mcoolstorybro"] { background-position: -0px -784px; width: 200px; height: 164px; }

a[href|="/partytime"], a[href|="/mrapidfire"], a[href|="/imgonnacry"], a[href|="/insidecelestia"], a[href|="/thisjustin"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%otherspritesheet5%%) !important
     }

a[href|="/partytime"] { background-position: -0px -0px; width: 157px; height: 200px; }
a[href|="/mrapidfire"] { background-position: -0px -200px; width: 200px; height: 192px; }
a[href|="/imgonnacry"] { background-position: -0px -392px; width: 200px; height: 168px; }
a[href|="/insidecelestia"] { background-position: -0px -560px; width: 250px; height: 143px; }
a[href|="/thisjustin"] { background-position: -0px -703px; width: 100px; height: 84px; }

a[href|="/hasanyonereallybeenfarevenasdecidedtouseevengowanttodolookmorelike"], a[href|="/whywouldyoudothat"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%otherspritesheet6%%) !important
     }

a[href|="/hasanyonereallybeenfarevenasdecidedtouseevengowanttodolookmorelike"] { background-position: -0px -0px; width: 156px; height: 250px; }
a[href|="/whywouldyoudothat"] { background-position: -0px -250px; width: 200px; height: 185px; }

a[href|="/minisexualhealing"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%minisexualhealing%%) !important
     }

a[href|="/minisexualhealing"] { background-position: -0px -0px; width: 166px; height: 200px; }

a[href|="/queenheart"], a[href|="/bestvillain"], a[href|="/iwillkillyoualltodeath"], a[href|="/yourehurtingmyideas"], a[href|="/queenstare"], a[href|="/singinmerryment"], a[href|="/queenwtf"], a[href|="/sexualwizards"], a[href|="/queenme"], a[href|="/mybodyisready"], a[href|="/whataridiculoussentiment"], a[href|="/queenhello"], a[href|="/queenohyou"], a[href|="/fillychrysalis"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%chrysalisemotesheet%%) !important
     }

a[href|="/queenheart"] { background-position: -0px -0px; width: 151px; height: 250px; }
a[href|="/bestvillain"] { background-position: -0px -250px; width: 172px; height: 250px; }
a[href|="/iwillkillyoualltodeath"] { background-position: -0px -500px; width: 189px; height: 200px; }
a[href|="/yourehurtingmyideas"] { background-position: -0px -700px; width: 200px; height: 187px; }
a[href|="/queenstare"] { background-position: -0px -887px; width: 200px; height: 168px; }
a[href|="/singinmerryment"] { background-position: -0px -1055px; width: 101px; height: 151px; }
a[href|="/queenwtf"] { background-position: -0px -1206px; width: 150px; height: 150px; }
a[href|="/sexualwizards"] { background-position: -0px -1356px; width: 114px; height: 150px; }
a[href|="/queenme"] { background-position: -0px -1506px; width: 126px; height: 150px; }
a[href|="/mybodyisready"] { background-position: -101px -1055px; width: 86px; height: 100px; }
a[href|="/whataridiculoussentiment"] { background-position: -0px -1656px; width: 100px; height: 100px; }
a[href|="/queenhello"] { background-position: -100px -1656px; width: 89px; height: 100px; }
a[href|="/queenohyou"] { background-position: -0px -1756px; width: 96px; height: 96px; }
a[href|="/fillychrysalis"] { background-position: -96px -1756px; width: 100px; height: 94px; }

a[href|="/udntfun"], a[href|="/spraklefun"], a[href|="/excelianfun"], a[href|="/zirconiafun"], a[href|="/gdbfun"], a[href|="/petrafun"],
a[href|="/purplefun"], a[href|="/willowfun"], a[href|="/vialfun"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%funsheet%%) !important
     }

a[href|="/udntfun"] { background-position: -0px -0px; width: 250px; height: 173px; }
a[href|="/spraklefun"] { background-position: -0px -173px; width: 250px; height: 164px; }
a[href|="/excelianfun"] { background-position: -0px -337px; width: 255px; height: 162px; }
a[href|="/zirconiafun"] { background-position: -0px -499px; width: 250px; height: 160px; }
a[href|="/gdbfun"] { background-position: -0px -659px; width: 250px; height: 155px; }
a[href|="/petrafun"] { background-position: -0px -814px; width: 250px; height: 155px; }
a[href|="/purplefun"] { background-position: -0px -969px; width: 250px; height: 155px; }
a[href|="/willowfun"] { background-position: -0px -1124px; width: 250px; height: 155px; }
a[href|="/vialfun"] { background-position: -0px -1279px; width: 250px; height: 155px; }

a[href|="/femship"], a[href|="/catbug2"], a[href|="/catbug4"], a[href|="/catbug3"], a[href|="/sadqueen"], a[href|="/catbug1"], a[href|="/chaoticgenes"], a[href|="/lopezislife"]{
     display: block;
     clear: none;
     float: left;
     background-image: url(%%spitesheetthingie%%) !important
     }

a[href|="/femship"] { background-position: -0px -0px; width: 150px; height: 160px; }
a[href|="/catbug2"] { background-position: -0px -160px; width: 100px; height: 100px; }
a[href|="/catbug4"] { background-position: -0px -260px; width: 100px; height: 100px; }
a[href|="/catbug3"] { background-position: -0px -360px; width: 150px; height: 100px; }
a[href|="/sadqueen"] { background-position: -0px -460px; width: 100px; height: 98px; }
a[href|="/catbug1"] { background-position: -0px -558px; width: 125px; height: 97px; }
a[href|="/chaoticgenes"] { background-position: -0px -655px; width: 74px; height: 87px; }
a[href|="/lopezislife"] { background-position: -0px -742px; width: 100px; height: 86px; }

a[href|="/snowdropkisses"], a[href|="/snowdrophappy"], a[href|="/toomuchinternet"], a[href|="/snowdropsad"], a[href|="/itsnotwhatyouthink"], a[href|="/snowdrop1"], a[href|="/snowdrop2"], a[href|="/snowdrop"], a[href|="/primdrop"], a[href|="/snowdropfilly"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%snowdrop%%) !important
     }

a[href|="/snowdropkisses"] { background-position: -0px -0px; width: 141px; height: 150px; }
a[href|="/snowdrophappy"] { background-position: -0px -150px; width: 145px; height: 150px; }
a[href|="/toomuchinternet"] { background-position: -0px -300px; width: 253px; height: 150px; }
a[href|="/snowdropsad"] { background-position: -0px -450px; width: 150px; height: 150px; }
a[href|="/itsnotwhatyouthink"] { background-position: -0px -600px; width: 250px; height: 147px; }
a[href|="/snowdrop1"] { background-position: -0px -747px; width: 150px; height: 128px; }
a[href|="/snowdrop2"] { background-position: -0px -875px; width: 150px; height: 121px; }
a[href|="/snowdrop"] { background-position: -0px -996px; width: 150px; height: 115px; }
a[href|="/primdrop"] { background-position: -0px -1111px; width: 150px; height: 114px; }
a[href|="/snowdropfilly"] { background-position: -141px -0px; width: 95px; height: 100px; }