/*
* If you want to add an emote, add it to one of the existing tables.
* If you don't know how do to that, ask BJ.
*/

/*Changing readers in sidebar*/
div.titlebox span.word 
{
	display: none
}
div.titlebox span.number:after 
{
	content: " Fruita-Fillies"
}

.sidecontentbox .flair-cmc, .titlebox .flair-cmc, .sidecontentbox .flair-cmcchinchy, .titlebox .flair-cmcchinchy, .sidecontentbox .flair-pinkiepiecmc, .titlebox .flair-pinkiepiecmc 
{
	display: none
}

.bottom .flair {
   display: none;
}

.sidecontentbox .content .flair {
   display: none;
}

/* Background */
body {
	background: url(%%fruitaloo%%) top center no-repeat;
}

/* sidebar */
.titlebox strong {
    font-size: medium
}
.titlebox code {
	font-size:large
	}
.titlebox del {
    color: white
}
.titlebox em {
    font-size: 8px;
    text-decoration: none;
    font-style:normal
}
.titlebox strong em {
    font-size: 8px;
    font-style: normal;
    font-weight: normal
}
.titlebox table {
    display: none;
    clear: both
}
/*Uncomment to reactivate hover for tables. */
.side div.usertext-body:hover table {
    display: block;
    clear: both
}


/* EMOTES */
/********************/
/***NANNERS EMOTES***/
/********************/
a[href|="/fruitapants"], a[href|="/fruitaloo"], a[href|="/greatfruitaful"], a[href|="/fruitacord"], a[href|="/fruitarity"], a[href|="/fruitaspike"], a[href|="/twinom"], a[href|="/fruitabolt"], a[href|="/fruitaberry"], a[href|="/whatalovelybanana"], a[href|="/shytwi"], a[href|="/lunawantk"], a[href|="/fruitadowell"], a[href|="/fruitacora"], a[href|="/disbanana"], a[href|="/karmabanana"], a[href|="/fruityfruity"], a[href|="/talkaboutfruitacandy"], a[href|="/donotwantk"], a[href|="/dowantk"]{
	display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%Bananemotes%%) !important
}
a[href|="/fruitapants"]{
	background-position: -0px -0px
}
a[href|="/fruitaloo"]{
	background-position: -70px -0px
}
a[href|="/greatfruitaful"]{
	background-position: -210px -0px
}
a[href|="/fruitacord"]{
	background-position: -0px -70px
}
a[href|="/fruitarity"]{
	background-position: -70px -70px
}
a[href|="/fruitaspike"]{
	background-position: -140px -70px
}
a[href|="/twinom"]{
	background-position: -210px -70px
}
a[href|="/fruitabolt"]{
	background-position: -280px -70px
}
a[href|="/fruitaberry"]{
	background-position: -0px -140px
}	
a[href|="/whatalovelybanana"]{
	background-position: -70px -140px
}
a[href|="/shytwi"]{
	background-position: -140px -140px
}
a[href|="/lunawantk"]{
	background-position: -210px -140px
}
a[href|="/fruitadowell"]{
	background-position: -280px -140px
}
a[href|="/fruitacora"]{
	background-position: -0px -210px
}
a[href|="/disbanana"]{
	background-position: -70px -210px
}
a[href|="/karmabanana"]{
	background-position: -140px -210px
}
a[href|="/fruityfruity"]{
	background-position: -210px -210px
}
a[href|="/talkaboutfruitacandy"]{
	background-position: -280px -210px
}
a[href|="/donotwantk"]{
	background-position: -0px -280px
}
a[href|="/dowantk"]{
	background-position: -70px -280px
}

/*
* BigNanners
*/

a[href|="/bananawithit"], a[href|="/peelwithit"], a[href|="/bananasalute"], a[href|="/bjelly"],  a[href|="/foreverilonis"] {
   display: block;
    clear: none;
    float: left;
    background-image: url(%%BigNanners%%) !important
}

a[href|="/bananawithit"], a[href|="/peelwithit"] {
    width: 133px;
    height: 150px;
	background-position: 0px 0px
}

a[href|="/bananasalute"] {
    width: 119px;
    height: 150px;
	background-position: -133px 0px
}

a[href|="/bjelly"], a[href|="/foreverilonis"]{
    width: 185px;
    height: 150px;
	background-position: -252px 0px
}

/*
* Peanut Butter Nanner Time!
*/

a[href|="/pbjtscoots"], a[href|="/pbjtderpy"], a[href|="/pbjtflutters"], a[href|="/pbjtlyra"], a[href|="/pbjtpinkie"], a[href|="/pbjtdash"], a[href|="/pbjttwi"]{ 	
	display: block;
    clear: none;
    float: left;
    width: 35px;
    height: 35px;
    background-image: url(%%Bananimotes%%)
}
a[href|="/pbjtscoots"]{
	background-position: -0px -0px
}
a[href|="/pbjtderpy"]{
	background-position: -35px -0px
}
a[href|="/pbjtflutters"]{
	background-position: -70px -0px
}
a[href|="/pbjtlyra"]{
	background-position: -0px -35px
}
a[href|="/pbjtpinkie"]{
	background-position: -35px -35px
}
a[href|="/pbjtdash"]{
	background-position: -70px -35px
}
a[href|="/pbjttwi"]{
	background-position: -0px -70px
}

/*
****************
*MAIN EMOTICONS*
****************
*/
/***********
B Emoticons
***********/
a[href|="/bb00"], a[href|="/bb01"], a[href|="/bb02"], a[href|="/bb03"], a[href|="/bb04"], a[href|="/bb05"], a[href|="/bb06"], a[href|="/bb07"], a[href|="/bb08"], a[href|="/bb09"], a[href|="/bb10"], a[href|="/bb11"], a[href|="/bb12"], a[href|="/bb13"], a[href|="/bb14"], a[href|="/bb15"], a[href|="/bb16"], a[href|="/bb17"], a[href|="/bb18"], a[href|="/bb19"], a[href|="/bb20"], a[href|="/bb21"], a[href|="/bb22"], a[href|="/bb23"], a[href|="/bb24"], a[href|="/bb25"], a[href|="/bb26"], a[href|="/bb27"], a[href|="/bb28"], a[href|="/bb29"], a[href|="/bb30"], a[href|="/bb31"], a[href|="/bb32"], a[href|="/bb33"], a[href|="/bb34"], a[href|="/bb35"], a[href|="/bb36"], a[href|="/bb37"], a[href|="/bb38"], a[href|="/bb39"], a[href|="/bflutterfear"], a[href|="/bajcower"], a[href|="/bfluttersrs"], a[href|="/bppshrug"], a[href|="/bfluttershh"], a[href|="/bajugh"], a[href|="/btrixiesmug"], a[href|="/bajwut"], a[href|="/babwut"], a[href|="/brarityjudge"], a[href|="/bppboring"], a[href|="/bajsly"], a[href|="/braritydress"], a[href|="/bspikenervous"], a[href|="/bnewrainbowdash"], a[href|="/bflutteryay"], a[href|="/braritywut"], a[href|="/bflutterwink"], a[href|="/btwisquint"], a[href|="/bmanspike"], a[href|="/brarityprimp"], a[href|="/brarityyell"], a[href|="/beeyup"], a[href|="/btakealetter"], a[href|="/bnoooo"], a[href|="/bsquintyjack"], a[href|="/bdumbfabric"], a[href|="/brarityannoyed"], a[href|="/braritywhine"], a[href|="/bcockatrice"], a[href|="/btwirage"], a[href|="/bfluttershy"], a[href|="/brdsmile"], a[href|="/brdwut"], a[href|="/bdj"], a[href|="/bthreedog"], a[href|="/bspikepushy"], a[href|="/braritywhy"], a[href|="/bsoawesome"], a[href|="/brdcool"], a[href|="/bfacehoof"], a[href|="/bppseesyou"] {
    display: block;
    clear: none;
    float: left;
    width: 50px;
    height: 50px;
    background-image: url(%%MainanaBEmotes%%) !important
}
a[href|="/brb00"], a[href|="/brb01"], a[href|="/brb02"], a[href|="/brb03"], a[href|="/brb04"], a[href|="/brb05"], a[href|="/brb06"], a[href|="/brb07"], a[href|="/brb08"], a[href|="/brb09"], a[href|="/brb10"], a[href|="/brb11"], a[href|="/brb12"], a[href|="/brb13"], a[href|="/brb14"], a[href|="/brb15"], a[href|="/brb16"], a[href|="/brb17"], a[href|="/brb18"], a[href|="/brb19"], a[href|="/brb20"], a[href|="/brb21"], a[href|="/brb22"], a[href|="/brb23"], a[href|="/brb24"], a[href|="/brb25"], a[href|="/brb26"], a[href|="/brb27"], a[href|="/brb28"], a[href|="/brb29"], a[href|="/brb30"], a[href|="/brb31"], a[href|="/brb32"], a[href|="/brb33"], a[href|="/brb34"], a[href|="/brb35"], a[href|="/brb36"], a[href|="/brb37"], a[href|="/brb38"], a[href|="/brb39"], a[href|="/brflutterfear"], a[href|="/brajcower"], a[href|="/brfluttersrs"], a[href|="/brppshrug"], a[href|="/brfluttershh"], a[href|="/brajugh"], a[href|="/brtrixiesmug"], a[href|="/brajwut"], a[href|="/brabwut"], a[href|="/brrarityjudge"], a[href|="/brppboring"], a[href|="/brajsly"], a[href|="/brraritydress"], a[href|="/brspikenervous"], a[href|="/brnewrainbowdash"], a[href|="/brflutteryay"], a[href|="/brraritywut"], a[href|="/brflutterwink"], a[href|="/brtwisquint"], a[href|="/brmanspike"], a[href|="/brrarityprimp"], a[href|="/brrarityyell"], a[href|="/breeyup"], a[href|="/brtakealetter"], a[href|="/brnoooo"], a[href|="/brsquintyjack"], a[href|="/brdumbfabric"], a[href|="/brrarityannoyed"], a[href|="/brraritywhine"], a[href|="/brcockatrice"], a[href|="/brtwirage"], a[href|="/brfluttershy"], a[href|="/brrdsmile"], a[href|="/brrdwut"], a[href|="/brdj"], a[href|="/brthreedog"], a[href|="/brspikepushy"], a[href|="/brraritywhy"], a[href|="/brsoawesome"], a[href|="/brrdcool"], a[href|="/brfacehoof"], a[href|="/brppseesyou"] {
    display: block;
    clear: none;
    float: left;
    width: 50px;
    height: 50px;
    background-image: url(%%MainanaBEmotes%%) !important
}
a[href|="/bb00"], a[href|="/brb00"], a[href|="/bflutterfear"], a[href|="/brflutterfear"] {
    background-position: -0px -0px
}
a[href|="/bb01"], a[href|="/brb01"], a[href|="/bajcower"], a[href|="/brajcower"] {
    background-position: -0px -50px
}
a[href|="/bb02"], a[href|="/brb02"], a[href|="/bfluttersrs"], a[href|="/brfluttersrs"] {
    background-position: -0px -100px
}
a[href|="/bb03"], a[href|="/brb03"], a[href|="/bppshrug"], a[href|="/brppshrug"] {
    background-position: -0px -150px
}
a[href|="/bb04"], a[href|="/brb04"], a[href|="/bfluttershh"], a[href|="/brfluttershh"] {
    background-position: -0px -200px
}
a[href|="/bb05"], a[href|="/brb05"], a[href|="/bajugh"], a[href|="/brajugh"] {
    background-position: -0px -250px
}
a[href|="/bb06"], a[href|="/brb06"], a[href|="/btrixiesmug"], a[href|="/brtrixiesmug"] {
    background-position: -0px -300px
}
a[href|="/bb07"], a[href|="/brb07"], a[href|="/bajwut"], a[href|="/brajwut"] {
    background-position: -0px -350px
}
a[href|="/bb08"], a[href|="/brb08"], a[href|="/babwut"], a[href|="/brabwut"] {
    background-position: -0px -400px
}
a[href|="/bb09"], a[href|="/brb09"], a[href|="/brarityjudge"], a[href|="/brrarityjudge"] {
    background-position: -0px -450px
}
a[href|="/bb10"], a[href|="/brb10"], a[href|="/bppboring"], a[href|="/brppboring"] {
    background-position: -50px -0px
}
a[href|="/bb11"], a[href|="/brb11"], a[href|="/bajsly"], a[href|="/brajsly"] {
    background-position: -50px -50px
}
a[href|="/bb12"], a[href|="/brb12"], a[href|="/braritydress"], a[href|="/brraritydress"] {
    background-position: -50px -100px
}
a[href|="/bb13"], a[href|="/brb13"], a[href|="/bspikenervous"], a[href|="/brspikenervous"], a[href|="/bnewrainbowdash"], a[href|="/brnewrainbowdash"] {
    background-position: -50px -150px
}
a[href|="/bb14"], a[href|="/brb14"], a[href|="/bflutteryay"], a[href|="/brflutteryay"] {
    background-position: -50px -200px
}
a[href|="/bb15"], a[href|="/brb15"], a[href|="/braritywut"], a[href|="/brraritywut"] {
    background-position: -50px -250px
}
a[href|="/bb16"], a[href|="/brb16"], a[href|="/bflutterwink"], a[href|="/brflutterwink"] {
    background-position: -50px -300px
}
a[href|="/bb17"], a[href|="/brb17"], a[href|="/btwisquint"], a[href|="/brtwisquint"] {
    background-position: -50px -350px
}
a[href|="/bb18"], a[href|="/brb18"], a[href|="/bmanspike"], a[href|="/brmanspike"] {
    background-position: -50px -400px
}
a[href|="/bb19"], a[href|="/brb19"], a[href|="/brarityprimp"], a[href|="/brrarityprimp"] {
    background-position: -50px -450px
}
a[href|="/bb20"], a[href|="/brb20"], a[href|="/brarityyell"], a[href|="/brrarityyell"] {
    background-position: -100px -0px
}
a[href|="/bb21"], a[href|="/brb21"], a[href|="/beeyup"], a[href|="/breeyup"] {
    background-position: -100px -50px
}
a[href|="/bb22"], a[href|="/brb22"], a[href|="/btakealetter"], a[href|="/brtakealetter"] {
    background-position: -100px -100px
}
a[href|="/bb23"], a[href|="/brb23"], a[href|="/bnoooo"], a[href|="/brnoooo"] {
    background-position: -100px -150px
}
a[href|="/bb24"], a[href|="/brb24"], a[href|="/bsquintyjack"], a[href|="/brsquintyjack"] {
    background-position: -100px -200px
}
a[href|="/bb25"], a[href|="/brb25"], a[href|="/bdumbfabric"], a[href|="/brdumbfabric"] {
    background-position: -100px -250px
}
a[href|="/bb26"], a[href|="/brb26"], a[href|="/brarityannoyed"], a[href|="/brrarityannoyed"] {
    background-position: -100px -300px
}
a[href|="/bb27"], a[href|="/brb27"], a[href|="/braritywhine"], a[href|="/brraritywhine"] {
    background-position: -100px -350px
}
a[href|="/bb28"], a[href|="/brb28"], a[href|="/bcockatrice"], a[href|="/brcockatrice"] {
    background-position: -100px -400px
}
a[href|="/bb29"], a[href|="/brb29"], a[href|="/btwirage"], a[href|="/brtwirage"] {
    background-position: -100px -450px
}
a[href|="/bb30"], a[href|="/brb30"], a[href|="/bfluttershy"], a[href|="/brfluttershy"] {
    background-position: -150px -0px
}
a[href|="/bb31"], a[href|="/brb31"], a[href|="/brdsmile"], a[href|="/brrdsmile"] {
    background-position: -150px -50px
}
a[href|="/bb32"], a[href|="/brb32"], a[href|="/brdwut"], a[href|="/brrdwut"] {
    background-position: -150px -100px
}
a[href|="/bb33"], a[href|="/brb33"], a[href|="/bdj"], a[href|="/brdj"], a[href|="/bthreedog"], a[href|="/brthreedog"] {
    background-position: -150px -150px
}
a[href|="/bb34"], a[href|="/brb34"], a[href|="/bspikepushy"], a[href|="/brspikepushy"] {
    background-position: -150px -200px
}
a[href|="/bb35"], a[href|="/brb35"], a[href|="/braritywhy"], a[href|="/brraritywhy"] {
    background-position: -150px -250px
}
a[href|="/bb36"], a[href|="/brb36"], a[href|="/bsoawesome"], a[href|="/brsoawesome"] {
    background-position: -150px -300px
}
a[href|="/bb37"], a[href|="/brb37"], a[href|="/brdcool"], a[href|="/brrdcool"] {
    background-position: -150px -350px
}
a[href|="/bb38"], a[href|="/brb38"], a[href|="/bfacehoof"], a[href|="/brfacehoof"] {
    background-position: -150px -400px
}
a[href|="/bb39"], a[href|="/brb39"], a[href|="/bppseesyou"], a[href|="/brppseesyou"] {
    background-position: -150px -450px
}
/***********
C Emoticons
***********/
a[href|="/bc00"], a[href|="/bc01"], a[href|="/bc02"], a[href|="/bc03"], a[href|="/bc04"], a[href|="/bc05"], a[href|="/bc06"], a[href|="/bc07"], a[href|="/bc08"], a[href|="/bc09"], a[href|="/bc10"], a[href|="/bc11"], a[href|="/bc12"], a[href|="/bc13"], a[href|="/bc14"], a[href|="/bc15"], a[href|="/bc16"], a[href|="/bc17"], a[href|="/bc18"], a[href|="/bc19"], a[href|="/bc20"], a[href|="/bc21"], a[href|="/bc22"], a[href|="/bc23"], a[href|="/bc24"], a[href|="/bc25"], a[href|="/bc26"], a[href|="/bc27"], a[href|="/bc28"], a[href|="/bc29"], a[href|="/brdsitting"], a[href|="/btwismug"], a[href|="/bohhi"], a[href|="/bflutterblush"], a[href|="/bajfrown"], a[href|="/braritysad"], a[href|="/blouder"], a[href|="/bpinkamina"], a[href|="/bscootaloo"], a[href|="/ballmybits"], a[href|="/brdhappy"], a[href|="/btwismile"], a[href|="/bparty"], a[href|="/bgross"], a[href|="/bhmmm"], a[href|="/bfabulous"], a[href|="/blunasad"], a[href|="/bloveme"], a[href|="/bcelestia"], a[href|="/bzecora"], a[href|="/brdannoyed"], a[href|="/btwistare"], a[href|="/bhahaha"], a[href|="/bderpyhappy"], a[href|="/bjoy"], a[href|="/bderp"], a[href|="/bderpyshock"], a[href|="/blunagasp"], a[href|="/bangel"], a[href|="/bphotofinish"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%MainanaCEmotes%%) !important
}
a[href|="/brc00"], a[href|="/brc01"], a[href|="/brc02"], a[href|="/brc03"], a[href|="/brc04"], a[href|="/brc05"], a[href|="/brc06"], a[href|="/brc07"], a[href|="/brc08"], a[href|="/brc09"], a[href|="/brc10"], a[href|="/brc11"], a[href|="/brc12"], a[href|="/brc13"], a[href|="/brc14"], a[href|="/brc15"], a[href|="/brc16"], a[href|="/brc17"], a[href|="/brc18"], a[href|="/brc19"], a[href|="/brc20"], a[href|="/brc21"], a[href|="/brc22"], a[href|="/brc23"], a[href|="/brc24"], a[href|="/brc25"], a[href|="/brc26"], a[href|="/brc27"], a[href|="/brc28"], a[href|="/brc29"], a[href|="/brrdsitting"], a[href|="/brtwismug"], a[href|="/brohhi"], a[href|="/brflutterblush"], a[href|="/brajfrown"], a[href|="/brraritysad"], a[href|="/brlouder"], a[href|="/brpinkamina"], a[href|="/brscootaloo"], a[href|="/brallmybits"], a[href|="/brrdhappy"], a[href|="/brtwismile"], a[href|="/brparty"], a[href|="/brgross"], a[href|="/brhmmm"], a[href|="/brfabulous"], a[href|="/brlunasad"], a[href|="/brloveme"], a[href|="/brcelestia"], a[href|="/brzecora"], a[href|="/brrdannoyed"], a[href|="/brtwistare"], a[href|="/brhahaha"], a[href|="/brderpyhappy"], a[href|="/brjoy"], a[href|="/brderp"], a[href|="/brderpyshock"], a[href|="/brlunagasp"], a[href|="/brangel"], a[href|="/brphotofinish"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%MainanaCEmotes%%) !important
}
a[href|="/bc00"], a[href|="/brc00"], a[href|="/brdsitting"], a[href|="/brrdsitting"] {
    background-position: -0px -0px
}
a[href|="/bc01"], a[href|="/brc01"], a[href|="/btwismug"], a[href|="/brtwismug"] {
    background-position: -0px -70px
}
a[href|="/bc02"], a[href|="/brc02"], a[href|="/bohhi"], a[href|="/brohhi"] {
    background-position: -0px -140px
}
a[href|="/bc03"], a[href|="/brc03"], a[href|="/bflutterblush"], a[href|="/brflutterblush"] {
    background-position: -0px -210px
}
a[href|="/bc04"], a[href|="/brc04"], a[href|="/bajfrown"], a[href|="/brajfrown"] {
    background-position: -0px -280px
}
a[href|="/bc05"], a[href|="/brc05"], a[href|="/braritysad"], a[href|="/brraritysad"] {
    background-position: -0px -350px
}
a[href|="/bc06"], a[href|="/brc06"], a[href|="/blouder"], a[href|="/brlouder"] {
    background-position: -0px -420px
}
a[href|="/bc07"], a[href|="/brc07"], a[href|="/bpinkamina"], a[href|="/brpinkamina"] {
    background-position: -0px -490px
}
a[href|="/bc08"], a[href|="/brc08"], a[href|="/bscootaloo"], a[href|="/brscootaloo"] {
    background-position: -0px -560px
}
a[href|="/bc09"], a[href|="/brc09"], a[href|="/ballmybits"], a[href|="/brallmybits"] {
    background-position: -0px -630px
}
a[href|="/bc10"], a[href|="/brc10"], a[href|="/brdhappy"], a[href|="/brrdhappy"] {
    background-position: -70px -0px
}
a[href|="/bc11"], a[href|="/brc11"], a[href|="/btwismile"], a[href|="/brtwismile"] {
    background-position: -70px -70px
}
a[href|="/bc12"], a[href|="/brc12"], a[href|="/bparty"], a[href|="/brparty"] {
    background-position: -70px -140px
}
a[href|="/bc13"], a[href|="/brc13"], a[href|="/bgross"], a[href|="/brgross"] {
    background-position: -70px -210px
}
a[href|="/bc14"], a[href|="/brc14"], a[href|="/bhmmm"], a[href|="/brhmmm"] {
    background-position: -70px -280px
}
a[href|="/bc15"], a[href|="/brc15"], a[href|="/bfabulous"], a[href|="/brfabulous"] {
    background-position: -70px -350px
}
a[href|="/bc16"], a[href|="/brc16"], a[href|="/blunasad"], a[href|="/brlunasad"] {
    background-position: -70px -420px
}
a[href|="/bc17"], a[href|="/brc17"], a[href|="/bloveme"], a[href|="/brloveme"] {
    background-position: -70px -490px
}
a[href|="/bc18"], a[href|="/brc18"], a[href|="/bcelestia"], a[href|="/brcelestia"] {
    background-position: -70px -560px
}
a[href|="/bc19"], a[href|="/brc19"], a[href|="/bzecora"], a[href|="/brzecora"] {
    background-position: -70px -630px
}
a[href|="/bc20"], a[href|="/brc20"], a[href|="/brdannoyed"], a[href|="/brrdannoyed"] {
    background-position: -140px -0px
}
a[href|="/bc21"], a[href|="/brc21"], a[href|="/btwistare"], a[href|="/brtwistare"] {
    background-position: -140px -70px
}
a[href|="/bc22"], a[href|="/brc22"], a[href|="/bhahaha"], a[href|="/brhahaha"] {
    background-position: -140px -140px
}
a[href|="/bc23"], a[href|="/brc23"], a[href|="/bderpyhappy"], a[href|="/brderpyhappy"] {
    background-position: -140px -210px
}
a[href|="/bc24"], a[href|="/brc24"], a[href|="/bjoy"], a[href|="/brjoy"] {
    background-position: -140px -280px
}
a[href|="/bc25"], a[href|="/brc25"], a[href|="/bderp"], a[href|="/brderp"] {
    background-position: -140px -350px
}
a[href|="/bc26"], a[href|="/brc26"], a[href|="/bderpyshock"], a[href|="/brderpyshock"] {
    background-position: -140px -420px
}
a[href|="/bc27"], a[href|="/brc27"], a[href|="/blunagasp"], a[href|="/brlunagasp"] {
    background-position: -140px -490px
}
a[href|="/bc28"], a[href|="/brc28"], a[href|="/bangel"], a[href|="/brangel"] {
    background-position: -140px -560px
}
a[href|="/bc29"], a[href|="/brc29"], a[href|="/bphotofinish"], a[href|="/brphotofinish"] {
    background-position: -140px -630px
}
/**************
A Emoticons
**************/
a[href|="/bswagintosh"], a[href|="/ba24"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%bswagintosh%%)
}
a[href|="/ba00"], a[href|="/bajlie"], a[href|="/ba01"], a[href|="/ba10"], a[href|="/ba11"], a[href|="/ba21"], a[href|="/bpriceless"], a[href|="/ba20"], a[href|="/bflutterjerk"], a[href|="/bcelestiamad"], a[href|="/btwicrazy"], a[href|="/btwipride"], a[href|="/blunateehee"], a[href|="/blunawait"], a[href|="/ba02"], a[href|="/ba12"], a[href|="/ba22"], a[href|="/bpaperbagderpy"], a[href|="/bpaperbagwizard"], a[href|="/bderpwizard"], a[href|="/ba03"], a[href|="/bajhappy"], a[href|="/bhapplejack"], a[href|="/ba13"], a[href|="/bppfear"], a[href|="/bpinkiefear"], a[href|="/ba23"], a[href|="/btwibeam"], a[href|="/braritydaww"], a[href|="/bscootacheer"], a[href|="/blootascoo"], a[href|="/ba04"], a[href|="/ba14"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%MainanaAEmotes%%) !important
}
a[href|="/bra00"], a[href|="/brajlie"], a[href|="/bra01"], a[href|="/bra10"], a[href|="/bra11"], a[href|="/bra21"], a[href|="/brpriceless"], a[href|="/bra20"], a[href|="/brflutterjerk"], a[href|="/brcelestiamad"], a[href|="/brtwicrazy"], a[href|="/brtwipride"], a[href|="/brlunateehee"], a[href|="/brlunawait"], a[href|="/bra02"], a[href|="/bra12"], a[href|="/bra22"], a[href|="/brpaperbagderpy"], a[href|="/brpaperbagwizard"], a[href|="/brderpwizard"], a[href|="/bra03"], a[href|="/brajhappy"], a[href|="/brhapplejack"], a[href|="/bra13"], a[href|="/brppfear"], a[href|="/brpinkiefear"], a[href|="/bra23"], a[href|="/brtwibeam"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%MainanaAEmotes%%) !important
}
a[href|="/ba00"], a[href|="/bra00"], a[href|="/bajlie"], a[href|="/brajlie"] {
    background-position: -0px -0px
}
a[href|="/ba10"], a[href|="/bra10"], a[href|="/bpriceless"], a[href|="/brpriceless"] {
    background-position: -70px -0px
}
a[href|="/ba20"], a[href|="/bra20"], a[href|="/bflutterjerk"], a[href|="/brflutterjerk"] {
    background-position: -140px -0px
}
a[href|="/ba01"], a[href|="/bra01"], a[href|="/btwipride"], a[href|="/brtwipride"] {
    background-position: -0px -70px
}
a[href|="/ba11"], a[href|="/bra11"], a[href|="/bcelestiamad"], a[href|="/brcelestiamad"] {
    background-position: -70px -70px
}
a[href|="/ba21"], a[href|="/bra21"], a[href|="/btwicrazy"], a[href|="/brtwicrazy"] {
    background-position: -140px -70px
}
a[href|="/ba02"], a[href|="/blunateehee"], a[href|="/bra02"], a[href|="/brlunateehee"] {
    background-position: -0px -140px
}
a[href|="/ba12"], a[href|="/blunawait"], a[href|="/bra12"], a[href|="/brlunawait"] {
    background-position: -70px -140px
}
a[href|="/ba22"], a[href|="/bpaperbagderpy"], a[href|="/bpaperbagwizard"], a[href|="/bderpwizard"], a[href|="/bra22"], a[href|="/brpaperbagderpy"], a[href|="/brpaperbagwizard"], a[href|="/brderpwizard"] {
    background-position: -140px -140px
}
a[href|="/ba03"], a[href|="/bajhappy"], a[href|="/bhapplejack"], a[href|="/bra03"], a[href|="/brajhappy"], a[href|="/brhapplejack"] {
    background-position: -0px -210px
}
a[href|="/ba13"], a[href|="/bra13"], a[href|="/bppfear"], a[href|="/brppfear"], a[href|="/bpinkiefear"], a[href|="/brpinkiefear"] {
    background-position: -70px -210px
}
a[href|="/ba23"], a[href|="/bra23"], a[href|="/btwibeam"], a[href|="/brtwibeam"] {
    background-position: -140px -210px
}
a[href|="/ba04"], a[href|="/bra04"], a[href|="/braritydaww"], a[href|="/brraritydaww"] {
    background-position: -0px -280px
}
a[href|="/ba14"], a[href|="/bra14"], a[href|="/bscootacheer"], a[href|="/brscootacheer"], a[href|="/blootascoo"], a[href|="/brlootascoo"] {
    background-position: -70px -280px
}
/*Lyra and Bon-Bon and Trixie*/
a[href|="/bl00"], a[href|="/blyra"], a[href|="/bt00"], a[href|="/bbonbon"], a[href|="/bsbstare"], a[href|="/bsnails"], a[href|="/brdhuh"], a[href|="/bspitfire"], a[href|="/bcutealoo"], a[href|="/bfillytgap"], a[href|="/bhappyluna"], a[href|="/blunahappy"], a[href|="/bsotrue"], a[href|="/bwahaha"], a[href|="/bberry"], a[href|="/bpunchdrunk"], a[href|="/babsmile"], a[href|="/bhuhhuh"], a[href|="/bdealwithit"], a[href|="/bnmm"], a[href|="/bblacksnooty"], a[href|="/bqueenmeanie"], a[href|="/bhokeysmokes"], a[href|="/bwhooves"], a[href|="/brdsalute"], a[href|="/boctavia"], a[href|="/bcolgate"], a[href|="/bcheerilee"], a[href|="/bajconfused"], a[href|="/bajbaffle"], a[href|="/bajtherapy"], a[href|="/babhuh"], a[href|="/blily"], a[href|="/bthehorror"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%MainanaExtraEmotes%%) !important
}
a[href|="/brl00"], a[href|="/brlyra"], a[href|="/brt00"], a[href|="/brbonbon"], a[href|="/brsbstare"], a[href|="/brsnails"], a[href|="/brrdhuh"], a[href|="/brspitfire"], a[href|="/brcutealoo"], a[href|="/brfillytgap"], a[href|="/brhappyluna"], a[href|="/brlunahappy"], a[href|="/brsotrue"], a[href|="/brwahaha"], a[href|="/brberry"], a[href|="/brpunchdrunk"], a[href|="/brabsmile"], a[href|="/brhuhhuh"], a[href|="/brdealwithit"], a[href|="/brnmm"], a[href|="/brblacksnooty"], a[href|="/brqueenmeanie"], a[href|="/brhokeysmokes"], a[href|="/brwhooves"], a[href|="/brrdsalute"], a[href|="/broctavia"], a[href|="/brcolgate"], a[href|="/brcheerilee"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%MainanaExtraEmotes%%) !important
}
a[href|="/bl00"], a[href|="/brl00"], a[href|="/blyra"] {
    background-position: -0px -0px
}
a[href|="/bt00"], a[href|="/brt00"], a[href|="/bfillytgap"], a[href|="/brfillytgap"] {
    background-position: -70px -0px
}
a[href|="/bbonbon"], a[href|="/brbonbon"] {
    background-position: -140px -0px
}
a[href|="/bsnails"], a[href|="/brsnails"] {
    background-position: -0px -70px
}
a[href|="/brdhuh"], a[href|="/brrdhuh"] {
    background-position: -70px -70px
}
a[href|="/bspitfire"], a[href|="/brspitfire"] {
    background-position: -140px -70px
}
a[href|="/bcutealoo"], a[href|="/brcutealoo"] {
    background-position: -0px -140px
}
a[href|="/bhappyluna"], a[href|="/brhappyluna"], a[href|="/blunahappy"], a[href|="/brlunahappy"] {
    background-position: -70px -140px
}
a[href|="/bsotrue"], a[href|="/brsotrue"] {
    background-position: -140px -140px
}
a[href|="/bwahaha"], a[href|="/brwahaha"] {
    background-position: -0px -210px
}
a[href|="/bsbstare"], a[href|="/brsbstare"] {
    background-position: -70px -210px
}
a[href|="/bberry"], a[href|="/brberry"], a[href|="/bpunchdrunk"], a[href|="/brpunchdrunk"] {
    background-position: -140px -210px
}
a[href|="/babsmile"], a[href|="/brabsmile"] {
    background-position: -0px -280px
}
a[href|="/bhuhhuh"], a[href|="/brhuhhuh"] {
    background-position: -70px -280px
}
a[href|="/bdealwithit"], a[href|="/brdealwithit"] {
    background-position: -140px -280px
}
a[href|="/bnmm"], a[href|="/bblacksnooty"], a[href|="/brnmm"], a[href|="/brblacksnooty"], a[href|="/bqueenmeanie"], a[href|="/brqueenmeanie"], a[href|="/bhokeysmokes"], a[href|="/brhokeysmokes"] {
    background-position: -0px -350px
}
a[href|="/bwhooves"], a[href|="/brwhooves"] {
    background-position: -70px -350px
}
a[href|="/brdsalute"], a[href|="/brrdsalute"] {
    background-position: -140px -350px
}
a[href|="/boctavia"], a[href|="/broctavia"] {
    background-position: -0px -420px
}
a[href|="/bcolgate"], a[href|="/brcolgate"] {
    background-position: -70px -420px
}
a[href|="/bcheerilee"], a[href|="/brcheerilee"] {
    background-position: -140px -420px
}
a[href|="/bajconfused"], a[href|="/brajconfused"], a[href|="/bajbaffle"], a[href|="/brajbaffle"], a[href|="/bajtherapy"], a[href|="/brajtherapy"] {
    background-position: -0px -490px
}
a[href|="/babhuh"], a[href|="/brabhuh"] {
    background-position: -70px -490px
}
a[href|="/blily"], a[href|="/brlily"], a[href|="/bthehorror"], a[href|="/brthehorror"] {
    background-position: -140px -490px
}

/*
****************
*WTF TABLEFLIPS*
****************
*/
a[href|="/boctflip"], a[href|="/blunaflip"], a[href|="/bpieflip"], a[href|="/bberryflip"], a[href|="/brarflip"], a[href|="/bajflip"], a[href|="/bbonflip"], a[href|="/blyraflip"], a[href|="/btiaflip"], a[href|="/bflutflip"], a[href|="/bscootflip"], a[href|="/bshyflip"], a[href|="/bdashflip"], a[href|="/broseflip"], a[href|="/bsbflip"], a[href|="/babflip"], a[href|="/brderpflip"], a[href|="/bderpflip"], a[href|="/bkarmaflip"], a[href|="/bdpflip"], a[href|="/bdisflip"], a[href|="/bananaflip"], a[href|="/ballthetables"] {
    display: block;
    clear: none;
    float: left;
    background-image: url(%%Tableflip%%) !important
    }
a[href|="/babflip"] {
    width: 179px;
    height: 130px;
    background-position: -2px -2px
    }
a[href|="/bajflip"] {
    width: 187px;
    height: 145px;
    background-position: -785px -138px
    }
a[href|="/bberryflip"] {
    width: 199px;
    height: 145px;
    background-position: -2px -285px
    }
a[href|="/bbonflip"] {
    width: 199px;
    height: 145px;
    background-position: -405px -285px
    }
a[href|="/bdashflip"] {
    width: 200px;
    height: 145px;
    background-position: -203px -285px
    }
a[href|="/bderpflip"] {
    width: 200px;
    height: 145px;
    background-position: -606px -285px
    }
a[href|="/bdpflip"], a[href|="/bdisflip"] {
    width: 199px;
    height: 145px;
    background-position: -175px -432px
    }
a[href|="/bkarmaflip"] {
    width: 199px;
    height: 145px;
    background-position: -808px -285px
    }
a[href|="/blunaflip"] {
    width: 171px;
    height: 145px;
    background-position: -2px -432px
    }
a[href|="/blyraflip"] {
    width: 199px;
    height: 145px;
    background-position: -584px -138px
    }
a[href|="/boctflip"] {
    width: 200px;
    height: 134px;
    background-position: -545px -2px
    }
a[href|="/bpieflip"] {
    width: 200px;
    height: 145px;
    background-position: -181px -138px
    }
a[href|="/brarflip"] {
    width: 199px;
    height: 145px;
    background-position: -383px -138px
    }
a[href|="/brderpflip"] {
    width: 177px;
    height: 145px;
    background-position: -2px -138px
    }
a[href|="/broseflip"] {
    width: 200px;
    height: 146px;
    background-position: -376px -432px
    }
a[href|="/bsbflip"] {
    width: 179px;
    height: 130px;
    background-position: -183px -2px
    }
a[href|="/bscootflip"] {
    width: 179px;
    height: 130px;
    background-position: -364px -2px
    }
a[href|="/bshyflip"], a[href|="/bflutflip"] {
    width: 200px;
    height: 134px;
    background-position: -747px -2px
    }
a[href|="/btiaflip"] {
    width: 200px;
    height: 169px;
    background-position: -578px -432px
    }
a[href|="/bananaflip"] {
    width: 225px;
    height: 150px;
    background-position: -775px -451px
    }
a[href|="/ballthetables"] {
    width: 1009px;
    height: 603px;
    background-position: -0px -0px
    }

/*
*******************************
*Nanners version of MLAS fun emotes*
*******************************
*/

a[href|="/bajfun"], a[href|="/bbonfun"], a[href|="/bcheerfun"], a[href|="/bdashfun"], a[href|="/bderpfun"], a[href|="/blyrafun"], a[href|="/bppfun"], a[href|="/brarfun"], a[href|="/brosefun"], a[href|="/bshyfun"], a[href|="/btrixfun"] {
    display: block;
    clear: none;
    float: left;
    background-image: url(%%nannersmlasplotsheet%%) !important
}
a[href|="/bajfun"] {
    width: 230px;
    height: 156px;
    background-position: -2px -2px
}
a[href|="/bbonfun"] {
    width: 259px;
    height: 156px;
    background-position: -234px -2px
}
a[href|="/bcheerfun"] {
    width: 242px;
    height: 156px;
    background-position: -495px -2px
}
a[href|="/bdashfun"] {
    width: 255px;
    height: 156px;
    background-position: -739px -2px
}
a[href|="/bderpfun"] {
    width: 270px;
    height: 156px;
    background-position: -2px -160px
}
a[href|="/blyrafun"] {
    width: 228px;
    height: 156px;
    background-position: -274px -160px
}
a[href|="/bppfun"] {
    width: 244px;
    height: 156px;
    background-position: -504px -160px
}
a[href|="/brarfun"] {
    width: 285px;
    height: 156px;
    background-position: -2px -318px
}
a[href|="/brosefun"] {
    width: 227px;
    height: 156px;
    background-position: -289px -318px
}
a[href|="/bshyfun"] {
    width: 263px;
    height: 156px;
    background-position: -518px -318px
}
a[href|="/btrixfun"] {
    width: 272px;
    height: 156px;
    background-position: -2px -476px
}

/*
ILoveYou
*/
a[href|="/iloveyou"] {
    display: block;
    clear: none;
    float: left;
    width: 278px;
    height: 180px;
    background-image: url(%%Iloveyou%%) !important
}

/*
mylittlenopenopenope emote
*/
a[href|="/bflutterspider"] {
    display: block;
    clear: none;
    float: left;
    width: 300px;
    height: 281px;
    background-image: url(%%Nannersspiders%%) !important
}
a[href|="/bflutterspider"] {
    width: 300px;
    height: 281px;
    background-position: -0px -0px
}
a[href|="/btwilightspider"] {
    display: block;
    clear: none;
    float: left;
    width: 300px;
    height: 208px;
    background-image: url(%%Nannersspiders%%) !important
}
a[href|="/btwilightspider"] {
    width: 300px;
    height: 208px;
    background-position: -0px -282px
}
a[href|="/brainbowspider"] {
    display: block;
    clear: none;
    float: left;
    width: 300px;
    height: 356px;
    background-image: url(%%Nannersspiders%%) !important
}
a[href|="/brainbowspider"] {
    width: 300px;
    height: 356px;
    background-position: -0px -491px
}
a[href|="/bspiderty"] {
    display: block;
    clear: none;
    float: left;
    width: 300px;
    height: 219px;
    background-image: url(%%Nannersspiders%%) !important
}
a[href|="/bspiderty"] {
    width: 300px;
    height: 219px;
    background-position: -0px -848px
}
a[href|="/bapplespider"] {
    display: block;
    clear: none;
    float: left;
    width: 300px;
    height: 290px;
    background-image: url(%%Nannersspiders%%) !important
}
a[href|="/bapplespider"] {
    width: 300px;
    height: 290px;
    background-position: -0px -1068px
}
a[href|="/bspiderpie"] {
    display: block;
    clear: none;
    float: left;
    width: 300px;
    height: 433px;
    background-image: url(%%Nannersspiders%%) !important
}
a[href|="/bspiderpie"] {
    width: 300px;
    height: 433px;
    background-position: -0px -1359px
}
a[href|="/bspikegnat"] {
    display: block;
    clear: none;
    float: left;
    width: 166px;
    height: 224px;
    background-image: url(%%Nannersgnat%%) !important
}
a[href|="/bspikegnat"] {
    width: 166px;
    height: 224px;
    background-position: -0px -0px
}

/*
* HumaNanners
*/
a[href|="/beershrug"], a[href|="/bjcakeday"], a[href|="/craft03"], a[href|="/craftshrug"] {
    display: block;
    clear: none;
    float: left;
    background-image: url(%%HumaNanners%%)
}

a[href|="/beershrug"] {
    width: 204px;
    height: 150px;
	background-position: 0px 0px;
}

a[href|="/craftshrug"], a[href|="/craft03"] {
    width: 100px;
    height: 70px;
	background-position: -204px -100px;
}

a[href|="/bjcakeday"] {
   width: 90px;
   height: 100px;
   background-position: -214px 0px;
}

/*
*************
*Fruitanimotes*
*************
*/

a[href|="/fruitawut"] {
    display: block;
    clear: none;
    float: left;
    width: 263px;
    height: 263px;
    background-image: url(%%optiflutani-1%%)
}

/*
*************
*OoTemotes - also known as "WHERE WE DUMP STUFF WITHOUT NANNERS" - and fuck BJ, fuck him hard
*************
*/
a[href|="/batman"], a[href|="/dasnice"], a[href|="/opti"], a[href|="/ploot"], a[href|="/oot"], a[href|="/derpysad"], a[href|="/portal1"], a[href|="/portal2"], a[href|="/root"], a[href|="/p18"],a[href|="/onebutt"] {
    display: block;
	clear: none;
	float: left;
    background-image: url(%%OoTEmotes%%)
}

a[href|="/batman"] {
    width: 123px;
    height: 150px;
	background-position: 0px 0px
}

a[href|="/dasnice"], a[href|="/opti"] {
    width: 65px;
    height: 70px;
	background-position: -123px 0px
}

a[href|="/ploot"] {
    width: 128px;
    height: 75px;
	background-position: 0px -150px
}

a[href|="/oot"] {
    width: 127px;
    height: 200px;
	background-position: -226px 0px 
}

a[href|="/portal1"] {
    width: 200px;
    height: 143px;
	background-position: -351px 0px 
}

a[href|="/portal2"] {
    width: 115px;
    height: 77px;
	background-position: -226px -199px 
}

a[href|="/derpysad"] {
    width: 200px;
    height: 137px;
	background-position: -551px 0px 
}

a[href|="/root"] {
    width: 150px;
    height: 85px;
    background-position:  -341px  -191px
}

a[href|="/p18"] {
    width: 87px;
    height: 100px;
    background-position:  -491px  -176px
}

a[href|="/onebutt"] {
    width: 105px;
    height: 105px;
    background-position:  -578px  -137px
}

/*
************************************************
*All this shit courtesy of the CSS wizards over at circlejerk*
************************************************
*/

/*NeoDestiny Advice courtesy GoA.*/
a[href|="//#bneodestiny"] {
    width: 300px !important;
    height: 250px !important;
    cursor: default !important;
    display: inline-block !important;
    background-image: url(%%nannerscirclejerkmemeimage%%) !important;
    background-repeat: no-repeat !important;
    background-position: 0 0px !important;
    text-align: center !important;
    color: White !important;
    font-family: Impact, sans-serif !important;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black !important;
    overflow: hidden !important;
    position: relative !important;
    text-transform: uppercase !important
}
a[href|="//#bneodestiny"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 5px !important;
    width: 250px !important;
    left: 50% !important;
    margin-left: -125px !important;
    font-size: 24px !important;
    line-height: 24px !important;
    visibility: visible
}
a[href|="//#bneodestiny"] strong {
    font-family: Impact, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 24px !important;
    line-height: 24px !important;
    position: absolute !important;
    bottom: 5px !important;
    width: 250px !important;
    left: 50% !important;
    margin-left: -125px !important;
    visibility: visible
}

/*
Fruitaflair
*/
.flair {
    background: none;
    color: black;
    border: 0;
    border-radius: 0;
    background-image: url(%%FruitaFlair%%);
    background-repeat: no-repeat;
    display: inline-block;
    width: 28px;
    height: 32px
}
.flair-00 {
    background-position: 0px 0px
}
.flair-10 {
    background-position: -32px 0px
}
.flair-20 {
    background-position: -64px 0px
}
.flair-30 {
    background-position: -96px 0px
}
.flair-40 {
    background-position: -128px 0px
}
.flair-50 {
    background-position: -160px 0px
}
.flair-60 {
    background-position: -192px 0px
}
.flair-01 {
    background-position: 0px -32px
}
.flair-11 {
    background-position: -32px -32px
}
.flair-21 {
    background-position: -64px -32px
}
.flair-31 {
    background-position: -96px -32px
}
.flair-41 {
    background-position: -128px -32px
}
.flair-51 {
    background-position: -160px -32px
}
.flair-61 {
    background-position: -192px -32px
}
.flair-02 {
    background-position: 0px -64px
}
.flair-12 {
    background-position: -32px -64px
}
.flair-22 {
    background-position: -64px -64px
}
.flair-32 {
    background-position: -96px -64px
}
.flair-42 {
    background-position: -128px -64px
}
.flair-52 {
    background-position: -160px -64px
}
.flair-62 {
    background-position: -192px -64px
}
.flair-03 {
    background-position: 0px -96px
}
.flair-13 {
    background-position: -32px -96px
}
.flair-23 {
    background-position: -64px -96px
}
.flair-33 {
    background-position: -96px -96px
}
.flair-43 {
    background-position: -128px -96px
}
.flair-53 {
    background-position: -160px -96px
}
.flair-63 {
    background-position: -192px -96px
}
.flair-04 {
    background-position: 0px -128px
}
.flair-14 {
    background-position: -32px -128px
}
.flair-24 {
    background-position: -64px -128px
}
.flair-34 {
    background-position: -96px -128px
}
.flair-44 {
    background-position: -128px -128px
}
.flair-54 {
    background-position: -160px -128px
}
.flair-64 {
    background-position: -192px -128px
}
.flair-05 {
    background-position: 0px -160px
}
.flair-15 {
    background-position: -32px -160px
}
.flair-25 {
    background-position: -64px -160px
}
.flair-35 {
    background-position: -96px -160px
}
.flair-45 {
    background-position: -128px -160px
}
.flair-55 {
    background-position: -160px -160px
}
.flair-65 {
    background-position: -192px -160px
}
.flair-06 {
    background-position: 0px -192px
}
.flair-16 {
	background-position: -32px -192px
}	

/*
Name Changes
*/

/* Indigo*/
a.author[href$="/IndigoSpades"]:before {
    content: "FruitigoSpades";
    font-size: 7.5pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
}
.sidecontentbox a.author[href$="/IndigoSpades"]:before {
   font-size: 10pt;
}
a.author[href$="/IndigoSpades"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
}
/* RD */
.sidecontentbox a.author[href$="/DiscordDraconequus"]:before {
    content: "Fruitacord";
    font-size: 10pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
}
.sidecontentbox a.author[href$="/DiscordDraconequus"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
}
/* BJ */
a.author[href$="/badjokemostlikely"]:before {
    content: "BJ"; /* Stop it. Seriously. */
    font-size: 7.5pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
}
.sidecontentbox a.author[href$="/badjokemostlikely"]:before {
   font-size: 10pt;
}
a.author[href$="/badjokemostlikely"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
}
/* OoT */
a.author[href$="/Ocarina_of_Timelord"]:before {
    content: "Ocarina_of_Timelord";
    font-size: 7.5pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
}
.sidecontentbox a.author[href$="/Ocarina_of_Timelord"]:before {
   font-size: 10pt;
}
a.author[href$="/Ocarina_of_Timelord"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
}
/* Forever Ilonis */
.sidecontentbox a.author[href$="/Ilonis"]:before {
    content: "Forever Ilonis";
    font-size: 10pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
}
.sidecontentbox a.author[href$="/Ilonis"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
}
/* Ryoko */
a.author[href$="/RyokoHaze"]:before {
    content: "FruitaHaze";
    font-size: 7.5pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
}
.sidecontentbox a.author[href$="/RyokoHaze"]:before {
   font-size: 10pt;
}
a.author[href$="/RyokoHaze"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
}
/* Subito */
a.author[href$="/Subito_forte"]:before {
    content: "Subito_Fruita";
    font-size: 7.5pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
}
.sidecontentbox a.author[href$="/Subito_forte"]:before {
   font-size: 10pt;
}
a.author[href$="/Subito_forte"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
}
/* Orschie */
a.author[href$="/Orschmann"]:before {
    content: "Orschie Pie";
    font-size: 7.5pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
}
.sidecontentbox a.author[href$="/Orschmann"]:before {
   font-size: 10pt;
}
a.author[href$="/Orschmann"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
}
/* CraftD */
.sidecontentbox a.author[href$="/CraftD"]:before {
    content: "FruitD";
    font-size: 10pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
}
.sidecontentbox a.author[href$="/CraftD"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
}
/* Coggy */
.sidecontentbox a.author[href$="/Coggler"]:before {
    content: "Fruitaggler";
    font-size: 10pt;
    color: #369;
    display: inline;
    margin-right: 0.5em;
    overflow: hidden
}
.sidecontentbox a.author[href$="/Coggler"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: inline
}

/* Special names*/
.author[href$="/mittens2248"]:after {
    content: ", The Hero of Nanners"
}
.author[href$="/Dundrio"]:after {
    content: ", The Banana Bard"
}
.author[href$="/IndigoSpades"] {
    content: "FruitigoSpades"
}

/*
Header
*/
#header-img {
    background: url(%%fruitakarma-1%%);
    width: 0;
    height: 0;
    padding-top: 90px;
    padding-left: 74px;
    margin: 0px -5px -3px 8px;
}

#header-img:hover {
    background: url(%%fruitakarma-2%%);
    width: 0;
    height: 0;
    padding-top: 90px;
    padding-left: 74px;
}

/* RES Nightmode flair fix */
.res-nightmode .content .flair {
    background-color: transparent !important
}

/*Remove RES tag and vote counts from moderator box because its ugly*/
.sidecontentbox .voteWeight, .sidecontentbox .userTagLink {
    display: none !important
    }