/* Changelog

Mango12

Changed title box, names, tags (1/13/13)
Added emotes (1/15/13)

*/

/* Header */

#header-bottom-left:nth-of-type(n) {
   background: url(%%mangoheader21%%);
   background-repeat: no-repeat;
   background-position: 50% 100%;
   height: 200px; 
}

/*span.redditname
{
	display:block;
	margin:0 auto;
	position:relative;
	top:-160px;
	width:1050px;
	z-index:3;
}

#header .tabmenu
{
	bottom:1px;
	left:20px;
	position:absolute;
	z-index:4;
}

.tabmenu {
	list-style-type:none;
	white-space:nowrap;
	display:inline-block;
	margin-top:5px;
	vertical-align:bottom;
}

*/
/* Background*/

/* Save this for later

body:first-of-type, body.res-nightmode:first-of-type {
    background:  url(%%background1%%)  no-repeat  fixed 50% 65% !important;
} */

body{background:url(%%mlmbackground%%) no-repeat fixed center center!important}
.res-nightmode .content{background-color:transparent!important}
.res-nightmode{background-color:transparent !important}
.content .md h1{color:#789922;border-bottom:none;padding-bottom:0px}
.content .md h1:before{content:">"}

/* Background Nightmode Fix */

.content #siteTable div[onclick="click_thing(this)"] {background-color: transparent!important;}
body.res-nightmode:first-of-type > .content {background-color: transparent!important;}
body.res-nightmode:first-of-type {background-color: transparent!important;}
span[class="hover pagename redditname"] a:first-of-type { font-size: 1.6em !important; text-shadow: 0px 0px 6px #000; color: white; }

body.res-nightmode form.flairtoggle, body.res-nightmode .trophy-area .content, .side .spacer h1, body.res-nightmode .NERPageMarker, body.res-nightmode .side .spacer {background-color: transparent!important;}

/* Naked mangoman */

.footer-parent {
    height: 850px;
    padding-bottom: 0px;
    clear: both;
    text-align: center;
    width: 100%;
    background-image: url(%%mlmfooter%%);
    /*background-position: bottom center;*/
    background-repeat: no-repeat;
    margin-bottom: -0px;
    background-position: 50% 75%;
    }

/* Sidebar */

div.titlebox span.word {display:none; }
div.titlebox .subscribers span.number:after {content:" Sexual Mangoes";}
div.titlebox .users-online span.number:after{content:" under the mango tree"}

/* PROPER GREENTEXT (stolen from mlas, which stole from plounge, which stole from /r/4chan) */

.content .md h1 { color: #789922; border-bottom: none!important; padding-bottom: 0px }
.content .md h1:before { content: ">" }

/* Name changes */

/******Insert name here to replace******/
a.author[href$=hell00001], a.author[href$=butterfilly], a.author[href$=mouse_fitzgerald], a.author[href$=V17Ds],
a.author[href$=romneyfan], a.author[href$=Captain_Awesomex] {
font-size: 0 !important;
    overflow: hidden;
    display: inline-block;
    content: ""
    }

/***********Replacements***********/
a.author[href$=hell00001]:before {
    content: "Captain Mango12";
    font-size: 12px;
    }

a.author[href$=butterfilly]:before {
    content: "Captain Mango1";
    font-size: 12px;
    }

a.author[href$=mouse_fitzgerald]:before {
    content: "Little Billy";
    font-size: 12px;
    }

a.author[href$=romneyfan]:before {
    content: "Mango Romney II";
    font-size: 12px;
    }

a.author[href$=V17Ds]:before {
    content: "Fresh Cunt of Mango";
    font-size: 12px;
    }

a.author[href$=Captain_Awesomex]:before {
    content: "Mango Sex Slave";
    font-size: 12px;
    }

/************Additions*************/
a.author[href$=hell00001]:after {
    content: " bathes in mango juices";
    color: blue;
    font-size: 10px;
    }

a.author[href$=butterfilly]:after {
    content: " thoroughly intimate with the Buddha";
    color: blue;
    font-size: 10px;
    }

a.author[href$=mouse_fitzgerald]:after {
    content: " MOUNTAIN TIME!!!!!";
    color: blue;
    font-size: 10px;
    }

a.author[href$=romneyfan]:after {
    content: " Vote Mangoes 2016";
    color: blue;
    font-size: 10px;
    }

a.author[href$=Captain_Awesomex]:after {
    content: " Rapeable on Non-Rape Days Only";
    color: blue;
    font-size: 10px;
    }


/* Replace the self-post with Luna */

.thumbnail.self {
    background-image: url(%%lunaexcited%%);
    background-repeat: no-repeat;
    background-position: 0 0
    }

/* Replace the no-thumb image with Rarity */

.thumbnail.default {
    background-image: url(%%rarityhuh%%);
    background-repeat: no-repeat;
    background-position: 0 0
}

/* Emotes */

/* Raremotes */

a[href|="/sexydrink"], a[href|="/rarityguard"], a[href|="/rarityvodka"], a[href|="/rarityohyou"], a[href|="/rarityme"], a[href|="/raritysocks"], a[href|="/raritywarm"], a[href|="/rarmaredowell"], a[href|="/cryrarity"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%raremotesheet1%%) !important
     }

a[href|="/sexydrink"] { background-position: -0px -0px; width: 246px; height: 250px; }
a[href|="/rarityguard"] { background-position: -0px -250px; width: 267px; height: 250px; }
a[href|="/rarityvodka"] { background-position: -0px -500px; width: 265px; height: 250px; }
a[href|="/rarityohyou"] { background-position: -0px -750px; width: 262px; height: 250px; }
a[href|="/rarityme"] { background-position: -0px -1000px; width: 257px; height: 250px; }
a[href|="/raritysocks"] { background-position: -0px -1250px; width: 250px; height: 250px; }
a[href|="/raritywarm"] { background-position: -0px -1500px; width: 311px; height: 250px; }
a[href|="/rarmaredowell"] { background-position: -0px -1750px; width: 395px; height: 250px; }
a[href|="/cryrarity"] { background-position: -0px -2000px; width: 293px; height: 100px; }

/* Emote Requests */

a[href|="/hungrygators"], a[href|="/baddream"], a[href|="/clopclopclop"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%otherspritesheet%%) !important
     }

a[href|="/hungrygators"] { background-position: -0px -0px; width: 225px; height: 225px; }
a[href|="/baddream"] { background-position: -0px -225px; width: 250px; height: 144px; }
a[href|="/clopclopclop"] { background-position: -0px -369px; width: 250px; height: 143px; }

a[href|="/stupidsexypinkie"], a[href|="/soxcular"], a[href|="/noserioustime"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%otherspritesheet2%%) !important
     }

a[href|="/stupidsexypinkie"] { background-position: -0px -0px; width: 250px; height: 250px; }
a[href|="/soxcular"] { background-position: -0px -250px; width: 240px; height: 250px; }
a[href|="/noserioustime"] { background-position: -0px -500px; width: 250px; height: 226px; }

a[href|="/sexualhealing"], a[href|="/rarsealofapproval"], a[href|="/illbeyourgirlfriend"], a[href|="/frostedbutts"], a[href|="/sweepytime"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%otherspritesheet3%%) !important
     }

a[href|="/sexualhealing"] { background-position: -0px -0px; width: 250px; height: 250px; }
a[href|="/rarsealofapproval"] { background-position: -0px -250px; width: 250px; height: 250px; }
a[href|="/illbeyourgirlfriend"] { background-position: -0px -500px; width: 194px; height: 249px; }
a[href|="/frostedbutts"] { background-position: -0px -749px; width: 250px; height: 205px; }
a[href|="/sweepytime"] { background-position: -0px -954px; width: 250px; height: 156px; }

a[href|="/zecorafun"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%zecorafun%%) !important
     }

a[href|="/zecorafun"] { background-position: -0px -0px; width: 225px; height: 200px; }

a[href|="/immatank"], a[href|="/goddamnitmango"], a[href|="/lunacheer"], a[href|="/rawrr"], a[href|="/mcoolstorybro"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%otherspritesheet4%%) !important
     }

a[href|="/immatank"] { background-position: -0px -0px; width: 200px; height: 217px; }
a[href|="/goddamnitmango"] { background-position: -0px -217px; width: 152px; height: 200px; }
a[href|="/lunacheer"] { background-position: -0px -417px; width: 200px; height: 196px; }
a[href|="/rawrr"] { background-position: -0px -613px; width: 170px; height: 171px; }
a[href|="/mcoolstorybro"] { background-position: -0px -784px; width: 200px; height: 164px; }

a[href|="/partytime"], a[href|="/mrapidfire"], a[href|="/imgonnacry"], a[href|="/insidecelestia"], a[href|="/thisjustin"], a[href|="/queencadance"], a[href|="/derpyjuice"], a[href|="/sadluna"], a[href|="/vinylcheer"], a[href|="/lunalaugh"], a[href|="/lunathis"], a[href|="/ceilingdash"], a[href|="/royalhug"], a[href|="/lunagazing"], a[href|="/lyranotsure"], a[href|="/derpyhug"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%emotesheetnumberhere%%) !important
     }

a[href|="/partytime"] { background-position: -0px -0px; width: 157px; height: 200px; }
a[href|="/mrapidfire"] { background-position: -0px -200px; width: 200px; height: 192px; }
a[href|="/imgonnacry"] { background-position: -0px -392px; width: 200px; height: 168px; }
a[href|="/insidecelestia"] { background-position: -0px -560px; width: 250px; height: 143px; }
a[href|="/thisjustin"] { background-position: -0px -703px; width: 100px; height: 84px; }
a[href|="/queencadance"] { background-position: -0px -787px; width: 150px; height: 146px; }
a[href|="/derpyjuice"] { background-position: -0px -933px; width: 114px; height: 150px; }
a[href|="/sadluna"] { background-position: -0px -1083px; width: 150px; height: 146px; }
a[href|="/vinylcheer"] { background-position: -0px -1229px; width: 150px; height: 136px; }
a[href|="/lunalaugh"] { background-position: -0px -1365px; width: 150px; height: 134px; }
a[href|="/lunathis"] { background-position: -0px -1499px; width: 150px; height: 134px; }
a[href|="/ceilingdash"] { background-position: -114px -933px; width: 110px; height: 118px; }
a[href|="/royalhug"] { background-position: -0px -1633px; width: 150px; height: 104px; }
a[href|="/lunagazing"] { background-position: -0px -1737px; width: 150px; height: 101px; }
a[href|="/lyranotsure"] { background-position: -150px -1083px; width: 71px; height: 100px; }
a[href|="/derpyhug"] { background-position: -0px -1838px; width: 150px; height: 99px; }


a[href|="/hasanyonereallybeenfarevenasdecidedtouseevengowanttodolookmorelike"], a[href|="/whywouldyoudothat"], a[href|="/actuallypinkiepie"], a[href|="/queenbutt"], a[href|="/jewpony"], a[href|="/rainbowdavid"], a[href|="/raribellejew"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%otherspirtesheet6%%) !important
     }

a[href|="/hasanyonereallybeenfarevenasdecidedtouseevengowanttodolookmorelike"] { background-position: -0px -0px; width: 156px; height: 250px; }
a[href|="/whywouldyoudothat"] { background-position: -0px -250px; width: 200px; height: 185px; }
a[href|="/actuallypinkiepie"] { background-position: -0px -435px; width: 130px; height: 201px; }
a[href|="/queenbutt"] { background-position: -0px -636px; width: 200px; height: 197px; }
a[href|="/jewpony"] { background-position: -0px -833px; width: 150px; height: 184px; }
a[href|="/rainbowdavid"] { background-position: -0px -1017px; width: 150px; height: 150px; }
a[href|="/raribellejew"] { background-position: -0px -1167px; width: 250px; height: 131px; }

a[href|="/minisexualhealing"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%minisexualhealing%%) !important
     }

a[href|="/minisexualhealing"] { background-position: -0px -0px; width: 166px; height: 200px; }

a[href|="/queenheart"], a[href|="/bestvillain"], a[href|="/iwillkillyoualltodeath"], a[href|="/yourehurtingmyideas"], a[href|="/queenstare"], a[href|="/singinmerryment"], a[href|="/queenwtf"], a[href|="/sexualwizards"], a[href|="/queenme"], a[href|="/mybodyisready"], a[href|="/whataridiculoussentiment"], a[href|="/queenhello"], a[href|="/queenohyou"], a[href|="/fillychrysalis"], a[href|="/queenofthenerds"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%chrysalisemotesheet%%) !important
     }

a[href|="/queenheart"] { background-position: -0px -0px; width: 151px; height: 250px; }
a[href|="/bestvillain"] { background-position: -0px -250px; width: 172px; height: 250px; }
a[href|="/iwillkillyoualltodeath"] { background-position: -0px -500px; width: 189px; height: 200px; }
a[href|="/yourehurtingmyideas"] { background-position: -0px -700px; width: 200px; height: 187px; }
a[href|="/queenstare"] { background-position: -0px -887px; width: 200px; height: 168px; }
a[href|="/singinmerryment"] { background-position: -0px -1055px; width: 101px; height: 151px; }
a[href|="/queenwtf"] { background-position: -0px -1206px; width: 150px; height: 150px; }
a[href|="/sexualwizards"] { background-position: -0px -1356px; width: 114px; height: 150px; }
a[href|="/queenme"] { background-position: -0px -1506px; width: 126px; height: 150px; }
a[href|="/mybodyisready"] { background-position: -101px -1055px; width: 86px; height: 100px; }
a[href|="/whataridiculoussentiment"] { background-position: -0px -1656px; width: 100px; height: 100px; }
a[href|="/queenhello"] { background-position: -100px -1656px; width: 89px; height: 100px; }
a[href|="/queenohyou"] { background-position: -0px -1756px; width: 96px; height: 96px; }
a[href|="/fillychrysalis"] { background-position: -96px -1756px; width: 100px; height: 94px; }
a[href|="/queenofthenerds"] { background-position: -0px -1852px; width: 103px; height: 150px; }

a[href|="/udntfun"], a[href|="/spraklefun"], a[href|="/excelianfun"], a[href|="/zirconiafun"], a[href|="/gdbfun"], a[href|="/petrafun"],
a[href|="/purplefun"], a[href|="/vialfun"], a[href|="/willowfun"], a[href|="/savvybeanfun"], a[href|="/ashleefun"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%funsheet%%) !important
     }

a[href|="/udntfun"] { background-position: -0px -0px; width: 250px; height: 173px; }
a[href|="/spraklefun"] { background-position: -0px -173px; width: 250px; height: 164px; }
a[href|="/excelianfun"] { background-position: -0px -337px; width: 255px; height: 162px; }
a[href|="/zirconiafun"] { background-position: -0px -499px; width: 250px; height: 160px; }
a[href|="/gdbfun"] { background-position: -0px -659px; width: 250px; height: 155px; }
a[href|="/petrafun"] { background-position: -0px -814px; width: 250px; height: 155px; }
a[href|="/purplefun"] { background-position: -0px -969px; width: 250px; height: 155px; }
a[href|="/vialfun"] { background-position: -0px -1279px; width: 250px; height: 155px; }
a[href|="/willowfun"] { background-position: -0px -1434px; width: 250px; height: 172px; }
a[href|="/savvybeanfun"] { background-position: -0px -1606px; width: 250px; height: 166px; }
a[href|="/ashleefun"] { background-position: -0px -1772px; width: 250px; height: 164px; }


a[href|="/femship"], a[href|="/catbug2"], a[href|="/catbug4"], a[href|="/catbug3"], a[href|="/sadqueen"], a[href|="/catbug1"], a[href|="/chaoticgenes"], a[href|="/lopezislife"]{
     display: block;
     clear: none;
     float: left;
     background-image: url(%%spitesheetthingie%%) !important
     }

a[href|="/femship"] { background-position: -0px -0px; width: 150px; height: 160px; }
a[href|="/catbug2"] { background-position: -0px -160px; width: 100px; height: 100px; }
a[href|="/catbug4"] { background-position: -0px -260px; width: 100px; height: 100px; }
a[href|="/catbug3"] { background-position: -0px -360px; width: 150px; height: 100px; }
a[href|="/sadqueen"] { background-position: -0px -460px; width: 100px; height: 98px; }
a[href|="/catbug1"] { background-position: -0px -558px; width: 125px; height: 97px; }
a[href|="/chaoticgenes"] { background-position: -0px -655px; width: 74px; height: 87px; }
a[href|="/lopezislife"] { background-position: -0px -742px; width: 100px; height: 86px; }

a[href|="/snowdropkisses"], a[href|="/snowdrophappy"], a[href|="/toomuchinternet"], a[href|="/snowdropsad"], a[href|="/itsnotwhatyouthink"], a[href|="/snowdrop1"], a[href|="/snowdrop2"], a[href|="/snowdrop"], a[href|="/primdrop"], a[href|="/snowdropfilly"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%snowdrop%%) !important
     }

a[href|="/snowdropkisses"] { background-position: -0px -0px; width: 141px; height: 150px; }
a[href|="/snowdrophappy"] { background-position: -0px -150px; width: 145px; height: 150px; }
a[href|="/toomuchinternet"] { background-position: -0px -300px; width: 253px; height: 150px; }
a[href|="/snowdropsad"] { background-position: -0px -450px; width: 150px; height: 150px; }
a[href|="/itsnotwhatyouthink"] { background-position: -0px -600px; width: 250px; height: 147px; }
a[href|="/snowdrop1"] { background-position: -0px -747px; width: 150px; height: 128px; }
a[href|="/snowdrop2"] { background-position: -0px -875px; width: 150px; height: 121px; }
a[href|="/snowdrop"] { background-position: -0px -996px; width: 150px; height: 115px; }
a[href|="/primdrop"] { background-position: -0px -1111px; width: 150px; height: 114px; }
a[href|="/snowdropfilly"] { background-position: -141px -0px; width: 95px; height: 100px; }

a[href|="/chibichrysalis"], a[href|="/scrambledeggs"], a[href|="/rarinsane"], a[href|="/chrysisnuggles"], a[href|="/mangodesu"], a[href|="/zrapidfire"], a[href|="/chryssyjuice2"], a[href|="/chryssyjuice1"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%scrambledeggs%%) !important
     }

a[href|="/chibichrysalis"] { background-position: -0px -0px; width: 250px; height: 232px; }
a[href|="/scrambledeggs"] { background-position: -0px -232px; width: 300px; height: 225px; }
a[href|="/rarinsane"] { background-position: -0px -457px; width: 150px; height: 179px; }
a[href|="/chrysisnuggles"] { background-position: -150px -457px; width: 150px; height: 142px; }
a[href|="/mangodesu"] { background-position: -150px -599px; width: 150px; height: 138px; }
a[href|="/zrapidfire"] { background-position: -0px -737px; width: 150px; height: 134px; }
a[href|="/chryssyjuice2"] { background-position: -150px -737px; width: 125px; height: 125px; }
a[href|="/chryssyjuice1"] { background-position: -150px -862px; width: 125px; height: 125px; }

a[href|="/spamsprakle"], a[href|="/chryssixtia"], a[href|="/ohshitbby"], a[href|="/twinotamused"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%emotesheetsomething%%) !important
     }

a[href|="/spamsprakle"] { background-position: -0px -0px; width: 300px; height: 194px; }
a[href|="/chryssixtia"] { background-position: -0px -194px; width: 200px; height: 167px; }
a[href|="/ohshitbby"] { background-position: -200px -194px; width: 100px; height: 100px; }
a[href|="/twinotamused"] { background-position: -0px -361px; width: 127px; height: 99px; }

a[href|="/queenohshit"], a[href|="/queenofthehookah"], a[href|="/mangosyrup"], a[href|="/captainawesome"], a[href|="/jakoman"], a[href|="/maximumoverbite"], a[href|="/queenohshoot"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%emotesheeeeeeet%%) !important
     }

a[href|="/queenohshit"], a[href|="/queenohshoot"] { background-position: -0px -0px; width: 401px; height: 479px; }
a[href|="/queenofthehookah"] { background-position: -0px -479px; width: 240px; height: 250px; }
a[href|="/mangosyrup"] { background-position: -200px -729px; width: 200px; height: 109px; }
a[href|="/captainawesome"] { background-position: -0px -876px; width: 111px; height: 119px; }
a[href|="/jakoman"] { background-position: -111px -876px; width: 117px; height: 106px; }
a[href|="/maximumoverbite"] { background-position: -228px -876px; width: 150px; height: 101px; }



a[href|="/lyralove"],a[href|="/gangstalyra"],a[href|="/lyraomf"],a[href|="/lyratounge"],a[href|="/lyraohh"],a[href|="/lyrabear"],a[href|="/gangstabon"],a[href|="/lyrayes"] {
    display: block;
    clear: none;
    float: left;
    background-image: url(%%lyramotes%%)
}

a[href|="/lyralove"]{
    width: 96px;
    height: 112px;
    background-position: 0 0 !important;
}


a[href|="/gangstalyra"]{
    width: 100px;
    height: 140px;
    background-position: -96px 0 !important;
}


a[href|="/lyraomf"]{
    width: 114px;
    height: 150px;
    background-position: 0 -140px !important;
}


a[href|="/lyratounge"]{
    width: 64px;
    height: 150px;
    background-position: -114px -140px !important;
}


a[href|="/lyraohh"]{
    width: 150px;
    height: 150px;
    background-position: 0 -290px !important;
}


a[href|="/lyrabear"]{
    width: 96px;
    height: 150px;
    background-position: -150px -290px !important;
}


a[href|="/gangstabon"]{
    width: 90px;
    height: 150px;
    background-position: 0 -440px !important;
}


a[href|="/lyrayes"]{
    width: 150px;
    height: 150px;
    background-position: -90px -440px !important;
}

/* 
   
*/

a[href|="/hoofsmack"],a[href|="/bonnews"],a[href|="/hellobon"],a[href|="/milkywut"],a[href|="/babsohh"],a[href|="/boncute"],a[href|="/queenlovesyou"],a[href|="/raritea"],a[href|="/queendogoon"],a[href|="/surpriseball"],a[href|="/braeburnpop"],a[href|="/dashjuice"]{
    display: block;
    clear: none;
    float: left;
    background-image: url(%%emotepack2%%)
}


a[href|="/hoofsmack"]{
    width: 150px;
    height: 72px;
    background-position: 0 0 !important;
}

a[href|="/bonnews"]{
    width: 150px;
    height: 77px;
    background-position: 0 -72px !important;
}

a[href|="/hellobon"]{
    width: 150px;
    height: 96px;
    background-position: 0 -149px !important;
}

a[href|="/milkywut"]{
    width: 100px;
    height: 100px;
    background-position: -150px -149px !important;
}

a[href|="/babsohh"]{
    width: 100px;
    height: 100px;
    background-position: 0 -249px !important;
}

a[href|="/boncute"]{
    width: 74px;
    height: 100px;
    background-position: -100px -249px !important;
}

a[href|="/queenlovesyou"]{
    width: 100px;
    height: 150px;
    background-position: 0 -349px !important;
}

a[href|="/raritea"]{
    width: 120px;
    height: 150px;
    background-position: -100px -349px !important;
}

a[href|="/queendogoon"]{
    width: 112px;
    height: 150px;
    background-position: 0 -499px !important;
}

a[href|="/surpriseball"]{
    width: 101px;
    height: 150px;
    background-position: -112px -499px !important;
}

a[href|="/braeburnpop"]{
    width: 150px;
    height: 150px;
    background-position: 0 -649px !important;
}

a[href|="/dashjuice"]{
    width: 106px;
    height: 150px;
    background-position: -150px -649px !important;
}

a[href|="/queenyouwantwhatinmybutt"], a[href|="/queenoops"], a[href|="/spraklekun"], a[href|="/queenponytail"], a[href|="/queenevil"], a[href|="/colpillow"], a[href|="/queensex"], a[href|="/lyrabubbles"], a[href|="/twiventurer"], a[href|="/twicookie"], a[href|="/queenshrug"], a[href|="/lilpip"], a[href|="/thebearded"], a[href|="/pickupdashie"], a[href|="/nostrils"], a[href|="/catbug7"], a[href|="/catbug5"], a[href|="/scootajew"], a[href|="/twimango"], a[href|="/catbug6"], a[href|="/badvibes"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%sexualemotesheet%%) !important
     }

a[href|="/queenyouwantwhatinmybutt"] { background-position: -0px -0px; width: 161px; height: 200px; }
a[href|="/queenoops"] { background-position: -0px -200px; width: 158px; height: 199px; }
a[href|="/spraklekun"] { background-position: -0px -399px; width: 88px; height: 199px; }
a[href|="/queenponytail"] { background-position: -0px -598px; width: 114px; height: 151px; }
a[href|="/queenevil"] { background-position: -0px -749px; width: 90px; height: 150px; }
a[href|="/colpillow"] { background-position: -0px -899px; width: 111px; height: 150px; }
a[href|="/queensex"] { background-position: -0px -1049px; width: 144px; height: 150px; }
a[href|="/lyrabubbles"] { background-position: -0px -1199px; width: 150px; height: 125px; }
a[href|="/twiventurer"] { background-position: -88px -399px; width: 71px; height: 105px; }
a[href|="/twicookie"] { background-position: -0px -1324px; width: 150px; height: 103px; }
a[href|="/queenshrug"] { background-position: -0px -1427px; width: 100px; height: 100px; }
a[href|="/lilpip"] { background-position: -0px -1527px; width: 100px; height: 94px; }
a[href|="/thebearded"] { background-position: -0px -1621px; width: 105px; height: 88px; }
a[href|="/pickupdashie"] { background-position: -0px -1709px; width: 150px; height: 87px; }
a[href|="/nostrils"] { background-position: -0px -1796px; width: 89px; height: 172px; }
a[href|="/catbug7"] { background-position: -0px -1968px; width: 120px; height: 100px; }
a[href|="/catbug5"] { background-position: -0px -2068px; width: 120px; height: 100px; }
a[href|="/scootajew"] { background-position: -0px -2168px; width: 100px; height: 100px; }
a[href|="/twimango"] { background-position: -0px -2268px; width: 100px; height: 100px; }
a[href|="/catbug6"] { background-position: -0px -2368px; width: 100px; height: 100px; }
a[href|="/badvibes"] { background-position: -0px -2468px; width: 150px; height: 100px; }

a[href|="/queensquee"], a[href|="/mangosanwatchme"], a[href|="/queenadorbs"], a[href|="/queenpomf"], a[href|="/sweetiecool"], a[href|="/flutterotter"], a[href|="/rainbowgetithahahaha"], a[href|="/otter"], a[href|="/twiwhuuuuu"] {
     display: block;
     clear: none;
     float: left;
     background-image: url(%%toolazytonamethis%%) !important
     }

a[href|="/queensquee"] { background-position: -0px -0px; width: 130px; height: 200px; }
a[href|="/mangosanwatchme"] { background-position: -0px -200px; width: 134px; height: 200px; }
a[href|="/queenadorbs"] { background-position: -0px -400px; width: 200px; height: 192px; }
a[href|="/queenpomf"] { background-position: -0px -592px; width: 200px; height: 154px; }
a[href|="/sweetiecool"] { background-position: -0px -746px; width: 100px; height: 125px; }
a[href|="/flutterotter"] { background-position: -100px -746px; width: 100px; height: 100px; }
a[href|="/rainbowgetithahahaha"] { background-position: -100px -846px; width: 100px; height: 100px; }
a[href|="/otter"] { background-position: -0px -871px; width: 100px; height: 100px; }
a[href|="/twiwhuuuuu"] { background-position: -100px -946px; width: 100px; height: 100px; }