/*== Body ==*/
body {background: rgb(130, 200, 223) url(%%bg01%%) no-repeat fixed 50% 110% !important;}

/*nightmodefix*//*
body.res-nightmode, body.res-nightmode .content, .content #siteTable .thing {background-color: transparent !important;}
*/
/*== Header ==*/
#header, .res-nightmode #header {
    background: #A0DCA0 url(%%header01%%) repeat-x left center !important;
    border-bottom: 1px solid black;
    }
#header-bottom-left, .res-nightmode #header-bottom-left {
    background: url(%%header02%%) no-repeat right center !important;
    margin-right: 10px;
    }
.res-nightmode #header {
    background-color: rgb(102, 102, 96) !important;
}

.pagename a{
position: relative;
}
.pagename a:after {
    content: " and friends";
    display: inline-block;
    font-size: 12px !important;
    color: black;
    margin-left: 5px
    }

/*== Sidebar ==*/
/*change "users"*/  
.subscribers .word, .users-online .word, .users-online::before {display: none;}  
.subscribers .number::after {content: " Popes";}
.users-online .number::after {content: " Poping";}

/*make transparent*/
.side, .leavemoderator, .toggle, .icon-menu a, .sidebox .spacer {background-color: transparent !important;}

/*nightmode fix (seriously bleeps, this is ridiculous)*/
.res-nightmode .side .spacer, .res-nightmode .side .spacer h1, .res-nightmode .leavemoderator, .res-nightmode .toggle, .res-nightmode .sidecontentbox, .res-nightmode .sidecontentbox .title h1, .res-nightmode .sidecontentbox .content, .res-nightmode .icon-menu a, .res-nightmode .spacer .sidebox {background-color:transparent !important;}

/*Remove RES tag and vote counts from moderator box because its ugly*/
.sidecontentbox .voteWeight, .sidecontentbox .userTagLink{display: none !important}

/*== Emotes ==*/
/*Chaos*/
a[href|="/chaos00"], a[href|="/chaos01"], a[href|="/chaos02"], a[href|="/chaos10"], a[href|="/chaos10e"], a[href|="/chaos11"], a[href|="/chaos12"], a[href|="/sayno"], a[href|="/saynoe"] {
    display: block;
    clear: none;
    float: left;
    background-image: url(%%chaostable1%%) !important;
    }
a[href|="/chaos00"] {
    width: 133px !important;
    height: 150px !important;
    background-position: -0px -0px !important;
    }
a[href|="/chaos01"] {
    width: 110px;
    height: 150px;
    background-position: -133px -0px
    }
a[href|="/chaos02"] {
    width: 95px;
    height: 150px;
    background-position: -243px -0px
    }
a[href|="/chaos10"] {
    width: 105px;
    height: 150px;
    background-position: -0px -150px
    }
a[href|="/chaos10e"] {
    width: 145px;
    height: 150px;
    background-position: -0px -150px
    }
a[href|="/chaos11"] {
    width: 95px;
    height: 150px;
    background-position: -145px -150px
    }
a[href|="/chaos12"] {
    width: 75px;
    height: 150px;
    background-position: -240px -150px
    }
a[href|="/sayno"] {
    width: 75px;
    height: 75px;
    background-position: -338px -50px
    }
a[href|="/saynoe"] {
    width: 75px;
    height: 125px;
    background-position: -338px -0px
    }

/*misc*/
a[href|="/nightmarenyx"] {
    clear: none;
    display: block;
    float: left;
    background-image: url(%%nightmarenyx%%);
    width: 300px;
    height: 450px;
    }
a[href|="/somuchporn"] {
    clear: none;
    display: block;
    float: left;
    background-image: url(%%somuchporn%%);
    width: 300px;
    height: 395px;
    }
a[href|="/yakisbest"] {
    clear: none;
    display: block;
    float: left;
    background-image: url(%%yakisbest%%);
    width: 717px;
    height: 510px;
    }
a[href|="/dyegoogle"] {
    clear: none;
    display: block;
    float: left;
    background-image: url(%%dyegoogle%%);
    width: 256px;
    height: 300px;
    }
a[href|="/eggheaddash"] {
    clear: none;
    display: block;
    float: left;
    background-image: url(%%egghead%%);
    width: 319px;
    height: 310px;
    }

/*Animotes*/
a[href|="/twiday"] {
    display: block;
    clear: none;
    float: left;
    background-image: url(%%twiday%%);
    width: 600px;
    height: 568px;
    margin-bottom: 5px;
    margin-right: 5px
    }
a[href|="/lunaday"] {
    display: block;
    clear: none;
    float: left;
    background-image: url(%%lunaday%%);
    width: 500px;
    height: 270px;
    margin-bottom: 5px;
    margin-right: 5px
    }
a[href|="/rapidfire"] {
    width: 529px;
    height: 293px;
    background-image: url(%%rapidfire%%);
    display: block;
    clear: none;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px
    }
a[href|="/fillyderp"] {
    width: 281px;
    height: 274px;
    background-image: url(%%fillyderp%%);
    display: block;
    clear: none;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px
    }
a[href|="/derpylikesyou"] {
    width: 337px;
    height: 543px;
    background-image: url(%%derpylikesyou%%);
    display: block;
    clear: none;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px
    }
a[href|="/shakedatassmatt"], a[href|="/shakedatassluna"] {
    width: 500px;
    height: 281px;
    background-image: url(%%shakedatassmatt%%);
    display: block;
    clear: none;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px
    }
a[href|="/spikefinger"] {
    width: 448px;
    height: 252px;
    background-image: url(%%spikefinger%%);
    display: block;
    clear: none;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px
    }
a[href|="/angstybloom"] {
    width: 450px;
    height: 500px;
    background-image: url(%%angstybloom%%);
    display: block;
    clear: none;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px
    }
a[href|="/scrunchingintensifies"] {
    width: 450px;
    height: 350px;
    background-image: url(%%scrunchingintensifies%%);
    display: block;
    clear: none;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px
    }
a[href|="/larsonvodka"] {
    width: 148px;
    height: 102px;
    background-image: url(%%larsonvodka%%);
    display: block;
    clear: none;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px
    }
a[href|="/ponkteamepic"] {
    width: 163px;
    height: 100px;
    background-image: url(%%ponkteamepic%%);
    display: block;
    clear: none;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px
    }
a[href|="/wraparound"] {
    width: 120px;
    height: 94px;
    background-image: url(%%wraparound%%);
    display: block;
    clear: none;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px
    }

a[href|="/rekt"] {
    width: 250px;
    height: 157px;
    background-image: url(%%rektEmote%%);
    display: block;
    clear: none;
    float: left;
    margin-bottom: 5px;
    margin-right: 5px
    }

/*== For Tubing ==*/
a[href|="/dyefooter"] {
    width: 500px;
    height: 500px;
    background-image: url(%%dyefooter%%);
    display: block;
    clear: none;
    float: left;
    }
a[href|="/karmahoers"] {
    width: 146px;
    height: 138px;
    background-image: url(%%karmahoers%%);
    display: block;
    clear: none;
    float: left;
    }
a[href|="/yasickfuck"], a[href|="/yasickfreak"] {
    width: 256px;
    height: 243px;
    background-image: url(%%yasickfuck%%);
    display: block;
    clear: none;
    float: left;
    }

a[href|="/orangesareevil"], a[href|="/onlyapples"] {
    width: 717px;
    height: 398px;
    background-image: url(%%orangesareevil%%);
    display: block;
    clear: none;
    float: left;
    }

a[href|="/youtooktwoshots"] {
    width: 300px;
    height: 250px;
    background-image: url(%%youtooktwoshots%%);
    display: block;
    clear: none;
    float: left;
    }

a[href|="/thepineappleguy"] {
    width: 455px;
    height: 549px;
    background-image: url(%%thepineappleguy%%);
    display: block;
    clear: none;
    float: left;
    }


a[href|="/rbdegghead"] {
    width: 276px;
    height: 368px;
    background-image: url(%%rbdegghead%%);
    display: block;
    clear: none;
    float: left;
    }

a[href|="/yaksmashing"], a[href|="/smashingyak"] {
    width: 122px;
    height: 140px;
    background-image: url(%%yaksmashing%%);
    display: block;
    clear: none;
    float: left;
    }

/*==  Flair ==*/
/*
.flair {
    background: url(%%flair%%) transparent no-repeat;
    width: 30px;
    height: 30px;
    border: 0;
    margin:0;
    padding:0;
    }
.flair-00001 {
    background-position: 0px 0px
    }
.flair-00002 {
    background-position: 0px -30px
    }
.flair-00003 {
    background-position: 0px -60px
    }
.flair-00004 {
    background-position: 0px -90px
    }
.flair-00005 {
    background-position: 0px -120px
    }
*/
/*== Username Modifications ==*/
a.author[href$="nekoningen"] {
    font-size: 0px !important;
    overflow: hidden;
    display: inline-block;
    }
a.author[href$="nekoningen"]:before {
    content: "Captain Jack Fenderson";
    font-size: 12px !important;
    background-color: transparent;
    }
a.author[href$="nekoningen"]:after {
    content: ", Saint of  Incoherent Babbling";
    font-size: 12px !important;
    background-color: transparent;
    }

a.author[href$="DinsFire64"]:after {
    content: " has a pervcam in M.A. Larsons house.";
    }

a.author[href$="Zovistograt"]:after {
    content: ", Grand Instigator of Esoteric Proportions";
    }

/* Nightmode fixes for the background */
.content #siteTable div[onclick="click_thing(this)"] {background-color: transparent!important;} 
body.res-nightmode:first-of-type > .content {background-color: transparent!important;}
.res-nightmode body{background-color: #222222!important;}

/*== Administration Tweaks ==*/
.fancy-settings .linefield {width: 920px;}
.fancy-settings textarea {height: 500px; width: 900px;}
.stylesheet-customize-container textarea {height: 500px;}