/*Nothing fancy here, now shoo.*/

div.titlebox span.word {display:none}
div.titlebox .subscribers span.number:after {content:" Spikes"}
div.titlebox .users-online span.number:after {content:" Spiking"}

/*Header sticking on the "ground"*/

#header-img-a
{
 height:5px;
 position:relative;
 bottom:0px;
 left:0;
 top:0;
 margin-right:-10px;
 padding:0
}

#header-img
{
 margin:5px 3px -3px 0px;
 padding:0px 5px
}

/*Name replace*/

a.author.id-t2_8gh9f{content:"";font-size:0px!important;display:inline-block;vertical-align:bottom;overflow:hidden;letter-spacing:-20px}
a.author.id-t2_8gh9f:after{font-size:10px!important;display:block;letter-spacing:normal}
a.author.id-t2_8gh9f:after {content:" no_one"}

a.author.id-t2_aj4cg{content:"";font-size:0px!important;display:inline-block;vertical-align:bottom;overflow:hidden;letter-spacing:-20px}
a.author.id-t2_aj4cg:after{font-size:10px!important;display:block;letter-spacing:normal}
a.author.id-t2_aj4cg:after {content:" uo‾ouǝ"}

a.author.id-t2_a26t0{content:"";font-size:0px!important;display:inline-block;vertical-align:bottom;overflow:hidden;letter-spacing:-20px}
a.author.id-t2_a26t0:after{font-size:8px!important;display:block;letter-spacing:normal}
a.author.id-t2_a26t0:after {content:"I have nothing to do with anything in here"}


/*Background (stolen from Plounge) for testing*/ 

body {
background: url(%%Alwayswatching%%)  
no-repeat fixed center center
}

/*Ponymotes*/

a[href="/spikeurgh"],a[href="/spikehmph"],a[href="/spikeangry"],a[href="/angryspike"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 64px;
Height: 78px;
background-image: url(%%spikehmph%%) !important
}

a[href="/fluttersquint"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 70px;
Height: 70px;
background-image: url(%%fluttersquint%%) !important
}

a[href="/caesar"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 70px;
Height: 77px;
background-image: url(%%caesar%%) !important
}


a[href="/sbload"],a[href="/sbthrobber"],a[href="/sbbusy"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 72px;
Height: 82px;
background-image: url(%%sbload%%) !important
}

a[href="/rdwut"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 70px;
Height: 70px;
background-image: url(%%rdwut%%) !important
}

a[href="/trufflepaper"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 200px;
Height: 155px;
background-image: url(%%trufflepaper%%) !important
}

a[href="/sbtarget"],a[href="/sweetiebottarget"],a[href="/sbmissile"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 200px;
Height: 200px;
background-image: url(%%sbtarget%%) !important
}

a[href|="/sp"]
{
 display:inline-block;
 padding-right:100%;
 width:0px;
 height:0px
}

/*Title flair*/
.linkflair-important .linkflairlabel {display:none;}
.linkflair-important p.title a.title {opacity:0;}
.linkflair-important p.title a.title:hover {opacity:100;}
.linkflair-important p.title:before
{
 content:"THIS IS SOMEHOW IMPORTANT";
 font-size:12px;
 color:#888;
 border:1px solid #888;
 border-radius:3px;
 position:relative;
 padding:0px 2px;
 margin-right:2px;
 top:-1px;

