/*[](/ppseesyou)*/

/* {
    font-family:Consolas, Segoe UI;
    font-weight:bold;
}*/
/*
.flairselector .customizer {
    display: none !important;
}


div.titlebox span.word {
    display:none
}
div.titlebox .subscribers span.number:after {
    content:" Spikes"
}

div.titlebox .users-online span.number:after {
    content:" nomming"
}

/*Header sticking on the 'ground'*/

#header-img-a {
    height:0px;
    position:relative;
    bottom:0px;
    left:0;
    top:27px;
    margin-right:-10px;
    padding:0
}

#header-img {
    margin-top:-27px;
}
*/
/*#header-img {
    margin:5px 3px -3px 0px;
    padding:0px 5px
}
*/
#header {
    background: transparent !important;
}

#header-bottom-left {
    background-color: #DBF8CE !important;
}

#header-bottom-right {
    background-color: #F7FFEF;
}

#userbarToggle {
    background-color: #F1F9C7 !important;
}

.roundfield {
    background-color: #D3F8CE;
}

.tabmenu.formtab .selected a {
    background-color: #A5CF5F;
}

.formtabs-content {
    border-top: 4px solid rgb(165, 207, 95);
}
/*Name substitute*/

/*
a.author.id-t2_8gh9f {content:"";font-size:0px!important;display:inline-block;vertical-align:bottom;overflow:hidden;letter-spacing:-20px}
a.author.id-t2_8gh9f:after{font-size:10px!important;display:block;letter-spacing:normal}
a.author.id-t2_8gh9f:after {content:" a horse"}

a.author.id-t2_aj4cg{content:"";font-size:0px!important;display:inline-block;vertical-align:bottom;overflow:hidden;letter-spacing:-20px}
a.author.id-t2_aj4cg:after{font-size:10px!important;display:block;letter-spacing:normal}
a.author.id-t2_aj4cg:after {content:" ɐ ɥoɹsǝ"}

a.author.id-t2_a26t0{content:"";font-size:0px!important;display:inline-block;vertical-align:bottom;overflow:hidden;letter-spacing:-20px}
a.author.id-t2_a26t0:after{font-size:8px!important;display:block;letter-spacing:normal}
a.author.id-t2_a26t0:after {content:"I have nothing to do with anything in here"}

a.author[href$="/eytosh"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
}

a.author[href$="/eytosh"]:after {
    content: "toshyba";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
} 
*/
/*Emotes*/

a[href="/spikeurgh"],a[href="/spikehmph"],a[href="/spikeangry"],a[href="/angryspike"] {
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 64px;
    Height: 78px;
    background-image: url(%%spikehmph%%) !important
}

a[href="/fluttersquint"], a[href="/fssquint"] {
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 70px;
    Height: 69px;
    background-image: url(%%fluttersquint%%) !important
}

a[href="/caesar"] {
background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 70px;
    Height: 77px;
    background-image: url(%%caesar%%) !important
}


a[href="/sbload"],a[href="/sbthrobber"],a[href="/sbbusy"] {
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 72px;
    Height: 82px;
    background-image: url(%%sbload%%) !important
}

a[href="/rdwut"] {
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 70px;
    Height: 70px;
    background-image: url(%%rdwut%%) !important
}

a[href="/trufflepaper"],a[href="/trufflenews"] {
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 200px;
    Height: 155px;
    background-image: url(%%trufflepaper%%) !important
}

a[href="/sbtarget"],a[href="/sweetiebottarget"],a[href="/sbmissile"] {
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 200px;
    Height: 200px;
    background-image: url(%%sbtarget%%) !important
}

a[href="/sbsquint"],a[href="/sweetiesquint"] {
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 70px;
    Height: 70px;
    background-image: url(%%sbsquint%%) !important
}

a[href="/hornymare"],a[href="/hornytwi"]{
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 155px;
    Height: 200px;
    background-image: url(%%hornymare%%) !important
}

a[href="/coloneye"],a[href="/sweetiemote"] {
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 122px;
    Height: 150px;
    background-image: url(%%coloneye%%) !important
}

a[href="/pphonk"], a[href="/h0nk"], a[href="/pph0nk"], a[href="/pinkiehonk"], a[href="/pinkieh0nk"] {
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 177px;
    Height: 150px;
    background-image: url(%%h0nk%%) !important
}

a[href="/ajlie"] {
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 70px;
    Height: 70px;
    background-image: url(%%ajlie%%) !important
}

a[href|="/sp"] {
    display:inline-block;
    padding-right:100%;
    width:0px;
    height:0px
}

a[href="/sbisonfire"], a[href="/roastedmarshmallow"], a[href="/grenlitbobonfireagain"], a[href="/sweetieisonfire"], a[href="/sweetiebelleisonfire"], a[href="/bobdudeisonfire"], a[href="/bobdude0isonfire"], a[href="/sweetieonfire"], a[href="/sbfire"], a[href="/sbonfire"]  {
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 168px;
    Height: 200px;
    background-image: url(%%roastedmarshmallow%%) !important
}

a[href="/rdgrunkle"],a[href="/joaje"]{
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 70px;
    Height: 70px;
    background-image: url(%%rdgrunkle%%) !important
}

a[href="/ashpie"], a[href="/pinkieketchum"]{
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 70px;
    Height: 70px;
    background-image: url(%%ashpie%%) !important
}

a[href="/flashyoak"], a[href="/garysentry"]{
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 70px;
    Height: 70px;
    background-image: url(%%flashyoak%%) !important
}

a[href="/proftwi"]{
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 70px;
    Height: 70px;
    background-image: url(%%proftwi%%) !important
}

a[href="/turnupfam"], a[href="/flutterfam"], a[href="/famshy"] {
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 200px;
    Height: 141px;
    background-image: url(%%turnupfam%%) !important
}

a[href="/soarinnom"], a[href="/soarnom"], a[href="/pienom"] {
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 148px;
    Height: 160px;
    background-image: url(%%soarinnom%%) !important
}

a[href="/sbtrill"], a[href="/sbfam"], a[href="/sbchill"], a[href="/sbhip"] {
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 175px;
    Height: 175px;
    background-image: url(%%sbtrill%%) !important
}

a[href="/cloudsmash"], a[href="/justcloudhopthings"] {
    background-position: 0px 0px;
    Display: block;
    Clear: none;
    Float: left;
    Width: 200px;
    Height: 176px;
    background-image: url(%%cloudsmash%%) !important
}

/*Making the tabs' corners more rounded (stolen from r/mylittlepony)*/
.tabmenu li a {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #FFFFEF;
}

/*Tab test
.tabmenu li a {  
border: none;  
font-size:14px;  
margin: 0 10px 0;  
line-height:1.4;
}

.tabmenu li.selected a {  
color:red;  
background-color:#fafcff; 
border:none;  
}  

.tabmenu li a:hover {  
color:red;  
background-color:#fefeff;  
border:none;  
}
*/

/*
.side a[href="http://www.reddit.com/r/sweetie_belle"] {
    position:fixed;
    top:190px;
    left:326px;
    height:210px;
    width:637px;
    z-index:999999;
    background:url(%%sbbluh%%);
    background-repeat: no-repeat;
    color:#C3A0D3;
    font-size:24px;
    line-height:70%;
    text-align:right;
}
*/
/*Modified submit buttons, stolen from r/mylittlepony*/

.submit .morelink { 
    border-radius: 3px;
    border: 0px !important;
    background: #AFCF5F;
}

.morelink a {
    display: block;
    text-align: center; 
    color: white;
}

.submit .morelink:hover{
    background:#DEF79E;
    background-repeat:no-repeat;
    color: black;
}

.disabled .morelink a {
    display: block;
    text-align: center; 
    color: white;
    font-weight: normal;
    width: 100px;
    line-height: 28px;
}

.sidebox.submit.submit-link .morelink:hover a {color:#AFCF5F}
.sidebox.submit.submit-text .morelink:hover a {color:#AFCF5F}
.morelink .nub, .morelink .nub:hover { display: none }

.md blockquote {
    border-left: 2px solid #336699;
}

.thumbnail.self {
    background-image: url(%%dumbmoustache%%);
    background-position: 0px -13px;
    background-repeat: no-repeat;
    height: 50px;