a[href|="/princewapplejack"] {
    display: block;
    clear: none;
    float: left;
    width: 500px;
    height: 450px;
    background-image: url(%%princewapplejack%%)
    }
a[href|="/princewapplejack"] {
    background-position: -15px -15px
    }


.flair {
    padding: 0;
    background: none;
    color: black;
    border: 0;
    border-radius: 0;
    background-image: url(%%flair%%);
    display: inline-block;
    width: 16px;
    height: 16px
    }
.flair-rainbowdash {
    background-position: 0px 0px
    }
.flair-twilight {
    background-position: -16px 0px
    }
.flair-fluttershy {
    background-position: 0px -16px
    }
.flair-applejack {
    background-position: -16px -16px
    }
.flair-pinkiepie {
    background-position: 0px -32px
    }
.flair-pinkiepiecmc {
    background-position: 0px -32px
    }
.flair-rarity {
    background-position: -16px -32px
    }
.flair-trixie {
    background-position: 0px -48px
    }
.flair-cmc {
    background-position: -16px -48px
    }
.flair-cmcchinchy {
    background-position: -16px -48px;
    margin-left: 5px
    }
.flair-luna {
    background-position: 0px -64px
    }
.flair-celestia {
    background-position: -16px -64px
    }
.flair-derpy {
    background-position: 0px -80px
    }
.flair-vinyl {
    background-position: -16px -80px
    }
.flair-lyra {
    background-position: 0px -96px
    }
.flair-bonbon {
    background-position: -16px -96px
    }
.flair-octavia {
    background-position: 0px -112px
    }
.flair-doctor {
    background-position: -16px -112px
    }
.flair-mac {
    background-position: 0px -128px
    }
.flair-colgate {
    background-position: -16px -128px
    }
.flair-berry {
    background-position: -0px -144px
    }
.flair-pokey {
    background-position: -16px -144px
    }
.flair-roseluck {
    background-position: -0px -160px
    }
.flair-zecora {
    background-position: -16px -160px
    }
.flair-seafoam {
    background-position: -0px -176px
    }
.flair-carrottop {
    background-position: -16px -176px
    }
.flair-screwball {
    background-position: -0px -192px
    }
.flair-redheart {
    background-position: -16px -192px
    }
.flair-caramel {
    background-position: -0px -208px
    }
.flair-braeburn {
    background-position: -16px -208px
    }
.flair-wonderbolts {
    background-position: -0px -224px
    }
.flair-shadowbolts {
    background-position: -16px -224px
    }
.flair-scootaloo {
    background-position: -0px -240px
    }
.flair-applebloom {
    background-position: -16px -240px
    }
.flair-sweetiebelle {
    background-position: -0px -256px
    }
.flair-davenport {
    background-position: -16px -256px
    }
.flair-cheerilee {
    background-position: -0px -272px
    }
.flair-nightmaremoon {
    background-position: -16px -272px
    }
.flair-blueblood {
    background-position: -0px -288px
    }
.flair-daring {
    background-position: -16px -288px
    }
.flair-mrcake {
    background-position: -0px -304px
    }
.flair-mrscake {
    background-position: -16px -304px
    }
.flair-flam {
    background-position: -0px -320px
    }
.flair-flim {
    background-position: -16px -320px
    }
.flair-silverspoon {
    background-position: -0px -336px
    }
.flair-diamondtiara {
    background-position: -16px -336px
    }
.flair-snips {
    background-position: -0px -352px
    }
.flair-snails {
    background-position: -16px -352px
    }
.flair-twist {
    background-position: -0px -368px
    }
.flair-gaben {
    background-position: -16px -368px
    }
.flair-sparkler {
    background-position: -0px -384px
    }
.flair-disco {
    background-position: -16px -384px
    }
.flair-fancypants {
    background-position: -0px -400px
    }
.flair-fleur {
    background-position: -16px -400px
    }
.flair-blankflank {
    background-image: none;
    height: 0;
    width: 0
    }


div.titlebox span.word {  
display: none  
}  
div.titlebox span.number:after {  
content: " ladles and jellyspoons"  
}  

body {
background: url(%%MeGustaAngel%%)
}

.side {
    background-color: transparent !important
    }
.side.res-nightmode:first-of-type > .content {
    background-color: transparent !important
    }
.side.res-nightmode:first-of-type {
    background-color: transparent !important
    }

/************************
*Emotes / Macros
************************/

/*thescotsman*/
a[href="/thescotsman"] {
    width: 640px !important;
    height: 480px !important;
    cursor: default !important;
    display: inline-block !important;
    background-image: url(%%thescotsman%%) !important;
    background-repeat: no-repeat !important;
    /* background-position: 0 0px!important; */
    text-align: center !important;
    color: White !important;
    font-family: Impact, sans-serif !important;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black !important;
    overflow: hidden !important;
    position: relative !important;
    text-transform: uppercase !important
    }
a[href="/thescotsman"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    font-size: 30px !important;
    line-height: 30px !important;
    visibility: visible
    }
a[href="/thescotsman"] strong {
    font-family: Impact, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 30px !important;
    line-height: 30px !important;
    position: absolute !important;
    bottom: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    visibility: visible
    }

/*jackshocked*/
a[href="/jackshocked"] {
    width: 640px !important;
    height: 480px !important;
    cursor: default !important;
    display: inline-block !important;
    background-image: url(%%jackshocked%%) !important;
    background-repeat: no-repeat !important;
    /* background-position: 0 0px!important; */
    text-align: center !important;
    color: White !important;
    font-family: Impact, sans-serif !important;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black !important;
    overflow: hidden !important;
    position: relative !important;
    text-transform: uppercase !important
    }
a[href="/jackshocked"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    font-size: 30px !important;
    line-height: 30px !important;
    visibility: visible
    }
a[href="/jackshocked"] strong {
    font-family: Impact, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 30px !important;
    line-height: 30px !important;
    position: absolute !important;
    bottom: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    visibility: visible
    }

/*akumad*/
a[href="/akumad"] {
    width: 640px !important;
    height: 480px !important;
    cursor: default !important;
    display: inline-block !important;
    background-image: url(%%akumad%%) !important;
    background-repeat: no-repeat !important;
    /* background-position: 0 0px!important; */
    text-align: center !important;
    color: White !important;
    font-family: Impact, sans-serif !important;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black !important;
    overflow: hidden !important;
    position: relative !important;
    text-transform: uppercase !important
    }
a[href="/akumad"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    font-size: 30px !important;
    line-height: 30px !important;
    visibility: visible
    }
a[href="/akumad"] strong {
    font-family: Impact, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 30px !important;
    line-height: 30px !important;
    position: absolute !important;
    bottom: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    visibility: visible
    }

/*tasty*/
a[href="/tasty"] {
    width: 640px !important;
    height: 480px !important;
    cursor: default !important;
    display: inline-block !important;
    background-image: url(%%tasty%%) !important;
    background-repeat: no-repeat !important;
    /* background-position: 0 0px!important; */
    text-align: center !important;
    color: White !important;
    font-family: Impact, sans-serif !important;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black !important;
    overflow: hidden !important;
    position: relative !important;
    text-transform: uppercase !important
    }
a[href="/tasty"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    font-size: 30px !important;
    line-height: 30px !important;
    visibility: visible
    }
a[href="/tasty"] strong {
    font-family: Impact, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 30px !important;
    line-height: 30px !important;
    position: absolute !important;
    bottom: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    visibility: visible
    }

/*mfw*/
a[href="/mfw"] {
    width: 640px !important;
    height: 480px !important;
    cursor: default !important;
    display: inline-block !important;
    background-image: url(%%mfw%%) !important;
    background-repeat: no-repeat !important;
    /* background-position: 0 0px!important; */
    text-align: center !important;
    color: White !important;
    font-family: Impact, sans-serif !important;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black !important;
    overflow: hidden !important;
    position: relative !important;
    text-transform: uppercase !important
    }
a[href="/mfw"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    font-size: 30px !important;
    line-height: 30px !important;
    visibility: visible
    }
a[href="/mfw"] strong {
    font-family: Impact, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 30px !important;
    line-height: 30px !important;
    position: absolute !important;
    bottom: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    visibility: visible
    }

/*shitgotreal*/
a[href="/shitgotreal"] {
    width: 640px !important;
    height: 480px !important;
    cursor: default !important;
    display: inline-block !important;
    background-image: url(%%shitgotreal%%) !important;
    background-repeat: no-repeat !important;
    /* background-position: 0 0px!important; */
    text-align: center !important;
    color: White !important;
    font-family: Impact, sans-serif !important;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black !important;
    overflow: hidden !important;
    position: relative !important;
    text-transform: uppercase !important
    }
a[href="/shitgotreal"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    font-size: 30px !important;
    line-height: 30px !important;
    visibility: visible
    }
a[href="/shitgotreal"] strong {
    font-family: Impact, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 30px !important;
    line-height: 30px !important;
    position: absolute !important;
    bottom: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    visibility: visible
    }

/*trees*/
a[href="/trees"] {
    width: 640px !important;
    height: 480px !important;
    cursor: default !important;
    display: inline-block !important;
    background-image: url(%%trees%%) !important;
    background-repeat: no-repeat !important;
    /* background-position: 0 0px!important; */
    text-align: center !important;
    color: White !important;
    font-family: Impact, sans-serif !important;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black !important;
    overflow: hidden !important;
    position: relative !important;
    text-transform: uppercase !important
    }
a[href="/trees"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    font-size: 30px !important;
    line-height: 30px !important;
    visibility: visible
    }
a[href="/trees"] strong {
    font-family: Impact, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 30px !important;
    line-height: 30px !important;
    position: absolute !important;
    bottom: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    visibility: visible
    }

/*theseponies*/
a[href="/theseponies"] {
    width: 640px !important;
    height: 480px !important;
    cursor: default !important;
    display: inline-block !important;
    background-image: url(%%theseponies%%) !important;
    background-repeat: no-repeat !important;
    /* background-position: 0 0px!important; */
    text-align: center !important;
    color: White !important;
    font-family: Impact, sans-serif !important;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black !important;
    overflow: hidden !important;
    position: relative !important;
    text-transform: uppercase !important
    }
a[href="/theseponies"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    font-size: 30px !important;
    line-height: 30px !important;
    visibility: visible
    }
a[href="/theseponies"] strong {
    font-family: Impact, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 30px !important;
    line-height: 30px !important;
    position: absolute !important;
    bottom: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    visibility: visible
    }

/*swag*/
a[href="/swag"] {
    width: 640px !important;
    height: 480px !important;
    cursor: default !important;
    display: inline-block !important;
    background-image: url(%%swag%%) !important;
    background-repeat: no-repeat !important;
    /* background-position: 0 0px!important; */
    text-align: center !important;
    color: White !important;
    font-family: Impact, sans-serif !important;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black !important;
    overflow: hidden !important;
    position: relative !important;
    text-transform: uppercase !important
    }
a[href="/swag"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    font-size: 30px !important;
    line-height: 30px !important;
    visibility: visible
    }
a[href="/swag"] strong {
    font-family: Impact, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 30px !important;
    line-height: 30px !important;
    position: absolute !important;
    bottom: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    visibility: visible
    }

/*idontknow*/
a[href="/idontknow"] {
    width: 640px !important;
    height: 480px !important;
    cursor: default !important;
    display: inline-block !important;
    background-image: url(%%idontknow%%) !important;
    background-repeat: no-repeat !important;
    /* background-position: 0 0px!important; */
    text-align: center !important;
    color: White !important;
    font-family: Impact, sans-serif !important;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black !important;
    overflow: hidden !important;
    position: relative !important;
    text-transform: uppercase !important
    }
a[href="/idontknow"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    font-size: 30px !important;
    line-height: 30px !important;
    visibility: visible
    }
a[href="/idontknow"] strong {
    font-family: Impact, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 30px !important;
    line-height: 30px !important;
    position: absolute !important;
    bottom: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    visibility: visible
    }

/*stayawhile*/
a[href="/stayawhile"] {
    width: 640px !important;
    height: 480px !important;
    cursor: default !important;
    display: inline-block !important;
    background-image: url(%%stayawhile%%) !important;
    background-repeat: no-repeat !important;
    /* background-position: 0 0px!important; */
    text-align: center !important;
    color: White !important;
    font-family: Impact, sans-serif !important;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black !important;
    overflow: hidden !important;
    position: relative !important;
    text-transform: uppercase !important
    }
a[href="/stayawhile"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    font-size: 30px !important;
    line-height: 30px !important;
    visibility: visible
    }
a[href="/stayawhile"] strong {
    font-family: Impact, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 30px !important;
    line-height: 30px !important;
    position: absolute !important;
    bottom: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    visibility: visible
    }

/*hairninja*/
a[href="/hairninja"] {
    width: 640px !important;
    height: 480px !important;
    cursor: default !important;
    display: inline-block !important;
    background-image: url(%%hairninja%%) !important;
    background-repeat: no-repeat !important;
    /* background-position: 0 0px!important; */
    text-align: center !important;
    color: White !important;
    font-family: Impact, sans-serif !important;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black !important;
    overflow: hidden !important;
    position: relative !important;
    text-transform: uppercase !important
    }
a[href="/hairninja"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    font-size: 30px !important;
    line-height: 30px !important;
    visibility: visible
    }
a[href="/hairninja"] strong {
    font-family: Impact, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 30px !important;
    line-height: 30px !important;
    position: absolute !important;
    bottom: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    visibility: visible
    }

/*imabird*/
a[href="/imabird"] {
    width: 640px !important;
    height: 480px !important;
    cursor: default !important;
    display: inline-block !important;
    background-image: url(%%imabird%%) !important;
    background-repeat: no-repeat !important;
    /* background-position: 0 0px!important; */
    text-align: center !important;
    color: White !important;
    font-family: Impact, sans-serif !important;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black !important;
    overflow: hidden !important;
    position: relative !important;
    text-transform: uppercase !important
    }
a[href="/imabird"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    font-size: 30px !important;
    line-height: 30px !important;
    visibility: visible
    }
a[href="/imabird"] strong {
    font-family: Impact, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 30px !important;
    line-height: 30px !important;
    position: absolute !important;
    bottom: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    visibility: visible
    }
/*ponytails*/
a[href="/ponytails"] {
    width: 640px !important;
    height: 480px !important;
    cursor: default !important;
    display: inline-block !important;
    background-image: url(%%ponytails%%) !important;
    background-repeat: no-repeat !important;
    /* background-position: 0 0px!important; */
    text-align: center !important;
    color: White !important;
    font-family: Impact, sans-serif !important;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black !important;
    overflow: hidden !important;
    position: relative !important;
    text-transform: uppercase !important
    }
a[href="/ponytails"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    font-size: 30px !important;
    line-height: 30px !important;
    visibility: visible
    }
a[href="/ponytails"] strong {
    font-family: Impact, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 30px !important;
    line-height: 30px !important;
    position: absolute !important;
    bottom: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    visibility: visible
    }
/*whatisthis*/
a[href="/whatisthis"] {
    width: 640px !important;
    height: 480px !important;
    cursor: default !important;
    display: inline-block !important;
    background-image: url(%%whatisthis%%) !important;
    background-repeat: no-repeat !important;
    /* background-position: 0 0px!important; */
    text-align: center !important;
    color: White !important;
    font-family: Impact, sans-serif !important;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black !important;
    overflow: hidden !important;
    position: relative !important;
    text-transform: uppercase !important
    }
a[href="/whatisthis"] em {
    font-style: normal !important;
    position: absolute !important;
    top: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    font-size: 30px !important;
    line-height: 30px !important;
    visibility: visible
    }
a[href="/whatisthis"] strong {
    font-family: Impact, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 30px !important;
    line-height: 30px !important;
    position: absolute !important;
    bottom: 5px !important;
    width: 400px !important;
    left: 50% !important;
    margin-left: -200px !important;
    visibility: visible
    }