/***BANNER***/

#header-bottom-left {
background-color: #8B6969;
background: url(%%Name%%) no-repeat center top
}

/***COLOR***/

#header {
background-color: #7F7F7F;
}

body {
color: #000000;
background-color: #BFBFBF;
}

.side {
background-color: #BFBFBF;
}

.thing .usertext-body .md {
background-color: transparent;
}

.comment {
background-color: transparent;
}

.comment .child {
background-color: transparent;
}

.res .keyHighlight {
background-color: #CCCCCC;
}

/***EMOTES***/

a[href="/chatteeyup"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 76px;
Height: 76px;
background-image: url(%%chatteeyup%%) !important
}

a[href="/cb2"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 76px;
Height: 76px;
background-image: url(%%chatteeyup%%) !important
}

a[href="/rchatteeyup"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 76px;
Height: 76px;
background-image: url(%%chatteeyup-r%%) !important
}

a[href="/rcb2"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 76px;
Height: 76px;
background-image: url(%%chatteeyup-r%%) !important
}

a[href="/chatterhmmm"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 74px;
Height: 77px;
background-image: url(%%hmmm%%) !important
}

a[href="/cb3"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 74px;
Height: 77px;
background-image: url(%%hmmm%%) !important
}

a[href="/rchatterhmmm"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 76px;
Height: 76px;
background-image: url(%%ruhhh%%) !important
}

a[href="/rcb3"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 74px;
Height: 77px;
background-image: url(%%ruhhh%%) !important
}

a[href="/fortune"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 70px;
Height: 77px;
background-image: url(%%fortune%%) !important
}

a[href="/f0"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 70px;
Height: 77px;
background-image: url(%%fortune%%) !important
}

a[href="/rfortune"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 71px;
Height: 76px;
background-image: url(%%rfortune%%) !important
}

a[href="/rf0"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 71px;
Height: 77px;
background-image: url(%%rfortune%%) !important
}

a[href="/fortunehappy"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 77px;
Height: 76px;
background-image: url(%%fortunehappy%%) !important
}

a[href="/f2"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 77px;
Height: 76px;
background-image: url(%%fortunehappy%%) !important
}

a[href="/rfortunehappy"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 76px;
Height: 77px;
background-image: url(%%rfortunehappy%%) !important
}

a[href="/rf2"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 77px;
Height: 76px;
background-image: url(%%rfortunehappy%%) !important
}

a[href="/shadow"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 71px;
Height: 77px;
background-image: url(%%shadow%%) !important
}

a[href="/sh0"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 71px;
Height: 77px;
background-image: url(%%shadow%%) !important
}

a[href="/rshadow"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 71px;
Height: 77px;
background-image: url(%%rshadow%%) !important
}

a[href="/rsh0"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 71px;
Height: 77px;
background-image: url(%%rshadow%%) !important
}

a[href="/bleusalute"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 79px;
Height: 78px;
background-image: url(%%bleusalute%%) !important
}

a[href="/rbleusalute"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 79px;
Height: 78px;
background-image: url(%%rbleusalute%%) !important
}

a[href="/bg0"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 79px;
Height: 78px;
background-image: url(%%bleusalute%%) !important
}

a[href="/rbg0"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 79px;
Height: 78px;
background-image: url(%%rbleusalute%%) !important
}

a[href="/chatter"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 77px;
Height: 77px;
background-image: url(%%chatter%%) !important
}

a[href="/cb0"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 77px;
Height: 77px;
background-image: url(%%chatter%%) !important
}

a[href="/rchatter"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 77px;
Height: 77px;
background-image: url(%%rchatter%%) !important
}

a[href="/rcb0"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 77px;
Height: 77px;
background-image: url(%%rchatter%%) !important
}

a[href="/chatterbored"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 72px;
Height: 77px;
background-image: url(%%chatterbored%%) !important
}

a[href="/cb1"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 72px;
Height: 77px;
background-image: url(%%chatterbored%%) !important
}

a[href="/rchatterbored"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 72px;
Height: 77px;
background-image: url(%%rchatterbored%%) !important
}

a[href="/rcb1"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 72px;
Height: 77px;
background-image: url(%%rchatterbored%%) !important
}

a[href="/fortunecry"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 77px;
Height: 77px;
background-image: url(%%fcry%%) !important
}

a[href="/f3"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 77px;
Height: 77px;
background-image: url(%%fcry%%) !important
}

a[href="/rfortunecry"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 77px;
Height: 77px;
background-image: url(%%rfcry%%) !important
}

a[href="/rf3"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 77px;
Height: 77px;
background-image: url(%%rfcry%%) !important
}

a[href="/fortunesquint"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 77px;
Height: 77px;
background-image: url(%%fortunesquint%%) !important
}

a[href="/f1"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 77px;
Height: 77px;
background-image: url(%%fortunesquint%%) !important
}

a[href="/rfortunesquint"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 77px;
Height: 77px;
background-image: url(%%rfortunesquint%%) !important
}

a[href="/rf1"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 77px;
Height: 77px;
background-image: url(%%rfortunesquint%%) !important
}

/***READERS/USERS***/

.subscribers .word {
display: none;
}

.subscribers .number::after {
content: " survivors";
}

.users-online .word {
display: none;
}

.users-online .number::after {
content: " reading/writing";
}

/***SUBMIT SETTINGS***/

.link .entry .tagline time:not(.edited-timestamp)::before {
content: "happened ";
font-size: x-small;
}

.link .entry .tagline {
font-size: 0px !important;
}

.link .entry .tagline time:not(.edited-timestamp)::after {
content: " ago with ";
font-size: x-small;
}

.link .entry .tagline time, .entry .tagline a, .tagline span {
color: #7F7F7F;
font-size: x-small;
}

.submit .morelink a {
font-size: 0;
content: 'Start surviving';
color: #7F7F7F;
}

.submit .morelink a::before {
content: 'Start Surviving';
font-size: 15px;
}

.nub {
display: none
}

/***ARROWS***/

.arrow.down {
visibility: hidden;
display: none
}

.arrow {
height: 20px;
width: 100px;
}

.arrow.upmod {
background-image: url(%%Upvote%%);
background-position: 0 0;
}

.arrow.up {
background-image: url(%%Vote%%);
background-position: 0 0;
}

.score.unvoted {
color: #8B8386 !important;
}

/*** MISCELLANEOUS***/

.rank {
color: #8B8386 !important;
}

.submit-page #reddit-field {
display: none;
}

header-bottom-right, .tabmenu li {
background-color: transparent;
color: #BFBFBF;
}

.tabmenu li a {
background-color: transparent !important;
color: #BFBFBF;
}

#header-bottom-right { 
background-color: #BFBFBF; 
padding: 4px; 
-moz-border-radius-topleft: 7px; 
-webkit-border-top-left-radius: 7px 
}

.sidebox .spacer {
display: none;
}