/*Header*/
#header
{
border-bottom:5px solid #5E77FF;
position:relative;
background-color:#A3B1FF;
z-index:99}


a[href|="/sonascratch"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 118px;
    background-image: url(%%sonascratch%%) !important
    }
a[href|="/pipteemo"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 137px;
    background-image: url(%%pipteemo%%) !important
    }
a[href|="/twilzahar"] {
    display: block;
    clear: none;
    float: left;
    width: 93px;
    height: 100px;
    background-image: url(%%twilzahar%%) !important
    }
a[href|="/twistedaj"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 95px;
    background-image: url(%%twistedaj%%) !important
    }
a[href|="/flulushy"] {
    display: block;
    clear: none;
    float: left;
    width: 199px;
    height: 200px;
    background-image: url(%%flulushy%%) !important
    }
a[href|="/tarity"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 122px;
    background-image: url(%%tarity%%) !important
    }
a[href|="/dashekaiser"] {
    display: block;
    clear: none;
    float: left;
    width: 138px;
    height: 150px;
    background-image: url(%%dashekaiser%%) !important
    }
a[href|="/darimina"] {
    display: block;
    clear: none;
    float: left;
    width: 181px;
    height: 200px;
    background-image: url(%%darimina%%) !important
    }
a[href|="/orianapie"] {
    display: block;
    clear: none;
    float: left;
    width: 102px;
    height: 150px;
    background-image: url(%%orianapie%%) !important
    }
a[href|="/luana"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 182px;
    background-image: url(%%luana%%) !important
    }
a[href|="/celesteona"] {
    display: block;
    clear: none;
    float: left;
    width: 171px;
    height: 200px;
    background-image: url(%%celesteona%%) !important
    }
a[href|="/tslulucrazy"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(%%tslulucrazy%%) !important
    }
a[href|="/trinx"] {
    display: block;
    clear: none;
    float: left;
    width: 170px;
    height: 200px;
    background-image: url(%%trinx%%) !important
    }
a[href|="/vyra"] {
    display: block;
    clear: none;
    float: left;
    width: 188px;
    height: 200px;
    background-image: url(%%vyra%%) !important
    }
a[href|="/derpie"] {
    display: block;
    clear: none;
    float: left;
    width: 119px;
    height: 200px;
    background-image: url(%%derpie%%) !important
    }
a[href|="/summonerbonbon"] {
    display: block;
    clear: none;
    float: left;
    width: 113px;
    height: 150px;
    background-image: url(%%summonerbonbon%%) !important
    }
a[href|="/berrygragas"] {
    display: block;
    clear: none;
    float: left;
    width: 130px;
    height: 150px;
    background-image: url(%%berrygragas%%) !important
    }
a[href|="/surprisepartypinkie"] {
    display: block;
    clear: none;
    float: left;
    width: 119px;
    height: 200px;
    background-image: url(%%surprisepartypinkie%%) !important
    }

/*Side Bar*/

.titlebox strong {
    font-size: medium
    }
.titlebox del {
    color: white
    }
.titlebox em {
    font-size: 9px;
    text-decoration: none;
    font-style: normal
    }
.titlebox strong em {
    font-size: 8px;
    font-style: normal;
    font-weight: normal
    }
.titlebox table {
    display: none;
    clear: both
    }
.side div.usertext-body:hover table {
    display: block;
    clear: both
    }