/*Nothing fancy here, now shoo.*/

div.titlebox span.word {display:none}
div.titlebox .subscribers span.number:after {content:" Spikes"}
div.titlebox .users-online span.number:after {content:" Spiking"}

/*Header sticking on the 'ground'*/

#header-img-a
{
 height:5px;
 position:relative;
 bottom:0px;
 left:0;
 top:0;
 margin-right:-10px;
 padding:0
}

#header-img
{
 margin:5px 3px -3px 0px;
 padding:0px 5px
}

/*Name replace*/

a.author.id-t2_8gh9f{content:"";font-size:0px!important;display:inline-block;vertical-align:bottom;overflow:hidden;letter-spacing:-20px}
a.author.id-t2_8gh9f:after{font-size:10px!important;display:block;letter-spacing:normal}
a.author.id-t2_8gh9f:after {content:" a horse"}

a.author.id-t2_aj4cg{content:"";font-size:0px!important;display:inline-block;vertical-align:bottom;overflow:hidden;letter-spacing:-20px}
a.author.id-t2_aj4cg:after{font-size:10px!important;display:block;letter-spacing:normal}
a.author.id-t2_aj4cg:after {content:" uo‾ouǝ"}

a.author.id-t2_a26t0{content:"";font-size:0px!important;display:inline-block;vertical-align:bottom;overflow:hidden;letter-spacing:-20px}
a.author.id-t2_a26t0:after{font-size:8px!important;display:block;letter-spacing:normal}
a.author.id-t2_a26t0:after {content:"I had nothing to do with anything in here"}

a.author .ChickenSteve{content:"";font-size:0px!important;display:inline-block;vertical-align:bottom;overflow:hidden;letter-spacing:-20px}
a.author.ChickenSteve:after{font-size:10px!important;display:block;letter-spacing:normal}
a.author.ChickenSteve:after {content:" not_a_chick"}

/*Background (stolen from Plounge) for testing*/ 

body {
background: url(%%Alwayswatching%%)  
no-repeat fixed center center
}

/*Ponymotes*/

a[href="/spikeurgh"],a[href="/spikehmph"],a[href="/spikeangry"],a[href="/angryspike"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 64px;
Height: 78px;
background-image: url(%%spikehmph%%) !important
}

a[href="/fluttersquint"], a[href="/fssquint"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 70px;
Height: 69px;
background-image: url(%%fluttersquint%%) !important
}

a[href="/caesar"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 70px;
Height: 77px;
background-image: url(%%caesar%%) !important
}


a[href="/sbload"],a[href="/sbthrobber"],a[href="/sbbusy"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 72px;
Height: 82px;
background-image: url(%%sbload%%) !important
}

a[href="/rdwut"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 70px;
Height: 70px;
background-image: url(%%rdwut%%) !important
}

a[href="/trufflepaper"],a[href="/trufflenews"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 200px;
Height: 155px;
background-image: url(%%trufflepaper%%) !important
}

a[href="/sbtarget"],a[href="/sweetiebottarget"],a[href="/sbmissile"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 200px;
Height: 200px;
background-image: url(%%sbtarget%%) !important
}

a[href="/sbsquint"]{
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 70px;
Height: 70px;
background-image: url(%%sbsquint%%) !important
}

a[href="/hornymare"]{
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 155px;
Height: 200px;
background-image: url(%%hornymare%%) !important
}

a[href="/coloneye"],a[href="/sweetiemote"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 122px;
Height: 150px;
background-image: url(%%coloneye%%) !important
}


a[href|="/sp"]
{
 display:inline-block;
 padding-right:100%;
 width:0px;
 height:0px
}


/*Tabthingy*/
.tabmenu li a {
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-topleft: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

/*  
*************************  
*** My Reddits Drop down list  
*************************  
*/  

.drop-choices{  
    background-color:#333 !important;  
    border:2px solid #0088CC;  
    border-radius:7px !important;  
    padding: 2px 10px;  
}  
.drop-choices a {  
    color:#999  !important;  
}  
#sr-header-area div.srdrop a.choice.bottom-option {  
    color: white !important;  
}  
#sr-header-area div.drop-choices a.choice:hover {  
    background-color: #333 !important;  
    color: white !important;  
}  

/*Replaces self post and NSFW thumbnail with Fine Line*/
.thumbnail.self {
    background-image: url(%%flsmilerandbrigshgisathumbnail%%);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-position: 0px 0px;
}
.thumbnail.nsfw {
    background-image: url(%%nsfw%%);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-position: 0px 0px;
}

/*Title flair*/
.linkflair-important .linkflairlabel {display:none;}
.linkflair-important p.title a.title {opacity:0;}
.linkflair-important p.title a.title:hover {opacity:100;}
.linkflair-important p.title:before
{
 content:"THIS IS SOMEHOW IMPORTANT";
 font-size:12px;
 color:#888;
 border:1px solid #888;
 border-radius:3px;
 position:relative;
 padding:0px 2px;
 margin-right:2px;
 top:-1px;


