/*Emotes!*/

/*sweetieshake, credit to drpancakees.deviantart.com*/

a[href="/sweetieshake"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 176px;
    background-image:url(%%sweetieshake-emote-flat%%);
}

/*veganshy, credit to thelivingmachine02*/

a[href="/veganshy"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 153px;
    background-image:url(%%veganshy%%);
}

/*abhasty, as stolen from a clip of the show*/

a[href="/abhasty"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 162px;
    background-image:url(%%abhastey%%);
}

/*angelsalad, credit to qwertyCZ @ DeviantArt*/

a[href="/angelsalad"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 188px;
    background-image: url(%%angelsalad%%);
}

/*hotsauce, credit to The-Smiling-Pony @ DeviantArt*/

a[href="/hotsauce"] {
    display: block;
    clear: none;
    float: left;
    width: 56px;
    height: 150px;
    background-image: url(%%hotsauce%%);
}

#header-img {
    background-image: url(%%header-img%%);
}