/* Removed !important from all the emotes. Unnecessary and breaks things. -derram */ 

/* Called Derram a cunth - Conky */

/*CSS pre-derram fuckery: http://pastebin.com/dgDEPi34 | https://dl.dropbox.com/u/1277953/foodmanes.zip */

/* LETS ORGANIZE THIS SHIT, I LIKE SHIT ORGANIZED

lolyeah organization in foodmanes okay

1. THE RULES: FUCKINGFOOD MANES MAN


 */


.flair-bestfilly {
    color:white;
    border: 0;
    background: teal url(%%pepperminttwist%%) top left no-repeat;
    height: 162px;
    width: 150px;
    top: 0px;
    text-indent: 1px;
}



/* Background Image (Avebone, don't change this(Fixed it for you ~Quill)) */
body {
	background: url(%%fillytacoback%%) no-repeat fixed center bottom transparent !important;
}

#siteTable .entry.dislikes .buttons:before {
content: "You really disabled the CSS just to downvote this?";
color: red;
font-size: 8pt
}

#siteTable .entry.dislikes:after {
content:    url(%%yes%%);
position: fixed;
/* Used for centering (bottom Jcenter) */
bottom: 0px;
left: 50%;
opacity: 0.01;
filter: alpha(opacity=5);
margin-left: -577px;
/* 0.5 the image width */
z-index: -100
}

#siteTable .entry.likes:after {
content: url(%%themagicalcouch%%);
position: fixed;
/* Used for centering (bottom center) */
bottom: 0px;
left: 50%;
margin-left: 140px;
/* 0.5 the image width */
z-index: -100
}

.arrow.down{visibility:hidden;display:none;}

.modactions.approvelink {
 background-image:url(%%floutstalin%%);background-position: -17px -561px;background-repeat: no-repeat;
}

/* Emotes */
a[href|="/lcheese"], a[href|="/rmallow"]
{
    background-image: url(%%Emote1%%);
    clear: none;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
}
a[href|="/lcheese"]
{
    background-position: 0 0px;
}
a[href|="/rmallow"]
{
    background-position: -93px 0;
}

/* RD Skittles */

h3 {
    font-size: 30pt;
    font-weight: bolder;
    color: red
    }


div.titlebox span.word {  
display: none  
}  
div.titlebox span.number:after {  
content: ",000 People that are literally Hitler plus 1 Ave"
}  


/* Best Filly Sidebar */
.side a[href="http://www.reddit.com/r/MyLittleFoodManes/new"] {
    display: block;
    height: 92px;
    width: 120px;
    background: url(%%fillybacon%%);
    position: fixed;
    top: 260px;
    right: -20px;
    z-index: 999
    }


.linkflair-pmod .author 
{
    background-color: #228822 !important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: white !important;
    font-weight: bold;
    padding: 0 2px;
}
.linkflair-pmod .author:hover
{
    background-color: #134913 !important;
    text-decoration: none !important;
}

.linkflair-pmod .tagline:after
{
    content: "[M]";
    color: #888888 !important;
    font-size: x-small;
}

.linkflair-pmod .tagline:after :first-letter
{
    color: #888888 !important;
}

a.author[href$="YarnTheory"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="YarnTheory"]:after {
    content: "YamTheory";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }

a.author[href$="dda1add"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="dda1add"]:after {
    content: "Trigger Jim";
    /*font-family: "wingdings", cursive;*/
    font-size: 7px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }


a.author[href$="Apprentice1994"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="Apprentice1994"]:after {
    content: "Hus anyune rually buun far evun as decided to use even gu wunt tu du luuk mure luke?";
   /* font-family: "wingdings", cursive;*/
    font-size: 12px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }

a.author[href$="spokesthebrony"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="spokesthebrony"]:after {
    content: "New Guy";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }
a.author[href$="whisperingsage"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="whisperingsage"]:after {
    content: "Godzilla of Puke";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }

a.author[href$="MemeticOutlaw"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="MemeticOutlaw"]:after {
    content: "(Get a Load of this Guy)";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }


a.author[href$="JustinRL_2point0"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="JustinRL_2point0"]:after {
    content: "JustinRL_2point0";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }
a.author[href$="JustinRL_2point0"]:hover:after {
    content: "FIRED";
    color: red;
    font-size: 20px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }
a.author[href$="selenic_smile"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="selenic_smile"]:after {
    /*content: "The invincible lurker";
    font-family: "wingdings", cursive;*/
    font-size: 12px !important;
    color:  #00F5FF;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }
a.author[href$="selenic_smile"]:hover:after {
    content: "Stays in the shadows";
    font-size: 10px !important;
    color: black;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }
a.author[href$="Esplin"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="Esplin"]:after {
    content: "Floaty the Lyra";
    color: #43D58C;
  /*  font-family: "wingdings", cursive;*/
    font-size: 12px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }

a.author[href$="TheQuillmaster"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="TheQuillmaster"]:after {
    content: "TheQuailmaster";
    /*font-family: "wingdings", cursive;*/
    font-size: 12px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }

a.author[href$="/mattymo243"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
}

a.author[href$="/mattymo243"]:after {
    content: "Eyelash";
    font-size: 12px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
}

a.author[href$="BettyMcBitterpants"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="BettyMcBitterpants"]:after {
    content: "BettyMcRagepants, Savior of Foodmanes";
    /*font-family: "wingdings", cursive;*/
    font-size: 14px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }

a.author[href$="bryvood"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="bryvood"]:after {
    content: "Not Shaggy Anymore";
    /*font-family: "wingdings", cursive;*/
    font-size: 12px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }

a.author[href$="Generic_Builder"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$=Generic_Builder]:before {
    content: "Wookie";
    font-size: 18px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }

a.author[href$="Conky_"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="Conky_"]:after {
    content: "Two wieners";
    font-family: "wingdings", cursive;
    font-size: 16px !important;
    color: red;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    
    }

a.author[href$="tacomantotherescue"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="tacomantotherescue"]:after {
    content: "tacoshy";
    font-size: 12px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }

a.author[href$="Beatbawx"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="Beatbawx"]:after {
    content: "General Faget";
    font-size: 11px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }

a.author[href$="UDNTNOME"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }

a.author[href$="UDNTNOME"]:after {
    content: " Terrible ";
    font-size: 9px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }

a.author[href$="maku450"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }

a.author[href$="maku450"]:after {
    content: "No Maku. No.";
    font-size: 12px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }

a.author[href$="theMagicalCouch"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="theMagicalCouch"]:after {
    content: "[deleted]";
    font-size: 12px !important;
    font-family: "comicsans", cursive;
    color: rgb(136,136,136) !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }
a.author[href$="The_Jaxom"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="The_Jaxom"]:after {
    content: "Jolly Jim the Seacow";
    font-size: 25px !important;
    visibility: visible !important;
    display: block;
    color: #FF7F00;
    letter-spacing: normal
    }
a.author[href$="Avebone"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="Avebone"]:after {
    content: "The Cripple Casanova";
    /*font-family: "wingdings", cursive;*/
    font-size: 12px !important;
    visibility: visible !important;
    /*color: #008000;*/
    display: block;
    letter-spacing: normal
    }
a.author[href$="Avebone"]:hover:after {
    content: "Quail is literally going to art school";
    font-size: 14px !important;
    visibility: visible !important;
    color: red;
    display: block;
    letter-spacing: normal
    }

a.author[href$="floutsy"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="floutsy"]:after {
    content: "nou";
    font-size: 12px !important;
    visibility: visible !important;
    /*color: #008000;*/
    display: block;
    letter-spacing: normal
    }

a.author[href$="31eipekili"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="31eipekili"]:after {
    content: "I NEED A FUNNY NAME";
    font-size: 12px !important;
    visibility: visible !important;
    color: green;
    display: block;
    letter-spacing: normal
    }

a.author[href$="insanitydash"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="insanitydash"]:after {
    content: "insanitydash";
    font-size: 2px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal

    }
/*End username changes*/
.thumbnail.self {
    background-image: url(%%mynKi%%);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-position: 0px 0px
    }

a.author[href$="StabbyTheLlama"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="StabbyTheLlama"]:after {
    content: "Nigga-I-Like-Trains";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }

/* text effects- for fucks sake, why is this not here already? */
a[href="/spoiler"] {
    background: black !important;
    color: black !important
    }
a[href="/spoiler"]:hover {
    color: white !important
    }
/*
body {
    font-family: "wingdings", cursive;
}

*/

/***********************
*
*        Conky's extra special cool CSS shit. 8=====D~~~~
*   
************************/

/*** Nightmode fixes for the background ***/
.content #siteTable div[onclick="click_thing(this)"] {
    background-color: transparent !important
    }
body.res-nightmode:first-of-type > .content {
    background-color: transparent !important
    }
body.res-nightmode:first-of-type {
    background-color: transparent !important
    }

/*** Adds a neat style for ####text in posts. (Shamelessly jacked from /r/mylittleandysonic1, I don;t think they'll mind though ***/
.usertext-body h4 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: black;
    text-align: center;
    padding: 3px;
    border-radius: 19px;
    -moz-border-radius: 19px;
    box-shadow: 2px 2px 5px blue;
    text-shadow: 1px 1px green
    }
/* Make the "community settings" text box bigger, because it's an unreadable clusterfuck when it's small. */
.fancy-settings .linefield {
    width: 914px
    }
.fancy-settings textarea {
    width: 892px;
    height: 500px
    }
/* Also make the CSS text box bigger, because why not. */
.stylesheet-customize-container textarea {
    height: 500px
    }



/*** Submit a link -> Create a submission ***/

.sidebox.submit .morelink:before {
    display: block;
    clear: none;
    content: "Create a Submission";
    text-align: center;
    color: #369;
    width: 101%
    }
.sidebox.submit .morelink a {
    position: absolute;
    top: 0;
    font-size: 1px;
    text-align: right;
    color: #f2f8fd
    }
.sidebox.submit .morelink:hover:before {
    color: blue
    }
.sidebox.submit:hover a {
    color: #b4cee5
    }
.sidebox .subtitle:before {
    display: block;
    clear: none;
    content: "Post: LoL, Jokes, And ponies with food for manes. ";
    color: dimgrey;
    font-size: 8pt !important
    }
.sidebox .subtitle {
    font-size: 0px
    }
.sidebox.create {
    display: none
    }
.sidebox.submit .spacer a {
    background-image: url(%%submissiontavia%%);
    background-position: -0px -0px;
    background-repeat: no-repeat
    }


/*** Search bar Foodmane ***/

#search input[type="text"] {
    background: url(%%berrybar%%) bottom left no-repeat !important;
    padding: 13px 2px 15px 70px;
    height: 20px !important;
    width: 222px
    }

/***  Dat Banner?  ***/
#header-bottom-left {
    background-color:  #8B6969;
    background: url(%%Banner%%) no-repeat center bottom
    }



/***  Emotes ***/

a[href|="/pepperminttwist"]
{

 background-image: url(%%pepperminttwist%%);
    clear: none;
    display: block;
    float: left;
    height: 150px;
    width: 158px;
}

a[href|="/espeefun"]
{

 background-image: url(%%espy%%);
    clear: none;
    display: block;
    float: left;
    height: 152px;
    width: 214px;
}



a[href|="/twiststare"]
{

 background-image: url(%%twiststare%%);
    clear: none;
    display: block;
    float: left;
    height: 70px;
    width: 70px;

}

/*** Bottom page Foodmane  ***/
.footer-parent {
    height: 1000px;
    padding-top: 30px;
    padding-bottom: 40px;
    clear: both;
    text-align: center;
    width: 100%;
    background-image: url(%%twiFooter%%);
    background-position: bottom center;
    background-repeat: no-repeat;
    margin-bottom: 4px
    }


/*** Nightmode fixes for the background ***/
.content #siteTable div[onclick="click_thing(this)"] {
    background-color: transparent !important
    }
body.res-nightmode:first-of-type > .content {
    background-color: transparent !important
    }
body.res-nightmode:first-of-type {
    background-color: transparent !important
    }

/* TACO TACO TACO TACO TACO TACO TACO TACO TACO TACO TACO TACO TACO TACO TACO TACO TACO TACO TACO TACO TACO TACO TACO TACO TACO 
*/

/* I AM BREAKING SHIT, FUCK YO SHIT, BRO */



/***   SPRITE SHEETS   ***/

a[href|="/buttershy"], a[href|="/derpymousse"], a[href|="/disugh"], a[href|="/flutterchilli"], a[href|="/flutterrex"], a[href|="/foodlove"], a[href|="/twiraptor"], a[href|="/udnt"] { 


    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image:url(%%foodsheet%%)
    }


a[href|="/buttershy"] {
    width: 150px;
    height: 150px;
    background-position: -161px -322px;
}

a[href|="/derpymousse"] {
    width: 150px;
    height: 150px;
    background-position: -0px -322px;
}

a[href|="/disugh"] {
    width: 150px;
    height: 150px;
    background-position: -322px -161px;
}

a[href|="/flutterchilli"] {
    width: 150px;
    height: 150px;
    background-position: -322px -0px;
}

a[href|="/flutterrex"] {
    width: 150px;
    height: 150px;
    background-position: -161px -161px;
}

a[href|="/foodlove"] {
    width: 150px;
    height: 150px;
    background-position: -0px -161px;
}

a[href|="/twiraptor"] {
    width: 150px;
    height: 150px;
    background-position: -161px -0px;
}

a[href|="/udnt"] {
    width: 150px;
    height: 150px;
    background-position: -0px -0px;
}

/***   SPRITE SHEETS 200x200   ***/

a[href|="/twistballs"], a[href|="/mcragepants"] { 


    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 205px;
    background-image:url(%%mcrage%%) 
    }

a[href|="/twistballs"] {
    width: 200px;
    height: 205px;
    background-position: -0px -0px;
}

a[href|="/mcragepants"] {
    width: 200px;
    height: 205px;
    background-position: -200px -0px;
}


a[href|="/gak"]
{

 background-image: url(%%gak%%);
    clear: none;
    display: block;
    float: left;
    height: 200px;
    width: 187px

}
a[href|="/applesaurus"],  a[href|="/bro"],  a[href|="/bryvood"],  a[href|="/choctavia"], a[href|="/clamyam"], a[href|="/colgatemunism"], a[href|="/colgatemunist"], a[href|="/conky"], a[href|="/sbtaffy"],   a[href|="/fillytacoshy"],   a[href|="/floutstalin"],   a[href|="/floutsy"],   a[href|="/greatrage"],   a[href|="/greatyamsoffire"],   a[href|="/hitmonmatt"],   a[href|="/lyrasup"],   a[href|="/macinmane"],   a[href|="/mechahitler"],   a[href|="/quillmaster"],   a[href|="/rariberry"],   a[href|="/rdskittles"],   a[href|="/sage"],   a[href|="/sagepuke"],   a[href|="/sexualpleasure"],   a[href|="/suckitave"],   a[href|="/tacoshy"],   a[href|="/themagicalcouch"],   a[href|="/wololo"]{   

 background-image: url(%%transparentsheet%%);
    clear: none;
    display: block;
    float: left; }
a[href|="/applesaurus"] {width:174px; height:200px; background-position: -2px -204px}
a[href|="/bro"] {width:200px; height:255px; background-position: -381px -430px}
a[href|="/bryvood"] {width:256px; height:289px; background-position: -905px -430px}
a[href|="/choctavia"] {width:141px; height:245px; background-position: -2px -430px}
a[href|="/clamyam"] {width:268px; height:200px; background-position: -178px -204px}
a[href|="/colgatemunism"], a[href|="/colgatemunist"]{width:150px; height:196px; background-position: -1168px -2px}
a[href|="/conky"] {width:300px; height:128px; background-position: -133px -2px}
a[href|="/sbtaffy"] {width:652px; height:565px; background-position: -944px -722px}
a[href|="/fillytacoshy"] {width:200px; height:158px; background-position: -739px -2px}
a[href|="/floutstalin"] {width:277px; height:290px; background-position: -1442px -430px}
a[href|="/floutsy"] {width:277px; height:290px; background-position: -1163px -430px}
a[href|="/greatrage"] {width:339px; height:200px; background-position: -1320px -2px}
a[href|="/greatyamsoffire"] {width:325px; height:217px; background-position: -1250px -204px}
a[href|="/hitmonmatt"] {width:400px; height:300px; background-position: -240px -722px}
a[href|="/lyrasup"] {width:225px; height:173px; background-position: -941px -2px}
a[href|="/macinmane"] {width:150px; height:143px; background-position: -435px -2px}
a[href|="/mechahitler"] {width:236px; height:300px; background-position: -2px -722px}
a[href|="/quillmaster"] {width:320px; height:272px; background-position: -583px -430px}
a[href|="/rariberry"] {width:200px; height:203px; background-position: -448px -204px}
a[href|="/rdskittles"] {width:200px; height:200px; background-position: -1661px -2px}
a[href|="/sage"] {width:191px; height:224px; background-position: -1577px -204px}
a[href|="/sagepuke"] {width:234px; height:250px; background-position: -145px -430px}
a[href|="/sexualpleasure"] {width:129px; height:117px; background-position: -2px -2px}
a[href|="/suckitave"] {width:288px; height:205px; background-position: -650px -204px}
a[href|="/tacoshy"] {width:300px; height:303px; background-position: -642px -722px}
a[href|="/themagicalcouch"] {width:308px; height:206px; background-position: -940px -204px}
a[href|="/wololo"] {width:150px; height:150px; background-position: -587px -2px}

a[href|="/ave"],a[href|="/doubledildo"],a[href|="/heresyourbeardemotesageireallyhopeyourehappywithyourself"],a[href|="/jax"],a[href|="/quails"],a[href|="/whatthefacannons"]{

 background-image: url(%%backgroundssheet%%);
    clear: none;
    display: block;
    float: left; }

a[href|="/ave"] {width:941px; height:509px; background-position: -2px -2px}
a[href|="/doubledildo"] {width:157px; height:114px; background-position: -2px -513px}
a[href|="/heresyourbeardemotesageireallyhopeyourehappywithyourself"] {width:267px; height:177px; background-position: -161px -513px}
a[href|="/jax"] {width:368px; height:280px; background-position: -430px -513px}
a[href|="/quails"] {width:604px; height:453px; background-position: -2px -795px}
a[href|="/whatthefacannons"] {width:478px; height:300px; background-position: -2px -1250px}


/***   POST SPRITE SHEETS (To do once levels become higher)   ***/

a[href|="/rwololo"]
{

 background-image: url(%%rwololo%%) ;
    clear: none;
    display: block;
    float: left;
    height: 150px;
    width: 150px;

}

a[href|="/thisisnowcanon"]
{

 background-image: url(%%canon%%);
    clear: none;
    display: block;
    float: left;
    height: 285px;
    width: 246px;

}

a[href|="/twicandy"]
{

 background-image: url(%%twicandy%%);
    clear: none;
    display: block;
    float: left;
    height: 150px;
    width: 122px;

}

a[href|="/betty"]
{

 background-image: url(%%betty%%);
    clear: none;
    display: block;
    float: left;
    height: 133px;
    width: 150px;

}

a[href|="/sweetiesteak"]
{

 background-image: url(%%sweetiesteak%%);
    clear: none;
    display: block;
    float: left;
    height: 122px;
    width: 200px;

}

a[href|="/spitfirefire"]
{

 background-image: url(%%spitfire%%);
    clear: none;
    display: block;
    float: left;
    height: 181px;
    width: 200px;

}

a[href|="/likeoneofus"]
{

 background-image: url(%%likeoneofus%%);
    clear: none;
    display: block;
    float: left;
    height: 173px;
    width: 220px;

}
a[href|="/youreawesome"]
{

 background-image: url(%%youreawesome%%);
    clear: none;
    display: block;
    float: left;
    height: 275px;
    width: 200px;

}
a[href|="/milkymane"]
{

 background-image: url(%%milkymane%%);
    clear: none;
    display: block;
    float: left;
    height: 200px;
    width: 258px;

}

a[href|="/youreawesome"]
{

 background-image: url(%%youreawesome%%);
    clear: none;
    display: block;
    float: left;
    height: 275px;
    width: 200px;

}

a[href|="/moarmoe"]
{

 background-image: url(%%123%%);
    clear: none;
    display: block;
    float: left;
    height: 317px;
    width: 250px;
}

a[href|="/potatojob"]
{

 background-image: url(%%potatojob%%);
    clear: none;
    display: block;
    float: left;
    height: 150px;
    width: 116px;
}




/*** Title Box ***/

.side .titlebox .redditname a {
    background: url(%%box%%);
    display: block;
    width: 247px;
    height: 115px;
    float: none;
    font-size: 0
    }

/*** Corner Foodmane ***/
#header-bottom-right {
    background: url(%%foodcollage%%) no-repeat center bottom
    }