/*************************

         MILKY CSS


         Please contact Conky_ if you're going to change anything largely cosmetic, adding emotes or anything, name changes and other menial altercations are fine, as long as the person knows and shit. Kaaay thanks.

****************************/


/* If you're in here, and don't know what you're doing, please leave. If you do know what you're doing, add whatever, but try and leave everything as is, Thanks <3 */



/*** Adds a neat style for ####text in posts. ***/
.usertext-body h4 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: black;
    text-align: center;
    padding: 3px;
    border-radius: 19px;
    -moz-border-radius: 19px;
    box-shadow: 2px 2px 5px blue;
    text-shadow: 1px 1px green
    }

/* Make the "community settings" text box bigger, because it's an unreadable clusterfuck when it's small. */
.fancy-settings .linefield {
    width: 914px
    }
.fancy-settings textarea {
    width: 892px;
    height: 500px
    }
/* Also make the CSS text box bigger, because why not. */
.stylesheet-customize-container textarea {
    height: 500px
    }


/*** Submit a link -> Create a submission ***/

.sidebox.submit .morelink:before {
    display: block;
    clear: none;
    content: "Create a Submission";
    text-align: center;
    color: #369;
    width: 101%
    }
.sidebox.submit .morelink a {
    position: absolute;
    top: 0;
    font-size: 1px;
    text-align: right;
    color: #f2f8fd
    }
.sidebox.submit .morelink:hover:before {
    color: blue
    }
.sidebox.submit:hover a {
    color: #b4cee5
    }
.sidebox .subtitle:before {
    display: block;
    clear: none;
    content: "Post Milky Way, you fool ";
    color: dimgrey;
    font-size: 10pt !important
    }
.sidebox .subtitle {
    font-size: 0px
    }
.sidebox.create {
    display: none
    }
.sidebox.submit .spacer a {
    background-image: url(%%submission%%);
    background-position: -0px -0px;
    background-repeat: no-repeat
    }

/***********************
*
*         EMOTES
*   
************************/

a[href|="/milkymare"]
{

 background-image: url(%%qqqq%%);
    clear: none;
    display: block;
    float: left;
    height: 115px;
    width: 150px;
}

a[href|="/milkyway"]
{

 background-image: url(%%wreDG%%);
    clear: none;
    display: block;
    float: left;
    height: 122px;
    width: 150px;
}

a[href|="/milkycereal"]
{

 background-image: url(%%dDhSP%%);
    clear: none;
    display: block;
    float: left;
    height: 150px;
    width: 118px;
}

a[href|="/milkysalute"]
{

 background-image: url(%%milksalute%%);
    clear: none;
    display: block;
    float: left;
    height: 114px;
    width: 150px;
}

a[href|="/whynotmilk"]
{

 background-image: url(%%ibiAB59BMve9W1%%);
    clear: none;
    display: block;
    float: left;
    height: 129px;
    width: 150px;
}

a[href|="/milkyshocked"]
{

 background-image: url(%%milkyshocked%%);
    clear: none;
    display: block;
    float: left;
    height: 150px;
    width: 139px;
}

a[href|="/milkydelivery"]
{

 background-image: url(%%milkydelivery%%);
    clear: none;
    display: block;
    float: left;
    height: 136px;
    width: 150px;
}

a[href|="/milkyfilly"]
{

 background-image: url(%%milkyfilly%%);
    clear: none;
    display: block;
    float: left;
    height: 132px;
    width: 140px;
}

a[href|="/milkyblush"]
{

 background-image: url(%%milkyblush%%);
    clear: none;
    display: block;
    float: left;
    height: 135px;
    width: 145px;
}


a[href|="/milkymic"]
{

 background-image: url(%%milkymic%%);
    clear: none;
    display: block;
    float: left;
    height: 275px;
    width: 294px;
}




/*** Title Box ***/

.side .titlebox .redditname a {
    background: url(%%XCiMj%%);
    display: block;
    width: 255px;
    height: 115px;
    float: none;
    font-size: 0
    }

div.titlebox span.word {  
display: none  
}  
div.titlebox span.number:after {  
content: " Lusty Farm Hands"
}  
div.titlebox .users-online span.number:after {
content:" Being Milked"
}

/*** Search bar Milk ***/

#search input[type="text"] {
    background: url(%%bar%%) bottom left no-repeat !important;
    padding: 13px 2px 15px 70px;
    height: 20px !important;
    width: 222px
    }




a.author[href$="Conky_"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="Conky_"]:after {
    content: "Conky";
    /*font-family: "wingdings", cursive;*/
    font-size: 11px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }

a.author[href$="Esplin"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="Esplin"]:after {
    content: " Esploon ";
    /*font-family: "wingdings", cursive;*/
    font-size: 11px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }

a.author[href$="Avebone"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="Avebone"]:after {
    content: "Davebone [He hates you all]";
    /*font-family: "wingdings", cursive;*/
    font-size: 11px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }

a.author[href$="Phei"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="Phei"]:after {
    content: "Not Twilight [Seriously.]";
    /*font-family: "wingdings", cursive;*/
    font-size: 11px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }

/*** Mod Box Editing ***/

.sidecontentbox .helplink + .title > h1:before {
    font-size: 13px !important;
    content: "Milky Mods";
    display: inline-block
    }

.sidecontentbox a.helplink {
    font-size: 0px !important
    }

.sidecontentbox .helplink + .title > h1 {
    color: white !important;
    font-size: 0px !important;
    display: inline-block
    }

.sidecontentbox a.helplink:after {
    color: #369 !important;
    font-size: 11px !important;
    content: "message the milkers"
    }


/***********************
*
*             FLAIR
*   
************************/

.flair {
    padding: 0;
    background: none;
    color: black;
    border: 0;
    border-radius: 0;
    background-image: url(%%milkflair%%);
    display: inline-block;
    width: 30px;
    height: 30px
    }
.flair-cereal {
    background-position: 0px 0px
    }
.flair-milkystare {
    background-position: -30px 0px
    }
.flair-milkyway {
    background-position: 0px -30px
    }
.flair-milkydash {
    background-position: -30px -30px
    }
.flair-gakra {
    background-position: 0px -60px
    }
.flair-patrick {
    background-position: -30px -60px
    }
.flair-jug {
    background-position: 0px -90px
    }
.flair-bag {
    background-position: -30px -90px
    }
.flair-cutiemark {
    background-position: -0px -120px
    }


/***********************
*
*             BONUS CSS
*   
************************/

/* RES Nightmode flair fix */
.res-nightmode .tagline .flair {
    background-color: transparent !important
    }
.res-nightmode .side .md h3 {
    color: #DDD !important
    }
.res-nightmode .side .titlebox .usertext-body .md h3 {
    color: white !important
    }


/*************************

     MILKY POST FLAIR

****************************/



.side a[href="http://www.reddit.com/r/MyLittleMilkyWay/new"] {
    display: block;
    height: 85px;
    width: 90px;
    background: url(%%sidebarmilk%%);
    position: fixed;
    top: 260px;
    right: -20px;
    z-index: 999
    }


.linkflair-discussion .author 
{
    background-color: #6378FF !important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: white !important;
    font-weight: bold;
    padding: 0 2px;
}
.linkflair-discussion .author:hover
{
    background-color: #6378FF !important;
    text-decoration: none !important;
}

.linkflair-discussion .tagline:after
{
    content: "[This is SRS Business]";
    font-weight: bold;
    font-size: 12px;
}


.linkflair-crotch .author 
{
    background-color: #F0E784 !important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: black !important;
    font-weight: bold;
    padding: 0 2px;
}
.linkflair-crotch .author:hover
{
    background-color: #F0E784 !important;
    text-decoration: none !important;
}

.linkflair-crotch .tagline:after
{
    content: "[The right way to post]";
    font-weight: bold;
    font-size: 12px;
}


.linkflair-milky .author 
{
    background-color: #FFFFFF !important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: black !important;
    font-weight: bold;
    padding: 0 2px;
}
.linkflair-milky .author:hover
{
    background-color: #FFFFFF !important;
    text-decoration: none !important;
}

.linkflair-milky .tagline:after
{
    content: "[Drink deep, you need your calcium]";
    font-weight: bold;
    font-size: 12px;
}


.linkflair-chest .author 
{
    background-color: #FF2E2E !important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: black !important;
    font-weight: bold;
    padding: 0 2px;
}
.linkflair-chest .author:hover
{
    background-color: #FF2E2E !important;
    text-decoration: none !important;
}

.linkflair-chest .tagline:after
{
    content: "[You're on thin ice]";
    font-weight: bold;
    font-size: 12px;
}




.linkflair-feels .author 
{
    background-color: #5BBA62 !important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: white !important;
    font-weight: bold;
    padding: 0 2px;
}
.linkflair-feels .author:hover
{
    background-color: #5BBA62 !important;
    text-decoration: none !important;
}

.linkflair-feels .tagline:after
{
    content: "[I came here to Feel]";
    font-weight: bold;
    font-size: 12px;
}
a.author[href$="/Conky"] {