a[href="/spoiler"] {
    background: black !important;
    color: black !important
    }
a[href="/spoiler"]:hover {
    color: white !important
    }
a[href|="/celordv"]{
display: block; clear: none;
width: 48px; height: 63px;
background-image: url(%%celordv%%);
}
a[href|="/rcelordv"]{
display: block; clear: none;
width: 48px; height: 63px;
background-image: url(%%rcelordv%%);
}
a[href|="/lcelordv"]{
display: block; clear: none;
width: 73px; height: 96px;
background-image: url(%%lcelordv%%);
}
a[href|="/lrcelordv"]{
display: block; clear: none;
width: 73px; height: 96px;
background-image: url(%%lrcelordv%%);
}
a[href|="/cebattle"], a[href|="/ce11"] {
display: block; clear: none;
width: 48px; height: 48px;
background-image: url(%%cebattle%%);
}
a[href|="/rcebattle"], a[href|="/rce11"] {
display: block; clear: none;
width: 48px; height: 48px;
background-image: url(%%rcebattle%%);
}
a[href|="/lcebattle"], a[href|="/lce11"] {
display: block; clear: none;
width: 164px; height: 96px;
background-image: url(%%lcebattle%%);
}
a[href|="/lrcebattle"], a[href|="/lrce11"] {
display: block; clear: none;
width: 164px; height: 96px;
background-image: url(%%lrcebattle%%);
}
a[href|="/cefilly"], a[href|="/ce00"] {
display: block; clear: none;
width: 60px; height: 64px;
background-image: url(%%cefilly%%);
}
a[href|="/rcefilly"], a[href|="/rce00"] {
display: block; clear: none;
width: 60px; height: 64px;
background-image: url(%%rcefilly%%);
}
a[href|="/lcefilly"], a[href|="/lce00"] {
display: block; clear: none;
width: 119px; height: 128px;
background-image: url(%%lcefilly%%);
}
a[href|="/lrcefilly"], a[href|="/lrce00"] {
display: block; clear: none;
width: 119px; height: 128px;
background-image: url(%%lrcefilly%%);
}

a[href|="/cewat"], a[href|="/ce01"] {
display: block; clear: none;
width: 48px; height: 48px;
background-image: url(%%cewat%%);
}
a[href|="/rcewat"], a[href|="/rce01"] {
display: block; clear: none;
width: 48px; height: 48px;
background-image: url(%%rcewat%%);
}
a[href|="/lcewat"], a[href|="/lce01"] {
display: block; clear: none;
width: 96px; height: 96px;
background-image: url(%%lcewat%%);
}
a[href|="/ce12"] {
display: block; clear: none;
width: 96px; height: 96px;
background-image: url(%%censorshipismagic%%);
}
a[href|="/lrcewat"], a[href|="/lrce01"] {
display: block; clear: none;
width: 96px; height: 96px;
background-image: url(%%lrcewat%%);
}
a[href|="/ce02"] {
display: block; clear: none;
width: 79px; height: 64px;
background-image: url(%%ce02%%);
}
a[href|="/rce02"] {
display: block; clear: none;
width: 79px; height: 64px;
background-image: url(%%rce02%%);
}
a[href|="/cesilence"], a[href|="/ce03"] {
display: block; clear: none;
width: 57px; height: 48px;
background-image: url(%%cesilence%%);
}
a[href|="/rcesilence"], a[href|="/rce03"] {
display: block; clear: none;
width: 57px; height: 48px;
background-image: url(%%rcesilence%%);
}
a[href|="/lcesilence"], a[href|="/lce03"] {
display: block; clear: none;
width: 113px; height: 96px;
background-image: url(%%lcesilence%%);
}
a[href|="/lrcesilence"], a[href|="/lrce03"] {
display: block; clear: none;
width: 113px; height: 96px;
background-image: url(%%lrcesilence%%);
}
a[href|="/cehappy"], a[href|="/ce04"] {
display: block; clear: none;
width: 48px; height: 55px;
background-image: url(%%cehappy%%);
}
a[href|="/rcehappy"], a[href|="/rce04"] {
display: block; clear: none;
width: 48px; height: 55px;
background-image: url(%%rcehappy%%);
}
a[href|="/lcehappy"], a[href|="/lce04"] {
display: block; clear: none;
width: 96px; height: 109px;
background-image: url(%%lcehappy%%);
}
a[href|="/lrcehappy"], a[href|="/lrce04"] {
display: block; clear: none;
width: 96px; height: 109px;
background-image: url(%%lrcehappy%%);
}
a[href|="/cehail"], a[href|="/ce05"] {
display: block; clear: none;
width: 100px; height: 48px;
background-image: url(%%cehail%%);
}
a[href|="/rcehail"], a[href|="/rce05"] {
display: block; clear: none;
width: 100px; height: 48px;
background-image: url(%%rcehail%%);
}
a[href|="/lcehail"], a[href|="/lce05"] {
display: block; clear: none;
width: 187px; height: 96px;
background-image: url(%%lcehail%%);
}
a[href|="/lrcehail"], a[href|="/lrce05"] {
display: block; clear: none;
width: 187px; height: 96px;
background-image: url(%%lrcehail%%);
}
a[href|="/cescroll"], a[href|="/ce06"] {
display: block; clear: none;
width: 48px; height: 48px;
background-image: url(%%cescroll%%);
}
a[href|="/rcescroll"], a[href|="/rce06"] {
display: block; clear: none;
width: 48px; height: 48px;
background-image: url(%%rcescroll%%);
}
a[href|="/lcescroll"], a[href|="/lce06"] {
display: block; clear: none;
width: 96px; height: 96px;
background-image: url(%%lcescroll%%);
}
a[href|="/lrcescroll"], a[href|="/lrce06"] {
display: block; clear: none;
width: 96px; height: 96px;
background-image: url(%%lrcescroll%%);
}
a[href|="/cesurprised"], a[href|="/ce07"] {
display: block; clear: none;
width: 48px; height: 48px;
background-image: url(%%cesurprised%%);
}
a[href|="/rcesurprised"], a[href|="/rce07"] {
display: block; clear: none;
width: 48px; height: 48px;
background-image: url(%%rcesurprised%%);
}
a[href|="/lcesurprised"], a[href|="/lce07"] {
display: block; clear: none;
width: 96px; height: 96px;
background-image: url(%%lcesurprised%%);
}
a[href|="/lrcesurprised"], a[href|="/lrce07"] {
display: block; clear: none;
width: 96px; height: 96px;
background-image: url(%%lrcesurprised%%);
}
a[href|="/ce08"] {
display: block; clear: none;
width: 141px; height: 96px;
background-image: url(%%ce08%%);
}
a[href|="/rce08"] {
display: block; clear: none;
width: 141px; height: 96px;
background-image: url(%%rce08%%);
}
a[href|="/ceserious"], a[href|="/ce09"] {
display: block; clear: none;
width: 48px; height: 61px;
background-image: url(%%ceserious%%);
}
a[href|="/rceserious"], a[href|="/rce09"] {
display: block; clear: none;
width: 48px; height: 61px;
background-image: url(%%rceserious%%);
}
a[href|="/ce10"] {
display: block; clear: none;
width: 48px; height: 48px;
background-image: url(%%ce10%%);
}
a[href|="/rce10"] {
display: block; clear: none;
width: 48px; height: 48px;
background-image: url(%%rce10%%);
}
a[href|="/lce10"] {
display: block; clear: none;
width: 96px; height: 96px;
background-image: url(%%lce10%%);
}
a[href|="/lrce10"] {
display: block; clear: none;
width: 96px; height: 96px;
background-image: url(%%lrce10%%);
}

.flair {
    padding: 0;
    background: none;
    color: black;
    border: 0;
    border-radius: 0;
    background-image: url(%%flairs%%);
    display: inline-block;
    width: 16px;
    height: 16px;
    }
.flair-celestia {
    background-position: -16px -64px;
    }