/* Changes background  */
body:first-of-type, body.res-nightmode:first-of-type {
   
     background:  url(%%Halloween%%)  no-repeat  fixed 74% 100% !important;
  
} 

/* Banner Image */
#header-bottom-left:nth-of-type(n) {
   background: url(%%meatbannerpony%%); 
  background-color: #e0d3c1 !important;
   /*   margin-top: -20px;*/
   background-repeat: no-repeat;
   background-position: 50% 0%;
   height: 237px; /* 237 for meat's nice banner */

 }

/* User stuff (name color, karma color, est.) */
#header-bottom-right {
    background-color: #CCCCCC
    }
.user {
    color: Teal
    }
.user a {
    color: Teal
    }
.pref-lang {
    color: Teal
    }
.logout a {
    color: Teal
    }

#header-img {
    margin-top:116px; /* 80 for meat's nice banner */
    margin-left: 0px;
    position: absolute
    }

.pagename {
    position: absolute;
    bottom: 0px;
    left: 110px;
    /*background-color: white;*/
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black
    }
.pagename a {
    color: white;
    padding: 5px
    }
.tabmenu {
    margin-top: 223px; /* 223 for meat's nice banner */
    margin-left: 500px
    }

.tabmenu li a {
    color: #000000;
    background-color: #ffffff;
    border: 0px solid black
    }
#header {
    border-bottom: 1px solid #000000;
    position: relative;
    z-index: 99
    }

.pagename a:after {
    content: "  and Fwiends";
    display: inline-block;
    letter-spacing: normal;
    font-size: 14px !important;
    color: white;
    margin-left: 5px;
    }

/* Nightmode fixes for the background */
.content #siteTable div[onclick="click_thing(this)"] {background-color: transparent!important;}
body.res-nightmode:first-of-type > .content {background-color: transparent!important;}
body.res-nightmode:first-of-type {background-color: transparent!important;}

/* Makes the sidebar transparent */
.side {background-color: transparent !important }
.side.res-nightmode:first-of-type > .content {background-color: transparent!important;}
.side.res-nightmode:first-of-type {background-color: transparent!important;}

/* Announcement header box thingy. Jacked this from the main MLP sub. 
.content {
    margin-top: 50px
    }
.pagename {
    font-size: 12pt
    }
.titlebox form {
    position: static
    }
.titlebox .usertext-body .md ol {
    width: auto;
     height: auto;
   background: 5px 1px #EFF7FF;
    
    border: 1px solid #5f99bcf;
    position: absolute;
    top: 100px;
    left: 15px;
    z-index: 999;
    margin: 160px 310px 0 0;
    padding:40px 1px 1px 80px;
    list-style: none;
    display: block;
    white-space: normal;
    overflow: hidden;
    font-size: 12pt;
    border-radius: 10px
    }
.titlebox .usertext-body .md ol li {
    margin: 3px;
    list-style: none
    }
*/

/* Replace the nsfw image with screwball */
.thumbnail.nsfw {
    background-image: url(%%thumbnails%%);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-position: 0px 0px;
}

/* Replace the self-post image with screwball */
.thumbnail.self {
    background-image: url(%%thumbnails%%);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-position: 0px -70px;
}

/* Replace the no-thumb image with screwball */
.thumbnail.default {
    background-image: url(%%thumbnails%%);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-position: 0px -140px;
}

/* changes "readers" to something more fitting */
div.titlebox span.word {
    display: none
    }
div.titlebox span.number:after {
    content: " Sleeping Gummieys"
    }

a[href="/spoiler"]:nth-of-type(n) {
    background: #000;
    color: #000;
    cursor: text
    }
a[href="/spoiler"]:nth-of-type(n):hover {
    background: #fff;
    color: #000;
    }

.styleToggle {
    display: none !important;
    width: 0px !important;
    height: 0px !important;
    overflow: hidden !important;
    position:absolute!important;left:-100px;    
}
input[name="subRedditStyleCheckbox"] {
    display: none !important;
    width: 0px !important;
    height: 0px !important;
    position:absolute!important;left:-100px;

 }
label[for="subRedditStyleCheckbox"] {
    display: none !important;
    width: 0px !important;
    height: 0px !important;
    position:absolute!important;left:-100px;
}

/* Make the "community settings" text box bigger, because it's an unreadable clusterfuck when it's small. */
.fancy-settings .linefield { width: 914px; }
.fancy-settings textarea { width: 892px; height: 500px; }

/* Also make the CSS text box bigger, because why not. */
.stylesheet-customize-container textarea { height:500px; }

/* ಠ_ಠ */
.arrow.down {
visibility: hidden;
display: none
}

/**********************/
/*********Flair**********/
/**********************/
.flair
{
display: inline-block;
border: 0;
border-radius: 0;
background: transparent;
font-weight: 700;
}
.flair:after
{
background-image: url(%%flairsheet%%);
background-position: 0px 0px;
content: "";
display: inline-block;
width: 30px;
height: 30px;
background-repeat: no-repeat;
}
.flair-dash:after { background-position: 0px 0px }
.flair-shy:after { background-position: 0px -30px }
.flair-aj:after { background-position: 0px -60px }
.flair-rarity:after { background-position: 0px -90px }
.flair-trixie:after { background-position: 0px -120px }
.flair-cyclops:after { background-position: 0px -150px }
.flair-nightmare:after { background-position: 0px -180px }
.flair-tia:after { background-position: 0px -210px }
.flair-classyluna:after { background-position: 0px -240px }
.flair-lyra:after { background-position: 0px -270px }
.flair-bonbon:after { background-position: 0px -300px }
.flair-vinyl:after { background-position: 0px -330px }
.flair-octavia:after { background-position: 0px -360px }
.flair-colgate:after { background-position: 0px -390px }
.flair-whooves:after { background-position: 0px -420px }
.flair-pinkamina:after { background-position: 0px -450px }
.flair-roseluck:after { background-position: 0px -480px }
.flair-soarin:after { background-position: 0px -510px }
.flair-flour:after { background-position: 0px -540px }
.flair-mayor:after { background-position: 0px -570px }
.flair-hoity:after { background-position: 0px -600px }
.flair-derpy:after { background-position: 0px -630px }
.flair-spitfire:after { background-position: 0px -660px }
.flair-Qdwach:after { background-position: 0px -690px }
.flair-derram:after { background-position: 0px -720px }
.flair-supercrunchy:after { background-position: 0px -750px }
.flair-surprise:after { background-position: 0px -780px }
.flair-twilight:after { background-position: 0px -810px }
.flair-pinkie:after { background-position: 0px -840px }
.flair-zovistograt:after { background-position: 0px -870px }
.flair-twist:after { background-position: 0px -900px }
.flair-screwball:after { background-position: 0px -930px }
.flair-blobby-futashy:after { background-position: 0px -960px }
.flair-scoots:after { background-position: 0px -990px }
.flair-bump:after { background-position: 0px -1020px }
.flair-sketchytwi:after { background-position: 0px -1050px }
.flair-cheerilee:after { background-position: 0px -1080px }
.flair-brody:after { background-position: 0px -1110px }
/* .missingno:after { background-position: 0px -1140px } */
.flair-scratchspin:after { background-position: 0px -1170px }
.flair-books:after { background-position: 0px -1200px }
.flair-twitrix:after { background-position: 0px -1230px }
.flair-darkle:after { background-position: 0px -1260px }
.flair-tank:after { background-position: 0px -1290px }
.flair-XLR8TER:after { background-position: 0px -1320px }
.flair-discord:after { background-position: 0px -1350px }
.flair-classydiscord:after { background-position: 0px -1380px }
.flair-darqwolf:after { background-position: 0px -1410px }
.flair-greenypie:after { background-position: 0px -1440px }
.flair-roguedash:after { background-position: 0px -1470px }
.flair-happyluna:after { background-position: 0px -1500px }
.flair-fancypants:after { background-position: 0px -1530px }
.flair-heavypie:after { background-position: 0px -1560px }
.flair-tribble:after { background-position: 0px -1590px }
.flair-shroom:after { background-position: 0px -1620px }
.flair-molestia:after { background-position: 0px -1650px }
.flair-vinyl2:after { background-position: 0px -1680px }
.flair-screwball2:after { background-position: 0px -1710px }
.flair-kontan:after { background-position: 0px -1740px }
.flair-fancypants2:after { background-position: 0px -1770px }
.flair-chubby:after { background-position: 0px -1800px }
.flair-redpyro:after { background-position: 0px -1830px }
.flair-bigboy:after { background-position: 0px -1860px }
.flair-cake:after { background-position: 0px -1890px }
.flair-mongoose:after { background-position: 0px -1920px }
.flair-crazytwi:after { background-position: 0px -1950px }
.flair-brodystar:after { background-position: 0px -1980px }
.flair-slut:after { background-position: 0px -2010px }
.flair-optimus:after { background-position: 0px -2040px }
.flair-sandshrew:after { background-position: 0px -2070px }
.flair-parasprite:after { background-position: 0px -2100px }
.flair-trips:after { background-position: 0px -2130px }
.flair-angel:after { background-position: 0px -2160px }
.flair-4chan:after { background-position: 0px -2190px }
.flair-aloysis:after { background-position: 0px -2220px }
.flair-dda1add:after { background-position: 0px -2250px }
.flair-Myrandall:after { background-position: 0px -2280px }
.flair-Anitech:after { background-position: 0px -2310px }
.flair-twilun:after { background-position: 0px -2340px }
.flair-couch:after { background-position: 0px -2370px }
.flair-knot:after { background-position: 0px -2400px }
.flair-esplin:after { background-position: 0px -2430px }
.flair-braeburn:after { background-position: 0px -2460px }
.flair-pinchy:after { background-position: 0px -2490px }
.flair-gummy:after { background-position: 0px -2520px }
.flair-gummysuit:after { background-position: 0px -2550px }
.flair-colgate2:after { background-position: 0px -2580px }
.flair-piekiss:after { background-position: 0px -2610px }
.flair-spike3:after { background-position: 0px -2640px }
.flair-rcr:after { background-position: 0px -2670px }
.flair-rarigummy:after { background-position: 0px -2700px }
.flair-cow:after { background-position: 0px -2730px }
.flair-jbrony:after { background-position: 0px -2760px }
.flair-luka:after { background-position: 0px -2790px }
.flair-dunstil:after { background-position: 0px -2820px }
.flair-housemc:after { background-position: 0px -2850px }
.flair-lunchy:after { background-position: 0px -2880px }
.flair-joker:after { background-position: 0px -2910px }
.flair-Herabek:after { background-position: 0px - 2940px }
.flair-dickboot:after { background-position: 0px - 2970px }
.flair-mwam:after { background-position: 0px - 3000px }
.flair-darklecrazy:after { background-position: 0px - 3030px }
.flair-catman:after {height: 28px; background-position: 0px - 3062px }
.flair-Lazeraze:after { background-position: 0px - 3090px }
.flair-crunchy:after { background-position: 0px - 3120px }
.flair-3p:after { background-position: 0px - 3150px }
.flair-Fortehlulz33:after { background-position: 0px -3180px }
.flair-IronChewbacca:after { background-position: 0px -3210px }
/* Nightmode fix for flair */
body.res-nightmode:first-of-type .flair { background-color: transparent!important; }

/*===Begin generated CSS===*/
a[href|='/flutterumm'], a[href|='/flutterwhat'], a[href|='/sackflip'], a[href|='/sackfun'], a[href|='/shitemote'] {
    display: block;
    clear: none;
    float: left;
    background-image: url(%%hovermotes%%)
    }

a[href|='/flutterumm'], a[href|='/flutterwhat']:hover {width:146px; height:152px; background-position: -0px -0px}
a[href|='/flutterwhat'], a[href|='/flutterumm']:hover {width:146px; height:152px; background-position: -146px -0px}
a[href|='/sackflip'] {width:199px; height:129px; background-position: -292px -0px}
a[href|='/sackflip']:hover {width:199px; height:129px; background-position: -491px -0px}
a[href|='/sackfun'] {width:187px; height:220px; background-position: -690px -0px}
a[href|='/sackfun']:hover {width:187px; height:220px; background-position: -0px -220px}
a[href|='/shitemote'] {width:246px; height:252px; background-position: -187px -220px}
a[href|='/shitemote']:hover {width:270px; height:263px; background-position: -433px -220px}
a[href|='/shitemote']:active {width:275px; height:266px; background-position: -703px -220px}


a[href|='/ajfun'], a[href|='/bonfun'], a[href|='/braefun'], a[href|='/charliefun'], a[href|='/rcrfun'], a[href|='/cheerfun'], a[href|='/darkfun'], a[href|='/dolcefun'], a[href|='/dashfun'], a[href|='/derpfun'], a[href|='/esplinfun'], a[href|='/flitterfun'], a[href|='/lyrafun'], a[href|='/orschfun'], a[href|='/pinkiefun'], a[href|='/ppfun'], a[href|='/rarfun'], a[href|='/rosefun'], a[href|='/shyfun'], a[href|='/speedyfun'], a[href|='/tlfun'], a[href|='/thunderlanefun'], a[href|='/trixfun'], a[href|='/twifun'] {
    display: block;
    clear: none;
    float: left;
    background-image: url(%%ponyfun%%)
    }

a[href|='/ajfun'] {width:210px; height:152px; background-position: -0px -1689px}
a[href|='/bonfun'] {width:217px; height:152px; background-position: -0px -1231px}
a[href|='/braefun'] {width:202px; height:152px; background-position: -0px -2601px}
a[href|='/charliefun'], a[href|='/rcrfun'] {width:230px; height:152px; background-position: -0px -623px}
a[href|='/cheerfun'] {width:216px; height:152px; background-position: -0px -1383px}
a[href|='/darkfun'], a[href|='/dolcefun'] {width:208px; height:152px; background-position: -0px -1993px}
a[href|='/dashfun'] {width:231px; height:152px; background-position: -0px -319px}
a[href|='/derpfun'] {width:221px; height:152px; background-position: -0px -1079px}
a[href|='/esplinfun'] {width:202px; height:152px; background-position: -0px -2449px}
a[href|='/flitterfun'] {width:204px; height:152px; background-position: -0px -2145px}
a[href|='/lyrafun'] {width:202px; height:152px; background-position: -0px -2297px}
a[href|='/orschfun'] {width:211px; height:154px; background-position: -0px -1535px}
a[href|='/pinkiefun'], a[href|='/ppfun'] {width:227px; height:152px; background-position: -0px -775px}
a[href|='/rarfun'] {width:248px; height:152px; background-position: -0px -0px}
a[href|='/rosefun'] {width:201px; height:152px; background-position: -0px -2753px}
a[href|='/shyfun'] {width:234px; height:167px; background-position: -0px -152px}
a[href|='/speedyfun'] {width:193px; height:152px; background-position: -0px -2905px}
a[href|='/tlfun'], a[href|='/thunderlanefun'] {width:208px; height:152px; background-position: -0px -1841px}
a[href|='/trixfun'] {width:226px; height:152px; background-position: -0px -927px}
a[href|='/twifun'] {width:230px; height:152px; background-position: -0px -471px}


a[href|='/bmwat'], a[href|='/ch35'], a[href|='/chnuzzle'], a[href|='/cheerious'], a[href|='/cheerlikesit'], a[href|='/cmcexcited'], a[href|='/cordwithit'], a[href|='/crazypie'], a[href|='/derpoops'], a[href|='/disamused'], a[href|='/disangry'], a[href|='/disexcited'], a[href|='/diskate'], a[href|='/foryou'], a[href|='/genius'], a[href|='/gildafury'], a[href|='/herhorn'], a[href|='/gildafriendship'], a[href|='/hipstertrixie'], a[href|='/iwapprove'], a[href|='/noidea'], a[href|='/notenoughbooks'], a[href|='/rarimad'], a[href|='/twinuzzle'] {
    display: block;
    clear: none;
    float: left;
    background-image: url(%%table10%%)
    }

a[href|='/bmwat'] {width:83px; height:127px; background-position: -0px -0px}
a[href|='/ch35'], a[href|='/chnuzzle'] {width:113px; height:152px; background-position: -83px -0px}
a[href|='/cheerious'] {width:147px; height:152px; background-position: -0px -152px}
a[href|='/cheerlikesit'] {width:125px; height:127px; background-position: -0px -304px}
a[href|='/cmcexcited'] {width:228px; height:152px; background-position: -0px -431px}
a[href|='/cordwithit'] {width:126px; height:252px; background-position: -0px -583px}
a[href|='/crazypie'] {width:141px; height:152px; background-position: -0px -835px}
a[href|='/derpoops'] {width:106px; height:117px; background-position: -141px -835px}
a[href|='/disamused'] {width:118px; height:177px; background-position: -0px -987px}
a[href|='/disangry'] {width:195px; height:202px; background-position: -0px -1164px}
a[href|='/disexcited'] {width:173px; height:177px; background-position: -0px -1366px}
a[href|='/diskate'] {width:194px; height:252px; background-position: -0px -1543px}
a[href|='/foryou'] {width:204px; height:202px; background-position: -0px -1795px}
a[href|='/genius'] {width:97px; height:102px; background-position: -0px -1997px}
a[href|='/gildafury'] {width:256px; height:167px; background-position: -0px -2099px}
a[href|='/herhorn'], a[href|='/gildafriendship'] {width:180px; height:202px; background-position: -0px -2266px}
a[href|='/hipstertrixie'] {width:156px; height:177px; background-position: -0px -2468px}
a[href|='/iwapprove'] {width:232px; height:177px; background-position: -0px -2645px}
a[href|='/noidea'] {width:105px; height:152px; background-position: -0px -2822px}
a[href|='/notenoughbooks'] {width:184px; height:151px; background-position: -0px -2974px}
a[href|='/rarimad'] {width:207px; height:202px; background-position: -0px -3125px}
a[href|='/twinuzzle'] {width:112px; height:152px; background-position: -0px -3327px}


a[href|='/a_lot'], a[href|='/flutalot'], a[href|='/absneer'], a[href|='/applepuff'], a[href|='/bendover'], a[href|='/bonwut'], a[href|='/cadancewat'], a[href|='/cadencewat'], a[href|='/chryswat'], a[href|='/cmcderp'], a[href|='/derpshrug'], a[href|='/derpsrs'], a[href|='/disbored'], a[href|='/discordwtf'], a[href|='/disgusta'], a[href|='/doitfilly'], a[href|='/eeveedash'], a[href|='/hatefuck'], a[href|='/pbf'], a[href|='/ppchainsaw'], a[href|='/ppteeth'], a[href|='/raritywooo'], a[href|='/rarizee'], a[href|='/rubysquee'], a[href|='/sbeyeroll'], a[href|='/sbgrin'], a[href|='/shyduck'], a[href|='/sockcord'], a[href|='/twipoke'], a[href|='/twiread'], a[href|='/wuna'] {
    display: block;
    clear: none;
    float: left;
    background-image: url(%%table8%%)
    }

a[href|='/a_lot'], a[href|='/flutalot'] {width:256px; height:142px; background-position: -0px -0px}
a[href|='/absneer'] {width:90px; height:102px; background-position: -256px -0px}
a[href|='/applepuff'] {width:99px; height:102px; background-position: -346px -0px}
a[href|='/bendover'] {width:152px; height:152px; background-position: -0px -142px}
a[href|='/bonwut'] {width:89px; height:152px; background-position: -152px -142px}
a[href|='/cadancewat'], a[href|='/cadencewat'] {width:85px; height:127px; background-position: -241px -142px}
a[href|='/chryswat'] {width:122px; height:127px; background-position: -326px -142px}
a[href|='/cmcderp'] {width:175px; height:127px; background-position: -0px -294px}
a[href|='/derpshrug'] {width:115px; height:127px; background-position: -175px -294px}
a[href|='/derpsrs'] {width:105px; height:102px; background-position: -290px -294px}
a[href|='/disbored'] {width:99px; height:152px; background-position: -395px -294px}
a[href|='/discordwtf'] {width:154px; height:152px; background-position: -0px -446px}
a[href|='/disgusta'] {width:146px; height:152px; background-position: -154px -446px}
a[href|='/doitfilly'] {width:185px; height:202px; background-position: -300px -446px}
a[href|='/eeveedash'] {width:79px; height:102px; background-position: -0px -648px}
a[href|='/hatefuck'] {width:256px; height:231px; background-position: -79px -648px}
a[href|='/pbf'] {width:66px; height:82px; background-position: -335px -648px}
a[href|='/ppchainsaw'] {width:226px; height:152px; background-position: -0px -879px}
a[href|='/ppteeth'] {width:166px; height:152px; background-position: -226px -879px}
a[href|='/raritywooo'] {width:100px; height:152px; background-position: -392px -879px}
a[href|='/rarizee'] {width:97px; height:102px; background-position: -0px -1031px}
a[href|='/rubysquee'] {width:124px; height:127px; background-position: -97px -1031px}
a[href|='/sbeyeroll'] {width:69px; height:77px; background-position: -221px -1031px}
a[href|='/sbgrin'] {width:74px; height:77px; background-position: -290px -1031px}
a[href|='/shyduck'] {width:91px; height:102px; background-position: -364px -1031px}
a[href|='/sockcord'] {width:97px; height:152px; background-position: -0px -1158px}
a[href|='/twipoke'] {width:101px; height:102px; background-position: -97px -1158px}
a[href|='/twiread'] {width:256px; height:108px; background-position: -198px -1158px}
a[href|='/wuna'] {width:146px; height:202px; background-position: -0px -1310px}


a[href|='/cowpony'], a[href|='/creamsicle'], a[href|='/diswut'], a[href|='/dod'], a[href|='/dresscord'], a[href|='/ishygdadt'], a[href|='/eagleeye'], a[href|='/hawkeye'], a[href|='/flutterpout'], a[href|='/frightenpie'], a[href|='/inurbutt'], a[href|='/lunadark'], a[href|='/macgasp'], a[href|='/ppfof'], a[href|='/ppsly'], a[href|='/psychiatwi'], a[href|='/queencheer'], a[href|='/rarhorror'], a[href|='/rosefof'], a[href|='/sbshy'], a[href|='/scootscared'], a[href|='/sexymac'], a[href|='/soarinshock'], a[href|='/twicake'], a[href|='/twiglare'], a[href|='/twiteehee'], a[href|='/twiteeth'] {
    display: block;
    clear: none;
    float: left;
    background-image: url(%%table9%%)
    }

a[href|='/cowpony'] {width:147px; height:177px; background-position: -0px -0px}
a[href|='/creamsicle'] {width:127px; height:163px; background-position: -0px -177px}
a[href|='/diswut'] {width:174px; height:202px; background-position: -0px -340px}
a[href|='/dod'] {width:110px; height:127px; background-position: -0px -542px}
a[href|='/dresscord'], a[href|='/ishygdadt'] {width:251px; height:202px; background-position: -0px -669px}
a[href|='/dresscord'] {width:158px; height:252px; background-position: -0px -871px}
a[href|='/eagleeye'], a[href|='/hawkeye'] {width:160px; height:152px; background-position: -0px -1123px}
a[href|='/flutterpout'] {width:130px; height:127px; background-position: -0px -1275px}
a[href|='/frightenpie'] {width:113px; height:152px; background-position: -130px -1275px}
a[href|='/inurbutt'] {width:157px; height:177px; background-position: -0px -1427px}
a[href|='/lunadark'] {width:183px; height:202px; background-position: -0px -1604px}
a[href|='/macgasp'] {width:101px; height:152px; background-position: -0px -1806px}
a[href|='/ppfof'] {width:176px; height:152px; background-position: -0px -1958px}
a[href|='/ppsly'] {width:111px; height:152px; background-position: -0px -2110px}
a[href|='/psychiatwi'] {width:210px; height:202px; background-position: -0px -2262px}
a[href|='/queencheer'] {width:155px; height:127px; background-position: -0px -2464px}
a[href|='/rarhorror'] {width:162px; height:152px; background-position: -0px -2591px}
a[href|='/rosefof'] {width:144px; height:152px; background-position: -0px -2743px}
a[href|='/sbshy'] {width:85px; height:127px; background-position: -144px -2743px}
a[href|='/scootscared'] {width:140px; height:129px; background-position: -0px -2895px}
a[href|='/sexymac'] {width:200px; height:202px; background-position: -0px -3024px}
a[href|='/soarinshock'] {width:110px; height:127px; background-position: -0px -3226px}
a[href|='/twicake'] {width:126px; height:127px; background-position: -110px -3226px}
a[href|='/twiglare'] {width:124px; height:102px; background-position: -0px -3353px}
a[href|='/twiteehee'] {width:104px; height:152px; background-position: -124px -3353px}
a[href|='/twiteeth'] {width:141px; height:177px; background-position: -0px -3505px}



/*===End generated CSS===*/

/*Filly Table*/

a[href|='/fillyab'], a[href|='/fillyaj'], a[href|='/fillybonbon'], a[href|='/fillycelestia'], a[href|='/fillycheerile'], a[href|='/fillydashready'], a[href|='/fillyderpy'], a[href|='/fillydis'], a[href|='/fillyflirt'], a[href|='/fillyfluttershy'], a[href|='/fillyfluttershysing'], a[href|='/fillyfritter'], a[href|='/fillykarma'], a[href|='/fillyluna'], a[href|='/fillylyra'], a[href|='/fillyoctavia'], a[href|='/fillypinkie'], a[href|='/fillyrd'], a[href|='/fillydash'], a[href|='/fillyrose'], a[href|='/fillysbstare'], a[href|='/fillyspitfire'], a[href|='/fillystrudel'], a[href|='/fillytrixie'], a[href|='/fillytwidance'], a[href|='/fillyvinyl'], a[href|='/rarityfilly'], a[href|='/scootasmile'], a[href|='/ppwhat'], a[href|='/bonheart'], a[href|='/chaosgun'], a[href|='/ajFoF'], a[href|='/ajfof'], a[href|='/ppsoawesome'], a[href|='/crackle'], a[href|='/scootawat'], a[href|='/discordquite'], a[href|='/abthis'], a[href|='/rarisup'], a[href|='/ppfacehoof'], a[href|='/umad']
 {
    display: block;
    clear: none;
    float: left;
    background-image: url(%%fillytable%%)
    }

a[href|='/fillyab'] {height:70px;width:52px;background-position:0px 0px;}
a[href|='/fillyaj'] {height:70px;width:58px;background-position:-52px 0px;}
a[href|='/fillybonbon'] {height:70px;width:62px;background-position:-110px 0px;}
a[href|='/fillycelestia'] {height:70px;width:65px;background-position:-172px 0px;}
a[href|='/fillycheerile'] {height:70px;width:42px;background-position:0 -70px;}
a[href|='/fillydashready']{height:70px;width:113px;background-position:-237px 0px;}
a[href|='/fillyderpy'] {height:70px;width:69px;background-position:-350px 0px;}
a[href|='/fillydis'] {height:70px;width:78px;background-position:-52px -70px;}
a[href|='/fillyflirt'] {height:70px;width:109px;background-position:-130px -70px;}
a[href|='/fillyfluttershy'] {height:70px;width:76px;background-position:-52px -140px;}
a[href|='/fillyfluttershysing'] {height:70px;width:97px;background-position:-239px -70px;}
a[href|='/fillyfritter'] {height:70px;width:67px;background-position:-52px -210px;}
a[href|='/fillykarma'] {height:70px;width:78px;background-position:-52px -280px;}
a[href|='/fillyluna'] {height:70px;width:62px;background-position:-52px -350px;}
a[href|='/fillylyra']{height:70px;width:65px;background-position:-336px -70px;}
a[href|='/fillyoctavia']{height:70px;width:69px;background-position:-130px -140px;}
a[href|='/fillypinkie'] {height:70px;width:70px;background-position:-199px -140px;}
a[href|='/fillyrd'], a[href|='/fillydash'] {height:70px;width:61px;background-position:-130px -210px;}
a[href|='/fillyrose']{height:70px;width:71px;background-position:-269px -140px;}
a[href|='/fillysbstare'] {height:70px;width:72px;background-position:-340px -140px;}
a[href|='/fillyspitfire'] {height:70px;width:50px;background-position:0px -140px;}
a[href|='/fillystrudel'] {height:70px;width:68px;background-position:-130px -280px;}
a[href|='/fillytrixie'] {height:70px;width:61px;background-position:-130px -350px;}
a[href|='/fillytwidance'] {height:70px;width:74px;background-position:-199px -210px;}
a[href|='/fillyvinyl'] {height:70px;width:57px;background-position:-199px -280px;}
a[href|='/rarityfilly'] {height:70px;width:74px;background-position:-199px -350px;}
a[href|='/scootasmile'] {height:70px;width:65px;background-position:-273px -210px;}
a[href|='/ppwhat'] {height:109px;width:116px;background-position:-285px -304px;}
a[href|='/bonheart'] {height:200px;width:131px;background-position:-0px -424px;}
a[href|='/chaosgun'] {height:250px;width:176px;background-position:-142px -425px;}
a[href|='/ajFoF'], a[href|='/ajfof']  {height:120px;width:128px;background-position:-322px -420px;}
a[href|='/ppsoawesome'] {height:120px;width:115px;background-position:-332px -544px;}
a[href|='/crackle'] {height:150px;width:198px;background-position:-0px -677px;}
a[href|='/scootawat'] {height:115px;width:115px;background-position:-198px -711px;}
a[href|='/discordquite'] {height:150px;width:126px;background-position:-313px -676px;}
a[href|='/abthis'] {height:105px;width:123px;background-position:-0px -835px;}
a[href|='/rarisup'] {height:116px;width:130px;background-position:-144px -838px;}
a[href|='/umad'] {height:120px;width:134px;background-position:-278px -834px;}
a[href|='/ppfacehoof'] {height:100px;width:93px;background-position:-381px -210px;}
/** Moved some of the male funs over. **/

a[href|="/bryvoodfun"], a[href|="/artfun"], a[href|="/pixelfun"] {
    background-image: url(%%somefuns%%);
    display: block;
    clear: none;
    float: left;
    width: 212px;
    height: 166px
    }
a[href|="/bryvoodfun"] {
    background-position: -2px -170px
    }
a[href|="/artfun"] {
    background-position: -2px -2px
    }
a[href|="/pixelfun"] {
    background-position: -2px -338px
    }


/* For anyone with no flair, or flair disabled, this will give them missingno flair.
    Listed before the rest of the username shit so it will be overridden by manual flair additions. */
:not(.flair) + a.author:before {
    content: " ";
    background: none;
    color: black;
    border: 0;
    border-radius: 0;
    background-image: url(%%flairsheet%%);
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-position: 0px -1140px;
}
 h5 {
    color: red !important;
    font-size: 50px !important;
    font-weight: bold;
    cursor: text !important
}

form[class~="unmarknsfw-button"] a {
    visibility: hidden !important;
    font-size: 0;
}

a[href='/sp'] { display: inline-block; padding-right: 100%; }





/* Replacing somebody's name? Add it to the list here. */
a.author[href$="Conky_"],
a.author[href$="PartOfAShoe"],
a.author[href$="shawa666"],
a.author[href$="Avebone"],
a.author[href$="Qwerty439"],
a.author[href$="HtotheGRIFF"],
a.author[href$="viper9172"],
a.author[href$="Lazeraze"],
a.author[href$="31eipekili"],
a.author[href$="derram_2"],
a.author[href$="Chiv_Cortland"],
a.author[href$="442B8AEF9"],
a.author[href$="Ryskillz101"],
a.author[href$="anonpon3"],
a.author[href$="Phei"],
a.author[href$="socially_broken"],
a.author[href$="MisanthropicCat"],
a.author[href$="Princess_Molestia_"],
a.author[href$="Articulate_Angel"],
a.author[href$="08G8V8"],
a.author[href$=WildPlastic],
a.author[href$=Avngr75],
a.author[href$=tyl3rdurden],
a.author[href$=Greenie_Lye],
a.author[href$=DaylightDarkle],
a.author[href$=RetardVomitPussyCunt],
a.author[href$=BlockJuice_4],
a.author[href$=andysonic2],
a.author[href$="10z20Luka"],
a.author[href$=Chinch335],
a.author[href$=IllusionOf_Integrity],
a.author[href$=PinkiePie2012],
a.author[href$=DarkSideOfTheSun],
a.author[href$=SkiidrowDash],
a.author[href$=Backupusername],
a.author[href$=Speedingturtle],
a.author[href$=supercrunchy],
a.author[href$=Taiokoshinketsu],
a.author[href$=SolarLuna96],
a.author[href$=Generic_Builder],
a.author[href$=volcano_bakemeats],
a.author[href$=Chillusion],
a.author[href$=Esplin],
a.author[href$=DarqWolff],
a.author[href$=cheesemoo],
a.author[href$=scriptea],
a.author[href$=QdwachMD],
a.author[href$=SirCinnamon],
a.author[href$=Boibi],
a.author[href$=CatmanIX],
a.author[href$=XelNaga],
a.author[href$=Catharsis25],
a.author[href$=tehz],
a.author[href$=tailcalled],
a.author[href$=iiRockpuppy],
a.author[href$=Ruuch],
a.author[href$=trypsonite],
a.author[href$=raritie],
a.author[href$=slippy0],
a.author[href$=herabek],
a.author[href$=OneOfTheseDaysLuna],
a.author[href$=ZZW30],
a.author[href$=Zovistograt]
{ 
font-size:0!important; 
overflow:hidden; 
display:inline-block; 
content: "";
}

/* Replacing somebody's name? Add it to the list here too. */
a.author[href$="Conky_"]:before,
a.author[href$="PartOfAShoe"]:before,
a.author[href$="shawa666"]:before,
a.author[href$="Avebone"]:before,
a.author[href$="Qwerty439"]:before,
a.author[href$="HtotheGRIFF"]:before,
a.author[href$="viper9172"]:before,
a.author[href$="Lazeraze"]:before,
a.author[href$="31eipekili"]:before,
a.author[href$="derram_2"]:before,
a.author[href$="Chiv_Cortland"]:before,
a.author[href$="442B8AEF9"]:before,
a.author[href$="anonpon3"]:before,
a.author[href$="Ryskillz101"]:before,
a.author[href$="Phei"]:before,
a.author[href$="socially_broken"]:before,
a.author[href$="MisanthropicCat"]:before,
a.author[href$="Princess_Molestia_"]:before,
a.author[href$="Articulate_Angel"]:before,
a.author[href$="08G8V8"]:before,
a.author[href$=WildPlastic]:before,
a.author[href$=Avngr75]:before,
a.author[href$=tyl3rdurden]:before,
a.author[href$=Greenie_Lye]:before,
a.author[href$=DaylightDarkle]:before,
a.author[href$=Chinch335]:before,
a.author[href$=IllusionOf_Integrity]:before,
a.author[href$=trypsonite]:before,
a.author[href$=RetardVomitPussyCunt]:before,
a.author[href$=andysonic2]:before,
a.author[href$="10z20Luka"]:before,
a.author[href$=PinkiePie2012]:before,
a.author[href$=DarkSideOfTheSun]:before,
a.author[href$=SkiidrowDash]:before,
a.author[href$=Backupusername]:before,
a.author[href$=Speedingturtle]:before,
a.author[href$=supercrunchy]:before,
a.author[href$=Taiokoshinketsu]:before,
a.author[href$=SolarLuna96]:before,
a.author[href$=Generic_Builder]:before,
a.author[href$=volcano_bakemeats]:before,
a.author[href$=Chillusion]:before,
a.author[href$=Esplin]:before,
a.author[href$=DarqWolff]:before,
a.author[href$=cheesemoo]:before,
a.author[href$=scriptea]:before,
a.author[href$=QdwachMD]:before,
a.author[href$=SirCinnamon]:before,
a.author[href$=BlockJuice_4]:before,
a.author[href$=Boibi]:before,
a.author[href$=CatmanIX]:before,
a.author[href$=XelNaga]:before,
a.author[href$=Catharsis25]:before,
a.author[href$=tehz]:before,
a.author[href$=tailcalled]:before,
a.author[href$=iiRockpuppy]:before,
a.author[href$=Ruuch]:before,
a.author[href$=raritie]:before,
a.author[href$=slippy0]:before,
a.author[href$=herabek]:before,
a.author[href$=OneOfTheseDaysLuna]:before,
a.author[href$=ZZW30]:before,
a.author[href$=zovistograt]:before
{
font-size:10px!important; 
visibility:visible!important;
}

/* Replacing somebody's name? Put the replacement here. */
a.author[href$="Conky_"]:before {content:"Conky"}
a.author[href$="PartOfAShoe"]:before {content:"Welt"}
a.author[href$="shawa666"]:before {content:"Slowpoke666"}
a.author[href$="Avebone"]:before {content:"Ambassador of Foodmanes"}
a.author[href$="Qwerty439"]:before {content:"something else too"}
a.author[href$="HtotheGRIFF"]:before {content:"faggot"}
a.author[href$="viper9172"]:before {content:"Sidelong"}
a.author[href$="Lazeraze"]:before {content:"Snowlily"}
a.author[href$="31eipekili"]:before {content:"I like pie 13"}
a.author[href$="derram_2"]:before {content:"derramina Diane Pie"}
a.author[href$="Chiv_Cortland"]:before {content:"Chivvypoop"}
a.author[href$="442B8AEF9"]:before {content:"Socialery"}
a.author[href$="anonpon3"]:before {content:"Artful" }
a.author[href$="Ryskillz101"]:before {content: "Ryrity"}
a.author[href$="Phei"]:before {content: "Pheilight Sparkle"}
a.author[href$="socially_broken"]:before {content: "3p"}
a.author[href$="MisanthropicCat"]:before {content: "MisanthropicPone" }
a.author[href$="Princess_Molestia_"]:before {content: "Princess Molestia" }
a.author[href$="Articulate_Angel"]:before {content: "ɑrtɪkjələtˈeɪnʤəl (se hara hit bringeþ þára friþhengesta pintelum)" }
a.author[href$="08G8V8"]:before {content: "Vroom-Vroom ''Defeater 'Feet''' Trips" }
a.author[href$=WildPlastic]:before {content:"Artful" }
a.author[href$=Avngr75]:before {content:"Ted" }
a.author[href$=tyl3rdurden]:before /*{ content:"Tyler Derpden" }*/ {content:"Belgium" }
a.author[href$=raritie]:before { content:"Rarity" }
a.author[href$=Greenie_Lye]:before { content:"Greenie_Lye (Green Derram)" } 
a.author[href$=Chinch335]:before,a.author[href$=IllusionOf_Integrity]:before { content:"Chillusion" }
a.author[href$=trypsonite]:before { content:"Who"; color:blue }
a.author[href$=RetardVomitPussyCunt]:before { content:"RainbowViolinPancakesCider" }
a.author[href$=andysonic2]:before { content:"andysonic6" }
a.author[href$="10z20Luka"]:before { content:"Titty-slickers, God of Thunder and Lord of the Dance" }
a.author[href$=PinkiePie2012]:before { content:"Empress Pie" }
a.author[href$=DarkSideOfTheSun]:before { content:"DickSideOfTheSun" }
a.author[href$=SkiidrowDash]:before { content:"Ski iDrow Toity" }
a.author[href$=Backupusername]:before { content:"Cocksucker Shittytits" }
a.author[href$=Speedingturtle]:before { content:"Slowyslowyslowslowturtle" }
a.author[href$=supercrunchy]:before { content:"Crumcju" }
a.author[href$=Taiokoshinketsu]:before { content:"Tia" }
a.author[href$=SolarLuna96]:before { content:"Fluttershy's Wrath" }
a.author[href$=Generic_Builder]:before { content:"Genewic Bwuilda" }
a.author[href$=volcano_bakemeats]:before { content:"Madam Le Bake" }
a.author[href$=DaylightDarkle]:before { content:"Twilight Sparkle" }
a.author[href$=Chillusion]:before { content:"Cchhiilllluussiioonn" }
a.author[href$=Esplin]:before { content:"Esplindiana Baker" }
a.author[href$=DarqWolff]:before { content:"[](/DarqWolff)" }
a.author[href$=cheesemoo]:before { content:"cheesemeow" }
a.author[href$=scriptea]:before { content:"scriptease" }
a.author[href$=QdwachMD]:before { content:"Queen QdwacgMD II " }
a.author[href$=SirCinnamon]:before { content:"KingCinnamon" }
a.author[href$=BlockJuice_4]:before { content:"[deleted]"; color: rgb(136, 136, 136) !important; cursor: text !important }
a.author[href$=Boibi]:before { content:"Dr. Boibi, M.D." }
a.author[href$=CatmanIX]:before { content:"Scatman" }
a.author[href$=slippy0]:before { content:"emily" }
a.author[href$=XelNaga]:before { content:"Twi`Naga" }
a.author[href$=Catharsis25]:before { content:"Catharsis" }
a.author[href$=tehz]:before,a.author[href$=tailcalled]:before { content:"Tail Call" }
a.author[href$=Ruuch]:before { content:"Escort Sluthooves" }
a.author[href$=herabek]:before { content:"Tits McGee" }
a.author[href$=OneOfTheseDaysLuna]:before { content:"Oodles of Noodles" }
a.author[href$=Zovistograt]:before { content:"[](/ww20 ''Needy Bitch'')" }
a.author[href$=ZZW30]:before { content:"CaptChuckles" }



/* Replacing puppy's name with a picture of derpy */
a.author[href$=iiRockpuppy]:before 
{
content:" "; 
background:none; 
color:#000; 
border:0; 
border-radius:0; 
background-image:url(%%flairsheet%%); 
background-position:0 -630px; 
background-repeat:no-repeat; 
display:inline-block; 
width:30px; 
height:30px
}

/* Adding after-text to somebody's name? Add them here. */
a.author[href$=scriptea]:after ,
a.author[href$="ClopIsDisgusting"]:after,
a.author[href$=Myrandall]:after,
a.author[href$=JIVEprinting]:after,
a.author[href$=Chinch335]:after,
a.author[href$=socially_broken]:after,
a.author[href$=IllusionOf_Integrity]:after,
a.author[href$=SkiidrowDash]:after,
a.author[href$=trypsonite]:after,
a.author[href$=Backupusername]:after,
a.author[href$=andysonic2]:after,
a.author[href$=Capnpaddy]:after,
a.author[href$=Capnpaddydash]:after,
a.author[href$=Speedingturtle]:after,
a.author[href$=RetardVomitPussyCunt]:after,
a.author[href$=supercrunchy]:after,
a.author[href$=Taiokoshinketsu]:after,
a.author[href$=Turtlelover73]:after,
a.author[href$=lord-hemingway]:after,
a.author[href$=Generic_Builder]:after,
a.author[href$=volcano_bakemeats]:after,
a.author[href$=Chillusion]:after,
a.author[href$=Esplin]:after,
a.author[href$=waffen337]:after,
a.author[href$=sirtophat]:after,
a.author[href$=cheesemoo]:after,
a.author[href$=TwilightSpackle]:after,
a.author[href$=koobaxion]:after,
a.author[href$=InWarAndPieces]:after,
a.author[href$=chinchy]:after,
a.author[href$=amdesch]:after,
a.author[href$="10z20Luka"]:after,
a.author[href$=oblivion2k]:after,
a.author[href$=DarqWolff]:after,
a.author[href$=Apoc2K]:after,
a.author[href$=QdwachMD]:after,
a.author[href$=Boibi]:after,
a.author[href$=Orschmann]:after,
a.author[href$=devtesla]:after,
a.author[href$=tehz]:after,
a.author[href$=tailcalled]:after,
a.author[href$=iiRockpuppy]:after,
a.author[href$=theworstnoveltyacct]:after,
a.author[href$=OneOfTheseDaysLuna]:after,
a.author[href$=hermano23]:after,
a.author[href$=herabek]:after,
a.author[href$=Backupusername]:after
{
color:#000; 
font-size:10px!important; 
letter-spacing:normal; 
}

/* After-name text goes here. */
a.author[href$=scriptea]:after  { content:" (Too main pone for background pone status)" }
a.author[href$="ClopIsDisgusting"]:after  { content:" (Exists solely to shit on other people's fun)" }
a.author[href$=Myrandall]:after { content:" (Will applaud anything that doesn't resemble a plastic cock)" }
a.author[href$=Chinch335]:after { content:" (brings the magic)" }
a.author[href$=IllusionOf_Integrity]:after { content:" (participates in bringing the magic)" }
a.author[href$=SkiidrowDash]:after { content:" (Lord of the Hamsters)" }
a.author[href$=trypsonite]:after { content:" is dead" }
a.author[href$=Backupusername]:after { content:" http://www.youtube.com/watch?f&v=3JCUWl30VuM" }
a.author[href$=andysonic2]:after { content:" THE NO FUN POLICE"; color:purple }
a.author[href$=Capnpaddy]:after { content:" (banned)" }
a.author[href$=Capnpaddydash]:after { content:" (shoot on sight)" }
a.author[href$=Speedingturtle]:after { content:" (°ロ°)" }
a.author[href$=RetardVomitPussyCunt]:after { content:" (has a really funny name)" }
a.author[href$=supercrunchy]:after { content:" (super banned, twice)" }
a.author[href$=Taiokoshinketsu]:after { content:" (Prettiest Princess)"; color:red }
a.author[href$=Turtlelover73]:after { content:" (ruiner of emotes)" }
a.author[href$=lord-hemingway]:after { content:" (Clopper 44)" }
a.author[href$=Generic_Builder]:after { content:" IS SO KAWAII!" }
a.author[href$=volcano_bakemeats]:after { content:" (Flour Sack Monster)" }
a.author[href$=Chillusion]:after { content:" (Because I can.)" }
a.author[href$=Esplin]:after { content:" and the Raiders of the Lost Farl" }
a.author[href$=waffen337]:after { content:"(Fucking ass ball bajongler)" }
a.author[href$=sirtophat]:after { content:" (flaming homosexual)"; color:purple }
a.author[href$=cheesemoo]:after { content:" (Continually fucks with the CSS)" }
a.author[href$=TwilightSpackle]:after { content:" (loves huge d***)" }
a.author[href$=koobaxion]:after { content:" i.imgur.com/VUNCC.jpg" }
a.author[href$=InWarAndPieces]:after { content:" i.imgur.com/v4VVJ.gif" }
a.author[href$=chinchy]:after { content:" This one's not the real Chinchy." }
a.author[href$=amdesch]:after { content:" (Worship him.)" }
a.author[href$=oblivion2k]:after { content:" is also gay for Spitfire." }
/*a.author[href$=DarqWolff]:after { content:" [USER WAS BANNED FOR THIS POST]"; color:red; font-size:16px!important }*/
a.author[href$=DarqWolff]:after { content:" KILLED A HOOKER ON THE RUG"; color:red; font-size:16px!important }
a.author[href$=Apoc2K]:after { content:" <generic text>" }
a.author[href$=QdwachMD]:after { content:" (You can trust this guy, he's a doctor and monarch.)" }
a.author[href$=Boibi]:after { content:" is definitely a doctor." }
a.author[href$=Orschmann]:after { content:" has a lot of consonants in his name." }
a.author[href$=devtesla]:after { content:" cereal" }
a.author[href$=tehz]:after,a.author[href$=tailcalled]:after { content:" (925) - 273 - 7235'" }
a.author[href$=iiRockpuppy]:after { content:" - ''ii'd tap dat ass''" }
a.author[href$=theworstnoveltyacct]:after { content:" call for a good time" }
a.author[href$=socially_broken]:after  { content:" This guy knows the best vore art." }
a.author[href$=OneOfTheseDaysLuna]:after { content:" really knows how to work the shaft." }
a.author[href$=hermano23]:after { content:" the entertainer" }
a.author[href$=herabek]:after { content:" TOKIN' DAT DANK-ASS SHIT" }
a.author[href$="10z20Luka"]:after { content:" (Wears a flaming kilt made from the blood and skin of those that have been unfortunate enough to meet him in combat. Loves horse cock, but only if it is all one color. AKA The Destroyer of Styles. Can destroy even the smallest thread with his giant after-text title. He truly shall be feared. He also employs fun-loving, cheerful racism for comedic effect (like the racist prick he is). Also, he is a douchy bag douche who douch bag with bag douche. Andy's room-mate and lover)";
 font-size:6px!important }
a.author[href$=JIVEprinting]:after { content:" Christfag" }


/* Any pre/post-name flair stuff goes here */ 
.tagline a.author[href="http://www.reddit.com/user/RainbowCrash"]:before,
.tagline a.author[href="http://www.reddit.com/user/qwert426"]:before,
.tagline a.author[href="http://www.reddit.com/user/Orschmann"]:before,
.tagline a.author[href="http://www.reddit.com/user/derram_2"]:after, 
.tagline a.author[href="http://www.reddit.com/user/EvilHom3r"]:after

{
    content: " ";
    background: none;
    color: black;
    border: 0;
    border-radius: 0;
    background-image: url(%%flairsheet%%);
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -2px;
    overflow: hidden;    
}

/* Flour sack flair for anyone we've noticed that has flair disabled. Don't forget to add them above too.*/ 
.tagline a.author[href="http://www.reddit.com/user/EvanMacIan"]:before,
.tagline a.author[href="http://www.reddit.com/user/RainbowCrash"]:before,
.tagline a.author[href="http://www.reddit.com/user/qwert426"]:before
{
    background-position: 0px -540px;
}

/* Derram pie */
.tagline a.author[href="http://www.reddit.com/user/derram_2"]:after
{
    background-position: 0px -720px;
}

/* Extra AJ flair for homer since he's a pretty cool guy */
.tagline a.author[href="http://www.reddit.com/user/EvilHom3r"]:after
{
    background-position: 0px -60px;
}
/* Orsch second flair.  Cause Orsch. */
.tagline a.author[href="http://www.reddit.com/user/Orschmann"]:before  
{
/*   content:"Orrrsssccchhhmmmannnnn" ; */ 
  background-position: 0px -2040px;
}

/* Text colors! */
a[href|="/white!"]:nth-of-type(n) { color: white !important; cursor: text !important; background-color: black !important }
a[href|="/orange!"]:nth-of-type(n) { color: orange !important; cursor: text !important }
a[href|="/green!"]:nth-of-type(n) { color: green !important; cursor: text !important }
a[href|="/greentext!"]:nth-of-type(n) { color: rgb(120,153,34) !important; cursor: text !important }
a[href|="/purple!"]:nth-of-type(n) { color: purple !important; cursor: text !important }
a[href|="/yellow!"]:nth-of-type(n) { color: gold !important; cursor: text !important }
a[href|="/pink!"]:nth-of-type(n) { color: fuchsia !important; cursor: text !important }
a[href|="/blue!"]:nth-of-type(n) { color: blue !important; cursor: text !important }
a[href|="/red!"]:nth-of-type(n) { color: red !important; cursor: text !important }
a[href|="/big!"]:nth-of-type(n) { color: red !important; font-size: 50px !important; font-weight: bold; cursor: text !important }
a[href|="/txt!"]:nth-of-type(n) { color: inherit !important; cursor: text !important }

/* Pony themed text */
a[href|="/zecora!"]:nth-of-type(n) { color: rgb(255,255,255) !important; cursor: text !important; background-color: rgb(105,105,120) !important }
a[href|="/applejack!"]:nth-of-type(n) { color: #e56522 !important; cursor: text !important; background-color: #ffc97b !important }
a[href|="/pinkie!"]:nth-of-type(n) { color: #c10064 !important; cursor: text !important; background-color: #f8c0ce !important }
a[href|="/rainbow!"]:nth-of-type(n) { color: #971757 !important; cursor: text !important; background-color: #97d6f9 !important }
a[href|="/rarity!"]:nth-of-type(n) { color: #eef1f3 !important; cursor: text !important; background-color: #49176d !important }
a[href|="/twilight!"]:nth-of-type(n) { color: #363b74 !important; cursor: text !important; background-color: #caaad1 !important }
a[href|="/fluttershy!"]:nth-of-type(n) { color: #e57eb3 !important; cursor: text !important; background-color: #fff797 !important }
a[href|="/luna!"]:nth-of-type(n) { font-size: 18px; font-variant: small-caps !important; cursor: text !important; color: #72b4ff !important; background-color: #18113b !important }

/* Adds a neat style for ####text in posts. */
.usertext-body h4 { font-size: 20px; font-weight: bold; color: navy; background: lightblue; text-align: center; padding: 3px; border-radius: 19px; -moz-border-radius: 19px; box-shadow: 2px 2px 5px #9999ff; text-shadow: 1px 1px #ffffff }

a[href|="/hoppy"] { display: block; clear: none; float: left; background-image: url(%%Umrzj%%); width: 105px; height: 157px; background-position: -0px -0px }

a.author[href$="Pathogen-David"], a.author[href$="Phei"] { font-weight: bold; color: #662D8A }
body.res a.author[href$="Pathogen-David"], body.res a.author[href$="Phei"] { color: white !important; padding: 0 2px; border-radius: 3px; background-color: #662D8A }

/* PROPER GREENTEXT (stolen from plounge, which stole from /r/4chan) */
.content .md h1 { color: #789922; border-bottom: none; padding-bottom: 0px }
.content .md h1:before { content: ">" }