#header-img{margin-top:6px; margin-bottom:-4px; padding-bottom:0px;}
.tabmenu{position: absolute; top: 99px;}
#header-bottom-left {padding-bottom:0px; margin-bottom: 0px; margin-left:-150px;}

#header-bottom-left{background:url(%%atbg2%%) top left no-repeat;background-position:0px -10px;height:50px;padding-top:93px; margin-left: -110px;}

#header-img{text-indent:-9999px;background-position:0px -258px;background-repeat:no-repeat;height:145px;width:440px; margin-top:-95px; margin-right:-250px;}

.tabmenu{position: absolute;  padding-top: 49px; margin: 0px; left: 265px;}


.redditname a{
text-indent:-9001px;

}

.pagename {color: white; font-size: 325%; font-family:arial;}

.redditname a {
display: block;
float: left;
}

#newlink{ margin-top:18px;}


/* This uses a blank transparent image as the logo because of a strange rendering thing in chrome */
.redditname a{
vertical-align: bottom;
height: 100px;
width: 150px;
margin-left: -60px;
margin-top: -48px;

}


.titlebox h1{
background:none;
}

.titlebox h1 a{
text-indent:0px;
margin-left:0px;
margin-top: 0px;
height: 25px;
width: 220px;
background:none;
vertical-align: bottom;
display:block;
}

/******************************************************************************
*           My Little AdventureTime Emote Block                               *
******************************************************************************/
a[href|="/at00"], a[href|="/finn"],
a[href|="/at10"], a[href|="/twiventure"],
a[href|="/at20"], a[href|="/jake"]
{
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%MLAT-Emotes-Table%%) !important
}

a[href|="/at01"], a[href|="/rainicorn"],
a[href|="/at03"], a[href|="/atcharge"]
{
    display: block;
    clear: none;
    float: left;
    width: 210px;
    height: 140px;
    background-image: url(%%MLAT-Emotes-Table%%) !important
}
a[href|="/rat00"], a[href|="/rfinn"],
a[href|="/rat10"], a[href|="/rtwiventure"],
a[href|="/rat20"], a[href|="/rjake"]
{
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%MLAT-Emotes-Table-Rev%%) !important
}

a[href|="/rat01"], a[href|="/rrainicorn"],
a[href|="/rat03"], a[href|="/ratcharge"]
{
    display: block;
    clear: none;
    float: left;
    width: 210px;
    height: 140px;
    background-image: url(%%MLAT-Emotes-Table-Rev%%) !important
}

/*********************************************/
a[href|="/at00"],  a[href|="/finn"],  
a[href|="/rat00"], a[href|="/rfinn"]{
    background-position: -0px -0px
}
a[href|="/at10"],  a[href|="/twiventure"] ,
a[href|="/rat10"], a[href|="/rtwiventure"]{
    background-position: -70px -0px
}
a[href|="/at20"],  a[href|="/jake"], 
a[href|="/rat20"], a[href|="/rjake"]{
    background-position: -140px -0px
} 
/*********************************************/

a[href|="/at01"],  a[href|="/rainicorn"], 
a[href|="/rat01"], a[href|="/rrainicorn"]{
    background-position: -0px -70px
}

/*********************************************/
a[href|="/at03"],  a[href|="/atcharge"],
a[href|="/rat03"], a[href|="/ratcharge"]{
    background-position: -0px -210px
}
/*********************************************/
/******************************************************************************
*           End Docotors My Little AdventureTime Emote Block                  *
******************************************************************************/