body {
    background: url('%%pluna%%') no-repeat fixed center center;
    background-color:#333333;
    }

#header {
    background-image:url(%%jVFOlBW%%);
    background-position:bottom right;
    background-repeat:repeat;
    background-color:#333333;
    height:280px;
    border:none;
}

#header .redditname a {
color: #cccccc;
}

#header-img {
margin-top:228px;
margin-left:5px;
}



/* IMPORTANt THINGS==========================================================================================*/

.tabmenu li a {
padding: 2px 6px 0 6px;
background-color: #333333;
color:#cccccc;
font-weight:normal;
font-size:1.1em;
}

.tabmenu li.selected a {
color: #cccccc;
background-color: white;
border: 1px solid #333333;
border-bottom: 1px solid white;
z-index: 100;
}

.side .titlebox h1 {
font-family:helvetica,arial,sans-serif;
font-weight:100;
font-size:20px;
color:#cccccc;
}

.side .titlebox h1:redditname {
content:"";
margin-left:8px;
font-size:11px;
font-weight:normal;
color:#cccccc;
}

div.link {
padding:25px 15px 25px 15px;
font-family:helvetica,arial,sans-serif;
font-weight:100;
overflow:hidden;
margin:0;
}

div.link.odd {
color: #cccccc;
background-color:transparent;
}

div.link.even {
color:#cccccc;
background-color:transparent;
}

.thing .title {
color:#cccccc!important;
font-size:20px;
}

.thing .title:visited {
color:#cccccc!important;
}

.link .rank {
display:none;
}

.midcol {
margin-right:15px;
}

.keyHighlight {
outline:none!important;
background:transparent!important;
}

/* SUBMIT PAGE THINGS =================================================================================*/

#newlink .infobar {
    background-color: transparent;
    color: #cccccc;
    padding: 0;
    margin: 0;
    font-size: 0;
    border: 0;
    text-indent: -10000px
    }
#newlink .infobar:after {
    text-indent: 0;
    background-color: gray;
    color: white !important;
    border: 0;
    padding: 10px;
    background-position: bottom center;
    background-repeat: no-repeat;
    font-size: 15pt;
    font-weight: bold;
    display: block;
    margin-top: 5px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px
    }
#link-desc:after {
    content: "I copied this submit page from /r/foodporn";
    }

/* GIANT SIDEBAR MESS ======================================================================================*/

div.titlebox span.word { display: none }
div.titlebox span.number:after { content: " Ploungers" }
.side form#search {
    position: relative;
    z-index: 9999;
    top: 4px;
    right: 1px
    }
.side form#search input[name="q"] {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    line-height: 25px;
    text-align: center
    }
#searchexpando {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 1px solid #333333;
    background-color: #333333;
    }
.login-form-side {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    }
.side {
    float: right;
    background-color: #333333;
    margin: 36px 5px 0 5px;
    width: 300px;
    }
.side .spacer {
    margin: 5px 0 12px 0;
    }
.sidebox {
    color: #333333;
    position: absolute;
    top: 224px;
    width: 300px;
    }
.morelink {
    display: block;
    text-align: center;
    position: relative;
    border: 0px transparent;
    background: white;
    background-image: none;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 1px solid gray;
    visibility: visible !important
    }
.morelink:hover, .mlh {
    border-color: gray;
    background-image: none;
    visibility: visible !important
    }
.morelink a {
    display: block;
    width: 100%;
    }
.morelink:hover a {
    color: #cccccc;
    background-color: #333333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }
.morelink .nub {
    position: absolute;
    top: -1px;
    right: -1px;
    height: 31px;
    width: 24px;
    display: none
    }
.linkinfo {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    }
.side .sidebox.create {
    display: none
    }
.titlebox form.toggle {
    background: white;
    }
.icon-menu a {
    background: transparent;
    }
.side .sidebox.create {
    display: none
    }
.sidebox .spacer {
    display: none;
    }
#moresearchinfo {
    border: none !important
    }
div.titlebox {
    background: transparent;
    color: #cccccc;
    border: 1px solid gray;
    padding: 1em 1em 0;
    padding-bottom: 4px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    }
.sidecontentbox h1 {
    display: block!important;
    background-color: transparent !important;
    font-weight: bold;
    font-size: 11px !important;
    padding: 2px 5px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    border: 1px solid gray;
    }
.sidecontentbox .content {
    border: none;
    background-color: transparent;
    color: #cccccc;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    }
.sidecontentbox .helplink {
    padding-right: 5px
    }
.sidecontentbox .collapse-button {
    display: none;
    }

/* RULES =====*/

 .md ul {
    background-color: transparent;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 2px;
    margin: 0px;
    font-size: 95%;
    color: black
    }
.md ul {
    padding-right: 5px;
    }

/*EMOTES ====================================================================================================================================*/

a[href|='/twiley'], a[href|='/smiley'], a[href|='/shining'], a[href|='/werenotrelated'], a[href|='/shiningninja'], a[href|='/shining4'], a[href|='/shiningheil'], a[href|='/armorarmor'], a[href|='/shining3'], a[href|='/shininghottie'], a[href|='/donttellmywife'], a[href|='/shining1'], a[href|='/shining2'], a[href|='/shiningheythere'], a[href|='/shininghugs'], a[href|='/shiningderp'], a[href|='/shiningcuddle']{
    display: block;
    clear: none;
    float: left;
    background-image: url(%%ss1%%)
    }

a[href|='/twiley']{ background-position: -0px -0px; width: 300px; height: 300px; }
a[href|='/smiley']{ background-position: -0px -300px; width: 150px; height: 258px; }
a[href|='/shining']{ background-position: -150px -300px; width: 150px; height: 242px; }
a[href|='/werenotrelated']{ background-position: -150px -542px; width: 150px; height: 206px; }
a[href|='/shiningninja']{ background-position: -0px -748px; width: 221px; height: 200px; }
a[href|='/shining4']{ background-position: -0px -948px; width: 163px; height: 199px; }
a[href|='/shiningheil']{ background-position: -0px -558px; width: 150px; height: 180px; }
a[href|='/armorarmor']{ background-position: -0px -1147px; width: 150px; height: 166px; }
a[href|='/shining3']{ background-position: -150px -1147px; width: 150px; height: 150px; }
a[href|='/shininghottie']{ background-position: -150px -1297px; width: 150px; height: 150px; }
a[href|='/donttellmywife']{ background-position: -0px -1313px; width: 150px; height: 138px; }
a[href|='/shining1']{ background-position: -150px -1447px; width: 150px; height: 128px; }
a[href|='/shining2']{ background-position: -0px -1451px; width: 150px; height: 124px; }
a[href|='/shiningheythere']{ background-position: -0px -1575px; width: 150px; height: 122px; }
a[href|='/shininghugs']{ background-position: -150px -1575px; width: 150px; height: 118px; }
a[href|='/shiningderp']{ background-position: -150px -1693px; width: 150px; height: 112px; }
a[href|='/shiningcuddle']{ background-position: -0px -1697px; width: 150px; height: 99px; }

a[href|='/ajcozy'], a[href|='/pinkiecozy'], a[href|='/twicozy'], a[href|='/dashcozy'], a[href|='/fluttercozy'], a[href|='/raritycozy'], a[href|='/derpycozy']{
    display: block;
    clear: none;
    float: left;
    background-image: url(%%ss2%%)
    }

a[href|='/ajcozy']{ background-position: -0px -0px; width: 150px; height: 193px; }
a[href|='/pinkiecozy']{ background-position: -150px -0px; width: 150px; height: 193px; }
a[href|='/twicozy']{ background-position: -0px -193px; width: 150px; height: 191px; }
a[href|='/dashcozy']{ background-position: -150px -193px; width: 150px; height: 191px; }
a[href|='/fluttercozy']{ background-position: -0px -384px; width: 150px; height: 191px; }
a[href|='/raritycozy']{ background-position: -150px -384px; width: 150px; height: 191px; }
a[href|='/derpycozy']{ background-position: -0px -575px; width: 150px; height: 190px; }


a[href|='/raritywhythankyou'], a[href|='/notanapple'], a[href|='/flutterbraid'], a[href|='/zecoraback'], a[href|='/zecorawhat'], a[href|='/twiglaredown'], a[href|='/erispoint'], a[href|='/erisiscute'], a[href|='/zecoraup'], a[href|='/erispoint'], a[href|='/rarityworried'], a[href|='/dashfirenom'], a[href|='/flufflehop'], a[href|='/flufflefall'], a[href|='/zecoraspiders'], a[href|='/sweetiewhatthe'], a[href|='/zecoraflee'], a[href|='/miniluna'], a[href|='/scoottongue'], a[href|='/zecorahood'], a[href|='/zecoraeyes']{
    display: block;
    clear: none;
    float: left;
    background-image: url(%%ss3%%)
    }

a[href|='/raritywhythankyou']{background-position: -0px -0px; width: 150px; height: 236px; }
a[href|='/notanapple']{ background-position: -0px -236px; width: 150px; height: 225px; }
a[href|='/flutterbraid']{ background-position: -0px -461px; width: 150px; height: 194px; }
a[href|='/zecoraback']{ background-position: -0px -655px; width: 150px; height: 185px; }
a[href|='/zecorawhat']{  background-position: -0px -840px; width: 150px; height: 184px;  }
a[href|='/twiglaredown']{ background-position: -0px -1024px; width: 150px; height: 165px; }
a[href|='/erispoint']{ background-position: -0px -1189px; width: 150px; height: 151px; }
a[href|='/erisiscute']{ background-position: -0px -1340px; width: 93px; height: 150px; }
a[href|='/zecoraup']{ background-position: -0px -1490px; width: 150px; height: 150px;  }
a[href|='/rarityworried']{ background-position: -0px -1640px; width: 150px; height: 150px; }
a[href|='/dashfirenom']{ background-position: -0px -1790px; width: 150px; height: 148px; }
a[href|='/flufflehop']{ background-position: -0px -1938px; width: 150px; height: 146px; }
a[href|='/flufflefall']{ background-position: -0px -2084px; width: 150px; height: 138px; }
a[href|='/zecoraspiders']{ background-position: -0px -2222px; width: 150px; height: 135px; }
a[href|='/sweetiewhatthe']{ background-position: -0px -2357px; width: 100px; height: 132px; }
a[href|='/zecoraflee']{ background-position: -0px -2489px; width: 150px; height: 127px; }
a[href|='/miniluna']{ background-position: -0px -2616px; width: 150px; height: 113px; }
a[href|='/scoottongue']{ background-position: -0px -2729px; width: 150px; height: 111px; }
a[href|='/zecorahood']{ background-position: -0px -2840px; width: 150px; height: 99px; }
a[href|='/zecoraeyes']{ background-position: -0px -2939px; width: 150px; height: 98px;  }
