body {
    background: url('%%pluna%%') no-repeat fixed center center;
    background-color:#333333;
    }

#header {
    background-image:url(%%jVFOlBW%%);
    background-position:bottom right;
    background-repeat:repeat;
    background-color:#333333;
    height:280px;
    border:none;
}

#header .redditname a {
color: #cccccc;
}

#header-img {
margin-top:228px;
margin-left:5px;
}



/* IMPORTANt THINGS==========================================================================================*/

.tabmenu li a {
padding: 2px 6px 0 6px;
background-color: #333333;
color:#cccccc;
font-weight:normal;
font-size:1.1em;
}

.tabmenu li.selected a {
color: #cccccc;
background-color: white;
border: 1px solid #333333;
border-bottom: 1px solid white;
z-index: 100;
}

.side .titlebox h1 {
font-family:helvetica,arial,sans-serif;
font-weight:100;
font-size:20px;
color:#cccccc;
}

.side .titlebox h1:redditname {
content:"";
margin-left:8px;
font-size:11px;
font-weight:normal;
color:#cccccc;
}

div.link {
padding:25px 15px 25px 15px;
font-family:helvetica,arial,sans-serif;
font-weight:100;
overflow:hidden;
margin:0;
}

div.link.odd {
color: #cccccc;
background-color:transparent;
}

div.link.even {
color:#cccccc;
background-color:transparent;
}

.thing .title {
color:#cccccc!important;
font-size:20px;
}

.thing .title:visited {
color:#cccccc!important;
}

.link .rank {
display:none;
}

.midcol {
margin-right:15px;
}

.keyHighlight {
outline:none!important;
background:transparent!important;
}

/* SUBMIT PAGE THINGS =================================================================================*/

#newlink .infobar {
    background-color: transparent;
    color: #cccccc;
    padding: 0;
    margin: 0;
    font-size: 0;
    border: 0;
    text-indent: -10000px
    }
#newlink .infobar:after {
    text-indent: 0;
    background-color: gray;
    color: white !important;
    border: 0;
    padding: 10px;
    background-position: bottom center;
    background-repeat: no-repeat;
    font-size: 15pt;
    font-weight: bold;
    display: block;
    margin-top: 5px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px
    }
#link-desc:after {
    content: "I copied this submit page from /r/foodporn";
    }

/* GIANT SIDEBAR MESS ======================================================================================*/

div.titlebox span.word { display: none }  
div.titlebox span.number:after { content: " Ploungers" } 
.side form#search {
    position: relative;
    z-index: 9999;
    top: 4px;
    right: 1px
    }
.side form#search input[name="q"] {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    line-height: 25px;
    text-align: center
    }
#searchexpando {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 1px solid #333333;
    background-color: #333333;
    }
.login-form-side {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    }
.side {
    float: right;
    background-color: #333333;
    margin: 36px 5px 0 5px;
    width: 300px;
    }
.side .spacer {
    margin: 5px 0 12px 0;
    }
.sidebox {
    color: #333333;
    position: absolute;
    top: 224px;
    width: 300px;
    }
.morelink {
    display: block;
    text-align: center;
    position: relative;
    border: 0px transparent;
    background: white;
    background-image: none;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 1px solid gray;
    visibility: visible !important
    }
.morelink:hover, .mlh {
    border-color: gray;
    background-image: none;
    visibility: visible !important
    }
.morelink a {
    display: block;
    width: 100%;
    }
.morelink:hover a {
    color: #cccccc;
    background-color: #333333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }
.morelink .nub {
    position: absolute;
    top: -1px;
    right: -1px;
    height: 31px;
    width: 24px;
    display: none
    }
.linkinfo {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    }
.side .sidebox.create {
    display: none
    }
.titlebox form.toggle {
    background: white;
    }
.icon-menu a {
    background: transparent;
    }
.side .sidebox.create {
    display: none
    }
.sidebox .spacer {
    display: none;
    }
#moresearchinfo {
    border: none !important
    }
div.titlebox {
    background: transparent;
    color: #cccccc;
    border: 1px solid gray;
    padding: 1em 1em 0;
    padding-bottom: 4px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    }
.sidecontentbox h1 {
    display: block!important;
    background-color: transparent !important;
    font-weight: bold;
    font-size: 11px !important;
    padding: 2px 5px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    border: 1px solid gray;
    }
.sidecontentbox .content {
    border: none;
    background-color: transparent;
    color: #cccccc;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    }
.sidecontentbox .helplink {
    padding-right: 5px
    }
.sidecontentbox .collapse-button {
    display: none;
    }

/* RULES =====*/

 .md ul {
    background-color: transparent;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 2px;
    margin: 0px;
    font-size: 95%;
    color: black
    }
.md ul {
    padding-right: 5px;
    }

/*EMOTES ===================================================================================================*/

a[href="/zecoraback"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 185px;
background-image: url(%%zecoraback%%) !important
}

a[href="/zecoraeyes"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 98px;
background-image: url(%%zecoraeyes%%) !important
}

a[href="/zecoraflee"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 127px;
background-image: url(%%zecoraflee%%) !important
}

a[href="/zecorahood"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 99px;
background-image: url(%%zecorahood%%) !important
}

a[href="/zecoraspiders"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 135px;
background-image: url(%%zecoraspiders%%) !important
}

a[href="/zecoraup"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 150px;
background-image: url(%%zecoraup%%) !important
}

a[href="/zecorawhat"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 184px;
background-image: url(%%zecorawhat%%) !important
}

a[href="/ajcozy"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 193px;
background-image: url(%%ajcozy%%) !important
}

a[href="/dashcozy"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 191px;
background-image: url(%%dashcozy%%) !important
}

a[href="/derpycozy"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 190px;
background-image: url(%%derpycozy%%) !important
}

a[href="/fluttercozy"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 191px;
background-image: url(%%fluttercozy%%) !important
}

a[href="/pinkiecozy"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 193px;
background-image: url(%%pinkiecozy%%) !important
}

a[href="/twicozy"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 193px;
background-image: url(%%twicozy%%) !important
}

a[href="/scoottongue"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 111px;
background-image: url(%%scoottongue%%) !important
}

/*a[href="/shakeeee"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 650px;
Height: 500px;
background-image: url(%%shakeeee%%) !important
}*/

a[href="/raritycozy"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 191px;
background-image: url(%%raritycozy%%) !important
}

a[href="/twiglaredown"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 165px;
background-image: url(%%twiglaredown%%) !important
}

a[href="/sweetiewhatthe"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 100px;
Height: 132px;
background-image: url(%%sweetiewhatthe%%) !important
}

a[href="/dashfirenom"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 150px;
background-image: url(%%dashfirenom%%) !important
}

a[href="/flutterbraid"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 194px;
background-image: url(%%flutterbraid%%) !important
}

a[href="/lunawtfisthat"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 150px;
background-image: url(%%lunawtfisthat%%) !important
}

a[href="/eriscute"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 93px;
Height: 150px;
background-image: url(%%discordcute%%) !important
}

a[href="/erisme"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 151px;
background-image: url(%%erispoint%%) !important
}

a[href="/miniluna"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 113px;
background-image: url(%%miniluna%%) !important
}

a[href="/flufflehop"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 146px;
background-image: url(%%flufflehop%%) !important
}

a[href="/flufflefall"] {
background-position: 0px 0px;
Display: block;
Clear: none;
Float: left;
Width: 150px;
Height: 138px;
background-image: url(%%flufflefall%%) !important
}