#header
{
border-bottom:5px solid #c10058;
position:relative;
background-color:#ffb9de;
z-index:99}
div.titlebox span.word {
    display: none;
    color:#ffb9de;
    border-bottom:#c10058;
    font-family:"Ariel";
    font-size:10px;
    }
div.titlebox .subscribers span.number:after {
    color:pink;
    font-family:"Ariel";
    font-size:20px;

    content: " Pinkquisitioners"
    }
div.titlebox .users-online span.number:after {
    content: " Online Now"
    }
/*body
{
background-color:#c10058;
}*/
h1
{
background-color:#c10058;
text-align:center;
font-size:18px;
}
p
{
font-family:"Ariel";
font-size:15px;
color:deeppink;
}
#sr-header-area
{
background-color:#ee80c4;
white-space:nowrap;
text-transform:uppercase;
border-bottom:1px solid gray;
font-size:90%;
height:18px;
line-height:18px
}
#mail
{
position:relative;
top:2px;
background-color:pink;
display:inline-block;
text-indent:-9999px;
overflow:hidden;
width:15px;
height:10px
}
#mail.havemail
{
background-position:-102px -616px;
background-repeat:no-repeat}

/*div#header
{
background-color:#E3A1BC;
border-bottom:1px solid #7A5765
}*/
.tabmenu li a
{
background-color:#FFE0ED;
color:#6E565F
}
.tabmenu li.selected a
{
border:1px solid #7A5765;
border-bottom:1px solid white
}


/*Motes Motes Motes Motes...*/



a[href|="/cakeshake"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 199px;
	background-position: -0px -0px;
    background-image: url(%%spritesheet1%%) !important
    }
a[href|="/ccserene"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 107px;
	background-position: -150px -0px;
    background-image: url(%%spritesheet1%%) !important
    }

a[href|="/chibivinyl"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 143px;
	background-position: -300px -0px;
    background-image: url(%%spritesheet1%%) !important
    }

a[href|="/crossmyheart"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
	background-position: -450px -0px;
    background-image: url(%%spritesheet1%%) !important
    }

a[href|="/crylestia"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
	background-position: -600px -0px;
    background-image: url(%%spritesheet1%%) !important
    }

a[href|="/fillyglaze"] {
    display: block;
    clear: none;
    float: left;
    width: 149px;
    height: 150px;
	background-position: -750px -0px;
    background-image: url(%%spritesheet1%%) !important
    }

a[href|="/fillytombstone"] {
    display: block;
    clear: none;
    float: left;
    width: 149px;
    height: 150px;
	background-position: -0px -199px;
    background-image: url(%%spritesheet1%%) !important
    }

a[href|="/happycamperfun"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 128px;
	background-position: -149px -199px;
    background-image: url(%%spritesheet1%%) !important
    }

a[href|="/inmyeye"] {
    display: block;
    clear: none;
    float: left;
    width: 135px;
    height: 150px;
	background-position: -349px -199px;
    background-image: url(%%spritesheet1%%) !important
    }

a[href|="/pinkiebow"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 143px;
	background-position: -484px -199px;
    background-image: url(%%spritesheet1%%) !important
    }

a[href|="/pinkiefire"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 111px;
	background-position: -634px -199px;
    background-image: url(%%spritesheet1%%) !important
    }

a[href|="/pinkiepresent"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 136px;
	background-position: -784px -199px;
    background-image: url(%%spritesheet1%%) !important
    }

a[href|="/pinkqistodian"] {
    display: block;
    clear: none;
    float: left;
    width:150px; height:150px; background-position: -0px -349px;
    background-image: url(%%spritesheet1%%) !important
    }

a[href|="/ppsaywhat"] {
    display: block;
    clear: none;
    float: left;
    width:102px; height:150px; background-position: -150px -349px;
    background-image: url(%%spritesheet1%%) !important
    }

a[href|="/ppsecret"] {
    display: block;
    clear: none;
    float: left;
    width:149px; height:150px; background-position: -252px -349px;
    background-image: url(%%spritesheet1%%) !important
    }

a[href|="/ppwhatsup"] {
    display: block;
    clear: none;
    float: left;
    width:150px; height:110px; background-position: -401px -349px; 
    background-image: url(%%spritesheet1%%) !important
    }

a[href|="/ppthumb"] {
    display: block;
    clear: none;
    float: left;
    width:150px; height:127px; background-position: -551px -349px;
    background-image: url(%%spritesheet1%%) !important
    }

a[href|="/schooliepie"] {
    display: block;
    clear: none;
    float: left;
    width:150px; height:118px; background-position: -701px -349px;
    background-image: url(%%spritesheet1%%) !important
    }

a[href|="/tenthgear"] {
    display: block;
    clear: none;
    float: left;
    width:99px; height:150px; background-position: -851px -349px; 
    background-image: url(%%spritesheet1%%) !important
    }

a[href|="/totheface"] {
    display: block;
    clear: none;
    float: left;
    width:200px; height:100px; background-position: -0px -499px;
    background-image: url(%%spritesheet1%%) !important
    }

a[href|="/vinylchibi"] {
    display: block;
    clear: none;
    float: left;
    width:150px; height:150px; background-position: -200px -499px;
    background-image: url(%%spritesheet1%%) !important
    }
a[href|="/chibitavi"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 162px;
    background-image: url(%%chibitavi%%) !important
    }
a[href|="/twihornblow"] {
    display: block;
    clear: none;
    float: left;
    width: 140px;
    height: 150px;
    background-image: url(%%twihorn2%%) !important
    }
a[href|="/chibipie"] {
    display: block;
    clear: none;
    float: left;
    width: 135px;
    height: 150px;
    background-image: url(%%chibipie%%) !important
    }
a[href|="/sittiepie"] {
    display: block;
    clear: none;
    float: left;
    width: 116px;
    height: 150px;
    background-image: url(%%sittiepie%%) !important
    }
a[href|="/givemeyourpants"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(%%givemeyourpants%%) !important
    }
a[href|="/rgivemeyourpants"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(%%rgivemeyourpants%%) !important
    }

a[href|="/pinkiesquiggle"] {
    display: block;
    clear: none;
    float: left;
    width: 133px;
    height: 150px;
    background-image: url(%%pinkiesquiggle%%) !important
    }
a[href|="/steampink"] {
    display: block;
    clear: none;
    float: left;
    width: 146px;
    height: 150px;
    background-image: url(%%steampink%%) !important
    }

a[href|="/zoeylee"] {
    display: block;
    clear: none;
    float: left;
    width: 125px;
    height: 150px;
    background-image: url(%%zoilee%%) !important
    }

a[href|="/pperpsweat"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 97px;
    background-image: url(%%pperpsweat%%) !important
    }

a[href|="/ppholmes"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 147px;
    background-image: url(%%ppholmes%%) !important
    }

a[href|="/pinkiebyzero"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(%%pinkiebyzero%%) !important
    }


a[href|="/incomingfun"] {
    display: block;
    clear: none;
    float: left;
    width: 143px;
    height: 150px;
    background-image: url(%%incomingfun%%) !important
    }
a[href|="/pinkieweight"] {
    display: block;
    clear: none;
    float: left;
    width: 155px;
    height: 159px;
    background-image: url(%%pinkieweight%%) 
    }

a[href|="/pphithere"] {
    display: block;
    clear: none;
    float: left;
    width: 145px;
    height: 150px;
    background-image: url(%%pphithere%%) 
    }
a[href|="/fillybraesad"] {
    display: block;
    clear: none;
    float: left;
    width: 114px;
    height: 150px;
    background-image: url(%%fillybraesad%%) 
    }
a[href|="/frenchyshrug"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 100px;
    background-image: url(%%frenchyshrug%%) 
    }
a[href|="/octascratch"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 144px;
    background-image: url(%%octascratch%%) 
    }
a[href|="/taviwut"] {
    display: block;
    clear: none;
    float: left;
    width: 68px;
    height: 149px;
    background-image: url(%%taviwut%%) 
    }
a[href|="/britavia"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 123px;
    background-image: url(%%britavia%%) 
    }
a[href|="/happytavi"] {
    display: block;
    clear: none;
    float: left;
    width: 117px;
    height: 150px;
    background-image: url(%%happytavi%%) 
    }
a[href|="/tavipout"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 150px;
    background-image: url(%%tavipout%%) 
    }
a[href|="/cadohyou"] {
    display: block;
    clear: none;
    float: left;
    width: 113px;
    height: 150px;
    background-image: url(%%cadohyou%%) 
    }
a[href|="/madance"] {
    display: block;
    clear: none;
    float: left;
    width: 117px;
    height: 150px;
    background-image: url(%%madance%%) 
    }
a[href|="/squishypie"] {
    display: block;
    clear: none;
    float: left;
    width: 194px;
    height: 200px;
    background-image: url(%%squishypie%%) 
    }
a[href|="/rinkierie"] {
    display: block;
    clear: none;
    float: left;
    width: 138px;
    height: 200px;
    background-image: url(%%rinkierie%%) 
    }
a[href|="/pinkiehug"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 109px;
    background-image: url(%%pinkiehug%%) 
    }
a[href|="/ppbook"] {
    display: block;
    clear: none;
    float: left;
    width: 121px;
    height: 149px;
    background-image: url(%%ppbook%%) 
    }
a[href|="/ppsurprised"] {
    display: block;
    clear: none;
    float: left;
    width: 125px;
    height: 150px;
    background-image: url(%%ppsurprised%%) 
    }
a[href|="/ppwink"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 140px;
    background-image: url(%%winkiepie%%) 
    }
a[href|="/ppodium"] {
    display: block;
    clear: none;
    float: left;
    width: 107px;
    height: 150px;
    background-image: url(%%ppodium%%) 
    }
a[href|="/rainbowsplat"] {
    display: block;
    clear: none;
    float: left;
    width: 121px;
    height: 149px;
    background-image: url(%%rainbowsplat%%) 
    }
a[href|="/pinkbie"] {
    display: block;
    clear: none;
    float: left;
    width: 113px;
    height: 150px;
    background-image: url(%%pinkbie%%) 
    }
a[href|="/pplipbite"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 111px;
    background-image: url(%%pplipbite%%) 
    }
a[href|="/twilipbite"] {
    display: block;
    clear: none;
    float: left;
    width: 149px;
    height: 150px;
    background-image: url(%%twilight-human-face%%) 
    }
a[href|="/bghuman"] {
    display: block;
    clear: none;
    float: left;
    width: 132px;
    height: 131px;
    background-image: url(%%bghuman%%) 
    }
a[href|="/ppbraces"] {
    display: block;
    clear: none;
    float: left;
    width: 141px;
    height: 150px;
    background-image: url(%%ppbraces%%) 
    }
a[href|="/ppcatsuit"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 147px;
    background-image: url(%%ppcatsuit%%) 
    }

a[href|="/pinkiepan"] {
    display: block;
    clear: none;
    float: left;
    width: 141px;
    height: 150px;
    background-image: url(%%pinkiepan%%) 
    }
a[href|="/pinkieooo"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 125px;
    background-image: url(%%pinkieooo%%) 
    }
a[href|="/skatiepie"] {
    display: block;
    clear: none;
    float: left;
    width: 127px;
    height: 150px;
    background-image: url(%%skatiepie%%) 
    }
a[href|="/salutalo"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 80px;
    background-image: url(%%salutalo%%) 
    }

/*Side Bar*/

.titlebox strong {
    font-size: medium
    }
.titlebox del {
    color: white
    }
.titlebox em {
    font-size: 9px;
    text-decoration: none;
    font-style: normal
    }
.titlebox strong em {
    font-size: 8px;
    font-style: normal;
    font-weight: normal
    }
.titlebox table {
    display: none;
    clear: both
    }
.side div.usertext-body:hover table {
    display: block;
    clear: both
    }

/*Mod Box*/
.titlebox .bottom .author, .sidecontentbox .author {
    display: inline-block
    }
.sidecontentbox a.author[href$="/QueenCadence"]:before {
    content: "Captain Of Cupcakes";
    font-size: 10pt;
    color: #369;
    display: block;
    margin-right: 0.5em;
    overflow: hidden
    }
.sidecontentbox a.author[href$="/QueenCadence"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: block
    }
.sidecontentbox a.author[href$="/Tenth-Gear"]:before {
    content: "Grand Overpie";
    font-size: 10pt;
    color: #369;
    display: block;
    margin-right: 0.5em;
    overflow: hidden
    }
.sidecontentbox a.author[href$="/Tenth-Gear"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: block
    }
.sidecontentbox a.author[href$="/Happycamper101"]:before {
    content: "Confetti Commando";
    font-size: 10pt;
    color: #369;
    display: block;
    margin-right: 0.5em;
    overflow: hidden
    }
.sidecontentbox a.author[href$="/Happycamper101"] {
    content: "";
    color: white;
    font-size: 0pt;
    display: block
    }

.sidecontentbox .helplink + .title > h1:before
{
 color:gray!important;
 font-size:13px!important;
 content:"Leaders Of The Pinkquisition";
 display:inline-block
}

/*No RES tags in ModBox*/
.sidecontentbox .voteWeight, .sidecontentbox .userTagLink {
    display: none !important
    }