/* Pony Warfare a */
a[href|="/shywarfare"], a[href|="/raritywarfare"], a[href|="/pinkiewarfare"], a[href|="/ajwarfare"], a[href|="/bonwarfare"], a[href|="/lyrawarfare"], a[href|="/vinylwarfare"], a[href|="/octywarfare"], a[href|="/lotuswarfare"], a[href|="/colgatewarfare"], a[href|="/carrotwarfare"], a[href|="/junebugwarfare"], a[href|="/daisywarfare"], a[href|="/doctorwarfare"], a[href|="/shoeshinewarfare"], a[href|="/trixiewarfare"], a[href|="/derpywarfare"], a[href|="/twiwarfare"], a[href|="/aloewarfare"], a[href|="/cheerileewarfare"], a[href|="/rainbowwarfare"], a[href|="/rosewarfare"], a[href|="/lilywarfare"], a[href|="/cherryberrywarfare"], a[href|="/lemonheartswarfare"], a[href|="/merrywaywarfare"], a[href|="/lightningboltwarfare"], a[href|="/heartthrobwarfare"], a[href|="/flitterwarfare"], a[href|="/cloudchaserwarfare"], a[href|="/peppermintcrunchwarfare"], a[href|="/blossomforthwarfare"], a[href|="/milliewarfare"], a[href|="/sunsetblisswarfare"], a[href|="/aprilshowerswarfare"], a[href|="/pinkladywarfare"], a[href|="/diamondmintwarfare"], a[href|="/spikewarfare"], a[href|="/angelwarfare"], a[href|="/winonawarfare"], a[href|="/tankwarfare"], a[href|="/gummywarfare"], a[href|="/owlowisciouswarfare"], a[href|="/owloysiuswarfare"], a[href|="/opalescencewarfare"], a[href|="/photofinishwarfare"], a[href|="/hoitytoitywarfare"], a[href|="/fancypantswarfare"], a[href|="/fleurwarfare"], a[href|="/sapphireshoreswarfare"]
{background-image:url(%%ponywarfarea%%);display:block;float:left;}

a[href|="/shywarfare"] {width:60px;height:82px;}
a[href|="/raritywarfare"] {width:61px;height:91px;background-position: -100px 0;}
a[href|="/pinkiewarfare"] {width:65px;height:88px;background-position: -200px 0;}
a[href|="/ajwarfare"] {width:92px;height:90px;background-position: 0 -100px;}
a[href|="/bonwarfare"] {width:58px;height:84px;background-position: -100px -100px;}
a[href|="/lyrawarfare"] {width:59px;height:79px;background-position: -200px -100px;}
a[href|="/vinylwarfare"] {width:62px;height:81px;background-position: 0 -200px;}
a[href|="/octywarfare"] {width:81px;height:82px;background-position: -100px -200px;}
a[href|="/lotuswarfare"] {width:72px;height:85px;background-position: -200px -200px;}
a[href|="/colgatewarfare"] {width:71px;height:82px;background-position: 0 -300px;}
a[href|="/carrotwarfare"] {width:93px;height:80px;background-position: -100px -300px;}
a[href|="/junebugwarfare"] {width:98px;height:83px;background-position: -200px -300px;}
a[href|="/daisywarfare"] {width:86px;height:88px;background-position: 0 -400px;}
a[href|="/doctorwarfare"] {width:87px;height:91px;background-position: -100px -400px;}
a[href|="/shoeshinewarfare"] {width:90px;height:84px;background-position: -200px -400px;}
a[href|="/trixiewarfare"] {width:72px;height:87px;background-position: 0 -500px;}
a[href|="/derpywarfare"] {width:79px;height:69px;background-position: -100px -500px;}
a[href|="/twiwarfare"] {width:66px;height:75px;background-position: -200px -500px;}
a[href|="/aloewarfare"] {width:99px;height:86px;background-position: 0 -600px;}
a[href|="/cheerileewarfare"] {width:66px;height:93px;background-position: -100px -600px;}
a[href|="/rainbowwarfare"] {width:89px;height:80px;background-position: -200px -600px;}
a[href|="/rosewarfare"] {width:78px;height:82px;background-position: 0 -700px;}
a[href|="/lilywarfare"] {width:64px;height:87px;background-position: -100px -700px;}
a[href|="/cherryberrywarfare"] {width:72px;height:75px;background-position: -200px -700px;}
a[href|="/lemonheartswarfare"] {width:56px;height:83px;background-position: 0 -800px;}
a[href|="/merrywaywarfare"] {width:90px;height:78px;background-position: -100px -800px;}
a[href|="/lightningboltwarfare"] {width:65px;height:83px;background-position: -200px -800px;}
a[href|="/heartthrobwarfare"] {width:81px;height:83px;background-position: 0 -900px;}
a[href|="/flitterwarfare"] {width:85px;height:86px;background-position: -100px -900px;}
a[href|="/cloudchaserwarfare"] {width:97px;height:88px;background-position: -200px -900px;}
a[href|="/peppermintcrunchwarfare"] {width:96px;height:74px;background-position: 0 -1000px;}
a[href|="/blossomforthwarfare"] {width:96px;height:72px;background-position: -100px -1000px;}
a[href|="/milliewarfare"] {width:95px;height:86px;background-position: -200px -1000px;}
a[href|="/sunsetblisswarfare"] {width:88px;height:81px;background-position: 0 -1100px;}
a[href|="/aprilshowerswarfare"] {width:92px;height:84px;background-position: -100px -1100px;}
a[href|="/pinkladywarfare"] {width:97px;height:81px;background-position: -200px -1100px;}
a[href|="/diamondmintwarfare"] {width:84px;height:82px;background-position: 0 -1200px;}
a[href|="/spikewarfare"] {width:67px;height:94px;background-position: -100px -1200px;}
a[href|="/angelwarfare"] {width:77px;height:83px;background-position: -200px -1200px;}
a[href|="/winonawarfare"] {width:68px;height:81px;background-position: 0 -1300px;}
a[href|="/tankwarfare"] {width:75px;height:73px;background-position: -100px -1300px;}
a[href|="/gummywarfare"] {width:83px;height:60px;background-position: -200px -1300px;}
a[href|="/owlowisciouswarfare"], a[href|="/owloysiuswarfare"] {width:58px;height:73px;background-position: 0 -1400px;}
a[href|="/opalescencewarfare"] {width:77px;height:92px;background-position: -100px -1400px;}
a[href|="/photofinishwarfare"] {width:96px;height:92px;background-position: -200px -1400px;}
a[href|="/hoitytoitywarfare"] {width:66px;height:84px;background-position: 0 -1500px;}
a[href|="/fancypantswarfare"] {width:79px;height:95px;background-position: -100px -1500px;}
a[href|="/fleurwarfare"] {width:72px;height:96px;background-position: -200px -1500px;}
a[href|="/sapphireshoreswarfare"] {width:96px;height:96px;background-position: 0 -1600px;}

/* Pony Warfare b */
a[href|="/celestiawarfare"], a[href|="/lunawarfare"], a[href|="/caramelwarfare"], a[href|="/silverspeedwarfare"], a[href|="/thunderlanewarfare"], a[href|="/twinkleshinewarfare"], a[href|="/twilightskywarfare"], a[href|="/wildfirewarfare"], a[href|="/luckywarfare"], a[href|="/sparklerwarfare"], a[href|="/snailswarfare"], a[href|="/snipswarfare"], a[href|="/truffleshufflewarfare"], a[href|="/halfnotewarfare"], a[href|="/licketysplitwarfare"], a[href|="/rumblewarfare"], a[href|="/featherweightwarfare"], a[href|="/buttonmashwarfare"], a[href|="/highstylewarfare"], a[href|="/powderrougewarfare"], a[href|="/prettyvisionwarfare"], a[href|="/regalcandentwarfare"], a[href|="/roxiewarfare"], a[href|="/soignefoliowarfare"], a[href|="/midnightfunwarfare"], a[href|="/stellawarfare"], a[href|="/cadancewarfare"], a[href|="/shiningarmourwarfare"], a[href|="/shiningarmorwarfare"], a[href|="/chrysaliswarfare"], a[href|="/nightmaremoonwarfare"], a[href|="/sombrawarfare"], a[href|="/peachbottomwarfare"], a[href|="/harshwhinnywarfare"], a[href|="/lightningdustwarfare"], a[href|="/babswarfare"], a[href|="/rainbowblitzwarfare"], a[href|="/pizzellewarfare"], a[href|="/crescendowarfare"], a[href|="/midnightstrikewarfare"], a[href|="/honeycombwarfare"], a[href|="/rosequartzwarfare"], a[href|="/dandybrushwarfare"], a[href|="/honeytonewarfare"], a[href|="/goldenglitterwarfare"], a[href|="/unclewingwarfare"], a[href|="/billneighwarfare"], a[href|="/turfwarfare"], a[href|="/surfwarfare"], a[href|="/berryfrostwarfare"], a[href|="/candymanewarfare"], a[href|="/clipclopwarfare"], a[href|="/davenportwarfare"], a[href|="/craftycratewarfare"], a[href|="/heliawarfare"]
{background-image:url(%%ponywarfareb%%);display:block;float:left;}

a[href|="/celestiawarfare"] {width:100px;height:54px;}
a[href|="/lunawarfare"] {width:100px;height:53px;background-position: -100px 0;}
a[href|="/caramelwarfare"] {width:75px;height:82px;background-position: -200px 0;}
a[href|="/silverspeedwarfare"] {width:89px;height:74px;background-position: 0 -100px;}
a[href|="/thunderlanewarfare"] {width:70px;height:87px;background-position: -100px -100px;}
a[href|="/twinkleshinewarfare"] {width:63px;height:79px;background-position: -200px -100px;}
a[href|="/twilightskywarfare"] {width:100px;height:78px;background-position: 0 -200px;}
a[href|="/wildfirewarfare"] {width:70px;height:84px;background-position: -100px -200px;}
a[href|="/luckywarfare"] {width:83px;height:93px;background-position: -200px -200px;}
a[href|="/sparklerwarfare"] {width:75px;height:84px;background-position: 0 -300px;}
a[href|="/snailswarfare"] {width:68px;height:88px;background-position: -100px -300px;}
a[href|="/snipswarfare"] {width:73px;height:84px;background-position: -200px -300px;}
a[href|="/truffleshufflewarfare"] {width:61px;height:78px;background-position: 0 -400px;}
a[href|="/halfnotewarfare"] {width:65px;height:73px;background-position: -100px -400px;}
a[href|="/licketysplitwarfare"] {width:60px;height:91px;background-position: -200px -400px;}
a[href|="/rumblewarfare"] {width:81px;height:80px;background-position: 0 -500px;}
a[href|="/featherweightwarfare"] {width:65px;height:83px;background-position: -100px -500px;}
a[href|="/buttonmashwarfare"] {width:55px;height:80px;background-position: -200px -500px;}
a[href|="/highstylewarfare"] {width:98px;height:88px;background-position: 0 -600px;}
a[href|="/powderrougewarfare"] {width:85px;height:84px;background-position: -100px -600px;}
a[href|="/prettyvisionwarfare"] {width:61px;height:79px;background-position: -200px -600px;}
a[href|="/regalcandentwarfare"] {width:71px;height:79px;background-position: 0 -700px;}
a[href|="/roxiewarfare"] {width:79px;height:87px;background-position: -100px -700px;}
a[href|="/soignefoliowarfare"] {width:70px;height:98px;background-position: -200px -700px;}
a[href|="/midnightfunwarfare"] {width:83px;height:100px;background-position: 0 -800px;}
a[href|="/stellawarfare"] {width:67px;height:94px;background-position: -100px -800px;}
a[href|="/cadancewarfare"] {width:86px;height:80px;background-position: -200px -800px;}
a[href|="/shiningarmourwarfare"], a[href|="/shiningarmorwarfare"] {width:84px;height:68px;background-position: 0 -900px;}
a[href|="/chrysaliswarfare"] {width:78px;height:96px;background-position: -100px -900px;}
a[href|="/nightmaremoonwarfare"] {width:94px;height:100px;background-position: -200px -900px;}
a[href|="/sombrawarfare"] {width:84px;height:73px;background-position: 0 -1000px;}
a[href|="/peachbottomwarfare"] {width:78px;height:80px;background-position: -100px -1000px;}
a[href|="/harshwhinnywarfare"] {width:83px;height:80px;background-position: -200px -1000px;}
a[href|="/lightningdustwarfare"] {width:80px;height:81px;background-position: 0 -1100px;}
a[href|="/babswarfare"] {width:91px;height:79px;background-position: -100px -1100px;}
a[href|="/rainbowblitzwarfare"] {width:91px;height:72px;background-position: -200px -1100px;}
a[href|="/pizzellewarfare"] {width:100px;height:74px;background-position: 0 -1200px;}
a[href|="/crescendowarfare"] {width:92px;height:87px;background-position: -100px -1200px;}
a[href|="/midnightstrikewarfare"] {width:78px;height:79px;background-position: -200px -1200px;}
a[href|="/honeycombwarfare"] {width:71px;height:97px;background-position: 0 -1300px;}
a[href|="/rosequartzwarfare"] {width:82px;height:86px;background-position: -100px -1300px;}
a[href|="/dandybrushwarfare"] {width:86px;height:93px;background-position: -200px -1300px;}
a[href|="/honeytonewarfare"] {width:86px;height:95px;background-position: 0 -1400px;}
a[href|="/goldenglitterwarfare"] {width:76px;height:100px;background-position: -100px -1400px;}
a[href|="/unclewingwarfare"] {width:59px;height:86px;background-position: -200px -1400px;}
a[href|="/billneighwarfare"] {width:85px;height:95px;background-position: 0 -1500px;}
a[href|="/turfwarfare"] {width:72px;height:79px;background-position: -100px -1500px;}
a[href|="/surfwarfare"] {width:81px;height:70px;background-position: -200px -1500px;}
a[href|="/berryfrostwarfare"] {width:50px;height:77px;background-position: 0 -1600px;}
a[href|="/candymanewarfare"] {width:59px;height:72px;background-position: -100px -1600px;}
a[href|="/clipclopwarfare"] {width:70px;height:80px;background-position: -200px -1600px;}
a[href|="/davenportwarfare"] {width:81px;height:64px;background-position: 0 -1700px;}
a[href|="/craftycratewarfare"] {width:85px;height:73px;background-position: -100px -1700px;}
a[href|="/heliawarfare"] {width:66px;height:73px;background-position: -200px -1700px;}

/* Pony Warfare C */
a[href|="/milkywaywarfare"], a[href|="/fuzzyslipperswarfare"], a[href|="/yooessdeewarfare"], a[href|="/mrzappywarfare"], a[href|="/symphonywarfare"], a[href|="/rubypinchwarfare"], a[href|="/berrypinchwarfare"], a[href|="/alulawarfare"], a[href|="/pipsqueakwarfare"], a[href|="/bloowarfare"], a[href|="/cottoncloudywarfare"], a[href|="/dinkywarfare"], a[href|="/strikewarfare"], a[href|="/applebyteswarfare"], a[href|="/honeydropswarfare"], a[href|="/lemondazewarfare"], a[href|="/noiwarfare"], a[href|="/peachypiewarfare"], a[href|="/pinacoladawarfare"], a[href|="/inkiepiewarfare"], a[href|="/blinkiepiewarfare"], a[href|="/sharpenerwarfare"], a[href|="/steamerwarfare"], a[href|="/noteworthywarfare"], a[href|="/oakeydokewarfare"], a[href|="/posthastewarfare"], a[href|="/hughjellywarfare"], a[href|="/karatwarfare"], a[href|="/pinkcloudwarfare"], a[href|="/tracyflashwarfare"], a[href|="/moneyshotwarfare"], a[href|="/unicornroyalguardwarfare"], a[href|="/pegasusroyalguardwarfare"], a[href|="/earthroyalguardwarfare"], a[href|="/nightgaurdwarfare"], a[href|="/palaceguardwarfare"], a[href|="/pegasopolisgaurdwarfare"], a[href|="/changelingwarfare"], a[href|="/concertowarfare"], a[href|="/frederichorseshoepinwarfare"], a[href|="/harpoparishnadermanewarfare"], a[href|="/vancevanvendingtonwarfare"], a[href|="/snappyscoopawarfare"], a[href|="/filmreelwarfare"]
{background-image:url(%%ponywarfarec%%);display:block;float:left;}

a[href|="/milkywaywarfare"] {width:99px;height:74px;}
a[href|="/fuzzyslipperswarfare"] {width:74px;height:63px;background-position: -100px 0;}
a[href|="/yooessdeewarfare"] {width:62px;height:77px;background-position: -200px 0;}
a[href|="/mrzappywarfare"] {width:81px;height:80px;background-position: 0 -100px;}
a[href|="/symphonywarfare"] {width:64px;height:80px;background-position: -100px -100px;}
a[href|="/rubypinchwarfare"], a[href|="/berrypinchwarfare"] {width:78px;height:85px;background-position: -200px -100px;}
a[href|="/alulawarfare"] {width:77px;height:67px;background-position: 0 -200px;}
a[href|="/pipsqueakwarfare"] {width:66px;height:71px;background-position: -100px -200px;}
a[href|="/bloowarfare"] {width:56px;height:84px;background-position: -200px -200px;}
a[href|="/cottoncloudywarfare"] {width:52px;height:68px;background-position: 0 -300px;}
a[href|="/dinkywarfare"] {width:72px;height:79px;background-position: -100px -300px;}
a[href|="/strikewarfare"] {width:49px;height:60px;background-position: -200px -300px;}
a[href|="/applebyteswarfare"] {width:64px;height:68px;background-position: 0 -400px;}
a[href|="/honeydropswarfare"] {width:62px;height:73px;background-position: -100px -400px;}
a[href|="/lemondazewarfare"] {width:67px;height:76px;background-position: -200px -400px;}
a[href|="/noiwarfare"] {width:53px;height:69px;background-position: 0 -500px;}
a[href|="/peachypiewarfare"] {width:71px;height:79px;background-position: -100px -500px;}
a[href|="/pinacoladawarfare"] {width:73px;height:81px;background-position: -200px -500px;}
a[href|="/inkiepiewarfare"] {width:68px;height:67px;background-position: 0 -600px;}
a[href|="/blinkiepiewarfare"] {width:48px;height:73px;background-position: -100px -600px;}
a[href|="/sharpenerwarfare"] {width:49px;height:64px;background-position: -200px -600px;}
a[href|="/steamerwarfare"] {width:64px;height:83px;background-position: 0 -700px;}
a[href|="/noteworthywarfare"] {width:69px;height:67px;background-position: -100px -700px;}
a[href|="/oakeydokewarfare"] {width:58px;height:69px;background-position: -200px -700px;}
a[href|="/posthastewarfare"] {width:70px;height:82px;background-position: 0 -800px;}
a[href|="/hughjellywarfare"] {width:73px;height:63px;background-position: -100px -800px;}
a[href|="/karatwarfare"] {width:92px;height:78px;background-position: -200px -800px;}
a[href|="/pinkcloudwarfare"] {width:76px;height:66px;background-position: 0 -900px;}
a[href|="/tracyflashwarfare"] {width:63px;height:62px;background-position: -100px -900px;}
a[href|="/moneyshotwarfare"] {width:53px;height:63px;background-position: -200px -900px;}
a[href|="/unicornroyalguardwarfare"] {width:79px;height:74px;background-position: 0 -1000px;}
a[href|="/pegasusroyalguardwarfare"] {width:74px;height:76px;background-position: -100px -1000px;}
a[href|="/earthroyalguardwarfare"] {width:44px;height:79px;background-position: -200px -1000px;}
a[href|="/nightgaurdwarfare"] {width:82px;height:65px;background-position: 0 -1100px;}
a[href|="/palaceguardwarfare"] {width:83px;height:64px;background-position: -100px -1100px;}
a[href|="/pegasopolisgaurdwarfare"] {width:64px;height:76px;background-position: -200px -1100px;}
a[href|="/changelingwarfare"] {width:75px;height:71px;background-position: 0 -1200px;}
a[href|="/concertowarfare"] {width:63px;height:71px;background-position: -100px -1200px;}
a[href|="/frederichorseshoepinwarfare"] {width:45px;height:80px;background-position: -200px -1200px;}
a[href|="/harpoparishnadermanewarfare"] {width:71px;height:95px;background-position: 0 -1300px;}
a[href|="/vancevanvendingtonwarfare"] {width:74px;height:71px;background-position: -100px -1300px;}
a[href|="/snappyscoopawarfare"] {width:82px;height:72px;background-position: -200px -1300px;}
a[href|="/filmreelwarfare"] {width:73px;height:84px;background-position: 0 -1400px;}