/* LIMITS:
 * Limit on number of images uploaded is 50.
 * Limit on CSS size is approx 100,000 characters
 * Limit on image size is 512kB (Approx)
 */

/* Subscriber count + active user text changer */
div.titlebox span.word {display:none}
div.titlebox .subscribers span.number:after {content:" Registered Voters"}
div.titlebox .users-online span.number:after {content:" at the Voting Booth"}

/* vote diagram */
.wiki-page a[href="/ponymotesvotediagram"] {
background: url(%%votediagram%%) no-repeat;
width: 710px;
height: 160px;
display: inline-block;
float: left;
}

/* Stop RES voteweight & tags in mod box, wiki pages, and comment bodies */
.sidecontentbox .voteWeight, .sidecontentbox .userTagLink, .wiki-page .voteWeight, .wiki-page .userTagLink, .comment .md .voteWeight, .comment .md .userTagLink {
display: none !important;
}

/* Header Image stuff */
#header-img {
margin-top: -1px;
margin-bottom: -3px;
}

/* Snowflake banner 
#header { 
background: url(%%snowflake-banner%%) 0 18px repeat-x #CEE3F8;
} */

/* body.res-nightmode #header {
background: url(%%snowflake-banner%%) 0 18px repeat-x #666660 !important;
} */
body.res-nightmode #header-bottom-left { background: transparent !important; }


/* /r/mylittlepony Announcement Banner, AKA Giant Hat. Edited somewhat */
.titlebox .usertext-body .md h6 {
width: auto;
background: url(%%ballot%%) no-repeat scroll 5px 5px #EFF7FF;
border: 1px solid #5f99cf;
position: absolute;
top: 30px;
left: 180px;
margin: 20px 420px 0 0;
padding: 8px 6px 8px 50px;
list-style: none;
display: block;
white-space: normal;
overflow: hidden;
border-radius:10px;
z-index: 10000000;
font-weight: normal;
}

.res-nightmode .titlebox .usertext-body .md h6 {
background-color: #222222;
border-color: #5F99CF;
color: #DDDDDD;
}
/* Fin Giant Hat */

/* Downvote discourager */
div.thing.link .down:hover:after, div.thing.link .downmod:hover:after {
content: "Remember: Downvotes have no effect on voting. See the FAQ";
position: absolute;
z-index: 300;
display: block;
border: 1px solid #5F99CF;
background-color: #EFF7FF;
border-radius: 2px;
margin-left: 20px;
padding: 3px;
}

.res-nightmode div.thing.link .down:hover:after, .res-nightmode div.thing.link .downmod:hover:after {
border-color: #5F99CF;
background-color: #222222;
}

/* Day of submission shower */
.link time:after {
content: " - (" attr(title) ")";
}

/* RES upvote count highlighter */
span.res_post_ups {
text-shadow: orangered 0 0 2px;
}

/* link flairs */
.linkflair-closed {
opacity: 0.4;
}

.linkflair-closed .arrow, .linkflair-denied .arrow, .linkflair-approved .arrow, .linkflair-invalid .arrow {
visibility: hidden;
}

.linkflair-denied .linkflairlabel {
color: #AC3939;
background-color: transparent;
border: 1px solid #D27979;
text-transform: uppercase;
}

.linkflair-updated .linkflairlabel {
max-width: 20em;
background-color: yellow;
border-color: olive;
}

.linkflair-updated .entry {
background: url(%%linkflairs%%) -157px -50px no-repeat;
padding-left: 55px;
}

.linkflair-approved .entry {
background: url(%%linkflairs%%) -200px 0 no-repeat;
padding-left: 55px;
}

.linkflair-denied .entry {
background: url(%%linkflairs%%) -100px -100px no-repeat;
padding-left: 55px;
}

.linkflair-closed .entry {
background: url(%%linkflairs%%) 10px -200px no-repeat;
padding-left: 55px;
}


.linkflair-approved .linkflairlabel {
color: #6ECF5B;
border: 1px solid #8EEF7B;
background: transparent;
}

.listing-page .content[role="main"], .comments-page .content[role="main"] {margin-right: 310px;}

/* .click-gadget .thing {margin-right: 0px;} /* This is the 'Recently viewed links' box in the sidebar */

.linkflair-denied {
background-image: linear-gradient(90deg, #e7cdcd, #fff, #fff, #fff, #fff, #fff);
}

.res-nightmode .linkflair-denied {
background-image: linear-gradient(-90deg, #600303, #222);
}

.linkflair-approved {
background-image: linear-gradient(90deg, #cde7cd, #fff, #fff, #fff, #fff, #fff);
}

.res-nightmode .linkflair-approved {
background-image: linear-gradient(-90deg, #036004, #222);
}

body.listing-page .linkflair-denied div.RES-keyNav-activeElement, body.listing-page .linkflair-approved div.RES-keyNav-activeElement
{background-color: transparent !important;}

/* New page prompter */
body.hot-page ul.tabmenu li a[href$="/new/"]:before {
font-size: xx-small;
content: "Never miss an emote, browse the ";
}

body.hot-page ul.tabmenu li a[href$="/new/"]:after {
font-size: xx-small;
content: " page!";
}

/* Spoiler thumbnail */
.thumbnail.nsfw {
background-image: url(%%linkflairs%%);
background-position: 0 0;
height: 70px;
}

/* NSFW -> Spoiler. Shamelessly ripped from /r/mylittlepony */
.marknsfw-button a[href="#"], .unmarknsfw-button a[href="#"]
{
 font-size:0px!important;
 display:inline-block;
 vertical-align:top;
 overflow:hidden;
 letter-spacing:-20px;
 content:""
}

.unmarknsfw-button a[href="#"]:before, .marknsfw-button a[href="#"]:before
{
 font-size:10px!important;
 display:block;
 letter-spacing:normal;
 content:"spoiler"
}
.unmarknsfw-button a[href="#"]:before{content:"un-spoiler";}

.nsfw-stamp acronym
{
 border:#5F99CF 1px solid!important;
 display:inline-block;
 font-size:0px!important;
 letter-spacing:0px;
 overflow:hidden;
 vertical-align:bottom;
 margin-bottom:-1px;
 content:""
}

.nsfw-stamp acronym:after
{ 
 color:#336699!important;
 content:"SPOILER"!important;
 display:block;
 font-size:x-small!important;
 text-decoration:none;
 margin: -15px 2px 1px;
}

/* user flair */
.flair {border: none; padding: 0; margin: 0; background-color: transparent !important;}

.flair-nobodyvoted {
background: url(%%voted%%) 0 0 transparent no-repeat !important;
height: 13px;
width: 39px;
text-indent: -9999px;
vertical-align: middle;
}

/* Cutie mark flairs combined with I voted userflair */
.flair-voted {
width: 38px !important;
}

.flair-cm {
width: 16px;
height: 16px;
background: url(%%cutievoted%%) no-repeat transparent;
text-indent: -9999px;
vertical-align: middle;
}

.flair-rainbowdash {background-position: 0 0;} /* Not needed, but for completeness */
.flair-pinkiepie {background-position: 0 -16px;}
.flair-luna {background-position: 0 -32px;}
.flair-lyra {background-position: 0 -48px;}
.flair-bigmac {background-position: 0 -64px;}
.flair-roseluck {background-position: 0 -80px;}
.flair-screwball {background-position: 0 -96px;}
.flair-wonderbolt {background-position: 0 -112px;}
.flair-sweetiebelle {background-position: 0 -128px;}
.flair-blueblood {background-position: 0 -144px;}
.flair-flam {background-position: 0 -160px;}
.flair-snips {background-position: 0 -176px;}
.flair-sparkler {background-position: 0 -192px;} /* AKA Amethyst Star */
.flair-cadence {background-position: 0 -208px;}
.flair-cloudchaser {background-position: 0 -224px;}
.flair-daisy {background-position: 0 -240px;}
.flair-doctorstable {background-position: 0 -256px;}
.flair-twilightsparkle {background-position: 0 -272px;}
.flair-rarity {background-position: 0 -288px;}
.flair-celestia {background-position: 0 -304px;}
.flair-bonbon {background-position: 0 -320px;}
.flair-colgate {background-position: 0 -336px;}
.flair-zecora {background-position: 0 -352px;}
.flair-nurseredheart {background-position: 0 -368px;}
.flair-shadowbolt {background-position: 0 -384px;}
.flair-davenport {background-position: 0 -400px;}
.flair-daringdo {background-position: 0 -416px;}
.flair-flim {background-position: 0 -432px;}
.flair-snails {background-position: 0 -448px;}
.flair-dancefever {background-position: 0 -464px;} /* Called "Hairy Tipper" in /r/mylittlepony */
.flair-shiningarmour {background-position: 0 -480px;}
.flair-flitter {background-position: 0 -496px;}
.flair-changeling {background-position: 0 -512px;}
.flair-sewnsow {background-position: 0 -528px;} /* That's "Sew 'n' Sow" */
.flair-fluttershy {background-position: 0 -544px;}
.flair-trixie {background-position: 0 -560px;}
.flair-derpy {background-position: 0 -576px;}
.flair-octavia {background-position: 0 -592px;}
.flair-berrypunch {background-position: 0 -608px;}
.flair-seaswirl {background-position: 0 -624px;}
.flair-caramel {background-position: 0 -640px;}
.flair-scootaloo {background-position: 0 -656px;}
.flair-cheerilee {background-position: 0 -672px;}
.flair-mrcake {background-position: 0 -688px;}
.flair-silverspoon {background-position: 0 -704px;}
.flair-twist {background-position: 0 -720px;}
.flair-fancypants {background-position: 0 -736px;}
.flair-filthyrich {background-position: 0 -752px;}
.flair-lily {background-position: 0 -768px;}
.flair-lotus {background-position: 0 -784px;}
.flair-spitfire {background-position: 0 -800px;}
.flair-applejack {background-position: 0 -816px;}
.flair-cmc {background-position: 0 -832px;}
.flair-vinyl {background-position: 0 -848px;}
.flair-doctorwhooves {background-position: 0 -864px;}
.flair-pokeypierce {background-position: 0 -880px;}
.flair-carrottop {background-position: 0 -896px;}
.flair-braeburn {background-position: 0 -912px;}
.flair-applebloom {background-position: 0 -928px;}
.flair-nightmaremoon {background-position: 0 -944px;}
.flair-mrscake {background-position: 0 -960px;}
.flair-diamondtiara {background-position: 0 -976px;}
.flair-truffleshuffle {background-position: 0 -992px;}
.flair-fleurdelis {background-position: 0 -1008px;}
.flair-hoitytoity {background-position: 0 -1024px;}
.flair-grannysmith {background-position: 0 -1040px;}
.flair-aloe {background-position: 0 -1056px;}
.flair-mayormare {background-position: 0 -1072px;}
.flair-surprise {background-position: 0 -1088px;}

/* CSS image indicators! */

ul#image-preview-list li:nth-child(11):after {
content: "10th image";
color: green;
padding-left: 5px;
}

ul#image-preview-list li:nth-child(21):after {
content: "20th image";
color: green;
padding-left: 5px;
}

ul#image-preview-list li:nth-child(31):after {
content: "30th image";
color: yellow;
padding-left: 5px;
}

ul#image-preview-list li:nth-child(41):after {
content: "40th image";
color: orangered;
padding-left: 5px;
}

ul#image-preview-list li:nth-child(46):after {
content: "45th image";
color: red;
padding-left: 5px;
}

ul#image-preview-list li:nth-child(51):after {
content: "50th image";
color: red;
padding-left: 5px;
font-weight: bolder;
font-size: large;
}

/* You know what css box needs to be? Bigger. */
textarea#stylesheet_contents {
height: 800px;
}


/* EMOTES */

/* HOW TO EMOTE
 * Find the 'spritesheet' that the emote should go on.
 * If emote is 70x70 it's the latest non-full 70x70 image...
 * Download and add the emote to the image. Images have a grid pattern, so make sure you add the emote in line with the grid.
 * Upload the updated image using the form, make sure the 'new image name' section is the same as the image it's replacing.
 * (So if you update the 70x70a image, make sure it says "70x70a").
 * In the form: `a[href|="/emotecode"]`, add the emote to the corresponding sprite sheet CSS below. [Without the backticks, and don't forget the comma!]
 * If the emote is a misfit you're going to have to define it's width and height yourself.
 * In the form: `a[href|="/emotecode"] {width:[X]px;height:[Y]px;}` Where [X] and [Y] are the width and height of the emote respectively.
 * Now you need to add it to the correct grid position css rule. 0,0 is the top left, 1,0 is the one one to the right of that. etc. etc.
 * If the emote is a misfit, you'll need to define it yourself.
 * In the form: `a[href|="/emotecode"] {background-position: -[X]px -[Y]px;}` Where [X] and [Y] are the horizontal and vertical distance from
 * the top left of the image to the top left of the emote in pixels respectively.
 * Click save and you should be done! Test if it works. If reddit throws a CSS validation error at you double check you haven't missed out any
 * semi-colons or curly brackets or the like, or you haven't typo'd the name of a CSS property. etc. etc...
 */

/* 70x70a 'motes. */
a[href|="/apathiasquint"], a[href|="/rdohyeah"], a[href|="/rainbowstache"], a[href|="/lemonglee"], a[href|="/grannyglad"], a[href|="/aloe"], a[href|="/ohyeah"], a[href|="/neutraljack"], a[href|="/fillyfirefly"], a[href|="/rdwat"], a[href|="/cocosmile"], a[href|="/cocohappy"], a[href|="/cocosad"], a[href|="/grimfluff"], a[href|="/ajduckface"], a[href|="/rarapossessed"], a[href|="/maudsmile"], a[href|="/dashsquint"], a[href|="/rastare"], a[href|="/rdfacehoof"], a[href|="/rdtwifacehoof"], a[href|="/rdtwipride"], a[href|="/rdtwismile"], a[href|="/rdtwicrazy"], a[href|="/rdtwibeam"], a[href|="/rdtwisquint"], a[href|="/rdtwistare"], a[href|="/rdtwiponder"]
{background-image:url(%%70x70a%%);width:70px;height:70px;display:block;float:left;}

/* 100x100a 'motes. */
a[href|="/cadface"], a[href|="/apathiablankstare"], a[href|="/twicider"], a[href|="/nomakeup"], a[href|="/twiscepter"], a[href|="/twisceptre"], a[href|="/winona"], a[href|="/lunahmm"], a[href|="/scootexcited"], a[href|="/fluttereyebrow"], a[href|="/smugcolgate"], a[href|="/trixielecture"], a[href|="/ajdur"], a[href|="/sadshy"], a[href|="/ajdoubt"], a[href|="/discoin"], a[href|="/twidoubt"], a[href|="/ppdoubt"], a[href|="/raridoubt"], a[href|="/flutterdoubt"], a[href|="/dashdoubt"], a[href|="/deviousmac"], a[href|="/zerofucks"], a[href|="/pinkiestare"], a[href|="/shibetwi"], a[href|="/wowsocane"], a[href|="/shibelyra"], a[href|="/shibemena"], a[href|="/shibepie"], a[href|="/shibeluna"], a[href|="/shibederp"], a[href|="/shibeshy"], a[href|="/appleshibe"], a[href|="/shibedash"], a[href|="/rarishibe"]
{background-image:url(%%100x100a%%);width:100px;height:100px;display:block;float:left;}

/* 100x100b 'motes */
a[href|="/rarityparanoid"], a[href|="/rarinoid"], a[href|="/flutterfreaked"], a[href|="/applewat"], a[href|="/fspuppyeyes"], a[href|="/fspout"], a[href|="/scootasquee"], a[href|="/fillycoco"], a[href|="/ajrescue"], a[href|="/scaryaj"], a[href|="/pptsundere"], a[href|="/rdtsundere"], a[href|="/fsfascinating"], a[href|="/maudxrock"], a[href|="/sweetiebitch"], a[href|="/raracheeks"], a[href|="/lunapersona"], a[href|="/lunaselfcest"], a[href|="/rdscreaminginternally"], a[href|="/twijoy"]
{background-image:url(%%100x100b%%);width:100px;height:100px;display:block;float:left;}

/* 150x150a 'motes. */
a[href|="/tuxpony"], a[href|="/chibiluna"], a[href|="/shiningcadancehug"], a[href|="/twihappycry"], a[href|="/properbudget"], a[href|="/celestiaglee"], a[href|="/frittergasp"], a[href|="/twiimbetterthanyou"], a[href|="/twimbetterthanyou"], a[href|="/bonboudicca"], a[href|="/celticbonbon"], a[href|="/whatatwist"], a[href|="/rdsquishyface"], a[href|="/soveryawesome"], a[href|="/rdsmirk"], a[href|="/cheekydash"], a[href|="/sombrarage"], a[href|="/gildaconfused"], a[href|="/rarityspy"], a[href|="/twilightyay"], a[href|="/tiadisapproval"]
{background-image:url(%%150x150a%%);width:150px;height:150px;display:block;float:left;}

/* 150x150b 'motes. */
a[href|="/flutterbatscowl"], a[href|="/ppduckface"], a[href|="/duckfaceselfie"], a[href|="/libwawy"], a[href|="/ohgoditstoocute"], a[href|="/derpyshrug"], a[href|="/gravestone"], a[href|="/theydied"], a[href|="/rarihick"], a[href|="/fshide"], a[href|="/justforyou"], a[href|="/pinkieoooh"], a[href|="/nerddash"], a[href|="/nerdderpy"], a[href|="/nerdaj"], a[href|="/nerdpinkamena"], a[href|="/nerdrarity"], a[href|="/nerdshy"], a[href|="/nerdtrixie"], a[href|="/nerdpie"], a[href|="/nerdtwi"], a[href|="/nerdscratch"], a[href|="/nerdlyra"], a[href|="/humannerddash"], a[href|="/nerdsunset"], a[href|="/greaserspike"], a[href|="/nerdoctavia"], a[href|="/nerdtavi"]
{background-image:url(%%150x150b%%);width:150px;height:150px;display:block;float:left;}

/* 150x150c 'motes */
a[href|="/imnotsayingitwaschaos"], a[href|="/uwotdahling"], a[href|="/proletariat"], a[href|="/pinkiefly"]
{background-image:url(%%150x150c%%);width:150px;height:150px;display:block;float:left;}

/* 200x200a 'motes. */
a[href|="/regret"], a[href|="/pinkiemail"], a[href|="/obsessivetrixie"], a[href|="/trixiebeingcreepy"], a[href|="/nightmaresparkle"], a[href|="/magnemites"], a[href|="/princessfluttershy"], a[href|="/pinkpyro"], a[href|="/happynewyear"], a[href|="/hnng"], a[href|="/woonabounce"], a[href|="/lunanurse"], a[href|="/50sderpy"]
{background-image:url(%%200x200a%%);width:200px;height:200px;display:block;float:left;}

/* 200x200b 'motes. */
a[href|="/rariluna"]
{background-image:url(%%200x200b%%);width:200px;height:200px;display:block;float:left;}

/* 250x250a 'motes. */
a[href|="/karmashark"], a[href|="/jumptheshark"]
{background-image:url(%%250x250a%%);width:250px;height:250px;display:block;float:left;}

/* 300x300a 'motes */
a[href|="/pinkieplease"], a[href|="/twispike"], a[href|="/sparklelove"]
{background-image:url(%%300x300a%%);width:300px;height:300px;display:block;float:left;}

/* Misfits a */
a[href|="/fillycadance"], a[href|="/lyratonguebite"], a[href|="/buttonsmom"], a[href|="/buttonsmum"], a[href|="/fabpie"], a[href|="/changelinghug"], a[href|="/twiembarrassed"],
a[href|="/twismirk"], a[href|="/huglife"], a[href|="/happyderp"], a[href|="/speakingfancy"], a[href|="/twidashkiss"], a[href|="/lyracomehere"], a[href|="/sbincredulous"], a[href|="/lemonshock"], a[href|="/headcanon"]
{background-image:url(%%misfitsa%%);display:block;float:left;}

/* Misfits b */
a[href|="/braecozy"], a[href|="/caramelsad"], a[href|="/twilicry"], a[href|="/sfpride"], a[href|="/sfmotherofgod"], a[href|="/sbdisgusting"], a[href|="/absolutelydisgusting"], a[href|="/ppwhywouldyoudothat"], a[href|="/fluttersnoo"], a[href|="/twilicute"], a[href|="/superlazy"], a[href|="/dashcuteblanket"], a[href|="/paperwork"], a[href|="/objection"], a[href|="/lunacomehere"], a[href|="/fluttryay"], a[href|="/jaglad"]
{background-image:url(%%misfitsb%%);display:block;float:left;}

/* Misfits c */
a[href|="/twitiger"], a[href|="/twiger"], a[href|="/tanktwi"], a[href|="/lunacelehug"], a[href|="/magicmissile"], a[href|="/icastmagicmissile"], a[href|="/pinkmage"], a[href|="/trixiedisappointed"], a[href|="/trixiedoublefacehoof"], a[href|="/raribat"], a[href|="/ppblushing"], a[href|="/raritymusicalface"], a[href|="/fireflypounce"], a[href|="/secretponythread"], a[href|="/surprisebitch"], a[href|="/pinkiepoint"], a[href|="/twiyugi"], a[href|="/lunadash"], a[href|="/dabkilmandmeerkat"]
{background-image:url(%%misfitsc%%);display:block;float:left;}

/* Misfits d */
a[href|="/sonavinyl"], a[href|="/pinkierage"], a[href|="/pinkrage"], a[href|="/lunadashkiss"], a[href|="/deathdudeandmeerkat"], a[href|="/readingrainbow"], a[href|="/sbnice"], a[href|="/absolutelynice"], a[href|="/bighead"], a[href|="/imustgomypeopleneedme"], a[href|="/swootiaraspoonbloom"], a[href|="/whathassciencedone"], a[href|="/bitchplease"], a[href|="/roseluckstretch"], a[href|="/woonacape"], a[href|="/radiance"], a[href|="/oldenmw"], a[href|="/sheiscorrect"], a[href|="/over9000"]
{background-image:url(%%misfitsd%%);display:block;float:left;}

/* Misfits e */
a[href|="/twidorable"], a[href|="/nerdcheese"], a[href|="/50scoco"], a[href|="/50sflutters"], a[href|="/flutterteen"], a[href|="/sweetiebat"], a[href|="/scootabat"], a[href|="/dalekboop"], a[href|="/youngtia"], a[href|="/fillytwi"], a[href|="/bloombat"], a[href|="/lyrascore"], a[href|="/bestoc"], a[href|="/princesschangelingrainbowmagicpants"], a[href|="/rocklobster"], a[href|="/fssaiyan"], a[href|="/over9000yays"], a[href|="/woonacold"], a[href|="/woonablanket"]
{background-image:url(%%misfitse%%);display:block;float:left;}

/* Misfits f */
a[href|="/sleepyrarijack"]
{background-image:url(%%misfitsf%%);display:block;float:left;}

/* Grid pos 0,0 'motes. Not needed but for completeness... */
a[href|="/cadface"], a[href|="/pinkieplease"], a[href|="/regret"], a[href|="/apathiasquint"], a[href|="/tuxpony"], a[href|="/karmashark"], a[href|="/jumptheshark"], a[href|="/flutterbatscowl"], a[href|="/rarityparanoid"], a[href|="/rarinoid"], a[href|="/imnotsayingitwaschaos"], a[href|="/rariluna"]
{background-position: 0 0;}

/* Grid pos 1,0 'motes */
a[href|="/twispike"], a[href|="/pinkiemail"], a[href|="/chibiluna"], a[href|="/apathiablankstare"], a[href|="/rdohyeah"], a[href|="/ppduckface"], a[href|="/duckfaceselfie"], a[href|="/flutterfreaked"], a[href|="/uwotdahling"]
{background-position: -100% 0%;}

/* Grid pos 2,0 'motes */
a[href|="/shiningcadancehug"], a[href|="/obsessivetrixie"], a[href|="/trixiebeingcreepy"], a[href|="/twicider"], a[href|="/rainbowstache"], a[href|="/sparklelove"], a[href|="/libwawy"], a[href|="/ohgoditstoocute"], a[href|="/applewat"], a[href|="/proletariat"]
{background-position: -200% 0%;}

/* Grid pos 0,1 'motes */
a[href|="/twihappycry"], a[href|="/nightmaresparkle"], a[href|="/nomakeup"], a[href|="/lemonglee"], a[href|="/derpyshrug"], a[href|="/fspuppyeyes"], a[href|="/fspout"], a[href|="/pinkiefly"]
{background-position: 0 -100%;}

/* Grid pos 1,1 'motes */
a[href|="/properbudget"], a[href|="/twiscepter"], a[href|="/twisceptre"], a[href|="/grannyglad"], a[href|="/magnemites"], a[href|="/gravestone"], a[href|="/theydied"], a[href|="/scootasquee"]
{background-position: -100% -100%;}

/* Grid pos 2,1 'motes */
a[href|="/celestiaglee"], a[href|="/winona"], a[href|="/aloe"], a[href|="/princessfluttershy"], a[href|="/rarihick"], a[href|="/fillycoco"]
{background-position: -200% -100%;}

/* Grid pos 0,2 'motes */
a[href|="/frittergasp"], a[href|="/ohyeah"], a[href|="/lunahmm"], a[href|="/pinkpyro"], a[href|="/fshide"], a[href|="/ajrescue"], a[href|="/scaryaj"]
{background-position: 0 -200%;}

/* Grid pos 1,2 'motes */
a[href|="/twiimbetterthanyou"], a[href|="/twimbetterthanyou"], a[href|="/neutraljack"], a[href|="/scootexcited"], a[href|="/happynewyear"], a[href|="/justforyou"], a[href|="/pinkieoooh"], a[href|="/pptsundere"]
{background-position: -100% -200%;}

/* Grid pos 2,2 'motes */
a[href|="/bonboudicca"], a[href|="/celticbonbon"], a[href|="/fluttereyebrow"], a[href|="/fillyfirefly"], a[href|="/woonabounce"], a[href|="/nerdscratch"], a[href|="/rdtsundere"]
{background-position: -200% -200%;}


/* Grid pos 0,3 'motes */
a[href|="/whatatwist"],  a[href|="/hnng"], a[href|="/smugcolgate"], a[href|="/rdwat"], a[href|="/nerddash"], a[href|="/fsfascinating"]
{background-position: 0% -300%;}

/* Grid pos 1,3 'motes */
a[href|="/rdsquishyface"], a[href|="/soveryawesome"], a[href|="/trixielecture"], a[href|="/cocosmile"], a[href|="/nerdderpy"], a[href|="/lunanurse"], a[href|="/maudxrock"]
{background-position: -100% -300%;}


/* Grid pos 2,3 'motes */
a[href|="/rdsmirk"], a[href|="/cheekydash"], a[href|="/ajdur"], a[href|="/cocohappy"], a[href|="/nerdaj"], a[href|="/50sderpy"], a[href|="/sweetiebitch"]
{background-position: -200% -300%;}

/* Grid pos 0,4 'motes */
a[href|="/sombrarage"], a[href|="/sadshy"], a[href|="/cocosad"], a[href|="/nerdpinkamena"], a[href|="/raracheeks"]
{background-position: 0 -400%;}

/* Grid pos 1,4 'motes */
a[href|="/gildaconfused"], a[href|="/ajdoubt"], a[href|="/grimfluff"], a[href|="/nerdrarity"], a[href|="/lunapersona"]
{background-position: -100% -400%;}

/* Grid pos 2,4 'motes */
a[href|="/rarityspy"], a[href|="/discoin"], a[href|="/ajduckface"], a[href|="/nerdshy"], a[href|="/lunaselfcest"]
{background-position: -200% -400%;}

/* Grid pos 0,5 'motes */
a[href|="/twilightyay"], a[href|="/twidoubt"], a[href|="/nerdtrixie"], a[href|="/rarapossessed"], a[href|="/rdscreaminginternally"]
{background-position: 0 -500%;}

/* Grid pos 1,5 'motes */
a[href|="/tiadisapproval"], a[href|="/ppdoubt"], a[href|="/nerdpie"], a[href|="/maudsmile"], a[href|="/twijoy"]
{background-position: -100% -500%;}

/* Grid pos 2,5 'motes */
a[href|="/raridoubt"], a[href|="/nerdtwi"], a[href|="/dashsquint"]
{background-position: -200% -500%;}

/* Grid pos 0,6 'motes */
a[href|="/flutterdoubt"], a[href|="/nerdlyra"], a[href|="/rastare"]
{background-position: 0 -600%;}

/* Grid pos 1,6 'motes */
a[href|="/dashdoubt"], a[href|="/humannerddash"]
{background-position: -100% -600%;}

/* Grid pos 2,6 'motes */
a[href|="/deviousmac"], a[href|="/nerdsunset"], a[href|="/rdfacehoof"], a[href|="/rdtwifacehoof"]
{background-position: -200% -600%;}

/* Grid pos 0,7 'motes */
a[href|="/zerofucks"], a[href|="/greaserspike"], a[href|="/rdtwipride"]
{background-position: 0 -700%;}

/* Grid pos 1,7 'motes */
a[href|="/pinkiestare"], a[href|="/nerdoctavia"], a[href|="/nerdtavi"], a[href|="/rdtwismile"]
{background-position: -100% -700%;}

/* Grid pos 2,7 'motes */
a[href|="/shibetwi"], a[href|="/rdtwicrazy"]
{background-position: -200% -700%;}

/* Grid pos 0,8 'motes */
a[href|="/wowsocane"], a[href|="/rdtwibeam"]
{background-position: -0% -800%;}

/* Grid pos 1,8 'motes */
a[href|="/shibelyra"], a[href|="/rdtwisquint"]
{background-position: -100% -800%;}

/* Grid pos 2,8 'motes */
a[href|="/shibemena"], a[href|="/rdtwistare"]
{background-position: -200% -800%;}

/* Grid pos 0,9 'motes */
a[href|="/shibepie"], a[href|="/rdtwiponder"]
{background-position: -0% -900%;}

/* Grid pos 1,9 'motes */
a[href|="/shibeluna"]
{background-position: -100% -900%;}

/* Grid pos 2,9 'motes */
a[href|="/shibederp"]
{background-position: -200% -900%;}

/* Grid pos 0,10 'motes */
a[href|="/shibeshy"]
{background-position: -0% -1000%;}

/* Grid pos 1,10 'motes */
a[href|="/appleshibe"]
{background-position: -100% -1000%;}

/* Grid pos 2,10 'motes */
a[href|="/shibedash"]
{background-position: -200% -1000%;}

/* Grid pos 0,11 'motes */
a[href|="/rarishibe"]
{background-position: -0% -1100%;}

/* Text Emotes */
a[href|="/gravestone"] em, a[href|="/theydied"] em
{
font-family: "Celestia Redux Alternate", "Celestia Redux", serif;
color: #666 !important;
text-align: center !important;
font-size: 15px;
font-style: normal !important;
position: relative;
top: 63px;
left: 40px;
width: 91px !important;
height: 42px !important;
display: block;
overflow: hidden;
}
a[href|="/gravestone"]:hover, a[href|="/theydied"]:hover
{text-decoration: none !important;}

/* Pony Warfare a */
a[href|="/shywarfare"], a[href|="/raritywarfare"], a[href|="/pinkiewarfare"], a[href|="/ajwarfare"], a[href|="/bonwarfare"], a[href|="/lyrawarfare"], a[href|="/vinylwarfare"], a[href|="/octywarfare"], a[href|="/lotuswarfare"], a[href|="/colgatewarfare"], a[href|="/carrotwarfare"], a[href|="/junebugwarfare"], a[href|="/daisywarfare"], a[href|="/doctorwarfare"], a[href|="/shoeshinewarfare"], a[href|="/trixiewarfare"], a[href|="/derpywarfare"], a[href|="/twiwarfare"], a[href|="/aloewarfare"], a[href|="/cheerileewarfare"], a[href|="/rainbowwarfare"], a[href|="/rosewarfare"], a[href|="/lilywarfare"], a[href|="/cherryberrywarfare"], a[href|="/lemonheartswarfare"], a[href|="/merrywaywarfare"], a[href|="/lightningboltwarfare"], a[href|="/heartthrobwarfare"], a[href|="/flitterwarfare"], a[href|="/cloudchaserwarfare"], a[href|="/peppermintcrunchwarfare"], a[href|="/blossomforthwarfare"], a[href|="/milliewarfare"], a[href|="/sunsetblisswarfare"], a[href|="/aprilshowerswarfare"], a[href|="/pinkladywarfare"], a[href|="/diamondmintwarfare"], a[href|="/spikewarfare"], a[href|="/angelwarfare"], a[href|="/winonawarfare"], a[href|="/tankwarfare"], a[href|="/gummywarfare"], a[href|="/owlowisciouswarfare"], a[href|="/owloysiuswarfare"], a[href|="/opalescencewarfare"], a[href|="/photofinishwarfare"], a[href|="/hoitytoitywarfare"], a[href|="/fancypantswarfare"], a[href|="/fleurwarfare"], a[href|="/sapphireshoreswarfare"]
{background-image:url(%%ponywarfarea%%);display:block;float:left;}

a[href|="/shywarfare"] {width:60px;height:82px;}
a[href|="/raritywarfare"] {width:61px;height:91px;background-position: -100px 0;}
a[href|="/pinkiewarfare"] {width:65px;height:88px;background-position: -200px 0;}
a[href|="/ajwarfare"] {width:92px;height:90px;background-position: 0 -100px;}
a[href|="/bonwarfare"] {width:58px;height:84px;background-position: -100px -100px;}
a[href|="/lyrawarfare"] {width:59px;height:79px;background-position: -200px -100px;}
a[href|="/vinylwarfare"] {width:62px;height:81px;background-position: 0 -200px;}
a[href|="/octywarfare"] {width:81px;height:82px;background-position: -100px -200px;}
a[href|="/lotuswarfare"] {width:72px;height:85px;background-position: -200px -200px;}
a[href|="/colgatewarfare"] {width:71px;height:82px;background-position: 0 -300px;}
a[href|="/carrotwarfare"] {width:93px;height:80px;background-position: -100px -300px;}
a[href|="/junebugwarfare"] {width:98px;height:83px;background-position: -200px -300px;}
a[href|="/daisywarfare"] {width:86px;height:88px;background-position: 0 -400px;}
a[href|="/doctorwarfare"] {width:87px;height:91px;background-position: -100px -400px;}
a[href|="/shoeshinewarfare"] {width:90px;height:84px;background-position: -200px -400px;}
a[href|="/trixiewarfare"] {width:72px;height:87px;background-position: 0 -500px;}
a[href|="/derpywarfare"] {width:79px;height:69px;background-position: -100px -500px;}
a[href|="/twiwarfare"] {width:66px;height:75px;background-position: -200px -500px;}
a[href|="/aloewarfare"] {width:99px;height:86px;background-position: 0 -600px;}
a[href|="/cheerileewarfare"] {width:66px;height:93px;background-position: -100px -600px;}
a[href|="/rainbowwarfare"] {width:89px;height:80px;background-position: -200px -600px;}
a[href|="/rosewarfare"] {width:78px;height:82px;background-position: 0 -700px;}
a[href|="/lilywarfare"] {width:64px;height:87px;background-position: -100px -700px;}
a[href|="/cherryberrywarfare"] {width:72px;height:75px;background-position: -200px -700px;}
a[href|="/lemonheartswarfare"] {width:56px;height:83px;background-position: 0 -800px;}
a[href|="/merrywaywarfare"] {width:90px;height:78px;background-position: -100px -800px;}
a[href|="/lightningboltwarfare"] {width:65px;height:83px;background-position: -200px -800px;}
a[href|="/heartthrobwarfare"] {width:81px;height:83px;background-position: 0 -900px;}
a[href|="/flitterwarfare"] {width:85px;height:86px;background-position: -100px -900px;}
a[href|="/cloudchaserwarfare"] {width:97px;height:88px;background-position: -200px -900px;}
a[href|="/peppermintcrunchwarfare"] {width:96px;height:74px;background-position: 0 -1000px;}
a[href|="/blossomforthwarfare"] {width:96px;height:72px;background-position: -100px -1000px;}
a[href|="/milliewarfare"] {width:95px;height:86px;background-position: -200px -1000px;}
a[href|="/sunsetblisswarfare"] {width:88px;height:81px;background-position: 0 -1100px;}
a[href|="/aprilshowerswarfare"] {width:92px;height:84px;background-position: -100px -1100px;}
a[href|="/pinkladywarfare"] {width:97px;height:81px;background-position: -200px -1100px;}
a[href|="/diamondmintwarfare"] {width:84px;height:82px;background-position: 0 -1200px;}
a[href|="/spikewarfare"] {width:67px;height:94px;background-position: -100px -1200px;}
a[href|="/angelwarfare"] {width:77px;height:83px;background-position: -200px -1200px;}
a[href|="/winonawarfare"] {width:68px;height:81px;background-position: 0 -1300px;}
a[href|="/tankwarfare"] {width:75px;height:73px;background-position: -100px -1300px;}
a[href|="/gummywarfare"] {width:83px;height:60px;background-position: -200px -1300px;}
a[href|="/owlowisciouswarfare"], a[href|="/owloysiuswarfare"] {width:58px;height:73px;background-position: 0 -1400px;}
a[href|="/opalescencewarfare"] {width:77px;height:92px;background-position: -100px -1400px;}
a[href|="/photofinishwarfare"] {width:96px;height:92px;background-position: -200px -1400px;}
a[href|="/hoitytoitywarfare"] {width:66px;height:84px;background-position: 0 -1500px;}
a[href|="/fancypantswarfare"] {width:79px;height:95px;background-position: -100px -1500px;}
a[href|="/fleurwarfare"] {width:72px;height:96px;background-position: -200px -1500px;}
a[href|="/sapphireshoreswarfare"] {width:96px;height:96px;background-position: 0 -1600px;}

/* Pony Warfare b */
a[href|="/celestiawarfare"], a[href|="/lunawarfare"], a[href|="/caramelwarfare"], a[href|="/silverspeedwarfare"], a[href|="/thunderlanewarfare"], a[href|="/twinkleshinewarfare"], a[href|="/twilightskywarfare"], a[href|="/wildfirewarfare"], a[href|="/luckywarfare"], a[href|="/sparklerwarfare"], a[href|="/snailswarfare"], a[href|="/snipswarfare"], a[href|="/truffleshufflewarfare"], a[href|="/halfnotewarfare"], a[href|="/licketysplitwarfare"], a[href|="/rumblewarfare"], a[href|="/featherweightwarfare"], a[href|="/buttonmashwarfare"], a[href|="/highstylewarfare"], a[href|="/powderrougewarfare"], a[href|="/prettyvisionwarfare"], a[href|="/regalcandentwarfare"], a[href|="/roxiewarfare"], a[href|="/soignefoliowarfare"], a[href|="/midnightfunwarfare"]
{background-image:url(%%ponywarfareb%%);display:block;float:left;}

a[href|="/celestiawarfare"] {width:100px;height:54px;}
a[href|="/lunawarfare"] {width:100px;height:53px;background-position: -100px 0;}
a[href|="/caramelwarfare"] {width:75px;height:82px;background-position: -200px 0;}
a[href|="/silverspeedwarfare"] {width:89px;height:74px;background-position: 0 -100px;}
a[href|="/thunderlanewarfare"] {width:70px;height:87px;background-position: -100px -100px;}
a[href|="/twinkleshinewarfare"] {width:63px;height:79px;background-position: -200px -100px;}
a[href|="/twilightskywarfare"] {width:100px;height:78px;background-position: 0 -200px;}
a[href|="/wildfirewarfare"] {width:70px;height:84px;background-position: -100px -200px;}
a[href|="/luckywarfare"] {width:83px;height:93px;background-position: -200px -200px;}
a[href|="/sparklerwarfare"] {width:75px;height:84px;background-position: 0 -300px;}
a[href|="/snailswarfare"] {width:68px;height:88px;background-position: -100px -300px;}
a[href|="/snipswarfare"] {width:73px;height:84px;background-position: -200px -300px;}
a[href|="/truffleshufflewarfare"] {width:61px;height:78px;background-position: 0 -400px;}
a[href|="/halfnotewarfare"] {width:65px;height:73px;background-position: -100px -400px;}
a[href|="/licketysplitwarfare"] {width:60px;height:91px;background-position: -200px -400px;}
a[href|="/rumblewarfare"] {width:81px;height:80px;background-position: 0 -500px;}
a[href|="/featherweightwarfare"] {width:65px;height:83px;background-position: -100px -500px;}
a[href|="/buttonmashwarfare"] {width:55px;height:80px;background-position: -200px -500px;}
a[href|="/highstylewarfare"] {width:98px;height:88px;background-position: 0 -600px;}
a[href|="/powderrougewarfare"] {width:85px;height:84px;background-position: -100px -600px;}
a[href|="/prettyvisionwarfare"] {width:61px;height:79px;background-position: -200px -600px;}
a[href|="/regalcandentwarfare"] {width:71px;height:79px;background-position: 0 -700px;}
a[href|="/roxiewarfare"] {width:79px;height:87px;background-position: -100px -700px;}
a[href|="/soignefoliowarfare"] {width:70px;height:98px;background-position: -200px -700px;}
a[href|="/midnightfunwarfare"] {width:83px;height:100px;background-position: 0 -800px;}

/* Animated Emotes */
/* Have moved to /r/ponymotesextra! */

/* Misfit Emotes */
a[href|="/fillycadance"] {width:100px;height:126px;}
a[href|="/lyratonguebite"] {width:280px;height:210px;background-position: -100px 0;}
a[href|="/buttonsmom"], a[href|="/buttonsmum"] {width:100px;height:136px;background-position: 0 -126px;}
a[href|="/fabpie"] {width:120px;height:200px;background-position: -380px 0;}
a[href|="/changelinghug"] {width:113px;height:200px;background-position: 0 -262px;}
a[href|="/twiembarrassed"] {width:200px;height:155px;background-position: -113px -210px;}
a[href|="/twismirk"] {width:253px;height:150px;background-position: -113px -365px;}
a[href|="/huglife"] {width:150px;height:200px;background-position: 0 -515px;}
a[href|="/happyderp"] {width:150px;height:235px;background-position: 0 -715px;}
a[href|="/speakingfancy"] {width:250px;height:178px; background-position: -150px -515px;}
a[href|="/twidashkiss"] {width:300px;height:167px;background-position: -150px -693px;}
a[href|="/lyracomehere"] {width:119px;height:150px;background-position: -381px -200px;}
a[href|="/braecozy"] {width:146px;height:192px;background-position: 0 0;}
a[href|="/sbincredulous"] {width:118px;height:150px;background-position: -382px -350px;}
a[href|="/lemonshock"] {width:206px;height:140px;background-position: -150px -860px;}
a[href|="/headcanon"] {width:70px;height:45px;background-position: -0px -950px;}
a[href|="/caramelsad"] {width:150px;height:100px;background-position: -146px 0;}
a[href|="/twilicry"] {width:119px;height:100px;background-position: -296px 0;}
a[href|="/sfpride"] {width:116px;height:175px;background-position: 0 -192px;}
a[href|="/sfmotherofgod"] {width:150px;height:137px;background-position: -146px -100px;}
a[href|="/sbdisgusting"], a[href|="/absolutelydisgusting"] {width:300px;height:192px;background-position: 0 -808px;}
a[href|="/ppwhywouldyoudothat"] {width:295px;height:176px;background-position: -116px -237px;}
a[href|="/fluttersnoo"] {width:114px;height:150px;background-position: 0 -367px;}
a[href|="/twilicute"] {width:200px;height:150px;background-position: -114px -413px;}
a[href|="/superlazy"], a[href|="/dashcuteblanket"] {width:200px;height:93px;background-position: -296px -100px;}
a[href|="/paperwork"] {width:250px;height:213px;background-position: 0 -563px;}
a[href|="/objection"] {width:225px;height:120px;background-position: -250px -563px;}
a[href|="/twitiger"], a[href|="/twiger"], a[href|="/tanktwi"] {width:300px;height:236px;}
a[href|="/lunacelehug"] {width:300px;height:205px;background-position: 0 -236px;}
a[href|="/lunacomehere"] {width:175px;height:200px;background-position: -300px -683px;}
a[href|="/fluttryay"] {width:150px;height:111px;background-position: -314px -413px;}
a[href|="/magicmissile"], a[href|="/icastmagicmissile"], a[href|="/pinkmage"] {width:225px;height:125px;background-position: 0 -441px;}
a[href|="/jaglad"] {width:68px;height:100px;background-position: -415px 0;}
a[href|="/trixiedisappointed"], a[href|="/trixiedoublefacehoof"] {width:118px;height:100px;background-position: -225px -441px;}
a[href|="/raribat"] {width:200px;height:141px;background-position: -300px 0;}
a[href|="/ppblushing"] {width:158px;height:200px;background-position: -300px -141px;}
a[href|="/raritymusicalface"] {width:95px;height:200px;background-position: -343px -341px;}
a[href|="/fireflypounce"] {width:150px;height:102px;background-position: 0 -566px;}
a[href|="/secretponythread"] {width:300px;height:188px;background-position: -150px -566px;}
a[href|="/pinkiepoint"] {width:178px;height:188px;background-position: -150px -566px;}
a[href|="/surprisebitch"] {width:250px;height:193px;background-position: -250px -754px;}
a[href|="/sonavinyl"] {width:300px;height:235px;}
a[href|="/twiyugi"] {width:120px;height:116px;background-position: 0 -668px;}
a[href|="/lunadash"], a[href|="/dabkilmandmeerkat"] {width:200px;height:137px;background-position: 0 -784px;}
a[href|="/pinkierage"], a[href|="/pinkrage"] {width:200px;height:167px;background-position: -300px 0;}
a[href|="/lunadashkiss"], a[href|="/deathdudeandmeerkat"] {width:300px;height:152px;background-position: -500px 0;}
a[href|="/readingrainbow"] {width:177px;height:250px;background-position: -823px 0;}
a[href|="/sbnice"], a[href|="/absolutelynice"] {width:300px;height:192px;background-position: 0 -235px;}
a[href|="/bighead"], a[href|="/imustgomypeopleneedme"] {width:123px;height:196px;background-position: -300px -167px;}
a[href|="/swootiaraspoonbloom"], a[href|="/whathassciencedone"] {width:120px;height:150px;background-position: -423px -167px;}
a[href|="/bitchplease"] {width:79px;height:100px;background-position: -544px -153px;}
a[href|="/roseluckstretch"] {width:200px;height:145px;background-position: -622px -152px;}
a[href|="/woonacape"] {width:125px;height:200px;background-position: -300px -363px;}
a[href|="/radiance"], a[href|="/oldenmw"] {width:163px;height:200px;background-position: -425px -317px;}
a[href|="/sheiscorrect"] {width:140px;height:200px;background-position: -588px -297px;}
a[href|="/over9000"] {width:150px;height:269px;background-position: -850px -250px;}
a[href|="/twidorable"] {width:200px;height:112px;}
a[href|="/nerdcheese"] {width:96px;height:150px;background-position: 0 -112px;}
a[href|="/50scoco"] {width:153px;height:200px;background-position: -200px 0;}
a[href|="/50sflutters"], a[href|="/flutterteen"] {width:200px;height:193px;background-position: -353px 0;}
a[href|="/sweetiebat"] {width:108px;height:150px;background-position: 0 -262px;}
a[href|="/scootabat"] {width:138px;height:150px;background-position: -562px 0;}
a[href|="/dalekboop"] {width:200px;height:152px;background-position: -108px -200px;}
a[href|="/youngtia"] {width:200px;height:173px;background-position: -308px -200px;}
a[href|="/fillytwi"] {width:78px;height:150px;background-position: 0 -412px;}
a[href|="/bloombat"] {width:121px;height:150px;background-position: -579px -150px;}
a[href|="/lyrascore"] {width:200px;height:144px;background-position: -108px -352px;}
a[href|="/bestoc"], a[href|="/princesschangelingrainbowmagicpants"] {width:300px;height:243px;background-position: -400px -457px;}
a[href|="/rocklobster"] {width:119px;height:150px;background-position: -580px -300px;}
a[href|="/fssaiyan"], a[href|="/over9000yays"] {width:251px;height:204px;background-position: -149px -496px;}
a[href|="/woonacold"], a[href|="/woonablanket"] {width:150px;height:119px;background-position: -550px -700px;}
a[href|="/sleepyrarijack"] {width:146px;height:200px;}