/* /r/ponymotesextra2 CSS!
 * Even more animotes.
 */

/* Not emote stuff */
/* Not emotes */

ul.image-preview-list li:nth-child(11):after {
content: "10th image";
color: green;
padding-left: 5px;
}

ul.image-preview-list li:nth-child(21):after {
content: "20th image";
color: green;
padding-left: 5px;
}

ul.image-preview-list li:nth-child(31):after {
content: "30th image";
color: yellow;
padding-left: 5px;
}

ul.image-preview-list li:nth-child(41):after {
content: "40th image!";
color: orangered;
padding-left: 5px;
}

ul.image-preview-list li:nth-child(46):after {
content: "45th image!";
color: red;
padding-left: 5px;
}

ul.image-preview-list li:nth-child(50):after {
content: "49th image!!";
color: red;
padding-left: 5px;
font-weight: bold;
}

ul.image-preview-list li:nth-child(51):after {
content: "50th image!!!";
color: red;
padding-left: 5px;
font-weight: bolder;
font-size: large;
}

/* Non animated Emotes */
/* Just kidding. */

/* Animated Emotes */
a[href|="/cannotcontainrage"] {background:url(%%cannotcontainrage%%) no-repeat;width:150px;height:150px;display:block;float:left;}
a[href|="/lyraquestion"] {background:url(%%lyraquestion%%) no-repeat;width:300px;height:300px;display:block;float:left;}
a[href|="/bigmaceatsbigmac"] {background:url(%%bigmaceatsbigmac%%) no-repeat;width:120px;height:104px;display:block;float:left;}
a[href|="/fluffleshuffle"] {background:url(%%fluffleshuffle%%) no-repeat;width:125px;height:81px;display:block;float:left;}
a[href|="/implightsparkle"], a[href|="/implylightsparkle"] {background:url(%%implightsparkle%%) no-repeat;width:92px;height:100px;display:block;float:left;}
a[href|="/bownom"] {background:url(%%bownom%%) no-repeat;width:100px;height:90px;display:block;float:left;}
a[href|="/sillywater"] {background:url(%%sillywater%%) no-repeat;width:150px;height:86px;display:block;float:left;}
a[href|="/sonatapopcorn"] {background:url(%%sonatapopcorn%%) no-repeat;width:108px;height:150px;display:block;float:left;}
a[href|="/ponkblep"] {background:url(%%ponkblep%%) no-repeat;width:100px;height:96px;display:block;float:left;}
a[href|="/imready"] {background:url(%%imready%%) no-repeat;width:83px;height:100px;display:block;float:left;}
a[href|="/vsheartbeatheadbop"] {background:url(%%vsheartbeatheadbop%%) no-repeat;width:128px;height:150px;display:block;float:left;}
a[href|="/blep"] {background:url(%%blep%%) no-repeat;width:129px;height:150px;display:block;float:left;}
a[href|="/rdmexicorn"] {background:url(%%rdmexicorn%%) no-repeat;width:112px;height:150px;display:block;float:left;}
a[href|="/aurryblep"] {background:url(%%aurryblep%%) no-repeat;width:150px;height:150px;display:block;float:left;}
a[href|="/uhhuh"] {background:url(%%uhhuh%%) no-repeat;width:67px;height:70px;display:block;float:left;}
a[href|="/headbang"] {background:url(%%headbang%%) no-repeat;width:150px;height:126px;display:block;float:left;}
a[href|="/skystareyeroll"] {background:url(%%skystareyeroll%%) no-repeat;width:150px;height:150px;display:block;float:left;}