/* CSS started Sun, Feb 17th, 1 AM: Asceveris  */
/* KEEP THE FORMATTING CONSISTENT, DAMN IT */
/* Sorry for fucking with it Asc. -SMFD */

/* Don't touch. On a side note, I need to consolidate all of these "don't touches" into one block*/  
div.titlebox span.word {  
   display: none  
}

.redditname a {
   color: #FF00FF;
}

.footer-parent
{
 padding-bottom: 210px;
 height:500px;
 clear:both;
 text-align:center;
 width:100%;
 background-image:url(%%Dickbutt2%%);
 background-repeat:no-repeat;
 margin-bottom:-25px;
 background-position: bottom center;
}

/* Header */
#header {
height: 0x; 
    background: url(%%Twilight%%) no-repeat #FFFFFF;
    margin-bottom: 52px;
    background-position: 83% 20px;
    border-bottom: 0px solid #314D5B;
    overflow:visible;
}


#sr-header-area {
 background-color: #FFAAFF!important;
 font-size: 7pt !important;
 /*font-family: Arial;*/
}

#header-bottom-left {
 /* background:url(%%newbanner%%)!important;
  background-repeat:no-repeat!important;
  background-position:50% 100%!important;*/
  height:237px;
}


#header-bottom-right #userbarToggle {
    color: #DDD;
    background-color: #FFAAFF;
    border-right: 2px solid #DDD;
    border-radius: 0px 0px 0px 7px;
}

#header .pagename.redditname a {
    background: url(%%animatedheader%%) 0px 0px no-repeat;
    width: 1100px;
    height: 237px;
    display: inline-block;
    position: absolute;
    left: 1px;
    top: 20px;
    text-indent: -9999px;
    z-index: 100;
}

#header-img-a {
  display: inline;
  float: left;
}

.pagename.redditname a {
  position:absolute;
  bottom:0%;
}

.tabmenu {
  position:absolute;
  bottom:-10%;
  z-index: 99;
  left: 3%;
}

/* Aforementioned block ends here */

.sidecontentbox h1:not(:first-child):after {
  font-size: 10pt !important;
  content: "PWETTIEST PWINKEST PWINCESSES"
}

/* This is the subscribers label */
div.titlebox .subscribers span.number:after {
  content:" pwink pwincesses";
}

/* This is the online users label */
div.titlebox .users-online span.number:after {
  content:" being cweepy";
}

/* font controls, color is color of text that isn't modified by any other css */
body {
  /*font-family: Arial;*/
  color:#770077 !important;
}

.res-nightmode
body {
   /*font-family: Arial;*/
   color:#770077 !important;
}

.md p{
  font-size: 10.5pt
}

.noncollapsed .md p {
   color: #770077 !important;
   font-size: 10pt
}

.res-nightmode .md p{
   color:#770077 !important;
   font-size: 10pt
}

.res-nightmode .score.likes {
    color:#C0C !important;
}


/* Self post background. */
.link .expando .usertext .md {
  border: 1px solid #990099 !important;
  background-color: #FFAAFF !important;
}
.res-nightmode
.noncollapsed .md p {
color: #770077 !important;
}

.res-nightmode
.keyHighlight{
   color: #770077 !important;
}

/* content is the message displayed when someone downvotes a post */
#siteTable .entry.dislikes .buttons:before {
  content: "Why'd you click that, muwdewew!";
  color: #EE82EE;
  font-size: 7pt
}


/* Gets rid of the "use subreddit css" toggle. Do not touch */
.styleToggle {
  visibility: hidden;
}

/* link colors */
a {
  color:#CC00CC !important;
}
.res-nightmode
.link .entry .tagline {
    font-size: 10px !important;
    color:#CC00CC !important;
}
.res-nightmode
.entry time {
color: #CC00CC !important;
}
.res-nightmode
element.style {
color: bisque;
}

.res-nightmode
.link .entry .tagline time, .entry .tagline a,  {
    font-size: x-small;
    color:#CC00CC !important;
}

/* Code for spoiler tags */
a[href|="/spoiler"] {
  background: #000 !important;
  color: #000 !important
}

a[href|="/spoiler"]:hover {
  color: #FFF !important
}

#header-img-a {
  width: 100%;
  z-index: 400;
  bottom:0%;
}

.content:before{
  /* content: "DO YOU EVEN SUBSCRIBE";
  margin:4px;
  color:#FF33FF;*/
}

.subscriber .content:before{
  content: " " !important;
}

.side .content:before {
  content: " " !important
}

/*Changing 'MODERATORS in sidebar*/  
  .sidecontentbox h1:not(:first-child) {
  font-size: 0pt !important
}


.sidecontentbox h1:not(:first-child):after {
  font-size: 10pt !important;
  content: "PWETTIEST PWINCESSES"
}

/*Change vote arrows*/  
.arrow.up { background-image: url(%%cstare0%%); 
  background-position: 0px 0px; 
  height: 24px; width: 26px; 
}

.arrow.upmod { 
  background-image: url(%%cstare1%%); 
  background-position: 0px 0px; 
  height: 24px; width: 26px;  
}

.arrow.down {
  background-image: url(%%lstare0%%); 
  background-position: 0px 0px; 
  height: 24px; width: 26px; 
}

.arrow.downmod { 
  background-image: url(%%lstare1%%); 
  background-position: 0px 0px; 
  height: 24px; width: 26px; 
}

.arrow {
  height: 24px;
  width: 26px;
}

.sidecontentbox {
  background: #FFDDFF;
  border-radius: 3px;
  border: 1px solid #990099;
}

ul.flat-vert.icon-menu {
  background: #FFAAFF;
}

div.entry {
  background: #FFDDFF;
  border: 1px solid #AA00AA;
  border-radius: 5px;
}

/*
a.author[href|="SaultSpartan"] {
  font-size:0!important; 
  overflow:hidden; 
  display:inline-block; 
  content: "";
}
a.author[href|="SaultSpartan"]:before {
  content: "Dead Pwincess SaultSpartan"
}
*/

a.author:before
{
  font-size:10.5px!important; 
  visibility:visible!important;
  content: "Pwetty Pwincess Tulpa "
}
a.author:after
{
  font-size:10.5px!important; 
  visibility:visible!important;
  content: "-kun"
}

a.author[href$="Xandrez192"]:before {
    content: "";
    font-size: 0px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
}

a.author[href$="Xandrez192"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
}

a.author[href$="Xandrez192"]:after {
    content: "DickButt";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
}
/*

h1.redditname {
  font-size:0!important; 
  overflow:hidden; 
  display:inline-block; 
  content: "";
}

h1.redditname:before
{
  font-size:20px!important; 
  visibility:visible!important;
  content: "In Memory of SaultSpartan 1977-2013"
}*/

a[href|="/aliloo"] {
  background-image: url(%%sprite1%%);
  background-position: 0 -397px;
  display:block;
  clear:none;
  float:left;
  width:150px;
  height:150px;
}

a[href|="/pinkicorn"] {
  background-image: url(%%pinkicorn%%);
  display:block;
  clear:none;
  float:left;
  width:200px;
  height:150px;
}

a[href|="/hairdownchaser"] {
  background-image: url(%%hairdownchaser%%);
  display:block;
  clear:none;
  float:left;
  width:143px;
  height:150px;
}

a[href|="/gabepony"] {
  background-image: url(%%gabepony%%);
  display:block;
  clear:none;
  float:left;
  width:132px;
  height:150px;
}

a[href|="/applecorn"] {
  background-image: url(%%sprite1%%);
  background-position: 0 -597px;
  display:block;
  clear:none;
  float:left;
  width:150px;
  height:112px;
  
}

a[href|="/foreheadkiss"] {
  background-image: url(%%foreheadkiss%%);
  display:block;
  clear:none;
  float:left;
  width:150px;
  height:102px;
}

a[href|="/pwettyfluffles"] {
  background-image: url(%%pwettyfluffles%%);
  display:block;
  clear:none;
  float:left;
  width:150px;
  height:170px;
}

a[href|="/saultspartan"] {
  background-image: url(%%saultspartan%%);
  display:block;
  clear:none;
  float:left;
  width:150px;
  height:165px;
}

a[href|="/pwetty"] {
  background-image: url(%%pwetty%%);
  display:block;
  clear:none;
  float:left;
  width:150px;
  height:150px;
}


a[href|="/alicorneyes"] {
  background-image: url(%%sprite1%%);
  background-position: 0 -171px;
  display:block;
  clear:none;
  float:left;
  width:150px;
  height:176px;
}

a[href|="/sockchaser"] {
  background-image: url(%%sockchaser%%);
  display:block;
  clear:none;
  float:left;
  width:150px;
  height:92px;
}

a[href|="/bigappleicorn"] {
  background-image: url(%%sprite1%%);
  background-position: 0 0;
  display:block;
  clear:none;
  float:left;
  width:150px;
  height:121px;
}

a[href|="/chibicorn"] {
  background-image: url(%%sprite1%%);
  background-position: 0 -1009px;
  display:block;
  clear:none;
  float:left;
  width:150px;
  height:175px;
}

a[href|="/crystalchaser"] {
  background-image: url(%%sprite1%%);
  background-position: 0 -1476px;
  display:block;
  clear:none;
  float:left;
  width:150px;
  height:150px;
}

a[href|="/cutetwi"] {
  background-image: url(%%sprite1%%);
  background-position: 0 -1676px;
  display:block;
  clear:none;
  float:left;
  width:102px;
  height:150px;
}

a[href|="/ducklestia"] {
  background-image: url(%%sprite1%%);
  background-position: -244px -208px;
  display:block;
  clear:none;
  float:left;
  width:150px;
  height:176px;
}

a[href|="/jackicorn"] {
  background-image: url(%%jackicorn%%);
  display:block;
  clear:none;
  float:left;
  width:150px;
  height:109px;
}

a[href|="/mechapwincess"] {
  background-image: url(%%MechaPwincess%%);
  display:block;
  clear:none;
  float:left;
  width:150px;
  height:147px;
}

a[href|="/nonsexual"] {
  background-image: url(%%nonsexualandsilly%%);
  display:block;
  clear:none;
  float:left;
  width:150px;
  height:145px;
}

a[href|="/peasants"] {
  background-image: url(%%peasants%%);
  display:block;
  clear:none;
  float:left;
  width:200px;
  height:150px;
}

a[href|="/peekingchaser"] {
  background-image: url(%%peekingchaser%%);
  display:block;
  clear:none;
  float:left;
  width:165px;
  height:150px;
}

a[href|="/pwettyflank"] {
  background-image: url(%%pwettyflankilicious%%);
  display:block;
  clear:none;
  float:left;
  width:150px;
  height:85px;
}

a[href|="/pwettypwincesses"] {
  background-image: url(%%pwettypwincess%%);
  display:block;
  clear:none;
  float:left;
  width:155px;
  height:145px;
}

a[href|="/pwettygala"] {
  background-image: url(%%pwettypwincess2%%);
  display:block;
  clear:none;
  float:left;
  width:221px;
  height:150px;
}

a[href|="/shootingchaser"] {
  background-image: url(%%shootingchaser%%);
  display:block;
  clear:none;
  float:left;
  width:149px;
  height:150px;
}

a[href|="/shiningcadence"] {
  background-image: url(%%shiningcadence%%);
  display:block;
  clear:none;
  float:left;
  width: 98px;
  height: 150px;
}

a[href|="/waticorn"] {
  background-image: url(%%waticorn%%);
  display:block;
  clear:none;
  float:left;
  width:173px;
  height:150px;
}

a[href|="/pwettypwease"] {
  background-image: url(%%pwettypwease%%);
  display:block;
  clear:none;
  float:left;
  width:144px;
  height:150px;
}


a[href|="/smfds"] {
  background-image: url(%%SMFdumptrucks%%);
  display:block;
  clear:none;
  float:left;
  width:183px;
  height:150px;
}

a[href|="/spitsock"] {
  background-image: url(%%spitsocks%%);
  display:block;
  clear:none;
  float:left;
  width:160px;
  height:150px;
}

a[href|="/scaredtavi"] {
  background-image: url(%%scaredtavi%%);
  display:block;
  clear:none;
  float:left;
  width:173px;
  height:150px;
}

a[href|="/djhug"] {
  background-image: url(%%sprite1%%);
  background-position: -244px 0;
  display:block;
  clear:none;
  float:left;
  width:259px;
  height:158px;
}

a[href|="/djcuddles"] {
  background-image: url(%%sprite1%%);
  background-position: 0 -1876px;
  display:block;
  clear:none;
  float:left;
  width:150px;
  height:118px;
}

a[href|="/vinylcozy"] {
  background-image: url(%%sprite1%%);
  background-position:0 -1234px;
  display:block;
  clear:none;
  float:left;
  width:152px;
  height:192px;
}

a[href|="/trixiecorn"] {
  background-image: url(%%trixiecorn%%);
  display:block;
  clear:none;
  float:left;
  width:176px;
  height:200px;
}

a[href|="/pgilda"] {
  background-image: url(%%PwincessGilda%%);
  display:block;
  clear:none;
  float:left;
  width:150px;
  height:150px;
}

a[href|="/timeprince"] {
  background-image: url(%%timeprince%%);
  display:block;
  clear:none;
  float:left;
  width:150px;
  height:200px;
}

a[href|="/whoovesonwhooves"] {
  background-image: url(%%whoovesonwhooves%%);
  display:block;
  clear:none;
  float:left;
  width:93px;
  height:150px;
}

a[href|="/cutevinyl"] {
  background-image: url(%%sprite1%%);
  background-position: -244px -434px;
  display:block;
  clear:none;
  float:left;
  width:150px;
  height:150px;
}

a[href|="/shibe"] {
  background-image: url(%%PT4AEyr%%);
  display:block;
  clear:none;
  float:left;
  width:155px;
  height:200px;
}

a[href|="/awakedash"] {
  background-image: url(%%sprite1%%);
  background-position: 0 -759px;
  display:block;
  clear:none;
  float:left;
  width:194px;
  height:200px;
}

a[href|="/huggingcloudchaser"] {
  background-image: url(%%huggingcloudchaser%%);
  display:block;
  clear:none;
  float:left;
  width:150px;
  height:114px;
}

a[href|="/rdteehee"] {
  background-image: url(%%rdteehee%%);
  display:block; 
  clear:none;
  float:left;
  width:175px;
  height:153px;
}

/* CSS text box bigger, because it being small annoys me. */
.stylesheet-customize-container textarea { height:500px; }

 /* Silly garbage */
/*i don't think this works how u think it works */
/*It works exactly how I thought it worked, fuck you.*/

div[data-fullname$="s"] .usertext-body .md:after{content:" Also, Season 4 is great."; color: #707 !important;}
div[data-fullname$="m"] .usertext-body .md:after{content:" Also, Season 4 is great."; color: #707 !important;}
div[data-fullname$="f"] .usertext-body .md:after{content:" Also, Season 4 is great."; color: #707 !important;}
div[data-fullname$="d"] .usertext-body .md:after{content:" Also, Season 4 is great."; color: #707 !important;}
div[data-fullname$="z"] .usertext-body .md:after{content:" Also, Xandrez sucks."; color: #707 !important;}
div[data-fullname$="666"] .usertext-body .md:after{content:"I just noticed this comment, and I don't mean to sound like a parasprite, but I feel like you're being like a big Discord now. Trying to stir things up and ruin the Harmony of this subreddit. Speaking as the element of moderation here, I feel like you're being bucking crazy and everypony knows that you need to be less sarcastic. Neighsayers come and go, but you're being bucking mean right now by being sarcastic about this super important thing. It's 20% cooler to be kind and keep the harmony of friends because Friendship is truly Magic. Because we gotta share, and we gotta care in our sub. It's the right thing to do. It's the mane thing to do. /) Hoofbump! "; color: #707 !important;}

/* Animated Header */
/* Vector source: http://fc02.deviantart.net/fs71/i/2013/030/c/8/alicorn_twilight_by_designjh-d5t8ga8.png*/

#header {
animation:heavybreathing 60s ease-in-out infinite;
-webkit-animation:heavybreathing 60s ease-in-out infinite;
}

@-webkit-keyframes heavybreathing{
0%   {background-position:130% 300px;}
1%   {background-position:130% 290px;}
3%  {background-position:130% 280px;}
30%  {background-position:130% 10px;}
50%  {background-position:130% -150px;}
60%  {background-position:130% -300px;}
65%  {background-position:90% -300px;}
70%  {background-position:130% -275px;}
75%  {background-position:90% -250px;}
80%  {background-position:130% -225px;}
85%  {background-position:90% -200px;}
90%  {background-position:130% -175px;}
95%  {background-position:90% -150px;}
98%  {background-position:139% -125px;}
100% {background-position:130% 3000px;}
}

@keyframes heavybreathing{
0%   {background-position:130% 300px;}
1%   {background-position:130% 290px;}
3%  {background-position:130% 280px;}
30%  {background-position:130% 10px;}
50%  {background-position:130% -150px;}
60%  {background-position:130% -300px;}
65%  {background-position:90% -300px;}
70%  {background-position:130% -275px;}
75%  {background-position:90% -250px;}
80%  {background-position:130% -225px;}
85%  {background-position:90% -200px;}
90%  {background-position:130% -175px;}
95%  {background-position:90% -150px;}
98%  {background-position:139% -125px;}
100% {background-position:130% 3000px;}
}

/* Animated have mail icon */

#mail.havemail   {

  height: 106px !important;
  width: 102px !important;    
  background: url(%%Twilightflying%%) 
  no-repeat;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;


}

#mail.havemail{
  animation: animationFrames linear 30s;
  animation-iteration-count: 1000;
  transform-origin: ;
  -webkit-animation: animationFrames linear 30s;
  -webkit-animation-iteration-count: 1000;
  -webkit-transform-origin: ;
}

@keyframes animationFrames{
  0% {
    left:0px;
    top:0px;
    opacity:1;
    transform:  rotateY(-180deg) rotate(-0);
  }
  25% {
    left:0px;
    top:0px;
    opacity:1;
    transform:   rotateY(-180deg) translateX(1000px) ;
  }

  26% {
    left:0px;
    top:0px;
    opacity:1;
    transform:   rotateY(-180deg) translateX(1000px) rotate(-90deg);
  }

  50% {
    left:0px;
    top:0px;
    opacity:1;
    transform:   rotateY(-180deg) translateY(600px) translateX(1000px) rotate(-90deg);
  }

  51% {
    left:0px;
    top:0px;
    opacity:1;
    transform:   rotateY(-180deg) translateY(600px) translateX(1000px) rotate(-180deg);
  }

  75% {
    left:0px;
    top:0px;
    opacity:1;
    transform:  rotateY(-180deg) translateX(0px) translateY(600px) rotate(-180deg);
  }


  76% {
    left:0px;
    top:0px;
    opacity:1;
    transform:  rotateY(-180deg) translateX(0px) translateY(600px) rotate(-90deg);
  }

98% {
    left:0px;
    top:0px;
    opacity:1;
    transform:  rotateY(-180deg) translateX(0px) translateY(10px) rotate(-90deg);
  }

  99% {
    left:0px;
    top:0px;
    opacity:1;
    transform:  rotateY(-180deg) translateX(0px) translateY(10px) rotate(0deg);
  }

  100% {
    left:0px;
    top:0px;
    opacity:1;
    transform:  rotateY(-180deg) translate(0px,0px) rotate(0deg);
  }

}

@-webkit-keyframes animationFrames{
  0% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:  rotateY(-180deg);
  }
  25% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:   rotateY(-180deg) translateX(1000px) ;
  }

  26% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:   rotateY(-180deg) translateX(1000px) rotate(-90deg);
  }

  50% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:   rotateY(-180deg) translateY(600px) translateX(1000px) rotate(-90deg);
  }

  51% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:   rotateY(-180deg) translateY(600px) translateX(1000px) rotate(-180deg);
  }

  75% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:  rotateY(-180deg) translateX(0px) translateY(600px) rotate(-180deg);
  }


  76% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:  rotateY(-180deg) translateX(0px) translateY(600px) rotate(-90deg);
  }

  98% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:  rotateY(-180deg) translateX(0px) translateY(10px) rotate(-90deg);
  }

99% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:  rotateY(-180deg) translateX(0px) translateY(10px) rotate(0deg);
  }

  100% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:  rotateY(-180deg) translate(0px,0px) rotate(0deg);
  }
}

.res-nightmode .usertext.border .usertext-body { background-color: rgb(255, 170, 255) !important; }


