/*Emote section*/

a[href="/scootabloomhug"]{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height:176px;
    background-image: url(%%scootbloomhug%%) !important;
}
a[href="/scootabloomsmile"]{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height:127px;
    background-image: url(%%scootbloomsmile%%) !important;
}
a[href="/beesarelove"]{
    display:block;
    clear:none;
    float:left;
    width:184px;
    height:184px;
    background-image: url(%%Bee%%) !important;
}

a[href="/cmcpatch"]{
    display:block;
    clear:none;
    float:left;
    height:100px;
    width:100px;
 background-image:url(%%cmcpatchsmall%%) !important;
/* original here http://bocian3000.deviantart.com/art/Cutie-Mark-Crusaders-Logo-206473075*/
}

a[href="/scootaloodle"]{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height:171px;
    background-image: url(%%scootaloodle%%) !important;
}
a[href="/chickeneating"]{
    display:block;
    clear:none;
    float:left;
    width:175px;
    height:200px;
    background-image: url(%%chickeneating%%) !important;
}
a[href="/scootabounce"]{
    display:block;
    clear:none;
    float:left;
    width:114px;
    height:200px;
    background-image: url(%%scootabounce%%) !important;
}
a[href="/scootacheering"]{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height:153px;
    background-image: url(%%scootacheer%%) !important;
}
a[href="/scootalk"]{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height:153px;
    background-image: url(%%aboutthisbig%%) !important;
}

a[href="/scootawave"]{
    display:block;
    clear:none;
    float:left;
    width:184px;
    height:200px;
    background-image: url(%%scootawave%%) !important;
}

a[href="/scootayes"],
a[href="/scottaloo"],
a[href="/scootasad2"],
a[href="/scootasad3"],
a[href="/scootasad4"],
a[href="/wiygn"],
a[href="/chicken"],
a[href="/scootacrush"],
a[href="/scootanap"],
a[href="/scootasnooze"],
a[href="/scootamarch"],
a[href="/scootdealwithit"],
a[href="/scootayell"],
a[href="/scootaworried"],
a[href="/scootatwirl"],
a[href="/scootajump2"],
a[href="/scootajump3"],
a[href="/scootacookie"],
a[href="/scootablush"],
a[href="/scootablush2"]{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height: 200px;
    background-image: url(%%sheet1%%) !important;
}

a[href="/scootayes"]{background-position:0% 0%;}
a[href="/scottaloo"]{background-position:-100% 0%;}
a[href="/scootasad2"]{background-position:-200% 0%;}
a[href="/scootasad3"]{background-position:-300% 0%;}
a[href="/scootasad4"]{background-position:-400% 0%;}
a[href="/wiygn"]{background-position:0% -100%;}
a[href="/chicken"]{background-position:-100% -100%;}
a[href="/scootacrush"]{background-position:-200% -100%;}
a[href="/scootanap"]{background-position:-300% -100%;}
a[href="/scootasnooze"]{background-position:-400% -100%;}
a[href="/scootamarch"]{background-position:0% -200%;}
a[href="/scootdealwithit"]{background-position:-100% -200%;}
a[href="/scootayell"]{background-position:-200% -200%;}
a[href="/scootaworried"]{background-position:-300% -200%;}
a[href="/scootatwirl"]{background-position:-400% -200%;}
a[href="/scootajump2"]{background-position:0% -300%;}
a[href="/scootajump3"]{background-position:-100% -300%;}
a[href="/scootacookie"]{background-position:-200% -300%;}
a[href="/scootablush"]{background-position:-300% -300%;}
a[href="/scootablush2"]{background-position:-400% -300%;}

a[href="/scootafloor"],
a[href="/danceofherpeople"],
a[href="/scootalong"],
a[href="/scootahug2"],
a[href="/scootabite"],
a[href="/takemerainbowdash"],
a[href="/scootajeez"],
a[href="/scootadash"],
a[href="/scootasocks"],
a[href="/scootarear"],
a[href="/scootasure"],
a[href="/scootasorry"],
a[href="/scootalick"],
a[href="/scootaduck"],
a[href="/scootadorkable"],
a[href="/numberonefan"],
a[href="/pikaloo"],
a[href="/scootawink"],
a[href="/bunnyloo"],
a[href="/scootalooisbestpony"]{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height: 200px;
    background-image: url(%%sheet2%%) !important;
}

a[href="/scootafloor"]{background-position:0% 0%;}
a[href="/danceofherpeople"]{background-position:-100% 0%;}
a[href="/scootalong"]{background-position:-200% 0%;}
a[href="/scootahug2"]{background-position:-300% 0%;}
a[href="/scootabite"]{background-position:-400% 0%;}
a[href="/takemerainbowdash"]{background-position:0% -100%;}
a[href="/scootajeez"]{background-position:-100% -100%;}
a[href="/scootadash"]{background-position:-200% -100%;}
a[href="/scootasocks"]{background-position:-300% -100%;}
a[href="/scootarear"]{background-position:-400% -100%;}
a[href="/scootasure"]{background-position:0% -200%;}
a[href="/scootasorry"]{background-position:-100% -200%;}
a[href="/scootalick"]{background-position:-200% -200%;}
a[href="/scootaduck"]{background-position:-300% -200%;}
a[href="/scootadorkable"]{background-position:-400% -200%;}
a[href="/numberonefan"]{background-position:0% -300%;}
a[href="/pikaloo"]{background-position:-100% -300%;}
a[href="/scootawink"]{background-position:-200% -300%;}
a[href="/bunnyloo"]{background-position:-300% -300%;}
a[href="/scootalooisbestpony"]{background-position:-400% -300%;}


a[href="/scootasmile2"],
a[href="/scootalooisdissapoint"],
a[href="/scootadodo"],
a[href="/agentscoots"],
a[href="/checkemscoots"],
a[href="/tasteslikechicken"],
a[href="/scootacornered"]
{
    display:block;
    clear:none;
    float:left;
    width:200px;
    height: 200px;
    background-image: url(%%sheet3%%) !important;
}

a[href="/scootasmile2"]{background-position:0% 0%;}
a[href="/scootalooisdissapoint"]{background-position:-100% 0%;}
a[href="/scootadodo"]{background-position:-200% 0%;}
a[href="/agentscoots"]{background-position:-300% 0%;}
a[href="/checkemscoots"]{background-position:-400% 0%;}
a[href="/tasteslikechicken"]{background-position:0% -100%;}
a[href="/scootacornered"]{background-position:-100% -100%;}

/*Emote Source Images in no particular order*/
/*Image source here http://fc08.deviantart.net/fs70/i/2012/201/b/5/scootaloo_socks_by_sevenfates-d57xktx.png */
/*Image source here http://th07.deviantart.net/fs70/PRE/f/2013/094/6/9/scootaloo_the_scaredypony_by_kestrelelk-d5njy0z.png */
/*Image source here http://i0.kym-cdn.com/photos/images/original/000/149/052/b4e.png */
/*Image source here http://th03.deviantart.net/fs71/PRE/f/2013/041/5/c/sad_little_scootaloo_by_deadparrot22-d5ug43h.png */
/*Image source here http://fc00.deviantart.net/fs71/i/2012/150/9/3/scootaloo_happy_rear_vector_by_starshinecelestalis-d51pzkm.png */
/*Image source here http://fc08.deviantart.net/fs71/i/2013/348/4/7/marching_scootaloo_by_uxyd-d6xzmnn.png */
/*http://th02.deviantart.net/fs70/PRE/f/2014/053/4/9/scootaloo___duck_face_by_joemasterpencil-d77julj.png*/
/*Original art here http://cool-party.deviantart.com/art/Sad-Scootaloo-419798474*/
/*http://fc09.deviantart.net/fs70/i/2012/329/6/b/scootaloo_smash__by_rainbowplasma-d5m6y3r.png*/
/*original art here http://racefox.deviantart.com/art/Sad-Scootaloo-419934883*/
/*Original art here http://powerpuncher.deviantart.com/art/ScootaSad-421004027 */
/*original art here http://shadowdark3.deviantart.com/art/Chicken-Scootaloo-290362859 */
/*original art here http://fc03.deviantart.net/fs70/f/2013/121/4/2/scootaloo_vector_by_assualtpony-d63omcw.png */
/*original art here http://mlpforums.com/uploads/post_images/img-2578113-1-scootaloo_asleep_by_iamadinosaurrarrr-d65yvp3.png */
/*original art here http://baka-neku.deviantart.com/art/Scootaloo-is-Best-Chicken-293555804 */
/*original art here http://fc03.deviantart.net/fs70/i/2012/286/b/3/scootaloo__s_dance_by_deadparrot22-d5fptuz.png */
/*original art here http://th09.deviantart.net/fs71/PRE/i/2011/317/6/f/scootaloo_needs_to_practice_more__by_splintered_pencil-d4g4xt9.png */
/*original art here http://th01.deviantart.net/fs70/PRE/f/2012/234/8/6/scootaloo_snuggling_in_bed_with_her_toy_by_fluffytuli-d5c13qc.png */
/*original art here http://fc00.deviantart.net/fs70/f/2011/350/c/4/scootaloo_by_matrix541-d4jaq3r.png */
/*original art here http://fc04.deviantart.net/fs70/i/2011/124/1/f/scootaloo_by_bocian3000-d3flr4n.png */
/*Original here http://fc00.deviantart.net/fs70/i/2012/345/8/5/scootaloo__s_lip_bite_by_deadparrot22-d5nsipx.png*/
/* original art here http://neonblitz13.deviantart.com/art/Blushing-Scootaloo-vector-319075492*/
/* original art here http://kuren247.deviantart.com/art/Scootablush-419853926*/
/* Original art here http://kuren247.deviantart.com/art/Screen-Licking-Cutie-Mark-418335895 */
/* Original art here http://kuren247.deviantart.com/art/place-cute-scootaloo-title-here-516693660 */
/*Original image here http://rainbowderp98.deviantart.com/art/Scootajump-284832081*/
/*original image here http://rainbowderp98.deviantart.com/art/Scootasmile-321821832*/
/*original here http://rainbowderp98.deviantart.com/art/disappointed-Scootaloo-296010481*/
/* original here http://www.deviantart.com/art/Scootaloo-is-best-pony-350667791*/
/*orginal here http://austiniousi.deviantart.com/art/Scootaloo-Deal-With-It-325421434*/




/*Start header and body modification*/
div.titlebox span.word {display:none}
div.titlebox .subscribers span.number:after {content:" Scootaloo fans "}
div.titlebox .subscribers span.number:after {font-size:12px!important; }
div.titlebox p.users-online span.number:after { content: " praising Rainbow Dash!" }
div.titlebox p.users-online span.word { display: none }


.sidecontentbox .flair {display:none}
.flairselector .customizer {
display: none !important;
}

#header{
    background-image: url(%%Cloudsdale-header%%);
    height:195px;
/*original art here http://www.deviantart.com/art/Cloudsdale-319605114*/
}
body{
background: #ffffff url(%%CMCbackground%%) no-repeat fixed center center
/*original art here http://sasukex125.deviantart.com/art/Cutie-Mark-Crusaders-Patch-Vector-343162745*/
}
.footer-parent
{
 padding-bottom: 20px;
 clear:both;
 text-align:center;
 height:500px;
 width:100%;
 background-image:url(%%scootdealwithit%%);
 background-repeat:no-repeat;
 margin-bottom:-25px;
 background-position: bottom center;
}
.sidecontentbox h1{text-align:left}

.sidecontentbox .helplink + .title > h1
{
 color:white!important;
 font-size:1px!important;
 display:inline-block
}
.sidecontentbox .helplink + .title > h1:before
{
 color:gray!important;
 font-size:13px!important;
 content:"CUTIE MARK CRUSADERS MODERATORS";
 display:inline-block
}
.sidecontentbox .helplink + .title > h1:after
{
 width: 16px;
 height: 16px;
 background-image: url(%%spritesheet%%);
 background-position: -300% -100%;
 display: inline-block;
 content: "";
 margin-left: 0px;
 font-size: 1px!important
}

/* Begin Flair Code */
/*Shamelessly taken from r/mlplounge*/
/*This block sets the properties for all of the flairs. This requires them to be a uniform size, and come from the same image. !important can be used elsewhere to overwrite for unique flares.*/
.flair{
 padding:0;
 background:none;
 color:black;
 border:0;
 border-radius:0;
 background-image:url(%%spritesheet%%);
 display:inline-block;
 width:16px;
 height:16px;
 text-indent:-9999px;}


/*Top left is 0% 0%. Down one is 0% -100%, right one is -100%, 0% assuming all are a uniform size*/
.flair-rainbowdash {background-position: 0% 0%}
.flair-twilight {background-position: -100% 0%}
.flair-fluttershy {background-position: -200% 0%}
.flair-applejack {background-position: -300% 0%}

.flair-pinkiepie {background-position: 0% -100%}
.flair-pinkiezim {background-position: 0% -100%}
.flair-pinkiezim:hover {background-position: 0% 0%} /*Blame /u/Master_Zimmermanned */
.flair-rarity {background-position: -100% -100%}
.flair-trixie {background-position: -200% -100%}
.flair-cmc {background-position: -300% -100%} /*Not user selectable. Modflair*/

.flair-luna {background-position: 0% -200%}
.flair-celestia {background-position: -100% -200%}
.flair-derpy {background-position: -200% -200%}
.flair-vinyl {background-position: -300% -200%}

.flair-lyra {background-position: 0% -300%}
.flair-bonbon {background-position: -100% -300%}
.flair-octavia {background-position: -200% -300%}
.flair-doctor {background-position: -300% -300%}

.flair-mac {background-position: 0% -400%}
.flair-colgate {background-position: -100% -400%}
.flair-berry {background-position: -200% -400%}
.flair-pokey {background-position: -300% -400%}

.flair-roseluck {background-position: 0% -500%}
.flair-zecora {background-position: -100% -500%}
.flair-seafoam {background-position: -200% -500%}
.flair-carrottop {background-position: -300% -500%}

.flair-screwball {background-position: 0% -600%}
.flair-redheart {background-position: -100% -600%}
.flair-caramel {background-position: -200% -600%}
.flair-braeburn {background-position: -300% -600%}

.flair-wonderbolts {background-position: 0% -700%}
.flair-shadowbolts {background-position: -100% -700%}
.flair-scootaloo {background-position: -200% -700%}
.flair-applebloom {background-position: -300% -700%}

.flair-sweetiebelle {background-position: 0% -800%}
.flair-davenport {background-position: -100% -800%}
.flair-cheerilee {background-position: -200% -800%}
.flair-nightmaremoon {background-position: -300% -800%}

.flair-blueblood {background-position: 0% -900%}
.flair-daring {background-position: -100% -900%}
.flair-mrcake {background-position: -200% -900%}
.flair-mrscake {background-position: -300% -900%}

.flair-flam {background-position: -100% -1000%} /*This is flims cutiemark... */
.flair-flim {background-position: 0% -1000%} /*And this is flams*/
.flair-silverspoon {background-position: -200% -1000%}
.flair-diamondtiara {background-position: -300% -1000%}

.flair-snips {background-position: 0% -1100%}
.flair-snails {background-position: -100% -1100%}
.flair-twist {background-position: -200% -1100%}
.flair-gaben {background-position: -300% -1100%} /*Truffle Shuffle in the gameloft code, nameless elsewhere */

.flair-sparkler {background-position: 0% -1200%}
.flair-disco {background-position: -100% -1200%} /*Is actually nameless, but Hairy Tipper elsewhere*/
.flair-fancypants {background-position: -200% -1200%}
.flair-fleur {background-position: -300% -1200%}

.flair-cadence {background-position: 0% -1300%}
.flair-shiningarmor {background-position: -100% -1300%}
.flair-filthyrich {background-position: -200% -1300%}
.flair-hoitytoity {background-position: -300% -1300%}

.flair-cloudchaser {background-position: 0% -1400%}
.flair-flitter {background-position: -100% -1400%}
.flair-lily {background-position: -200% -1400%}
.flair-grannysmith {background-position: -300% -1400%}

.flair-daisy {background-position: 0% -1500%}
.flair-chrysalis {background-position: -100% -1500%}
.flair-lotus {background-position: -200% -1500%}
.flair-aloe {background-position: -300% -1500%}

.flair-drstable {background-position: 0% -1600%}
.flair-sewnsow {background-position: -100% -1600%}
.flair-spitfire {background-position: -200% -1600%}
.flair-mayor {background-position: -300% -1600%}

.flair-surprise {background-position: 0% -1700%}
.flair-maud {background-position: -100% -1700%}
.flair-bulkbiceps {background-position: -200% -1700%}
.flair-spike {background-position: -300% -1700%}

.flair-harshwhinny {background-position: 0% -1800%}
.flair-coco {background-position: -100% -1800%}
.flair-discord {background-position: -200% -1800%} /*Cutie mark from S4 Finale, by /u/RAGErER */
.flair-soarin {background-position: -300% -1800%}

.flair-lightningdust {background-position: 0% -1900%}
.flair-cheesesandwich {background-position: -100% -1900%}
.flair-apathia {background-position: -300% -1900%} /* /u/Jibodeah fixed it to be readable */

.flair-discentia {background-position: 0% -2000%}
.flair-karma {background-position: -100% -2000%}
.flair-silverstar {background-position: -200% -2000%}
.flair-peachbottom {background-position: -300% -2000%}

.flair-flash {background-position: 0% -2100%}
/*.flair-flash {background-position: -200% -1900%} /*FLASH GORDON RETURNS!*/
.flair-sunset {background-position: -100% -2100%}
.flair-gilda {background-position: -200% -2100%}
.flair-thunderlane {background-position: -300% -2100%}

.flair-rrainbowdash {background-position: 0 -2200%}
.flair-rtwilightsparkle {background-position: -100% -2200%}
.flair-rfluttershy {background-position: -200% -2200%}
.flair-rapplejack {background-position: -300% -2200%}

.flair-rpinkiepie {background-position: 0 -2300%}
.flair-rrarity {background-position: -100% -2300%}
.flair-flutterbat {background-position: -200% -2300%}
.flair-nightmarity {background-position: -300% -2300%}

.flair-marinesandwich {background-position: 0 -2400%}
.flair-raindrops {background-position: -100% -2400%}



/*HOVER FLAIRS! Because yay. Follow same formating to make a new one*/

.flair-cmcplasma {background-position: -300% -100%}
.flair-cmcplasma:hover {background-position: -200% -700%} /*For Plasmahawk; Scootaloo Hover*/
.flair-cmcbrony {background-position: -300% -100%}
.flair-cmcbrony:hover {background-position: -300% -700%} /*For __Brony__; Apple Bloom Hover*/
.flair-kiilek {background-position: -200% -2400%}
.flair-kiilek:hover {background-position: -200% -700%} /*for Kiilek; Scootaloo Hover */
.flair-cmcseatiebelt {background-position: -300% -100%}
.flair-cmcseatiebelt:hover {background-position: 0 -800%}



/* End Flair */


/* Mod names modified*/
a.author[href$="-Plasmahawk-"] {
    font-size: 0px!important;
}

a.author[href$="-Plasmahawk-"]:after {
    content: "Scootaloo";
    font-size: 12px !important;
    color:orange;
}

a.author[href$="__brony__"] {
    font-size: 0px !important;
}

a.author[href$="__brony__"]:after {
    content: "Apple Bloom";
    font-size: 12px !important;
    color:crimson;
}

a.author[href$="SeatieBelt"] {
    font-size: 0px !important;
}

a.author[href$="SeatieBelt"]:after {
    content: "Sweetie Belle";
    font-size: 12px !important;
    color:thistle;
}