#header{
	border-bottom:1px solid #5f99cf;
	position:relative;
	background-color:#8cc5eb;
	z-index:99
}

/* Emotes */


a[href|="/nullahhhhh"]{  background-image: url(%%nullahhhhh%%); display: block; clear: none; float: left; width: 167px; height: 140px; } 
a[href="/nullconsidering"]{  background-image: url(%%nullconsidering%%); display: block; clear: none; float: left; width: 109px; height: 172px; } 
a[href="/nullforte"]{  background-image: url(%%nullforte%%); display: block; clear: none; float: left; width: 174px; height: 170px; } 
a[href="/nullgalaxy"]{ background-image: url(%%nullgalaxy%%); display: block; clear: none; float: left; width: 161px; height: 130px; } 
a[href="/nullhuzzah"]{ background-image: url(%%nullhuzzah%%); display: block; clear: none; float: left; width: 148px; height: 146px; } 
a[href="/nullinhale"]{ background-image: url(%%nullinhale%%); display: block; clear: none; float: left; width: 140px; height: 171px; } 
a[href="/nullonpoint"]{ background-image: url(%%nullonpoint%%); display: block; clear: none; float: left; width: 149px; height: 134px; } 
a[href="/nullplaytime"]{ background-image: url(%%nullplaytime%%); display: block; clear: none; float: left; width: 150px; height: 183px; } 
a[href="/nullsquiggly"]{ background-image: url(%%nullsquiggly%%); display: block; clear: none; float: left; width: 114px; height: 166px; } 
a[href="/nullstargaze"]{ background-image: url(%%nullstargaze%%); display: block; clear: none; float: left; width: 152px; height: 175px; } 
a[href="/nulltoothless"]{ background-image: url(%%nulltoothless%%); display: block; clear: none; float: left; width: 139px; height: 175px; }
