	/* ~~~~~~~~~~~~~~~ Header Shit ~~~~~~~~~~~~~~~~ */

#sr-header-area {
opacity: 0.4;
height: 18px;
background-color: #333;
border-bottom: 1px solid #333;
transition-delay:500ms;          /* tells to delay the transition back to 0.4 opacity by half a second */
}

#sr-header-area:hover {
opacity: 90;
transition: 0s;                  /* sets the transition, so that both transitions are being delayed */
}

#sr-header-area a {
color: #C4C4C4;
font-family: 'Open Sans',sans-serif;
}
		
#sr-header-area a:hover {
color: #7CA9FF; 
text-decoration: none;
}
		
#sr-more-link {
position: absolute;
background-color: #333;
color: #C4C4C4;
}
		
.dropdown.srdrop .selected {background-image: none;}
.dropdown.srdrop .selected:after {content: "▼";}
.sr-bar .separator {color: #333;}

#sr-header-area .width-clip .dropdown.srdrop .selected.title {
color: #C4C4C4;
font-size: 9px;
font-weight: normal;
padding-right: 3px;
}

#sr-header-area .width-clip .dropdown.srdrop .selected.title:hover {
color: #00b5e6;
}

#sr-header-area .drop-choices a.choice {
color: #333 !important;
}

 #sr-header-area .drop-choices a.choice:hover {
background-color: #00b5e6;
color: #1c1f25 !important;
 }

#srList {
position: absolute;
top: 18px;
left: 0;
z-index: 9999;
display: none;
border: 1px solid black;
background-color: #333! important;
width: auto;
overflow-y: auto;
}

#srList td {
padding: 3px 8px;
color: gray! important;
}

#header-bottom-right {
position: absolute;
right: 0px;
bottom: 0px;
background-color: #333!important;
padding: 4px!important;
line-height: 39px!important;                /* makes the black bar of the username, karma score, mail, modmail, settings, logout bar taller */
border-top-left-radius: 7px!important;
}

#userbarToggle {
min-height: 22px;
position: absolute;
top: auto;
bottom: 0;
left: -5px;
width: 16px;
padding-right: 3px;
height: 100%;
font-size: 15px;
border-radius: 4px 0;
color: #333! important;
display: inline-block;
background-color: #757070! important;
border-right: 1px solid #A9ABAD! important;
cursor: pointer;
text-align: right;
line-height: 24px;
}


/* Changes color of RES gear drop-down */

.RESDropdownList {
border:none;
}

#RESPrefsDropdown ul {
background-color: #333;
}

#RESPrefsDropdown #RESDropdownOptions #DashboardLink {
display: none;
}

#RESPrefsDropdown ul li {
color: #9DD9F8;
border: none;
}

#RESPrefsDropdown ul li:hover {
background-color: #888;
color: #D4A4E8;
}

#RESPrefsDropdown #RESDropdownOptions #SettingsConsole #RESSearchMenuItem:hover {
background-color: #CCCCCC;
}

#RESMainGearOverlay {
background-color: #333;
}

#RESMainGearOverlay:hover {
border:none!important;
}
/* Changes color of account switcher drop-down */

span #RESAccountSwitcherIconOverlay {
background-color: none;
border:none;
}

#RESAccountSwitcherDropdown {
background-color: #333;
}

#RESAccountSwitcherDropdown li {
color: #9DD9FB;
border: none;
}

#RESAccountSwitcherDropdown li:hover {
background-color: #888;
color: #D4A4E8;
}

/* changes color of subreddit bar */	
	
	#sr-header-area {
background-color: light-gray;
white-space: nowrap;
text-transform: uppercase;
border-bottom: 1px solid gray;
font-size: 90%;
height: 18px;
line-height: 18px;
}

/* Changes color of subreddit bar */

.sr-bar a {
color: black;
}

/* Actual Header image and stuff */

#header { 
   background: #223 url(%%moreliketwidashamiright%%) center center repeat-x;
   height: 300px;
   position: right;
   border: 2px solid black;}
   
/* Header image settings */
   
   #header-img {
margin-top: 132px;
margin-right: 5px;
}

   /* Changes color of the pagename */
   
.pagename a {
color: white ;
}

	/* ~~~~~~~~~~~~~~~~~~~~~~ Sidebar Shit ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*sidebar images*/

a[href$="deathdudeandoldman"] {
width:269px;
height:150px;
content:"";
background-image:url(%%ship-spritesheet%%);
background-position: 0 0;
position:relative;
display:inline-block;
cursor:default;
}

a[href$="dranold"] {
width:272px;
height:150px;
content:"";
background-image:url(%%ship-spritesheet%%);
background-position: -460px 0;
position:relative;
display:inline-block;
cursor:default;
}


/* Makes the highlight behind the entire sidebar transparent */

.side {
float: right;
background-color: transparent! important;
margin: 0px 5px 0 5px;
width: 300px;
}


body,
.side,
.titlebox form.flairtoggle,
.leavemoderator 


/* Changes the color of the Subreddit name in the sidebar */

.titlebox,
.titlebox h1 a {
    color: #fff;
}

/* Changes the "Submit a new text post/link" colors and style */

.morelink
{
 font-weight:normal;
 letter-spacing:0;
 background:#5f99cf;
 border: none;
 -moz-border-radius:2px;
 -webkit-border-radius:2px;
 -o-border-radius:2px;
 -ms-border-radius:2px;
 -khtml-border-radius:2px;
 border-radius:2px;
 height: 30px;
 line-height: 30px;
 overflow: hidden;
 color: white
}

.morelink a,.morelink a:hover{color: white}


.morelink .nub,.sidebox.create,.sidebox.submit.disabled{display: none}

/* Makes headers in the sidebar larger */

body .side .spacer .titlebox .usertext .usertext-body.may-blank-within .md h1 { font-size:16px; }

/* this is the thing/filly that pops up when you click "search reddit", as well as makes the text legible */

#searchexpando.infobar
{
 color:#000000
}

#searchexpando.infobar 
{
 background-image:url(%%pinkstare%%);
 background-repeat:no-repeat;
 background-position:right bottom;
 border:1px dotted black
}

/* style subscribe/add buttons */

  .titlebox .fancy-toggle-button a,
span.RESshortcutside,
span.RESshortcutside:hover,
span.RESDashboardToggle{
   color:#FFFF;
   background:#88C4EB;
   border:1px solid #444;
}

/* style unsubscribe/remove buttons */

.fancy-toggle-button a.remove,
.subButtons span.remove{
   background:#D19FE3;
   color: #FFFF;
}

/* Change "readers" And "online now" thing */

.titlebox .word { display: none }
.titlebox .number:after { content: " Waifus"; }
.titlebox .users-online span.number:after { content: " Worshipping Best Filly"; }

/* put a name behind username */

.author:before {content: 'Filly ';}

/* doesn't allow people to see what they've tagged Mods as/vote weight, etc (RES) */

.side .voteWeight, .side .userTagLink, .sidecontentbox .voteWeight, .sidecontentbox .userTagLink, .sidecontentbox .flair {
display: none !important;
}


/* Changes names of the "Moderators" Thing */

.sidecontentbox .helplink + .title > h1
{
 color:white!important;
 font-size:1px!important;
 display:inline-block
}

.sidecontentbox .helplink + .title > h1:before
{
 color:gray!important;
 font-size:13px!important;
 content:"Dilly's Ships";
 display:inline-block
}

.sidecontentbox .helplink+.title>h1:after {
width: 16px;
height: 16px;
background-image: url(%%spritesheet%%);
background-position: -300% -100%;
display: inline-block;
content: "";
margin-left: -5px;
font-size: 1px!important;
}

/*Makes there be no background on flairs in night mode for RES*/
.res-nightmode .flair {
background-color: transparent !important;
}

	/* ~~~~~~~~~~~~~~~~~~~ Edits the body ~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Changes color of the background */

body{background-color:#0A0A0A}
.side{margin-right:0px}

/* Changes Sticky post Color */

.thing.stickied a.title, .thing.stickied a.title:visited, .thing.stickied a.title.visited {
font-weight: bold;
color: white! important;
background-color: #E6458B!important;
}

/* Changes color of the "stickied post" text under Stickied posts */

.tagline .stickied-tagline {
color: #E6458B;
}

/* Changes colors of previewed and normal links */

#siteTable .title { color: #9DD9F8; } 
#siteTable .title:visited { color: #D4A4E8; }

.comment .md p > a:visited {
color: #D4A4E8! important;
}

.comment .md p > a {
color: #9DD9F8! important;
}

a {
text-decoration: none;
color: #9DD9F8;
}

/* Changes the color of highlighted links*/

.res .RES-keyNav-activeElement,
.res .commentarea .RES-keyNav-activeElement .md,
.res .commentarea .RES-keyNav-activeElement.entry .noncollapsed {
    background-color: #111317!important;
}

/* Changes the colors of links within things (hopefully) */
#siteTable .usertext-body a { color: #9DD9F8; }
#siteTable .usertext-body a:visited { color: #D4A4E8; }


/* Changes the "you are viewing a single comment's ___" text to a darker color */

body .content .infobar {
 color:#000000;
}

/*Makes the Comments a nice, dark color. This shit is the most infuriating thing in the history of the entire fucking universe*/

.comment {
        color: #E0E7EE;
}

.res-commentBoxes .comment .comment {
margin-right: 0px;
background-color: #111317;
}

.new-comment .usertext-body {
background-color: #111317! important;
border: solid 1px #cddaf3;
margin: -1px 0;
}

.res-commentBoxes .commentarea .comment, .res-commentBoxes .commentarea .comment .comment .comment, .res-commentBoxes .commentarea .comment .comment .comment .comment .comment, .res-commentBoxes .commentarea .comment .comment .comment .comment .comment .comment .comment, .res-commentBoxes .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background-color:#191919!important;
}

.res-commentBoxes .commentarea .comment .comment, .res-commentBoxes .commentarea .comment .comment .comment .comment, .res-commentBoxes .commentarea .comment .comment .comment .comment .comment .comment, .res-commentBoxes .commentarea .comment .comment .comment .comment .comment .comment .comment .comment, .res-commentBoxes .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background-color:#222!important;
}

span.score {
font-weight: bold;
color: #FFFFFF;
}

/*Changes color of text posts*/

.link .usertext .md {
padding: 0 5px;
background-color: rgb(36, 35, 35);
border: 2px solid #AC76FF;
color: white! important;
border-radius: 7px;
}

/* Changes color of the Post Boxes */

.roundfield {
width: 500px;
background-color: #171A1D;
border-radius: 4px;
padding: 5px 10px 10px 10px;
font-size: large;
color: white;
}

/* Changes color of the post information on the top right of posts */

.linkinfo {
padding: 5px;
border: 1px solid #AC76FF;
background-color: rgb(36,35,35);
color: white! important;
font-family: arial,helvetica,sans-serif;
font-size: larger;
border-radius: 3px;
}

/* Changes text color of the "You are moderator blah blah" */

.leavemoderator {
margin: 0;
padding: 5px 0px;
font-size: smaller;
color: gray;
background: none;
}

/*(MODS ONLY) changes Mod settings to have no highlighted background */

.icon-menu a {
background: none;
}

/*Makes the "You are a moderator of the subreddit" clear*/
.titlebox form.toggle, .leavemoderator {
margin: 0;
padding: 5px 0px;
font-size: smaller;
color: gray;
background: none;
}

/* Changes the color of text boxes */

textarea {
background-color: rgb(35,35,35)! important;
color: white! important;
border: 1px solid;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
flex-direction: column;
cursor: auto;
padding: 2px;
white-space: pre-wrap;
}

/* submission box text and color*/
	
#title-field.roundfield:before {
content: "NOTE: Check the new queue after posting. If your post doesn't show up, you were spam filtered by mistake! Message the moderators with a link to the submission.";
font-size: 0.86em;
padding: 5px;
border: 1px solid #DB182E! important;
background-color: #DB182E! important;
color: white! important;
font-weight: bold;
display: block;
margin-bottom: 10px;
}

/* Changes the color of the "Live Preview" on RES */

.res .usertext .usertext-edit .livePreview,
.res .usertext .usertext-edit .livePreview .md {
    background: #333 !important; 
}

/* (MODS ONLY) Changes the colors of things inside the CSS Page*/

body, iframe{
margin: 0;
padding: 0;
color: white! important;
}

/*Changes color of "edit subreddit" thingy */
.linefield {
width: 514px;
padding: 7px 5px;
font-size: large;
background-color: #1B1C1D;
margin-bottom: 10px;
}

/*Changes the font color of the wiki*/

.generic-table {
font-size: small;
color: white! important;
margin-left: 5px;
}

/* Changes color of table cell backgrouds */

table {
background-color: #222;
}

/* Changes the color of the emote page header text in wiki */

body .content .wiki-page-content .md.wiki h1 { color: #622E86; }

/* Changes the color of the "Edit flair" texts; cause they're "too blue"*/

.linefield .title {
color: rgb(56, 56, 170);
font-weight: bold;
padding: 1px 10px;
} 

	/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Footer~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Actual footer stuff*/

.footer-parent
{
 height:650px;
 padding-bottom:-80px;
 clear:both;
 text-align:center;
 width:100%;
 background-image: url(%%tdlove%%);
 background-repeat:no-repeat;
 margin-bottom:-80px;
 background-position: 50% 0%;
}

/* makes the reddit enhancers/extras more invisible, so you can see the footer in night mode */

res-nightmode.moderator .linefield, .res-nightmode.moderator .footer-parent .footer {
background: rgb(25, 25, 25);
opacity: 0.5;
}

/*Makes the subreddit list text black*/
#srList td {
padding: 3px 8px;
color: black;
}

/*Changes the color of the yellow highlited text*/

.usertext.border .usertext-body {
background-color: #ffc;
padding-left: 5px;
color: gray;
}

	/* ~~~~~~~~~~~~~~~~~ Extra Stuffs ~~~~~~~~~~~~~~~~~ */

/*greentext*/

.md blockquote {
    border: 0;
    margin: 0;
    color: #789922;
    display: block;
    line-height: 0.8
    }

.md blockquote p:before {
    content: ">";
    float: left;
    display: block;
    }

/*Changes thumbnails to be the pony things*/

.thumbnail:empty {
background-image: url(%%Yup-haha%%)!important;
}

.thumbnail.self {
background-position: 0px -120px!important;
}

.thumbnail.default {
background-position: 0px -70px!important;
}

.thumbnail.nsfw {
background-position: 0px 0px!important;
}

/* Flairs! */

.flair{
 padding:0;
 background:none;
 color:black;
 border:0;
 border-radius:0;
 background-image:url(%%spritesheet%%);
 display:inline-block;
 width:16px;
 height:16px;
 text-indent:-9999px;}

.flair-rainbowdash {background-position: 0% 0%}
.flair-twilight {background-position: -100% 0%}
.flair-fluttershy {background-position: -200% 0%}
.flair-applejack {background-position: -300% 0%}

.flair-pinkiepie {background-position: 0% -100%}
.flair-rarity {background-position: -100% -100%}
.flair-trixie {background-position: -200% -100%}
.flair-cmc {background-position: -300% -100%} 		 /*Not user selectable. Modflair*/

.flair-cmcLunaPie {background-position: -300% -100%}
.flair-cmcLunaPie:hover {background-position: -100% -3200%}
.flair-cmcTwiDash {background-position: -300% -100%}
.flair-cmcTwiDash:hover {background-position: -100% -2400%}
.flair-cmcTwiJack {background-position: -300% -100%}
.flair-cmcTwiJack:hover {background-position: -300% -2500%}

.flair-luna {background-position: 0% -200%}
.flair-celestia {background-position: -100% -200%}
.flair-derpy {background-position: -200% -200%}
.flair-vinyl {background-position: -300% -200%}

.flair-lyra {background-position: 0% -300%}
.flair-bonbon {background-position: -100% -300%}
.flair-octavia {background-position: -200% -300%}
.flair-doctor {background-position: -300% -300%}

.flair-mac {background-position: 0% -400%}
.flair-colgate {background-position: -100% -400%}
.flair-berry {background-position: -200% -400%}
.flair-pokey {background-position: -300% -400%}

.flair-roseluck {background-position: 0% -500%}
.flair-zecora {background-position: -100% -500%}
.flair-seaswirl {background-position: -200% -500%}
.flair-carrottop {background-position: -300% -500%}

.flair-screwball {background-position: 0% -600%}
.flair-redheart {background-position: -100% -600%}
.flair-caramel {background-position: -200% -600%}
.flair-braeburn {background-position: -300% -600%}

.flair-wonderbolts {background-position: 0% -700%}
.flair-shadowbolts {background-position: -100% -700%}
.flair-scootaloo {background-position: -200% -700%}
.flair-applebloom {background-position: -300% -700%}

.flair-sweetiebelle {background-position: 0% -800%}
.flair-davenport {background-position: -100% -800%}
.flair-cheerilee {background-position: -200% -800%}
.flair-nightmaremoon {background-position: -300% -800%}

.flair-blueblood {background-position: 0% -900%}
.flair-daring {background-position: -100% -900%}
.flair-mrcake {background-position: -200% -900%}
.flair-mrscake {background-position: -300% -900%}

.flair-flam {background-position: 0% -1000%} 		 /*I don't know about the Plounge, but in here this is Flam's cutie mark*/
.flair-flim {background-position: -100% -1000%} 	 /*And this is actually Flim's*/
.flair-silverspoon {background-position: -200% -1000%}
.flair-diamondtiara {background-position: -300% -1000%}

.flair-snips {background-position: 0% -1100%}
.flair-snails {background-position: -100% -1100%}
.flair-twist {background-position: -200% -1100%}
.flair-gaben {background-position: -300% -1100%} 	 /*Truffle Shuffle in the gameloft code, nameless elsewhere */

.flair-sparkler {background-position: 0% -1200%}
.flair-disco {background-position: -100% -1200%} 	 /*Is actually nameless, but Hairy Tipper elsewhere*/
.flair-fancypants {background-position: -200% -1200%}
.flair-fleur {background-position: -300% -1200%}

.flair-cadence {background-position: 0% -1300%}
.flair-shiningarmor {background-position: -100% -1300%}
.flair-filthyrich {background-position: -200% -1300%}
.flair-hoitytoity {background-position: -300% -1300%}

.flair-buttchaser {background-position: 0% -1400%}
.flair-flitter {background-position: -100% -1400%}
.flair-lily {background-position: -200% -1400%}
.flair-grannysmith {background-position: -300% -1400%}

.flair-daisy {background-position: 0% -1500%}
.flair-chrysalis {background-position: -100% -1500%}
.flair-lotus {background-position: -200% -1500%}
.flair-aloe {background-position: -300% -1500%}

.flair-drstable {background-position: 0% -1600%}
.flair-sewnsow {background-position: -100% -1600%}
.flair-spitfire {background-position: -200% -1600%}
.flair-mayor {background-position: -300% -1600%}

.flair-surprise {background-position: 0% -1700%}
.flair-maud {background-position: -100% -1700%}
.flair-bulkbiceps {background-position: -200% -1700%}
.flair-spike {background-position: -300% -1700%}

.flair-harshwhinny {background-position: 0% -1800%}
.flair-coco {background-position: -100% -1800%}
.flair-discord {background-position: -200% -1800%} 	 /*Cutie mark from S4 Finale, by /u/RAGErER */
.flair-soarin {background-position: -300% -1800%}

.flair-lightningdust {background-position: 0% -1900%}
.flair-cheesesandwich {background-position: -100% -1900%}
.flair-apathia {background-position: -300% -1900%} 	 /* /u/Jibodeah fixed it to be readable */

.flair-discentia {background-position: 0% -2000%}
.flair-karma {background-position: -100% -2000%}
.flair-silverstar {background-position: -200% -2000%}
.flair-peachbottom {background-position: -300% -2000%}

.flair-flash {background-position: 0% -2100%}
.flair-flash:hover {background-position: -200% -1900%} 	 /*FLASH! AAAHHHH! SAVIOR OF THE UNIVERSE!*/
.flair-sunset {background-position: -100% -2100%}
.flair-gilda {background-position: -200% -2100%}
.flair-thunderlane {background-position: -300% -2100%}

.flair-rrainbowdash {background-position: 0 -2200%}
.flair-rtwilightsparkle {background-position: -100% -2200%}
.flair-rfluttershy {background-position: -200% -2200%}
.flair-rapplejack {background-position: -300% -2200%}

.flair-rpinkiepie {background-position: 0 -2300%}
.flair-rrarity {background-position: -100% -2300%}
.flair-flutterbat {background-position: -200% -2300%}
.flair-nightmarity {background-position: -300% -2300%}

.flair-marinesandwich {background-position: 0 -2400%}
.flair-twidash {background-position: -100% -2400%}	 /* rd top; ts bottom */
.flair-rainbowlight {background-position: -200% -2400%}	 /* ts top; rd bottom */
.flair-appledash {background-position: -300% -2400%}	 /* rd top; aj bottom */

.flair-rainbowjack {background-position: 0 -2500%}	 /* aj top; rd bottom */
.flair-pinkiejack {background-position: -100% -2500%}	 /* pp top; aj bottom */
.flair-applepie {background-position: -200% -2500%}	 /* aj top; pp bottom */
.flair-twijack {background-position: -300% -2500%}	 /* aj top; ts bottom */

.flair-appletwi {background-position: 0 -2600%}		 /* rd top; ts bottom */
.flair-rainbowshy {background-position: -100% -2600%}	 /* ts top; aj bottom */
.flair-flutterdash {background-position: -200% -2600%}	 /* rd top; fs bottom */
.flair-twishy {background-position: -300% -2600%}	 /* fs top; rd bottom */

.flair-fluttertwi {background-position: 0 -2700%}	 /* fs top; ts bottom */
.flair-pinkieshy {background-position: -100% -2700%}	 /* pp top; fs bottom */
.flair-flutterpie {background-position: -200% -2700%}	 /* fs top; pp bottom */
.flair-twipie {background-position: -300% -2700%}	 /* pp top; ts bottom */

.flair-pinkietwi {background-position: 0 -2800%}	 /* ts top; pp bottom */
.flair-rainbowpie {background-position: -100% -2800%}	 /* rd top; pp bottom */
.flair-pinkiedash {background-position: -200% -2800%}	 /* pp top; rd bottom */
.flair-raridash {background-position: -300% -2800%}	 /* rd top; ra bottom */

.flair-dashity {background-position: 0 -2900%}		 /* rd top; ts bottom */
.flair-rarijack {background-position: -100% -2900%}	 /* ra top; aj bottom */
.flair-ranchdressing {background-position: -200% -2900%} /* aj top; ra bottom */
.flair-raripie {background-position: -300% -2900%}	 /* ra top; pp bottom */

.flair-pinkity {background-position: 0 -3000%}		 /* pp top; ra bottom */
.flair-rarishy {background-position: -100% -3000%}	 /* ra top; fs bottom */
.flair-fluttarity {background-position: -200% -3000%}	 /* fs top; ra bottom */
.flair-raritwi {background-position: -300% -3000%}	 /* ra top; ts bottom */

.flair-rarilight {background-position: 0 -3100%}	 /* ts top; ra bottom */
.flair-appleshy {background-position: -100% -3100%}	 /* aj top; fs bottom */
.flair-flutterjack {background-position: -200% -3100%}	 /* fs top; aj bottom */
.flair-mauxie {background-position: -300% -3100%}        /* tl top; mp bottom */

.flair-traud {background-position: 0% -3200%}            /* mp bottom; tl top */
.flair-lunapie {background-position: -100% -3200%}       /* pl top; pp bottom */
.flair-pieofthenight {background-position: =200% -3200%} /* pp top; pl bottom */


.roundfield textarea, .roundfield input[type=text], .roundfield input[type=url], .roundfield input[type=password], .roundfield input[type=number] {
font-size: 100%;
width: 492px;
padding: 3px;
margin: 0;
border: 1px solid gray;
background: gray! important;
color: white! important;
}

#preview-table>table>tbody>tr>th {
padding: 5px;
padding-right: 15px;
font-weight: bold;
vertical-align: top;
font-size: larger;
text-align: right;
color: white! important;
}

/* Changes user name names :D */

a.author[href$="RAGErER"] {font-size:0!important; overflow:hidden; display:inline-block; content: "";}
a.author[href$="RAGErER"]:before {font-size:11.5px!important; color:#A66BBF; visibility:visible!important; content: "Filly Best Waifu"}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   EMOTES   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Butt emotes */

a[href|="/applejackbutt"], a[href|="/bonbonbutt"], a[href|="/derpybutt"], a[href|="/fluttershybutt"], a[href|="/nurseredheartbutt"], a[href|="/octaviabutt"], a[href|="/pinkiebutt"], a[href|="/raritybutt"], a[href|="/rainbowbutt"], a[href|="/twilightbutt"], a[href|="/vinylscratchbutt"], a[href|="/carrotbutt"]
{background-image:url(%%butts%%);display:block;float:left;}

a[href|="/applejackbutt"] {width:225px;height:150px;}
a[href|="/bonbonbutt"] {width:211px;height:150px;background-position: -300px 0;}
a[href|="/derpybutt"] {width:267px;height:150px;background-position: -600px 0;}
a[href|="/fluttershybutt"] {width:229px;height:150px;background-position: 0 -150px;}
a[href|="/nurseredheartbutt"] {width:253px;height:150px;background-position: -300px -150px;}
a[href|="/octaviabutt"] {width:225px;height:150px;background-position: -600px -150px;}
a[href|="/pinkiebutt"] {width:230px;height:150px;background-position: 0 -300px;}
a[href|="/raritybutt"] {width:249px;height:150px;background-position: -300px -300px;}
a[href|="/rainbowbutt"] {width:267px;height:150px;background-position: -600px -300px;}
a[href|="/twilightbutt"] {width:207px;height:150px;background-position: 0 -450px;}
a[href|="/vinylscratchbutt"] {width:218px;height:150px;background-position: -300px -450px;}
a[href|="/carrotbutt"] {width:209px;height:150px;background-position: -600px -450px;}

/* End of Butt emotes */

/* Animated emotes */

a[href|="/dancershy"] {
   float:left;
   width:166px;
   height:150px;
   background-image:url(%%dancershy%%);
}

/* End of Animated emotes */

/* Normal Spritesheet 1 */

a[href|="/abclassy"], a[href|="/appulbluh"], a[href|="/appuldurp"], a[href|="/autographfilly"], a[href|="/badpony"], a[href|="/caketwins"], a[href|="/chryssihuh"], a[href|="/daringscared"], a[href|="/fresh"], a[href|="/grumpity"], a[href|="/idreamofpinkie"], a[href|="/killmenow"], a[href|="/ihatemondays"], a[href|="/lyragawp"], a[href|="/flutterdrunk"]
{background-image:url(%%normal-spritesheet1%%);display:block;float:left;}

a[href|="/abclassy"] {width:161px;height:215px;}
a[href|="/appulbluh"] {width:171px;height:170px;background-position: -161px 0;}
a[href|="/appuldurp"] {width:171px;height:170px;background-position: -332px 0;}
a[href|="/autographfilly"] {width:189px;height:150px;background-position: -503px 0;}
a[href|="/badpony"] {width:160px;height:150px;background-position: -692px 0;}
a[href|="/caketwins"] {width:162px;height:170px;background-position: -852px 0;}
a[href|="/chryssihuh"] {width:189px;height:200px;background-position: -1014px 0;}
a[href|="/daringscared"] {width:192px;height:200px;background-position: -1203px 0;}
a[href|="/fresh"] {width:378px;height:350px;background-position: 0 -300px;}
a[href|="/grumpity"] {width:168px;height:150px;background-position: -378px -300px;}
a[href|="/idreamofpinkie"] {width:175px;height:300px;background-position: -546px -300px;}
a[href|="/killmenow"], a[href|="/ihatemondays"] {width:164px;height:200px;background-position: -721px -300px;}
a[href|="/lyragawp"] {width:128px;height:150px;background-position: -885px -300px;}
a[href|="/flutterdrunk"] {width:299px;height:300px;background-position: -1013px -300px;}

/* End of Normal Spritesheet 1 */

/* Normal Spritesheet 2 */

a[href|="/pinkiebeard"], a[href|="/rainbowcrash"], a[href|="/rockyballoons"], a[href|="/sadtrixie"], a[href|="/seductivetwi"], a[href|="/smokeappleseveryday"], a[href|="/squeakity"], a[href|="/sweetieblargh"], a[href|="/sbappul"], a[href|="/tsunderetrixie"], a[href|="/twioohshiny"], a[href|="/toastlestia"], a[href|="/twishocked"], a[href|="/zecorababby"], a[href|="/mfilly"], a[href|="/movealongcitizen"], a[href|="/pieorami"], a[href|="/pinkieistiredofyourshit"]
{background-image:url(%%normal-spritesheet2%%);display:block;float:left;}

a[href|="/pinkiebeard"] {width:150px;height:180px;}
a[href|="/rainbowcrash"] {width:144px;height:125px;background-position: -150px 0;}
a[href|="/rockyballoons"] {width:168px;height:170px;background-position: -294px 0;}
a[href|="/sadtrixie"] {width:173px;height:160px;background-position: -462px 0;}
a[href|="/seductivetwi"] {width:137px;height:150px;background-position: -635px 0;}
a[href|="/smokeappleseveryday"] {width:171px;height:200px;background-position: -772px 0;}
a[href|="/squeakity"] {width:153px;height:160px;background-position: -943px 0;}
a[href|="/sweetieblargh"], a[href|="/sbappul"] {width:204px;height:150px;background-position: -1096px 0;}
a[href|="/tsunderetrixie"] {width:186px;height:250px;background-position: -1300px 0;}
a[href|="/twioohshiny"] {width:155px;height:150px;background-position: -1486px 0;}
a[href|="/toastlestia"] {width:400px;height:325px;background-position: 0 -180px;}
a[href|="/twishocked"] {width:145px;height:165px;background-position: -400px -180px;}
a[href|="/zecorababby"] {width:145px;height:170px;background-position: -545px -180px;}
a[href|="/mfilly"] {width:343px;height:250px;background-position: -690px -200px;}
a[href|="/movealongcitizen"] {width:93px;height:160px;background-position: -1033px -250px;}
a[href|="/pieorami"] {width:179px;height:150px;background-position: -1126px -250px;}
a[href|="/pinkieistiredofyourshit"] {width:150px;height:149px;background-position: -1305px -250px;}

/* End of Normal Spritesheet 2 */

/* Normal Spritesheet 3 */

a[href|="/rainbowderp"], a[href|="/maudfun"], a[href|="/applegasm"], a[href|="/zecorawooo"], a[href|="/navydash"], a[href|="/navymeerkat"], a[href|="/surpriseddash"], a[href|="/rainbowyeah"], a[href|="/pinkietongue"], a[href|="/ionlywatchitfortheplot"], a[href|="/bedroomeyes"], a[href|="/chryssismile"]
{background-image:url(%%normal-spritesheet3%%);display:block;float:left;}

a[href|="/rainbowderp"] {width:131px;height:150px;}
a[href|="/maudfun"] {width:230px;height:150px;background-position: -131px 0;}
a[href|="/applegasm"] {width:185px;height:200px;background-position: 0 -150px;}
a[href|="/zecorawooo"] {width:103px;height:200px;background-position: -185px -150px;}
a[href|="/navydash"], a[href|="/navymeerkat"] {width:124px;height:200px;background-position: -288px -150px;}
a[href|="/surpriseddash"], a[href|="/rainbowyeah"] {width:155px;height:200px;background-position: -412px -150px;}
a[href|="/pinkietongue"] {width:116px;height:150px;background-position: -361px 0;}
a[href|="/ionlywatchitfortheplot"] {width:126px;height:150px;background-position: -477px 0;}
a[href|="/bedroomeyes"], a[href|="/chryssismile"] {width:206px;height:150px;background-position: -603px 0;}

/* End of Normal Spritesheet 3 */

/* Ship Spritesheet */

a[href|="/lplove"], a[href|="/deathdudeandoldman"], a[href|="/twidashlove"], a[href|="/spanishragerer"], a[href|="/twijacknuzzle"], a[href|="/dranold"]
{background-image:url(%%ship-spritesheet%%);display:block;float:left;}

a[href|="/lplove"], a[href|="/deathdudeandoldman"] {width:269px;height:150px;}
a[href|="/twidashlove"], a[href|="/spanishragerer"] {width:191px;height:150px;background-position: -269px 0;}
a[href|="/twijacknuzzle"], a[href|="/dranold"] {width:272px;height:150px;background-position: -460px 0;}

/* End of Ship Spritesheet */

/* Pout Spritesheet */

a[href|="/ajuberpout"], a[href|="/fsuberpout"], a[href|="/ppuberpout"], a[href|="/raruberpout"], a[href|="/rduberpout"], a[href|="/twiuberpout"]
{background-image:url(%%pout-spritesheet%%);display:block;float:left;}

a[href|="/twiuberpout"] {width:121px;height:160px;}
a[href|="/raruberpout"] {width:121px;height:160px;background-position: -121px 0;}
a[href|="/ppuberpout"] {width:121px;height:160px;background-position: -242px 0;}
a[href|="/rduberpout"] {width:121px;height:160px;background-position: 0 -160px;}
a[href|="/fsuberpout"] {width:121px;height:160px;background-position: -121px -160px;}
a[href|="/ajuberpout"] {width:121px;height:160px;background-position: -242px -160px}

/* End of Pout Spritesheet */


/* Single Emotes */

/* End of Single Emotes */