/*===header===*/
/*---image---*/

#header-img.default-header, #header-img {
height:144px;
width:106px;
margin-bottom:-34px;
background:url(%%header%%);
background-position:0 0;
box-sizing: border-box;
padding-left:106px;
}
#header-img.default-header:hover, #header-img:hover {
background-position:-1696px 0;
transition:background 0.6s steps(16);
}

.content {
margin-top:31px;
}

/*---tabmenu---*/

.tabmenu li a {
border-radius:3px 3px 0 0;
}

/*===markdown===*/

/*note: add later possibly
.md h2 {
color:#29162a;
}
*/

/*===sidebar===*/

.side .usertext h1 a {
color:#0079d3;
}

/*---hrule---*/

.side .titlebox .usertext-body hr {
margin:0 0 13px 0;
}
.side .titlebox .usertext-body h1 {
margin-bottom:0px;
}

/*---user counter words---*/

.side .subscribers .word { 
display:none;
}
.side .subscribers .number:after { 
content:" bakers";
}

.side .users-online .word {
display:none;
}
.side .users-online .number:after {
content:" eating muffins";
}

/*---table style---*/

.side .titlebox .usertext-body table:nth-of-type(1) th {
display:none;
}
.side .titlebox .usertext-body table:nth-of-type(1) td {
border-width:0px;
}

/*---morelink style---*/

.nub {
display:none;
}
.morelink {
background: #a0b7ff;
border: none;
height:20px;
padding-top:20px;
border-radius: 3px;
transition: background 0.5s;
}
.morelink:hover {
background: #484fe4;
}
.morelink a {
color: #000440;
height:auto;
transform:translateY(-50%);
transition: color 0.25s;
}
.morelink:hover a {
color: #fff;
}

.side {
position:relative;
margin-top:50px;
}

/*submit link*/
.side .submit-link .morelink {
position:absolute;
top:-43px;
left:0px;
width:50%;
background-image:url(%%cutie-mark-silhouette%%);
background-position:center center;
background-size:0px 0px;
background-repeat:no-repeat;
border-radius: 3px 0 0 3px;
transition-duration:0.75s;
}
.submit-link .morelink:hover {
background-size:230px 311px;
background-color:#a0b7ff;
}
.submit-link .morelink:hover a {
color: #29162a;
}

/*submit text*/
.submit-text .morelink {
position:absolute;
top:-43px;
right:0px;
width:50%;
background-image:url(%%sugar-belle-silhouette%%);
background-position:center center;
background-size:0px 0px;
background-repeat:no-repeat;
border-left:solid 1px;
border-color:#8097df;
border-radius: 0 3px 3px 0;
transition-duration:0.85s;
}
.submit-text .morelink:hover {
background-size:300px 274px;
background-color:#a0b7ff;
}
.submit-text .morelink:hover a {
color: #3d0330;
}

/*flairselector fix*/
.side .flairselector {
left:-420px!important;
}

/*---Search style---*/

#searchexpando {
margin-top:0px;
background-color:#ecf0ff;
border:0px;
border-radius:0 0 5px 5px;
border-color:gray;
transition:1s background;
}
#searchexpando:hover {
background-color:#f0e2ff;
}
#search input[type="text"] {
outline-width:0px;
border-radius:4px;
border:0px;
background:#dee5ff;
}
#search input[type="text"]:focus {
border-radius:4px 4px 0 0;
}
#moresearchinfo {
border-width:0px!important;
}
#search input[type="text"]::-moz-placeholder {
color:rgb(91, 126, 255);
}
#search input[type="text"]::-webkit-input-placeholder {
color:rgb(91, 126, 255);
}
#search input[type="text"]::-ms-input-placeholder {
color:rgb(91, 126, 255);
}

/*---subButtons style---*/

.side .subscribe-button .option.remove {
background:#c58cc8;
color:#29162a;
}
.side .subscribe-button .option.add {
background:#a0b7ff;
color:#000440;
}
.res .side .subscribe-button {
margin-right:0px;
}
.res .side .subscribe-button .option {
border-radius:3px 0 0 3px;
width:68px;
}

.subButtons .RESshortcut {
background:#a0b7ff;
color:#000440;
margin-right:0px;
border-radius:0;
border-width:1px 0 1px 0;
width:68px;
}
.subButtons .RESshortcut.remove {
background:#c58cc8;
color:#29162a;
}

.subButtons .RESDashboardToggle {
background:#a0b7ff;
color:#000440;
border-radius:0 3px 3px 0;
width:68px;
}
.subButtons .RESDashboardToggle.remove {
background:#c58cc8;
color:#29162a;
}


/*===easter egg===*/

div#baconBit {
height:90px;
width:84px;
background:url(%%easteregg%%);
background-position:0 0;
left:-84px;
bottom:0px;
top:auto;
-webkit-animation:trot 640ms steps(15) 0s infinite;
animation:trot 640ms steps(15) 0s infinite;
transition-duration:6s;
}

@keyframes trot {
from {background-position:0 0;}
to {background-position:-1260px 0;}
}

div#baconBit.makeitrain {
top:auto;
bottom:0px;
transform:none;
}


/*===emotes===*/

.md a[href]:not([href*=":"]):not([href="#"]):not([href^="/r/"]):not([href^="/u/"]):not([href^="/user/"]){
    cursor:default;
}
.md a[href]:not([href*=":"]):not([href="#"]):not([href^="/r/"]):not([href^="/u/"]):not([href^="/user/"]):active{
    pointer-events:none;
}

a[href|="/esugarbsmile"],a[href|="/sugarbworry"],a[href|="/sugarbhappy"],a[href|="/esugarbwonder"],a[href|="/esugarbsad"],a[href|="/sugarbelle"] {
display: block;
float: left;
clear: none;
cursor: default;
background-image:url(%%emote-table%%);
}

a[href|="/esugarbsmile"] {
width:100px;
height:100px;
background-position:-90px -100px;
}
a[href|="/sugarbworry"] {
width:98px;
height:100px;
background-position:-100px 0px;
}
a[href|="/sugarbhappy"] {
width:100px;
height:92px;
background-position:0px 0px;
}
a[href|="/esugarbwonder"] {
width:90px;
height:100px;
background-position:0px -100px;
}
a[href|="/sugarbelle"] {
width:123px;
height:150px;
background-position:-198px 0px;
}
a[href|="/esugarbsad"] {
width:91px;
height:100px;
background-position:-200px -150px;
}



/*===flairs===*/

.flair {
padding:0;
background:none;
color:black;
border:0;
border-radius:0;
background-image:url(%%flairsheet%%);
display:inline-block;
width:16px;
height:16px;
text-indent:-9999px;
line-height: 240%;
}

.flair-rainbow { background-position:0 0 }
.flair-pinkie { background-position:0 -100% }
.flair-luna { background-position:0 -200% }
.flair-lyra { background-position:0 -300% }
.flair-bigmac { background-position:0 -400% }
.flair-rose { background-position:0 -500% }
.flair-screwball { background-position:0 -600% }
.flair-wonderbolts { background-position:0 -700% }
.flair-sweetie { background-position:0 -800% }
.flair-blueblood { background-position:0 -900% }
.flair-flam { background-position:0 -1000% }
.flair-snips { background-position:0 -1100% }
.flair-sparkler { background-position:0 -1200% }
.flair-cadence { background-position:0 -1300% }
.flair-cloudchaser { background-position:0 -1400% }
.flair-daisy { background-position:0 -1500% }
.flair-drstable { background-position:0 -1600% }
.flair-silverstar { background-position:0 -1700% }
.flair-sunsetshimmer { background-position:0 -1800% }
.flair-thunderlane { background-position:0 -1900% }
.flair-starlightglimmer { background-position:0 -2000% }
.flair-nightglider { background-position:0 -2100% }
.flair-troubleshoes { background-position:0 -2200% }

.flair-twilight { background-position:-100% 0 }
.flair-rarity { background-position:-100% -100% }
.flair-celestia { background-position:-100% -200% }
.flair-bonbon { background-position:-100% -300% }
.flair-colgate { background-position:-100% -400% }
.flair-zecora { background-position:-100% -500% }
.flair-redheart { background-position:-100% -600% }
.flair-shadowbolts { background-position:-100% -700% }
.flair-davenport { background-position:-100% -800% }
.flair-daring { background-position:-100% -900% }
.flair-flim { background-position:-100% -1000% }
.flair-snails { background-position:-100% -1100% }
.flair-disco { background-position:-100% -1200% }
.flair-shiningarmor { background-position:-100% -1300% }
.flair-flitter { background-position:-100% -1400% }
.flair-chrysalis { background-position:-100% -1500% }
.flair-sewnsow { background-position:-100% -1600% }
.flair-soarin { background-position:-100% -1700% }
.flair-cheesesandwich { background-position:-100% -1800% }
.flair-applefritter { background-position:-100% -1900% }
.flair-equality { background-position:-100% -2000% }
.flair-partyfavor { background-position:-100% -2100% }
.flair-screwloose { background-position:-100% -2200% }

.flair-fluttershy { background-position:-200% 0 }
.flair-trixie { background-position:-200% -100% }
.flair-derpy { background-position:-200% -200% }
.flair-octavia { background-position:-200% -300% }
.flair-berry { background-position:-200% -400% }
.flair-seaswirl { background-position:-200% -500% }
.flair-caramel { background-position:-200% -600% }
.flair-scootaloo { background-position:-200% -700% }
.flair-cheerilee { background-position:-200% -800% }
.flair-carrotcake { background-position:-200% -900% }
.flair-silverspoon { background-position:-200% -1000% }
.flair-twist { background-position:-200% -1100% }
.flair-fancypants { background-position:-200% -1200% }
.flair-filthyrich { background-position:-200% -1300% }
.flair-lily { background-position:-200% -1400% }
.flair-lotus { background-position:-200% -1500% }
.flair-spitfire { background-position:-200% -1600% }
.flair-maud { background-position:-200% -1700% }
.flair-flashsentry { background-position:-200% -1800% }
.flair-flutterbat { background-position:-200% -1900% }
.flair-doublediamond { background-position:-200% -2000% }
.flair-discord { background-position:-200% -2100% }
.flair-bulkbiceps { background-position:-200% -2200% }

.flair-applejack { background-position:-300% 0 }
.flair-mod { background-position:-300% -100% }
.flair-vinyl { background-position:-300% -200% }
.flair-doctorwhooves { background-position:-300% -300% }
.flair-pokeypierce { background-position:-300% -400% }
.flair-carrottop { background-position:-300% -500% }
.flair-braeburn { background-position:-300% -600% }
.flair-applebloom { background-position:-300% -700% }
.flair-nightmaremoon { background-position:-300% -800% }
.flair-cupcake { background-position:-300% -900% }
.flair-diamondtiara { background-position:-300% -1000% }
.flair-gaben { background-position:-300% -1100% }
.flair-fleur { background-position:-300% -1200% }
.flair-hoitytoity { background-position:-300% -1300% }
.flair-grannysmith { background-position:-300% -1400% }
.flair-aloe { background-position:-300% -1500% }
.flair-mayor { background-position:-300% -1600% }
.flair-spike { background-position:-300% -1700% }
.flair-coco { background-position:-300% -1800% }
.flair-blossomforth { background-position:-300% -1900% }
.flair-sugarbelle { background-position:-300% -2000% }
.flair-treehugger { background-position:-300% -2100% }

.flair-samb { background-position: -300% -100% }
.flair-samb:hover { background-position: -300% -2000% }