/*-------Check mark - Re-purposing this for something later. ----------------------*/
/*.approval-checkmark {
    height: 0px;
    padding: 7.5px 7.5px;
    background: url(%%rbp3T-8-d-rzlyeu%%);
    background-position: center bottom;
    background-repeat: no-repeat
    }
.approval-checkmark:hover {
    height: 0px;
    padding: 102.5px 100px;
    background: url(%%4WPbFfqQC7dD3Jxc%%)
    }*/
/*------------------------ Changes background ----------------------------------*/
body, body.res-nightmode:first-of-type {
  background: url(%%lastresortbg%%) no-repeat fixed 60% 100% !important ;
}

.footer-parent {
    height: 750px;
    padding-top: 40px;
    padding-bottom: 40px;
    clear: both;
    text-align: center;
    width: 100%;
    background-image: url(%%missingnopony%%);
    background-position: bottom center;
    background-repeat: no-repeat;
    margin-bottom: -1px
    }


/* ----------------------Nightmode fixes for the background --- /r/mlas1 -------------*/
 .content #siteTable div[onclick="click_thing(this)"] {background-color: transparent!important;} 
body.res-nightmode:first-of-type > .content {background-color: transparent!important;}
body.res-nightmode:first-of-type {background-color: transparent!important;}

/*---------------------------- Scrolly sidebar thing --------------------------------------*/
.side a[href="http://www.reddit.com/r/pinkiepie/new"] {
    display: block;
    height: 80px;
    width: 89px;
    background: url(%%hey%%);
    position: fixed;
    top: 174px;
    right: -10px;
    z-index: 999
    }


/* ---------- Hide emoticon tables in the sidebar until emote is hovered over !---------- */
.titlebox em {
    color: white
    }
.titlebox table {
    display: none;
    clear: both
    }
div.usertext-body:hover table {
    display: block;
    clear: both
    }

/* ---------- Hide "Created by..." while keeping "a community for..." in the sidebar ---------- */
.titlebox .bottom {
    font-size: 0px
    }
.age {
    font-size: 11px !important
    }
/*------------- Font--------------------------------------------*/
a[href|="/surprise!"] { color: #cdcd00 !important; cursor: text !important; background-color: #ffffe7 !important; }

/*Announcement Box*/
.content {
    margin-top: 55px
    }
.pagename {
    font-size: 12pt;
    }
.titlebox form {
    position: static
    }
.titlebox .usertext-body .md ol {
    width: auto;
    background:url(%%announce%%) no-repeat scroll 3px 2px #EFF7FF;
    border: 1px solid #5f99cf;
    position: absolute;
    top: 150px;
    left: 20px;
    z-index: 50;
    margin: 10px 310px 0 0;
    padding: 0px 4px 2px 25px;
    list-style: none;
    display: block;
    white-space: normal;
    overflow: hidden;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
    }
.titlebox .usertext-body .md ol li {
    margin: 3px
    }


/* Nightmode fix for flair */
body.res-nightmode:first-of-type .flair { background-color: transparent!important; }


.tagline .flair {border-color: transparent}
/*-------------------- Flair ---------------------------------------*/

.flair{
    color: black;
    display: inline-block;
    border: 0;
    border-radius: 0;
    background: transparent;
    content: "";
    background-image: url(%%flair%%);
    display: inline-block;
    background-repeat: no-repeat
}
.flair-sur00 {width:30px; height:35px; background-position: -39px -113px}
.flair-sur01 {width:30px; height:35px; background-position: -2px -113px}
.flair-sur02 {width:30px; height:35px; background-position: -214px -76px}
.flair-sur03 {width:20px; height:25px; background-position: -187px -76px}
.flair-sur04 {width:30px; height:35px; background-position: -150px -76px}
.flair-sur05 {width:30px; height:35px; background-position: -113px -76px}
.flair-sur06 {width:30px; height:35px; background-position: -76px -76px}
.flair-sur07 {width:30px; height:35px; background-position: -39px -76px}
.flair-sur10 {width:30px; height:35px; background-position: -2px -76px}
.flair-sur11 {width:30px; height:35px; background-position: -214px -39px}
.flair-sur12 {width:30px; height:35px; background-position: -177px -39px}
.flair-sur13 {width:30px; height:35px; background-position: -140px -39px}
.flair-sur14 {width:30px; height:35px; background-position: -103px -39px}
.flair-sur15 {width:20px; height:25px; background-position: -76px -39px}
.flair-sur16 {width:30px; height:35px; background-position: -39px -39px}
.flair-sur17 {width:30px; height:35px; background-position: -2px -39px}
.flair-sur20 {width:30px; height:35px; background-position: -214px -2px}
.flair-sur21 {width:30px; height:35px; background-position: -177px -2px}
.flair-sur22 {width:30px; height:35px; background-position: -140px -2px}
.flair-sur23 {width:30px; height:35px; background-position: -103px -2px}
.flair-sur24 {width:30px; height:35px; background-position: -66px -2px}
.flair-sur25 {width:20px; height:25px; background-position: -39px -2px}
.flair-thatsnothowyouspellsurprise {width:31px; height:35px; background-position: -2px -2px}

/*--------------- Flair expanding ------------------------*/

.flair:hover {

background-repeat: no-repeat;
background-image: url(%%surprise%%);
margin:-10px;
} 


.flair-sur00:hover  {
    width:66px; height:70px; background-position: -2px -2px;
     } 

.flair-sur01:hover  {
    width:67px; height:70px; background-position: -74px -2px;
     } 

.flair-sur02:hover   {
    width:67px; height:70px; background-position: -146px -2px;
     }

.flair-sur03:hover   {
    width:47px; height:50px; background-position: -218px -2px;
     }

.flair-sur04:hover   {
    width:67px; height:70px; background-position: -270px -2px;
     }

.flair-sur05:hover   {
    width:67px; height:70px; background-position: -342px -2px;
     }

.flair-sur06:hover   {
    width:67px; height:70px; background-position: -414px -2px;
     }

.flair-sur07:hover   {
    width:67px; height:70px; background-position: -2px -74px;
     }

.flair-sur10:hover   {
    width:67px; height:70px; background-position: -74px -74px;
     }

.flair-sur11:hover   {
    width:67px; height:70px; background-position: -146px -74px;
     }

.flair-sur12:hover   {
   width:67px; height:70px; background-position: -218px -74px;
     }

.flair-sur13:hover   {
    width:67px; height:70px; background-position: -290px -74px;
     }

.flair-sur14:hover   {
    width:67px; height:70px; background-position: -362px -74px;
     }

.flair-sur15:hover   {
    width:48px; height:50px; background-position: -434px -74px;
     }

.flair-sur16:hover   {
    width:67px; height:70px; background-position: -2px -146px;
     }

.flair-sur17:hover   {
    width:67px; height:70px; background-position: -74px -146px;
     }

.flair-sur20:hover   {
    width:67px; height:70px; background-position: -146px -146px;
     }

.flair-sur21:hover   {
    width:67px; height:70px; background-position: -218px -146px;
     }
 
.flair-sur22:hover   {
    width:67px; height:70px; background-position: -290px  -146px}

.flair-sur23:hover   {
    width:67px; height:70px; background-position: -362px -146px;
     }

.flair-sur24:hover   {
    width:67px; height:70px; background-position: -434px -146px;
     }

.flair-sur25:hover   {
    width:48px; height:50px; background-position: -2px -218px;
     }

.flair-thatsnothowyouspellsurprise:hover   {
    width:67px; height:70px; background-position: -54px -218px;
     }

/*--------------------- Emotes -----------------------------*/
a[href="/sp"] {
    display: inline-block;
    padding-right: 100%
    }

a[href|="/sur00"], a[href|="/sur01"], a[href|="/sur02"], a[href|="/sur03"], a[href|="/sur04"], a[href|="/sur05"], a[href|="/sur06"], a[href|="/sur07"], a[href|="/sur10"], a[href|="/sur11"], a[href|="/sur11"], a[href|="/sur12"], a[href|="/sur13"], a[href|="/sur14"], a[href|="/sur15"], a[href|="/sur16"], a[href|="/sur17"], a[href|="/sur20"], a[href|="/sur21"], a[href|="/sur22"], a[href|="/sur23"], a[href|="/sur24"], a[href|="/sur25"], a[href|="/thatsnothowyouspellsurprise"] {
    display: block;
    clear: none;
    float: left;
    background-image: url(%%surprise%%) !important
    }
a[href|="/sur00"] {width:70px; height:70px; background-position: -2px -2px}
a[href|="/sur01"] {width:70px; height:70px; background-position: -74px -2px}
a[href|="/sur02"] {width:70px; height:70px; background-position: -146px -2px}
a[href|="/sur03"] {width:50px; height:50px; background-position: -218px -2px}
a[href|="/sur04"] {width:70px; height:70px; background-position: -270px -2px}
a[href|="/sur05"] {width:70px; height:70px; background-position: -342px -2px}
a[href|="/sur06"] {width:70px; height:70px; background-position: -414px -2px}
a[href|="/sur07"] {width:70px; height:70px; background-position: -2px -74px}
a[href|="/sur10"] {width:70px; height:70px; background-position: -74px -74px}
a[href|="/sur11"] {width:70px; height:70px; background-position: -146px -74px}
a[href|="/sur12"] {width:70px; height:70px; background-position: -218px -74px}
a[href|="/sur13"] {width:70px; height:70px; background-position: -290px -74px}
a[href|="/sur14"] {width:70px; height:70px; background-position: -362px -74px}
a[href|="/sur15"] {width:50px; height:50px; background-position: -434px -74px}
a[href|="/sur16"] {width:70px; height:70px; background-position: -2px -146px}
a[href|="/sur17"] {width:70px; height:70px; background-position: -74px -146px}
a[href|="/sur20"] {width:70px; height:70px; background-position: -146px -146px}
a[href|="/sur21"] {width:70px; height:70px; background-position: -218px -146px}
a[href|="/sur22"] {width:70px; height:70px; background-position: -290px -146px}
a[href|="/sur23"] {width:70px; height:70px; background-position: -362px -146px}
a[href|="/sur24"] {width:70px; height:70px; background-position: -434px -146px}
a[href|="/sur25"] {width:50px; height:50px; background-position: -2px -218px}
a[href|="/thatsnothowyouspellsurprise"] {width:70px; height:70px; background-position: -54px -218px}

 a[href|='/sur26'], a[href|='/rsur26'] {
    display: block;
    clear: none;
    float: left;
    background-image: url(%%surclop%%)
    }
a[href|='/sur26'] {width:70px; height:75px; background-position: -0px -0px}
a[href|='/rsur26'] {width:70px; height:75px; background-position: -82px -0px}


a[href|='/surprisesad'], a[href|='/sursad'], a[href|='/surdance'], a[href|='/surbeam'] {
    display: block;
    clear: none;
    float: left;
    background-image:url(%%surbig%%)
    }

a[href|='/surbeam'] {width:150px; height:150px; background-position: -2px -2px}
a[href|='/surdance'] {width:183px; height:160px; background-position: -2px -154px}
a[href|='/surprisesad'], a[href|='/sursad'] {width:125px; height:150px; background-position: -2px -316px}


a[href|='/draze'], a[href|='/wingit'], a[href|='/surangry'], a[href|='/surcrazed'], a[href|='/surdevious'], a[href|='/surfly'], a[href|='/surfrown'], a[href|='/surfun'], a[href|='/surhuh'] , a[href|='/surkick'] , a[href|='/surmina'] , a[href|='/suroutofnowhere'], a[href|='/surplot'], a[href|='/surpudding'], a[href|='/surshock'], a[href|='/sursmile'], a[href|='/surtoot'], a[href|='/surumad'], a[href|='/surwat'], a[href|='/surwhatisaid'] {
    display: block;
    clear: none;
    float: left;
    background-image:url(%%surtwo%%)
    }

a[href|='/draze'], a[href|='/wingit'] {width:267px; height:273px; background-position: -2px -2px}
a[href|='/surangry'] {width:162px; height:150px; background-position: -349px -277px}
a[href|='/surcrazed'] {width:150px; height:122px; background-position: -645px -435px}
a[href|='/surdevious'] {width:155px; height:150px; background-position: -783px -277px}
a[href|='/surfly'] {width:180px; height:105px; background-position: -797px -435px}
a[href|='/surfrown'] {width:116px; height:150px; background-position: -2px -435px}
a[href|='/surfun'] {width:225px; height:150px; background-position: -1px -285px}
a[href|='/surhuh'] {width:77px; height:150px; background-position: -940px -277px}
a[href|='/surkick'] {width:154px; height:150px; background-position: -337px -435px}
a[href|='/surmina'] {width:69px; height:150px; background-position: -266px -435px}
a[href|='/suroutofnowhere'] {width:150px; height:144px; background-position: -493px -435px}
a[href|='/surplot'] {width:150px; height:86px; background-position: -2px -587px}
a[href|='/surpudding'] {width:111px; height:154px; background-position: -236px -277px}
a[href|='/surshock'] {width:250px; height:168px; background-position: -700px -2px}
a[href|='/sursmile'] {width:102px; height:150px; background-position: -513px -277px}
a[href|='/surtoot'] {width:164px; height:150px; background-position: -617px -277px}
a[href|='/surumad'] {width:250px; height:182px; background-position: -271px -2px}
a[href|='/surwat'] {width:144px; height:150px; background-position: -120px -435px}
a[href|='/surwhatisaid'] {width:175px; height:175px; background-position: -523px -2px}

a[href|='/surwink'], a[href|='/surwinkbig'] {
    display: block;
    clear: none;
    float: left;
    background-image:url(%%surwink%%)
    }

a[href|='/surwink'] {width:72px; height:70px; background-position: -0px -0px}
a[href|='/surwinkbig'] {width:131px; height:122px; background-position: -72px -0px}