/*Changing readers in sidebar*/

div.titlebox span.word {
    display: none
    }

div.titlebox span.number:after {
    content: " Cutetastically Fantastics"
    }

.side .titlebox .users-online .number:after {
    content: " are making capes!" !important;
    }

.sidecontentbox .flair-cmc, .titlebox .flair-cmc, .sidecontentbox .flair-cmcchinchy, .titlebox .flair-cmcchinchy, .sidecontentbox .flair-pinkiepiecmc, .titlebox .flair-pinkiepiecmc {
    display: none
    }

/*LINK COLORS*/

#siteTable div.thing a.title {
    color: #A47BB4;
    }

#siteTable div.thing a.title:visited {
    color: #EAA9CA 
    }

.comment .flat-list.buttons li a {
    color:  #A6D397;
    }

/*BACKGROUND*/ 

body {
    background: url(%%sbstaretrnsp%%)  
    no-repeat fixed center center 
    }

/*SUBMISSIONS*/

.sidebox.submit-link .morelink {
    background: #EAA9CA;
    border: 2px #A6D397;
    border-radius: 10px /*too much?*/
    }

.sidebox.submit-link .morelink:hover {
    background: #EAA9CA;
    }

.sidebox.submit-link .morelink a {
    font-size: 0;
    content: "" ;
    }

.sidebox.submit-link .morelink a:after {
    content: "Submit a Sweetie Belle";
    font-size: 15px;
    color: #A47BB4;
    }

.sidebox.submit-link .morelink a:hover:after {
    color: #FFFFFF;
    }

.sidebox.submit-link .nub {
    display: none;
    }

.sidebox.submit-text .morelink {
    background: #EAA9CA;
    border: 2px #A6D397;
    border-radius: 10px /*too much?*/
    }

.sidebox.submit-text .morelink:hover {
    background: #EAA9CA;
    }

.sidebox.submit-text .morelink a {
    font-size: 0;
    content: "" ;
    }

.sidebox.submit-text .morelink a:after {
    content: "Submit a Dictionary Belle";
    font-size: 15px;
    color: #A47BB4;
    }

.sidebox.submit-text .morelink a:hover:after {
    color: #FFFFFF;
    }

.sidebox.submit-text .nub {
    display: none;
    }


/*UPHOOVES AND DOWNHOOVES*/

.arrow.upmod {
    background: url(%%arrowup%%) no-repeat 0 0;
    }

.arrow.downmod {
    background: url(%%arrowdown%%) no-repeat 0 0;
    }

.midcol .score.likes {
    color: #A6D397;
    }

.midcol .score.dislikes {
    color: #A6D397;
    }
.midcol .score.unvoted {
    color: #A6D397;
    }

/* FLAIR */

.flairselector .customizer {
    display: none !important;
    }

.flair {
    padding: 0;
    background: none;
    color: black;
    border: 0;
    border-radius: 0;
    background-image: url(%%flair-transparentbg%%);
    display: inline-block;
    width: 16px;
    height: 16px
    }

.flair-CMC {
    background-position: 0 0px
    }

.flair-derelle {
    background-position: 0px -26px;
    }

.flair-Sweetie {
    background-position: 0px -52px;
    }

.flair-sweetiebelle {
    background-position: 0px -78px;
    }

.flair-sweetiebellecutiemark {
    background-position: 0px -104px;
    }


/* Dictionary */

#search input[type="text"] {
    background: url(%%searchbarsweets%%) top left no-repeat !important;
    padding: 17px 7px 18px 69px !important;
    }


/* Table for Emotes */

/* sidebar */

.titlebox strong {
    font-size: small
    }

.titlebox del {
    color: white
    }

.titlebox em {
    font-size: 9px;
    text-decoration: none;
    font-style: normal
    }

.titlebox strong em {
    font-size: 8px;
    font-style: normal;
    font-weight: normal
    }

.titlebox table {
    display: none;
    clear: both
    }

 .side div.usertext-body:hover table {
    display: block;
    clear: both
    }

.md td {
    padding: 4px 3px;
}

/* mainpage hover selections */

#siteTable .link {
    position: relative;
    overflow: hidden;
    padding-top: 3px;
    padding-bottom: 3px
    }

/* ---------- Emoticons ---------- */

/***********
SB Emoticons
***********/

a[href|="/sb00"], a[href|="/sb02"], a[href|="/sb03"], a[href|="/sb04"], a[href|="/sb15"], a[href|="/sb06"], a[href|="/sb14"], a[href|="/sb10"], a[href|="/sb11"], a[href|="/sb12"], a[href|="/sb13"], a[href|="/sbaww"], a[href|="/sbderelle"], a[href|="/sbderp"], a[href|="/sbhaithar"], a[href|="/sbhappy"], a[href|="/sbhushnow"], a[href|="/sbmad"], a[href|="/sbsad"], a[href|="/sbsly"], a[href|="/sbstare"], a[href|="/sbwawity"], a[href|="/sbwut"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 100px;
    background-image: url(%%emotes%%) !important
    }

/*Oddly sized emotes*/

a[href|="/sbscootabelle"], a[href|="/scootabelle"], a[href|="/sb16"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 51px;
    background-image: url(%%emotes%%) !important
    }

a[href|="/sbwow"], a[href|="/sb12"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 57px;
    background-image: url(%%emotes%%) !important
    }

a[href|="/sbderelle"], a[href|="/sb01"], .side .md table tr:nth-of-type(3) td:nth-of-type(2):after {
    display: block;
    clear: none;
    float: left;
    width: 65px;
    height: 100px;
    background-image: url(%%emotes%%) !important
    }

a[href|="/sbhushnow"], a[href|="/sb05"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 67px;
    background-image: url(%%emotes%%) !important
    }


a[href|="/sb00"], a[href|="/sbaww"] {
    background-position: -0px -0px
    }

a[href|="/sb01"], a[href|="/sbderelle"] {
    background-position: -0px -150px
    }

a[href|="/sb02"], a[href|="/sbderp"] {
    background-position: -0px -350px
    }

a[href|="/sb03"], a[href|="/sbhaithar"] {
    background-position: -0px -500px
    }

a[href|="/sb04"], a[href|="/sbhappy"] {
    background-position: -0px -638px
    }

a[href|="/sb05"], a[href|="/sbhushnow"] {
    background-position: -0px -788px
    }

a[href|="/sb15"], a[href|="/sbmad"] {
    background-position: -0px -922px
    }

a[href|="/sb06"], a[href|="/sbsad"] {
    background-position: -0px -1072px
    }

a[href|="/sb16"], a[href|="/sbscootabelle"], a[href|="/scootabelle"] {
    background-position: -0px -1222px
    }

a[href|="/sb14"], a[href|="/sbsly"] {
    background-position: -0px -1323px
    }

a[href|="/sb10"], a[href|="/sbstare"] {
    background-position: -0px -1481px
    }

a[href|="/sb11"], a[href|="/sbwawity"] {
    background-position: -0px -1627px
    }

a[href|="/sb12"], a[href|="/sbwow"] {
    background-position: -0px -1777px
    }

a[href|="/sb13"], a[href|="/sbwut"] {
    background-position: -0px -1884px
    }

/***********
BobSB emoticons
***********/

a[href|="/bobsb00"], a[href|="/bobsb01"], a[href|="/bobsb02"], a[href|="/bobsb03"], a[href|="/bobsb04"], a[href|="/bobsb05"], a[href|="/bobsb06"], a[href|="/bobsb07"], a[href|="/bobsb08"], a[href|="/bobsb09"], a[href|="/bobsb010"], a[href|="/bobsb011"], a[href|="/bobsb012"], a[href|="/bobsb10"], a[href|="/bobsb11"], a[href|="/bobsb12"], a[href|="/bobsb13"], a[href|="/bobsb14"], a[href|="/bobsb15"], a[href|="/bobsb16"], a[href|="/bobsb17"], a[href|="/bobsb18"], a[href|="/bobsb19"], a[href|="/bobsb110"], a[href|="/bobsb111"], a[href|="/bobsbangry"], a[href|="/bobsbblank"], a[href|="/bobsbidea"], a[href|="/bobsbwhy"], a[href|="/bobsbdisgusted"], a[href|="/bobsbdrunk"], a[href|="/bobsbfear"], a[href|="/bobsbfierce"], a[href|="/bobsbflirty"], a[href|="/bobsbhappy"], a[href|="/bobsbwhat"], a[href|="/bobsbirritated"], a[href|="/bobsbsick"], a[href|="/bobsbpleased"], a[href|="/bobsbpouty"], a[href|="/bobsbrage"], a[href|="/bobsbsad"], a[href|="/bobsbsarcastic"], a[href|="/bobsbserious"], a[href|="/bobsbshocked"], a[href|="/bobsbsilly"], a[href|="/bobsbtired"], a[href|="/bobsbtrill"], a[href|="/bobsbtriumph"], a[href|="/bobsbwtf"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 100px;
    background-image: url(%%Sweetiemotes%%) !important
    }

a[href|="/bobsb00"], a[href|="/bobsbangry"] {
    background-position: -0px -0px
    }

a[href|="/bobsb01"], a[href|="/bobsbblank"], .side .md table tr:nth-of-type(3) td:nth-of-type(2):after {
    background-position: -100px -0px
    }

a[href|="/bobsb02"], a[href|="/bobsbidea"] {
    background-position: -200px -0px
    }

a[href|="/bobsb03"], a[href|="/bobsbwhy"] {
    background-position: -300px -0px
    }

a[href|="/bobsb04"], a[href|="/bobsbdisgusted"] {
    background-position: -400px -0px
    }

a[href|="/bobsb05"], a[href|="/bobsbdrunk"] {
    background-position: -0px -100px
    }

a[href|="/bobsb06"], a[href|="/bobsbfear"] {
    background-position: -100px -100px
    }

a[href|="/bobsb07"], a[href|="/bobsbfierce"] {
    background-position: -200px -100px
    }

a[href|="/bobsb08"], a[href|="/bobsbflirty"] {
    background-position: -300px -100px
    }

a[href|="/bobsb09"], a[href|="/bobsbhappy"] {
    background-position: -400px -100px
    }

a[href|="/bobsb010"], a[href|="/bobsbwhat"] {
    background-position: -0px -200px
    }

a[href|="/bobsb011"], a[href|="/bobsbirritated"] {
    background-position: -100px -200px
    }

a[href|="/bobsb012"], a[href|="/bobsbsick"] {
    background-position: -200px -200px
    }

a[href|="/bobsb10"], a[href|="/bobsbpleased"] {
    background-position: -300px -200px
    }

a[href|="/bobsb11"], a[href|="/bobsbpouty"] {
    background-position: -400px -200px
    }

a[href|="/bobsb12"], a[href|="/bobsbrage"] {
    background-position: -0px -300px
    }

a[href|="/bobsb13"], a[href|="/bobsbsad"] {
    background-position: -100px -300px
    }

a[href|="/bobsb14"], a[href|="/bobsbsarcastic"] {
    background-position: -200px -300px
    }

a[href|="/bobsb15"], a[href|="/bobsbserious"] {
    background-position: -300px -300px
    }

a[href|="/bobsb16"], a[href|="/bobsbshocked"] {
    background-position: -400px -300px
    }

a[href|="/bobsb17"], a[href|="/bobsbsilly"] {
    background-position: -0px -400px
    }

a[href|="/bobsb18"], a[href|="/bobsbtired"] {
    background-position: -100px -400px
    }

a[href|="/bobsb19"], a[href|="/bobsbtrill"] {
    background-position: -200px -400px
    }

a[href|="/bobsb110"], a[href|="/bobsbtriumph"] {
    background-position: -300px -400px
    }

a[href|="/bobsb111"], a[href|="/bobsbwtf"] {
    background-position: -400px -400px
    }

a[href|="/sp"] {
    display: inline-block;
    padding-right: 100%
    }

/* ---------- Hide emoticon tables in the sidebar until sb14 is hovered over ---------- */

/* sidebar */

.titlebox strong {
    font-size: medium
    }

.titlebox del {
    color: white
    }

.titlebox em {
    font-size: 9px;
    text-decoration: none;
    font-style: normal
    }

.titlebox strong em {
    font-size: 8px;
    font-style: normal;
    font-weight: normal
    }

.titlebox table {
    display: none;
    clear: both
    }

 .side div.usertext-body:hover table {
    display: block;
    clear: both
    }


/* remove subreddit bar border */

#sr-header-area {
    border: none !important
    }

/* hover style for header tabs */

.side .md ol li a:hover, .tabmenu li a:hover, .pagename a:hover, #newlink li.selected a:hover {
    background-color: #FFFFC2;
    color: red;
    text-decoration: none
    }

#header-img {
    margin: 7px 7px -5px 0px;
    }

/* curved borders for tabs */

.tabmenu li a, .pagename a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*-moz-border-radius: 5px;
    -webkit-border-radius: 5px*/
    }

/* ---------- Make the CSS text box bigger ---------- */

.stylesheet-customize-container textarea {
    height: 600px
    }

/* ---------- Announcement box at the top. ---------- */

/* Uncomment to activate. To edit the text, put the following at the bottom of the sidebar: "1. TEXT HERE" */

.content {
    margin-top: 15px /*Was 55px, because I assume the announcement box is barely used anymore ~aeman*/
    }

.pagename {
    font-size: 12pt
    }

.titlebox form {
    position: static
    }

.titlebox .usertext-body .md ol {
    width: auto;
    border: 1px solid #E6EB9D;
    position: absolute;
    top: 135px;
    left: 20px;
    z-index: 50;
    margin: 10px 310px 0 0;
    padding: 18px 10px 3px 45px;
    list-style: none;
    display: block;
    white-space: normal;
    overflow: hidden;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
    }

.titlebox .usertext-body .md ol li {
    margin: 3px
    }

.titlebox .bottom {
    margin-top: 10px;
    }