/*Flair*/
.flair {
    padding: 0;
    background: none;
    color: black;
    border: 0;
    border-radius: 0;
    background-image: url(%%Flair%%);
    display: inline-block;
    width: 16px;
    height: 16px
    }
.flair-at {
    background-position: 0px 0px
    }
.flair-pyro {
    background-position: 0px -16px
    }
.flair-ilf {
    background-position: 0px -32px
    }
.flair-emu {
    background-position: 0px -48px
    }
.flair-epi {
    background-position: 0px -64px
    }
.flair-smash {
    background-position: 0px -80px
    }
.flair-knock {
    background-position: 0px -96px
    }
.flair-shhh {
    background-position: 0px -112px
    }
/*Emotes*/
/*BPD2 emutes*/
a[href|="/bpd30"], a[href|="/rbpd30"], a[href|="/scootsassin"], a[href|="/rscootsassin"], a[href|="/bpd31"], a[href|="/rbpd31"], a[href|="/shutterfly"], a[href|="/rshutterfly"], a[href|="/bpd32"], a[href|="/rbpd32"], a[href|="/rarpleased"], a[href|="/rrarpleased"], a[href|="/bpd33"], a[href|="/rbpd33"], a[href|="/fsfear"], a[href|="/rfsfear"],  a[href|="/bpd34"], a[href|="/rbpd34"], a[href|="/sbshake"], a[href|="/rsbshake"], a[href|="/bpd35"], a[href|="/rbpd35"], a[href|="/babssmirk"], a[href|="/rbabssmirk"], a[href|="/bpd36"], a[href|="/rbpd36"], a[href|="/trixieomg"], a[href|="/rtrixieomg"], a[href|="/bpd37"], a[href|="/rbpd37"], a[href|="/twilove"], a[href|="/rtwilove"] {
    display: block; 
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%EmutesD2%%)
    }
a[href|="/bpd30"], a[href|="/scootsassin"] {
    background-position: -0px -0px
    }
a[href|="/rbpd30"], a[href|="/rscootsassin"] {
    background-position: -210px -0px
    }
a[href|="/bpd31"], a[href|="/shutterfly"] {
    background-position: -0px -70px
    }
a[href|="/rbpd31"], a[href|="/rshutterfly"] {
    background-position: -210px -70px
    }
a[href|="/bpd32"], a[href|="/rarpleased"] {
    background-position: -0px -140px
    }
a[href|="/rbpd32"], a[href|="/rrarpleased"] {
    background-position: -210px -140px
    }
a[href|="/bpd33"], a[href|="/fsfear"] {
    background-position: -0px -210px
    }
a[href|="/rbpd33"], a[href|="/rfsfear"] {
    background-position: -210px -210px
    }
a[href|="/bpd34"], a[href|="/sbshake"] {
    background-position: -0px -280px
    }
a[href|="/rbpd34"], a[href|="/rsbshake"] {
    background-position: -210px -280px
    }
a[href|="/bpd35"], a[href|="/babssmirk"] {
    background-position: -0px -350px
    }
a[href|="/rbpd35"], a[href|="/rbabssmirk"] {
    background-position: -210px -350px
    }
a[href|="/bpd36"], a[href|="/trixieomg"] {
    background-position: -0px -420px
    }
a[href|="/rbpd36"], a[href|="/rtrixieomg"] {
    background-position: -210px -420px
    }
a[href|="/bpd37"], a[href|="/twilove"] {
    background-position: -0px -490px
    }
a[href|="/rbpd37"], a[href|="/rtwilove"] {
    background-position: -210px -490px
    }