/* == Boxed reddit CSS Theme v1.1.3 - (http://www.reddit.com/r/boxed/)== */

/* General markup */
body {
    background-color:#EBFFEA;
    }

#header {
	background-image:url(%%header%%);
    background-position:bottom right;
	background-repeat:no-repeat;
    background-color:#EBFFEA;
}

input {
    border: 1px solid #C1BFBF !important;
}

.rounded {
    border-radius: 0px !important;
}

.roundfield, #REScommentSubToggle, #header-bottom-right, #userbarToggle {
    border-radius: 0px !important;
}

.roundfield, .content.submit .info-notice, .linefield {
    background-color: #F5F5F5;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #C1BFBF;
}

.entry {
    padding: 3px;
}

.keyHighlight {
    outline-width: 0px !important;
    background-color: transparent!important;
    padding: 3px;
}

.link.last-clicked {
    border: 0px !important;
}

a.title {
    color: #333 !important;
}

a.title:hover {
    color: #097632!important;
    text-decoration: none !important;
}

a.title:visited {
    color: #888 !important;
}

a.title:visited:hover {
    color: #097632 !important;
    text-decoration: none !important;
}

/* Header markup */

#sr-header-area {
    text-transform: lowercase;
    font-size: 100% !important;
}

#sr-header-area a {
    font-size: 100% !important;
}

#userbarToggle.userbarHide, #userbarToggle.userbarShow {
    background-color: #097632;
    color: #097632;
    width: 6px;
    left: 0px;
}

#header {
    border-bottom: 1px solid #9A9A9A !important;
}

#sr-header-area {
    background-color: #FAFAFA;
    color: #000000;
    border-bottom: 1px solid #9A9A9A !important;
}

#RESShortcutsEditContainer, #RESShortcutsRight, #RESShortcutsAdd, #RESShortcutsTrash, #RESShortcutsLeft, #sr-more-link {
    background-color: #FAFAFA!important;
}

#header-bottom-right {
    background-color: #FFFFFF;
    color: #000000;
    border: 0px solid #9A9A9A !important;
    top: 70px !important;
    height: 12px !important;
    vertical-align: middle !important;
    padding: 2px 5px 10px 5px !important;
}

#header-bottom-right a {
    color: #000000;
}


/* Header tab menu */

.tabmenu li a {
    border: 1px solid #9A9A9A !important;
    background: #FFFFFF !important;
    color: #000000 !important;
    border-left: 3px solid #097632 !important;
    border-bottom: 0px !important;
    margin: 0px !important;
    font-weight: normal;
    padding: 0px 12px;
    font-size: x-small;
}

.tabmenu li {
    margin: 1px;
}

.tabmenu li.selected a {
    border: 1px solid #9A9A9A !important;
    background: #EBFFEA !important;
    color: #000000 !important;
    border-left: 3px solid #097632 !important;
    font-size: 100%;
}

/* Flair formatting flairs are labeled alphabetically  */

.linkflair-a .linkflairlabel {
    width: 105px;
    text-align: center;
    background-color: #e18879;
    font-size: 9px;
    font-weight: bold;
    border-color: #4C4C4C;
    border-width: 1px;
    border-radius: 0px;
}

.linkflair-b .linkflairlabel {
    width: 105px;
    text-align: center;
    background-color: #e1aa79;
    font-size: 9px;
    font-weight: bold;
    border-color: #4C4C4C;
    border-width: 1px;
    border-radius: 0px;
}

.linkflair-c .linkflairlabel {
    width: 105px;
    text-align: center;
    background-color: #bbe179;
    font-size: 9px;
    font-weight: bold;
    border-color: #4C4C4C;
    border-width: 1px;
    border-radius: 0px;
}

.linkflair-d .linkflairlabel {
    width: 105px;
    text-align: center;
    background-color: #79e1d1;
    font-size: 9px;
    font-weight: bold;
    border-color: #4C4C4C;
    border-width: 1px;
    border-radius: 0px;
}

.linkflair-e .linkflairlabel {
    width: 105px;
    text-align: center;
    background-color: #e1db79;
    font-size: 9px;
    font-weight: bold;
    border-color: #4C4C4C;
    border-width: 1px;
    border-radius: 0px;
}

.linkflair-f .linkflairlabel {
    width: 105px;
    text-align: center;
    background-color: #b179e1;
    font-size: 9px;
    font-weight: bold;
    border-color: #4C4C4C;
    border-width: 1px;
    border-radius: 0px;
}

.linkflair-g .linkflairlabel {
    width: 105px;
    text-align: center;
    background-color: #FCDFFF;
    font-size: 9px;
    font-weight: bold;
    border-color: #4C4C4C;
    border-width: 1px;
    border-radius: 0px;
}


/* Listing of submissions */
body div.content {
    margin: 20px 350px 0px 5px !important;
    padding: 20px 0px 0px !important;
}

.rank {
    display: none;
}

.link .midcol {
    margin-right: 0px;
    margin-left: 0px;
}

.linklisting {
    bottom: 0px;
    margin-top: 0px;
    padding: 0px !important;
    background-color: #FFFFFF;
    border: 1px solid #9A9A9A;
    box-shadow: 0px 1px 3px 1px #A5B9CE;
    margin-left: 20px;
}

.linklisting .odd:first-child {
    border-top: 0px none !important;
}

.linklisting .odd {
    overflow: hidden !important;
    margin: 0px !important;
    padding: 5px 5px 10px 10px !important;
    border-top: 1px solid #EEEEEE;
    background-color: #FAFAFA !important;
    min-height: 50px !important;
}

.linklisting .even {
    overflow: hidden !important;
    margin: 0px !important;
    padding: 5px 5px 5px 10px !important;
    border-top: 1px solid #EEEEEE;
    background-color: #F5F5F5 !important;
    min-height: 50px !important;
}

/*  RES neverending reddit fixes */

#progressIndicator {
    margin-left: 20px !important;
    border-radius: 0px !important;
    box-shadow: 0px 1px 3px 1px #A5B9CE;
    width: 97% !important;
    margin-top: 5px !important;
    background-color: #F5F5F5 !important;
    border-color: #C1BFBF !important;
}


.linklisting .linklisting {
    margin-left: 0px !important;
    border: none !important;
    box-shadow: none !important;
}

.NERPageMarker {
    background-color: #F5F5F5 !important;
    border-width: 1px 0px !important;
    border-style: solid none !important;
    border-color: #C1BFBF !important;
    border-radius: 0px !important;

}

#NERFail {
    width: 99% !important;
    height: auto !important;
	border-width: 0px !important;
}


/* comments */
.sitetable .comment {
    border-radius: 0px !important;
}

.commentarea {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: auto;
    padding: 7px 0px !important;
    background-color: #FFFFFF;
    border: 1px solid #9A9A9A;
    box-shadow: 0px 1px 3px 1px #A5B9CE;
}

.link .usertext .md {
    padding: 0px 5px;
    border: 1px solid #C1BFBF;
    border-radius: 0px !important;
}

.gold-accent, .infobar {
    border-radius: 0px !important;
    border-color: #C1BFBF;
    background-color: #F5F5F5;
    margin: 0px 10px 15px !important;
}

#noresults {
    margin-left: 10px !important;
}

.tagline .author.submitter {
    color: white !important;
    background-color: #0055df !important;
    font-weight: bold !important;
    border-radius: 0px !important;
    padding: 0px 2px !important;
}

.tagline .author.moderator {
    color: white !important;
    background-color: #228822 !important;
    font-weight: bold !important;
    border-radius: 0px !important;
    padding: 0px 2px !important;
}

.tagline .author.friend {
    color: white !important;
    background-color: #FF4500 !important;
    font-weight: bold !important;
    border-radius: 0px !important;
    padding: 0px 2px !important;
}

.md blockquote {
    display: block;
    background-color: #F5F5F5;
    border-style: solid;
    border-width: 1px 1px 1px 3px;
    border-color: #C1BFBF;
    border-left-color: #097632;
    box-shadow: 0px 1px 3px 1px #F5F5F5;
    padding: 5px;
    margin: 3px 0px 3px 0px !important;
    color: #000000;
}

.md td, .md th {
    border: 1px solid #C1BFBF !important;
}


/* flair settings */
.flair-settings.fancy-settings > h1 {
    margin: 0px 0px 5px 20px;
    background-color: #FFFFFF;
    border: 1px solid #9A9A9A;
    box-shadow: 0px 1px 3px 1px #A5B9CE;
    padding: 5px;
}

.content .tabmenu {
    margin: 0px 0px 0px 20px !important;
}

.tabpane-content {
    padding: 5px;
    margin-top: 0px;
    margin-left: 20px;
    background-color: #FFFFFF;
    border: 1px solid #9A9A9A;
    box-shadow: 0px 1px 3px 1px #A5B9CE;
}


/* css settings */
.pretty-form {
    padding: 5px;
    background-color: #FFFFFF;
    border: 1px solid #9A9A9A;
    box-shadow: 0px 1px 3px 1px #A5B9CE;
    margin-left: 20px;
}

#images {
    padding: 5px;
    margin-top: 5px;
    margin-left: 20px;
    background-color: #FFFFFF;
    border: 1px solid #9A9A9A;
    box-shadow: 0px 1px 3px 1px #A5B9CE;
}


/* submitting  */
#newlink {
    padding: 5px;
    margin-top: 5px;
    margin-left: 20px;
    background-color: #FFFFFF;
    border: 1px solid #9A9A9A;
    box-shadow: 0px 1px 3px 1px #A5B9CE;
}

#link-desc.infobar, #text-desc.infobar {
    display: none !important;
}

.content > h1 {
    margin: 0px 5px 5px 20px;
    background-color: #FFFFFF;
    border: 1px solid #9A9A9A;
    box-shadow: 0px 1px 3px 1px #A5B9CE;
    padding: 5px;
}

.formtabs-content {
    border-top: 4px solid #C1BFBF !important;
    padding-top: 0px !important;
}

.formtabs-content div:nth-child(1), .formtabs-content div:nth-child(2) {
    margin: 0px !important;
}

li.selected a.link-button, li.selected a.text-button {
    border: 1px solid #9A9A9A !important;
    background: #EBFFEA !important;
    color: #000000 !important;
    border-left: 3px solid #097632 !important;
    border-bottom: 0px !important;
}

a.link-button, a.text-button {
    border: 1px solid #9A9A9A !important;
    background: #FFFFFF !important;
    color: #000000 !important;
    border-left: 3px solid #097632 !important;
}


/* Spoiler tags */
a[href$="#spoiler"] {
    background: #097632 !important;
    color: #097632 !important;
    border: 1px solid #097632;
    padding-right: 1px;
}

a[href$="#spoiler"]:hover {
    color: #FFF !important;
}

a[href$="#spoiler"]::before {
    background: #FFF !important;
    color: #000 !important;
    padding: 0px 1px;
    margin: 0px;
    margin-right: 1px;
}

a[href$="#spoiler"]::before {
    content: "Spoiler";
}

a[href$="#spoiler"][title]::before {
    content: attr(title) " Spoiler";
}

/* Sidebar stuff */

.login-form-side {
    background-color: #F5F5F5;
    border-width: 3px 0px 3px 0px;
    border-style: solid;
    border-color: #C1BFBF;
}

.side .bottom {
    display: none !important;
}

#search {
    text-align: center;
}

#search input[type="text"] {
    border: 1px solid #C1BFBF;
}

.side .md {
    overflow: hidden;
}

.flat-vert.icon-menu.hover a {
    background-color: #F5F5F5 !important;
}

.side {
    width: 300px;
    margin: 40px 20px 40px auto;
    padding: 10px !important;
    z-index: 0;
    border: 1px solid #9A9A9A;
    box-shadow: 0px 1px 3px 1px #A5B9CE;
    overflow: hidden;
}

.side hr {
    visibility: hidden;
}

.side blockquote {
    display: block;
    background-color: #F5F5F5;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #C1BFBF;
    margin: 0px;
    margin-bottom: 5px;
    padding: 5px;
}

.sidecontentbox .content {
    display: block;
    background-color: #F5F5F5;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #C1BFBF;
    margin: 0px;
    margin-bottom: 5px;
    padding: 5px;
}

#searchexpando {
    border-radius: 0px !important;
    border-color: #C1BFBF;
    background-color: #F5F5F5;
}


/* Link info*/
.linkinfo {
    background-color: white;
    color: #363636;
    text-align: center;
    font-size: 11px;
    padding: 10px 0px 15px 0px;
    border: 1px solid #C1BFBF;
    width: 300px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px !important;
}

.linkinfo .downvotes .number, .linkinfo .upvotes .number, .linkinfo .score .number {
    font-size: 20px !important;
    display: block;
    font-weight: normal !important;
}

.linkinfo .score .word {
    display: none;
}

.linkinfo .score {
    font-size: 11px;
    display: block;
    min-width: 80px;
    margin-left: 30px !important;
}

.linkinfo .downvotes .word, .linkinfo .upvotes .word {
    font-size: 11px;
}

.linkinfo .upvotes, .linkinfo .downvotes, .linkinfo .score {
    float: left;
    padding: 5px 10px 5px 0;
    margin: 8px 10px 10px 0;
    text-align: center;
}

.linkinfo .score, .linkinfo .upvotes {
    border-right: 1px solid #C1BFBF;
}

.linkinfo .shortlink {
    clear: both !important;
    font-size: 10px;
    margin: 0px 20px 0px 20px;
    border: 1px solid #E7E6E6;
    text-align: center;
}

.linkinfo .shortlink input {
    background: transparent;
    border: 0px;
    padding-left: 8px;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}

.linkinfo .date {
    padding: 8px;
    margin-top: -10px;
    margin-bottom: 7px;
    color: #000000;
    background-color: #EBFFEA;
    font-size: 12px;
}


/* sidebar dropdown menus */
.titlebox .md ul {
    margin: 0;
}

.titlebox ul li {
    background-color: #f2f2f2;
    border: none;
    color: black;
    display: none;
    padding: 3px 3px 3px 13px;
    text-align: left;
    border-top: 1px solid #CCCCCC;
    margin: 0px;
}

.titlebox ul li:hover {
    background-color: #DDDDDD;
}

.titlebox ul li:nth-child(1) {
    display: block;
    color: black;
    background-color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    border: 0px;
    border-bottom: 1px dotted #888888;
    border-left: 3px solid #097632;
    padding: 2px;
    width: 100%;
}

.titlebox ul li:nth-child(1):hover {
    color: black;
    background-color: #EBFFEA;
}

.titlebox ul:hover > li {
    display: block;
}

.titlebox ul li a:hover {
    color: black;
}


/* sidebar submit buttons */
.morelink .nub {
    background: none !important;
}

.morelink {
    border: 1px solid #C1BFBF;
    background: #FFFFFF !important;
    color: #000000;
    border-left: 3px solid #097632;
}

.morelink:hover {
    background: #EBFFEA !important;
    border-color: #C1BFBF;
    border-left: 3px solid #097632;
}

.morelink a {
    color: #000000;
}

.morelink:hover a {
    text-decoration: none !important;
    color: #000000;
}


/* sidebar icons stolen from rolmos's edurne theme */
 .side a[href*='#icon-'] {
    color:#000!important;
    cursor:default;
}
.side a[href*='#icon-']:hover {
    text-decoration:none;
}
.side a[href*='#icon-']::before {
    display:inline-block;
    height:16px;
    width:16px;
    content:'';
    margin:0 5px -1px 0;
    background:url(%%sprites-05%%) 30px 30px no-repeat;
}
.side a[href='#icon-exclamation']::before {
    background-position:-16px -32px;
}
.side a[href='#icon-information']::before {
    background-position:-54px -51px;
}
.side a[href='#icon-lightbulb']::before {
    background-position:-16px -51px;
}
.side a[href='#icon-comments']::before {
    background-position:-35px -89px;
}
.side a[href='#icon-unhappy']::before {
    background-position:-73px -89px;
}
.side a[href='#icon-check']::before {
    background-position:-73px -51px;
}
.side a[href='#icon-clock']::before {
    background-position:-35px -51px;
}
.side a[href='#icon-cross']::before {
    background-position:-35px -70px;
}
.side a[href='#icon-smile']::before {
    background-position:-54px -89px;
}
.side a[href='#icon-error']::before {
    background-position:-54px -32px;
}
.side a[href='#icon-note']::before {
    background-position:-54px -70px;
}
.side a[href='#icon-star']::before {
    background-position:-73px -32px;
}
.side a[href='#icon-help']::before {
    background-position:-16px -70px;
}
.side a[href='#icon-time']::before {
    background-position:-73px -70px;
}
.side a[href='#icon-bell']::before {
    background-position:-35px -32px;
}
.side a[href='#icon-eye']::before {
    background-position:-16px -89px;
}


/* lets put the mess of buttons and info in something that looks like a box */
 .side .redditname {
    display:block;
    background-color:#F5F5F5;
    border-width:3px 0px 0px 0px;
    border-style:solid;
    border-color: #C1BFBF;
    margin: 5px 0px 0px 0px;
    padding: 5px;
}
.titlebox .fancy-toggle-button {
    display:block;
    background-color:#F5F5F5;
    border-width:0px;
    margin: 0px;
    padding: 5px;
    width: 290px;
    overflow: hidden;
}
.subButtons {
    width: 300px;
    padding: 0px;
    height: 55px;
    display:block;
    background-color:#F5F5F5 !important;
    border-width:0px;
    margin: 0px;
}
.styleToggle, .subscribers, .users-online, .leavemoderator, form.flairtoggle, .toggle.leavecontributor-button {
    display:block;
    background-color:#F5F5F5 !important;
    border: 0px;
    margin: 0px;
    padding: 5px;
}
.side .tagline {
    display:block;
    background-color:#F5F5F5;
    border-width:0px 0px 3px 0px;
    border-style:solid;
    border-color: #C1BFBF;
    margin: 0px 0px 15px 0px!important;
    padding: 5px;
}

.side .spacer .titlebox div:nth-of-type(1):not(.flairselector):not(.md):not(.usertext-body) {
    display:block !important;
    background-color:#F5F5F5 !important;
    margin: 0px !important;
    padding: 5px !important;
}



.side .spacer .titlebox div:nth-of-type(1):not(.flairselector):not(.md):not(.usertext-body) {
    display:block !important;
    background-color:#F5F5F5 !important;
    border: 0px !important;
    margin: 0px !important;
    padding: 5px !important;
}


/* the subscribe and res buttons */
 .fancy-toggle-button .remove {
    background-image: none;
    background-color: #DD513B;
    border-radius: 0px !important;
}
.fancy-toggle-button .add {
    background-image: none;
    background-color: #097632;
    border-radius: 0px !important;
}
.RESshortcutside, .RESDashboardToggle {
    color: white;
    background-image: none !important;
    background-image: none;
    background-color: #097632;
    border-radius: 0px !important;
    margin-left: 5px;
}
.RESshortcutside:hover, .RESDashboardToggle :hover {
    color: white;
    background-image: none !important;
    background-image: none;
    background-color: #097632 !important;
    border-radius: 0px !important;
}
.RESshortcutside.remove, .RESDashboardToggle.remove {
    color: white;
    background-image: none !important;
    background-image: none;
    background-color: #DD513B;
    border-radius: 0px !important;
}
.RESshortcutside.remove:hover, .RESDashboardToggle.remove:hover {
    color: white;
    background-image: none !important;
    background-image: none;
    background-color: #DD513B !important;
    border-radius: 0px !important;
}


/* Sticky, edit text in the sidebar  */
 .side .md h3:nth-of-type(1) {
    position:absolute;
    top:65px;
    left:0;
    display:block;
    border-bottom:1px solid #9A9A9A;
	box-shadow: 0px 1px 3px 1px #A5B9CE;
    background:#FFFFFF;
    text-align:left;
    font-size:15px;
    color:#000000;
    font-weight:bold;
    padding:7px 7px 7px 27px;
    left: 0px;
    right: 0px;
}

/* wiki formatting */
 .wiki-page .content span:first-child:not(.separator):not(.score):not(.linkflair):not(.diff_chg):not(.author):not(.diff_add):not(.diff_sub):not(.diff_next):not(.diff_header) {
    background-color: #FFFFFF;
    border: 1px solid #9A9A9A;
	box-shadow: 0px 1px 3px 1px #A5B9CE;
    padding: 5px;
    margin: 0px 0px 0px 20px !important;
    display: block;
}
.wiki-page-content {
    background-color: #FFFFFF;
    border: 1px solid #9A9A9A;
	box-shadow: 0px 1px 3px 1px #A5B9CE;
    padding: 5px;
    margin: 5px 0px 0px 20px !important;
}
.wiki-page .pageactions {
    border: 0px !important;
}
.wikiaction {
    border-radius: 0px !important;
}
.wiki-page .wiki-page-content .md.wiki > .toc > ul {
    margin:0px !important;
	background-color: #F5F5F5;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #C1BFBF;
}
.toc a {
    font-size: small !important;
}
.toc {
    float: right;
    max-width: 40%;
	border-color: #C1BFBF;
}

/*EMOTES ===================================================================================================*/
/* Animotes */

a[href|="/flutterstress"] {
    display: block;
    clear: none;
    float: left;
    width: 80px;
    height: 80px;
    background-image: url(%%flutterstress%%)
    }

a[href|="/twihappydance"] {
    display: block;
    clear: none;
    float: left;
    width: 147px;
    height: 150px;
    background-image: url(%%twihappydance%%)
    }

a[href|="/twihappydance"] {
    display: block;
    clear: none;
    float: left;
    width: 147px;
    height: 150px;
    background-image: url(%%twihappydance%%)
    }

a[href|="/rdup"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 140px;
    background-image: url(%%rdup%%)
    }

a[href|="/flutterpout"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 105px;
    background-image: url(%%flutterpout%%)
    }

a[href|="/impluna"] {
    display: block;
    clear: none;
    float: left;
    width: 127px;
    height: 150px;
    background-image: url(%%impluna%%)
    }

a[href|="/lolidunno"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 100px;
    background-image: url(%%lolidunno%%)
    }

a[href|="/lyraswagger"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 136px;
    background-image: url(%%lyraswagger%%)
    }

a[href|="/sombrachargin"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 100px;
    background-image: url(%%sombrachargin%%)
    }

a[href|="/fluffbow"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 201px;
    background-image: url(%%fluffbow%%)
    }

a[href|="/tastyhat"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 152px;
    background-image: url(%%tastyhat%%)
    }

/* Animotes End */

/* Sheet1 */

a[href|="/spikeab"],a[href|="/twiab"],a[href|="/ajab"],a[href|="/pinkieab"],a[href|="/tiaab"],a[href|="/rarityab"],a[href|="/rbdab"],a[href|="/flutterab"],a[href="/nmmab"],a[href="/shamrockrealise"],a[href="/lyrastpaddys"],a[href="/shamrock"],a[href="/whassamattayou"],a[href="/tavilie"],a[href="/berrypunchdress"],a[href="/lyradress"],a[href="/stpinkie"],a[href="/adority"]
{display:block;clear:none;float:left;width:100px;height:100px;background-image:url(%%100motes%%)}

a[href="/spikeab"] {
background-position: -0px -0px;
Width: 100px;
Height: 100px;
}

a[href="/twiab"] {
background-position: -100px -0px;
Width: 100px;
Height: 100px;
}

a[href="/ajab"] {
background-position: -200px -0px;
Width: 100px;
Height: 100px;
}

a[href="/pinkieab"] {
background-position: -300px -0px;
Width: 100px;
Height: 100px;
}

a[href="/tiaab"] {
background-position: -0px -100px;
Width: 100px;
Height: 100px;
}

a[href="/rarityab"] {
background-position: -100px -100px;
Width: 100px;
Height: 100px;
}

a[href="/rbdab"] {
background-position: -200px -100px;
Width: 100px;
Height: 100px;
}

a[href="/flutterab"] {
background-position: -300px -100px;
Width: 100px;
Height: 100px;
}

a[href="/nmmab"] {
background-position: -0px -200px;
Width: 100px;
Height: 100px;
}

a[href="/shamrockrealise"] {
background-position: -100px -200px;
Width: 100px;
Height: 100px;
}

a[href="/lyrastpaddys"] {
background-position: -200px -200px;
Width: 100px;
Height: 100px;
}

a[href="/shamrock"] {
background-position: -300px -200px;
Width: 100px;
Height: 100px;
}

a[href="/whassamattayou"] {
background-position: -0px -300px;
Width: 100px;
Height: 100px;
}

a[href="/tavilie"] {
background-position: -100px -300px;
Width: 100px;
Height: 100px;
}

a[href="/berrypunchdress"] {
background-position: -200px -300px;
Width: 100px;
Height: 100px;
}

a[href="/lyradress"] {
background-position: -300px -300px;
Width: 100px;
Height: 100px;
}

a[href="/stpinkie"] {
background-position: -0px -400px;
Width: 100px;
Height: 100px;
}

a[href="/adority"] {
background-position: -100px -400px;
Width: 100px;
Height: 100px;
}

/* Sheet1 End */

/* Misc */

a[href|="/shamrockbox"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 100px;
    background-image: url(%%shamrockbox%%)
    }

a[href|="/shamrocklike"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 58px;
    background-image: url(%%shamrocklike%%)
    }

a[href|="/nervouscited"] {
    display: block;
    clear: none;
    float: left;
    width: 80px;
    height: 108px;
    background-image: url(%%nervouscited%%)
    }

a[href|="/queenfaust"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 144px;
    background-image: url(%%queenfaust%%)
    }

a[href|="/tiajuice"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 179px;
    background-image: url(%%tiajuice%%)
    }
a[href|="/flutterbag"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 140px;
    background-image: url(%%flutterbag%%)
    }

a[href|="/nmmnova"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 137px;
    background-image: url(%%nmmnova%%)
    }

a[href|="/daftponies"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 126px;
    background-image: url(%%daftponies%%)
    }

a[href|="/fearthebees"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 60px;
    background-image: url(%%fearthebees%%)
    }

a[href|="/pinkiebutton"] {
    display: block;
    clear: none;
    float: left;
    width: 128px;
    height: 100px;
    background-image: url(%%pinkiebutton%%)
    }

a[href|="/twicookiejar"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 163px;
    background-image: url(%%twicookiejar%%)
    }

a[href|="/shamrockpoker"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 56px;
    background-image: url(%%shamrockpoker%%)
    }

a[href|="/twicontemplate"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 151px;
    background-image: url(%%twicontemplate%%)
    }

a[href|="/bandaloobestpony"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 210px;
    background-image: url(%%bandaloobestpony%%)
    }

a[href|="/lunasocks"] {
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 167px;
    background-image: url(%%lunasocks%%)
    }

a[href|="/egstare"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%egstare%%)
    }

/* Misc End */

/* Tavimotes */

a[href|="/tavijumpforjoy"],a[href|="/socktavia"],a[href|="/tavisrsly"],a[href="/taviskeptical"],a[href="/tavinap"],a[href="/tavilie"],a[href="/taviyay"],a[href="/tav3sleep"],a[href="/tav3nuzzle"],a[href="/lyralyre"],a[href="/tavicello"]
{display:block;clear:none;float:left;background-image:url(%%testtest%%)}

a[href="/tavijumpforjoy"] {
background-position: -0px -0px;
Width: 100px;
Height: 136px;
}

a[href="/socktavia"] {
background-position: -100px -0px;
Width: 100px;
Height: 182px;
}

a[href="/tavisrsly"] {
background-position: -200px -0px;
Width: 60px;
Height: 100px;
}

a[href="/taviskeptical"] {
background-position: -260px -0px;
Width: 115px;
Height: 150px;
}

a[href="/tavinap"] {
background-position: -0px -200px;
Width: 189px;
Height: 100px;
}

a[href="/tavilie"] {
background-position: -189px -200px;
Width: 150px;
Height: 150px;
}

a[href="/taviyay"] {
background-position: -0px -400px;
Width: 162px;
Height: 150px;
}

a[href="/tav3sleep"] {
background-position: -162px -400px;
Width: 148px;
Height: 100px;
}

a[href="/tav3nuzzle"] {
background-position: -0px -600px;
Width: 216px;
Height: 100px;
}

a[href="/lyralyre"] {
background-position: -216px -600px;
Width: 67px;
Height: 100px;
}

a[href="/tavicello"] {
background-position: -283px -600px;
Width: 77px;
Height: 100px;
}


/* Tavimotes End */

/* Other Emotes */

a[href|="/flutterface"], a[href|="/thatirishfella"]
{display:block;clear:none;float:left;background-image:url(%%Other%%)}

a[href="/flutterface"] {
background-position: -0px -0px;
Width: 150px;
Height: 150px;
}

a[href="/thatirishfella"] {
background-position: -150px -0px;
Width: 150px;
Height: 181px;
}


/* Other Emotes End */

/* ==Boxed reddit CSS Theme v1.1.3 - (http://www.reddit.com/r/boxed/)== */