#header
{
background-color:skyblue;
border-bottom: 0px;
}

.side, .titlebox form.toggle, .leavemoderator, .icon-menu a, .side .spacer
{
background-Color:skyblue !important;
}

.morelink .nub
{
display:none;
}

body
{
background-color:aliceblue;
}

/*emotes*/

/*70px emotes*/

a[href|="/trixiedevious"], a[href|="/moi"], a[href|="/trixieoh"], a[href|="/lustystare"], a[href|="/smugsmile"]
{
  display: block;
  clear: none;
  float: left;
  width: 70px;
  height: 70px;
  background-image: url(%%spritesheetA%%) !important
}

/*offsets*/

a[href|="/trixiedevious"] {background-position:-0px -0px}
a[href|="/moi"]           {background-position:-70px -0px}
a[href|="/trixieoh"]      {background-position:-140px -0px}
a[href|="/lustystare"]    {background-position:-210px -0px}
a[href|="/smugsmile"]     {background-position:-280px -0px}


/*100px emotes*/

a[href|="/AnimesqueHappy"], a[href|="/TrixieLovesPlot"], a[href|="/ScaredBabyTrixie"], a[href|="/VeryUnamusedTrixie"], a[href|="/NotSureIfSeriousTrixie"], a[href|="/SillyTrixe"]

{
  display: block;
  clear: none;
  float: left;
  width: 100px;
  height: 100px;
  background-image: url(%%SpritesheetC%%) !important
}

/*offsets*/

a[href|="/AnimesqueHappy"]         {background-position: -0px -0px    }
a[href|="/TrixieLovesPlot"]         {background-position: -100px -0px  }
a[href|="/ScaredBabyTrixie"]             {background-position: -200px -0px  }
a[href|="/VeryUnamusedTrixie"]     {background-position: -300px -0px  }
a[href|="/NotSureIfSeriousTrixie"]       {background-position: -400px -0px  }
a[href|="/SillyTrixe"] {background-position: -500px -0px  }

/*200px emotes*/

a[href|="/notamusedtrixie"], a[href|="/wasthereeveranydoubt"], a[href|="/trixiesocks"], a[href|="/Trixiewillreku"], a[href|="/thebestponyishappy"], a[href|="/ATouchSuprised"], a[href|="/didntseeyouthere"], a[href|="/trixieisbestnerd"],
a[href|="/TrixieAccuse"], a[href|="/TrixieRatherAngry"], a[href|="/ExtremelySuprised"], a[href|="/SuspicousTrixe"] 

{
  display: block;
  clear: none;
  float: left;
  width: 200px;
  height: 200px;
  background-image: url(%%spritesheetB%%) !important
}

/*offsets*/

a[href|="/notamusedtrixie"]      {background-position: -0px -0px    }
a[href|="/wasthereeveranydoubt"] {background-position: -200px -0px  }
a[href|="/trixiesocks"]          {background-position: -400px -0px  }
a[href|="/Trixiewillreku"]       {background-position: -600px -0px  }
a[href|="/thebestponyishappy"]   {background-position: -0px -200px  }
a[href|="/ATouchSuprised"]       {background-position: -200px -200px}
a[href|="/didntseeyouthere"]     {background-position: -400px -200px}   
a[href|="/trixieisbestnerd"]     {background-position: -600px -200px}
a[href|="/TrixieAccuse"]         {background-position: -0px -400px  }
a[href|="/TrixieRatherAngry"]    {background-position: -200px -400px}
a[href|="/ExtremelySuprised"]    {background-position: -400px -400px}
a[href|="/SuspicousTrixe"]       {background-position: -600px -400px}

/*masqueracoonemotes*/

a[href|="/ExplorerTrixie"], a[href|="/LogoTrixie"], a[href|="/ColdTrixie"], a[href|="/NurseTrixie"], a[href|="/CrystalTrix"], a[href|="/BallroomBeauty"] 

 {
    background-image: url(%%SpritesheetD%%);
    background-repeat: no-repeat;
    display: block;
}

 a[href|="/ExplorerTrixie"]{
    width: 187px;
    height: 200px;
    background-position: -5px -5px;
}

a[href|="/LogoTrixie"]{
    width: 149px;
    height: 200px;
    background-position: -202px -5px;
}

a[href|="/NurseTrixie"]{
    width: 187px;
    height: 200px;
    background-position: -5px -215px;
}

 a[href|="/CrystalTrix"]{
    width: 181px;
    height: 200px;
    background-position: -202px -215px;
}

 a[href|="/ColdTrixie"]{
    width: 163px;
    height: 200px;
    background-position: -361px -5px;
}

 a[href|="/BallroomBeauty"]{
    width: 196px;
    height: 200px;
    background-position: -393px -215px;
}

/*heterogeneous emotes*/

a[href|="/EGtrixieisbesthuman"] {
background-position: -0px -0px;
Display: block;
Clear: none;
Float: left;
Width: 153px;
Height: 200px;
background-image:url(%%eqgtrixie%%) !important }

a[href|="/trixieisadorable"] {
Background-position: -0px -0px;
Display: Block;
CLear: None;
Float: left;
Width: 100px;
Height: 131px;
Background-image: url(%%cutetrixie%%) !important }

a[href|="/trixiefilly"] {
Background-position: -0px -0px;
Display: Block;
CLear: None;
Float: left;
Width: 91px;
Height: 115px;
Background-image: url(%%trixiefilly%%) !important }

a[href|="/pleasenoticeme"] {
Background-position: -0px -0px;
Display: Block;
CLear: None;
Float: left;
Width: 160px;
Height: 222px;
Background-image: url(%%tired%%) !important }

a[href|="/LeMeme"] {
Background-position: -0px -0px;
Display: Block;
CLear: None;
Float: left;
Width: 320px;
Height: 334px;
Background-image: url(%%danque%%) !important }



a.author[href$="Protosega"] {font-size:0!important; overflow:hidden; display:inline-block; content: "";}
a.author[href$="Protosega"]:before {font-size:10px!important; visibility:visible!important; content: "scrub"}

a.author[href$="Lulamoon"] {font-size:0!important; overflow:hidden; display:inline-block; content: "";}
a.author[href$="Lulamoon"]:before {font-size:10px!important; visibility:visible!important; content: "The Great and Powerful Trixie!"}