#header
{
background-color:skyblue;
border-bottom: 0px;
}

.side, .titlebox form.toggle, .leavemoderator, .icon-menu a, .side .spacer
{
background-Color:skyblue !important;
}

.morelink .nub
{
display:none;
}

body
{
background-color:aliceblue;
}

/*emotes*/

/*70px emotes*/

a[href|="/trixiedevious"], a[href|="/moi?"], a[href|="/trixieoh"], a[href|="/lustystare"], a[href|="/smugsmile"]
{
  display: block;
  clear: none;
  float: left;
  width: 70px;
  height: 70px;
  background-image: url(%%spritesheetA%%) !important
}

/*offsets*/

a[href|="/trixiedevious"] {background-position:-0px -0px}
a[href|="/moi?"]          {background-position:-70px -0px}
a[href|="/trixieoh"]      {background-position:-140px -0px}
a[href|="/lustystare"]    {background-position:-210px -0px}
a[href|="/smugsmile"]     {background-position:-280px -0px}

/*200px emotes*/

a[href|="/notamusedtrixie"], a[href|="/wasthereeveranydoubt"], a[href|="/trixiesocks"]
{
  display: block;
  clear: none;
  float: left;
  width: 200px;
  height: 200px;
  background-image: url(%%spritesheetB%%) !important
}

/*offsets*/

a[href|="/notamusedtrixie"]      {background-position: -0px -0px}
a[href|="/wasthereeveranydoubt"] {background-position: -200px -0px}
a[href|="/trixiesocks"]          {background-position: -400px -0px}

/*heterogeneous emotes*/

a[href|="/EGtrixieisbesthuman"] {
background-position: -0px -0px;
Display: block;
Clear: none;
Float: left;
Width: 153px;
Height: 200px;
background-image:url(%%eqgtrixie%%) !important }

a[href|="/trixieisadorable"] {
Background-position: -0px -0px;
Display: Block;
CLear: None;
Float: left;
Width: 100px;
Height: 131px;
Background-image: url(%%cutetrixie%%) !important }

