a[href|="/tdhug"] {
    float:left;
    width:165px;
    height:151px;
    background-repeat:no-repeat;
    background-image:url(%%tdhug%%);
}

a[href|="/tddrunk"] {
    float:left;
    width:160px;
    height:124px;
    background-repeat:no-repeat;
    background-image:url(%%tddrunk%%);
}

a[href|="/tdfly"] {
    float:left;
    width:160px;
    height:126px;
    background-repeat:no-repeat;
    background-image:url(%%tdfly%%);
}

a[href|="/tdkiss"] {
    float:left;
    width:150px;
    height:178px;
    background-repeat:no-repeat;
    background-image:url(%%tdkiss%%);
}

a[href|="/tdpoke"] {
    float:left;
    width:180px;
    height:89px;
    background-repeat:no-repeat;
    background-image:url(%%tdpoke%%);
}

a[href|="/tdshocked"] {
    float:left;
    width:150px;
    height:134px;
    background-repeat:no-repeat;
    background-image:url(%%tdshocked%%);
}

a[href|="/tdtaste"] {
    float:left;
    width:150px;
    height:197px;
    background-repeat:no-repeat;
    background-image:url(%%tdtaste%%);
}

a[href|="/tdtummy"] {
    float:left;
    width:170px;
    height:115px;
    background-repeat:no-repeat;
    background-image:url(%%tdtummy%%);
}

a[href|="/tdwub"] {
    float:left;
    width:180px;
    height:94px;
    background-repeat:no-repeat;
    background-image:url(%%tdwub%%);
}