a[href|="/twidetermined"] {
display: block;
clear: none;
float: left;
width: 70px;
height: 70px;
background-image: url(%%twidetermined%%);
}
a[href|="/twigasp"] {
display: block;
clear: none;
float: left;
width: 70px;
height: 70px;
background-image: url(%%twigasp%%);
}
a[href|="/twihuh"] {
display: block;
clear: none;
float: left;
width: 70px;
height: 70px;
background-image: url(%%twihuh%%);
}
a[href|="/twiadorkable"] {
display: block;
clear: none;
float: left;
width: 70px;
height: 70px;
background-image: url(%%twiadorkable%%);
}
a[href|="/twiwalk"] {
display: block;
clear: none;
float: left;
width: 100px;
height: 150px;
background-image: url(%%twiwalk%%);
}
a[href|="/twiaplus"] {
display: block;
clear: none;
float: left;
width: 160px;
height: 146px;
background-image: url(%%twiaplus%%);
}
a[href|="/lightningsalute"] {
display: block;
clear: none;
float: left;
width: 220px;
height: 258px;
background-image: url(%%lightningsalute%%);
}
a[href|="/twipotion"] {
display: block;
clear: none;
float: left;
width: 220px;
height: 210px;
background-image: url(%%twipotion%%);
}
a[href|="/facepaper"] {
display: block;
clear: none;
float: left;
width: 220px;
height: 200px;
background-image: url(%%facepaper%%);
}
a[href|="/twitongue"] {
display: block;
clear: none;
float: left;
width: 220px;
height: 343px;
background-image: url(%%twitongue%%);
}
a[href|="/8bitsombra"] {
display: block;
clear: none;
float: left;
width: 256px;
height: 376px;
background-image: url(%%8bitsombra%%);
}
a[href|="/assrub"] {
display: block;
clear: none;
float: left;
width: 93px;
height: 100px;
background-image: url(%%assrub%%);
}
a[href|="/twiohreally"] {
display: block;
clear: none;
float: left;
width: 158px;
height: 150px;
background-image: url(%%Twiohreally%%);
}
a[href|="/twilipride"] {
display: block;
clear: none;
float: left;
width: 120px;
height: 150px;
background-image: url(%%twilipride%%);
}
a[href|="/twinervouslaugh"] {
display: block;
clear: none;
float: left;
width: 137px;
height: 150px;
background-image: url(%%twinervouslaugh%%);
}
a[href|="/twidrugs"] {
display: block;
clear: none;
float: left;
width: 127px;
height: 150px;
background-image: url(%%twidrugs%%);
}
a[href|="/twipetme"] {
display: block;
clear: none;
float: left;
width: 180px;
height: 150px;
background-image: url(%%twipetme%%);
}
a[href|="/twilightbattle"] {
display: block;
clear: none;
float: left;
width: 91px;
height: 150px;
background-image: url(%%twilightbattle%%);
}
a[href|="/twilightworried"] {
display: block;
clear: none;
float: left;
width: 207px;
height: 150px;
background-image: url(%%twilightworried%%);
}
a[href|="/twimagicwings"] {
display: block;
clear: none;
float: left;
width: 196px;
height: 150px;
background-image: url(%%twimagicwings%%);
}
a[href|="/twilightfly"] {
display: block;
clear: none;
float: left;
width: 299px;
height: 150px;
background-image: url(%%twilightfly%%);
}
a[href|="/twidress"] {
display: block;
clear: none;
float: left;
width: 139px;
height: 150px;
background-image: url(%%twidress%%);
}
a[href|="/twifeather"] {
display: block;
clear: none;
float: left;
width: 131px;
height: 150px;
background-image: url(%%twifeather%%);
}
a[href|="/twiohilikethis"] {
display: block;
clear: none;
float: left;
width: 114px;
height: 150px;
background-image: url(%%twiohilikethis%%);
}
a[href|="/twiimsorrywhat"] {
display: block;
clear: none;
float: left;
width: 100px;
height: 150px;
background-image: url(%%twiimsorrywhat%%);
}
a[href|="/twinurse"] {
display: block;
clear: none;
float: left;
width: 150px;
height: 150px;
background-image: url(%%twinurse%%);
}
a[href|="/twifeather"] {
display: block;
clear: none;
float: left;
width: 131px;
height: 150px;
background-image: url(%%twifeather%%);
}
a[href|="/twihaveyouknow"] {
display: block;
clear: none;
float: left;
width: 192px;
height: 150px;
background-image: url(%%twihaveyouknow%%);
}
a[href|="/scientwi"] {
display: block;
clear: none;
float: left;
width: 165px;
height: 150px;
background-image: url(%%scientwi%%);
}
a[href|="/dmtwi"] {
display: block;
clear: none;
float: left;
width: 198px;
height: 150px;
background-image: url(%%dmtwi%%);
}
a[href|="/twicuteblush"] {
display: block;
clear: none;
float: left;
width: 200px;
height: 150px;
background-image: url(%%twicuteblush%%);
}
a[href|="/twiskates"] {
display: block;
clear: none;
float: left;
width: 210px;
height: 150px;
background-image: url(%%twiskates%%);
}
a[href|="/booksareawesome"] {
display: block;
clear: none;
float: left;
width: 195px;
height: 150px;
background-image: url(%%booksareawesome%%);
}
a[href|="/twilirage"] {
display: block;
clear: none;
float: left;
width: 207px;
height: 150px;
background-image: url(%%twilirage%%);
}
a[href|="/stillbestpony"] {
display: block;
clear: none;
float: left;
width: 257px;
height: 150px;
background-image: url(%%stillbestpony%%);
}
a[href|="/enderslayer"] {
display: block;
clear: none;
float: left;
width: 168px;
height: 150px;
background-image: url(%%enderslayer%%);
}
a[href|="/twilightthegrey"] {
display: block;
clear: none;
float: left;
width: 120px;
height: 150px;
background-image: url(%%twilightthegrey%%);
}
a[href|="/sbrapestare"] {
display: block;
clear: none;
float: left;
width: 557px;
height: 570px;
background-image: url(%%sbrapestare%%);
}
a[href|="/twihomer"] {
display: block;
clear: none;
float: left;
width: 162px;
height: 250px;
background-image: url(%%twihomer%%);
}
.subscribers .word {
display: none;
}  
.subscribers .number::after {
content:  " Purple Smart Fans";
}
.users-online .word {
display: none;
}  
.users-online .number::after {
content: " Twilight Lovers Here Now";
}
.side .helplink + .title h1 { display: none; } .side .helplink + .title::before { content: 'Masters of the pone'; display: block; font-size: 130%; color: gray; text-transform: uppercase;
}
.flairselector .customizer {
display: none !important;
}

.flair {
border: none !important;
padding:0px;
background: url(%%spritesheet%%) no-repeat -9999px -9999px;
display:inline-block;
}
