.stylesheet-customize-container { width: 100%; }
#subreddit_stylesheet { display: block; overflow: hidden; }
.sheets { margin: 0;}
#stylesheet_contents {
  padding-left: 5px;
  padding-top: 5px;
  background-color: white;
  color: #042eae;
  height: 500px;
}
.morelink
{
font-weight:normal;
letter-spacing:0;
background: purple;
border: none;
-moz-border-radius:2px;
-webkit-border-radius:2px;
-khtml-border-radius:2px;
border-radius:2px;
height: 30px;
line-height: 30px;
overflow: hidden;
color: white;
}

.morelink:hover
{
background: #A6B9CB;
background-color: #FF0000;
border-color: #FF0000;
}

.morelink .nub
{
display: none;
}

.morelink
{
color:#FFF;
font-family:Verdana, Arial, sans-serif;
font-size:16px;
width: 145px;
}

.morelink a, .morelink a:hover
{
color: white;
}

.sidebox.submit-link .morelink::before
{
display: block;
clear: none;
content: "Submit a Link";
font-size: 95%;
}

.sidebox.submit-text .morelink::before
{
display: block;
clear: none;
content: "Submit a Self Post";
font-size: 90%;
}

.sidebox.submit .morelink a
{
position: absolute;
top: 0;
padding-left: 1000px;
font-size: 0px;
text-align: right;
color: #56a6f7;
}

.sidebox.submit.submit-link {
width: 150px;
}

.sixebos.submit.submit-text
{
margin-top: -42px;
margin-left: 153px;
}

.sidebox.create
{
display: none;
}

.sidebox.submit.disabled
{
display: none;
}





body {
background: url(%%twilightbackground%%)
no-repeat fixed center center
}

#header {background-color: #BB75C9;}

a[href|="/twidetermined"] {
display: block;
clear: none;
float: left;
width: 70px;
height: 70px;
background-image: url(%%twidetermined%%);
}
a[href|="/twigasp"] {
display: block;
clear: none;
float: left;
width: 70px;
height: 70px;
background-image: url(%%twigasp%%);
}
a[href|="/twihuh"] {
display: block;
clear: none;
float: left;
width: 70px;
height: 70px;
background-image: url(%%twihuh%%);
}
a[href|="/twiadorkable"] {
display: block;
clear: none;
float: left;
width: 70px;
height: 70px;
background-image: url(%%twiadorkable%%);
}
a[href|="/twiwalk"] {
display: block;
clear: none;
float: left;
width: 100px;
height: 150px;
background-image: url(%%twiwalk%%);
}
a[href|="/twiaplus"] {
display: block;
clear: none;
float: left;
width: 160px;
height: 146px;
background-image: url(%%twiaplus%%);
}
a[href|="/lightningsalute"] {
display: block;
clear: none;
float: left;
width: 220px;
height: 258px;
background-image: url(%%lightningsalute%%);
}
a[href|="/twipotion"] {
display: block;
clear: none;
float: left;
width: 220px;
height: 210px;
background-image: url(%%twipotion%%);
}
a[href|="/facepaper"] {
display: block;
clear: none;
float: left;
width: 220px;
height: 200px;
background-image: url(%%facepaper%%);
}
a[href|="/twitongue"] {
display: block;
clear: none;
float: left;
width: 220px;
height: 343px;
background-image: url(%%twitongue%%);
}
a[href|="/8bitsombra"] {
display: block;
clear: none;
float: left;
width: 256px;
height: 376px;
background-image: url(%%8bitsombra%%);
}


.subscribers .word {
display: none;
}  
.subscribers .number::after {
content: " best ponies";
}
.users-online .word {
display: none;
}  
.users-online .number::after {
content: " Twilight-lovers here now";
}
.side .helplink + .title h1 { display: none; } .side .helplink + .title::before { content: 'Masters of the pone'; display: block; font-size: 130%; color: gray; text-transform: uppercase;
}
.flairselector .customizer {
display: none !important;
}

.flair {
border: none !important;
padding:0px;
background: url(%%spritesheet%%) no-repeat -9999px -9999px;
display:inline-block;
}
.flair-cadancesmug{ background-position: 0 0; width: 35px; height: 36px; } 
.flair-dashaloo{ background-position: 0 -86px; width: 35px; height: 44px; } 
.flair-spitfireface{ background-position: 0 -180px; width: 35px; height: 41px; } 

/*Twilight is a super fat ugly pone and a useless princess.*/