#header-img 
{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

a[href="/twistarfriends"], a[href="/twistarlisten"], a[href="/twistarsun"], a[href="/twistorytime"], a[href="/snowfallclassy"], a[href="/twistarfusion"]{

  display:block;

  clear:none;

  float:left;

  background-image:url(%%twistarmotes01%%);

}

a[href|="/twistarfriends"]{

  background-position:-0px -0px;

  width:120px;

  height:110px;

}

a[href|="/twistarlisten"]{

  background-position:-0px -110px;

  width:120px;

  height:110px;

}

a[href|="/twistarsun"]{

  background-position:-0px -220px;

  width:120px;

  height:110px;

}

a[href|="/twistorytime"]{

  background-position:-0px -330px;

  width:120px;

  height:110px;

}

a[href|="/snowfallclassy"]{

  background-position:-0px -440px;

  width:120px;

  height:110px;

}

a[href|="/twistarfusion"]{

  background-position:-0px -550px;

  width:120px;

  height:110px;

}

a[href="/twistarmagic"], a[href="/twistarmad"], a[href="/twistarcomfort"], a[href="/twistarsitting"], a[href="/twistarbook"], a[href="/twistarsleep"]{

  display:block;

  clear:none;

  float:left;

  background-image:url(%%twistarmotes02%%);

}

a[href|="/twistarmagic"]{

  background-position:-0px -0px;

  width:120px;

  height:110px;

}

a[href|="/twistarmad"]{

  background-position:-0px -110px;

  width:120px;

  height:110px;

}

a[href|="/twistarcomfort"]{

  background-position:-0px -220px;

  width:120px;

  height:110px;

}

a[href|="/twistarsitting"]{

  background-position:-0px -330px;

  width:120px;

  height:110px;

}

a[href|="/twistarbook"]{

  background-position:-0px -440px;

  width:120px;

  height:110px;

}

a[href|="/twistarsleep"]{

  background-position:-0px -550px;

  width:120px;

  height:110px;

}

a[href="/twistarbattle"], a[href="/twistarmeh"], a[href="/twistarsquishy"], a[href="/twistartherethere"], a[href="/twistaryoumad"], a[href="/twistarpersonalspace"]{

  display:block;

  clear:none;

  float:left;

  background-image:url(%%twistarmotes03%%);

}

a[href|="/twistarbattle"]{

  background-position:-0px -0px;

  width:120px;

  height:110px;

}

a[href|="/twistarmeh"]{

  background-position:-0px -110px;

  width:120px;

  height:110px;

}

a[href|="/twistarsquishy"]{

  background-position:-0px -220px;

  width:120px;

  height:110px;

}

a[href|="/twistartherethere"]{

  background-position:-0px -330px;

  width:120px;

  height:110px;

}

a[href|="/twistaryoumad"]{

  background-position:-0px -440px;

  width:120px;

  height:110px;

}

a[href|="/twistarpersonalspace"]{

  background-position:-0px -550px;

  width:120px;

  height:110px;

}