
a[href^="/headlesschicken"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 105px;
    height: 105px;
    background-image: url(%%easemyscoot%%)
    }
a[href^="/dashbat"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 140px;
    height: 140px;
    background-image: url(%%rdbreat%%)
    }


a[href^="/easemyscoots"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 105px;
    height: 105px;
    background-image: url(%%easemyscoots%%)
    }

a[href^="/rdbreath"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 140px;
    height: 140px;
    background-image: url(%%rdbreath%%)
    }


a[href^="/badpinkie"], a[href^="/ppbad"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 280px;
    background-image: url(%%bad-pinky-comic-280%%)
    }

a[href^="/deepcelebounce"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 97px;
    height: 85px;
    background-image: url(%%deepcelebounce%%)
    }

a[href^="/deepcelebounce"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 97px;
    height: 85px;
    background-image: url(%%deepcelebounce%%)
    }

a[href^="/redtoxinbob"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 90px;
    height: 140px;
    background-image: url(%%redtoxinbob%%)
    }

a[href^="/lbexcited"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 164px;
    height: 140px;
    background-image: url(%%lbexcited%%)
    }

a[href^="/lbbob"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 72px;
    height: 140px;
    background-image: url(%%lbbob%%)
    }

a[href^="/lbclop"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 72px;
    height: 72px;
    background-image: url(%%lbclop%%)
    }

a[href^="/lbclop"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 72px;
    height: 72px;
    background-image: url(%%lbclop%%)
    }

a[href^="/lbshortvideo"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 174px;
    height: 140px;
    background-image: url(%%lbshortvideo%%)
    }

a[href^="/RDGEDDAN"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 183px;
    height: 140px;
    background-image: url(%%RDGEDDAN%%)
    }

a[href^="/deepcelewave"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 161px;
    height: 120px;
    background-image: url(%%DEEPCELEWAVE%%)
    }

a[href^="/twilikey"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 181px;
    height: 140px;
    background-image: url(%%twilikey%%)
    }

a[href^="/scrunchbattlelyra"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 249px;
    height: 140px;
    background-image: url(%%scrunchbattlelyra%%)
    }

a[href^="/dtrofl"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 140px;
    height: 140px;
    background-image: url(%%DTLAUGH%%)
    }

a[href^="/ajbrow"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 155px;
    height: 140px;
    background-image: url(%%ajbrow%%)
    }

a[href^="/rdpzecoradance"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 140px;
    height: 140px;
    background-image: url(%%rdpzecoradance%%)
    }

a[href^="/pptrue"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 179px;
    height: 140px;
    background-image: url(%%pptrue%%)
    }

a[href^="/derpyflag"], a[href^="/derpycheer"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 249px;
    height: 140px;
    background-image: url(%%DERPFLAG%%)
    }

a[href^="/chibitwiwalk"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%chibitwiwalk%%)
    }

a[href^="/everybodypanic"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 300px;
    height: 150px;
    background-image: url(%%everybodypanic%%)
    }

a[href^="/multihoofdrifting"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 350px;
    height: 79px;
    background-image: url(%%multihoofdrifting%%)
    }

a[href^="/rarheadbang"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 193px;
    height: 140px;
    background-image: url(%%rarheadbang%%)
    }
/*
a[href^="/fsjamz"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 300px;
    height: 140px;
    background-image: url(%%FSDANCE%%)
    }

a[href^="/rdpdancez"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 140px;
    background-image: url(%%RDPDANCE%%)
    }

a[href^="/ivyragez"], a[href^="/ieragez"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 140px;
    background-image: url(%%IVYRAGE%%)
    }
*/
a[href^="/pfudord"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 140px;
    height: 181px;
    background-image: url(%%PFUDORD%%)
    }

a[href^="/horsepower"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 193px;
    height: 140px;
    background-image: url(%%HORSEPOWER%%)
    }

a[href^="/gottaspinfast"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 155px;
    height: 140px;
    background-image: url(%%gottaspinfast%%)
    }


a[href|="/longbonz"], a[href|="/longbonstairs"], a[href|="/skippytherock"], a[href|="/hoo2"], a[href|="/hoo1"], a[href|="/eeeeviiil"], a[href|="/talltwi"], a[href|="/lbsalute"], a[href|="/lbcomicscrunch"], a[href|="/lbdive"], a[href|="/lbintro"], a[href|="/lbohthis"], a[href|="/lbpushthebutton"], a[href|="/lbrearing"], a[href|="/lbrelaxing"], a[href|="/lbwalk"], a[href|="/lbshrug"], a[href|="/lbteeny"], a[href|="/lbglance"], a[href|="/sbsmirk"]

 {
    display: block;
    clear: none;
    float: left;
    background-image: url(%%pngsheet1%%) !important
    }

a[href|="/longbonz"] {
    width: 140px;
    height: 140px;
    background-position: -0px -0px
    }
a[href|="/longbonstairs"] {
    width: 140px;
    height: 175px;
    background-position: -140px -0px
    }
a[href|="/skippytherock"] {
    width: 140px;
    height: 100px;
    background-position: -280px -0px
    }
a[href|="/hoo2"] {
    width: 140px;
    height: 140px;
    background-position: -420px -0px
    }
a[href|="/hoo1"] {
    width: 140px;
    height: 140px;
    background-position: -560px -0px
    }
START-PONYSCRIPT-IGNORE { color: red; }
/* Ignored CSS */
a[href|="/eeeeviiil"] {
    width: 140px;
    height: 112px;
    background-position: -0px -210px
    }
END-PONYSCRIPT-IGNORE { color: red; }
a[href|="/talltwi"] {
    width: 93px;
    height: 140px;
    background-position: -140px -210px
    }
a[href|="/lbsalute"] {
    width: 161px;
    height: 140px;
    background-position: -233px -210px
    }
a[href|="/lbcomicscrunch"] {
    width: 93px;
    height: 140px;
    background-position: -394px -210px
    }
a[href|="/lbdive"] {
    width: 120px;
    height: 140px;
    background-position: -487px -210px
    }
a[href|="/lbintro"] {
    width: 222px;
    height: 140px;
    background-position: -0px -350px
    }
a[href|="/lbohthis"] {
    width: 102px;
    height: 140px;
    background-position: -222px -350px
    }
a[href|="/lbpushthebutton"] {
    width: 238px;
    height: 140px;
    background-position: -324px -350px
    }
a[href|="/lbglance"] {
    width: 167px;
    height: 140px;
    background-position: -324px -350px
    }
a[href|="/lbrearing"] {
    width: 100px;
    height: 140px;
    background-position: -562px -350px
    }
a[href|="/lbrelaxing"] {
    width: 152px;
    height: 140px;
    background-position: -0px -490px
    }
a[href|="/lbwalk"] {
    width: 134px;
    height: 140px;
    background-position: -152px -490px
    }
a[href|="/lbshrug"] {
    width: 72px;
    height: 70px;
    background-position: -0px -140px
    }
a[href|="/lbteeny"] {
    width: 50px;
    height: 50px;
    background-position: -72px -160px
    }
a[href|="/sbsmirk"] {
    width: 129px;
    height: 140px;
    background-position: -286px -490px
    }