a[href^="/lbclop"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 72px;
    height: 72px;
    background-image: url(%%lbclop%%)
    }

a[href^="/lbclop"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 72px;
    height: 72px;
    background-image: url(%%lbclop%%)
    }

a[href^="/lbshortvideo"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 174px;
    height: 140px;
    background-image: url(%%lbshortvideo%%)
    }

a[href^="/RDGEDDAN"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 183px;
    height: 140px;
    background-image: url(%%RDGEDDAN%%)
    }

a[href^="/deepcelewave"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 161px;
    height: 120px;
    background-image: url(%%DEEPCELEWAVE%%)
    }

a[href^="/twilikey"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 181px;
    height: 140px;
    background-image: url(%%twilikey%%)
    }

a[href^="/scrunchbattlelyra"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 249px;
    height: 140px;
    background-image: url(%%scrunchbattlelyra%%)
    }

a[href^="/dtrofl"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 140px;
    height: 140px;
    background-image: url(%%DTLAUGH%%)
    }

a[href^="/ajbrow"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 155px;
    height: 140px;
    background-image: url(%%ajbrow%%)
    }

a[href^="/rdpzecoradance"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 140px;
    height: 140px;
    background-image: url(%%rdpzecoradance%%)
    }

a[href^="/pptrue"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 179px;
    height: 140px;
    background-image: url(%%pptrue%%)
    }

a[href^="/derpyflag"], a[href^="/derpycheer"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 249px;
    height: 140px;
    background-image: url(%%DERPFLAG%%)
    }

a[href^="/chibitwiwalk"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(%%chibitwiwalk%%)
    }

a[href^="/APTWK"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 140px;
    height: 140px;
    background-image: url(%%APTWK%%)
    }


a[href^="/everybodypanic"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 300px;
    height: 150px;
    background-image: url(%%everybodypanic%%)
    }

a[href^="/multihoofdrifting"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 350px;
    height: 79px;
    background-image: url(%%multihoofdrifting%%)
    }

a[href^="/rarheadbang"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 193px;
    height: 140px;
    background-image: url(%%rarheadbang%%)
    }
/*
a[href^="/fsjamz"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 300px;
    height: 140px;
    background-image: url(%%FSDANCE%%)
    }

a[href^="/rdpdancez"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 150px;
    height: 140px;
    background-image: url(%%RDPDANCE%%)
    }

a[href^="/ivyragez"], a[href^="/ieragez"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 140px;
    background-image: url(%%IVYRAGE%%)
    }
*/
a[href^="/pfudord"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 140px;
    height: 181px;
    background-image: url(%%PFUDORD%%)
    }

a[href^="/horsepower"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 193px;
    height: 140px;
    background-image: url(%%HORSEPOWER%%)
    }

a[href^="/gottaspinfast"] {
    background-position: 0px 0px;
    display: block;
    clear: none;
    float: left;
    width: 155px;
    height: 140px;
    background-image: url(%%gottaspinfast%%)
    }


a[href|="/longbonz"], a[href|="/longbonstairs"], a[href|="/skippytherock"], a[href|="/hoo2"], a[href|="/hoo1"], a[href|="/eeeeviiil"], a[href|="/talltwi"], a[href|="/lbsalute"]

 {
    display: block;
    clear: none;
    float: left;
    background-image: url(%%pngsheet1%%) !important
    }

a[href|="/longbonstairs"] {
    width: 140px;
    height: 140px;
    background-position: -0px -0px
    }
a[href|="/longbonstairs"] {
    width: 140px;
    height: 167px;
    background-position: -140px -0px
    }
a[href|="/skippytherock"] {
    width: 140px;
    height: 99px;
    background-position: -280px -0px
    }
a[href|="/hoo2"] {
    width: 140px;
    height: 140px;
    background-position: -420px -0px
    }
a[href|="/hoo1"] {
    width: 140px;
    height: 140px;
    background-position: -560px -0px
    }
START-PONYSCRIPT-IGNORE { color: red; }
/* Ignored CSS */
a[href|="/eeeeviiil"] {
    width: 140px;
    height: 112px;
    background-position: -0px -210px
    }
END-PONYSCRIPT-IGNORE { color: red; }
a[href|="/talltwi"] {
    width: 93px;
    height: 140px;
    background-position: -140px -210px
    }
a[href|="/lbsalute"] {
    width: 165px;
    height: 140px;
    background-position: -233px -210px
    }