Package: net.ponymotes.bpm
Name: PonyMotes for iOS
Version: 0.2
Architecture: iphoneos-arm
Description: Thousands of ponymotes for Alien Blue
Depiction: http://shugabuga.github.io/bpm-apt/web/depictions/index.html?p=betterponymotes
Homepage: https://ponymotes.net/bpm
Maintainer: HeyItsShuga <heyitsshuga@gmail.com>
Author: HeyItsShuga <heyitsshuga@gmail.com>
Section: Emotes
