<widget xmlns="http://www.w3.org/ns/widgets" id="http://rainbow.mlas1.us/" version="22.45">
    <name short="BetterPonymotes">Better Ponymotes</name>
    <description>View Reddit ponymotes across the site</description>
    <author>Typhos</author>
    <license href="http://mozilla.org/MPL/2.0/">Licensed under the terms of the MPL 2.0</license>
    <update-description href="http://rainbow.mlas1.us/opera-updates.xml"/>
    <access origin="http://reddit.com" subdomains="true"/>
    <access origin="https://reddit.com" subdomains="true"/>
</widget>
