/*
 * ExtraCSS flags file for Opera. Stolen from:
 *
 *    http://userstyles.org/styles/58923/reddit-my-little-chaos-script-keyframes
 *
 * And edited to suit Opera, which supports the same syntax as Firefox with
 * only vendor prefix changes.
 *
 * Rewritten extensively to use CSS classes.
 */

/*
 * Opera does not support 3d transformations, which means that all but -zspin
 * and similar are commented out here. Additionally, the -o prefix goes away
 * in what is currently Opera Next (12.50), meaning this will break when that
 * becomes stable and people start upgrading. There's no nice way around that
 * other than duplicating a lot, since I don't think you can combine @keyframes
 * and @-o-keyframes. Since including the wrong one generates a huge amount of
 * console error spam (Opera treats them as invalid), they're omitted.
 *
 * rotateZ() is equivalent to rotate(), except for the fact that the former is
 * unsupported, so this file is heavily edited to replace usages while retaining
 * compatibility.
 *
 * Opera also seems to have problems with from{scaleX(n)}to{scaleX(n)}, where
 * instead of holding the scale across the animation, the emote simply
 * disappears. This makes -r not work except on its own.
 */

/*== keyframes ==*/
/*
@keyframes spin {from{transform:rotate(0deg)scaleX(1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)} to{transform:rotate(0deg)scaleX(1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)}}
@keyframes spin-45{from{transform:rotate(45deg)scaleX(1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)} to{transform:rotate(45deg)scaleX(1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)}}
@keyframes spin-90{from{transform:rotate(90deg)scaleX(1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)} to{transform:rotate(90deg)scaleX(1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)}}
@keyframes spin-135{from{transform:rotate(135deg)scaleX(1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)} to{transform:rotate(135deg)scaleX(1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)}}
@keyframes spin-180{from{transform:rotate(180deg)scaleX(1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)} to{transform:rotate(180deg)scaleX(1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)}}
@keyframes spin-225{from{transform:rotate(225deg)scaleX(1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)} to{transform:rotate(225deg)scaleX(1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)}}
@keyframes spin-270{from{transform:rotate(270deg)scaleX(1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)} to{transform:rotate(270deg)scaleX(1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)}}
@keyframes spin-315{from{transform:rotate(315deg)scaleX(1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)} to{transform:rotate(315deg)scaleX(1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)}}
@keyframes spin-r{from{transform:rotate(0deg)scaleX(-1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)} to{transform:rotate(0deg)scaleX(-1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)}}
@keyframes spin-45-r{from{transform:rotate(45deg)scaleX(-1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)} to{transform:rotate(45deg)scaleX(-1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)}}
@keyframes spin-90-r{from{transform:rotate(90deg)scaleX(-1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)} to{transform:rotate(90deg)scaleX(-1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)}}
@keyframes spin-135-r{from{transform:rotate(135deg)scaleX(-1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)} to{transform:rotate(135deg)scaleX(-1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)}}
@keyframes spin-180-r{from{transform:rotate(180deg)scaleX(-1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)} to{transform:rotate(180deg)scaleX(-1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)}}
@keyframes spin-225-r{from{transform:rotate(225deg)scaleX(-1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)} to{transform:rotate(225deg)scaleX(-1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)}}
@keyframes spin-270-r{from{transform:rotate(270deg)scaleX(-1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)} to{transform:rotate(270deg)scaleX(-1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)}}
@keyframes spin-315-r{from{transform:rotate(315deg)scaleX(-1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)} to{transform:rotate(315deg)scaleX(-1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)}}
@keyframes xspin{from{transform:rotate(0deg)scaleX(1)rotateX(0deg)} to{transform:rotate(0deg)scaleX(1)rotateX(360deg)}}
@keyframes xspin-45{from{transform:rotate(45deg)scaleX(1)rotateX(0deg)} to{transform:rotate(45deg)scaleX(1)rotateX(360deg)}}
@keyframes xspin-90{from{transform:rotate(90deg)scaleX(1)rotateX(0deg)} to{transform:rotate(90deg)scaleX(1)rotateX(360deg)}}
@keyframes xspin-135{from{transform:rotate(135deg)scaleX(1)rotateX(0deg)} to{transform:rotate(135deg)scaleX(1)rotateX(360deg)}}
@keyframes xspin-180{from{transform:rotate(180deg)scaleX(1)rotateX(0deg)} to{transform:rotate(180deg)scaleX(1)rotateX(360deg)}}
@keyframes xspin-225{from{transform:rotate(225deg)scaleX(1)rotateX(0deg)} to{transform:rotate(225deg)scaleX(1)rotateX(360deg)}}
@keyframes xspin-270{from{transform:rotate(270deg)scaleX(1)rotateX(0deg)} to{transform:rotate(270deg)scaleX(1)rotateX(360deg)}}
@keyframes xspin-315{from{transform:rotate(315deg)scaleX(1)rotateX(0deg)} to{transform:rotate(315deg)scaleX(1)rotateX(360deg)}}
@keyframes xspin-r{from{transform:rotate(0deg)scaleX(-1)rotateX(0deg)} to{transform:rotate(0deg)scaleX(-1)rotateX(360deg)}}
@keyframes xspin-45-r{from{transform:rotate(45deg)scaleX(-1)rotateX(0deg)} to{transform:rotate(45deg)scaleX(-1)rotateX(360deg)}}
@keyframes xspin-90-r{from{transform:rotate(90deg)scaleX(-1)rotateX(0deg)} to{transform:rotate(90deg)scaleX(-1)rotateX(360deg)}}
@keyframes xspin-135-r{from{transform:rotate(135deg)scaleX(-1)rotateX(0deg)} to{transform:rotate(135deg)scaleX(-1)rotateX(360deg)}}
@keyframes xspin-180-r{from{transform:rotate(180deg)scaleX(-1)rotateX(0deg)} to{transform:rotate(180deg)scaleX(-1)rotateX(360deg)}}
@keyframes xspin-225-r{from{transform:rotate(225deg)scaleX(-1)rotateX(0deg)} to{transform:rotate(225deg)scaleX(-1)rotateX(360deg)}}
@keyframes xspin-270-r{from{transform:rotate(270deg)scaleX(-1)rotateX(0deg)} to{transform:rotate(270deg)scaleX(-1)rotateX(360deg)}}
@keyframes xspin-315-r{from{transform:rotate(315deg)scaleX(-1)rotateX(0deg)} to{transform:rotate(315deg)scaleX(-1)rotateX(360deg)}}
@keyframes yspin{from{transform:rotate(0deg)scaleX(1)rotatey(0deg)} to{transform:rotate(0deg)scaleX(1)rotatey(360deg)}}
@keyframes yspin-45{from{transform:rotate(45deg)scaleX(1)rotatey(0deg)} to{transform:rotate(45deg)scaleX(1)rotatey(360deg)}}
@keyframes yspin-90{from{transform:rotate(90deg)scaleX(1)rotatey(0deg)} to{transform:rotate(90deg)scaleX(1)rotatey(360deg)}}
@keyframes yspin-135{from{transform:rotate(135deg)scaleX(1)rotatey(0deg)} to{transform:rotate(135deg)scaleX(1)rotatey(360deg)}}
@keyframes yspin-180{from{transform:rotate(180deg)scaleX(1)rotatey(0deg)} to{transform:rotate(180deg)scaleX(1)rotatey(360deg)}}
@keyframes yspin-225{from{transform:rotate(225deg)scaleX(1)rotatey(0deg)} to{transform:rotate(225deg)scaleX(1)rotatey(360deg)}}
@keyframes yspin-270{from{transform:rotate(270deg)scaleX(1)rotatey(0deg)} to{transform:rotate(270deg)scaleX(1)rotatey(360deg)}}
@keyframes yspin-315{from{transform:rotate(315deg)scaleX(1)rotatey(0deg)} to{transform:rotate(315deg)scaleX(1)rotatey(360deg)}}
@keyframes yspin-r{from{transform:rotate(0deg)scaleX(-1)rotatey(0deg)} to{transform:rotate(0deg)scaleX(-1)rotatey(360deg)}}
@keyframes yspin-45-r{from{transform:rotate(45deg)scaleX(-1)rotatey(0deg)} to{transform:rotate(45deg)scaleX(-1)rotatey(360deg)}}
@keyframes yspin-90-r{from{transform:rotate(90deg)scaleX(-1)rotatey(0deg)} to{transform:rotate(90deg)scaleX(-1)rotatey(360deg)}}
@keyframes yspin-135-r{from{transform:rotate(135deg)scaleX(-1)rotatey(0deg)} to{transform:rotate(135deg)scaleX(-1)rotatey(360deg)}}
@keyframes yspin-180-r{from{transform:rotate(180deg)scaleX(-1)rotatey(0deg)} to{transform:rotate(180deg)scaleX(-1)rotatey(360deg)}}
@keyframes yspin-225-r{from{transform:rotate(225deg)scaleX(-1)rotatey(0deg)} to{transform:rotate(225deg)scaleX(-1)rotatey(360deg)}}
@keyframes yspin-270-r{from{transform:rotate(270deg)scaleX(-1)rotatey(0deg)} to{transform:rotate(270deg)scaleX(-1)rotatey(360deg)}}
@keyframes yspin-315-r{from{transform:rotate(315deg)scaleX(-1)rotatey(0deg)} to{transform:rotate(315deg)scaleX(-1)rotatey(360deg)}}
@keyframes zspin{from{transform:rotate(0deg)scaleX(1)rotatez(0deg)} to{transform:rotate(0deg)scaleX(1)rotatez(360deg)}}
@keyframes zspin-45{from{transform:rotate(45deg)scaleX(1)rotatez(0deg)} to{transform:rotate(45deg)scaleX(1)rotatez(360deg)}}
@keyframes zspin-90{from{transform:rotate(90deg)scaleX(1)rotatez(0deg)} to{transform:rotate(90deg)scaleX(1)rotatez(360deg)}}
@keyframes zspin-135{from{transform:rotate(135deg)scaleX(1)rotatez(0deg)} to{transform:rotate(135deg)scaleX(1)rotatez(360deg)}}
@keyframes zspin-180{from{transform:rotate(180deg)scaleX(1)rotatez(0deg)} to{transform:rotate(180deg)scaleX(1)rotatez(360deg)}}
@keyframes zspin-225{from{transform:rotate(225deg)scaleX(1)rotatez(0deg)} to{transform:rotate(225deg)scaleX(1)rotatez(360deg)}}
@keyframes zspin-270{from{transform:rotate(270deg)scaleX(1)rotatez(0deg)} to{transform:rotate(270deg)scaleX(1)rotatez(360deg)}}
@keyframes zspin-315{from{transform:rotate(315deg)scaleX(1)rotatez(0deg)} to{transform:rotate(315deg)scaleX(1)rotatez(360deg)}}
@keyframes zspin-r{from{transform:rotate(0deg)scaleX(-1)rotatez(0deg)} to{transform:rotate(0deg)scaleX(-1)rotatez(360deg)}}
@keyframes zspin-45-r{from{transform:rotate(45deg)scaleX(-1)rotatez(0deg)} to{transform:rotate(45deg)scaleX(-1)rotatez(360deg)}}
@keyframes zspin-90-r{from{transform:rotate(90deg)scaleX(-1)rotatez(0deg)} to{transform:rotate(90deg)scaleX(-1)rotatez(360deg)}}
@keyframes zspin-135-r{from{transform:rotate(135deg)scaleX(-1)rotatez(0deg)} to{transform:rotate(135deg)scaleX(-1)rotatez(360deg)}}
@keyframes zspin-180-r{from{transform:rotate(180deg)scaleX(-1)rotatez(0deg)} to{transform:rotate(180deg)scaleX(-1)rotatez(360deg)}}
@keyframes zspin-225-r{from{transform:rotate(225deg)scaleX(-1)rotatez(0deg)} to{transform:rotate(225deg)scaleX(-1)rotatez(360deg)}}
@keyframes zspin-270-r{from{transform:rotate(270deg)scaleX(-1)rotatez(0deg)} to{transform:rotate(270deg)scaleX(-1)rotatez(360deg)}}
@keyframes zspin-315-r{from{transform:rotate(315deg)scaleX(-1)rotatez(0deg)} to{transform:rotate(315deg)scaleX(-1)rotatez(360deg)}}
@keyframes nips{from{transform:rotate(360deg)scaleX(1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)} to{transform:rotate(360deg)scaleX(1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)}}
@keyframes nips-45{from{transform:rotate(45deg)scaleX(1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)} to{transform:rotate(45deg)scaleX(1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)}}
@keyframes nips-90{from{transform:rotate(9360deg)scaleX(1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)} to{transform:rotate(9360deg)scaleX(1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)}}
@keyframes nips-135{from{transform:rotate(135deg)scaleX(1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)} to{transform:rotate(135deg)scaleX(1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)}}
@keyframes nips-180{from{transform:rotate(18360deg)scaleX(1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)} to{transform:rotate(18360deg)scaleX(1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)}}
@keyframes nips-225{from{transform:rotate(225deg)scaleX(1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)} to{transform:rotate(225deg)scaleX(1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)}}
@keyframes nips-270{from{transform:rotate(27360deg)scaleX(1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)} to{transform:rotate(27360deg)scaleX(1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)}}
@keyframes nips-315{from{transform:rotate(315deg)scaleX(1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)} to{transform:rotate(315deg)scaleX(1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)}}
@keyframes nips-r{from{transform:rotate(360deg)scaleX(-1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)} to{transform:rotate(360deg)scaleX(-1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)}}
@keyframes nips-45-r{from{transform:rotate(45deg)scaleX(-1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)} to{transform:rotate(45deg)scaleX(-1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)}}
@keyframes nips-90-r{from{transform:rotate(9360deg)scaleX(-1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)} to{transform:rotate(9360deg)scaleX(-1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)}}
@keyframes nips-135-r{from{transform:rotate(135deg)scaleX(-1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)} to{transform:rotate(135deg)scaleX(-1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)}}
@keyframes nips-180-r{from{transform:rotate(18360deg)scaleX(-1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)} to{transform:rotate(18360deg)scaleX(-1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)}}
@keyframes nips-225-r{from{transform:rotate(225deg)scaleX(-1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)} to{transform:rotate(225deg)scaleX(-1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)}}
@keyframes nips-270-r{from{transform:rotate(27360deg)scaleX(-1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)} to{transform:rotate(27360deg)scaleX(-1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)}}
@keyframes nips-315-r{from{transform:rotate(315deg)scaleX(-1)rotateX(360deg)rotateY(360deg)rotateZ(360deg)} to{transform:rotate(315deg)scaleX(-1)rotateX(0deg)rotateY(0deg)rotateZ(0deg)}}
@keyframes znips{from{transform:rotate(360deg)scaleX(1)rotatez(360deg)} to{transform:rotate(360deg)scaleX(1)rotatez(0deg)}}
@keyframes znips-45{from{transform:rotate(45deg)scaleX(1)rotatez(360deg)} to{transform:rotate(45deg)scaleX(1)rotatez(0deg)}}
@keyframes znips-90{from{transform:rotate(9360deg)scaleX(1)rotatez(360deg)} to{transform:rotate(9360deg)scaleX(1)rotatez(0deg)}}
@keyframes znips-135{from{transform:rotate(135deg)scaleX(1)rotatez(360deg)} to{transform:rotate(135deg)scaleX(1)rotatez(0deg)}}
@keyframes znips-180{from{transform:rotate(18360deg)scaleX(1)rotatez(360deg)} to{transform:rotate(18360deg)scaleX(1)rotatez(0deg)}}
@keyframes znips-225{from{transform:rotate(225deg)scaleX(1)rotatez(360deg)} to{transform:rotate(225deg)scaleX(1)rotatez(0deg)}}
@keyframes znips-270{from{transform:rotate(27360deg)scaleX(1)rotatez(360deg)} to{transform:rotate(27360deg)scaleX(1)rotatez(0deg)}}
@keyframes znips-315{from{transform:rotate(315deg)scaleX(1)rotatez(360deg)} to{transform:rotate(315deg)scaleX(1)rotatez(0deg)}}
@keyframes znips-r{from{transform:rotate(360deg)scaleX(-1)rotatez(360deg)} to{transform:rotate(360deg)scaleX(-1)rotatez(0deg)}}
@keyframes znips-45-r{from{transform:rotate(45deg)scaleX(-1)rotatez(360deg)} to{transform:rotate(45deg)scaleX(-1)rotatez(0deg)}}
@keyframes znips-90-r{from{transform:rotate(9360deg)scaleX(-1)rotatez(360deg)} to{transform:rotate(9360deg)scaleX(-1)rotatez(0deg)}}
@keyframes znips-135-r{from{transform:rotate(135deg)scaleX(-1)rotatez(360deg)} to{transform:rotate(135deg)scaleX(-1)rotatez(0deg)}}
@keyframes znips-180-r{from{transform:rotate(18360deg)scaleX(-1)rotatez(360deg)} to{transform:rotate(18360deg)scaleX(-1)rotatez(0deg)}}
@keyframes znips-225-r{from{transform:rotate(225deg)scaleX(-1)rotatez(360deg)} to{transform:rotate(225deg)scaleX(-1)rotatez(0deg)}}
@keyframes znips-270-r{from{transform:rotate(27360deg)scaleX(-1)rotatez(360deg)} to{transform:rotate(27360deg)scaleX(-1)rotatez(0deg)}}
@keyframes znips-315-r{from{transform:rotate(315deg)scaleX(-1)rotatez(360deg)} to{transform:rotate(315deg)scaleX(-1)rotatez(0deg)}}
*/
@keyframes zspin{from{transform:rotate(0deg)} to{transform:rotate(360deg)}}
@keyframes zspin-45{from{transform:rotate(45deg)} to{transform:rotate(405deg)}}
@keyframes zspin-90{from{transform:rotate(90deg)} to{transform:rotate(450deg)}}
@keyframes zspin-135{from{transform:rotate(135deg)} to{transform:rotate(495deg)}}
@keyframes zspin-180{from{transform:rotate(180deg)} to{transform:rotate(540deg)}}
@keyframes zspin-225{from{transform:rotate(225deg)} to{transform:rotate(585deg)}}
@keyframes zspin-270{from{transform:rotate(270deg)} to{transform:rotate(630deg)}}
@keyframes zspin-315{from{transform:rotate(315deg)} to{transform:rotate(675deg)}}
@keyframes znips{from{transform:rotate(360deg)} to{transform:rotate(0deg)}}
@keyframes znips-45{from{transform:rotate(405deg)} to{transform:rotate(45deg)}}
@keyframes znips-90{from{transform:rotate(450deg)} to{transform:rotate(90deg)}}
@keyframes znips-135{from{transform:rotate(495deg)} to{transform:rotate(135deg)}}
@keyframes znips-180{from{transform:rotate(540deg)} to{transform:rotate(180deg)}}
@keyframes znips-225{from{transform:rotate(585deg)} to{transform:rotate(225deg)}}
@keyframes znips-270{from{transform:rotate(630deg)} to{transform:rotate(270deg)}}
@keyframes znips-315{from{transform:rotate(675deg)} to{transform:rotate(315deg)}}

/*== mane ==*/
.bpflag-r.bpflag-d:hover {transform:rotate(0deg)scaleX(1);image-rendering:-o-crisp-edges}
.bpflag-45, .bpflag-45.bpflag-r.bpflag-d:hover {transform:rotate(45deg)scaleX(1)}
.bpflag-90, .bpflag-90.bpflag-r.bpflag-d:hover {transform:rotate(90deg)scaleX(1);image-rendering:-o-crisp-edges}
.bpflag-135, .bpflag-135.bpflag-r.bpflag-d:hover {transform:rotate(135deg)scaleX(1)}
.bpflag-180, .bpflag-180.bpflag-r.bpflag-d:hover {transform:rotate(180deg)scaleX(1);image-rendering:-o-crisp-edges}
.bpflag-225, .bpflag-225.bpflag-r.bpflag-d:hover {transform:rotate(225deg)scaleX(1)}
.bpflag-270, .bpflag-270.bpflag-r.bpflag-d:hover {transform:rotate(270deg)scaleX(1);image-rendering:-o-crisp-edges}
.bpflag-315, .bpflag-315.bpflag-r.bpflag-d:hover {transform:rotate(315deg)scaleX(1)}
.bpflag-r, .bpflag-d:hover {transform:rotate(0deg)scaleX(-1);image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-r, .bpflag-45.bpflag-d:hover {transform:rotate(45deg)scaleX(-1)}
.bpflag-90.bpflag-r, .bpflag-90.bpflag-d:hover {transform:rotate(90deg)scaleX(-1);image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-r, .bpflag-135.bpflag-d:hover {transform:rotate(135deg)scaleX(-1)}
.bpflag-180.bpflag-r, .bpflag-180.bpflag-d:hover {transform:rotate(180deg)scaleX(-1);image-rendering:-o-crisp-edges}
.bpflag-225.bpflag-r, .bpflag-225.bpflag-d:hover {transform:rotate(225deg)scaleX(-1)}
.bpflag-270.bpflag-r, .bpflag-270.bpflag-d:hover {transform:rotate(270deg)scaleX(-1);image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-r, .bpflag-315.bpflag-d:hover {transform:rotate(315deg)scaleX(-1)}
.bpflag-225.bpflag-f.bpflag-r, .bpflag-225.bpflag-f.bpflag-d:hover {transform:rotate(45deg)scaleX(1)}
.bpflag-270.bpflag-f.bpflag-r, .bpflag-270.bpflag-f.bpflag-d:hover {transform:rotate(90deg)scaleX(1);image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-f.bpflag-r, .bpflag-315.bpflag-f.bpflag-d:hover {transform:rotate(135deg)scaleX(1)}
.bpflag-f.bpflag-r, .bpflag-f.bpflag-d:hover {transform:rotate(180deg)scaleX(1);image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-f.bpflag-r, .bpflag-45.bpflag-f.bpflag-d:hover {transform:rotate(225deg)scaleX(1)}
.bpflag-90.bpflag-f.bpflag-r, .bpflag-90.bpflag-f.bpflag-d:hover {transform:rotate(270deg)scaleX(1);image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-f.bpflag-r, .bpflag-135.bpflag-f.bpflag-d:hover {transform:rotate(315deg)scaleX(1)}
.bpflag-225.bpflag-f, .bpflag-225.bpflag-f.bpflag-r.bpflag-d:hover {transform:rotate(45deg)scaleX(-1)}
.bpflag-270.bpflag-f, .bpflag-270.bpflag-f.bpflag-r.bpflag-d:hover {transform:rotate(90deg)scaleX(-1);image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-f, .bpflag-315.bpflag-f.bpflag-r.bpflag-d:hover {transform:rotate(135deg)scaleX(-1)}
.bpflag-f, .bpflag-f.bpflag-r.bpflag-d:hover {transform:rotate(180deg)scaleX(-1);image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-f, .bpflag-45.bpflag-f.bpflag-r.bpflag-d:hover {transform:rotate(225deg)scaleX(-1)}
.bpflag-90.bpflag-f, .bpflag-90.bpflag-f.bpflag-r.bpflag-d:hover {transform:rotate(270deg)scaleX(-1);image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-f, .bpflag-135.bpflag-f.bpflag-r.bpflag-d:hover {transform:rotate(315deg)scaleX(-1)}

/*== -spin ==*/
/*
.bpflag-spin, .bpflag-r.bpflag-d.bpflag-spin:hover {animation:spin 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-spin, .bpflag-45.bpflag-r.bpflag-d.bpflag-spin:hover {animation:spin-45 2s infinite linear}
.bpflag-90.bpflag-spin, .bpflag-90.bpflag-r.bpflag-d.bpflag-spin:hover {animation:spin-90 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-spin, .bpflag-135.bpflag-r.bpflag-d.bpflag-spin:hover {animation:spin-135 2s infinite linear}
.bpflag-180.bpflag-spin, .bpflag-180.bpflag-r.bpflag-d.bpflag-spin:hover {animation:spin-180 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-225.bpflag-spin, .bpflag-225.bpflag-r.bpflag-d.bpflag-spin:hover {animation:spin-225 2s infinite linear}
.bpflag-270.bpflag-spin, .bpflag-270.bpflag-r.bpflag-d.bpflag-spin:hover {animation:spin-270 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-spin, .bpflag-315.bpflag-r.bpflag-d.bpflag-spin:hover {animation:spin-315 2s infinite linear}
.bpflag-r.bpflag-spin, .bpflag-d.bpflag-spin:hover {animation:spin-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-r.bpflag-spin, .bpflag-45.bpflag-d.bpflag-spin:hover {animation:spin-45-r 2s infinite linear}
.bpflag-90.bpflag-r.bpflag-spin, .bpflag-90.bpflag-d.bpflag-spin:hover {animation:spin-90-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-r.bpflag-spin, .bpflag-135.bpflag-d.bpflag-spin:hover {animation:spin-135-r 2s infinite linear}
.bpflag-180.bpflag-r.bpflag-spin, .bpflag-180.bpflag-d.bpflag-spin:hover {animation:spin-180-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-225.bpflag-r.bpflag-spin, .bpflag-225.bpflag-d.bpflag-spin:hover {animation:spin-225-r 2s infinite linear}
.bpflag-270.bpflag-r.bpflag-spin, .bpflag-270.bpflag-d.bpflag-spin:hover {animation:spin-270-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-r.bpflag-spin, .bpflag-315.bpflag-d.bpflag-spin:hover {animation:spin-315-r 2s infinite linear}
.bpflag-225.bpflag-f.bpflag-r.bpflag-spin, .bpflag-225.bpflag-f.bpflag-d.bpflag-spin:hover {animation:spin-45 2s infinite linear}
.bpflag-270.bpflag-f.bpflag-r.bpflag-spin, .bpflag-270.bpflag-f.bpflag-d.bpflag-spin:hover {animation:spin-90 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-f.bpflag-r.bpflag-spin, .bpflag-315.bpflag-f.bpflag-d.bpflag-spin:hover {animation:spin-135 2s infinite linear}
.bpflag-f.bpflag-r.bpflag-spin, .bpflag-f.bpflag-d.bpflag-spin:hover {animation:spin-180 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-f.bpflag-r.bpflag-spin, .bpflag-45.bpflag-f.bpflag-d.bpflag-spin:hover {animation:spin-225 2s infinite linear}
.bpflag-90.bpflag-f.bpflag-r.bpflag-spin, .bpflag-90.bpflag-f.bpflag-d.bpflag-spin:hover {animation:spin-270 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-f.bpflag-r.bpflag-spin, .bpflag-135.bpflag-f.bpflag-d.bpflag-spin:hover {animation:spin-315 2s infinite linear}
.bpflag-225.bpflag-f.bpflag-spin, .bpflag-225.bpflag-f.bpflag-r.bpflag-d.bpflag-spin:hover {animation:spin-45-r 2s infinite linear}
.bpflag-270.bpflag-f.bpflag-spin, .bpflag-270.bpflag-f.bpflag-r.bpflag-d.bpflag-spin:hover {animation:spin-90-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-f.bpflag-spin, .bpflag-315.bpflag-f.bpflag-r.bpflag-d.bpflag-spin:hover {animation:spin-135-r 2s infinite linear}
.bpflag-f.bpflag-spin, .bpflag-f.bpflag-r.bpflag-d.bpflag-spin:hover {animation:spin-180-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-f.bpflag-spin, .bpflag-45.bpflag-f.bpflag-r.bpflag-d.bpflag-spin:hover {animation:spin-225-r 2s infinite linear}
.bpflag-90.bpflag-f.bpflag-spin, .bpflag-90.bpflag-f.bpflag-r.bpflag-d.bpflag-spin:hover {animation:spin-270-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-f.bpflag-spin, .bpflag-135.bpflag-f.bpflag-r.bpflag-d.bpflag-spin:hover {animation:spin-315-r 2s infinite linear}
*/

/*== -xspin ==*/
/*
.bpflag-xspin, .bpflag-r.bpflag-d.bpflag-xspin:hover {animation:xspin 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-xspin, .bpflag-45.bpflag-r.bpflag-d.bpflag-xspin:hover {animation:xspin-45 2s infinite linear}
.bpflag-90.bpflag-xspin, .bpflag-90.bpflag-r.bpflag-d.bpflag-xspin:hover {animation:xspin-90 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-xspin, .bpflag-135.bpflag-r.bpflag-d.bpflag-xspin:hover {animation:xspin-135 2s infinite linear}
.bpflag-180.bpflag-xspin, .bpflag-180.bpflag-r.bpflag-d.bpflag-xspin:hover {animation:xspin-180 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-225.bpflag-xspin, .bpflag-225.bpflag-r.bpflag-d.bpflag-xspin:hover {animation:xspin-225 2s infinite linear}
.bpflag-270.bpflag-xspin, .bpflag-270.bpflag-r.bpflag-d.bpflag-xspin:hover {animation:xspin-270 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-xspin, .bpflag-315.bpflag-r.bpflag-d.bpflag-xspin:hover {animation:xspin-315 2s infinite linear}
.bpflag-r.bpflag-xspin, .bpflag-d.bpflag-xspin:hover {animation:xspin-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-r.bpflag-xspin, .bpflag-45.bpflag-d.bpflag-xspin:hover {animation:xspin-45-r 2s infinite linear}
.bpflag-90.bpflag-r.bpflag-xspin, .bpflag-90.bpflag-d.bpflag-xspin:hover {animation:xspin-90-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-r.bpflag-xspin, .bpflag-135.bpflag-d.bpflag-xspin:hover {animation:xspin-135-r 2s infinite linear}
.bpflag-180.bpflag-r.bpflag-xspin, .bpflag-180.bpflag-d.bpflag-xspin:hover {animation:xspin-180-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-225.bpflag-r.bpflag-xspin, .bpflag-225.bpflag-d.bpflag-xspin:hover {animation:xspin-225-r 2s infinite linear}
.bpflag-270.bpflag-r.bpflag-xspin, .bpflag-270.bpflag-d.bpflag-xspin:hover {animation:xspin-270-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-r.bpflag-xspin, .bpflag-315.bpflag-d.bpflag-xspin:hover {animation:xspin-315-r 2s infinite linear}
.bpflag-225.bpflag-f.bpflag-r.bpflag-xspin, .bpflag-225.bpflag-f.bpflag-d.bpflag-xspin:hover {animation:xspin-45 2s infinite linear}
.bpflag-270.bpflag-f.bpflag-r.bpflag-xspin, .bpflag-270.bpflag-f.bpflag-d.bpflag-xspin:hover {animation:xspin-90 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-f.bpflag-r.bpflag-xspin, .bpflag-315.bpflag-f.bpflag-d.bpflag-xspin:hover {animation:xspin-135 2s infinite linear}
.bpflag-f.bpflag-r.bpflag-xspin, .bpflag-f.bpflag-d.bpflag-xspin:hover {animation:xspin-180 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-f.bpflag-r.bpflag-xspin, .bpflag-45.bpflag-f.bpflag-d.bpflag-xspin:hover {animation:xspin-225 2s infinite linear}
.bpflag-90.bpflag-f.bpflag-r.bpflag-xspin, .bpflag-90.bpflag-f.bpflag-d.bpflag-xspin:hover {animation:xspin-270 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-f.bpflag-r.bpflag-xspin, .bpflag-135.bpflag-f.bpflag-d.bpflag-xspin:hover {animation:xspin-315 2s infinite linear}
.bpflag-225.bpflag-f.bpflag-xspin, .bpflag-225.bpflag-f.bpflag-r.bpflag-d.bpflag-xspin:hover {animation:xspin-45-r 2s infinite linear}
.bpflag-270.bpflag-f.bpflag-xspin, .bpflag-270.bpflag-f.bpflag-r.bpflag-d.bpflag-xspin:hover {animation:xspin-90-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-f.bpflag-xspin, .bpflag-315.bpflag-f.bpflag-r.bpflag-d.bpflag-xspin:hover {animation:xspin-135-r 2s infinite linear}
.bpflag-f.bpflag-xspin, .bpflag-f.bpflag-r.bpflag-d.bpflag-xspin:hover {animation:xspin-180-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-f.bpflag-xspin, .bpflag-45.bpflag-f.bpflag-r.bpflag-d.bpflag-xspin:hover {animation:xspin-225-r 2s infinite linear}
.bpflag-90.bpflag-f.bpflag-xspin, .bpflag-90.bpflag-f.bpflag-r.bpflag-d.bpflag-xspin:hover {animation:xspin-270-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-f.bpflag-xspin, .bpflag-135.bpflag-f.bpflag-r.bpflag-d.bpflag-xspin:hover {animation:xspin-315-r 2s infinite linear}
*/

/*== -yspin ==*/
/*
.bpflag-yspin, .bpflag-r.bpflag-d.bpflag-yspin:hover {animation:yspin 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-yspin, .bpflag-45.bpflag-r.bpflag-d.bpflag-yspin:hover {animation:yspin-45 2s infinite linear}
.bpflag-90.bpflag-yspin, .bpflag-90.bpflag-r.bpflag-d.bpflag-yspin:hover {animation:yspin-90 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-yspin, .bpflag-135.bpflag-r.bpflag-d.bpflag-yspin:hover {animation:yspin-135 2s infinite linear}
.bpflag-180.bpflag-yspin, .bpflag-180.bpflag-r.bpflag-d.bpflag-yspin:hover {animation:yspin-180 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-225.bpflag-yspin, .bpflag-225.bpflag-r.bpflag-d.bpflag-yspin:hover {animation:yspin-225 2s infinite linear}
.bpflag-270.bpflag-yspin, .bpflag-270.bpflag-r.bpflag-d.bpflag-yspin:hover {animation:yspin-270 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-yspin, .bpflag-315.bpflag-r.bpflag-d.bpflag-yspin:hover {animation:yspin-315 2s infinite linear}
.bpflag-r.bpflag-yspin, .bpflag-d.bpflag-yspin:hover {animation:yspin-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-r.bpflag-yspin, .bpflag-45.bpflag-d.bpflag-yspin:hover {animation:yspin-45-r 2s infinite linear}
.bpflag-90.bpflag-r.bpflag-yspin, .bpflag-90.bpflag-d.bpflag-yspin:hover {animation:yspin-90-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-r.bpflag-yspin, .bpflag-135.bpflag-d.bpflag-yspin:hover {animation:yspin-135-r 2s infinite linear}
.bpflag-180.bpflag-r.bpflag-yspin, .bpflag-180.bpflag-d.bpflag-yspin:hover {animation:yspin-180-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-225.bpflag-r.bpflag-yspin, .bpflag-225.bpflag-d.bpflag-yspin:hover {animation:yspin-225-r 2s infinite linear}
.bpflag-270.bpflag-r.bpflag-yspin, .bpflag-270.bpflag-d.bpflag-yspin:hover {animation:yspin-270-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-r.bpflag-yspin, .bpflag-315.bpflag-d.bpflag-yspin:hover {animation:yspin-315-r 2s infinite linear}
.bpflag-225.bpflag-f.bpflag-r.bpflag-yspin, .bpflag-225.bpflag-f.bpflag-d.bpflag-yspin:hover {animation:yspin-45 2s infinite linear}
.bpflag-270.bpflag-f.bpflag-r.bpflag-yspin, .bpflag-270.bpflag-f.bpflag-d.bpflag-yspin:hover {animation:yspin-90 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-f.bpflag-r.bpflag-yspin, .bpflag-315.bpflag-f.bpflag-d.bpflag-yspin:hover {animation:yspin-135 2s infinite linear}
.bpflag-f.bpflag-r.bpflag-yspin, .bpflag-f.bpflag-d.bpflag-yspin:hover {animation:yspin-180 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-f.bpflag-r.bpflag-yspin, .bpflag-45.bpflag-f.bpflag-d.bpflag-yspin:hover {animation:yspin-225 2s infinite linear}
.bpflag-90.bpflag-f.bpflag-r.bpflag-yspin, .bpflag-90.bpflag-f.bpflag-d.bpflag-yspin:hover {animation:yspin-270 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-f.bpflag-r.bpflag-yspin, .bpflag-135.bpflag-f.bpflag-d.bpflag-yspin:hover {animation:yspin-315 2s infinite linear}
.bpflag-225.bpflag-f.bpflag-yspin, .bpflag-225.bpflag-f.bpflag-r.bpflag-d.bpflag-yspin:hover {animation:yspin-45-r 2s infinite linear}
.bpflag-270.bpflag-f.bpflag-yspin, .bpflag-270.bpflag-f.bpflag-r.bpflag-d.bpflag-yspin:hover {animation:yspin-90-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-f.bpflag-yspin, .bpflag-315.bpflag-f.bpflag-r.bpflag-d.bpflag-yspin:hover {animation:yspin-135-r 2s infinite linear}
.bpflag-f.bpflag-yspin, .bpflag-f.bpflag-r.bpflag-d.bpflag-yspin:hover {animation:yspin-180-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-f.bpflag-yspin, .bpflag-45.bpflag-f.bpflag-r.bpflag-d.bpflag-yspin:hover {animation:yspin-225-r 2s infinite linear}
.bpflag-90.bpflag-f.bpflag-yspin, .bpflag-90.bpflag-f.bpflag-r.bpflag-d.bpflag-yspin:hover {animation:yspin-270-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-f.bpflag-yspin, .bpflag-135.bpflag-f.bpflag-r.bpflag-d.bpflag-yspin:hover {animation:yspin-315-r 2s infinite linear}
*/

/*== -zspin ==*/
.bpflag-zspin, .bpflag-r.bpflag-d.bpflag-zspin:hover {animation:zspin 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-zspin, .bpflag-45.bpflag-r.bpflag-d.bpflag-zspin:hover {animation:zspin-45 2s infinite linear}
.bpflag-90.bpflag-zspin, .bpflag-90.bpflag-r.bpflag-d.bpflag-zspin:hover {animation:zspin-90 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-zspin, .bpflag-135.bpflag-r.bpflag-d.bpflag-zspin:hover {animation:zspin-135 2s infinite linear}
.bpflag-180.bpflag-zspin, .bpflag-180.bpflag-r.bpflag-d.bpflag-zspin:hover {animation:zspin-180 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-225.bpflag-zspin, .bpflag-225.bpflag-r.bpflag-d.bpflag-zspin:hover {animation:zspin-225 2s infinite linear}
.bpflag-270.bpflag-zspin, .bpflag-270.bpflag-r.bpflag-d.bpflag-zspin:hover {animation:zspin-270 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-zspin, .bpflag-315.bpflag-r.bpflag-d.bpflag-zspin:hover {animation:zspin-315 2s infinite linear}
/*
.bpflag-r.bpflag-zspin, .bpflag-d.bpflag-zspin:hover {animation:zspin-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-r.bpflag-zspin, .bpflag-45.bpflag-d.bpflag-zspin:hover {animation:zspin-45-r 2s infinite linear}
.bpflag-90.bpflag-r.bpflag-zspin, .bpflag-90.bpflag-d.bpflag-zspin:hover {animation:zspin-90-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-r.bpflag-zspin, .bpflag-135.bpflag-d.bpflag-zspin:hover {animation:zspin-135-r 2s infinite linear}
.bpflag-180.bpflag-r.bpflag-zspin, .bpflag-180.bpflag-d.bpflag-zspin:hover {animation:zspin-180-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-225.bpflag-r.bpflag-zspin, .bpflag-225.bpflag-d.bpflag-zspin:hover {animation:zspin-225-r 2s infinite linear}
.bpflag-270.bpflag-r.bpflag-zspin, .bpflag-270.bpflag-d.bpflag-zspin:hover {animation:zspin-270-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-r.bpflag-zspin, .bpflag-315.bpflag-d.bpflag-zspin:hover {animation:zspin-315-r 2s infinite linear}
*/
.bpflag-225.bpflag-f.bpflag-r.bpflag-zspin, .bpflag-225.bpflag-f.bpflag-d.bpflag-zspin:hover {animation:zspin-45 2s infinite linear}
.bpflag-270.bpflag-f.bpflag-r.bpflag-zspin, .bpflag-270.bpflag-f.bpflag-d.bpflag-zspin:hover {animation:zspin-90 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-f.bpflag-r.bpflag-zspin, .bpflag-315.bpflag-f.bpflag-d.bpflag-zspin:hover {animation:zspin-135 2s infinite linear}
.bpflag-f.bpflag-r.bpflag-zspin, .bpflag-f.bpflag-d.bpflag-zspin:hover {animation:zspin-180 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-f.bpflag-r.bpflag-zspin, .bpflag-45.bpflag-f.bpflag-d.bpflag-zspin:hover {animation:zspin-225 2s infinite linear}
.bpflag-90.bpflag-f.bpflag-r.bpflag-zspin, .bpflag-90.bpflag-f.bpflag-d.bpflag-zspin:hover {animation:zspin-270 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-f.bpflag-r.bpflag-zspin, .bpflag-135.bpflag-f.bpflag-d.bpflag-zspin:hover {animation:zspin-315 2s infinite linear}
/*
.bpflag-225.bpflag-f.bpflag-zspin, .bpflag-225.bpflag-f.bpflag-r.bpflag-d.bpflag-zspin:hover {animation:zspin-45-r 2s infinite linear}
.bpflag-270.bpflag-f.bpflag-zspin, .bpflag-270.bpflag-f.bpflag-r.bpflag-d.bpflag-zspin:hover {animation:zspin-90-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-f.bpflag-zspin, .bpflag-315.bpflag-f.bpflag-r.bpflag-d.bpflag-zspin:hover {animation:zspin-135-r 2s infinite linear}
.bpflag-f.bpflag-zspin, .bpflag-f.bpflag-r.bpflag-d.bpflag-zspin:hover {animation:zspin-180-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-f.bpflag-zspin, .bpflag-45.bpflag-f.bpflag-r.bpflag-d.bpflag-zspin:hover {animation:zspin-225-r 2s infinite linear}
.bpflag-90.bpflag-f.bpflag-zspin, .bpflag-90.bpflag-f.bpflag-r.bpflag-d.bpflag-zspin:hover {animation:zspin-270-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-f.bpflag-zspin, .bpflag-135.bpflag-f.bpflag-r.bpflag-d.bpflag-zspin:hover {animation:zspin-315-r 2s infinite linear}
*/

/*== -nips ==*/
/*
.bpflag-nips, .bpflag-r.bpflag-d.bpflag-nips:hover {animation:nips 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-nips, .bpflag-45.bpflag-r.bpflag-d.bpflag-nips:hover {animation:nips-45 2s infinite linear}
.bpflag-90.bpflag-nips, .bpflag-90.bpflag-r.bpflag-d.bpflag-nips:hover {animation:nips-90 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-nips, .bpflag-135.bpflag-r.bpflag-d.bpflag-nips:hover {animation:nips-135 2s infinite linear}
.bpflag-180.bpflag-nips, .bpflag-180.bpflag-r.bpflag-d.bpflag-nips:hover {animation:nips-180 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-225.bpflag-nips, .bpflag-225.bpflag-r.bpflag-d.bpflag-nips:hover {animation:nips-225 2s infinite linear}
.bpflag-270.bpflag-nips, .bpflag-270.bpflag-r.bpflag-d.bpflag-nips:hover {animation:nips-270 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-nips, .bpflag-315.bpflag-r.bpflag-d.bpflag-nips:hover {animation:nips-315 2s infinite linear}
.bpflag-r.bpflag-nips, .bpflag-d.bpflag-nips:hover {animation:nips-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-r.bpflag-nips, .bpflag-45.bpflag-d.bpflag-nips:hover {animation:nips-45-r 2s infinite linear}
.bpflag-90.bpflag-r.bpflag-nips, .bpflag-90.bpflag-d.bpflag-nips:hover {animation:nips-90-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-r.bpflag-nips, .bpflag-135.bpflag-d.bpflag-nips:hover {animation:nips-135-r 2s infinite linear}
.bpflag-180.bpflag-r.bpflag-nips, .bpflag-180.bpflag-d.bpflag-nips:hover {animation:nips-180-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-225.bpflag-r.bpflag-nips, .bpflag-225.bpflag-d.bpflag-nips:hover {animation:nips-225-r 2s infinite linear}
.bpflag-270.bpflag-r.bpflag-nips, .bpflag-270.bpflag-d.bpflag-nips:hover {animation:nips-270-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-r.bpflag-nips, .bpflag-315.bpflag-d.bpflag-nips:hover {animation:nips-315-r 2s infinite linear}
.bpflag-225.bpflag-f.bpflag-r.bpflag-nips, .bpflag-225.bpflag-f.bpflag-d.bpflag-nips:hover {animation:nips-45 2s infinite linear}
.bpflag-270.bpflag-f.bpflag-r.bpflag-nips, .bpflag-270.bpflag-f.bpflag-d.bpflag-nips:hover {animation:nips-90 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-f.bpflag-r.bpflag-nips, .bpflag-315.bpflag-f.bpflag-d.bpflag-nips:hover {animation:nips-135 2s infinite linear}
.bpflag-f.bpflag-r.bpflag-nips, .bpflag-f.bpflag-d.bpflag-nips:hover {animation:nips-180 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-f.bpflag-r.bpflag-nips, .bpflag-45.bpflag-f.bpflag-d.bpflag-nips:hover {animation:nips-225 2s infinite linear}
.bpflag-90.bpflag-f.bpflag-r.bpflag-nips, .bpflag-90.bpflag-f.bpflag-d.bpflag-nips:hover {animation:nips-270 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-f.bpflag-r.bpflag-nips, .bpflag-135.bpflag-f.bpflag-d.bpflag-nips:hover {animation:nips-315 2s infinite linear}
.bpflag-225.bpflag-f.bpflag-nips, .bpflag-225.bpflag-f.bpflag-r.bpflag-d.bpflag-nips:hover {animation:nips-45-r 2s infinite linear}
.bpflag-270.bpflag-f.bpflag-nips, .bpflag-270.bpflag-f.bpflag-r.bpflag-d.bpflag-nips:hover {animation:nips-90-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-f.bpflag-nips, .bpflag-315.bpflag-f.bpflag-r.bpflag-d.bpflag-nips:hover {animation:nips-135-r 2s infinite linear}
.bpflag-f.bpflag-nips, .bpflag-f.bpflag-r.bpflag-d.bpflag-nips:hover {animation:nips-180-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-f.bpflag-nips, .bpflag-45.bpflag-f.bpflag-r.bpflag-d.bpflag-nips:hover {animation:nips-225-r 2s infinite linear}
.bpflag-90.bpflag-f.bpflag-nips, .bpflag-90.bpflag-f.bpflag-r.bpflag-d.bpflag-nips:hover {animation:nips-270-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-f.bpflag-nips, .bpflag-135.bpflag-f.bpflag-r.bpflag-d.bpflag-nips:hover {animation:nips-315-r 2s infinite linear}
*/

/*== -znips ==*/
.bpflag-znips, .bpflag-r.bpflag-d.bpflag-znips:hover {animation:znips 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-znips, .bpflag-45.bpflag-r.bpflag-d.bpflag-znips:hover {animation:znips-45 2s infinite linear}
.bpflag-90.bpflag-znips, .bpflag-90.bpflag-r.bpflag-d.bpflag-znips:hover {animation:znips-90 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-znips, .bpflag-135.bpflag-r.bpflag-d.bpflag-znips:hover {animation:znips-135 2s infinite linear}
.bpflag-180.bpflag-znips, .bpflag-180.bpflag-r.bpflag-d.bpflag-znips:hover {animation:znips-180 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-225.bpflag-znips, .bpflag-225.bpflag-r.bpflag-d.bpflag-znips:hover {animation:znips-225 2s infinite linear}
.bpflag-270.bpflag-znips, .bpflag-270.bpflag-r.bpflag-d.bpflag-znips:hover {animation:znips-270 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-znips, .bpflag-315.bpflag-r.bpflag-d.bpflag-znips:hover {animation:znips-315 2s infinite linear}
/*
.bpflag-r.bpflag-znips, .bpflag-d.bpflag-znips:hover {animation:znips-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-r.bpflag-znips, .bpflag-45.bpflag-d.bpflag-znips:hover {animation:znips-45-r 2s infinite linear}
.bpflag-90.bpflag-r.bpflag-znips, .bpflag-90.bpflag-d.bpflag-znips:hover {animation:znips-90-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-r.bpflag-znips, .bpflag-135.bpflag-d.bpflag-znips:hover {animation:znips-135-r 2s infinite linear}
.bpflag-180.bpflag-r.bpflag-znips, .bpflag-180.bpflag-d.bpflag-znips:hover {animation:znips-180-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-225.bpflag-r.bpflag-znips, .bpflag-225.bpflag-d.bpflag-znips:hover {animation:znips-225-r 2s infinite linear}
.bpflag-270.bpflag-r.bpflag-znips, .bpflag-270.bpflag-d.bpflag-znips:hover {animation:znips-270-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-r.bpflag-znips, .bpflag-315.bpflag-d.bpflag-znips:hover {animation:znips-315-r 2s infinite linear}
*/
.bpflag-225.bpflag-f.bpflag-r.bpflag-znips, .bpflag-225.bpflag-f.bpflag-d.bpflag-znips:hover {animation:znips-45 2s infinite linear}
.bpflag-270.bpflag-f.bpflag-r.bpflag-znips, .bpflag-270.bpflag-f.bpflag-d.bpflag-znips:hover {animation:znips-90 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-f.bpflag-r.bpflag-znips, .bpflag-315.bpflag-f.bpflag-d.bpflag-znips:hover {animation:znips-135 2s infinite linear}
.bpflag-f.bpflag-r.bpflag-znips, .bpflag-f.bpflag-d.bpflag-znips:hover {animation:znips-180 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-f.bpflag-r.bpflag-znips, .bpflag-45.bpflag-f.bpflag-d.bpflag-znips:hover {animation:znips-225 2s infinite linear}
.bpflag-90.bpflag-f.bpflag-r.bpflag-znips, .bpflag-90.bpflag-f.bpflag-d.bpflag-znips:hover {animation:znips-270 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-f.bpflag-r.bpflag-znips, .bpflag-135.bpflag-f.bpflag-d.bpflag-znips:hover {animation:znips-315 2s infinite linear}
/*
.bpflag-225.bpflag-f.bpflag-znips, .bpflag-225.bpflag-f.bpflag-r.bpflag-d.bpflag-znips:hover {animation:znips-45-r 2s infinite linear}
.bpflag-270.bpflag-f.bpflag-znips, .bpflag-270.bpflag-f.bpflag-r.bpflag-d.bpflag-znips:hover {animation:znips-90-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-315.bpflag-f.bpflag-znips, .bpflag-315.bpflag-f.bpflag-r.bpflag-d.bpflag-znips:hover {animation:znips-135-r 2s infinite linear}
.bpflag-f.bpflag-znips, .bpflag-f.bpflag-r.bpflag-d.bpflag-znips:hover {animation:znips-180-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-45.bpflag-f.bpflag-znips, .bpflag-45.bpflag-f.bpflag-r.bpflag-d.bpflag-znips:hover {animation:znips-225-r 2s infinite linear}
.bpflag-90.bpflag-f.bpflag-znips, .bpflag-90.bpflag-f.bpflag-r.bpflag-d.bpflag-znips:hover {animation:znips-270-r 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-135.bpflag-f.bpflag-znips, .bpflag-135.bpflag-f.bpflag-r.bpflag-d.bpflag-znips:hover {animation:znips-315-r 2s infinite linear}
*/

/*==legacy ==*/
.bpflag-rd:hover {transform:rotate(0deg)scaleX(1);image-rendering:-o-crisp-edges}
.bpflag-90d, .bpflag-90rd:hover {transform:rotate(90deg)scaleX(1);image-rendering:-o-crisp-edges}
.bpflag-180d, .bpflag-fd:hover {transform:rotate(180deg)scaleX(1);image-rendering:-o-crisp-edges}
.bpflag-270d, .bpflag-270rd:hover {transform:rotate(270deg)scaleX(1);image-rendering:-o-crisp-edges}
.bpflag-rd {transform:rotate(0deg)scaleX(-1);image-rendering:-o-crisp-edges}
.bpflag-90r, .bpflag-90rd, .bpflag-90d:hover {transform:rotate(90deg)scaleX(-1);image-rendering:-o-crisp-edges}
.bpflag-fd, .bpflag-180d:hover {transform:rotate(180deg)scaleX(-1);image-rendering:-o-crisp-edges}
.bpflag-270r, .bpflag-270rd, .bpflag-270d:hover {transform:rotate(270deg)scaleX(-1);image-rendering:-o-crisp-edges}
.bpflag-ispin {animation:spin 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-rotate, .bpflag-lrotate {animation:zspin 2s infinite linear;image-rendering:-o-crisp-edges}
.bpflag-rrotate, .bpflag-lrrotate {animation:znips 2s infinite linear;image-rendering:-o-crisp-edges}

.md{overflow-y:hidden !important}
