/************************/
/*POOJOOBIE'S DOMAIN*/
/* mod box */
.sidecontentbox a.helplink {
    color: white !important;
    font-size: 0px !important
    }
.sidecontentbox a.helplink:after {
    color: #369 !important;
    font-size: 12px !important;
    content: "mods standing by here!"
    }
.sidecontentbox h1:not(:first-child) {
    font-size: 0pt !important
    }
.sidecontentbox h1:not(:first-child):after {
    font-size: 10pt !important;
    content: "ModMusicians"
    }
/********/
.thumbnail.self {
    background-image: url(http://c.thumbs.redditmedia.com/czWjtUq-2v-Oxzst.png) !important
    }
.thumbnail.self {
    background-position: 0px -10px !important
    }
.thumbnail.default {
    background-image: url(http://a.thumbs.redditmedia.com/5xCj48DfAyYibORB.png) !important
    }
.thumbnail.default {
    background-position: 0px 0px !important
    }
body {
    background: url(http://f.thumbs.redditmedia.com/e7KRPA5RGVGbrY6e.png) no-repeat fixed center center
    }
.titlebox .word {
    font-size: 0px;
    visibility: hidden
    }
.titlebox .word::before {
    font-size: 12px;
    content: "Music Minions";
    visibility: visible
    }
/*Change vote arrows*/
.arrow.up {
    background-image: url(http://b.thumbs.redditmedia.com/XwvmLBxl_7rmLTCa.png);
    background-position: 0px 0px;
    height: 18px;
    width: 14px;
    margin-left: 2px
    }
.arrow.upmod {
    background-image: url(http://f.thumbs.redditmedia.com/bnDbDdA_0zL9IjPk.png);
    background-position: 0px 0px;
    height: 18px;
    width: 14px
    }
.arrow.down {
    background-image: url(http://e.thumbs.redditmedia.com/n4Hkjf3Gp74OyTzR.png);
    background-position: 0px 0px;
    height: 20px;
    width: 14px
    }
.arrow.downmod {
    background-image: url(http://a.thumbs.redditmedia.com/WzEZiVCTrNSb_j3T.png);
    background-position: 0px 0px;
    height: 20px;
    width: 14px
    }
/* emoticons*/
a[href|="/scratchshrug"], a[href|="/tavishrug"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://f.thumbs.redditmedia.com/lCi267EgdCSOFW_q.png) !important
    }
a[href|="/scratchshrug"] {
    background-position: -0px -0px
    }
a[href|="/tavishrug"] {
    background-position: -70px 70px
    }
a[href|="/scootpiano"], a[href|="/pinkiebone"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://d.thumbs.redditmedia.com/0doVTxQkVKb2fpfQ.png) !important
    }
a[href|="/scootpiano"] {
    background-position: -0px -0px
    }
a[href|="/pinkiebone"] {
    background-position: -70px 70px
    }
a[href|="/alexwut"], a[href|="/glazerage"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://f.thumbs.redditmedia.com/dC7M55Pk7__troi5.png) !important
    }
a[href|="/alexwut"] {
    background-position: -0px -0px
    }
a[href|="/glazerage"] {
    background-position: -70px 70px
    }
a[href|="/showstoppers"] {
    display: block;
    clear: none;
    float: left;
    width: 155px;
    height: 70px;
    background-image: url(http://d.thumbs.redditmedia.com/TkBBAn3CUgc73Yv3.png) !important
    }
a[href|="/showstoppers"] {
    background-position: -0px -0px
    }
a[href|="/colgatebass"], a[href|="/mlyra"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://a.thumbs.redditmedia.com/PiAF_lMPEloA2cxT.png) !important
    }
a[href|="/colgatebass"] {
    background-position: -0px -0px
    }
a[href|="/mlyra"] {
    background-position: -70px 70px
    }
a[href|="/cosbeh"], a[href|="/cockathingy"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://e.thumbs.redditmedia.com/UNS72hB3BjWO9y3L.png) !important
    }
a[href|="/cosbeh"] {
    background-position: -0px -0px
    }
a[href|="/cockathingy"] {
    background-position: -70px 70px
    }
/* User Icons */
.flair {
    padding: 0;
    background: none;
    color: black;
    border: 0;
    border-radius: 0;
    background-image: url(http://d.thumbs.redditmedia.com/izNwQta5T03Utvkc.png);
    display: inline-block;
    width: 16px;
    height: 16px
    }
.flair-vinyl {
    content: ""
    }
.flair-vinyl:before {
    content: "";
    text-align: right;
    float: left;
    width: 16px;
    height: 16px;
    background: url(http://d.thumbs.redditmedia.com/izNwQta5T03Utvkc.png) 0px 0px
    }
.flair-lyra {
    content: ""
    }
.flair-lyra:before {
    content: "";
    text-align: right;
    float: left;
    width: 16px;
    height: 16px;
    background: url(http://d.thumbs.redditmedia.com/izNwQta5T03Utvkc.png) -16px 0px
    }
.flair-octavia {
    content: ""
    }
.flair-octavia:before {
    content: "";
    text-align: right;
    float: left;
    width: 16px;
    height: 16px;
    background: url(http://d.thumbs.redditmedia.com/izNwQta5T03Utvkc.png) -32px 0px
    }
.flair {
    padding: 0;
    background: none;
    color: black;
    border: 0;
    border-radius: 0;
    background-image: url(http://d.thumbs.redditmedia.com/DsAsNAbVdDkfHkpK.png);
    display: inline-block;
    width: 16px;
    height: 16px
    }
.flair-blank {
    content: ""
    }
.flair-blank:before {
    content: "";
    text-align: right;
    float: left;
    width: 16px;
    height: 16px;
    background: url(http://d.thumbs.redditmedia.com/DsAsNAbVdDkfHkpK.png) 0px 0px
    }
/* searchbar spike */
#search input[type="text"] {
    background: url(http://d.thumbs.redditmedia.com/zf4XA6HHyom7uH4c.png) top left no-repeat !important;
    padding: 13px 2px 13px 50px !important;
    height: 22px !important;
    width: 245px !important
    }
/* Sidebar Hover Attempt */
.titlebox strong {
    font-size: medium
    }
.titlebox del {
    color: white
    }
.titlebox em {
    font-size: 9px;
    text-decoration: none;
    font-style: normal
    }
.titlebox strong em {
    font-size: 8px;
    font-style: normal;
    font-weight: normal
    }
.titlebox table {
    display: none;
    clear: both
    }
.side div.usertext-body:hover table {
    display: block;
    clear: both
    }
.titlebox .usertext-body .md:before {
    background-image: url(http://d.thumbs.redditmedia.com/TkBBAn3CUgc73Yv3.png);
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    display: block;
    height: 100px
    }
.sidecontentbox a[href*="Poojoobie"] {
    visibility: hidden;
    font-size: 0pt
    }
.sidecontentbox a[href*="Poojoobie"]:after {
    content: "Vinyl Joobie Scratch";
    visibility: visible !important;
    font-size: 10pt !important
    }