a[href="/wat"] {
    display: block;
    clear: none;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-image: url(http://b.thumbs.redditmedia.com/0RYrFbSuc7Cy0k51.png)
    }
a[href="/dash00"], a[href="/dash01"], a[href="/dash02"], a[href="/dash10"], a[href="/dash11"], a[href="/dash12"], a[href="/dash20"], a[href="/dash21"], a[href="/dash22"], a[href="/dash23"], a[href="/dash03"], a[href="/dash13"], a[href="/dashbadass"], a[href="/badassdash"], a[href="/scootacute"], a[href="/scootabrag"], a[href="/ovenmitt"], a[href="/jedifilly"], a[href="/fillyjedi"], a[href="/fillydash"], a[href="/bounce"], a[href="/dashjoy"], a[href="/dashbook"], a[href="/reading"], a[href="/coolstorybro"], a[href="/dashmeh"], a[href="/meh"], a[href="/dashponder"], a[href="/dashthinking"], a[href="/dashsmile"], a[href="/smilingdash"], a[href="/cooldash"], a[href="/dealwithitdash"], a[href="/dashhappy"], a[href="/dashlovesyou"], a[href="/dashsurprise"], a[href="/dashomg"], a[href="/omgomgomg"], a[href="/dashwhat"], a[href="/dashwat"], a[href="/dashwut"] {
    display: block;
    clear: none;
    float: left;
    background-image: url(http://b.thumbs.redditmedia.com/5dxmCCeKZiI8SIIm.png);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px
    }
a[href="/dash00"], a[href="/scootacute"], a[href="/scootabrag"], a[href="/ovenmitt"] {
    background-position: 0 0
    }
a[href="/dash01"], a[href="/jedifilly"], a[href="/fillyjedi"] {
    background-position: -70px 0
    }
a[href="/dash02"], a[href="/dashbadass"], a[href="/badassdash"] {
    background-position: -140px 0
    }
a[href="/dash03"], a[href="/dashmeh"], a[href="/meh"] {
    background-position: 0 -210px
    }
a[href="/dash10"], a[href="/cooldash"], a[href="/dealwithitdash"] {
    background-position: 0 -70px
    }
a[href="/dash11"], a[href="/fillydash"], a[href="/bounce"], a[href="/dashjoy"] {
    background-position: -70px -70px
    }
a[href="/dash12"], a[href="/dashsmile"], a[href="/smilingdash"] {
    background-position: -140px -70px
    }
a[href="/dash13"], a[href="/dashhappy"], a[href="/dashlovesyou"], a[href="/dashsurprise"] {
    background-position: -70px -210px
    }
a[href="/dash20"], a[href="/dashponder"], a[href="/dashthinking"] {
    background-position: 0 -140px
    }
a[href="/dash21"], a[href="/dashomg"], a[href="/omgomgomg"] {
    background-position: -70px -140px
    }
a[href="/dash22"], a[href="/dashbook"], a[href="/reading"], a[href="/coolstorybro"] {
    background-position: -140px -140px
    }
a[href="/dash23"], a[href="/dashwhat"], a[href="/dashwat"], a[href="/dashwut"] {
    background-position: -140px -210px
    }