/* There's now a mod log! (Click "moderation log" in the admin box) */
/* Add spoiler or nsfw tag to a specific post */
a[href*="rav7y"][class~="comments"]:before {
    content: "SPOILER";
    color: blue;
    font-size: x-small;
    text-decoration: none;
    padding: 0 2px;
    border: 1px solid blue !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
    }
/* Hide thumbnail of a specific post */
a[href*="oI3zA.png"][class~="thumbnail"] {
    display: none !important
    }
/* Spoiler Setter*/
/*.marknsfw-button a[href="#"], .unmarknsfw-button a[href="#"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
.unmarknsfw-button a[href="#"]:before, .marknsfw-button a[href="#"]:before {
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }
.marknsfw-button a[href="#"]:before {
    content: "spoiler"
    }
.unmarknsfw-button a[href="#"]:before {
    content: "un-spoiler"
    }
.nsfw-stamp acronym {
    border: #5F99CF 1px solid !important;
    display: inline-block;
    font-size: 0px !important;
    letter-spacing: 0px;
    overflow: hidden;
    vertical-align: bottom;
    margin-bottom: -1px
    }
.nsfw-stamp acronym:after {
    color: #336699 !important;
    content: "SPOILER" !important;
    display: block;
    font-size: x-small !important;
    text-decoration: none;
    visibility: visible !important
    }*/
/* ---------- Change "Readers" to "Stonies" ---------- */
.titlebox strong {
    font-size: medium
    }
div.titlebox span.word {
    display: none
    }
div.titlebox span.number:after {
    content: " Equines Grazing"
    }
/* ---------- Notice about spam filter on submission page (that everyone will ignore) ---------- */
#newlink:before {
    content: "The spam filter likes to eat posts, so be sure to check the new queue after submitting. If your post doesn't appear, send a message to the moderators and we'll save your post! Also, send cookies to the mods, and some KFC, and... umm.. Pizza! Yes! Lots of pizza!"
    }
/* ---------- Flair instructions in the sidebar ---------- */
div.tagline:after {
    content: "For text-only flair, select the last (blank) option."
    }
/* ---------- Spoiler ---------- */
a[href="/spoiler"] {
    background: black !important;
    color: black !important
    }
a[href="/spoiler"]:hover {
    color: white !important
    }
/* ---------- Change "Moderators" to "Bloombergs" in the sidebar ---------- */
.sidecontentbox h1:not(:first-child)::before {
    color: gray !important;
    font-size: 13px !important;
    content: "Bloombergs "
    }
.sidecontentbox h1:not(:first-child) {
    color: #FFFFFF !important;
    font-size: .0px !important;
    overflow: hidden
    }
/* ---------- Change people's names ---------- */
a.author[href$="RetardVomitPussyCunt"] {
    font-size: 0px !important;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom
    }
a.author[href$="RetardVomitPussyCunt"]:after {
    content: "DerpyHiccupKittyTail";
    color: #CC0066;
    font-size: 11px !important;
    visibility: visible !important
    }
a.author[href$="reahidru"] {
    font-size: 0px !important;
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom
    }
a.author[href$="reahidru"]:after {
    content: "Dru";
    font-size: 12px !important;
    visibility: visible !important
    }
.commentarea a.author[href$="Chinch335"], .sitetable a.author[href$="Chinch335"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
.commentarea a.author[href$="Chinch335"]:after, .sitetable a.author[href$="Chinch335"]:after {
    content: "Chinchy";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }
.commentarea a.author[href$="Soarin_Wonderbolt"], .sitetable a.author[href$="Soarin_Wonderbolt"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
.commentarea a.author[href$="Soarin_Wonderbolt"]:after, .sitetable a.author[href$="Soarin_Wonderbolt"]:after {
    content: "Sριтғιяԑ";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }
.commentarea a.author[href$="SpitfireWbolt"], .sitetable a.author[href$="SpitfireWbolt"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
.commentarea a.author[href$="SpitfireWbolt"]:after, .sitetable a.author[href$="SpitfireWbolt"]:after {
    content: "Sριтғιяԑ";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }
/* ---------- /r/mylittlepony emoticons ---------- */
/* Tells the Reddit-wide ponymotes script to ignore the mane sub's emotes */
START-PONYSCRIPT-IGNORE {
    color: red
    }
/***********
B Emoticons
***********/
a[href="/b00"], a[href="/b01"], a[href="/b02"], a[href="/b03"], a[href="/b04"], a[href="/b05"], a[href="/b06"], a[href="/b07"], a[href="/b08"], a[href="/b09"], a[href="/b10"], a[href="/b11"], a[href="/b12"], a[href="/b13"], a[href="/b14"], a[href="/b15"], a[href="/b16"], a[href="/b17"], a[href="/b18"], a[href="/b19"], a[href="/b20"], a[href="/b21"], a[href="/b22"], a[href="/b23"], a[href="/b24"], a[href="/b25"], a[href="/b26"], a[href="/b27"], a[href="/b28"], a[href="/b29"], a[href="/b30"], a[href="/b31"], a[href="/b32"], a[href="/b33"], a[href="/b34"], a[href="/b35"], a[href="/b36"], a[href="/b37"], a[href="/b38"], a[href="/b39"], a[href="/flutterfear"], a[href="/ajcower"], a[href="/fluttersrs"], a[href="/ppshrug"], a[href="/fluttershh"], a[href="/ajugh"], a[href="/trixiesmug"], a[href="/ajwut"], a[href="/abwut"], a[href="/rarityjudge"], a[href="/ppboring"], a[href="/ajsly"], a[href="/raritydress"], a[href="/spikenervous"], a[href="/newrainbowdash"], a[href="/flutteryay"], a[href="/raritywut"], a[href="/flutterwink"], a[href="/twisquint"], a[href="/manspike"], a[href="/rarityprimp"], a[href="/rarityyell"], a[href="/eeyup"], a[href="/takealetter"], a[href="/noooo"], a[href="/squintyjack"], a[href="/dumbfabric"], a[href="/rarityannoyed"], a[href="/raritywhine"], a[href="/cockatrice"], a[href="/twirage"], a[href="/fluttershy"], a[href="/rdsmile"], a[href="/rdwut"], a[href="/dj"], a[href="/spikepushy"], a[href="/raritywhy"], a[href="/soawesome"], a[href="/rdcool"], a[href="/facehoof"], a[href="/ppseesyou"] {
    display: block;
    clear: none;
    float: left;
    width: 50px;
    height: 50px;
    background-image: url(http://thumbs.reddit.com/t5_2sjvj_0.png) !important
    }
a[href="/rb00"], a[href="/rb01"], a[href="/rb02"], a[href="/rb03"], a[href="/rb04"], a[href="/rb05"], a[href="/rb06"], a[href="/rb07"], a[href="/rb08"], a[href="/rb09"], a[href="/rb10"], a[href="/rb11"], a[href="/rb12"], a[href="/rb13"], a[href="/rb14"], a[href="/rb15"], a[href="/rb16"], a[href="/rb17"], a[href="/rb18"], a[href="/rb19"], a[href="/rb20"], a[href="/rb21"], a[href="/rb22"], a[href="/rb23"], a[href="/rb24"], a[href="/rb25"], a[href="/rb26"], a[href="/rb27"], a[href="/rb28"], a[href="/rb29"], a[href="/rb30"], a[href="/rb31"], a[href="/rb32"], a[href="/rb33"], a[href="/rb34"], a[href="/rb35"], a[href="/rb36"], a[href="/rb37"], a[href="/rb38"], a[href="/rb39"], a[href="/rflutterfear"], a[href="/rajcower"], a[href="/rfluttersrs"], a[href="/rppshrug"], a[href="/rfluttershh"], a[href="/rajugh"], a[href="/rtrixiesmug"], a[href="/rajwut"], a[href="/rabwut"], a[href="/rrarityjudge"], a[href="/rppboring"], a[href="/rajsly"], a[href="/rraritydress"], a[href="/rspikenervous"], a[href="/rnewrainbowdash"], a[href="/rflutteryay"], a[href="/rraritywut"], a[href="/rflutterwink"], a[href="/rtwisquint"], a[href="/rmanspike"], a[href="/rrarityprimp"], a[href="/rrarityyell"], a[href="/reeyup"], a[href="/rtakealetter"], a[href="/rnoooo"], a[href="/rsquintyjack"], a[href="/rdumbfabric"], a[href="/rrarityannoyed"], a[href="/rraritywhine"], a[href="/rcockatrice"], a[href="/rtwirage"], a[href="/rfluttershy"], a[href="/rrdsmile"], a[href="/rrdwut"], a[href="/rdj"], a[href="/rspikepushy"], a[href="/rraritywhy"], a[href="/rsoawesome"], a[href="/rrdcool"], a[href="/rfacehoof"], a[href="/rppseesyou"] {
    display: block;
    clear: none;
    float: left;
    width: 50px;
    height: 50px;
    background-image: url(http://thumbs.reddit.com/t5_2sjvj_16.png) !important
    }
a[href="/b00"], a[href="/rb00"], a[href="/flutterfear"], a[href="/rflutterfear"] {
    background-position: -0px -0px
    }
a[href="/b01"], a[href="/rb01"], a[href="/ajcower"], a[href="/rajcower"] {
    background-position: -0px -50px
    }
a[href="/b02"], a[href="/rb02"], a[href="/fluttersrs"], a[href="/rfluttersrs"] {
    background-position: -0px -100px
    }
a[href="/b03"], a[href="/rb03"], a[href="/ppshrug"], a[href="/rppshrug"] {
    background-position: -0px -150px
    }
a[href="/b04"], a[href="/rb04"], a[href="/fluttershh"], a[href="/rfluttershh"] {
    background-position: -0px -200px
    }
a[href="/b05"], a[href="/rb05"], a[href="/ajugh"], a[href="/rajugh"] {
    background-position: -0px -250px
    }
a[href="/b06"], a[href="/rb06"], a[href="/trixiesmug"], a[href="/rtrixiesmug"] {
    background-position: -0px -300px
    }
a[href="/b07"], a[href="/rb07"], a[href="/ajwut"], a[href="/rajwut"] {
    background-position: -0px -350px
    }
a[href="/b08"], a[href="/rb08"], a[href="/abwut"], a[href="/rabwut"] {
    background-position: -0px -400px
    }
a[href="/b09"], a[href="/rb09"], a[href="/rarityjudge"], a[href="/rrarityjudge"] {
    background-position: -0px -450px
    }
a[href="/b10"], a[href="/rb10"], a[href="/ppboring"], a[href="/rppboring"] {
    background-position: -50px -0px
    }
a[href="/b11"], a[href="/rb11"], a[href="/ajsly"], a[href="/rajsly"] {
    background-position: -50px -50px
    }
a[href="/b12"], a[href="/rb12"], a[href="/raritydress"], a[href="/rraritydress"] {
    background-position: -50px -100px
    }
a[href="/b13"], a[href="/rb13"], a[href="/spikenervous"], a[href="/rspikenervous"], a[href="/newrainbowdash"], a[href="/rnewrainbowdash"] {
    background-position: -50px -150px
    }
a[href="/b14"], a[href="/rb14"], a[href="/flutteryay"], a[href="/rflutteryay"] {
    background-position: -50px -200px
    }
a[href="/b15"], a[href="/rb15"], a[href="/raritywut"], a[href="/rraritywut"] {
    background-position: -50px -250px
    }
a[href="/b16"], a[href="/rb16"], a[href="/flutterwink"], a[href="/rflutterwink"] {
    background-position: -50px -300px
    }
a[href="/b17"], a[href="/rb17"], a[href="/twisquint"], a[href="/rtwisquint"] {
    background-position: -50px -350px
    }
a[href="/b18"], a[href="/rb18"], a[href="/manspike"], a[href="/rmanspike"] {
    background-position: -50px -400px
    }
a[href="/b19"], a[href="/rb19"], a[href="/rarityprimp"], a[href="/rrarityprimp"] {
    background-position: -50px -450px
    }
a[href="/b20"], a[href="/rb20"], a[href="/rarityyell"], a[href="/rrarityyell"] {
    background-position: -100px -0px
    }
a[href="/b21"], a[href="/rb21"], a[href="/eeyup"], a[href="/reeyup"] {
    background-position: -100px -50px
    }
a[href="/b22"], a[href="/rb22"], a[href="/takealetter"], a[href="/rtakealetter"] {
    background-position: -100px -100px
    }
a[href="/b23"], a[href="/rb23"], a[href="/noooo"], a[href="/rnoooo"] {
    background-position: -100px -150px
    }
a[href="/b24"], a[href="/rb24"], a[href="/squintyjack"], a[href="/rsquintyjack"] {
    background-position: -100px -200px
    }
a[href="/b25"], a[href="/rb25"], a[href="/dumbfabric"], a[href="/rdumbfabric"] {
    background-position: -100px -250px
    }
a[href="/b26"], a[href="/rb26"], a[href="/rarityannoyed"], a[href="/rrarityannoyed"] {
    background-position: -100px -300px
    }
a[href="/b27"], a[href="/rb27"], a[href="/raritywhine"], a[href="/rraritywhine"] {
    background-position: -100px -350px
    }
a[href="/b28"], a[href="/rb28"], a[href="/cockatrice"], a[href="/rcockatrice"] {
    background-position: -100px -400px
    }
a[href="/b29"], a[href="/rb29"], a[href="/twirage"], a[href="/rtwirage"] {
    background-position: -100px -450px
    }
a[href="/b30"], a[href="/rb30"], a[href="/fluttershy"], a[href="/rfluttershy"] {
    background-position: -150px -0px
    }
a[href="/b31"], a[href="/rb31"], a[href="/rdsmile"], a[href="/rrdsmile"] {
    background-position: -150px -50px
    }
a[href="/b32"], a[href="/rb32"], a[href="/rdwut"], a[href="/rrdwut"] {
    background-position: -150px -100px
    }
a[href="/b33"], a[href="/rb33"], a[href="/dj"], a[href="/rdj"] {
    background-position: -150px -150px
    }
a[href="/b34"], a[href="/rb34"], a[href="/spikepushy"], a[href="/rspikepushy"] {
    background-position: -150px -200px
    }
a[href="/b35"], a[href="/rb35"], a[href="/raritywhy"], a[href="/rraritywhy"] {
    background-position: -150px -250px
    }
a[href="/b36"], a[href="/rb36"], a[href="/soawesome"], a[href="/rsoawesome"] {
    background-position: -150px -300px
    }
a[href="/b37"], a[href="/rb37"], a[href="/rdcool"], a[href="/rrdcool"] {
    background-position: -150px -350px
    }
a[href="/b38"], a[href="/rb38"], a[href="/facehoof"], a[href="/rfacehoof"] {
    background-position: -150px -400px
    }
a[href="/b39"], a[href="/rb39"], a[href="/ppseesyou"], a[href="/rppseesyou"] {
    background-position: -150px -450px
    }
/***********
C Emoticons
***********/
a[href="/c00"], a[href="/c01"], a[href="/c02"], a[href="/c03"], a[href="/c04"], a[href="/c05"], a[href="/c06"], a[href="/c07"], a[href="/c08"], a[href="/c09"], a[href="/c10"], a[href="/c11"], a[href="/c12"], a[href="/c13"], a[href="/c14"], a[href="/c15"], a[href="/c16"], a[href="/c17"], a[href="/c18"], a[href="/c19"], a[href="/c20"], a[href="/c21"], a[href="/c22"], a[href="/c23"], a[href="/c24"], a[href="/c25"], a[href="/c26"], a[href="/c27"], a[href="/c28"], a[href="/c29"], a[href="/rdsitting"], a[href="/twismug"], a[href="/ohhi"], a[href="/flutterblush"], a[href="/ajfrown"], a[href="/raritysad"], a[href="/louder"], a[href="/pinkamina"], a[href="/scootaloo"], a[href="/allmybits"], a[href="/rdhappy"], a[href="/twismile"], a[href="/party"], a[href="/gross"], a[href="/hmmm"], a[href="/fabulous"], a[href="/lunasad"], a[href="/loveme"], a[href="/celestia"], a[href="/zecora"], a[href="/rdannoyed"], a[href="/twistare"], a[href="/hahaha"], a[href="/derpyhappy"], a[href="/joy"], a[href="/derp"], a[href="/derpyshock"], a[href="/lunagasp"], a[href="/angel"], a[href="/photofinish"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://thumbs.reddit.com/t5_2sjvj_1.png) !important
    }
a[href="/rc00"], a[href="/rc01"], a[href="/rc02"], a[href="/rc03"], a[href="/rc04"], a[href="/rc05"], a[href="/rc06"], a[href="/rc07"], a[href="/rc08"], a[href="/rc09"], a[href="/rc10"], a[href="/rc11"], a[href="/rc12"], a[href="/rc13"], a[href="/rc14"], a[href="/rc15"], a[href="/rc16"], a[href="/rc17"], a[href="/rc18"], a[href="/rc19"], a[href="/rc20"], a[href="/rc21"], a[href="/rc22"], a[href="/rc23"], a[href="/rc24"], a[href="/rc25"], a[href="/rc26"], a[href="/rc27"], a[href="/rc28"], a[href="/rc29"], a[href="/rrdsitting"], a[href="/rtwismug"], a[href="/rohhi"], a[href="/rflutterblush"], a[href="/rajfrown"], a[href="/rraritysad"], a[href="/rlouder"], a[href="/rpinkamina"], a[href="/rscootaloo"], a[href="/rallmybits"], a[href="/rrdhappy"], a[href="/rtwismile"], a[href="/rparty"], a[href="/rgross"], a[href="/rhmmm"], a[href="/rfabulous"], a[href="/rlunasad"], a[href="/rloveme"], a[href="/rcelestia"], a[href="/rzecora"], a[href="/rrdannoyed"], a[href="/rtwistare"], a[href="/rhahaha"], a[href="/rderpyhappy"], a[href="/rjoy"], a[href="/rderp"], a[href="/rderpyshock"], a[href="/rlunagasp"], a[href="/rangel"], a[href="/rphotofinish"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://thumbs.reddit.com/t5_2sjvj_18.png) !important
    }
a[href="/c00"], a[href="/rc00"], a[href="/rdsitting"], a[href="/rrdsitting"] {
    background-position: -0px -0px
    }
a[href="/c01"], a[href="/rc01"], a[href="/twismug"], a[href="/rtwismug"] {
    background-position: -0px -70px
    }
a[href="/c02"], a[href="/rc02"], a[href="/ohhi"], a[href="/rohhi"] {
    background-position: -0px -140px
    }
a[href="/c03"], a[href="/rc03"], a[href="/flutterblush"], a[href="/rflutterblush"] {
    background-position: -0px -210px
    }
a[href="/c04"], a[href="/rc04"], a[href="/ajfrown"], a[href="/rajfrown"] {
    background-position: -0px -280px
    }
a[href="/c05"], a[href="/rc05"], a[href="/raritysad"], a[href="/rraritysad"] {
    background-position: -0px -350px
    }
a[href="/c06"], a[href="/rc06"], a[href="/louder"], a[href="/rlouder"] {
    background-position: -0px -420px
    }
a[href="/c07"], a[href="/rc07"], a[href="/pinkamina"], a[href="/rpinkamina"] {
    background-position: -0px -490px
    }
a[href="/c08"], a[href="/rc08"], a[href="/scootaloo"], a[href="/rscootaloo"] {
    background-position: -0px -560px
    }
a[href="/c09"], a[href="/rc09"], a[href="/allmybits"], a[href="/rallmybits"] {
    background-position: -0px -630px
    }
a[href="/c10"], a[href="/rc10"], a[href="/rdhappy"], a[href="/rrdhappy"] {
    background-position: -70px -0px
    }
a[href="/c11"], a[href="/rc11"], a[href="/twismile"], a[href="/rtwismile"] {
    background-position: -70px -70px
    }
a[href="/c12"], a[href="/rc12"], a[href="/party"], a[href="/rparty"] {
    background-position: -70px -140px
    }
a[href="/c13"], a[href="/rc13"], a[href="/gross"], a[href="/rgross"] {
    background-position: -70px -210px
    }
a[href="/c14"], a[href="/rc14"], a[href="/hmmm"], a[href="/rhmmm"] {
    background-position: -70px -280px
    }
a[href="/c15"], a[href="/rc15"], a[href="/fabulous"], a[href="/rfabulous"] {
    background-position: -70px -350px
    }
a[href="/c16"], a[href="/rc16"], a[href="/lunasad"], a[href="/rlunasad"] {
    background-position: -70px -420px
    }
a[href="/c17"], a[href="/rc17"], a[href="/loveme"], a[href="/rloveme"] {
    background-position: -70px -490px
    }
a[href="/c18"], a[href="/rc18"], a[href="/celestia"], a[href="/rcelestia"] {
    background-position: -70px -560px
    }
a[href="/c19"], a[href="/rc19"], a[href="/zecora"], a[href="/rzecora"] {
    background-position: -70px -630px
    }
a[href="/c20"], a[href="/rc20"], a[href="/rdannoyed"], a[href="/rrdannoyed"] {
    background-position: -140px -0px
    }
a[href="/c21"], a[href="/rc21"], a[href="/twistare"], a[href="/rtwistare"] {
    background-position: -140px -70px
    }
a[href="/c22"], a[href="/rc22"], a[href="/hahaha"], a[href="/rhahaha"] {
    background-position: -140px -140px
    }
a[href="/c23"], a[href="/rc23"], a[href="/derpyhappy"], a[href="/rderpyhappy"] {
    background-position: -140px -210px
    }
a[href="/c24"], a[href="/rc24"], a[href="/joy"], a[href="/rjoy"] {
    background-position: -140px -280px
    }
a[href="/c25"], a[href="/rc25"], a[href="/derp"], a[href="/rderp"] {
    background-position: -140px -350px
    }
a[href="/c26"], a[href="/rc26"], a[href="/derpyshock"], a[href="/rderpyshock"] {
    background-position: -140px -420px
    }
a[href="/c27"], a[href="/rc27"], a[href="/lunagasp"], a[href="/rlunagasp"] {
    background-position: -140px -490px
    }
a[href="/c28"], a[href="/rc28"], a[href="/angel"], a[href="/rangel"] {
    background-position: -140px -560px
    }
a[href="/c29"], a[href="/rc29"], a[href="/photofinish"], a[href="/rphotofinish"] {
    background-position: -140px -630px
    }
/**************
A Emoticons
**************/
/*a[href|="/swagintosh"], a[href|="/a24"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://f.thumbs.redditmedia.com/IugBi-28qMxAgVzw.png)
    }
a[href|="/rswagintosh"], a[href|="/ra24"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://a.thumbs.redditmedia.com/ZqxffVrG2BJjyaAZ.png)
    }*/
a[href|="/a00"], a[href|="/ajlie"], a[href|="/a01"], a[href|="/a10"], a[href|="/a11"], a[href|="/a21"], a[href|="/priceless"], a[href|="/a20"], a[href|="/flutterjerk"], a[href|="/celestiamad"], a[href|="/twicrazy"], a[href|="/twipride"], a[href|="/lunateehee"], a[href|="/lunawait"], a[href|="/a02"], a[href|="/a12"], a[href|="/a22"], a[href|="/a04"], a[href|="/a14"], a[href|="/a05"], a[href|="/a15"], a[href|="/paperbagderpy"], a[href|="/paperbagwizard"], a[href|="/derpwizard"], a[href|="/a03"], a[href|="/ajhappy"], a[href|="/happlejack"], a[href|="/a13"], a[href|="/ppfear"], a[href|="/pinkiefear"], a[href|="/a23"], a[href|="/twibeam"], a[href|="/raritydaww"], a[href|="/scootacheer"], a[href|="/lootascoo"], a[href|="/ajsup"], a[href|="/ajwhatsgood"], a[href|="/flutterwhoa"], a[href|="/flutterwoah"], a[href|="/a25"], a[href|="/rdsad"], a[href|="/saddash"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://f.thumbs.redditmedia.com/pVhHai8F7K3mL8gq.png) !important
    }
a[href|="/ra00"], a[href|="/rajlie"], a[href|="/ra01"], a[href|="/ra10"], a[href|="/ra11"], a[href|="/ra21"], a[href|="/rpriceless"], a[href|="/ra20"], a[href|="/rflutterjerk"], a[href|="/rcelestiamad"], a[href|="/rtwicrazy"], a[href|="/rtwipride"], a[href|="/rlunateehee"], a[href|="/rlunawait"], a[href|="/ra02"], a[href|="/ra12"], a[href|="/ra22"], a[href|="/ra04"], a[href|="/ra14"], a[href|="/ra05"], a[href|="/ra15"] a[href|="/rpaperbagderpy"], a[href|="/rpaperbagwizard"], a[href|="/rderpwizard"], a[href|="/ra03"], a[href|="/rajhappy"], a[href|="/rhapplejack"], a[href|="/ra13"], a[href|="/rppfear"], a[href|="/rpinkiefear"], a[href|="/ra23"], a[href|="/rtwibeam"], a[href|="/rraritydaww"], a[href|="/rscootacheer"], a[href|="/rlootascoo"], a[href|="/rajsup"], a[href|="/rajwhatsgood"], a[href|="/rflutterwhoa"], a[href|="/rflutterwoah"], a[href|="/ra25"], a[href|="/rrdsad"], a[href|="/rsaddash"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://e.thumbs.redditmedia.com/nrLXR3hYLaRX76GR.png) !important
    }
a[href|="/a00"], a[href|="/ra00"], a[href|="/ajlie"], a[href|="/rajlie"], a[href|="/swagintosh"], a[href|="/rswagintosh"], a[href|="/a24"], a[href|="/ra24"] {
    background-position: -0px -0px
    }
a[href|="/a10"], a[href|="/ra10"], a[href|="/priceless"], a[href|="/rpriceless"] {
    background-position: -70px -0px
    }
a[href|="/a20"], a[href|="/ra20"], a[href|="/flutterjerk"], a[href|="/rflutterjerk"] {
    background-position: -140px -0px
    }
a[href|="/a01"], a[href|="/ra01"], a[href|="/twipride"], a[href|="/rtwipride"] {
    background-position: -0px -70px
    }
a[href|="/a11"], a[href|="/ra11"], a[href|="/celestiamad"], a[href|="/rcelestiamad"] {
    background-position: -70px -70px
    }
a[href|="/a21"], a[href|="/ra21"], a[href|="/twicrazy"], a[href|="/rtwicrazy"] {
    background-position: -140px -70px
    }
a[href|="/a02"], a[href|="/lunateehee"], a[href|="/ra02"], a[href|="/rlunateehee"] {
    background-position: -0px -140px
    }
a[href|="/a12"], a[href|="/lunawait"], a[href|="/ra12"], a[href|="/rlunawait"] {
    background-position: -70px -140px
    }
a[href|="/a22"], a[href|="/paperbagderpy"], a[href|="/paperbagwizard"], a[href|="/derpwizard"], a[href|="/ra22"], a[href|="/rpaperbagderpy"], a[href|="/rpaperbagwizard"], a[href|="/rderpwizard"] {
    background-position: -140px -140px
    }
a[href|="/a03"], a[href|="/ajhappy"], a[href|="/happlejack"], a[href|="/ra03"], a[href|="/rajhappy"], a[href|="/rhapplejack"] {
    background-position: -0px -210px
    }
a[href|="/a13"], a[href|="/ra13"], a[href|="/ppfear"], a[href|="/rppfear"], a[href|="/pinkiefear"], a[href|="/rpinkiefear"] {
    background-position: -70px -210px
    }
a[href|="/a23"], a[href|="/ra23"], a[href|="/twibeam"], a[href|="/rtwibeam"] {
    background-position: -140px -210px
    }
a[href|="/a04"], a[href|="/ra04"], a[href|="/raritydaww"], a[href|="/rraritydaww"] {
    background-position: -0px -280px
    }
a[href|="/a14"], a[href|="/ra14"], a[href|="/scootacheer"], a[href|="/rscootacheer"], a[href|="/lootascoo"], a[href|="/rlootascoo"] {
    background-position: -70px -280px
    }
a[href|="/a05"], a[href|="/ra05"], a[href|="/ajsup"], a[href|="/rajsup"], a[href|="/ajwhatsgood"], a[href|="/rajwhatsgood"] {
    background-position: -0px -350px
    }
a[href|="/a15"], a[href|="/ra15"], a[href|="/flutterwhoa"], a[href|="/rflutterwhoa"], a[href|="/flutterwoah"], a[href|="/rflutterwoah"] {
    background-position: -70px -350px
    }
a[href|="/a25"], a[href|="/ra25"], a[href|="saddash"], a[href|="rsaddash"], a[href|="rdsad"], a[href|="rrdsad"] {
    background-position: -140px -350px
    }
/*Extras*/
a[href|="/e00"], a[href|="/e01"], a[href|="/e02"], a[href|="/e03"], a[href|="/e04"], a[href|="/e05"], a[href|="/e06"], a[href|="/e07"], a[href|="/e10"], a[href|="/e11"], a[href|="/e12"], a[href|="/e13"], a[href|="/e14"], a[href|="/e15"], a[href|="/e16"], a[href|="/e17"], a[href|="/e20"], a[href|="/e21"], a[href|="/e22"], a[href|="/e23"], a[href|="/e24"], a[href|="/e25"], a[href|="/e26"], a[href|="/e27"], a[href|="/l00"], a[href|="/lyra"], a[href|="/t00"], a[href|="/bonbon"], a[href|="/sbstare"], a[href|="/snails"], a[href|="/rdhuh"], a[href|="/spitfire"], a[href|="/cutealoo"], a[href|="/fillytgap"], a[href|="/happyluna"], a[href|="/lunahappy"], a[href|="/sotrue"], a[href|="/wahaha"], a[href|="/berry"], a[href|="/punchdrunk"], a[href|="/absmile"], a[href|="/huhhuh"], a[href|="/dealwithit"], a[href|="/nmm"], a[href|="/blacksnooty"], a[href|="/queenmeanie"], a[href|="/hokeysmokes"], a[href|="/whooves"], a[href|="/rdsalute"], a[href|="/octavia"], a[href|="/colgate"], a[href|="/cheerilee"], a[href|="/ajconfused"], a[href|="/ajbaffle"], a[href|="/ajtherapy"], a[href|="/abhuh"], a[href|="/lily"], a[href|="/thehorror"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://d.thumbs.redditmedia.com/EW8HbUI6FbHNdNdu.png) !important
    }
a[href|="/re00"], a[href|="/re01"], a[href|="/re02"], a[href|="/re03"], a[href|="/re04"], a[href|="/re05"], a[href|="/re06"], a[href|="/re07"], a[href|="/re10"], a[href|="/re11"], a[href|="/re12"], a[href|="/re13"], a[href|="/re14"], a[href|="/re15"], a[href|="/re16"], a[href|="/re17"], a[href|="/re20"], a[href|="/re21"], a[href|="/re22"], a[href|="/re23"], a[href|="/re24"], a[href|="/re25"], a[href|="/re26"], a[href|="/re27"], a[href|="/rl00"], a[href|="/rlyra"], a[href|="/rt00"], a[href|="/rbonbon"], a[href|="/rsbstare"], a[href|="/rsnails"], a[href|="/rrdhuh"], a[href|="/rspitfire"], a[href|="/rcutealoo"], a[href|="/rfillytgap"], a[href|="/rhappyluna"], a[href|="/rlunahappy"], a[href|="/rsotrue"], a[href|="/rwahaha"], a[href|="/rberry"], a[href|="/rpunchdrunk"], a[href|="/rabsmile"], a[href|="/rhuhhuh"], a[href|="/rdealwithit"], a[href|="/rnmm"], a[href|="/rblacksnooty"], a[href|="/rqueenmeanie"], a[href|="/rhokeysmokes"], a[href|="/rwhooves"], a[href|="/rrdsalute"], a[href|="/roctavia"], a[href|="/rcolgate"], a[href|="/rcheerilee"], a[href|="/rajconfused"], a[href|="/rajbaffle"], a[href|="/rajtherapy"], a[href|="/rabhuh"], a[href|="/rlily"], a[href|="/rthehorror"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://e.thumbs.redditmedia.com/CT2qdli5O5_AWKIp.png) !important
    }
a[href|="/l00"], a[href|="/rl00"], a[href|="/e01"], a[href|="/re01"], a[href|="/lyra"] {
    background-position: -0px -0px
    }
a[href|="/t00"], a[href|="/rt00"], a[href|="/e00"], a[href|="/re00"], a[href|="/fillytgap"], a[href|="/rfillytgap"] {
    background-position: -70px -0px
    }
a[href|="/e11"], a[href|="/re11"], a[href|="/bonbon"], a[href|="/rbonbon"] {
    background-position: -140px -0px
    }
a[href|="/e20"], a[href|="/re20"], a[href|="/snails"], a[href|="/rsnails"] {
    background-position: -0px -70px
    }
a[href|="/e10"], a[href|="/re10"], a[href|="/rdhuh"], a[href|="/rrdhuh"] {
    background-position: -70px -70px
    }
a[href|="/e21"], a[href|="/re21"], a[href|="/spitfire"], a[href|="/rspitfire"] {
    background-position: -140px -70px
    }
a[href|="/e02"], a[href|="/re02"], a[href|="/cutealoo"], a[href|="/rcutealoo"] {
    background-position: -0px -140px
    }
a[href|="/e12"], a[href|="/re12"], a[href|="/happyluna"], a[href|="/rhappyluna"], a[href|="/lunahappy"], a[href|="/rlunahappy"] {
    background-position: -70px -140px
    }
a[href|="/e22"], a[href|="/re22"], a[href|="/sotrue"], a[href|="/rsotrue"] {
    background-position: -140px -140px
    }
a[href|="/e03"], a[href|="/re03"], a[href|="/wahaha"], a[href|="/rwahaha"] {
    background-position: -0px -210px
    }
a[href|="/e13"], a[href|="/re13"], a[href|="/sbstare"], a[href|="/rsbstare"] {
    background-position: -70px -210px
    }
a[href|="/e23"], a[href|="/re23"], a[href|="/berry"], a[href|="/rberry"], a[href|="/punchdrunk"], a[href|="/rpunchdrunk"] {
    background-position: -140px -210px
    }
a[href|="/e14"], a[href|="/re14"], a[href|="/absmile"], a[href|="/rabsmile"] {
    background-position: -0px -280px
    }
a[href|="/e04"], a[href|="/re04"], a[href|="/huhhuh"], a[href|="/rhuhhuh"] {
    background-position: -70px -280px
    }
a[href|="/e24"], a[href|="/re24"], a[href|="/dealwithit"], a[href|="/rdealwithit"] {
    background-position: -140px -280px
    }
a[href|="/e05"], a[href|="/re05"], a[href|="/nmm"], a[href|="/blacksnooty"], a[href|="/rnmm"], a[href|="/rblacksnooty"], a[href|="/queenmeanie"], a[href|="/rqueenmeanie"], a[href|="/hokeysmokes"], a[href|="/rhokeysmokes"] {
    background-position: -0px -350px
    }
a[href|="/e15"], a[href|="/re15"], a[href|="/whooves"], a[href|="/rwhooves"] {
    background-position: -70px -350px
    }
a[href|="/e25"], a[href|="/re25"], a[href|="/rdsalute"], a[href|="/rrdsalute"] {
    background-position: -140px -350px
    }
a[href|="/e06"], a[href|="/re06"], a[href|="/octavia"], a[href|="/roctavia"] {
    background-position: -0px -420px
    }
a[href|="/e16"], a[href|="/re16"], a[href|="/colgate"], a[href|="/rcolgate"] {
    background-position: -70px -420px
    }
a[href|="/e26"], a[href|="/re26"], a[href|="/cheerilee"], a[href|="/rcheerilee"] {
    background-position: -140px -420px
    }
a[href|="/e07"], a[href|="/re07"], a[href|="/ajconfused"], a[href|="/rajconfused"], a[href|="/ajbaffle"], a[href|="/rajbaffle"], a[href|="/ajtherapy"], a[href|="/rajtherapy"] {
    background-position: -0px -490px
    }
a[href|="/e17"], a[href|="/re17"], a[href|="/abhuh"], a[href|="/rabhuh"] {
    background-position: -70px -490px
    }
a[href|="/e27"], a[href|="/re27"], a[href|="/lily"], a[href|="/rlily"], a[href|="/thehorror"], a[href|="/rthehorror"] {
    background-position: -140px -490px
    }
END-PONYSCRIPT-IGNORE {
    color: red
    }
/* ---------- Stony Emoticons  ---------- */
/* D Table */
a[href|="/d00"], a[href|="/d01"], a[href|="/d02"], a[href|="/d03"], a[href|="/d04"], a[href|="/d05"], a[href|="/d06"], a[href|="/d07"], a[href|="/d08"], a[href|="/d09"], a[href|="/d10"], a[href|="/d11"], a[href|="/d12"], a[href|="/d13"], a[href|="/d14"], a[href|="/d15"], a[href|="/d16"], a[href|="/d17"], a[href|="/d18"], a[href|="/d19"], a[href|="/d20"], a[href|="/d21"], a[href|="/d22"], a[href|="/d23"], a[href|="/d24"], a[href|="/d25"], a[href|="/d26"], a[href|="/d27"], a[href|="/d28"], a[href|="/d29"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://e.thumbs.redditmedia.com/rbi281-z8LatHB4R.png) !important
    }
a[href|="/rd00"], a[href|="/rd01"], a[href|="/rd02"], a[href|="/rd03"], a[href|="/rd04"], a[href|="/rd05"], a[href|="/rd06"], a[href|="/rd07"], a[href|="/rd08"], a[href|="/rd09"], a[href|="/rd10"], a[href|="/rd11"], a[href|="/rd12"], a[href|="/rd13"], a[href|="/rd14"], a[href|="/rd15"], a[href|="/rd16"], a[href|="/rd17"], a[href|="/rd18"], a[href|="/rd19"], a[href|="/rd20"], a[href|="/rd21"], a[href|="/rd22"], a[href|="/rd23"], a[href|="/rd24"], a[href|="/rd25"], a[href|="/rd26"], a[href|="/rd27"], a[href|="/rd28"], a[href|="/rd29"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://a.thumbs.redditmedia.com/zMysJBPKLKNz5OMN.png) !important
    }
/* E table */
/*a[href|="/e00"], a[href|="/e01"], a[href|="/e02"], a[href|="/e03"], a[href|="/e04"], a[href|="/e05"], a[href|="/e06"], a[href|="/e07"], a[href|="/e08"], a[href|="/e09"], a[href|="/e10"], a[href|="/e11"], a[href|="/e12"], a[href|="/e13"], a[href|="/e14"], a[href|="/e15"], a[href|="/e16"], a[href|="/e17"], a[href|="/e18"], a[href|="/e19"], a[href|="/e20"], a[href|="/e21"], a[href|="/e22"], a[href|="/e23"], a[href|="/e24"], a[href|="/e25"], a[href|="/e26"], a[href|="/e27"], a[href|="/e28"], a[href|="/e29"] {*/
a[href|="/st00"], a[href|="/st01"], a[href|="/st02"], a[href|="/st03"], a[href|="/st04"], a[href|="/st05"], a[href|="/st06"], a[href|="/st07"], a[href|="/st08"], a[href|="/st09"], a[href|="/st10"], a[href|="/st11"], a[href|="/st12"], a[href|="/st13"], a[href|="/st14"], a[href|="/st15"], a[href|="/st16"], a[href|="/st17"], a[href|="/st18"], a[href|="/st19"], a[href|="/st20"], a[href|="/st21"], a[href|="/st22"], a[href|="/st23"], a[href|="/st24"], a[href|="/st25"], a[href|="/st26"], a[href|="/st27"], a[href|="/st28"], a[href|="/st29"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://f.thumbs.redditmedia.com/eYNmDAxOz5Ul7GLq.png) !important
    }
/*a[href|="/re00"], a[href|="/re01"], a[href|="/re02"], a[href|="/re03"], a[href|="/re04"], a[href|="/re05"], a[href|="/re06"], a[href|="/re07"], a[href|="/re08"], a[href|="/re09"], a[href|="/re10"], a[href|="/re11"], a[href|="/re12"], a[href|="/re13"], a[href|="/re14"], a[href|="/re15"], a[href|="/re16"], a[href|="/re17"], a[href|="/re18"], a[href|="/re19"], a[href|="/re20"], a[href|="/re21"], a[href|="/re22"], a[href|="/re23"], a[href|="/re24"], a[href|="/re25"], a[href|="/re26"], a[href|="/re27"], a[href|="/re28"], a[href|="/re29"] {*/
a[href|="/rst00"], a[href|="/rst01"], a[href|="/rst02"], a[href|="/rst03"], a[href|="/rst04"], a[href|="/rst05"], a[href|="/rst06"], a[href|="/rst07"], a[href|="/rst08"], a[href|="/rst09"], a[href|="/rst10"], a[href|="/rst11"], a[href|="/rst12"], a[href|="/rst13"], a[href|="/rst14"], a[href|="/rst15"], a[href|="/rst16"], a[href|="/rst17"], a[href|="/rst18"], a[href|="/rst19"], a[href|="/rst20"], a[href|="/rst21"], a[href|="/rst22"], a[href|="/rst23"], a[href|="/rst24"], a[href|="/rst25"], a[href|="/rst26"], a[href|="/rst27"], a[href|="/rst28"], a[href|="/rst29"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://c.thumbs.redditmedia.com/U6IxkP4SNnmRX1Jh.png) !important
    }
a[href|="/d00"], a[href|="/rd00"], a[href|="/st00"], a[href|="/rst00"] {
    background-position: 0 0
    }
a[href|="/d01"], a[href|="/rd01"], a[href|="/st01"], a[href|="/rst01"] {
    background-position: 0 -70px
    }
a[href|="/d02"], a[href|="/rd02"], a[href|="/st02"], a[href|="/rst02"] {
    background-position: 0 -140px
    }
a[href|="/d03"], a[href|="/rd03"], a[href|="/st03"], a[href|="/rst03"] {
    background-position: 0 -210px
    }
a[href|="/d04"], a[href|="/rd04"], a[href|="/st04"], a[href|="/rst04"] {
    background-position: 0 -280px
    }
a[href|="/d05"], a[href|="/rd05"], a[href|="/st05"], a[href|="/rst05"] {
    background-position: 0 -350px
    }
a[href|="/d06"], a[href|="/rd06"], a[href|="/st06"], a[href|="/rst06"] {
    background-position: 0 -420px
    }
a[href|="/d07"], a[href|="/rd07"], a[href|="/st07"], a[href|="/rst07"] {
    background-position: 0 -490px
    }
a[href|="/d08"], a[href|="/rd08"], a[href|="/st08"], a[href|="/rst08"] {
    background-position: 0 -560px
    }
a[href|="/d09"], a[href|="/rd09"], a[href|="/st09"], a[href|="/rst09"] {
    background-position: 0 -630px
    }
a[href|="/d10"], a[href|="/rd10"], a[href|="/st10"], a[href|="/rst10"] {
    background-position: -70px 0
    }
a[href|="/d11"], a[href|="/rd11"], a[href|="/st11"], a[href|="/rst11"] {
    background-position: -70px -70px
    }
a[href|="/d12"], a[href|="/rd12"], a[href|="/st12"], a[href|="/rst12"] {
    background-position: -70px -140px
    }
a[href|="/d13"], a[href|="/rd13"], a[href|="/st13"], a[href|="/rst13"] {
    background-position: -70px -210px
    }
a[href|="/d14"], a[href|="/rd14"], a[href|="/st14"], a[href|="/rst14"] {
    background-position: -70px -280px
    }
a[href|="/d15"], a[href|="/rd15"], a[href|="/st15"], a[href|="/rst15"] {
    background-position: -70px -350px
    }
a[href|="/d16"], a[href|="/rd16"], a[href|="/st16"], a[href|="/rst16"] {
    background-position: -70px -420px
    }
a[href|="/d17"], a[href|="/rd17"], a[href|="/st17"], a[href|="/rst17"] {
    background-position: -70px -490px
    }
a[href|="/d18"], a[href|="/rd18"], a[href|="/st18"], a[href|="/rst18"] {
    background-position: -70px -560px
    }
a[href|="/d19"], a[href|="/rd19"], a[href|="/st19"], a[href|="/rst19"] {
    background-position: -70px -630px
    }
a[href|="/d20"], a[href|="/rd20"], a[href|="/st20"], a[href|="/rst20"] {
    background-position: -140px 0
    }
a[href|="/d21"], a[href|="/rd21"], a[href|="/st21"], a[href|="/rst21"] {
    background-position: -140px -70px
    }
a[href|="/d22"], a[href|="/rd22"], a[href|="/st22"], a[href|="/rst22"] {
    background-position: -140px -140px
    }
a[href|="/d23"], a[href|="/rd23"], a[href|="/st23"], a[href|="/rst23"] {
    background-position: -140px -210px
    }
a[href|="/d24"], a[href|="/rd24"], a[href|="/st24"], a[href|="/rst24"] {
    background-position: -140px -280px
    }
a[href|="/d25"], a[href|="/rd25"], a[href|="/st25"], a[href|="/rst25"] {
    background-position: -140px -350px
    }
a[href|="/d26"], a[href|="/rd26"], a[href|="/st26"], a[href|="/rst26"] {
    background-position: -140px -420px
    }
a[href|="/d27"], a[href|="/rd27"], a[href|="/st27"], a[href|="/rst27"] {
    background-position: -140px -490px
    }
a[href|="/d28"], a[href|="/rd28"], a[href|="/st28"], a[href|="/rst28"] {
    background-position: -140px -560px
    }
a[href|="/d29"], a[href|="/rd29"], a[href|="/st29"], a[href|="/rst29"] {
    background-position: -140px -630px
    }
a[href|="/sp"] {
    display: inline-block;
    padding-right: 100%
    }
/* ---------- Background ---------- */
body, body.res-nightmode:first-of-type {
    background: url(http://b.thumbs.redditmedia.com/bIWiKLZ4zjEPvmM1.png) no-repeat fixed center bottom transparent !important
    }
/* background: url(%%fluttershy-transmore%%) no-repeat fixed center center */
/* RES nightmode fixes */
.content #siteTable div[onclick="click_thing(this)"] {
    background-color: transparent !important
    }
body.res-nightmode:first-of-type > .content {
    background-color: transparent !important
    }
body.res-nightmode:first-of-type {
    background-color: transparent !important
    }
/* ---------- Banner ---------- */
/*#header {
    background: url(%%1000kbanner%%) repeat bottom left;
    border-bottom: 0px solid white
    }*/
#header-bottom-left {
    background: url(http://d.thumbs.redditmedia.com/HtFdgeDZ3zgIWCeW.png) repeat;
    height: 124px
    }
/* Moves navigation tabs to the top */
/*#header-img {
    margin-top: 25px;
    margin-left: 5px;
    position: absolute
    }*/
/* ---------- Trees Theme ---------- */
.side .md ol li a, .tabmenu li a, .tabmenu li.selected a, .pagename a, #header, #header-bottom-right, .linkinfo, #newlink li.selected a {
    background-color: #edf2c9;
    border: 1px solid #82a200;
    color: #82a200;
    /*  text-transform: lowercase !important;
        text-decoration: none */
    border-radius: 4px !important;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px
    }
.tabmenu li.selected a {
    border-bottom: 1px solid #82a200 !important
    }
/* A few places that only want the color */
#header-bottom-right a, #header-bottom-right b, #sr-bar .separator, #sr-bar a, #sr-header-area .selected a, #sr-more-link, #sr-header-area a, .content > h1 {
    color: #82a200 !important
    }
/* remove subreddit bar border */
#sr-header-area {
    border: none !important
    }
/* hover style for header tabs */
.side .md ol li a:hover, .tabmenu li a:hover, .pagename a:hover, #newlink li.selected a:hover {
    background-color: #FFFFC2;
    color: red;
    text-decoration: none
    }
/* curved borders for tabs */
.tabmenu li a, .pagename a {
    /*   border-top-left-radius: 5px;
        border-top-right-radius: 5px */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
    }
/* style for selected tab */
.tabmenu li.selected a {
    background-color: #fffeef !important;
    border-bottom: 1px solid #fffeef;
    color: orangered;
    text-decoration: none
    }
/* pagename style */
.pagename a {
    padding: 0 6px 0 6px
    }
/*.pagename a:before {
    content: "/r/"
    }*/
/* ##Top Announcement Links */
/* move content down */
/*.content {
    margin-top: 35px
    }*/
.new-comment .usertext-body {
    background-color: #edf2c9;
    border: solid 1px #82a200;
    margin: -1px 0
    }
/* ---------- Sidebar Image ---------- */
.side {
    padding-top: 126px;
    background-image: url(http://f.thumbs.redditmedia.com/lyW1sgFAqkxfEY-e.png);
    background-repeat: no-repeat;
    background-position: 0px 5px
    }
/* ---------- Searchbar Spike (http://fav.me/d4652ia) ---------- */
#search input[type="text"] {
    background: url(http://c.thumbs.redditmedia.com/cikyCFUvBxLFM-mn.png) top left no-repeat;
    background-position: -0px -170px;
    padding: 13px 2px 13px 50px;
    height: 22px !important;
    width: 245px
    }
/* ---------- Hide "Created by..." while keeping "a community for..." in the sidebar ---------- */
.titlebox .bottom {
    font-size: 0px
    }
.age {
    font-size: 11px !important
    }
/* ---------- Hide emoticon tables in the sidebar until d00 is hovered over ---------- */
.titlebox em {
    color: white
    }
.titlebox table {
    display: none;
    clear: both
    }
div.usertext-body:hover table {
    display: block;
    clear: both
    }
/* ---------- Flair ---------- */
.flair {
    color: black;
    display: inline-block;
    border: 0;
    border-radius: 0;
    background: transparent
    }
.flair:before {
    content: "";
    background-image: url(http://f.thumbs.redditmedia.com/ABjR8ZSw39kSXFAS.png);
    display: inline-block;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat
    }
.usertext:before {
    margin-top: 2px !important
    }
.flair-potleaf:before {
    background-position: 0 0px
    }
.flair-fsbong:before {
    background-position: -23px 0px
    }
.flair-potleaf2:before {
    background-position: 0px -23px
    }
.flair-pineapple:before {
    background-position: -23px -23px
    }
.flair-joint:before {
    background-position: 0px -46px
    }
.flair-text:before {
    /*    background-image: url(%%1pxtest%%) !important;*/
    display: inline-block !important;
    margin-right: .5em !important;
    padding: 0 2px !important;
    background: #f5f5f5 !important;
    color: #555 !important;
    border: 1px solid #ddd !important;
    border-radius: 2px !important;
    width: auto !important;
    height: auto !important
    }
.flair-mav:before {
    width: 30px !important;
    height: 28px !important;
    background-position: -46px -0px
    }
.flair-dru:before {
    width: 20px !important;
    height: 20px !important;
    background-position: -46px -28px
    }
.res-nightmode .flair {
    background-color: transparent !important
    }
/* ---------- Replace reddit alien thumbnails with fabricant's Karma versions ---------- */
.thumbnail.self, .thumbnail.nsfw, .thumbnail.default {
    background-image: url(http://c.thumbs.redditmedia.com/cikyCFUvBxLFM-mn.png) !important
    }
.thumbnail.self {
    background-position: 0px -120px !important
    }
.thumbnail.nsfw {
    background-position: 0px 0px !important
    }
.thumbnail.default {
    background-position: 0px -70px !important
    }
/* ---------- Make the "community settings" description box bigger  ---------- */
.fancy-settings .linefield {
    width: 622px
    }
.fancy-settings textarea {
    width: 600px;
    height: 500px
    }
/* ---------- Make the CSS text box bigger ---------- */
.stylesheet-customize-container textarea {
    height: 600px
    }
/* ---------- Footer image ---------- */
div.footer-parent:before {
    content: url(http://d.thumbs.redditmedia.com/P8eBmSGe7M_e24Ji.png);
    margin-bottom: -35px
    }
/* ---------- Footer pony ----------- */
/*div.content:after {
    content: url(%%flyingluna%%);
   margin: 25%;
    }*/
/* ---------- Announcement box at the top. ---------- */
/* Uncomment to activate. To edit the text, put the following at the bottom of the sidebar: "1. TEXT HERE" */
.content {
    margin-top: 55px
    }
.pagename {
    font-size: 12pt
    }
.titlebox form {
    position: static
    }
.titlebox .usertext-body .md ol {
    width: auto;
    background: url(http://thumbs.reddit.com/t5_2sjvj_29.png) no-repeat scroll 3px 2px #F8FACC;
    border: 1px solid #E6EB9D;
    position: absolute;
    top: 135px;
    left: 20px;
    z-index: 50;
    margin: 15px 310px 0 0;
    padding: 18px 10px 3px 45px;
    list-style: none;
    display: block;
    white-space: normal;
    overflow: hidden;
    border-radius: 10px
    }
.titlebox .usertext-body .md ol li {
    margin: 3px
    }
/* ---------- Shit we're not using ---------- */
/* Animated PNG emote */
/*a[href="/flutterhighapng"] {
    width: 100px;
    height: 100px;
    background-image: url(%%flutterhighANIMTEDPNGHOLYSHIT%%);
    display: block;
    clear: none;
    float: left;
    margin-left: 3px;
    margin-right: 3px
    }
*/
/* Animated Hover logo */
/*#header-img {
    background: url(%%FlutterhighSpritesheet%%) no-repeat;
    width: 0;
    height: 0;
    padding-left: 70px;
    padding-bottom: 85px
    }
#header-img:hover {
    background-position: -70px -0px
    }
*/
/*EMERGENCY STALL
.titlebox .number, .titlebox .word {  
display: none;  
}  
.titlebox .fancy-toggle-button.toggle:after {  
content: " 1,000 Stonies";  
} */
/*End Emergency Stall*/
/* Another one bites the dust is an awesome song, [8] - RVPC */
/* Wow, i dont remember doing that. Yeah it is an awesome song [0] - RVPC */
/* O_O - RVPC */