div.titlebox span.word {
    display: none
    }
div.titlebox span.number:after {
    content: " Molest-ees"
    }
a.author[href$="Princess_Molestia_"] {
    font-size: 0 !important;
    overflow: hidden;
    display: inline-block
    }
/* Replacing somebody's name? Add it to the list here too. */
a.author[href$="Princess_Molestia_"]:before {
    font-size: 10px !important;
    visibility: visible !important
    }
a.author[href$="Princess_Molestia_"]:before {
    content: "Princess Molestia"
    }
/* Changes background */
body:first-of-type, body.res-nightmode:first-of-type {
    background: url(http://c.thumbs.redditmedia.com/EtNjJdoCWrfAoC42.png) no-repeat fixed 60% 100% !important
    }
/* Nightmode fixes for the background */
.content #siteTable div[onclick="click_thing(this)"] {
    background-color: transparent !important
    }
body.res-nightmode:first-of-type > .content {
    background-color: transparent !important
    }
body.res-nightmode:first-of-type {
    background-color: transparent !important
    }
/* Adding after-text to somebody's name? Add them here. */
a.author[href$=Princess_Molestia_]:after {
    color: #000;
    font-size: 10px !important;
    letter-spacing: normal
    }
/* After-name text goes here. */
a.author[href$=Princess_Molestia_]:after {
    content: " (Princess of the Subreddit)"
    }
a[href|="/molestia1"] {
    display: block;
    clear: none;
    float: left;
    width: 225px;
    height: 224px;
    background-image: url(http://d.thumbs.redditmedia.com/AI6RdAEdSk-ExxuQ.png) !important
    }
a[href|="/molestia1"] {
    background-position: -184px 0
    }
a[href|="/gamerluna"] {
    display: block;
    clear: none;
    float: left;
    width: 100px;
    height: 100px;
    background-image: url(http://b.thumbs.redditmedia.com/wcoAHeGeHRpWE9Ws.png) !important
    }
a[href|="/molestia2"] {
    display: block;
    clear: none;
    float: left;
    width: 184px;
    height: 148px;
    background-image: url(http://a.thumbs.redditmedia.com/q_OM-JAMRgVatekx.png) !important
    }
a[href|="/molestiarun"] {
    display: block;
    clear: none;
    float: left;
    width: 428px;
    height: 300px;
    background-image: url(http://a.thumbs.redditmedia.com/KPYaeED8KMvIuvOH.png) !important
    }
a[href|="/motherofmolestia"] {
    display: block;
    clear: none;
    float: left;
    width: 426px;
    height: 340px;
    background-image: url(http://f.thumbs.redditmedia.com/_aq8EnKE-eQmE505.png) !important
    }
a[href|="/trollestia1"] {
    display: block;
    clear: none;
    float: left;
    width: 234px;
    height: 216px;
    background-image: url(http://d.thumbs.redditmedia.com/In-hOBhCc95RZFh-.png) !important
    }