/* 
+
|                  VERSION 1.5.1
|
|         STYLESHEET FOR R/VINYLSCRATCH         
|        MOSTLY BY KOOBAXION AND 007GHG7        
|ALSO SOME CREDIT GOES TO RAHLYN AND MRJOKER7854
|              RAHLYN IS THE FLAIR GOD
|                      ***                      
|  THANKS TO R/ELECTROHOUSE, R/ANDROID, AND ALL 
|THE OTHER SUBREDDITS I STOLE, I MEAN BORROWED  
|CSS FROM.                                      
|                                               
|               !!! REMINDER !!!                
|                                               
|PLEASE USE THE CHANGELOG IF YOU CHANGE ANYTHING
|,MARK LARGE CHANGES WITH A .1 INCREASE AND     
|SMALLER ONES WITH SMALLER INCREASES. KOOBAXION 
|WILL GO ALL MEDIEVAL ON YO' BEHIND IF YOU DON'T
+
|SECTION 1: PAGE STYLE CHANGES                  
|  |                                            
|  +-A: HEADER ETC.                             
|  | |                                          
|  | +- i  : HEADER                             
|  | +- ii : BOTTOM RIGHT                       
|  | +- iii: BOTTOM LEFT                        
|  | +- iv : IMG                                
|  | +- v  : PAGE NAME                          
|  | +- vi : TAB MENU                           
|  | +- vii: REDDIT NAME                        
|  |                                            
|  +-B: ANNOUNCEMENT BOX                        
|  |                                           
|  +-C: SEARCHBAR IMAGE                         
|  |                                            
|  +-D: SPOILER CODE                            
|  |                                            
|  +-E: CHANGE "SUBSCRIBERS"                    
|  |                                            
|  +-F: CHANGE "MODERATORS"    
|  |
|  +-G: CHANGE NAMES              
|  |                                            
|  +-H: CUSTOM ARROWS                           
|  |                                            
|  +-I: FOOTER
|  |
|  +-J: GREY ODD LINK BACKGROUNDS
|  |
|  +-K: RES CHANGES
|                                       
|SECTION 2: FLAIRS                             
|  |                                            
|  +-A: FLAIR                                   
|    |                                          
|    +- i  : RES NIGHTMODE FLAIR FIX            
|    +- ii : VINYL                             
|    +- iii: AWESOME                           
|    +- iv : SCRATCHIE                         
|    +- v  : MARINE     
|    +- vi : TWEET
|    +- vii : GLASSES
|    +- viii : BROKEN RECORD   
|    +- ix : DOLL
|    +- x : FILLY
|    +- xi : GRAFFITI
|    +- xii : HEADPHONES
|    +- xiii : HUGGING RECORD
|    +- xiv : HUGGING TAIL
|    +- xv : LAYING
|    +- xvi : NERDY
|    +- xvii : PARASPRITE
|    +- xviii : SHRUG
|    +- xix : SOCKS
|    +- xx : SOCKS SMILE
|    +- xxi : STARE
|    +- xxii : SWEATER DIRTY
|    +- xxiii : TALL VINYL
|    +- xxiv : TAVISCRATCH
|    +- xxv : WATCH
|    +- xxvi : WUT                    
|                                               
|SECTION 3: EMOTES                              
|  |                                            
|  +-A: EMOTES                                  
|    |
|    +- i  : vinylscratch emotes
|    +- ii : other emotes    
|                                       
|SECTION 4: OTHER STUFF                         
|  |                                            
|  +-A: APPROVAL TWILIGHT                       
|                      					
|SECTION 5: CHANGELOG                           
|                                               
|                                               
+
*/
/* 1: PAGE STYLE CHANGES*/
/* A: HEADER ETC.*/
/* i: HEADER */
#header {
    background-image: url(http://d.thumbs.redditmedia.com/3UU6y0iEfMn8V5Ko.png);
    border-bottom: 1px solid #000000;
    height: 144px;
    z-index: 0;
    -moz-box-shadow: 0px 0px 10px #888;
    -webkit-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
    margin: 0px;
    padding: 0;
    border-bottom: none;
    width: 100%
    }
/* ii: BOTTOM RIGHT */
#header-bottom-right {
    background-color: black;
    -moz-border-radius-topleft: 7px;
    -webkit-border-top-left-radius: 7px
    }
#header-bottom-right a {
    color: white
    }
#header-bottom-right .separator {
    color: gray
    }
/* iii: BOTTOM LEFT */
#header-bottom-left {
    height: 77px;
    z-index: -1;
    font-size: larger;
    position: absolute;
    bottom: 0px
    }
/* iv: IMG */
img#header-img {
    left: 10px;
    margin-bottom: -4px !important;
    z-index: -1
    }
/* v: PAGE NAME */
.pagename a {
    font-size: 20px;
    position: inherit;
    text-indent: 0px
    }
/* vi: TAB MENU */
.tabmenu li.selected a {
    color: #0f32ed;
    border: 1px solid #000000;
    border-bottom: 1px solid white;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px
    }
.tabmenu li a {
    color: black;
    background-color: #ededed;
    border: 1px solid black;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-top-left-radius: 0px
    }
/* vii: REDDIT NAME */
.redditname {
    text-shadow: 0 0 0.7em #fff, 0 0 0.7em #fff, 0 0 0.7em #fff
    }
.redditname a:hover {
    text-shadow: 0 0 0.9em #fff, 0 0 0.9em #fff, 0 0 0.9em #fff, 0 0 0.9em #fff
    }
/* B: ANNOUNCEMENT BOX */
.titlebox .usertext-body .md h6 {
    display: block;
    position: absolute;
    top: 145px;
    left: 20px;
    content: "Info about the new flair system";
    background-color: #F2F2F2;
    background-image: url(http://f.thumbs.redditmedia.com/qvZfSAMs42KQIfgS.png);
    background-repeat: no-repeat;
    background-position: -140px -13px;
    font-family: verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #555555;
    text-align: left;
    padding: 13px 5px 13px 75px;
    margin: 15px;
    margin-left: 4px;
    border-radius: 8px
    }
/* Allow absolute positioning to page */
.titlebox form {
    position: static
    }
/* Inactive link */
.titlebox .usertext-body .md h6 a, .titlebox .usertext-body .md h6 a:link, .titlebox .usertext-body .md h6 a:visited {
    color: #555555
    }
/* Link on hover */
.titlebox .usertext-body .md h6 a:hover {
    color: #666666
    }
/* Catches all <a> */
.titlebox .usertext-body .md h6 a:before {
    content: "ANNOUNCEMENT";
    color: firebrick;
    border-right: 1px solid #444;
    padding-right: .6em;
    margin-right: .6em
    }
/* Increasing margin after header-area, necessary for comments page */
body > .content {
    margin-top: 35px;
    padding-top: 36px
    }
/* c: SEARCHBAR IMAGE */
#search input[type="text"] {
    background: url(http://f.thumbs.redditmedia.com/lboA-EQXD9Jy1olA.png) top left no-repeat;
    padding: 13px 2px 13px 50px;
    height: 22px !important;
    width: 245px
    }
/* D: SPOILER CODE */
a[href="/spoiler"] {
    background: black !important;
    color: black !important
    }
a[href="/spoiler"]:hover {
    color: white !important
    }
/* E: CHANGE "SUBSCRIBERS" */
div.titlebox span.word {
    display: none
    }
div.titlebox span.number:after {
    content: " Wubscribers"
    }
/* F: CHANGE "MODERATORS" */
.sidecontentbox h1 {
    text-align: left
    }
.sidecontentbox h1:not(:first-child) {
    color: white !important;
    font-size: 1px !important;
    display: inline-block
    }
.sidecontentbox h1:not(:first-child):before {
    color: gray !important;
    font-size: 13px !important;
    content: "HEAD DJS";
    display: inline-block
    }
/* G: Fixing Names*/
/* fixing RVPC's name */
a.author[href$="/RetardVomitPussyCunt"] {
    font-size: 0px !important;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
    letter-spacing: -20px
    }
a.author[href$="/RetardVomitPussyCunt"]:after {
    content: "RemixVinylBassCrossfade";
    font-size: 10px !important;
    visibility: visible !important;
    display: block;
    letter-spacing: normal
    }
/* H: CUSTOM ARROWS */
.arrow.up {
    background-image: url(http://c.thumbs.redditmedia.com/IpoB54qsX4GeOFnJ.png);
    background-position: 0 0;
    z-index: 999
    }
.arrow.down {
    background-image: url(http://a.thumbs.redditmedia.com/a3Y4N8xTCsxTZwFZ.png);
    background-position: 0 0
    }
.arrow.upmod {
    background-image: url(http://f.thumbs.redditmedia.com/j4mHRTgCjjnStlnM.png);
    background-position: 0 0;
    z-index: 999
    }
.arrow.downmod {
    background-image: url(http://d.thumbs.redditmedia.com/iMq1YTqOnJysLbJo.png);
    background-position: 0 0
    }
/* I: FOOTER*/
.footer-parent {
    height: 343px;
    padding-top: 80px;
    padding-bottom: 40px;
    clear: both;
    background-image: url(http://e.thumbs.redditmedia.com/7eHpTSlFhW0Vr34v.png);
    text-align: center;
    width: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    margin-bottom: -1px
    }
/* J: GREY ODD LINK BACKGROUNDS */
.link.odd {
    background: #f8f8f8;
    border-radius: 10px;
    border: 1px solid #E6E6E6
    }
/* K: RES CHANGES */
/*Remove RES tag from modbox*/
.sidecontentbox .userTagLink {
    display: none !important
    }
/*------------***------------*/
/* 2: FLAIRS */
/* A: FLAIR */
.flair {
    font-size: x-small;
    border-radius: 10px;
    border: 1px solid #E6E6E6
    }
.flair-vinyl {
    padding: 1px 4px 1px 4px !important
    }
.flair-awesome {
    padding: 1px 4px 1px 4px !important
    }
.flair-scratchie {
    padding: 1px 4px 1px 4px !important
    }
.flair-marine {
    padding: 1px 4px 1px 4px !important
    }
.flair-twp {
    padding: 1px 4px 1px 4px !important
    }
.flair-glasses {
    padding: 1px 4px 1px 4px !important
    }
.flair-brokenrecord {
    padding: 1px 4px 1px 4px !important
    }
.flair-doll {
    padding: 1px 4px 1px 4px !important
    }
.flair-filly {
    padding: 1px 4px 1px 4px !important
    }
.flair-graffiti {
    padding: 1px 4px 1px 4px !important
    }
.flair-headphones {
    padding: 1px 4px 1px 4px !important
    }
.flair-huggingrecord {
    padding: 1px 4px 1px 4px !important
    }
.flair-huggingtail {
    padding: 1px 4px 1px 4px !important
    }
.flair-laying {
    padding: 1px 4px 1px 4px !important
    }
.flair-nerdy {
    padding: 1px 4px 1px 4px !important
    }
.flair-parasprite {
    padding: 1px 4px 1px 4px !important
    }
.flair-shrug {
    padding: 1px 4px 1px 4px !important
    }
.flair-socks {
    padding: 1px 4px 1px 4px !important
    }
.flair-sockssmile {
    padding: 1px 4px 1px 4px !important
    }
.flair-stare {
    padding: 1px 4px 1px 4px !important
    }
.flair-sweaterdirty {
    padding: 1px 4px 1px 4px !important
    }
.flair-tallvinyl {
    padding: 1px 4px 1px 4px !important
    }
.flair-taviscratch {
    padding: 1px 4px 1px 4px !important
    }
.flair-watch {
    padding: 1px 4px 1px 4px !important
    }
.flair-wut {
    padding: 1px 4px 1px 4px !important
    }
/* i  : RES NIGHTMODE FLAIR FIX */
.res-nightmode .content .flair {
    background-color: transparent !important
    }
/* ii : VINYL*/
.flair-vinyl:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://d.thumbs.redditmedia.com/VxpK_IZnPwIg833c.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* iii: AWESOME*/
.flair-awesome:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://b.thumbs.redditmedia.com/IoQLkJlQWWEP9d0m.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* iv : SCRATCHIE*/
.flair-scratchie:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://c.thumbs.redditmedia.com/AFFnXwu6smOpeGlD.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* v  : MARINE*/
.flair-marine:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://a.thumbs.redditmedia.com/4WCHnbUhlYQQSOuH.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* vi  : TWEET*/
.flair-twp:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://f.thumbs.redditmedia.com/EYEEDdzjxi3pi7-k.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* vii  : GLASSES*/
.flair-djabe:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://d.thumbs.redditmedia.com/HSmeBr0xhLj6FwPE.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* viii  : BROKEN RECORD*/
.flair-brokenrecord:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://d.thumbs.redditmedia.com/o00cL9mnWA9Cwlv-.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* ix  : DOLL*/
.flair-doll:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://b.thumbs.redditmedia.com/xeyhcfOZJvEtpXsO.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* x  : FILLY*/
.flair-filly:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://f.thumbs.redditmedia.com/7hYJpf0Ked47VZRq.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* xi  : GRAFFITI*/
.flair-graffiti:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://d.thumbs.redditmedia.com/p_OTYHRMl3GRB92u.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* xii  : HEADPHONES*/
.flair-headphones:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://c.thumbs.redditmedia.com/HznAjVXHSSU_K3TP.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* xiii  : HUGGING RECORD*/
.flair-huggingrecord:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://a.thumbs.redditmedia.com/Xb96sHrPkJeUJhxl.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* xiv  : HUGGING TAIL*/
.flair-huggingtail:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://b.thumbs.redditmedia.com/UpjXcHuOCdhXKLRs.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* xv  : LAYING*/
.flair-laying:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://e.thumbs.redditmedia.com/PnlIHzg-3L8hZOKF.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* xvi  : NERDY*/
.flair-nerdy:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://d.thumbs.redditmedia.com/-WJDd8C6K6echG3E.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* xvii  : PARASPRITE*/
.flair-parasprite:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://e.thumbs.redditmedia.com/n1RvBo9AAKHVUGNp.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* xviii  : SHRUG*/
.flair-shrug:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://e.thumbs.redditmedia.com/b5wWG0k2TIzw5kFL.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* xix  : SOCKS*/
.flair-socks:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://a.thumbs.redditmedia.com/ria7n3ZqrIOLC9mr.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* xx  : SOCKS SMILE*/
.flair-sockssmile:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://d.thumbs.redditmedia.com/p5fP3oOKJB3zcQgo.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* xxi  : STARE*/
.flair-stare:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://b.thumbs.redditmedia.com/A0Osb_RcQx7ClWQa.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* xxii  : SWEATER DIRTY*/
.flair-sweaterdirty:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://a.thumbs.redditmedia.com/sWTL1DvL6yOh8P2l.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* xxiii  : TALL VINYL*/
.flair-tallvinyl:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://f.thumbs.redditmedia.com/oEUcYah8Euvy5bFS.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* xxiv  : TAVISCRATCH*/
.flair-taviscratch:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://b.thumbs.redditmedia.com/_y_6z_GbXEQeRGZm.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* xxv  : WATCH*/
.flair-watch:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://d.thumbs.redditmedia.com/Nq_aArQpxMuFc8Oi.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* xxvi  : WUT*/
.flair-wut:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(http://f.thumbs.redditmedia.com/ZYjBXqAs-rC3xsuw.png);
    background-position: -0px -0px;
    vertical-align: middle;
    margin-right: 2px
    }
/* 3: EMOTES */
/* Don't modify the start and stop tags please. -koobaxion */
/*vs_start*/
a[href="/vsyoudontsay"], a[href="/vsyds"], a[href="/vsf"], a[href="/vsfilly"], a[href="/vswtf"], a[href="/vswhatthefuck"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://f.thumbs.redditmedia.com/48dqKntrMUv99RoA.png) !important
    }
a[href="/vsyds"], a[href="/vsyoudontsay"] {
    background-position: -0px -0px
    }
a[href="/vswtf"], a[href="/vswhatthefuck"] {
    background-position: 70px -0px
    }
a[href="/vsf"], a[href="/vsfilly"] {
    background-position: 140px -0px
    }
a[href="/vs01"], a[href="/vs02"], a[href="/vsderp"], a[href="/vsdeal"], a[href="/vs03"], a[href="/vshey"], a[href="/rvs03"], a[href="/vs11"], a[href="/vslying"], a[href="/rvs11"], a[href="/vs12"], a[href="/vstear"], a[href="/rvs12"], a[href="/vs13"], a[href="/vscurious"], a[href="/rvs13"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://d.thumbs.redditmedia.com/6IUb7mOhEqfbFO1i.png) !important
    }
a[href="/vs01"], a[href="/vsdeal"] a[href="/rvs01"] {
    background-position: -0px -0px
    }
a[href="/vs02"], a[href="/vsderp"], a[href="/rvs02"] {
    background-position: -70px -0px
    }
a[href="/vs03"], a[href="/vslying"], a[href="/rvs03"] {
    background-position: -0px 70px
    }
a[href="/vs11"], a[href="/vstear"], a[href="/rvs11"] {
    background-position: -70px 70px
    }
a[href="/vs12"], a[href="/vs13"], a[href="/vshey"], a[href="/vscurious"], a[href="/rvs12"], a[href="/rvs13"], a[href="/vs21"], a[href="/rvs21"], a[href="/vsmeh"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://f.thumbs.redditmedia.com/qvZfSAMs42KQIfgS.png) !important
    }
a[href="/vs12"], a[href="/vshey"], a[href="/rvs12"] {
    background-position: -0px -0px
    }
a[href="/vs13"], a[href="/vscurious"], a[href="/rvs13"] {
    background-position: -70px -0px
    }
a[href="/vs21"], a[href="/rvs21"], a[href="/vsmeh"] {
    background-position: -140px -0px
    }
a[href="/vs00"], a[href="/vs10"], a[href="/vs20"], a[href="/vs22"], a[href="/vs04"], a[href="/vs23"], a[href="/vsohyou"], a[href="/vssad"], a[href="/vshair"], a[href="/vswink"], a[href="/vshooves"], a[href="/vsjuice"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://b.thumbs.redditmedia.com/Vy09d72RyD7kbbiU.png) !important
    }
a[href="/vs00"], a[href="/vsohyou"] {
    background-position: -0px -0px
    }
a[href="/vs20"], a[href="/vshair"] {
    background-position: 70px -0px
    }
a[href="/vs10"], a[href="/vssad"] {
    background-position: 140px -0px
    }
a[href="/vs22"], a[href="/vswink"] {
    background-position: 210px -70px
    }
a[href="/vs04"], a[href="/vshooves"] {
    background-position: 140px -70px
    }
a[href="/vs23"], a[href="/vsjuice"] {
    background-position: 70px -70px
    }
a[href="/vs14"], a[href="/vs24"], a[href="/vs05"], a[href="/vs15"], a[href="/vs25"], a[href="/vs06"], a[href="/vs16"], a[href="/vs26"], a[href="/vs07"] a[href="/vshappy"], a[href="/vssup"], a[href="/vslook"], a[href="/vsbass"], a[href="/vsmine"], a[href="/vsomg"], a[href="/vsoooo"], a[href="/vsnope"], a[href="/vsmog"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://e.thumbs.redditmedia.com/4j0qikWgIxeJspbF.png) !important
    }
a[href="/vs14"], a[href="/vshappy"] {
    background-position: -0px -0px
    }
a[href="/vs24"], a[href="/vssup"] {
    background-position: 70px -0px
    }
a[href="/vs05"], a[href="/vslook"] {
    background-position: 140px -0px
    }
a[href="/vs15"], a[href="/vsbass"] {
    background-position: 210px -70px
    }
a[href="/vs25"], a[href="/vsmine"] {
    background-position: 140px -70px
    }
a[href="/vs06"], a[href="/vsomg"] {
    background-position: 70px -70px
    }
a[href="/vs16"], a[href="/vsoooo"] {
    background-position: 210px -140px
    }
a[href="/vs26"], a[href="/vsnope"] {
    background-position: 140px -140px
    }
a[href="/vs07"], a[href="/vsmog"] {
    background-position: 70px -140px
    }
/*vs_end*/
/* Other Emotes*/
a[href="/vshnngg"], a[href="/hnnng"] {
    display: block;
    clear: none;
    float: left;
    width: 70px;
    height: 70px;
    background-image: url(http://d.thumbs.redditmedia.com/00T3gLdOawm80o--.png) !important
    }
a[href="/vshnnng"], a[href="/hnnng"] {
    background-position: -0px -0px
    }
a[href="/vsshrug"], a[href="/shrug"] {
    display: block;
    clear: none;
    float: left;
    width: 300px;
    height: 300px;
    background-image: url(http://c.thumbs.redditmedia.com/XOs3xf6RINSK7sPt.png) !important
    }
a[href="/vsshrug"], a[href="/shrug"] {
    background-position: -0px -0px
    }
a[href="/vstableflip"], a[href="/tableflip"] {
    display: block;
    clear: none;
    float: left;
    width: 400px;
    height: 291px;
    background-image: url(http://a.thumbs.redditmedia.com/TMFvsdV9zMTRLQyH.png) !important
    }
a[href="/vstableflip"], a[href="/tableflip"] {
    background-position: -0px -0px
    }
a[href="/vslaying"], a[href="/laying"] {
    display: block;
    clear: none;
    float: left;
    width: 200px;
    height: 164px;
    background-image: url(http://f.thumbs.redditmedia.com/a2SG_AiO-Mojc5E5.png) !important
    }
a[href="/vslaying"], a[href="/laying"] {
    background-position: -0px -0px
    }
/* 4: OTHER THINGS*/
/* A: APPROVAL TWILIGHT*/
.approval-checkmark {
    height: 0px;
    padding: 7.5px 7.5px;
    background: url(http://d.thumbs.redditmedia.com/rbp3T_8-d-rzlyeu.png);
    background-position: center bottom;
    background-repeat: no-repeat
    }
/* B: NSFW CHANGES*/
.nsfw-stamp acronym {
    display: inline-block;
    font-size: 0px !important;
    letter-spacing: 0px;
    overflow: hidden;
    vertical-align: bottom;
    margin-bottom: -1px
    }
.nsfw-stamp acronym:after {
    content: "HORSE PORN" !important;
    display: block;
    font-size: x-small !important;
    text-decoration: none;
    visibility: visible !important
    }
/* 5: CHANGELOG 

version 1.0

[koobaxion]
	> Changed almost everything to make it super awesome
        
version 1.01
[koobaxion]
        > Deleted background image
        > Added footer image
        > Colored alternate link backgrounds grey

version 1.1
[007ghg7]
	> Changed RVPC's name to RemixVinylBassCrossfade

version 1.2
[007ghg7]
	> added new emotes

version 1.3
[007ghg7]
	> added a flair for tweet_poster

version 1.3.1
[007ghg7]
	> added a flair for DJabelincoln

version 1.3.2
[007ghg7]
	> added hnnng emote

version 1.4
[koobaxion]
        > added thingy on banner

version 1.4.1
[koobaxion]
        > made NSFW different

version 1.5
[Rahlyn]
        > added flairs for sub members

version 1.5.1
[Rahlyn]
        > added shrug, tableflip and laying emotes - not added to table because I tend to break it

*/