/*
 * r/mylittlecombiners special support. Stolen directly from their stylesheet
 * and edited to suit BPM.
 *
 * This file contains only the more NSFW additions. Though the subtleties of
 * what counts as "NSFW" wrt these things could fill an essay, for now, my
 * involvement ends with splitting this file.
 *
 * Note: Several places in the original CSS use a[href*="mount-combine"] as
 * a shorthand to match all /*mount-combine emotes. This causes problems when
 * trying to disable r/mylittlecombiners, since they remain active and cause
 * problems.
 *
 * Though I expanded most of those out, this is a rather lousy solution, and
 * the pinkiepipes ones remain as they were for sake of not making this file
 * explode.
 */

/* NSFW */
/* jizz */
.bpmote-jizz.bpflag-combine {
    z-index: 2;
    position: relative
    }
.bpmote-jizz.bpflag-combine + a {
    z-index: 1;
    position: relative;
    left: -110px;
    top: -5px;
    margin-right: 0px;
    margin-bottom: 0px
    }
/* malefuns */
/* general */
.bpmote-bmmount.bpflag-combine, .bpmote-fpmount.bpflag-combine,
.bpmote-fpnmount.bpflag-combine, .bpmote-giomount.bpflag-combine,
.bpmote-soarinmount.bpflag-combine, .bpmote-stmount.bpflag-combine,
.bpmote-whoovesmount.bpflag-combine {
    position: relative;
    background-image: none
    }

.bpmote-bmmount.bpflag-combine:before, .bpmote-fpmount.bpflag-combine:before,
.bpmote-fpnmount.bpflag-combine:before, .bpmote-giomount.bpflag-combine:before,
.bpmote-soarinmount.bpflag-combine:before, .bpmote-stmount.bpflag-combine:before,
.bpmote-whoovesmount.bpflag-combine:before,
.bpmote-bmmount.bpflag-combine:after, .bpmote-fpmount.bpflag-combine:after,
.bpmote-fpnmount.bpflag-combine:after, .bpmote-giomount.bpflag-combine:after,
.bpmote-soarinmount.bpflag-combine:after, .bpmote-stmount.bpflag-combine:after,
.bpmote-whoovesmount.bpflag-combine:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 301px;
    height: 305px
    }

.bpmote-bmmount.bpflag-combine:after, .bpmote-fpmount.bpflag-combine:after,
.bpmote-fpnmount.bpflag-combine:after, .bpmote-giomount.bpflag-combine:after,
.bpmote-soarinmount.bpflag-combine:after, .bpmote-stmount.bpflag-combine:after,
.bpmote-whoovesmount.bpflag-combine:after {
    z-index: 1;
    background-image: url(http://d.thumbs.redditmedia.com/ZvWZGTMatFE1ct23.png)
    }

.bpmote-bmmount.bpflag-combine:before, .bpmote-fpmount.bpflag-combine:before,
.bpmote-fpnmount.bpflag-combine:before, .bpmote-giomount.bpflag-combine:before,
.bpmote-soarinmount.bpflag-combine:before, .bpmote-stmount.bpflag-combine:before,
.bpmote-whoovesmount.bpflag-combine:before {
    z-index: 3;
    background-image: url(http://c.thumbs.redditmedia.com/ABqBucsFHteNCzlz.png)
    }

.bpmote-bmmount.bpflag-combine + a, .bpmote-fpmount.bpflag-combine + a,
.bpmote-fpnmount.bpflag-combine + a, .bpmote-giomount.bpflag-combine + a,
.bpmote-soarinmount.bpflag-combine + a, .bpmote-stmount.bpflag-combine + a,
.bpmote-whoovesmount.bpflag-combine + a {
    z-index: 2;
    position: relative;
    margin-right: -999px;
    margin-bottom: -999px
    left: -207px;
    top: 153px
    }

/* giomac */
.bpmote-giomount.bpflag-combine:before, .bpmote-giomount.bpflag-combine:after {
    background-position: -0px -1830px
    }
/* bigmac */
.bpmote-bmmount.bpflag-combine:before, .bpmote-bmmount.bpflag-combine:after {
    background-position: -0px -1220px
    }
/* fancy */
.bpmote-fpmount.bpflag-combine:before, .bpmote-fpmount.bpflag-combine:after {
    background-position: -0px -1525px
    }
/* soarin */
.bpmote-soarinmount.bpflag-combine:before, .bpmote-soarinmount.bpflag-combine:after {
    background-position: -0px -915px
    }
/* speedi */
.bpmote-stmount.bpflag-combine:before, .bpmote-stmount.bpflag-combine:after {
    background-position: -0px -610px
    }
/* whooves */
.bpmote-whoovesmount.bpflag-combine:before, .bpmote-whoovesmount.bpflag-combine:after {
    background-position: -0px -305px
    }
/* fancynekid */
.bpmote-fpnmount.bpflag-combine:before, .bpmote-fpnmount.bpflag-combine:after {
    background-position: -0px -0px
    }

/* general fix */
.bpmote-bmmount.bpflag-combine + .bpmote-ajfun, .bpmote-fpmount.bpflag-combine + .bpmote-ajfun,
.bpmote-fpnmount.bpflag-combine + .bpmote-ajfun, .bpmote-giomount.bpflag-combine + .bpmote-ajfun,
.bpmote-soarinmount.bpflag-combine + .bpmote-ajfun, .bpmote-stmount.bpflag-combine + .bpmote-ajfun,
.bpmote-whoovesmount.bpflag-combine + .bpmote-ajfun {
    margin-left: 0px
    }

.bpmote-bmmount.bpflag-combine + .bpmote-twifun, .bpmote-fpmount.bpflag-combine + .bpmote-twifun,
.bpmote-fpnmount.bpflag-combine + .bpmote-twifun, .bpmote-giomount.bpflag-combine + .bpmote-twifun,
.bpmote-soarinmount.bpflag-combine + .bpmote-twifun, .bpmote-stmount.bpflag-combine + .bpmote-twifun,
.bpmote-whoovesmount.bpflag-combine + .bpmote-twifun,
.bpmote-bmmount.bpflag-combine + .bpmote-darklefun, .bpmote-fpmount.bpflag-combine + .bpmote-darklefun,
.bpmote-fpnmount.bpflag-combine + .bpmote-darklefun, .bpmote-giomount.bpflag-combine + .bpmote-darklefun,
.bpmote-soarinmount.bpflag-combine + .bpmote-darklefun, .bpmote-stmount.bpflag-combine + .bpmote-darklefun,
.bpmote-whoovesmount.bpflag-combine + .bpmote-darklefun,
.bpmote-bmmount.bpflag-combine + .bpmote-dashfun, .bpmote-fpmount.bpflag-combine + .bpmote-dashfun,
.bpmote-fpnmount.bpflag-combine + .bpmote-dashfun, .bpmote-giomount.bpflag-combine + .bpmote-dashfun,
.bpmote-soarinmount.bpflag-combine + .bpmote-dashfun, .bpmote-stmount.bpflag-combine + .bpmote-dashfun,
.bpmote-whoovesmount.bpflag-combine + .bpmote-dashfun {
    margin-left: -26px
    }

.bpmote-bmmount.bpflag-combine + .bpmote-shyfun, .bpmote-fpmount.bpflag-combine + .bpmote-shyfun,
.bpmote-fpnmount.bpflag-combine + .bpmote-shyfun, .bpmote-giomount.bpflag-combine + .bpmote-shyfun,
.bpmote-soarinmount.bpflag-combine + .bpmote-shyfun, .bpmote-stmount.bpflag-combine + .bpmote-shyfun,
.bpmote-whoovesmount.bpflag-combine + .bpmote-shyfun {
    margin-left: -18px
    }

.bpmote-bmmount.bpflag-combine + .bpmote-rarfun, .bpmote-fpmount.bpflag-combine + .bpmote-rarfun,
.bpmote-fpnmount.bpflag-combine + .bpmote-rarfun, .bpmote-giomount.bpflag-combine + .bpmote-rarfun,
.bpmote-soarinmount.bpflag-combine + .bpmote-rarfun, .bpmote-stmount.bpflag-combine + .bpmote-rarfun,
.bpmote-whoovesmount.bpflag-combine + .bpmote-rarfun {
    margin-left: -34px
    }

.bpmote-bmmount.bpflag-combine + .bpmote-ppfun, .bpmote-fpmount.bpflag-combine + .bpmote-ppfun,
.bpmote-fpnmount.bpflag-combine + .bpmote-ppfun, .bpmote-giomount.bpflag-combine + .bpmote-ppfun,
.bpmote-soarinmount.bpflag-combine + .bpmote-ppfun, .bpmote-stmount.bpflag-combine + .bpmote-ppfun,
.bpmote-whoovesmount.bpflag-combine + .bpmote-ppfun {
    margin-left: -10px
    }

/* BPM NOTE: Similar to bpmotes.css, I have no idea what to do with this */
a[href*="mount-combine"] + a[href^="/pp"].bpflag-combine + a {
    width: 150px;
    position: relative;
    left: -70px;
    top: 135px;
    z-index: 4
    }
