/*
 * r/mylittlecombiners special support. Stolen directly from their stylesheet
 * and edited to suit BPM.
 *
 * This file contains only the more NSFW additions. Though the subtleties of
 * what counts as "NSFW" wrt these things could fill an essay, for now, my
 * involvement ends with splitting this file.
 */

/* NSFW */
/* jizz */
a[href|="/jizz"][href*="-combine"] {
    z-index: 2;
    position: relative
    }
a[href|="/jizz"][href*="-combine"] + a {
    z-index: 1;
    position: relative;
    left: -110px;
    top: -5px;
    margin-right: 0px;
    margin-bottom: 0px
    }
/* malefuns */
/* general */
a[href*="mount-combine"] {
    position: relative;
    background-image: none
    }
a[href*="mount-combine"]:before, a[href*="mount-combine"]:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 301px;
    height: 305px
    }
a[href*="mount-combine"]:after {
    z-index: 1;
    background-image: url(http://d.thumbs.redditmedia.com/ZvWZGTMatFE1ct23.png)
    }
a[href*="mount-combine"]:before {
    z-index: 3;
    background-image: url(http://c.thumbs.redditmedia.com/ABqBucsFHteNCzlz.png)
    }
a[href*="mount-combine"] + a {
    z-index: 2;
    position: relative;
    margin-right: -999px;
    margin-bottom: -999px
    }
a[href*="mount-combine"] + a {
    left: -207px;
    top: 153px
    }
/* giomac */
a[href|="/giomount-combine"]:before, a[href|="/giomount-combine"]:after {
    background-position: -0px -1830px
    }
/* bigmac */
a[href|="/bmmount-combine"]:before, a[href|="/bmmount-combine"]:after {
    background-position: -0px -1220px
    }
/* fancy */
a[href|="/fpmount-combine"]:before, a[href|="/fpmount-combine"]:after {
    background-position: -0px -1525px
    }
/* soarin */
a[href|="/soarinmount-combine"]:before, a[href|="/soarinmount-combine"]:after {
    background-position: -0px -915px
    }
/* speedi */
a[href|="/stmount-combine"]:before, a[href|="/stmount-combine"]:after {
    background-position: -0px -610px
    }
/* whooves */
a[href|="/whoovesmount-combine"]:before, a[href|="/whoovesmount-combine"]:after {
    background-position: -0px -305px
    }
/* fancynekid */
a[href|="/fpnmount-combine"]:before, a[href|="/fpnmount-combine"]:after {
    background-position: -0px -0px
    }
/* general fix */
a[href*="mount-combine"] + a[href^="/ajfun"] {
    margin-left: 0px
    }
a[href*="mount-combine"] + a[href^="/twifun"], a[href*="mount-combine"] + a[href^="/darklefun"], a[href*="mount-combine"] + a[href^="/dashfun"] {
    margin-left: -26px
    }
a[href*="mount-combine"] + a[href^="/shyfun"] {
    margin-left: -18px
    }
a[href*="mount-combine"] + a[href^="/rarfun"] {
    margin-left: -34px
    }
a[href*="mount-combine"] + a[href^="/ppfun"] {
    margin-left: -10px
    }
a[href*="mount-combine"] + a[href^="/pp"][href*="-combine"] + a {
    width: 150px;
    position: relative;
    left: -70px;
    top: 135px;
    z-index: 4
    }
