<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>BetterPonymotes Emote Tagger</title>
  <link href="{{url_for("static", filename="css/bootstrap.css")}}" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span8 offset2">
        <h2>Current Tags</h2>

        <p>
        {% for tag in all_tags %}
        <a href="{{url_for("taginfo", tag=tag)}}"><code>{{tag}}</code></a>
        {% endfor %}

        <h2>Subreddits</h2>

        <ul>
        {% for source_name in sources %}
        <p><a href="{{url_for("tag", source_name=urlquote(source_name))}}">{{source_name}}</a>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
