<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>BetterPonymotes Emote Tagger</title>
  <link href="{{url_for("static", filename="css/bootstrap.css")}}" rel="stylesheet">
  <link href="{{url_for("static", filename="css/tagapp.css")}}" rel="stylesheet">
  {%- for sr in data %}
  <link href="{{url_for("css", subreddit=sr)}}" rel="stylesheet">
  {% endfor -%}
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span8 offset2">
        {% for (sr, emotes) in data.items() %}
        <h4>r/{{sr}}</h4>
          {% for emote in emotes %}
        <div class="row emote">
          <span class="image {{emote.selector()[1:]}}"></span>
          <code class="name">{{emote.name_pair[0]}}</code>
        </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>
