<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>BetterPonymotes Emote Tagger</title>
  <link href="{{url_for("static", filename="css/bootstrap.css")}}" rel="stylesheet">
  <link href="{{url_for("static", filename="css/tagapp.css")}}" rel="stylesheet">
  {%- for subreddit in data %}
  <link href="{{url_for("css", subreddit=subreddit)}}" rel="stylesheet">
  {% endfor -%}
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span8 offset2">
        <h2>Tag info: <strong>{{tag}}</strong></h2>

        <form action="{{url_for("rename_tag", tag=tag)}}" method="post" id="save" class="form-inline">
          <label>Rename this tag:
            <input type="text" name="to"></label>
            <button class="btn" type="submit">Rename</button>
          </label>
        </form>

        <form action="{{url_for("delete_tag", tag=tag)}}" method="post" class="form-inline">
          <label>Delete this tag:
            <button class="btn" type="submit">Delete</button>
          </label>
        </form>

        {% for (subreddit, emotes) in data.items() %}
        <a href="{{url_for("tag", subreddit=subreddit)}}"><h4>r/{{subreddit}}</h4></a>
          {% for emote in emotes %}
        <div class="row emote">
          <span class="image {{emote.base_variant().selector()[1:]}}"></span>
          <code class="name">{{emote.name}}</code>
            {% for tag in g.sorted(emote.tags) -%}
          <span class="listed-emote">{{tag}}</span>
            {% endfor -%}
        </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>
