.emote {
    border-style: solid;
    border-width: 1px;
    border-color: #E1E1E8;
    border-radius: 5px;
    padding: 5px;
    margin: 0px; /* layout fix */
    min-height: 26px;
    margin-bottom: 20px;
}
.image {
    margin-right: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #E1E1E8;
}
.name {
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}
.emote-list-container {
    height: 65px; /* Enough for two rows */
    border-style: solid;
    border-color: red;
    padding: 5px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    margin-bottom: 5px;
    overflow-y: auto;
}
.emote-list-input {
    /* Hide it as best we can */
    background-color: transparent;
    border-color: transparent;
    border-width: 0px;
    border-style: none;
    outline-color: transparent;
    color: black;
    width: 150px;
    font-family: monospace;
}
/* Styled after Derpibooru's tag list thing, with colors from Bootstrap */
.listed-emote {
    padding: 5px;
    background-color: #5BC0DE;
    color: white;
    border-width: 1px;
    border-color: #2F96B4;
    border-style: solid;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
    border-radius: 2px;
}
.listed-emote > a {
    font-weight: bold;
}
.v {
    background-color: #DA4F49;
}
.v > .x {
    color: white;
}
